[2020-11-28 18:00] Keader commented on #4906
fixed, try now pls

[2020-11-28 21:38] Echinaceax opened #4910 "[Spell] Savage Defense - druid bear"
**Links:**
https://wowwiki.fandom.com/wiki/Savage_Defense
http://cata.cavernoftime.com/spell=62606

**What is happening:**
- very low absorb

**What should happen:**
_Patch 4.1.0 (26-Apr-2011):
Savage Defense has been redesigned slightly. Instead of a single charge absorption, it now places an absorption effect on the druid absorbing up to 35% of the druid's attack power (modified by mastery, if a

[2020-11-28 23:27] mfranca0009 commented on #4906
Confirmed working on PTR 👍

[2020-11-29 14:20] Echinaceax commented on #4865
related to low arena rating

![Screenshot_1](https://user-images.githubusercontent.com/39439201/100544514-7c5d5600-3256-11eb-82af-f5ca1d5bff16.jpg)

[2020-11-29 14:21] #4865 closed, assigned to nobody

[2020-11-30 12:30] HrafnValknutt opened #4911 "[NPC] Thalorien Dawnseeker"
**Links:**

https://www.wowhead.com/quest=24563/thalorien-dawnseeker

from WoWHead

**What is happening:**

the remains of Thalorien doesn't give an dialogue option to complete the quest.

**What should happen:**

The remains should give me an option like"examine body"

**Is it crashing the server?:**

No.

[2020-11-30 13:38] HrafnValknutt opened #4912 "Missing NPC at "Purification of Quel'Dalar""
**Links:**
https://www.wowhead.com/quest=24564/the-purification-of-queldelar
from WoWHead

**What is happening:**
Npc missing who can portal you to Sunwell
**What should happen:**
there should be a Npc at the gate of Sunwell Plateu raid who should teleport you to the quest area.
**Is it crashing the server?:**
No.

Like this:

https://www.youtube.com/watch?v=FILdWp5AaaQ

[2020-11-30 14:38] Echinaceax commented on #4912
https://www.wowhead.com/npc=37523/warden-of-the-sunwell

Edit
GM checked and npc missing plus no dialog shown on npc when he checked

[2020-11-30 16:27] Echinaceax commented on #3232
ok reopening this

tested for other reason and saw how it crashed the server

repro

1. Valk was on Freya , I was on Adds
2.  she yelled **His hold on me dissipates. I can see clearly once more. Thank you, heros.** and then Freya went friendly
3. Loot Chest dropped but couldnt loot it (server crashed just before or the looting of the chest crashed server)

chest is reported not lootable here  #324

[2020-11-30 20:05] mfranca0009 opened #4913 "[Spell] Fire Nova Totem - Zul'Aman"
**Links:**
https://www.wowhead.com/spell=43436/fire-nova-totem
https://www.wowhead.com/npc=24320/fire-nova-totem

**What is happening:**
When using the Fire Nova Totem spell, it summons a totem but displays it as a blue/white cube. I've tested further, and adding the NPC itself without the spell shows the proper totem. Possible client bug causing the totem to not display properly when summoned thr

[2020-12-01 00:03] mfranca0009 commented on #4666
This is almost all set, the last thing is the Fire Totem spell needing to be fixed here, #4913.

[2020-12-01 19:15] Echinaceax opened #4914 "."
needs full report

[2020-12-01 22:25] #4914 closed, assigned to Keader

[2020-12-02 09:34] almoghr opened #4915 "[NPC / Mana-Tombs] Yor (Heroic) - Terokkar Forest"
**Links:**

from WoWHead or our Armory

**What is happening:**

in all of the dungeons except sethek halls there are no npcs at all.

**What should happen:**
there should be npcs in those dungeons
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-02 09:35] almoghr opened #4916 "quest - who are they - Terokkar Forest"
**Links:**

from WoWHead or our Armory

**What is happening:**
cant wear any disguuise

**What should happen:**
i need to wear a disguise and there is none
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-02 09:36] almoghr opened #4917 "blast the infernals - quest"
**Links:**

from WoWHead or our Armory

**What is happening:**

i fnished the quest and the question mark above the npc is stil lgray

**What should happen:**
the quest should be completeable
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-02 09:41] almoghr commented on #4917
5 minutes later it became yellow and all works good.

you can delete this issue:)

thanks alot!

[2020-12-02 09:41] #4917 closed, assigned to nobody

[2020-12-02 11:10] Ownedbyimba opened #4918 "[Quest] Into the Raptor's Den - Northern Barrens"
Links:
http://cata.cavernoftime.com/quest=905

What is happening:
- The feathers are knocked out, but when you use them near the nests, the quest does not count

What should happen:
Hunt the Sunscale raptors to the south, where they have built a warren amongst the hills just off of the road. Slay them and remove the feathers they wear. Place the feathers on the sunscale raptor nests to show their

[2020-12-02 14:28] Echinaceax commented on #4918
@Ownedbyimba this is crashing the server when you do this correct ?

i dont see the server crashed recently
**Server Uptime:
1 day 1 hour 12 minutes**

[2020-12-02 15:06] Echinaceax commented on #4915
need list of npc names please @almoghr

[2020-12-02 15:09] Echinaceax commented on #4917
thank you for update @almoghr :)

[2020-12-02 18:43] Ownedbyimba commented on #4918
No no,
the translator worked for me, translated the item "Is this a server error?" The server does not crash.

[2020-12-02 18:43] Blametheheal commented on #4918
Did this one today on a troll priest. No server crash. Feathers don't activate when used on the nests.

[2020-12-02 18:53] Blametheheal opened #4919 "[QUEST] [The Conquest Pit: Mad Ferbolg Fighting] [QUEST = 12428] (issue2) - Grizzly Hills"
https://www.wowhead.com/quest=12428/the-conquest-pit-mad-furbolg-fighting

Whats happening : Furbolg despawns toward the end of the fight, but before quest flags as complete.

What should happen : Furbolg shouldn't despawn until dead and the quest should flag as complete upon his death.

Is it crashing the server?: No

[2020-12-02 21:56] jgilbert201 opened #4920 "[Item] Chalice of the mountain king"
**Links:**

https://www.wowhead.com/item=64373/chalice-of-the-mountain-kings

**What is happening:**

When using the item the spell isn't being cast to show the 4 dwarf dance.

**What should happen:**

http://www.youtube.com/watch?v=AcfHEG2hUrI

**Is it crashing the server?:**
No
**Other Information:**

[2020-12-02 23:16] Echinaceax opened #4921 "[Boss] Zanzil - Zul'Gurub 5-man Heroic"
**Links:**
npc https://www.wowhead.com/npc=52053/zanzil
video https://www.youtube.com/watch?v=GBuR9IVhmOE

**What is happening:**
- Not working correctly due to cauldron issues and other mechanics

**What should happen:**

![zan1](https://user-images.githubusercontent.com/39439201/100943008-a9cb2d80-34fc-11eb-8194-80fe2aa51f38.jpg)
![zan2](https://user-images.githubusercontent.com/39439201/1009430

[2020-12-03 01:44] Constant20 opened #4922 "[Fishing] A Penny For Your Thoughts"
Links

https://www.wowhead.com/achievement=2094/a-penny-for-your-thoughts
https://wow.gamepedia.com/A_Penny_For_Your_Thoughts

What is happening:

When fishing in the dalaran fountain after 30 min no coin is dropped

What should happen:

https://www.youtube.com/watch?v=8sVwjBoRtYs&ab_channel=TheDetectivegamer

Is it crashing the server?:

No

Other Information:

[2020-12-03 10:43] Echinaceax commented on #4922
@Constant20

can you check the achv and see if your have any off the list at all please

![any at all](https://user-images.githubusercontent.com/39439201/100999236-cb5c0180-355c-11eb-926c-e84263f78c6b.jpg)

[2020-12-03 12:05] Butterjib commented on #4117
Quest is bugged,  fox not interactable.  .bq command not working #27939

Thanks

[2020-12-03 12:48] Echinaceax commented on #4117
@Butterjib
yes this quest isnt on the list for the command, we only added 176 quests to the .bq comment to help players a little

[2020-12-03 14:15] Echinaceax opened #4923 "[Item] Mage armor glyph"
### reported by ingame player

**Links:**

https://cata-twinhead.twinstar.cz/?item=42749

**What is happening:**
- Mage armor glyph is not providing more mana

**What should happen:**

Your Mage Armor regenerates 20% more mana.

![mage glyph](https://user-images.githubusercontent.com/39439201/101044138-50f0a900-357f-11eb-8456-e0499719a6f0.jpg)

normal mage armor info no glyph info
![mage armor](ht

[2020-12-03 14:20] Echinaceax opened #4924 "[Spell/Mage] Arcane potency"
### reported by ingame player

**Links:**
https://cata-twinhead.twinstar.cz/?spell=31572
(talent)

**What is happening:**
When changing spec from aracne to other spec ( and having arcane potency activates)
- Arcane potency does not get removed

**What should happen:**
When you change spec from Arcane too fire or frost the arcane potency should not be active in other spec other than Arcane spec

![

[2020-12-03 14:29] Echinaceax commented on #4646
tomorrow 11 days ago @Rushor 🤣

[2020-12-03 19:55] LightBringe1972 opened #4925 "the Fell and the furious - Shadowmoon Valley"
**Links:**

from WoWHead or our Armory

**What is happening:**
The control panels are not responding

**What should happen:**
you must take control of a fell reaver and destroy the infernals, using the control panels
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-03 23:59] Echinaceax commented on #4925
https://www.wowhead.com/quest=10613/the-fel-and-the-furious

[2020-12-04 04:42] LightBringe1972 opened #4926 "Corki's Ransom - Nagrand"
**Links:**

from WoWHead or our Armory

**What is happening:**
The 3rdquest in a chain to find and free Corki. I got the key drop from an ogre, but when i unlock the cage the npc does not respond.

**What should happen:**
the quesst shold complete by speaking to Corki with a follow on quest " Cho'war the pillager"
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-04 09:58] Echinaceax commented on #4926
https://www.wowhead.com/quest=9954/corkis-ransom

[2020-12-04 10:03] Echinaceax commented on #4916
https://www.wowhead.com/quest=10040/who-are-they

[2020-12-04 12:32] Echinaceax opened #4927 "[Spell] Frostburn formula - Zul Gurub"
**Links:**
https://www.wowhead.com/spell=96325/frostburn-formula

**What is happening:**
- not working as it should
its not freezing the target

**What should happen:**
Your next ability will freeze the target.

![Ice cauldron](https://user-images.githubusercontent.com/39439201/101164154-0a5d8600-3635-11eb-8c6b-dfade48b3735.jpg)

![ZUL ICE CAULDRON](https://user-images.githubusercontent.com/394392

[2020-12-04 13:07] Echinaceax opened #4928 "[Spell] potion sickness - Zul Gurub"
**Links:**

https://www.wowhead.com/spell=96329/potion-sickness

https://www.wowhead.com/spell=96325/frostburn-formula
https://www.wowhead.com/spell=96328/toxic-torment

Or
https://www.wowhead.com/spell=96325/frostburn-formula
https://www.wowhead.com/spell=96326/burning-blood

**What is happening:**
- players can use the **Toxic Torment** and **Frostburn formula** or **Frostburn formula** and **bu

[2020-12-04 13:21] Echinaceax opened #4929 "[Spell] Cauldron issues - Zul Gurub"
### All cauldron issues here - ive closed the single reports

- [ ] Frostburn formula #4927
- [ ] potion sickness #4928
- [ ] Zanzil's Cauldron of Toxic Torment #4811

use links for reference info

[2020-12-04 13:21] Echinaceax commented on #4927
added to mail report here #4929

[2020-12-04 13:21] #4927 closed, assigned to nobody

[2020-12-04 13:22] Echinaceax commented on #4928
added to main report #4929

[2020-12-04 13:23] #4928 closed, assigned to nobody

[2020-12-04 13:24] Echinaceax commented on #4811
added to main report #4929

[2020-12-04 13:24] #4811 closed, assigned to mfranca0009

[2020-12-05 00:20] Echinaceax opened #4930 "[Boss] Ignacious - The Bastion of Twilight"
**Links:**
boss https://www.wowhead.com/npc=43686/ignacious#abilities;mode:n10
spell https://www.wowhead.com/spell=82857/inferno-leap

**What is happening:**
_Ignacious will cast Inferno Leap and jump towards a random ranged raid member. When he lands he will knock back anyone within a small radius and proceed to charge back to the tank, leaving a **trial of fire** in his wake. This is what you us

[2020-12-05 02:32] LightBringe1972 opened #4931 "Deathblow to the legion"
**Links:**

from WoWHead or our Armory

**What is happening:**
Killing the NPC does not complete the quest

**What should happen:**
After the NPC is killed, you should be able to hand in the quest.
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-05 02:42] Constant20 commented on #4922
![image](https://user-images.githubusercontent.com/39439201/112348489-29f1ea80-8cc8-11eb-805f-302d02c76885.png)

[2020-12-06 09:58] Arishok opened #4932 "[spell/object] Cauldron of Battle"
https://www.wowhead.com/spell=92643/cauldron-of-battle

**What is happening:**
Cauldron of Battle is giving Flask of Flowing Water ( Spirit ) to healers instead of Flask of the Draconic Mind ( Intellect )

**What should happen:**
Cauldron of Battle should give Flask of the Draconic Mind to the healers.
**Is it crashing the server?:**
No
**Other Information:**
https://www.mmo-champion.com/threads/8

[2020-12-06 10:10] Echinaceax commented on #4932
Flask of Flowing Water - http://cata.cavernoftime.com/item=67438
Correct **Flask of Flowing Water**isnt listed in the create list

 ![list of flasks](https://user-images.githubusercontent.com/39439201/101277286-af9e6880-37b3-11eb-8595-2812a73f46e8.jpg)

[2020-12-06 10:14] Echinaceax commented on #4931
https://www.wowhead.com/quest=10409/deathblow-to-the-legion

[2020-12-06 14:00] revsmom commented on #4932
The healers SHOULD get a spirit flask .. thats why we had a dps offspec like shadow on a priest if we wanted intel ... . so theres nothing wrong there :)

[2020-12-06 14:03] #4932 closed, assigned to nobody

[2020-12-06 16:44] Arishok commented on #4932
@revsmom
Did you read any of the links that I sent?
I would like some references that the healers should get spirit from cauldrons. ( maybe I missed some info )
" thats why we had a dps offspec like shadow on a priest if we wanted intel  " I didn't get this point, can you explain it again please?

In case you didn't read anything of what I sent
"i duno what blizz is thinking about the Cauldron of

[2020-12-06 16:56] revsmom commented on #4932
BACK in retail cata ....
HEalers got spirit from cauldrom
DPS got str/int/agi from cauldrom
Tanks got stamina from cauldrom
i have no proof besides my knowlegde and my brain ... but i know that i always had my own flasks .. or .... i changed to dps to get intel and then when the flask was consumed i changed back to healer spec...  then i was healer with intel buff :

[2020-12-06 17:00] Echinaceax commented on #4932
The link you shown is a forum debate on blizzard and **"what was they thinking"**
here on Reign they are blizzlike , not player preference  @Arishok

[2020-12-06 17:02] Arishok commented on #4932
I did also play retail, but I can't say I remember everything that's why I bring links and other stuff.
@Echinaceax " what was they thinking" of giving the healer intellect flask from the cauldron, I guess that what he meant :)
ok take this one
![proof](https://user-images.githubusercontent.com/75563910/101286835-32e8aa00-3806-11eb-82d1-cc6e1a5c6d8e.png)

you can read it, the guy clearly says " I

[2020-12-06 17:09] revsmom commented on #4932
https://www.wowhead.com/item=65455/flask-of-battle#comments
here u go :D

[2020-12-06 17:22] Arishok commented on #4932
@revsmom
You mean this one? because I didn't find any other comment speaks about the spirit flask.
![Healers cauld](https://user-images.githubusercontent.com/75563910/101287236-7cd28f80-3808-11eb-813c-83f867bdf1e0.png)

If you meant this one, then it really doesn't prove what you said if you read it carefully.
Intellect is the main stat while spirit is the second stat.
Anyways this is my last repl

[2020-12-07 15:38] LightBringe1972 opened #4933 "[Quest] What came first, the Drake or the egg? - Blade's Edge Mountains"
**Links:**

from WoWHead or our Armory

**What is happening:**
when opening an egg using the Temporal Phase Modulator and getting an adolescent or mature dragon, the dragons cannot be attacked.
The nether drakes (looks like basilisks, works.

**What should happen:**
after using the given item, all the dragons should be attack-able in order for the essence to drop.
**Is it crashing the server?:**
n

[2020-12-07 17:15] Echinaceax commented on #4933
http://cata.cavernoftime.com/quest=10609

[2020-12-07 20:20] mfranca0009 commented on #4906
@Keader any reason why this is marked as Regression?

[2020-12-07 20:33] Keader commented on #4906
Yes, Just for organization (me and janitor) you can Just ignore it

[2020-12-08 10:56] #3232 closed

[2020-12-08 10:56] #4906 closed, assigned to Keader

[2020-12-08 10:56] almoghr opened #4934 "quest - i was a lot of things - shadowmoon valley"
**Links:**

https://www.wowhead.com/quest=10514/i-was-a-lot-of-things
**What is happening:**

i am standing near the tube mouns and cant call the boars - it doenst recognise im standing near it

**What should happen:**
the boar should come and do something with the tuber
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-08 11:01] almoghr commented on #4915
**Mana-Tombs**
Pandemonius
Tavarok
Nexus-Prince Shaffar
Yor (Heroic)

**Auchenai Crypts**
Shirrak the Dead Watcher
Exarch Maladaar

**Shadow Labyrinth**
Ambassador Hellmaw
Blackheart the Inciter
Grandmaster Vorpil
Murmur

**Sethekk Halls**
Talon King Ikiss

all of those are missing!:)

[2020-12-08 16:10] mfranca0009 commented on #3232
Issue resolved with a temporary fix that technically does the same thing as the previous approach, instead of despawning the elders they kill themselves if Freya has been killed and the elders are still alive.

If the real cause of the problem (grid issue) is resolved later, then the temporary fix can be reverted.

[2020-12-08 17:48] mfranca0009 commented on #4913
Seems as if the Fire Nova Totem visual problem has fixed itself and its displaying as it should on PTR

Created a script where the totem will cast fire nova if it has not been destroyed within 5 seconds of it being spawned. Everything seems to be working as it should 👍

[2020-12-08 17:51] mfranca0009 commented on #4666
Boss should be complete and scripted fully with all its abilities, needs another group testing on PTR 👍

[2020-12-08 23:23] Chargelol opened #4935 "[NPC] Mazoga id 38927 Tanaris"
**Links:**
npc
https://www.wowhead.com/npc=38927/mazoga
Quests
https://www.wowhead.com/quest=25021/blood-to-thrive
https://www.wowhead.com/quest=25025/sangthraze-the-deflector
https://www.wowhead.com/quest=25026/darkest-mojo
https://www.wowhead.com/quest=25032/secrets-in-the-oasis
https://www.wowhead.com/quest=25556/into-zulfarrak
https://www.wowhead.com/quest=27068/chief-ukorz-sandscalp
**What is

[2020-12-08 23:39] Chargelol opened #4936 "[NPC] Megs Dreadshredder id 38703 tanaris"
**Links:**
https://www.wowhead.com/npc=38703/megs-dreadshredder

**What is happening:**
cant pickup 3 quests

**What should happen:**
shoud be able to pickup 3 quests from her
![WoWScrnShot_120920_003649](https://user-images.githubusercontent.com/50077942/101554365-c7920a00-39b6-11eb-847f-44e7e521b81b.jpg)
![WoWScrnShot_120920_003848](https://user-images.githubusercontent.com/50077942/101554423-ea

[2020-12-08 23:53] Chargelol opened #4937 "[Quest] To The Ground! id 24928"
**Links:**
http://www.cavernoftime.com/quest=24928
item
http://www.cavernoftime.com/item=51547
video
https://www.youtube.com/watch?v=NyyYlD-PSSU
**What is happening:**
the item seems to be not working

**What should happen:**
the item shoud work and start a fire
**Is it crashing the server?:**
no

[2020-12-09 01:07] mfranca0009 commented on #4936
This also seems to be happening on the Alliance NPC quest giver as well:
https://www.wowhead.com/npc=38704/kelsey-steelspark

[2020-12-09 01:54] Echinaceax commented on #4915
thank you for list @almoghr  👍

[2020-12-09 02:20] mfranca0009 commented on #4936
The quest order for Alliance and Horde should be fixed with these quests. They should all be offered based on doing them in the proper order following this storyline order: https://wow.gamepedia.com/Tanaris_storyline

[2020-12-09 02:29] mfranca0009 commented on #4935
Yes, just doing some small checking, the NPC is in the current default phase but he has an aura attached to him for phasing him out. Will work on this shortly.

Tanaris Storyline: https://wow.gamepedia.com/Tanaris_storyline

I went through the beginning quests to check if he phases in after "Sandsarrow Watch" has been turned in but it still seems Mazoga is phased out and not accessible.

He should

[2020-12-09 02:49] LightBringe1972 opened #4938 "meeting at the blackwing coven"
**Links:**

from WoWHead or our Armory

**What is happening:**
the mobs are not dropping the costume scraps

**What should happen:**
after the mobs drop the costume scraps, you disguise yourself in order to listen in onthe meeting.
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-09 02:52] LightBringe1972 opened #4939 "the mark of the nexus king"
**Links:**

from WoWHead or our Armory

**What is happening:**
i've collected 5 prison keys. npc quest giver is supposed to convert them into a stasis key that you can use to open the stasis chambers.

**What should happen:**
when you take 5 prison keys to npc quest giver he is supposed to convert tehm into a stasis prison key.
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-09 09:18] Echinaceax commented on #4938
@mfranca0009
could be due to this fix, the item was dropping without having the quest #748

[2020-12-09 09:28] Echinaceax commented on #4939
https://www.wowhead.com/quest=10976/the-mark-of-the-nexus-king

[2020-12-09 09:46] #4666 closed, assigned to mfranca0009

[2020-12-09 09:46] #4913 closed, assigned to mfranca0009

[2020-12-09 09:46] #4936 closed, assigned to mfranca0009

[2020-12-09 10:30] Chargelol commented on #4935
i followed zygor loremaster tanaris guide  cause i enjoy questing sometimes ;)

[2020-12-09 11:51] Echinaceax commented on #2738
Dismiss pet ID https://classic.wowhead.com/spell=2641/dismiss-pet

[2020-12-10 09:54] Echinaceax opened #4940 "[Spell] Tectonic Plating - Zul'Gurub"
**Links:**

https://www.wowhead.com/spell=97987/tectonic-plating
https://www.wowhead.com/npc=52956/zandalari-juggernaut

**What is happening:**
- Spell steal is not working for this as it should (Mage)

**What should happen:**
Mages are supose to be able to spell steal this

https://www.wowhead.com/spell=97987/tectonic-plating#comments

[2020-12-10 11:04] Echinaceax opened #4941 "[Worgen] Heathstone"
**What is happening:**
- A few worgen players are getting teleported to random places after they use the Hearthstone

**What should happen:**
Worgens should be teleported to the Heathstone place, and not be ported to random locations

**Other Information:**
Reported by GM from ingame tickets

[2020-12-10 11:27] Echinaceax commented on #4351
### Update

From what we have all seen in guild runs atm, World Bosses are working reasonably ok now Since the exploits stopped in some of the hotfixes

We can look more into this if need be, but for now i will close this

thanks guys

[2020-12-10 11:27] #4351 closed

[2020-12-10 13:55] Echinaceax commented on #4244
### Update
If players of US times zone can Check the Sunday/Wednesday (ST) reset this week and next week please

 what we want to work out is: if the GMs dont manually reset wednesday 00:00 next week, if the 6am ST does it its self on wednesday and stop sundays reset,

its been reset for this week manually by the GM again, but next week i will be informing the GM not to manually reset next week (w

[2020-12-10 14:00] LightBringe1972 opened #4942 "Stasis Chambers of the Mana Tombs"
**Links:**

from WoWHead or our Armory

**What is happening:**
the stasis chamber is not spawned

**What should happen:**
the stasis chamber should be spawned in the 2nd room after the first boss.
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-10 14:08] granplanta opened #4943 "jewelcrafting trinkets"
**Links:**

from WoWHead or our Armory
 [Figurine - Demon Panther]
**What is happening:**
It droped on a mage without jewelcrafting.

**What should happen:**
Not drop.
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-10 14:17] Echinaceax commented on #4943
http://cata.cavernoftime.com/item=52199
I seen this drop on my Shammy too dropped from https://www.wowhead.com/quest=28500/the-cypher-of-keset

Same npc @granplanta ?

[2020-12-10 14:23] Echinaceax commented on #4942
is this what you mean @LightBringe1972 https://www.wowhead.com/quest=10977/stasis-chambers-of-the-mana-tombs

[2020-12-11 01:16] mfranca0009 commented on #4940
ergh, isn't this for Zul'Aman? I know it says ZG on WoWhead link but we were testing this in Zul'Aman yesterday.
@Echinaceax

[2020-12-11 02:12] Echinaceax opened #4944 "[NPC] Clockwork Mechanic - Ulduar"
**Links:**

https://www.wowhead.com/npc=34184/clockwork-mechanic

https://gyazo.com/12b4f753c69e7fe4436f420a3ac3b896

**What is happening:**
Clockwork Mechanic are not attackable, so couldnt do that boss coz of them

**What should happen:**
Should be attackable

[2020-12-11 02:13] Echinaceax commented on #4940
emm no they are name differently
but there is an npc in ZA too that doesnt work too for same reason

[2020-12-11 02:21] Echinaceax opened #4945 "[BOSS] Razorscale - Ulduar"
**Links:**

https://www.wowhead.com/npc=33186/razorscale

**What is happening:**
- couldnt start the boss, start dialog couldnt be clicked
https://gyazo.com/fd2f106cf07f86e5c6e0c5dadc4a1e1f

**What should happen:**
clicking on the dialog  "activate harpoons" should start the event

[2020-12-11 02:43] Echinaceax opened #4946 "[BOSS] Yogg-Saron - Ulduar"
**Links:**

https://www.wowhead.com/npc=33288/yogg-saron

**What is happening:**
quite a bit wrong with this boss

- clouds too much
- Tenticles, says should spawn 3 was more than 3
- tenticles should be stunned while players are in the brain
- Potal brain phase, not how it should be with insanity debuff
- no Fraya beams
- No watchers

**What should happen:**
https://www.wowhead.com/npc=33288/yogg

[2020-12-11 14:43] almoghr opened #4947 "[Quest] Whispers of the Raven God - blade edge mountain"
**Links:**

from WoWHead or our Armory

**What is happening:**
after killing the arrakora i need to gain 2 minutes of speaking and i dont

**What should happen:**
i should get the speaking and then get the porphecys
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-11 22:30] mfranca0009 commented on #4940
Mage "SpellSteal" works fine as long as the talent is acquired and mage has the spell.... works both in ZA and ZG.

![image](https://user-images.githubusercontent.com/26092980/101960900-7eb89c00-3bd6-11eb-9774-165b86c87230.png)

![image](https://user-images.githubusercontent.com/26092980/101960908-85471380-3bd6-11eb-952d-ac1f12380617.png)

![image](https://user-images.githubusercontent.com/2609298

[2020-12-11 22:32] #4940 closed, assigned to mfranca0009

[2020-12-11 22:39] mfranca0009 commented on #4935
Mazoga does not give out, https://www.wowhead.com/quest=27068/chief-ukorz-sandscalp, Mazoga's spirit gives this quest out.

https://www.wowhead.com/npc=40712/mazogas-spirit

[2020-12-11 22:44] mfranca0009 commented on #4935
Removed invisibility aura, can't seem to find any evidence for the NPC to have the aura in the first place to phase it out. All set and needs testing in PTR 👍

[2020-12-12 02:34] mfranca0009 commented on #4937
Issue was confirmed, and has been fixed on PTR 👍

Building should now display fire on top of it after using the item near each building and should now give out quest progress.

[2020-12-12 02:43] mfranca0009 commented on #4947
@almoghr please provide links next time to the quest and other relevant information that is useful related to the quest where it says **"Links: from WoWhead or our Armory"**.

[2020-12-12 02:48] mfranca0009 commented on #4938
@LightBringe1972 Please provide links for the quest and relevant information that is related to the quest under the **Links** section next time.

[2020-12-12 03:16] mfranca0009 commented on #4938
@Echinaceax  Yes, that fix actually prevented them from dropping at all, because they aren't a specific item drop for a quest. These items are suppose to be used to create a disguise not for a turn-in requirement.

I have corrected the loot tables of the NPCs that are suppose to drop them, because they were incorrect.
I have corrected the conditions to when these items should be dropping.

Should

[2020-12-12 22:08] Mrhype1 opened #4948 "[Quest] Terokkar Forest questline"
**Links:**

**What is happening:**
Hello! Soo i got to terokarr forest for an item (toy) which was [Time-Lost Figurine], the way to obtain this item is to kill terokk, an elite boss that can be summoned in Skettis, Terokk's Rest.

 So the first step to do this is to gather 6 shadow dusts from Skettis mobs and then go to Severin in Blackwind Landing so he can give you Elixir of Shadows, which gets

[2020-12-12 22:49] deni6 opened #4949 "Trial of the champion - Dungeon"
This dungeon is closed, you can`t enter.

Does`t crush the server.

It`s 78-80lvl one

[2020-12-12 23:44] Echinaceax commented on #4949
not scripted if i remember rightly @mfranca0009

[2020-12-12 23:45] Echinaceax commented on #4947
https://www.wowhead.com/quest=10859/gather-the-orbs

[2020-12-12 23:48] Echinaceax commented on #4948
can you link all quest you need us to look into please @Mrhype1

is this it https://www.wowhead.com/item=32782/time-lost-figurine

the other quest needs a seperate report

[2020-12-12 23:51] Mrhype1 commented on #4948
Well I mean the only bugged quest is this:
https://www.wowhead.com/quest=11885/adversarial-blood

But the other bug is with terokk. Maybe this quest is related with what I wrote:
https://www.wowhead.com/quest=11073/terokks-downfall

[2020-12-12 23:53] Echinaceax commented on #4948
then clearer title please, and short explaination for each is more helpful,

So is this one about https://www.wowhead.com/quest=11885/adversarial-blood atm ?

[2020-12-12 23:58] Mrhype1 commented on #4948
Yes it is that one, but you see that one is related to terokk, the rewards is used to summon terokk so if terokk is bugged, then still nothing will be resolved.

[2020-12-13 01:19] Echinaceax commented on #4948
yes @Mrhype1 i know, it usually happens like that with questlines,

Terokkar Forest will be fixed in correct order as the coders get through the list

Thank you for reporting

@mfranca0009 this also needs fixing https://github.com/WoWManiaUK/Blackwing-Lair/issues/2760 in same questline

[2020-12-13 11:29] HrafnValknutt commented on #4938
Confirmed fixed in PTR.

[2020-12-13 11:48] HrafnValknutt commented on #4937
Confirmed fixed in PTR.

[2020-12-13 11:49] HrafnValknutt commented on #4935
Confirmed fixed in PTR.

[2020-12-13 13:17] Echinaceax opened #4950 "[Raid] Siege Engine issue - Ulduar"
**Links:**

https://www.wowhead.com/npc=33113/flame-leviathan/normal-10-encounter-journal

**What is happening:**
- no action bar given for the Passengers

**What should happen:**
Siege Engine Passengers should shoot down Pyrite Ammo from overhead to resupply allies.

[2020-12-13 17:42] mfranca0009 commented on #4934
This quest works fine, you need to be standing very close to the Tuber mound almost on top of it. Also, you need to make sure that the Domesticated Felboar is within 5 yards of the Tuber mound or the boar will not come over and dig it up. If you watch the video below, you'll notice even this player/youtuber has trouble with some of the Tuber mounds because the Domesticated Felboars are NOT within

[2020-12-13 17:42] #4934 closed, assigned to nobody

[2020-12-13 17:52] mfranca0009 commented on #4933
Nothing wrong with this quest, each NPC (Mature/Adolescent drakes, and the basilisks) are hostile after using the quest item. They are able to be attacked by the player and they attack the player once they're converted by the quest item. Quest items are able to picked up after killing them.

![image](https://user-images.githubusercontent.com/26092980/102019507-f7883700-3d41-11eb-97e4-e08434f1b1d9.

[2020-12-13 17:53] #4933 closed, assigned to nobody

[2020-12-13 19:17] mfranca0009 commented on #4931
This quest is broken, does not give quest credit, but the main issue is it's completely unscripted.

Video provided for what the quest should do:
https://www.youtube.com/watch?v=Ncfb5hyiy9E

[2020-12-13 19:50] mfranca0009 commented on #4939
This is the quest that converts 5 prison keys to a stasis key:
https://www.wowhead.com/quest=10975/purging-the-chambers-of-bashir

This is NOT the quest to convert them:
https://www.wowhead.com/quest=10976/the-mark-of-the-nexus-king

10976 (The Mark of the Nexus King) is a quest that will require you to have the item "Mark of the Nexus King" and its obtained from the ethereum prisoners that spawn

[2020-12-13 19:55] mfranca0009 commented on #4942
Were you in heroic or normal? The stasis chamber is only in mana tomb heroic; we need more information to clarify the issue. @LightBringe1972

[2020-12-13 22:28] mfranca0009 commented on #4947
Prophecies quest:
https://www.wowhead.com/quest=10607/whispers-of-the-raven-god

While on this quest, if you kill an arrakora it should give you the 2 min buff so you are able to interact with the prophecy objects in order to complete the quest.

[2020-12-13 22:48] Mrhype1 opened #4951 "[Quest] Feathers for Nafian"
**Links:**

https://classic.wowhead.com/quest=8467/feathers-for-nafien

**What is happening:**
Hello! There is a quest in Felwood, Timbermaw Hold which is "Feathers for Nafien" , in this quest you are supposed to bring 5 deadwood headdress Feathers for An NPC named Nafien. The quest should be repeatable named as "More Feathers for Nafien" but its not, once you do it it's not there anymore.

**What

[2020-12-13 23:01] Echinaceax commented on #4947
found the problem @mfranca0009

- when you kill any of the npcs, understanding buff is not given
they are not spell casting this on player https://www.wowhead.com/spell=37642/understanding-ravenspeech

also even when i cast the buff on myself the orbs are still not clickable
https://www.youtube.com/watch?v=0nz-dRGf2wE
https://www.youtube.com/watch?v=06UYmyjIN_Q

_It only takes 1 (one) kill to get

[2020-12-13 23:32] #4947 closed, assigned to nobody

[2020-12-13 23:44] Echinaceax commented on #4951
that daily quest is isnt in Cata it seems

its just a normal quest now only https://cata-twinhead.twinstar.cz/?quest=28395

conflicting info here says its repeatable
_Feathers for Nafien awards 50 reputation and is repeatable with every 5 Deadwood Headdress Feather Icon Deadwood Headdress Feather turn-in._

questline https://www.icy-veins.com/wow-classic/timbermaw-hold-reputation-farming-guide

@m

[2020-12-13 23:53] Mrhype1 commented on #4951
Yes I did and nothing, and also, if there is no repeatable quest then how could you get exalted with timbermaw hold? After getting revered, the only way to earn rep is to do these repeatable quests.

[2020-12-13 23:55] Echinaceax commented on #4951
i found new info
https://gyazo.com/52c9705807a952360b9a143c7c1f53cf

seems they made it into same quest name but just repeatable

i'll test it tomorrow. thanks @Mrhype1

[2020-12-13 23:58] Mrhype1 commented on #4951
Cannot see the image unfortunately :(
Send it in discord.
And no problem :D

[2020-12-14 00:04] Echinaceax commented on #4924
fixed in other github

[2020-12-14 00:04] #4924 closed, assigned to nobody

[2020-12-14 00:28] mfranca0009 commented on #4943
Question on this,

Do all of the Figurine related items need the player to have a specific jewelcrafting skill level for it to drop? If so, I'll need a full list of figurine related items.

[2020-12-14 01:05] mfranca0009 commented on #214
Looks as if the spell that should be rewarded on quest turn-in for:
https://www.wowhead.com/quest=12597/something-for-the-pain

Unfortunately the spell doesn't seem to exist in DBC and says it can't be found, so I'll have to do it a different way.

[2020-12-14 01:40] mfranca0009 commented on #214
All fixed, needs testing in PTR 👍

![image](https://user-images.githubusercontent.com/26092980/102031273-75206700-3d83-11eb-968e-e4f8bcdb99fd.png)

[2020-12-14 10:52] Echinaceax commented on #4943
these @mfranca0009
all drops are just for JC

quest drop https://www.wowhead.com/quest=28775/broken-serpent-figurine
reward https://www.wowhead.com/item=52353/figurine-jeweled-serpent

quest drop https://www.wowhead.com/quest=28778/broken-boar-figurine
reward https://www.wowhead.com/item=52351/figurine-king-of-boars

quest drop https://www.wowhead.com/quest=28776/broken-earthen-figurine
reward htt

[2020-12-14 11:23] Echinaceax commented on #214
Fixed in PTR
https://gyazo.com/a62c728369249c33a9e265c7dea268aa

note only bug i did see was after each task was completed it show quest credit on screen and in quest log but not on Main map, which some of the quest givers didnt have the quest complete (❓ ) over their heads, but click the npc and you can deliver the quests

other than that all working now

[2020-12-14 11:31] Echinaceax opened #4952 "[Daily] Troll Patrol - Zul'drak"
**Links:**
ID 12587
npc http://cata.cavernoftime.com/npc=28039

**What is happening:**
- Daily (!) above the quest giver should be blue not yellow

**What should happen:**
change it to blue after they have done the main Troll patrol

**Other Information:**

![troll patrol](https://user-images.githubusercontent.com/39439201/102076640-4dbfad80-3e08-11eb-97fe-42cfd0cff139.jpg)

[2020-12-14 12:44] Echinaceax commented on #2760
https://www.wowhead.com/quest=11073/terokks-downfall#comments

correct info by https://github.com/WoWManiaUK/Blackwing-Lair/issues/2760#issuecomment-551910607

[2020-12-14 13:29] HrafnValknutt commented on #4948
Test complete.

All the quests are working fine. But the Terokk has issues still #2760.
Also need to check tomorrow after dailies reset to see if the Adversarial Blood quest is offered as a daily.

[2020-12-14 13:30] #4948 closed, assigned to nobody

[2020-12-14 14:00] Echinaceax opened #4953 "Quest: Adversarial Blood - Terokkar Forest"
**Links:**

quest info https://wowwiki.fandom.com/wiki/Quest:Adversarial_Blood
npc https://www.wowhead.com/npc=23306/hazzik

**What is happening:**
reported from another report

- Daily isnt been offered from Hazzik

**What should happen:**
after finishing the questline, this quest should turn into a daily quest

### Update

After researching more, this quest becomes a daily from for the repeatabl

[2020-12-14 14:13] Echinaceax opened #4954 "Quest: Battle of the Crimson Watch - Shadowmoon Valley"
**Reported by ingame player**

**Links:**

quest https://www.youtube.com/watch?v=npuOzvyx2Zk
quest giver https://www.wowhead.com/object=185126/crystal-prison

**What is happening:**
- quest is not offered

**What should happen:**
quest should be offered from the crystal

**Other Information:**
![crystal](https://user-images.githubusercontent.com/39439201/102091265-e5c89180-3e1e-11eb-99a7-446a067a1

[2020-12-14 15:27] Echinaceax commented on #4954
Update
questline starts with https://www.wowhead.com/item=31345/the-journal-of-valzareq#starts
https://wowwiki.fandom.com/wiki/Quest:The_Journal_of_Val%27zareq:_Portends_of_War

then you deliver this back to the crystel to be offered the Battle of the Crimson Watch quest

[2020-12-14 15:27] #4954 closed, assigned to nobody

[2020-12-14 19:02] mfranca0009 commented on #4943
Well those are quests, do the quests need fixing too or are you just posting them because the items are attached? @Echinaceax

Also, there are quest starting items and equip-able  figurines, are they both dropping without any jewelcrafting requirement check or just the equip-able items?

[2020-12-14 22:41] Echinaceax commented on #4943
the items are attatched to them after they complete the quests
So they should only drop the drop quest for JC professions only

note: that the start quests cant be used atm, it just asks "you must be a jewelcrafter blah bla"

![demon panther](https://user-images.githubusercontent.com/39439201/102385049-a8eecd00-3fcd-11eb-88c0-f4ab29eaad0c.jpg)

https://wow.gamepedia.com/Broken_Serpent_Figurine

[2020-12-14 22:54] Echinaceax opened #4955 "System: macro issue"
### Reported by Discord player

**Links:**
https://eu.forums.blizzard.com/en/wow/t/mouseover-macros-for-idiots/43471/5

The problem that I’m having is with @mouseover (macro modifier) when I use it together with other target modifiers.

The target modifier per si is working normally when you use it to cast targeting with mouse, but the issue is when you put another modifier after him.
Macro suppos

[2020-12-14 23:18] Echinaceax opened #4956 "Special Events: Date Entries"
**What is happening:**
- the special wow events, the server dates are all screwed up
atm event are starting random events after server crashes and turning off Darkmoon ones when they are up

**What should happen:**
server should do the correct dates

**Other Information:**
link sent to @mfranca0009  in discord

[2020-12-15 01:29] mfranca0009 commented on #4943
Those are not all of the jewelcrafting figurines that are available, here's the full list right here including equips and items that start a quest:

https://www.wowhead.com/items/name:Figurine+-?filter=99;11;0

Truesilver Crab - https://www.wowhead.com/item=21760/figurine-truesilver-crab
Truesilver Boar - https://www.wowhead.com/item=21763/figurine-truesilver-boar
Emerald Owl - https://www.wowhead

[2020-12-15 04:35] mfranca0009 commented on #4955
We need to know the exact macro trying to be used.... sure we can test a macro with two modifiers but we don't know what macro the user is trying to perform.... we need more information. @Echinaceax

**UPDATE**
Macros work as intended, spoke to the user and straightened out the problem.

[2020-12-15 04:52] #4955 closed, assigned to mfranca0009

[2020-12-15 11:36] #214 closed

[2020-12-15 11:36] #4935 closed, assigned to mfranca0009

[2020-12-15 11:36] #4937 closed, assigned to mfranca0009

[2020-12-15 11:36] #4938 closed, assigned to mfranca0009

[2020-12-15 12:15] deni6 opened #4957 "[You're a Mean One...] Winter Veil event"
**https://www.wowhead.com/quest=7043/youre-a-mean-one**

**What is happening:**
First of all the boss has 144M hp and it takes almost 1h to kill him. (5men)
After boss die the reindeer is set free you get the credit (on the middle of the screen 1/1) but on the quest
the reindeer is still 0/1

**What should happen:**
Reindeer shall be set free after boss die (grinch) and quest should be finished

*

[2020-12-15 12:25] Echinaceax commented on #4957
yes we tried to get all Winter veil fixed in time, but there maybe some issues sadly @deni6

[2020-12-15 15:16] Echinaceax commented on #4957
We did it with 10 man
one thing we did notice tho was not only the health but the boss does no dmg ...didnt report that part i see

as for the quest, it is completable - Just visual bug on the quest log

![on metzen](https://user-images.githubusercontent.com/39439201/102234218-5c35c400-3ef1-11eb-84df-343ac61f328a.jpg)

[2020-12-15 15:22] deni6 opened #4958 "[Winter's Presents] - winter veil"
https://classic.wowhead.com/quest=8827/winters-presents

**What is happening:**
When you reach the npc in IF you can`t turn in the q even thought its already completed.

**What should happen:**
Its a turn in quest, you take it from SW and need to turn it in in IF

**Is it crashing the server?:**
No

[2020-12-15 15:24] deni6 opened #4959 "[A Smokywood Pastures' Thank You!] - winter veil"
https://classic.wowhead.com/quest=7045/a-smokywood-pastures-thank-you

**What is happening:**
When you come to IF you can`t turn in the quest, its completed already.

**What should happen:**
You should be able to turn in the quest at the NPC (Greatfather Winter) in IF,
**Is it crashing the server?:**
no

[2020-12-15 15:26] deni6 opened #4960 "[Greatfather Winter is Here!] - winter veil"
https://classic.wowhead.com/quest=7022/greatfather-winter-is-here

**What is happening:**
When you go to IF, you can`t turn in the quest at the NPC Greatfather Winter, the quest is already completed

**What should happen:**
You should be able to turn in the quest upon interaction with Greatfather Winter. Quest is completed
**Is it crashing the server?:**
No

[2020-12-15 15:30] Echinaceax opened #4961 "Item: Stolen Treats - Winter veil"
**Links:**

https://www.wowhead.com/item=17662/stolen-treats

**What is happening:**
- Stolen treats are spawned before boss is dead

**What should happen:**
Stolen treats are only meant to drop after the boss is dead

https://classic.wowhead.com/npc=13602/the-abominable-greench#drops

[2020-12-15 16:11] Echinaceax commented on #4960
seems its just Ironforge then @deni6  thanks for reporting

[2020-12-15 23:21] Echinaceax commented on #4960
same on my priest on horde
strange because i could on my pala and troll

[2020-12-15 23:21] Echinaceax commented on #4958
same on my priest on horde
strange because i could on my pala and troll

[2020-12-16 02:58] mfranca0009 commented on #282
Eliminated the extra talk line where it's repeating "fightin' words!" and also eliminated some parts that weren't needed within the C++ script. Still need to fix the duel countdown. For some reason its not showing up at all even when it's called.

[2020-12-16 07:53] Echinaceax commented on #4244
confirmed by Hammer
NO reset automaticily done by server today
up to 06:37

this needs fixing @wow-mania

[2020-12-16 09:47] Echinaceax commented on #4960
confirmed for horde too

now my shammy cant 👎

no quest credit given

![great father1](https://user-images.githubusercontent.com/39439201/102332449-62c54980-3f8c-11eb-9274-149451800565.jpg)

![great father](https://user-images.githubusercontent.com/39439201/102332201-12e68280-3f8c-11eb-9637-3a390f5d06ae.jpg)

[2020-12-16 09:54] Echinaceax commented on #4959
comfirmed for horde too ID 6984

no quest credit given

![a smoky1](https://user-images.githubusercontent.com/39439201/102332852-f0089e00-3f8c-11eb-91fa-2f5d2eef90a6.jpg)
![a smoky](https://user-images.githubusercontent.com/39439201/102332935-0878b880-3f8d-11eb-8cc2-33444793f6d0.jpg)

[2020-12-17 03:46] mfranca0009 commented on #4943
This should be all set, needs testing in PTR 👍  @Echinaceax

[2020-12-17 16:49] DoubleAgentORiley commented on #4856
I managed to get it to work on my paladin, though it's still a pain. there are two mobs that spawn next to the shrine. you can hit those two (at range) and have them come to you without them phasing out. you can also attack two mobs to the east of the shrine next to a tree, but they're range and you have to range them as well. they won't come to you like the meleers do

[2020-12-17 17:15] mfranca0009 commented on #4856
@DoubleAgentORiley

Will get to it as soon as I'm available.

[2020-12-17 21:41] deni6 opened #4962 "Fa-la-la-la-Ogri'la - winter veil - achievement"
https://www.wowhead.com/achievement=1282/fa-la-la-la-ogrila

**What is happening:**
I just finished quest and no achievement was completed.

**What should happen:**
Upon finishing quests you shall have you winter veil achievement finished.
**Is it crashing the server?:**
No
**Other Information:**
![image](https://user-images.githubusercontent.com/64712349/102546992-c8165900-40b8-11eb-8cdf-9818105e

[2020-12-18 04:56] DoubleAgentORiley commented on #4926
Problem: You're suppose to be able to talk to Corki, not free him. You should be able to talk to him, complete Corki's Ransom and then pick up, from Corki, the quest: Cho'war the Pillager. Issue Confirmed - https://youtu.be/dn4KnnOZv_o

[2020-12-18 05:08] mfranca0009 commented on #4920
This is an archeology special item, not a quest item.

[2020-12-18 05:11] DoubleAgentORiley commented on #4920
Confirmed - when the item "Chalice of the Mountain Kings" is used, no animation is displayed and the item receives a cooldown.

[2020-12-18 05:50] DoubleAgentORiley commented on #4918
Into the Raptor's Den
Quest chain: 5th in chain questline from Sergra Darkthorn
Confirmed: When quest item is used next to or even on the nests, the item is consumed but nothing happens. You should get quest credit when the item is used.
https://www.youtube.com/watch?v=0VZIaReQ9Jg&ab_channel=MichaS

[2020-12-18 06:33] DoubleAgentORiley opened #4963 "[NPC] Hezrul Bloodmark - Northern Barrens"
https://www.wowhead.com/quest=852/hezrul-bloodmark#comments

**What is happening:**
He has no waypoint path, stays in one spot at coords "40.3 , 72.8"

**What should happen:**
He does a figure 8 type of path from the small body of water directly in front of wailing caverns and the big hill just west of that body of water. On the SW side of that hill, he'll circle the large tent and come back aroun

[2020-12-18 07:29] DoubleAgentORiley commented on #4856
Thank you for the response, i didn't know exactly what i was doing as a tester. i've been trained by franca whom has given me better insight on the matter. looking forward to working with you further on future issues!
    On Thursday, December 17, 2020, 09:15:56 AM PST, Koko <notifications@github.com> wrote:

@DoubleAgentORiley

Will get to it as soon as I'm available.

—
You are receiving this be

[2020-12-18 10:44] Echinaceax commented on #4963
is the quest completable @DoubleAgentORiley ?

[2020-12-18 10:52] Echinaceax commented on #4856
this is phasing issue @DoubleAgentORiley
already tested reported questline for phasing fix
https://github.com/WoWManiaUK/Blackwing-Lair/issues/3461

[2020-12-18 11:27] #552 closed

[2020-12-18 11:28] Echinaceax commented on #552
not the same issue @mfranca0009
this one is about quest order

[2020-12-18 12:41] Echinaceax commented on #4962
confirmed bug

![achv fa la la](https://user-images.githubusercontent.com/39439201/102615711-ab206b00-4136-11eb-9aeb-f7036d7d8ca7.jpg)

[2020-12-18 13:36] Echinaceax opened #4964 "[Guild] Guild invite declining"
### Reported by ingame player

**What is happening:**
- When a guild member sends a player a guild invite that is already in another guild when they decline the invite they lose their existing guild

**What should happen:**
- Players that are in another guild shouldnt get another guild inv until they leave the guild that they are currently in
- should display " they are already in a guild"
- Decli

[2020-12-18 14:42] Echinaceax commented on #4964
### note though

Guild kick is only a visual bug , fixed after relogging
![testman5](https://user-images.githubusercontent.com/39439201/102626767-884a8280-4147-11eb-9f54-8b1a59977cf0.jpg)

![testman6](https://user-images.githubusercontent.com/39439201/102626840-a2846080-4147-11eb-9f1c-49cea6e5c26a.jpg)

[2020-12-18 15:08] Echinaceax commented on #4964
Also guild member can inv guild members of the same guild this way too

![testgnome1](https://user-images.githubusercontent.com/39439201/102628943-c6957100-414a-11eb-883d-2ea7ae664747.jpg)
![testgnome2](https://user-images.githubusercontent.com/39439201/102628944-c7c69e00-414a-11eb-830c-f8077d451d81.jpg)

relogging guild status was back

![testgnome3](https://user-images.githubusercontent.com/3943

[2020-12-18 18:53] Blametheheal commented on #4957
https://cata-twinhead.twinstar.cz/?npc=13602
His health is only supposed to be 3,435,680

[2020-12-18 20:47] Echinaceax commented on #4962
retested on PTR and player must deliver quest back while mount is still a reindeer @mfranca0009

![fa la](https://user-images.githubusercontent.com/39439201/102659943-89e16e00-417a-11eb-99be-5138c70f0557.jpg)
![fa la2](https://user-images.githubusercontent.com/39439201/102659946-8bab3180-417a-11eb-8073-7474eb34722f.jpg)

[2020-12-18 20:47] #4962 closed, assigned to nobody

[2020-12-18 23:06] Echinaceax commented on #4883
@mfranca0009
Needs fully scripting actually, no Archaeology stuff working anyway
https://wowwiki.fandom.com/wiki/Cache_of_Madness

[2020-12-18 23:24] Echinaceax commented on #4883
closed for now

[2020-12-18 23:24] #4883 closed, assigned to Keader

[2020-12-19 01:30] Blametheheal commented on #4941
Confirmed, leveled a worgen warlock naturally through their start zone. Got done there and my hearthstone was set to The Howling Oak. I left darnassus following the quest line to lor'danel. I gathered the quests and used my hearthstone for the first time since leaving the beginning area. When I activated it I popped out in desolace near the Kodo Graveyard. Screen shot included.
![Death Marker](htt

[2020-12-19 01:35] Blametheheal commented on #4941
Upon rezing from death I used the hearthstone again and was transported back to the first spawn point of character creation.

[2020-12-19 07:42] Echinaceax opened #4965 "[Item] Winter Veil Gift - Winter veil"
**Links:**

quest https://cata-twinhead.twinstar.cz/?quest=11528
Quest reward https://cata-twinhead.twinstar.cz/?item=34426

**What is happening:**
- Quest reward empty

**What should happen:**
Reward shouldnt be empty

**extra info**
not sure what is meant to be inside at coz of conflicting research (2011) im guessing
**_Gaudy Winter Veil Sweater (2011) -  Gaudy Winter Veil Sweater ( Winter Veil

[2020-12-19 17:24] deni6 opened #4966 "[Treats for Greatfather Winter] Winter veil"
**Links:** https://www.wowhead.com/quest=6962/treats-for-great-father-winter

**What is happening:**
Can`t finish the quest even tho I have the mats required to finish it.

**What should happen:**
I should hand in the quest to the Great Father winter Npc

**Is it crashing the server?:**
No
**Other Information:**
![CC](https://user-images.githubusercontent.com/64712349/102695402-73452080-4227-11eb-

[2020-12-19 20:34] Echinaceax commented on #4966
thanks @deni6 👍

[2020-12-19 20:35] Echinaceax commented on #4966
same on horde @mfranca0009

btw you linked the horde ID @Deni6 can you have the GM check your quest id, i think i know whats happening
this is the ally link https://www.wowhead.com/quest=7025/treats-for-greatfather-winter

[2020-12-20 02:26] mfranca0009 commented on #282
All set, needs testing in PTR 👍

Should function properly now when starting the duel, winning the duel, or losing the duel.

[2020-12-20 03:11] mfranca0009 commented on #283
Reference video: https://www.youtube.com/watch?v=2L2dL0BJy80

[2020-12-20 06:35] mfranca0009 commented on #283
So far, fixed the normal Mullan Gryphons sitting around the area as well as the Mullan Gryphons bound by twilight binders.

Just need to fix the injured Mullan Gryphons, which will give quest credit and fly away if a healing spell is used or first aid (Embersilk Bandages or higher).

[2020-12-20 10:15] Echinaceax commented on #282
Confirmed fixed in PTR

[2020-12-20 10:52] Echinaceax commented on #4966
Tested on PTR
1. first test for Original quest Ally ID 7025

![image](https://user-images.githubusercontent.com/39439201/102711420-dc757400-42b9-11eb-837d-0de3fbd31ed5.png)
![image](https://user-images.githubusercontent.com/39439201/102711439-ffa02380-42b9-11eb-84e1-ab1821173a2e.png)

2. Have to test tomorrow if same quest ID given
I think that the daily quest after that is the wrong ID but have t

[2020-12-20 11:52] Butterjib opened #4967 "Priest: Mind Control"
Hi all,

When I use Mind Control in an instance, (have tried in multiple)  the mob does not want to attack other hostile mobs, either with the "attack" command or "right-click".   Also the mob ability bar seems only to have "attack" and not other abilities.

Thanks.

Butter.

[2020-12-20 12:27] Echinaceax commented on #4772
Tested on PTR

![pvp quest](https://user-images.githubusercontent.com/39439201/102790182-63ebe180-43a5-11eb-99df-74ddf0718990.jpg)
![pvp quest2](https://user-images.githubusercontent.com/39439201/102790201-69e1c280-43a5-11eb-9af0-b03392e6f719.jpg)
![pvp quest3](https://user-images.githubusercontent.com/39439201/102790214-6e0de000-43a5-11eb-897e-ba7311a84268.jpg)

I'LL TEST THE LIVE LATER

[2020-12-20 13:36] Arishok opened #4968 "PvP: Vengeance ( Tanks )"
https://wow.gamepedia.com/Vengeance_(passive)

**What is happening:**
When dueling as a tank, you can see that the vengeance gets triggered when they hit you, which it shouldn't.
In Cata retail, they changed vengeance, Patch 4.3.2 (2012-01-31), that they made it to not be triggered in PvP.

**What should happen:**
In PvP, against other players, vengeance shouldn't be triggered by receiving damage

[2020-12-20 14:02] Echinaceax commented on #4968
Thank you @Arishok

[2020-12-20 16:16] Echinaceax commented on #4966
@mfranca0009  no quest credit given for all the daily quests for this event

[2020-12-20 20:30] tragixkitkat opened #4969 "Death knights"
Newly made death knight and after hitting level 61 no new quests show up and you can’t leave the death knight starting area

[2020-12-20 20:50] Echinaceax opened #4970 "Skinning: Mistwing Ravager / Mosshoof Courser"
Reported by Discord player

**Links:**

1. https://classic.wowhead.com/npc=8764/mistwing-ravager#skinning
2. https://classic.wowhead.com/npc=8761/mosshoof-courser#skinning

**What is happening:**
- Wrong skinning loot table

**What should happen:**
- only leather should be dropped

**Other Information:**

![image](https://user-images.githubusercontent.com/39439201/102724060-02783400-430d-11eb-8d48

[2020-12-20 20:51] Echinaceax commented on #4969
follow the questline please @tragixkitkat
https://wowwiki.fandom.com/wiki/Death_knight_quests

[2020-12-20 20:52] #4969 closed, assigned to nobody

[2020-12-20 23:54] mfranca0009 commented on #283
All set, needs testing in PTR 👍

### Mullan Gryphon standing around
Gossip to click on for the gryphon to smell quest item (charred highland birch)

### Mullan Gryphon bound by twilight bindings
Each twilight binding needs to be destroyed (total of 4)

### Injured Mullan Gryphon
Requires a healing spell from the Holy School family or Nature School family. You can also use Embersilk Bandages, Dense

[2020-12-21 02:45] mfranca0009 commented on #283
Hammer confirmed this fix, it's working as it should 👍

[2020-12-21 03:48] mfranca0009 commented on #292
Working on this currently, I've fixed the database side, just need to create its C++ script.

[2020-12-22 10:00] Echinaceax opened #4971 "Item: Red Winter Hat/Green Winter Hat - Winter veil"
**Links:**
https://www.wowhead.com/achievement=277/tis-the-season#comments

1. https://www.wowhead.com/item=21524/red-winter-hat
2. https://www.wowhead.com/item=21525/green-winter-hat

**What is happening:**
- these items are not dropping in Hc dungeons as stated 100% drop on HC

**What should happen:**
Cata
Heroic: 100% DROP!
Normal: 3% - 14% Approximate DROP!

**Other Information:**
needed for t

[2020-12-22 11:34] #282 closed

[2020-12-22 11:34] #283 closed

[2020-12-22 11:34] #4943 closed, assigned to mfranca0009

[2020-12-22 13:45] Echinaceax opened #4972 "[Dungeon/event] Cache of Madness - Archaeology 225 - Zul'Gurub"
### Full script needed

**Links:**
https://wowwiki.fandom.com/wiki/Hazza%27rah

videos
https://www.youtube.com/watch?v=FewEXmJrn2A

This is the 5-man, level 85, heroic mode dungeon boss.

- [ ] Hazza'rah

Hazza'rah is a ghost troll druid boss that may randomly spawn during the Cache of Madness event in Zul'Gurub. **_It requires an Archaeology skill of 225 or more to activate._**

Hazza'rah does tw

[2020-12-22 19:22] mfranca0009 commented on #4963
Quest is completable, low priority issue.

[2020-12-22 21:21] Masqumx opened #4973 "Graduation speech"
The q graduation speech npc dont works

https://www.wowhead.com/quest=25315/graduation-speech

[2020-12-22 22:02] mfranca0009 commented on #1141
This is not on BQ list, if it was its not anymore.

[2020-12-22 23:15] mfranca0009 commented on #1897
Ran into this issue on live, confirmed.

[2020-12-22 23:54] mfranca0009 commented on #1864
Not only does this affect the daily, but affects this normal quest as well making it incompletable:
https://www.wowhead.com/quest=27929/drag-em-down

Confirmed issue.

[2020-12-23 00:09] Echinaceax commented on #4973
reported already here #3506
but thx @Masqumx

[2020-12-23 00:09] #4973 closed, assigned to nobody

[2020-12-23 00:25] mfranca0009 commented on #1866
NPC: https://www.wowhead.com/npc=45435/earthen-ring-gryphon

Confirmed, none of them can be mounted and therefore nothing will happen for quest completion; incompletable.

[2020-12-23 00:29] mfranca0009 commented on #1870
Item works and shows a spell effect visual, but its targeting every NPC or yourself (player); not the faulty value. Most likely just a targeting problem.

Confirmed issue.

[2020-12-23 18:40] Loizo181 opened #4974 "Quest: Portal Overload - Twilight Highlands"
**Links:**

from WoWHead or our Armory

**What is happening:**
The object "Earth Portal Controller" doesn't work. https://www.wowhead.com/object=206018/earth-portal-controller
I guess https://www.wowhead.com/object=206019/air-portal-controller and https://www.wowhead.com/object=206017/water-portal-controller

**What should happen:**
These should debilitate the NPC's to fight them and complete the

[2020-12-23 19:02] almoghr opened #4975 "[Fel Ember] - The Shattered Halls"
**Links:**

from WoWHead or our Armory
https://www.wowhead.com/quest=29650/fel-ember
**What is happening:**
i kill the boss and take the item but i am not able to do anyhting with it to the brazier

**What should happen:**
it should work and i should have the fel ember as intended
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-23 19:03] almoghr opened #4976 "[A Very Special Cloth] - The Shattered Halls"
**Links:**

from WoWHead or our Armory
https://www.wowhead.com/quest=29655/a-very-special-cloth
**What is happening:**

i kill the boss but nothing to get the special cloth. tried 5 times

**What should happen:**
after the kill i should get the special cloth
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-23 19:05] almoghr opened #4977 "[The Will of the Warchief] - The Shattered Halls"
**Links:**

from WoWHead or our Armory
https://www.wowhead.com/quest=9495/the-will-of-the-warchief
**What is happening:**
i get the fist of kargath and i cant turn in the quest

**What should happen:**
i should be able to get the xp and gold from the quest.
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-23 19:13] almoghr opened #4978 "[Elemental Power Extraction] - netherstorm quest"
**Links:**

from WoWHead or our Armory
https://www.wowhead.com/quest=10226/elemental-power-extraction
**What is happening:**
i use the extractor on the right mobs and nothing happens, tried it while they were 100% hp, 50% hp and low hp

**What should happen:**
the extractor should work and make them crazed a bit and then i get the item after killing
**Is it crashing the server?:**

**Other Informa

[2020-12-23 19:54] Loizo181 opened #4979 "Twilight Highlands quest bugged"
**Links:**

http://cata.cavernoftime.com/quest=27788

from WoWHead or our Armory

**What is happening:**
Skullcrusher the Mountain isn't appearing

**What should happen:**
Skullcrusher appears and tries to crush the player

**Is it crashing the server?:**

**Other Information:**

[2020-12-23 22:21] Echinaceax commented on #4979
reported here #3304
please make sure you search if its already reported before making a new report
thx LW

[2020-12-23 22:22] #4979 closed, assigned to nobody

[2020-12-24 01:15] mfranca0009 commented on #292
All set, needs testing in PTR 👍

Should have all available variations of the song corresponding to the gossip options that you select from the three menus that you will go through when selecting the rhyming words.

[2020-12-24 06:49] mfranca0009 commented on #312
Fixes in database are done, just need to clean up the scripts I added.

[2020-12-24 09:51] Echinaceax commented on #292
confirmed fixed in PTR
https://gyazo.com/92e0de93d30f306acc095c8676cc8fe1

[2020-12-24 14:50] Mrhype1 opened #4980 "(NPC) Thistleshrub Dew Collector - Tanaris"
**Links:**
https://www.wowhead.com/npc=5481/thistleshrub-dew-collector

**What is happening:**
In Tanaris, Thistleshrub Valley, there should be mobs named Thistleshrub Dew Collectors, there isn't any of them there should be alot too.

**What should happen:**
The mobs (Thistleshrub Dew Collectors) should be appearing as normal.

**Is it crashing the server?:**
No
**Other Information:**

[2020-12-24 15:40] Mrhype1 opened #4981 "(NPC) Marin Noggenfogger - Tanaris"
**Links:**
https://www.wowhead.com/npc=102594/marin-noggenfogger

**What is happening:**
There should be an NPC in Gadgetzan named Marin Noggenfogger, the problem is that he isn't there.

**What should happen:**
The NPC (Marin Noggenfogger) should appear as normal

**Is it crashing the server?:**
No
**Other Information:**

[2020-12-24 17:14] Echinaceax commented on #4981
@mfranca0009
wrong link here is the ID for Gadgetzan https://classic.wowhead.com/npc=7564/marin-noggenfogger#starts

[2020-12-24 19:19] mfranca0009 commented on #312
All set, needs testing in PTR 👍

Hunters should not have a problem when they have a pet out and the spider being summoned. I've also made it much more responsive when there are murlocs around and dead in a 25 yard distance (blizzard seemed to have problems with this in Cataclysm). There is also a safety catch, the spider will not feed off a murloc and despawn it until the player has looted the cor

[2020-12-24 23:09] mfranca0009 commented on #314
All set, needs testing in PTR 👍

Made a change to the quest item spell, so that the player can select the Hill Fawn, instead of simply using the quest item and it automatically casts on a Hill Fawn implicitly. This prevents casting the spell multiple times and it lands on the same Hill Fawn.

Spell requires a Hill Fawn targeted, the hearts now appear after this change.

Quest credit is now given w

[2020-12-24 23:43] Echinaceax commented on #314
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/103111148-0fb55b80-464a-11eb-87c7-d3b47db83464.png)

note: pathing in a new report soon

[2020-12-24 23:45] mfranca0009 commented on #318
### Possible Cinematic Spells
**Summon Camera -** https://shadowlands.wowhead.com/spell=91608/summon-stormpike-apocalypse
**Ride Vehicle (Camera) -** https://cata-twinhead.twinstar.cz/?spell=91609
**Cutscene Spell (?) -** https://www.wowhead.com/spell=91632/stormpike-apocalypse
**Cutscene Spell (?) -** https://www.wowhead.com/spell=91648/stormpike-apocalypse

Tested them, but they don't do anythin

[2020-12-24 23:50] Echinaceax commented on #312
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/103111238-345e0300-464b-11eb-8ef2-bb553152438c.png)

[2020-12-25 10:13] almoghr commented on #4942
i just checked on heroic. stasis chamber is no where to be found

[2020-12-25 10:44] Echinaceax commented on #4957
Also fix this too while your on this NPC @mfranca0009 Please :)
#4961

[2020-12-26 15:25] Keader commented on #4910
not problem found on it

[2020-12-26 15:25] #4910 closed, assigned to Keader

[2020-12-26 15:35] Keader commented on #4317
fixed

[2020-12-26 18:12] Shakespells commented on #2760
In game, the bomb is still not dropped.

[2020-12-26 21:22] almoghr commented on #744
i see its closed but yet i try to do the quest and i only get pet bar.. the atk doesnt do anything .
maybe im doing it wrong but it looks bugged to me..

[2020-12-26 21:26] almoghr opened #4982 "quest - netherstorn - [Dimensius The All-Devouring]"
**Links:**
https://www.wowhead.com/quest=10439/dimensius-the-all-devouring

**What is happening:**

i talk to the commander, we walk together through the path untill the entrance of the manaforge, he tells me to tell him when ready. i tell him and then his stuck. no one moves and because of that no boss to fight against

**What should happen:**
after i tell him to move, the commander should come i

[2020-12-26 21:27] almoghr opened #4983 "Dimensius the All-Devouring - netherstorm outland"
**Links:**
https://www.wowhead.com/quest=10439/dimensius-the-all-devouring

**What is happening:**

i talk to the commander, we walk together through the path untill the entrance of the manaforge, he tells me to tell him when ready. i tell him and then his stuck. no one moves and because of that no boss to fight against

**What should happen:**
after i tell him to move, the commander should come i

[2020-12-26 21:27] almoghr commented on #4983
suddenly it told me i didnt manage to load the first issue so i issued the 2nd sorry for the bothering...

[2020-12-26 21:27] #4983 closed, assigned to nobody

[2020-12-26 21:29] almoghr opened #4984 "[Quest] steamvault dungeon - containment is the key"
**Links:**
https://www.wowhead.com/quest=29614/containment-is-key
https://www.wowhead.com/item=72574/irradiated-gear
**What is happening:**

i need to kill a boss and get an item. did it 5 times, no item at all.
double checked im at heroic.
nothing worked.

**What should happen:**
the boss should give me the item
**Is it crashing the server?:**
no
**Other Information:**
the item details is in the

[2020-12-26 21:31] almoghr opened #4985 "[Quest] teleport this - quest - netherstorm"
**Links:**

https://www.wowhead.com/quest=10857/teleport-this
**What is happening:**

i need to possess a mob and get him to destroy the portals, i possess it, its quite buggy but its fine. when i try to destroy the port. nothing happens

**What should happen:**
the mob should destroy the portal when i atk with it
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-26 21:33] almoghr opened #4986 "[Quest] shutting down manaforge coruu - netherstorm quest"
**Links:**

https://www.wowhead.com/quest=10330/shutting-down-manaforge-coruu
**What is happening:**
everything worked fine, i shut down the manaforge, killed a bunch of mobs and after the process was completed, it says i didnt do anything. i still have the item and cant re do it. tried to abandon and do again but happened the same

**What should happen:**
the procedure should end and i should be

[2020-12-26 22:27] Echinaceax commented on #744
will re test it thanks @almoghr

[2020-12-26 23:26] Echinaceax commented on #744
confirmed bugged still

but slight different issue now

video https://www.wowhead.com/quest=10911/fire-at-will#videos:id=79022

- [ ] After using the quest item you get the cannon as a minion, but no ability to use the quest item to bomb  south warp gate or the north warp gate
- [ ]  also the imps that are meant to come  out of the south warp gate or the north warp gate are not there

![death door

[2020-12-27 00:23] almoghr opened #4987 "[Quest] You, Robot - netherstorm"
**Links:**

https://www.wowhead.com/quest=10248/you-robot
**What is happening:**

i completed the quest. it says i completed, i even have a yellow question mark on the map. but the mob is still gray question mark. cant complete

**What should happen:**
i should be able to complete:)
**Is it crashing the server?:**
no
**Other Information:**

[2020-12-27 10:28] Echinaceax opened #4988 "[Spell] squall line - Throne of the four winds"
### Reported by ingame player

**Links:**

https://www.wowhead.com/spell=91110/squall-line#comments

**What is happening:**
- squall line is active in stage 3 of this instance

**What should happen:**
squall line should only be active in stage 1 and 2 not 3

**Other Information:**
![image](https://user-images.githubusercontent.com/39439201/103168785-7e570c80-4836-11eb-9f0a-273e5d2810e6.png)

[2020-12-27 14:19] Arishok opened #4989 "Blackwing Descent - Magmaw"
https://www.wowhead.com/npc=41570/magmaw

**What is happening:**
" Magmaw " and the " Exposed Head of Magmaw " don't share the hp

**What should happen:**
" Magmaw " and the " Exposed Head of Magmaw " should share the hp
**Is it crashing the server?:**
We did magmaw few times, and there were few crashes between the tries, but I'm not sure if this has a hand in it.
**Other Information:**
https://ww

[2020-12-27 14:35] Arishok opened #4990 "Blackwing Descent - Toxitron's Poison Protocol"
https://www.wowhead.com/npc=42180/toxitron

**What is happening:**
Poison Protocol sometimes explode on melee dps even though they are  fixating other players. ( it doesn't explode because it reached its target, it's like the add switches the targets because of aggro or something )

**What should happen:**
Poison Protocol should not switch targets and keep fixation on its target until its dead or

[2020-12-27 14:57] Arishok opened #4991 "Blackwing Descent - Arcanotron's Power Conversion"
https://www.wowhead.com/npc=42166/arcanotron

**What is happening:**
Arcanotron's Power Conversion stacks really quickly even though none is attacking him ( I think it is because of damage over time )
even if someone was attacking him, I don't think he will be able to trigger the shield to 36-43 stacks in like 1 second.

**What should happen:**
Arcanotron's Power Conversion shouldn't get stacks fr

[2020-12-27 15:34] Chuonnasuan opened #4992 "Daily/Fishing Darnassus, An Old Favorite"
**Links:**
https://www.wowhead.com/quest=29359/an-old-favorite

**What is happening:**
In order to complete this daily, one should go to Rut'theran Village to fish for 8 Kaldorei Herring.
( https://www.wowhead.com/item=69987/kaldorei-herring)
After fishing for almost an hour (twice) it doesn't fish up/drop.
So won't be able to complete this quest and the fishing achievement that comes with it.

**

[2020-12-27 17:15] Arishok opened #4993 "Blackwing Descent - Maloriak"
https://www.wowhead.com/npc=41378/maloriak
https://www.wowhead.com/spell=77569/release-aberrations

**What is happening:**
Maloriak casts Release Aberrations 6 times only. If you interrupt 1 or 2,he won't cast anymore, which causes him to not summon the adds in phase 1 ( they gonna show up in phase 2  )
( I'll explain in details down )

**What should happen:**
Release Aberrations should not be cas

[2020-12-27 18:59] Echinaceax commented on #4968
added info from Arishok

![image](https://user-images.githubusercontent.com/39439201/103177812-09a7c080-487e-11eb-8484-958da9fe40bc.png)

[2020-12-27 19:19] mfranca0009 commented on #422
All set, needs testing in PTR 👍

[2020-12-27 21:34] mfranca0009 commented on #4968
Now all fixed 👍

[2020-12-27 21:42] Echinaceax commented on #4968
confirmed fixed in PTR

[2020-12-27 21:44] Echinaceax commented on #422
fix confirmed in PTR

[2020-12-27 22:05] mfranca0009 commented on #451
Quest log showing only 1 quest (not duplicating) and you are able to complete objective from using the item (stack of 10 Satyr Flesh):

![image](https://user-images.githubusercontent.com/26092980/103180636-84181680-4865-11eb-8367-e46913580e98.png)

![image](https://user-images.githubusercontent.com/26092980/103180640-91cd9c00-4865-11eb-94ca-f75696efca43.png)

![image](https://user-images.githubuse

[2020-12-27 22:16] mfranca0009 commented on #815
This is NOT fixed, he should have a gossip option appear when the quest is active. When you select the gossip option, he will become hostile and you fight him. This does not happen currently.

![image](https://user-images.githubusercontent.com/26092980/103180779-1e2c8e80-4867-11eb-8b6b-f97d66082229.png)

![image](https://user-images.githubusercontent.com/26092980/103180793-33a1b880-4867-11eb-9616-

[2020-12-27 23:09] Echinaceax commented on #451
tested again on live as requested , still bugged :P @mfranca0009

**Currently from the statue "Elune's Brazier" you can pick up 4 versions of the same quest.
Both Horde and Alliance versions of this quest duplicated on one character from one faction.**

could pick x2 tho not x4

![image](https://user-images.githubusercontent.com/39439201/103181463-826c4400-48a1-11eb-8501-7553afb82b3c.png)

and del

[2020-12-27 23:32] mfranca0009 commented on #423
Quest Item (spell) now only targets Overwhelmed Golems when they're dead and the burn effect is not applied on the player casting the spell.

[2020-12-27 23:45] mfranca0009 commented on #451
This should be fixed now, the `Ten Pounds of Flesh` quest should only available for the proper faction (horde for horde quest or vice versa).

[2020-12-28 00:45] mfranca0009 commented on #797
Quest item is able to be spawned, and once the totem is spawned, Magmatooth appears.

Almost fixed, still need to add Magmatooth's text interaction with player.

[2020-12-28 16:02] Echinaceax commented on #423
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/103227366-77132a00-492e-11eb-907d-f896f9f2f3e5.png)

[2020-12-29 02:02] mfranca0009 commented on #797
All set, quest can now be completed and the Fire Totem quest item can be placed. On top of that, Magmatooth is summoned when totem is put down, and he says his proper text lines and performs his proper abilities. 👍

[2020-12-29 11:25] almoghr opened #4994 "[Friend of the Sin'dorei] - ghostlands quest"
**Links:**
https://www.wowhead.com/quest=9811/friend-of-the-sindorei

**What is happening:**
im supose to go to silvermoon and visit the npc Lor'themar Theron
problem num 1: there is no reference on him in the map.
problem num 2: when i approach him, hes got a yellow question mark above the head but yet i cant complete the quest

**What should happen:**
1. map should be showing his location
2. i c

[2020-12-29 11:25] almoghr opened #4995 "[Friend of the Sin'dorei] - ghostlands quest"
**Links:**
https://www.wowhead.com/quest=9811/friend-of-the-sindorei

**What is happening:**
im supose to go to silvermoon and visit the npc Lor'themar Theron
problem num 1: there is no reference on him in the map.
problem num 2: when i approach him, hes got a yellow question mark above the head but yet i cant complete the quest

**What should happen:**
1. map should be showing his location
2. i c

[2020-12-29 11:25] #4994 closed, assigned to nobody

[2020-12-29 11:30] #4995 closed, assigned to nobody

[2020-12-29 12:00] Echinaceax commented on #4994
did you figure it out @almoghr ?

[2020-12-29 12:07] Echinaceax commented on #797
Confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/103282695-dd538780-49d6-11eb-8c6b-8772eb115f48.png)

[2020-12-30 00:18] Masqumx opened #4996 "Game crash"
Game craching after released from body in RAID and dungon
![IMG_20201229_235642](https://user-images.githubusercontent.com/74605782/103322061-e70fd600-4a3c-11eb-84c4-bbfa2281db5d.jpg) not only me got it

[2020-12-30 09:42] Echinaceax commented on #4996
@Masqumx
need a few more details

1. Is it only happening when you click release to graveyard ?
2. Did other players crash in the same way?
3. is it only after a wipe of the group or some crashed when still alive ?

the more info the devs have the more they can try an  pin point why this is happening

I do believe is could be an addon issue, coz i just searched the error on google and the steps th

[2020-12-30 11:55] #292 closed

[2020-12-30 11:55] #312 closed

[2020-12-30 11:55] #314 closed

[2020-12-30 11:55] #422 closed

[2020-12-30 11:55] #423 closed

[2020-12-30 11:55] #451 closed

[2020-12-30 11:55] #797 closed

[2020-12-30 11:55] #4317 closed

[2020-12-30 11:55] #4968 closed, assigned to mfranca0009

[2020-12-30 15:59] Echinaceax commented on #1991
- [ ] update @mfranca0009 the quest item is casting on self when not targetting npcs too

![image](https://user-images.githubusercontent.com/39439201/103365361-321efd00-4ac0-11eb-9531-08a9670ad481.png)

![image](https://user-images.githubusercontent.com/39439201/103365454-5da1e780-4ac0-11eb-89de-f1f68b6827ad.png)

[2020-12-30 16:44] mfranca0009 commented on #4996
Yes, I sent Masqumx a support link that should help him pinpoint the problem, error 132 is mainly from corrupted or out-of-date addon conflicting with the game. It could also be due to out-of-date drivers or software on PC conflicting with game. @Echinaceax

[2020-12-30 19:52] Echinaceax commented on #4501
@Rushor Seen your comment in dev chat
here is the last quest they need https://www.wowhead.com/quest=13166/the-battle-for-the-ebon-hold for the requirement

[2020-12-31 16:33] Itsshupz commented on #3887
This is still a thing though, because the difference between Item lvl with a other DK I play alot with is like Me: 354 He: 355 and He gets 4x less damage taken then me. What Stark shown you guys on the mastery / block is still not working! Please fix! Not fun playing like this popping every CD you have to hopefully stay alive!

[2020-12-31 16:35] Itsshupz commented on #3887
![image](https://user-images.githubusercontent.com/76820016/103418371-9c05d800-4b8e-11eb-86dc-6f035212e30f.png)

[2020-12-31 16:36] Echinaceax commented on #3887
Stark said its not from mastery anymore

[2020-12-31 17:08] #3887 closed

[2020-12-31 17:11] Echinaceax commented on #1066
still an issue

https://gyazo.com/a18eb2cd7f5d7676bb2b6c5467d66c81

[2020-12-31 20:30] mfranca0009 commented on #815
This should be all set, needs testing in PTR 👍

[2020-12-31 20:54] mfranca0009 commented on #814
The quest order for Feronas Sindweller quest chain in Felwood should be all set now 👍

Working on getting the battle with Arthas fixed now.

### SPELLS
Green Channeling (Feronas) - https://www.wowhead.com/spell=13540/green-channeling
Anti-Magic Zone (Area / Romo's Standard Bunny) - https://www.wowhead.com/spell=89703/anti-magic-zone-cosmetic-green-giant

### NPCS
Illidan Stormrage - https://www.wo

[2021-01-01 02:47] mfranca0009 commented on #814
This should now be all set, scripted the events, Arthas and Illidan have proper abilities, proper text lines, and you get quest credit at the end of the event. Needs testing in PTR 👍

[2021-01-01 03:15] mfranca0009 commented on #812
Going to start working on this shortly.

[2021-01-01 10:36] LightBringe1972 opened #4997 "aeosera"
**Links:**

from WoWHead or our Armory

**What is happening:**

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2021-01-01 10:37] #4997 closed, assigned to nobody

[2021-01-01 13:59] HrafnValknutt commented on #815
Fix in Dev confirmed.

[2021-01-01 16:14] mfranca0009 commented on #539
All set 👍

[2021-01-01 16:19] mfranca0009 commented on #533
Just tested this right now, was able to pick up both quests with no issue. Cannot reproduce issue anymore.

[2021-01-01 16:20] #533 closed

[2021-01-01 16:26] mfranca0009 commented on #4486
Issue should be fixed, needs testing 👍

[2021-01-01 16:46] Echinaceax commented on #539
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/103442749-56faa800-4c59-11eb-856d-fa33198d48bf.png)

[2021-01-01 16:47] mfranca0009 commented on #2296
Tonic Buff - https://www.wowhead.com/spell=88026/silversnap-swim-tonic
Increase Run Speed + Underwater Breathing - https://www.wowhead.com/spell=88416/silversnap-swim-tonic
Increase Swim Speed + Change Swim Animation to Run - https://www.wowhead.com/spell=88008/silversnap-swim-tonic

Run speed never gets adjusted and remains the same and you never get water breathing with spell 88416, this spell w

[2021-01-01 19:52] mfranca0009 commented on #566
All set and should be giving all quests in proper order from Darla Drilldozer 👍  needs testing.

[2021-01-01 22:56] Echinaceax opened #4998 "[Quest/item] Darla's Wisp Magnet - Felwood"
**Links:**
quest item https://www.wowhead.com/item=63698/darlas-wisp-magnet
quest https://www.wowhead.com/quest=28370/wisp-napping

my video https://gyazo.com/79a4520e529435a37edf47d7474f6b42

**What is happening:**
- Quest item not working to complete the quest

**What should happen:**
_Use Darla's Wisp Magnet to collect 5 Talonbranch Wisps_
https://www.wowhead.com/quest=28370/wisp-napping#videos

[2021-01-01 23:25] Echinaceax opened #4999 "[Quest] A bomb deal - Felwood"
**Links:**

https://www.wowhead.com/quest=28340/a-bomb-deal
https://www.wowhead.com/item=63516/irontree-explosives

**What is happening:**
- no quest credit after looting the explosives
looted item doesnt go into bags
https://gyazo.com/6f14cc5b408b1ed8583744498e2c79fb

**What should happen:**
_Collect 8 Irontree Explosives from Irontree Cavern._

[2021-01-01 23:40] Echinaceax commented on #4486
confirmed fixed in ptr 👍

[2021-01-01 23:54] Echinaceax commented on #814
comfirmed fixed in ptr by Valk

[2021-01-02 11:21] almoghr commented on #4994
actually the problem was at the former quest of this chain which is bugged.

zinius passed me through the quest and it didnt gave me the right item because of it.
so apparently if the former quest will be fixed then this one also

[2021-01-02 12:37] Echinaceax commented on #4994
ok thx @almoghr 👍

[2021-01-02 14:09] Butterjib opened #5000 "Dungeon Kick bug"
This bug seems to happen fairly regularly.
I have been dc'd from my 5man grp this time in Throne of the tides although it has happened in other instances also and reported by other guild members.
Upon relog - i have been ported back to my HS - Dalaran and am then ineligible to rejoin the group.   I appear as offline in the party frames even when logged in.
I can re-queue in the finder but the inst

[2021-01-02 14:31] Echinaceax commented on #5000
what Error code do you get @Butterjib ?

Error  #132

we seen this recently ourselves too , usually a corrupted file or addon issue, ive removed most of my addons now and updated DBM, i would try the same and see if it helps

[2021-01-02 15:14] Echinaceax commented on #4851
added in another fix

[2021-01-02 15:14] #4851 closed, assigned to mfranca0009

[2021-01-02 16:26] Echinaceax commented on #5000
reopened

_"I have been dc'd from my 5man grp this time in Throne of the tides"_

when you said DC'd from a 5man dungeon, that isnt kicked, thats why i closed it

[2021-01-03 10:34] Masqumx commented on #4084
any new on this bug  still not working

[2021-01-03 10:36] Echinaceax commented on #4084
not yet @Masqumx
its on the list, no ETA atm

[2021-01-03 10:39] Masqumx commented on #4084
ok only make ticket in game then and wait gm zin

[2021-01-03 16:25] almoghr opened #5001 "[The Befouled Element] - ashenvale quest"
**Links:**

https://classic.wowhead.com/quest=1918/the-befouled-element
**What is happening:**

i finish the quest and cant turn in

**What should happen:**
the question mark above the npc should be yellow
**Is it crashing the server?:**
no
**Other Information:**

[2021-01-03 20:57] Echinaceax commented on #5001
npc delivery https://classic.wowhead.com/npc=12737/mastok-wrilehiss

[2021-01-03 23:35] mfranca0009 commented on #541
Fixed in PTR, needs testing 👍

This should work as it's suppose to 100% blizzlike looting the "dead" NPC, bringing up a loot window, and obtaining Steamwheedle Ditty Bags.

[2021-01-04 00:58] Echinaceax commented on #541
confirmed fixed in ptr 👍

[2021-01-04 01:01] Echinaceax opened #5002 "[NPC] Bogpaddle Privateer"
**Links:**

https://www.wowhead.com/npc=45887/bogpaddle-privateer

**What is happening:**
- NPCs were laid down dead

**What should happen:**
they should be standing up not dead :)

[2021-01-04 01:20] mfranca0009 commented on #5002
Yes, all set and fixed in PTR 👍  SQL is uploaded with #541 as well.

[2021-01-04 13:21] Arishok opened #5003 "Restoration Shaman - Nature's Blessing Talent"
https://wow.gamepedia.com/Nature%27s_Blessing
![N's B](https://user-images.githubusercontent.com/75563910/103538794-5740b080-4eb0-11eb-8d24-8c37f7004a0d.png)

**What is happening:**
The talent ' Nature's Blessing' is not working, the direct healing on the target with the ' Earth Shield' buff is not increased.

**What should happen:**
The talent ' Nature's Blessing' should increase the direct heali

[2021-01-04 13:28] Echinaceax commented on #5003
talent ID http://cata.cavernoftime.com/spell=30869

nice i see you use IdTip @Arishok :)

[2021-01-04 15:32] almoghr opened #5004 "[Unfamiliar Waters] - orgrimmar - quest"
**Links:**

https://www.wowhead.com/quest=26311/unfamiliar-waters
**What is happening:**

i need to talk to an npc after i kill 3 mobs inside a hut and he should give me some item.
he isnt giving me anything only a screen of some written text
**What should happen:**
he should give me the item and i should be done with the quest:)

**Is it crashing the server?:**
no
**Other Information:**

[2021-01-04 16:47] Echinaceax commented on #4501
any update on this @Rushor ?

[2021-01-04 17:08] Lumber-Jack-2 commented on #4501
if player has not rewarded the quest 28517 and player is worgen and player is not deathknight > lfg fails

all else cases for worgen > lfg will work

[2021-01-04 22:34] Echinaceax commented on #3615
update also tested and confirmed for Blackwing descent

[2021-01-05 00:57] Echinaceax commented on #3775
### retested this for GM (player was human warrior)
my restest was on a Human

i think i see the issue
quest item used to summon the cub https://www.wowhead.com/item=68646/winterspring-cub

when i did **npc info** on the Winterspring Cub (entry 51677)

- [ ]  *is quest giver says (2) not (4)
![is q giver](https://user-images.githubusercontent.com/39439201/103594283-824ef280-4ef8-11eb-9850-f5496991

[2021-01-05 15:33] Echinaceax commented on #3659
bug reported here #3358 #3352

i'll close this walkthough

[2021-01-05 15:33] #3659 closed

[2021-01-05 17:59] Keader commented on #4313
Fixed

[2021-01-05 22:11] Chuonnasuan opened #5005 "Quest The Drakkensryd Storm Peaks"
**Links:**
https://www.wowhead.com/quest=12886/the-drakkensryd
from WoWHead or our Armory

**What is happening:**
When i click a Dragon, or dragonrider, I will fall through the dragon and float aroud the temple of storms without body or mount. Unable to control my char. Only option provided is to dismount and fall to a certain death

**What should happen:**
(Copy/Paste from the comments provided o

[2021-01-05 22:18] #5005 closed, assigned to nobody

[2021-01-05 22:18] Chuonnasuan commented on #5005
My apologies, i didn't see it was already a open issue. And have no idea how to delete this.

[2021-01-05 23:55] mfranca0009 commented on #939
All set, imp triggers are not showing to player (they're now set as triggers and not visible), the item spell now requires the trigger NPC to be near the player casting the spell, and the quest credit spell that is triggered by the item spell now gives credit to the caster but also party members within the same area if on the quest as well.

Lastly, the trigger NPC is despawned a second after the

[2021-01-06 00:01] Echinaceax commented on #939
Fix confirmed in ptr 👍

[2021-01-06 00:03] Echinaceax commented on #5005
no problem @Chuonnasuan :)

[2021-01-06 11:41] #539 closed

[2021-01-06 11:41] #541 closed

[2021-01-06 11:41] #566 closed

[2021-01-06 11:41] #814 closed

[2021-01-06 11:41] #815 closed

[2021-01-06 11:41] #939 closed

[2021-01-06 11:41] #4313 closed

[2021-01-06 11:41] #4486 closed, assigned to mfranca0009

[2021-01-06 11:41] #4501 closed, assigned to Lumber-Jack-2

[2021-01-06 11:41] #5002 closed, assigned to mfranca0009

[2021-01-06 17:15] Echinaceax commented on #4505
Any update on this yet @Rushor ?

[2021-01-06 23:32] TheHuman97 opened #5006 "No Pick-Pocket loot in Deepholm"
**Links:**
https://www.wowhead.com/npc=43134/stone-trogg-ambusher#pickpocketing

**What is happening:**
Pickpocketing roughly 100 Stone trogg Ambushers at the Fractured Front and 50-75 humanoid mobs within Deepholm.
The only loot recieved are ~90 copper to ~5 silver. Non of the other items mentioned above in the link.

**What should happen:**
The pick pocket loot tables should consist of the follo

[2021-01-07 16:37] Echinaceax commented on #2005
npc also missing 44860

[2021-01-07 16:40] Echinaceax opened #5007 "[NPC] Harrison Jones - 44860 (missing) - Uldum"
**Links:**

npc missing https://www.wowhead.com/npc=44860/harrison-jones

**What is happening:**
- npc missing

**What should happen:**
should be there for quest delivery
https://github.com/WoWManiaUK/Blackwing-Lair/issues/2005

**other info**
also needed for quest pickup https://www.wowhead.com/quest=27141/premature-explosionation

[2021-01-07 16:48] Echinaceax commented on #5000
Discord chat with a player about this, and yes we've had same issue

[2021-01-07 21:56] Echinaceax opened #5008 "[Item] Twilight Documents"
**Links:**
https://www.wowhead.com/item=65734/twilight-documents

**What is happening:**
- only spawns once
_only one player gets the chance to loot it the others on the quest dont, they have to waity it next dungeon to get theirs_

**What should happen:**
_should respawn for other group members to loot for their quest too_
https://www.wowhead.com/quest=28815/twilight-documents

[2021-01-08 01:27] mfranca0009 commented on #5007
Added the missing NPC, and also added the wagon full of explosives, Lady Humps (Camel), Harrison's Mule, the powder kegs on the stairs and ground, as well as the dynamite bundles.

The only thing left is the two chests that are open and the powder kegs that lay on their sides. I was unable to find these objects or NPCs and will need assistance with that. @Echinaceax

[2021-01-08 11:18] mfranca0009 commented on #4708
Added Harrison Jones (49203) and Brann Bronzebeard (49204) which was also missing. Both are spawned in the proper place now.

[2021-01-08 11:23] mfranca0009 commented on #4707
Fixed, NPC added.

[2021-01-08 11:29] mfranca0009 commented on #4706
All set, added both Harrison Jones NPCs (47158 and 49151).

[2021-01-08 11:37] mfranca0009 commented on #4704
He should be sitting in catapult, and the NPCs that are sitting in them currently are standing inside them. They need to be positioned properly in catapults and Harrison Jones needs to be placed in one of them. Will fix shortly.

### NPCs
Catapult with Nomads inside: https://www.wowhead.com/npc=48644/confiscated-artillery
Catapult with Harrison Jones inside: https://www.wowhead.com/npc=48699/confi

[2021-01-08 11:46] mfranca0009 commented on #3244
NPC added, fixed.

The dead pygmy is from this quest: https://www.wowhead.com/quest=27141/premature-explosionation

When the explosion goes off, the chests that you hide in are thrown over to that location, knocking the pygmy out cold and killing it. When you get out of the chest, the NPC should be standing there after the cut-scene is finished.

premature explosionation quest is currently broken,

[2021-01-08 11:47] mfranca0009 commented on #2005
This quest needs a area trigger script to complete quest, will work on this shortly.

[2021-01-08 14:49] mfranca0009 commented on #4704
fixed the vehicle corrections, added the weathered nomad that provides daily quest, and added Harrison Jones that gives out a quest that's part of a main chain for Uldum.

Quest fixes will come soon for:
https://www.wowhead.com/quest=28497/fire-from-the-sky
https://www.wowhead.com/quest=28736/fire-from-the-sky

It requires more work on the vehicle situation and proper camera positioning for aerial

[2021-01-08 15:15] Echinaceax opened #5009 "[Quest/Daily] Fire From the Sky -28736- Uldum"
**Links:**

https://www.wowhead.com/quest=28736/fire-from-the-sky
https://www.wowhead.com/npc=48629/schnottz-infantryman

**What is happening:**

- [ ] vehicle is broken, player can't get onto it to complete quest and cause they can't get on the vehicle they won't be able to use the catapult for the quest and kill the NPCs

**What should happen:**
_Board the Confiscated Artillery and use it to kil

[2021-01-09 13:11] #3244 closed

[2021-01-09 13:11] #4704 closed, assigned to mfranca0009

[2021-01-09 13:11] #4706 closed, assigned to mfranca0009

[2021-01-09 13:11] #4707 closed, assigned to mfranca0009

[2021-01-09 13:11] #4708 closed, assigned to mfranca0009

[2021-01-09 13:36] Keader commented on #5003
fixed

[2021-01-09 14:26] Keader commented on #4261
fixed

[2021-01-09 21:18] Itsshupz commented on #2298
This isnt working atm. Just tested it out and it didnt work.

[2021-01-09 22:26] Echinaceax commented on #2298
please explain in what way @Itsshupz keader will need details

[2021-01-10 10:52] Itsshupz commented on #2298
So, **The Bane of Havoc** is a Spell that Banes the target for 5 min, causing 15% of all damage done by the warlock to other targets to also be dealt to the baned targets. So for instance I have 2 targets and 1 target should have the bane and I hit the first target with 10000, the other target who is baned should receive 1500 damage. This is not working because the targed who has the bane isnt get

[2021-01-10 10:54] Echinaceax commented on #2298
@Keader can you take another look at this please

orig fix was for
_How it works atm: Transfers too much damage and interacts weird with Burning embers._

now seems something not right

[2021-01-10 11:57] LightBringe1972 opened #5010 "The blessing of Zim'Rhuk"
**Links:**

from WoWHead or our Armory

**What is happening:**
Collected 10x drakari offerings, cannot interact with the statue to hand in the quest.

**What should happen:**
Once you have the 10x drakari offerings, the statue gives a a buff that lasts only in Zul Drak map
**Is it crashing the server?:**
no
**Other Information:**

[2021-01-10 12:06] Echinaceax commented on #5010
@LightBringe1972 ive dont this quest on most all my chars and is fine for me, i will check on a toon i havent done it on

[2021-01-10 12:23] Echinaceax commented on #5010
comfirmed not clickable

[2021-01-10 12:54] LightBringe1972 commented on #1817
the GUI that is supposed to appear when you put a abomination under control is missing.

[2021-01-10 12:57] Echinaceax commented on #5010
i tested a few other ways and i found that you can actually deliver it back standing here

![stand here](https://user-images.githubusercontent.com/39439201/104123492-ca807180-534b-11eb-9572-8ac485df9cb2.jpg)

[2021-01-10 12:58] #5010 closed, assigned to nobody

[2021-01-10 12:59] LightBringe1972 opened #5011 "It rolls downhill"
**Links:**

from WoWHead or our Armory

**What is happening:**
You use the scepter of suggestion and control one of the blight geists. Once controlled, the GUI does not appear and the creature cannot be controlled. It just carries on doing what is was doing before being controlled.

**What should happen:**
Once you control a blight geist, you are able to harvest the blight crystals.
**Is it crashi

[2021-01-10 13:06] LightBringe1972 commented on #5010
thx echi :)

[2021-01-10 13:22] Echinaceax commented on #5010
np lightbringer :P

[2021-01-10 13:23] Echinaceax commented on #5011
quest https://www.wowhead.com/quest=12673/it-rolls-downhill
quest item https://www.wowhead.com/item=39157/scepter-of-suggestion

confirmed
https://gyazo.com/05257f57951e74ebd59a0a4b1e73261c

[2021-01-10 13:35] Echinaceax commented on #1817
confirmed not fixed
https://www.youtube.com/watch?v=aTVhGhDurJc

tested with and without the scourge disguise

without https://gyazo.com/39dfd319645736b7b08471cc5ace988d
with https://gyazo.com/ce5b5875b59bfb4f381c53ba7f60a4df

[2021-01-10 17:56] mfranca0009 commented on #5007
May have found a lead on the proper powder kegs and opened chests for the `Premature Explosionation` quest.

https://www.wow-freakz.com/object_finder.php?object=205241&name=powder-keg
https://www.wow-freakz.com/object_finder.php?object=205394&name=powder-keg
https://www.wow-freakz.com/npc_finder.php?npc=45161&name=uldum-chests-vehicle-bunny-00
https://www.wow-freakz.com/spells.php?spell=84330&name

[2021-01-11 00:27] mfranca0009 commented on #5007
Powder kegs are completely done, including the one needed for the quest. The quest still needs to be scripted though, and is currently not completable.

Still working on the open chests situation, which is also part of the quest and a visual of the area at Khartut's Tomb.

[2021-01-11 04:20] mfranca0009 commented on #5007
All set 👍

[2021-01-11 14:19] mfranca0009 commented on #2005
All set, the quest is now completable 👍

[2021-01-11 14:25] mfranca0009 commented on #2165
Large fix required, needs the proper cut-scene, needs the plane to be spawned, and needs (most likely) the correct vehicle seating correction cause I'm going to assume it doesn't have a vehicle ID at the moment; will look into it soon.

[2021-01-11 14:31] almoghr opened #5012 "[going deep] - quest - desolace"
**Links:**

https://www.wowhead.com/quest=14260/going-deep

**What is happening:**

i get a disguise as an item and i need to use it to talk to the big naga lady. the disguise doesnt work

**What should happen:**
i should become a naga disguised and talk to the naga lady to complete the quest
**Is it crashing the server?:**
no

**Other Information:**

https://www.wowhead.com/item=49064/slitherblad

[2021-01-11 14:38] almoghr commented on #5012
btw this issue is holding back 7 quests from being able to happen as you can see in the wowhead link above

[2021-01-11 15:45] mfranca0009 commented on #444
All set 👍

[2021-01-11 16:14] Echinaceax commented on #444
confirmed fixed in PTR

note: dont forget to weaken him first or the quest item cant be used

![compl](https://user-images.githubusercontent.com/39439201/104207128-861ad180-5430-11eb-813b-ce33aad5bd99.jpg)

[2021-01-11 17:31] HrafnValknutt commented on #4261
![WoWScrnShot_011121_202920](https://user-images.githubusercontent.com/72864958/104217345-55e12c00-544c-11eb-9f93-56bce257a14e.jpg)

Fixed in Dev confirmed.

[2021-01-11 17:43] HrafnValknutt commented on #5003
![WoWScrnShot_011121_204044](https://user-images.githubusercontent.com/72864958/104218333-a60cbe00-544d-11eb-81ec-54c6958ec5d7.jpg)

Fixed in Dev confirmed.

[2021-01-11 22:35] Echinaceax opened #5013 "[Raid] ICC Achievements"
### on live we did ICC 10 tonight and we got both 10 and 25 man Achievements

**Links:**

https://www.wowhead.com/achievement=4604/storming-the-citadel-25-player
https://www.wowhead.com/achievement=4605/the-plagueworks-25-player
https://www.wowhead.com/achievement=4606/the-crimson-hall-25-player
https://www.wowhead.com/achievement=4607/the-frostwing-halls-25-player

**What is happening:**
- giving

[2021-01-11 22:48] Echinaceax opened #5014 "[BOSS] The Lich King - Icecrown Citadel"
**Links:**

https://www.wowhead.com/npc=36597/the-lich-king

**What is happening:**
- The Lich King evade all totally bugged
- no Traunt
- no aggro range

tarrain issue

**What should happen:**
shouldnt evade
should take taunt
should take dmg

https://www.wowhead.com/npc=36597/the-lich-king#videos:id=65

[2021-01-11 22:57] Echinaceax opened #5015 "[Raid] Cache of the Dreamwalker - Icecrown Citadel"
**Links:**
https://www.wowhead.com/object=201959/cache-of-the-dreamwalker
https://www.wowhead.com/npc=36789/valithria-dreamwalker

**What is happening:**
- gave 3 items instead of 2

**What should happen:**
Should only give 2

![CASH OF THE DREAMWALKER](https://user-images.githubusercontent.com/39439201/104247837-c7c76e80-5468-11eb-97d9-0ff475b19445.png)

[2021-01-12 01:11] mfranca0009 commented on #4204
### Classic Quest IDs
**Alliance:** https://classic.wowhead.com/quest=1284/suspicious-hoofprints
**Horde:** https://classic.wowhead.com/quest=1268/suspicious-hoofprints

### Modern Quest IDs (After Classic)
**Alliance:** https://www.wowhead.com/quest=27262/suspicious-hoofprints
**Horde:** https://www.wowhead.com/quest=27259/suspicious-hoofprints

[2021-01-12 01:18] mfranca0009 commented on #4204
Seems in the database, the classic quest IDs are stated as DEPRECATED, which means they should be disabled and they were not.

The Modern Quest IDs should now also have their proper "allowable factions" set so that Alliance should receive the Alliance quest and Horde should receive the Horde quest as it should be.

Needs testing in PTR 👍

[2021-01-12 01:32] mfranca0009 commented on #4153
This needs re-testing, because at the moment what is being said is the complete opposite of what is happening on the database side. @Echinaceax

Quest 28496 (https://www.wowhead.com/quest=28496/warchiefs-command-azshara) Has a previous Quest requirement for it to be unlocked and it has a Quest that will be awarded when it is turned in.

The prerequisite that is required is this quest in order to o

[2021-01-12 01:41] mfranca0009 commented on #316
Removing `In Progress` tag, main problem is items are not saved in the database and saved within a db2 file. Not sure if there is a page text ID already associated with this item within that file or not; I'll come back to it.

[2021-01-12 04:05] onetoejoe opened #5016 "Worgen Female textures replaced with male, deformities, and now showing gear."
**Links:**
Imgur image link to problem:
https://imgur.com/a/pWZhyTZ

**What is happening:**

My friends and i made worgen characters to level together, 1 was female. After we got bitten in the questline and actually changed into worgen, the female character's body textures were replaced with male, and the face and hair textures were replaced with male face textures....Also, the armor did not show,

[2021-01-12 04:07] #5016 closed, assigned to nobody

[2021-01-12 04:08] onetoejoe opened #5017 "Worgen Female Texture Issue? Also, Not Showing Gear."
**Links:**
![20210101_210233](https://user-images.githubusercontent.com/77313605/104268319-dd309e80-5450-11eb-8bfd-2e26c350c8bc.jpg)
![20210101_210521](https://user-images.githubusercontent.com/77313605/104268323-e0c42580-5450-11eb-933d-f1843e53c36d.jpg)

**What is happening:**

My friends and i made worgen characters to level together, 1 was female. After we got bitten in the questline and actual

[2021-01-12 04:45] mfranca0009 commented on #5016
#5017

[2021-01-12 11:03] Echinaceax commented on #5017
@onetoejoe
there has be a lot of different test and fixes about this issue, from pot transformation use, and form change (two forms)
i think it was and (running wild) it is a client issue

keader commented here https://github.com/WoWManiaUK/Blackwing-Lair/issues/3021 and fix here https://github.com/WoWManiaUK/Blackwing-Lair/issues/3033

Are you using the newest client 1.1.0 from the Reign site?

h

[2021-01-12 12:21] Echinaceax commented on #3855
will add to one report

[2021-01-12 12:21] #3855 closed

[2021-01-12 12:31] Echinaceax commented on #4396
adding more issue to one report its easier to keep track

#3855
#5017

[2021-01-12 12:32] Echinaceax commented on #5017
moved to main report #4396

[2021-01-12 12:32] #5017 closed, assigned to nobody

[2021-01-12 12:42] Echinaceax commented on #2551
Still an issue

[2021-01-12 17:29] Echinaceax opened #5018 "Spell: Soul swap/glyph of soul swap - warlock"
### Reported by ingame player

**Links:**

https://www.wowhead.com/spell=86121/soul-swap
https://cata-twinhead.twinstar.cz/?item=42466

**What is happening:**
warlock's soul swaps always works as if glyphed even when you don't glyph

**What should happen:**
should not give the bonus of the glyph only should give function of spell
![soul swap](https://user-images.githubusercontent.com/39439201/1043

[2021-01-13 01:38] mfranca0009 commented on #5013
### Main Issue

10 man normal raid is sharing progress with 25 man normal raid, and vice versa. The only difference is if you kill `Deathbringer Saurfang` in 25 man normal raid then you won't get the achievement because it doesn't count him as achievement credit; which is a problem.

If you kill `Deathbringer Saurfang` in 10 man normal raid, then you will obtain credit for both the 10 man and 25 m

[2021-01-13 07:39] Echinaceax commented on #5013
Note:
that Me and Mfranca have only worked on the https://www.wowhead.com/achievement=4604/storming-the-citadel-25-player for now, So not all have been looked into yet.

Janitor is aware ...

[2021-01-13 17:00] mfranca0009 commented on #5013
Can take a look again later, but at this point it seems like a larger problem is happening and its not differentiating between difficulty for 10 man or 25 man for normal mode.

[2021-01-14 00:04] mfranca0009 commented on #4460
All set 👍

[2021-01-14 09:20] Echinaceax commented on #4460
confirmed fixed in PTR

![fixed2](https://user-images.githubusercontent.com/39439201/104570367-1f74fe00-5652-11eb-9ae7-5e4929ae658d.jpg)

[2021-01-14 20:35] mfranca0009 commented on #812
All set 👍

[2021-01-14 21:18] Echinaceax commented on #4204
confirmed fixed in PTR

both factions

[2021-01-14 21:20] Echinaceax commented on #812
confirmed fixed in PTR

[2021-01-14 23:36] Itsshupz opened #5019 "Halls of Origination - Temple Guardian Anhuur"
**Links:**
www.wowhead.com/npc=39425/
from WoWHead or our Armory

**What is happening:**
Every 20 seconds the boss resets and gains full health.

**What should happen:**
Should go trough with the fight and pop a shield to drop down and pull the levers.

**Is it crashing the server?:**
No.

**Other Information:**
Cant get trough the rest of the dungeon because it is the first boss.

[2021-01-14 23:41] Echinaceax commented on #5019
nothing wrong with this dungeon, done it many times myself
tell your tank not to use any interepts 😉

[2021-01-14 23:41] #5019 closed, assigned to nobody

[2021-01-15 23:18] mfranca0009 commented on #813
All set 👍

[2021-01-16 01:10] mfranca0009 commented on #5013
Recently tested, The Frozen Throne achievement (25-man) is also given out in 10-man normal difficulty.
https://www.wowhead.com/achievement=4597/the-frozen-throne-25-player

I haven't tested this, but I assume that Fall of the Lich King (25-man) achievement would also be given out in 10-man normal difficulty as well...

https://www.wowhead.com/achievement=4608/fall-of-the-lich-king-25-player

[2021-01-16 01:13] mfranca0009 commented on #5014
@Echinaceax Just went into ICC myself and went to lich king and started the event.

He walked down the stairs, said his lines, and froze Highlord Tirion Fordring. Then he was attackable, and started summoning his ghouls and then he also went to the center of the room and uses his AoE ice/snow ground effect.

The only time he was evading my attacks was the very beginning, and he only evaded once. A

[2021-01-16 03:17] mfranca0009 commented on #5013
I figured out the problem I was having originally, Storming The Citadel should be fixed for 10man, 25man, 10 heroic, 25 heroic.
Fixing the rest now 👍

![image](https://user-images.githubusercontent.com/26092980/104795843-598fee00-577f-11eb-9983-501329100aff.png)

[2021-01-16 03:45] mfranca0009 commented on #5013
**All fixed for the achievements listed below that were known to have issues:**
- Storming The Citadel
- The Plagueworks
- The Crimson Hall
- The Frostwing Halls
- The Frozen Throne

If there are any others that are a problem, open new issue.

[2021-01-16 05:12] mfranca0009 commented on #5008
All set 👍

[2021-01-16 05:22] mfranca0009 commented on #5012
Item spell doesn't trigger disguise, these spells trigger the disguise, underwater breathing, and movement speed boost:

Female: https://www.wowhead.com/spell=68165/naga-disguise
Male: https://www.wowhead.com/spell=68086/naga-disguise

The effect needs to be scripted.

[2021-01-16 05:52] mfranca0009 commented on #5012
Fixed 👍

BUT there's going to be further problems with: https://www.wowhead.com/quest=14264/wetter-than-wet

If you watch the video for this quest (https://www.youtube.com/watch?v=hBn23UnLiyI), you should have a vehicle bar with specific spells to use with this disguise. This vehicle bar does not appear, so this will also need to be scripted. Needs a new issue open, and most likely the rest of the

[2021-01-16 09:08] Echinaceax commented on #5014
@mfranca0009

when we did it, we did with 7 guildies

he came down the stairs
spoke his lines
summoned his ghouls
but didnt go into the centre of the room, Valknut couldnt taunt him to move either

we killed ourselves 3 times to restart the event, then gave up for the night

[2021-01-16 09:16] Echinaceax commented on #5008
what timer for respawn @mfranca0009
or was it a group loot fix ?

[2021-01-16 09:18] mfranca0009 commented on #5008
No timer and no group loot, there is a setting to allow such gameobjects to have them never despawn. If you already received the quest item or you aren't on the quest then you can't interact with it.

[2021-01-16 09:31] Echinaceax commented on #5008
timer is 5 mins for respawn, i just timed it lol

i looted it for myself and the respawn took exactly 5 mins to respawn again.
thats what i meant it is still despawning when i loot it then it respawns for next player 5 mins later
(when they have moved to next boss) lol

[2021-01-16 09:48] Echinaceax opened #5020 "[Quest] Wetter Than Wet - Desolace"
**Links:**

https://www.wowhead.com/quest=14264/wetter-than-wet

**What is happening:**
- vehicle bar does not appear

**What should happen:**
should have vehicle bar

[2021-01-16 10:51] Echinaceax commented on #4988
ive checked this myself with the ingame atlasloot

- no squall line should be on phase 3

![stage 3 no squall line should be on phase 3 ](https://user-images.githubusercontent.com/39439201/104809931-69481a80-57f1-11eb-84b4-7da49b11d805.jpg)

[2021-01-16 11:56] Echinaceax commented on #5008
fixed in PTR

[2021-01-16 12:40] almoghr opened #5021 "[riders-on-the-storm] - desolace quest"
**Links:**

https://www.wowhead.com/quest=14198/rider-on-the-storm
https://www.wowhead.com/item=48249/raging-vortex-gem
**What is happening:**
i click on the raging vortex and nothing happens

**What should happen:**
the raging vortex should join me and help me kill whoever is needed
**Is it crashing the server?:**
no
**Other Information:**

added the item info form wowhead uptop

[2021-01-16 13:46] Echinaceax commented on #5013
CONFIRMED fixed in PTR

[2021-01-16 13:47] Echinaceax commented on #813
CONFIRMED fixed in PTR

[2021-01-17 02:11] mfranca0009 commented on #5015
Should be fixed now 👍

[2021-01-17 17:22] Eyamola opened #5022 "[Quest] Following the young home - Twilight Highlands"
**Links:**

https://www.wowhead.com/quest=28176/following-the-young-home
https://www.wowhead.com/item=63126/mothers-flame

**What is happening :**

Quest provided item "Mother's Flame" isn't usable near the egg stacks.
Also when venturing into the cave the "Obsidian lair infiltrated" objective isn't completed, but maybe that's because the first one is missing (having hatched an egg).

**What shoul

[2021-01-18 14:39] Echinaceax opened #5023 "[Profession] Archaeology (un-accessible digsites)"
**Links:**

https://cata-twinhead.twinstar.cz/?spell=78670

**What is happening:**

- Dig site are un-accessible most of the time, either inside a mountain or inside a tree stump

**What should happen:**
Dig sites should be positioned where they are accessible

**Other Information:**
the workaround atm is that players have to do a relog to get the digsite to reset the postition,
This is a very fru

[2021-01-18 16:41] Marvin5678 commented on #1253
i still hve that issue

[2021-01-18 16:42] Echinaceax commented on #1253
Hi @Marvin5678
is it still a distance issue ?

[2021-01-18 16:42] Marvin5678 commented on #1253
it is still an issue with me plese help

[2021-01-18 16:47] Echinaceax commented on #1253
Hi @Marvin5678
is it still a distance issue ?

[2021-01-18 16:51] Marvin5678 opened #5024 "[Spell/talent] Improved Judgement"
**Links:**

from WoWHead or our Armory

**What is happening:**
Hi in my specs i set Improved Judgement and it must increase distannce but in my case on first target its ok but when i selected on another it isn't. i must cone to target to work sory for my english not my native.
is anyone else experience that

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2021-01-18 17:12] Echinaceax commented on #5024
https://cata-twinhead.twinstar.cz/?spell=87175

[2021-01-18 17:34] Marvin5678 commented on #1253
yes it still targeting only main target not the others

On Mon, Jan 18, 2021 at 5:47 PM Echinaceax <notifications@github.com> wrote:

[2021-01-18 17:35] Marvin5678 commented on #5024
ohh ok tnx

On Mon, Jan 18, 2021 at 6:12 PM Echinaceax <notifications@github.com> wrote:

[2021-01-18 18:55] Echinaceax commented on #5023
- [ ] Orc Archaeology Fragment

https://www.wowhead.com/currency=397/orc-archaeology-fragment

![halaa outland](https://user-images.githubusercontent.com/39439201/104953680-23dd4600-59c7-11eb-98e7-63254aa479be.jpg)

- [ ] https://www.wowhead.com/currency=398/draenei-archaeology-fragment

![netherstorm](https://user-images.githubusercontent.com/39439201/104962097-01075d80-59d8-11eb-81ba-3a598175acb

[2021-01-19 08:22] Echinaceax commented on #1253
### confirmed still has issues

@Keader still has issues

out of range issue = no bounce
https://gyazo.com/75e7b4b152ebf5e0af59c8a5490d57fe

range good = bounce to other target
https://gyazo.com/9537d0c12d5c6cb7664d28cc798dbed9

spare test on different mobs, seems to only work when mobs are in range of each other
https://gyazo.com/d224226a2bee5b17c29dfa32dfb0e44b

[2021-01-19 11:05] #4261 closed

[2021-01-19 11:05] #5003 closed, assigned to Keader

[2021-01-19 11:58] almoghr opened #5025 "distress beacon - item - aint triggering a quest (issue2)"
**Links:**
https://classic.wowhead.com/item=8705/oox-22-fe-distress-beacon
https://classic.wowhead.com/quest=2766/find-oox-22-fe
**What is happening:**

i click on the item and it says i do not meet the requirements for starting the quest
**What should happen:**
i should have  a quest starting
**Is it crashing the server?:**
no
**Other Information:**
quest link and item link are listed up above

[2021-01-19 12:44] Marvin5678 commented on #1253
i try it it is still an issue with me tnx anyway

On Tue, Jan 19, 2021 at 9:22 AM Echinaceax <notifications@github.com> wrote:

[2021-01-19 12:50] Echinaceax commented on #1253
i confirmed the issue for you @Marvin5678
Will be fixed when Coders get to it on the list
thanks

[2021-01-19 13:11] Marvin5678 commented on #1253
Thank you!

On Tue, Jan 19, 2021 at 1:51 PM Echinaceax <notifications@github.com> wrote:

[2021-01-19 13:28] #444 closed

[2021-01-19 13:28] #812 closed

[2021-01-19 13:28] #813 closed

[2021-01-19 13:28] #4204 closed

[2021-01-19 13:28] #4460 closed, assigned to mfranca0009

[2021-01-19 13:28] #5007 closed, assigned to mfranca0009

[2021-01-19 13:28] #5008 closed, assigned to mfranca0009

[2021-01-19 13:28] #5012 closed, assigned to mfranca0009

[2021-01-19 13:28] #5013 closed, assigned to mfranca0009

[2021-01-19 13:28] #5015 closed, assigned to mfranca0009

[2021-01-19 13:58] Echinaceax commented on #5025
hi @almoghr i found no issue with it on PTR
Will test on live server

![not an issue for me](https://user-images.githubusercontent.com/39439201/105044198-c6003b00-5a66-11eb-8242-582f1bc5b55f.jpg)
![quest ](https://user-images.githubusercontent.com/39439201/105044218-c8fb2b80-5a66-11eb-9618-dcb62b78aeac.jpg)

[2021-01-19 14:49] Echinaceax commented on #5025
spoke with player

the 2nd quest is availible before the 1st has been delivered (via the drop)
I will report the other quest and close this one

reported it here #5026

![2nd quest here](https://user-images.githubusercontent.com/39439201/105050256-e253a600-5a6d-11eb-9727-919963138d45.jpg)

[2021-01-19 14:50] #5025 closed, assigned to nobody

[2021-01-19 14:56] Echinaceax opened #5026 "[Quest] Rescue OOX-22/FE! - Feralas"
**Links:**

2nd quest https://classic.wowhead.com/quest=2767/rescue-oox-22-fe
1st quest https://classic.wowhead.com/quest=2766/find-oox-22-fe

**What is happening:**
- This quest is available before the 1st quest is delivered
which messes up the player when the 1st quest does drop

**What should happen:**
shouldnt be available until the 1st quest is delevered

**Other Information:**
player gets th

[2021-01-20 11:36] Echinaceax commented on #2977
happened to us on monday night too
can confirm that the dialog to restart the event isnt there

**what should happen**
_After Wiping at Illidan Akama should be back at his original position with the Dialogue to start the Combat._

[2021-01-20 21:31] Echinaceax commented on #4878
update

slipstream appears when last boss is dead But
inactive atm ..just needs fixing  @mfranca0009

![stipsteam here ](https://user-images.githubusercontent.com/39439201/105243330-33978e80-5b6f-11eb-9b73-b6e3cb9d20dc.jpg)

[2021-01-20 23:07] mfranca0009 commented on #4651
This issue should now be resolved, I made several changes related to the commit from TrinityCore having a similar problem and needing to update multiple core files (Loot, Player, LootMgr, Item, etc.):
[#13300](https://github.com/TrinityCore/TrinityCore/issues/13300)

After these changes, it seems that it helped when the original master looter re-connected to give the master looter role to someone

[2021-01-21 11:31] Echinaceax commented on #2654
Update
Quest is completable ..just the npc doesnt move
after a short while once you leave the cave it completes just withough him following the player

[2021-01-21 11:50] Echinaceax commented on #2186
Update
Due to the phasing issues for mount hyjal players are randomly picking up what ever quests they can to complete the zone, which is messing up alsorts of quests

this quest is ofter to early

Storyline order for these
An Offering for Aviana - The Wormwing Problem - Scrambling for Eggs - A Bird in Hand - A Prayer and a Wing

![order1](https://user-images.githubusercontent.com/39439201/1053474

[2021-01-21 20:20] mfranca0009 commented on #4651
### MAIN ISSUE

- [ ] When master looter crashes or ALT-F4, then a group member tries to loot boss corpse, it will make it impossible for original master looter to distribute loot when logging back in (NO MASTER LIST SHOWS UP).

**If none of the group members try to loot boss corpse, then master looter can re-log in and distribute loot normally.**

[2021-01-22 02:48] mfranca0009 commented on #3320
All set 👍 , had to:

- Edit item script to return the proper value (marking it as the item was used by player)
- Change spell cooldown in item template to 60 minutes (3600000 miliseconds)
- Add the flagCustom value of 1 (shows live cooldown tracker on item after use)
- Add spell attribute to make cooldown continue while player is logged out

[2021-01-22 05:01] mfranca0009 commented on #4651
Almost everything has been done to try resolving the loot issue when the master looter crashes. At this time, simple solution: give someone else the master looter role if original master looter crashes and someone has already looted the creature/boss.

Can't do much of anything else, cause I can't tell what's happening when a player crashes. I assume, it's just not saving the player's data when cr

[2021-01-22 09:48] Echinaceax commented on #3320
confirmed fixed in PTR

![NICE](https://user-images.githubusercontent.com/39439201/105475463-b0c22100-5c9f-11eb-801d-e2d38c77e98e.jpg)
![item not ready yet](https://user-images.githubusercontent.com/39439201/105475081-44dfb880-5c9f-11eb-8756-e74231f10131.jpg)
![mallstone timer](https://user-images.githubusercontent.com/39439201/105475100-49a46c80-5c9f-11eb-98f5-646e3a0919c7.jpg)

[2021-01-22 09:56] Echinaceax commented on #4651
Agreed @mfranca0009
As long as players DONT try and loot when the Masterlooter has DC'd all is fine with what you fixed.

**Players**
If your master looter has DC/crashed for whatever reason, just wait for them to relog (then there is no issue)
If you do, then what you have to do is: when the master looter relogs they have to assign a new masterlooter then they can loot for the group

[2021-01-22 10:31] Danie123 commented on #4489
@Echinaceax

I Have addressed all the mobs and the bosses in firelands with what they need to drop and the drop rate

just to let you know.

[2021-01-22 10:39] Echinaceax commented on #4489
hi @Danie123
I see you deleted your comment, you can PM me in discord if you like too

[2021-01-22 10:56] Echinaceax commented on #5023
note:
im not sure how this will be fixed coz of the random spawns,

- [ ] The sites maybe missing the amount of fragments per site...
- [ ] Or position of digsite can be repositioned...

All i know is wow its so hard to lvl this profession coz of this issue, relogging whenever you have a fragment out of reach

[2021-01-22 17:39] Echinaceax commented on #3150
closing this for now seems its ok

[2021-01-22 17:39] #3150 closed

[2021-01-22 22:30] mfranca0009 commented on #2970
The real issue is, he isn't in the correct phase. If you don't use the quest item potion, then you can kill him in the normal phase and get the item.

Will look into this shortly.

[2021-01-23 18:38] ocop09 opened #5027 "Stable masterstable master and flight master bug (issue 2)"
Hello there.
When I handed over a boar belonging to 35 LVL hunters to the stable master, I received the following error and subsequently all my flight routes I learned were lost.

https://i.hizliresim.com/KQIj40.png

[2021-01-24 10:35] Echinaceax commented on #5027
It has been reported here #4185 never seen the flightpaths disapear though, many of the flight paths dont need to be discovered in Cata so not sure why the stable but is interfering with flight paths

[2021-01-24 12:56] almoghr opened #5028 "[The Twilight Skymaster] - thousand needles"
**Links:**

https://www.wowhead.com/quest=28098/the-twilight-skymaster
**What is happening:**

i need to get a flight from one of the mobs and cant get it

**What should happen:**
i should be able to take the flight and continue with the quest
**Is it crashing the server?:**

**Other Information:**
no

[2021-01-24 13:45] Echinaceax opened #5029 "[NPC] Magatha Grimtotem - 47745 (missing) - Thousand Needles"
### Reported by a player to a GM

**Links:**
https://www.wowhead.com/npc=47745/magatha-grimtotem

**What is happening:**
- npc missing

**What should happen:**
npc needed for quest delivery and quest pickup

**other info**

quest delevery https://www.wowhead.com/quest=28142/to-the-withering
quest pick up https://www.wowhead.com/quest=28157/four-twilight-elements
quest pick up https://www.wowhead.c

[2021-01-24 14:59] Echinaceax commented on #1161
also quest delivery npc is missing #5029

[2021-01-24 16:12] Echinaceax opened #5030 "[Spell/Talent] Savage Defense"
### Reported by ingame players

**Links:**

https://wowwiki.fandom.com/wiki/Savage_Defense
https://cata-twinhead.twinstar.cz/?spell=62600

**What is happening:**
- Absorb amount is very low

**What should happen:**

**patch 4.1 changes**

Patch 4.1.0 (26-Apr-2011): Savage Defense has been redesigned slightly. Instead of a single charge absorption, it now places an absorption effect on the druid ab

[2021-01-24 17:15] Echinaceax opened #5031 "[Quest Item] Charred Staff Fragment - Mount hyjal"
**Links:**

item https://www.wowhead.com/item=54461/charred-staff-fragment
quest https://www.wowhead.com/quest=25472/the-flameseers-staff

**What is happening:**
- Recently its been noticed that the quest item isnt showing as it was before

**What should happen:**
Quest item should be spawned and respawn for players to complete the quest

**Other Information:**
GM says 2 players have same issue

[2021-01-25 10:18] Echinaceax opened #5032 "[Objects] Gameobjects missing"
**Links:**
https://www.wowhead.com/quest=25472/the-flameseers-staff
https://www.wowhead.com/quest=27750/war-forage
https://www.wowhead.com/object=206786/windspeaker-pylon

#5031

**What is happening:**
- Noticed since fixing #5008 other objects from other quests are not spawning

**What should happen:**
need objects to spawn like before :)

[2021-01-26 21:59] mfranca0009 commented on #5032
Issue resolved within the core, shouldn't be a problem anymore once update goes to live 👍

[2021-01-26 22:00] mfranca0009 commented on #5031
#5032 issue has been resolved as a whole inside core code, should be fixed once update goes to live 👍

[2021-01-26 22:31] mfranca0009 commented on #5026
Quest order should be fixed 👍

[2021-01-26 23:52] Echinaceax commented on #2132
@mfranca0009

tool tip

![rune](https://user-images.githubusercontent.com/39439201/105921519-35fb5c00-6039-11eb-968a-2fbacf748cfd.jpg)

parry chance increased by 20

![rune1](https://user-images.githubusercontent.com/39439201/105921559-414e8780-6039-11eb-8245-e1457ce1c845.jpg)

nothing from the rune weapon

![rune2](https://user-images.githubusercontent.com/39439201/105921654-6d6a0880-6039-11eb-9f

[2021-01-27 21:52] mfranca0009 commented on #3913
Seems to be fixed now after I made multiple skinning changes 👍

[2021-01-27 21:54] #3913 closed

[2021-01-27 22:13] Echinaceax commented on #4237
adding to other report, closing this one #5023

[2021-01-27 22:14] #4237 closed

[2021-01-27 23:18] mfranca0009 commented on #4656
Should be all set 👍

[2021-01-27 23:19] mfranca0009 commented on #4657
Should be all set 👍

[2021-01-27 23:24] mfranca0009 commented on #4658
Should be all set 👍

[2021-01-27 23:27] mfranca0009 commented on #4907
Should be all set 👍

[2021-01-27 23:55] mfranca0009 commented on #4970
Should be all set 👍

[2021-01-28 09:22] almoghr opened #5033 "[Still Beating Heart] - Azshara quest"
**Links:**

https://www.wowhead.com/quest=14487/still-beating-heart
**What is happening:**
the item to call the friends for help aint working so most of the quest that realted to the item are bugged

**What should happen:**
the item should work and there should be a continousy with the questline

**Is it crashing the server?:**
no
**Other Information:**

https://www.wowhead.com/item=49629/gob-squa

[2021-01-28 09:24] almoghr opened #5034 "[Ticker Required] - Azshara quest"
**Links:**

https://www.wowhead.com/quest=14485/ticker-required
**What is happening:**

same thing as the itme problem in my former  report.. the item not working so cant do the quest

**What should happen:**
the item should work
**Is it crashing the server?:**
no
**Other Information:**

[2021-01-28 09:25] almoghr opened #5035 "[Trouble Under Foot] - Azshara quest"
**Links:**

https://www.wowhead.com/quest=14226/trouble-under-foot
**What is happening:**

i try to kill the adds but it doesnt work

**What should happen:**
the adds should be killed and i can gain the quest
**Is it crashing the server?:**
no
**Other Information:**

[2021-01-28 09:28] almoghr opened #5036 "[The Doomstone] - thousand needles"
**Links:**

https://www.wowhead.com/quest=28159/the-doomstone
**What is happening:**

i need to kill the boss for getting the stone but the boss is untouchable

**What should happen:**
the boss shold be able to kill
**Is it crashing the server?:**
no
**Other Information:**

[2021-01-28 09:43] almoghr opened #5037 "[The Pinnacle of Learning] - Azshara quest"
**Links:**

https://www.wowhead.com/quest=14413/the-pinnacle-of-learning
https://www.wowhead.com/npc=35187/image-of-archmage-xylem
**What is happening:**

the npc (ID 36334) is missing i need to turn in a quest and cant
https://www.wowhead.com/npc=36334/image-of-archmage-xylem

**What should happen:**
the npc should be there:)

[2021-01-28 10:12] almoghr opened #5038 "[Watch Your Step] - Azshara quest"
**Links:**

https://www.wowhead.com/quest=14296/watch-your-step
**What is happening:**

i need to gain 6 stacks while getting to the top, i got 6 stacks, got to the top and nothing

**What should happen:**
i should be able to complete the quest by getting to the top
**Is it crashing the server?:**
no
**Other Information:**

[2021-01-28 10:48] Echinaceax commented on #5035
@mfranca0009
_Use your Personal Arcane Assistant to turn 12 Legash demons into insects and then squash them._

this quest is meant to give a spell bar with a special spell on it, no bar is given
https://www.wowhead.com/quest=14226/trouble-under-foot#videos:id=36268

[2021-01-28 10:52] Echinaceax commented on #5036
also delivery npc is missing #5029

[2021-01-28 11:12] Echinaceax commented on #5038
a few things wrong here

- [ ] no quest credit
- [ ] Energy pads not working
- [ ] missing npcs from video https://www.wowhead.com/quest=14296/watch-your-step#videos:id=36310
- [ ] missing delivery npc  https://www.wowhead.com/npc=36361/image-of-archmage-xylem
- [ ] missing gem stones

screenshot taken from video
![missing npc at the top](https://user-images.githubusercontent.com/39439201/10613074

[2021-01-28 15:14] Echinaceax commented on #4153
@mfranca0009
from what i can see the only race that gets this quest https://www.wowhead.com/quest=25267/message-for-saurfang
is a goblin (as i stated above)

![goblin](https://user-images.githubusercontent.com/39439201/106158329-e7a6a400-6183-11eb-9e77-b28357d92b4e.jpg)

when other races follow the questline is starts with https://wow.gamepedia.com/Azshara_storyline

![image](https://user-images.g

[2021-01-28 15:16] Echinaceax opened #5039 "[Questline] Azshara storyline (horde)"
**Links:**

https://wow.gamepedia.com/Azshara_storyline

- [x]  Warchief's Command: Azshara! #5040 (fix 1st)
- [x]  Beyond Durotar (closes 2 quest below) correct if you do the questline from the warboard/ a goblin
- [x]  Report to the Labor Captain (goblin only)
- [ ]  Runaway Shredder! #5041
- [ ] The Captain's Logs  #5044
- [ ] Up a Tree  #5046
- [ ] Defend the Gates!  #5042
- [ ] Arborcide  #50

[2021-01-28 18:29] mfranca0009 commented on #4659
SmartAI needs to be done on heroic NPC, it is currently on the normal NPC.

[2021-01-28 19:37] mfranca0009 commented on #4235
All set 👍

[2021-01-28 20:26] mfranca0009 commented on #4435
All set 👍 hidden NPCs till Firelands is released.

[2021-01-28 22:24] mfranca0009 commented on #4787
Fixed in custom script, added a confirmation window, and also corrected the spelling of "Profession" in the notification to player. 👍

[2021-01-28 23:35] mfranca0009 commented on #5029
All set 👍

![image](https://user-images.githubusercontent.com/26092980/106211953-956f7e00-6197-11eb-899a-a6285a6f38f5.png)

[2021-01-28 23:46] mfranca0009 commented on #5036
Quest item not working to make him attackable, and he's spawned but he needs to be up in the air above the crater.

[2021-01-29 00:13] mfranca0009 commented on #5036
Needs a new C++ file for thousand needles, waiting on this till after tomorrow's live update has been done.

[2021-01-29 12:00] Echinaceax opened #5040 "[Quest] Warchief's Command: Azshara! (missing)"
**Links:**

quest missing https://wow.gamepedia.com/Warchief%27s_Command:_Azshara!
questline https://wow.gamepedia.com/Azshara_storyline

**What is happening:**
- Warchief's Command: Azshara!  (missing) from quest board
https://www.wowhead.com/npc=35086/labor-captain-grabbit

**What should happen:**
_Report to Labor Captain Grabbit at the Orgrimmar Rear Gate in Azshara._
https://www.youtube.com/wa

[2021-01-29 12:25] Echinaceax commented on #4153
### update

Once i added the Warchief's Command: Azshara! #5040 and delivered it to npc
i was given the quest
![image](https://user-images.githubusercontent.com/39439201/106274981-6dcef300-6235-11eb-8ea9-f2526013fea6.png)

quest completed too, BUT with another issue #5041

![image](https://user-images.githubusercontent.com/39439201/106275193-bd152380-6235-11eb-848b-fa3308e9c218.png)

quest deliver

[2021-01-29 12:46] Echinaceax opened #5041 "[Quest] Runaway Shredder! (issue2) - Azshara"
**Links:**

quest https://www.wowhead.com/quest=14129/runaway-shredder
npc https://www.wowhead.com/npc=35111/runaway-shredder

![image](https://user-images.githubusercontent.com/39439201/106298326-0b391f80-6254-11eb-9364-c59a0c4e764e.png)

**What is happening:**
- issue is that the quest credit is given on kill not capture of the runaway shredder
should be damaged only to turn into Reprogrammed Sh

[2021-01-29 12:48] HrafnValknutt commented on #5030
"Savage Defense" is only working with Feral Combat Talent Tree and you need to be in Bear Form. On the screenshot, as you can see too, this mastery comes with Feral Combat Tree.

![WoWScrnShot_012921_153521](https://user-images.githubusercontent.com/72864958/106276155-2dc53b80-6248-11eb-81c3-15cd8c7f6e05.jpg)

And tested with Tauren Druid (Feral) on a normal Tol Barad mob to see the amounts:

As y

[2021-01-29 13:06] Echinaceax opened #5042 "[Quest] Defend the Gates! - Azshara!"
**Links:**
quest https://www.wowhead.com/quest=14146/defend-the-gates
missing npcs https://www.wowhead.com/npc=56003/night-elf-raider

**What is happening:**
- no shredder to use
- no npcs fighting at the gate

**What should happen:**
_Labor Captain Grabbit needs you to rush back to the Rear Gate of Orgrimmar to slay 20 Night Elf Raiders._

**Other Information:**
related to #5041

[2021-01-29 13:14] Echinaceax opened #5043 "[Quest] Arborcide - Azshara!"
**Links:**

https://www.wowhead.com/quest=14155/arborcide

**What is happening:**
- no shredder (due to start quest) reported here #5041

**What should happen:**
_Use the Shredder to destroy the Talrendis Ancient. Emergency Backup Shredders are available at the Orgrimmar Rear Gate if you lose yours._

https://www.wowhead.com/quest=14155/arborcide#videos:id=35841

[2021-01-29 13:26] Echinaceax opened #5044 "[Quest] The Captain's Logs - Azshara"
**Links:**
https://www.wowhead.com/quest=14134/the-captains-logs

**What is happening:**
- no shredder to use due too #5041

**What should happen:**
_Use the Reprogrammed Shredder to collect 6 piles of Azshara Lumber. If you lose your shredder, another can be attacked and reprogrammed._
https://www.wowhead.com/quest=14134/the-captains-logs#videos:id=35820

[2021-01-29 13:38] Echinaceax opened #5045 "[NPC] Runaway Shredder"
**Links:**

https://www.wowhead.com/npc=35111/runaway-shredder
https://www.wowhead.com/npc=35129/reprogrammed-shredder (it turns into)

**What is happening:**
- This npc is broken it should only take damage to turn into Reprogrammed Shredder to complete the questline

**What should happen:**
npc is needed for

[Quest] Runaway Shredder! (issue2) - Azshara #5041
[Quest] The Captain's Logs - Azshara

[2021-01-29 13:44] Echinaceax opened #5046 "[Quest] Up a Tree - Azshara!"
**Links:**

https://www.wowhead.com/quest=14135/up-a-tree

**What is happening:**
- need the shredder npc fixing before i can retest this  #5045

**What should happen:**
_Use the shredder's buzzsaw to cut down Azshara Saplings, and kill 9 Talrendis Snipers as they emerge._

https://www.wowhead.com/quest=14135/up-a-tree#videos:id=35827

[2021-01-29 14:33] Echinaceax commented on #968
noticed that the video has a ring buff (we dont)
https://www.wowhead.com/quest=14215/memories-of-the-dead#videos:id=35988

[2021-01-29 14:47] Echinaceax commented on #5030
thank you @HrafnValknutt

[2021-01-29 14:47] #5030 closed, assigned to mfranca0009

[2021-01-29 15:05] Echinaceax commented on #4153
### Fully tested

Findings are as follows:

1. once #5040 is fixed then your other quests are given via the questlog not the npc
2. once #5045 is fixed then i can test the actual quests

closing this atm coz the quests are not actually missing, the **Warchief's Command: Azshara!** missing is the main issue here for the quest oder at least

[2021-01-29 15:05] #4153 closed

[2021-01-29 21:11] Echinaceax commented on #4863
added to main pet report #4168

[2021-01-29 21:11] #4863 closed, assigned to nobody

[2021-01-30 10:28] almoghr opened #5047 "[Quest Item] Perfect Yeti Hide - feralas quest"
**Links:**

https://classic.wowhead.com/item=18972/perfect-yeti-hide

**What is happening:**

i killed more then 1k of the yetis and never got the hide

**What should happen:**
i should get eventually the item to start the quest
**Is it crashing the server?:**
no
**Other Information:**

[2021-01-30 10:44] Echinaceax commented on #5047
yes rare drops can take time @almoghr
@mfranca0009 can check if all set to drop though

Rare drop starts a quest @mfranca0009

[2021-01-30 10:55] almoghr opened #5048 "the trial of fire - Azshara quest"
**Links:**

https://www.wowhead.com/quest=14300/the-trial-of-fire
**What is happening:**

nothing.. cant do the quest all of the trial is shut down

**What should happen:**
the quest should work
**Is it crashing the server?:**
no
**Other Information:**

2 more trial quests related has the same bug but will report them too

[2021-01-30 10:57] almoghr opened #5049 "the trial of shadow - Azshara quest"
**Links:**
https://www.wowhead.com/quest=24479/the-trial-of-shadow
**What is happening:**

nothing.. cant do the quest all of the trial is shut down

**What should happen:**
the quest should work
**Is it crashing the server?:**
no
**Other Information:**

2 more trial quests related has the same bug but will report them too

[2021-01-30 10:58] almoghr opened #5050 "the trial of frost - Azshara quest"
**Links:**
https://www.wowhead.com/quest=24478/the-trial-of-frost

**What is happening:**

nothing.. cant do the quest all of the trial is shut down

**What should happen:**
the quest should work
**Is it crashing the server?:**
no
**Other Information:**

2 more trial quests related has the same bug but will report them too

[2021-01-30 11:00] almoghr opened #5051 "npc - ajamon ghostcaller - thousand needles"
**Links:**
https://www.wowhead.com/npc=41060/ajamon-ghostcaller

**What is happening:**

he is not giving the 3 quests he should give, checked it with GM zinius also.

**What should happen:**
he should have 3 quests to give
**Is it crashing the server?:**
no
**Other Information:**

the quests:
https://www.wowhead.com/quest=25672/carcass-collection
https://www.wowhead.com/quest=25704/the-mad-magus

[2021-01-30 11:01] almoghr commented on #5047
yes it is actually a check about rarity. i dun remember when it took me that long but maybe its my mistake:)

[2021-01-30 11:27] #3320 closed

[2021-01-30 11:28] #4235 closed

[2021-01-30 11:28] #4435 closed, assigned to mfranca0009

[2021-01-30 11:28] #4651 closed, assigned to mfranca0009

[2021-01-30 11:28] #4656 closed, assigned to mfranca0009

[2021-01-30 11:28] #4657 closed, assigned to mfranca0009

[2021-01-30 11:28] #4658 closed, assigned to mfranca0009

[2021-01-30 11:28] #4659 closed, assigned to mfranca0009

[2021-01-30 11:28] #4787 closed, assigned to mfranca0009

[2021-01-30 11:28] #4907 closed, assigned to mfranca0009

[2021-01-30 11:28] #4970 closed, assigned to mfranca0009

[2021-01-30 11:28] #5006 closed, assigned to mfranca0009

[2021-01-30 11:28] #5026 closed, assigned to mfranca0009

[2021-01-30 11:28] #5029 closed, assigned to mfranca0009

[2021-01-30 11:28] #5031 closed, assigned to mfranca0009

[2021-01-30 11:28] #5032 closed, assigned to mfranca0009

[2021-01-30 15:50] Echinaceax commented on #5051
@almoghr

Ok, after giving the quest back https://www.wowhead.com/quest=25660/haunted to Ajamon ghostcaller, i was offered the next quest (currently reported bugged here #5218 )

![image](https://user-images.githubusercontent.com/39439201/106360855-26229700-631b-11eb-8613-36dfbb215ab2.png)

what actually happened when you gave your  **haunted** quest too her?

[2021-01-30 16:03] Echinaceax commented on #5051
after handing back https://www.wowhead.com/quest=25661/with-a-little-help i am offered

![image](https://user-images.githubusercontent.com/39439201/106361224-17d57a80-631d-11eb-8d14-3befc794101f.png)

[2021-01-30 16:16] Echinaceax opened #5052 "[Quest] Carcass Collection - Thousand needles"
**Links:**

https://www.wowhead.com/quest=25672/carcass-collection

![not clickable](https://user-images.githubusercontent.com/39439201/106361594-11480280-631f-11eb-90b6-b771de3c6c54.jpg)

**What is happening:**
- Carcass not clickable

**What should happen:**
_Collect 10 Creature Carcasses._
https://www.wowhead.com/quest=25672/carcass-collection#videos:id=2591

**Other Information:**
the river bo

[2021-01-30 16:23] Echinaceax commented on #5051
after handing in the quest _Carcass Collection_ i am offered _The Mad Magus_

![image](https://user-images.githubusercontent.com/39439201/106361758-b5ca4480-631f-11eb-859b-64c6b9a3606c.png)

[2021-01-30 16:46] Echinaceax opened #5053 "[Quest] The Mad Magus - Thousand needles"
**Links:**

quest https://www.wowhead.com/quest=25704/the-mad-magus
quest item https://www.wowhead.com/item=55230/soul-stick

![mad magus](https://user-images.githubusercontent.com/39439201/106362439-1c049680-6323-11eb-8754-2e35b0254ecd.jpg)

**What is happening:**
- after killing Mad magus and using the quest item, no quest credit given
- Also as seen in video there is no Spirit of Mad Magus ther

[2021-01-30 16:57] Echinaceax commented on #5051
if quest are returned in the correct order then there is no issue there
closing this report

[2021-01-30 16:57] #5051 closed, assigned to mfranca0009

[2021-01-31 03:10] mfranca0009 commented on #4892
Phasing issue.

[2021-01-31 03:25] mfranca0009 commented on #4912
Added the NPCs, open the gossip dialog that is not there in a different issue.

New issue needed because the teleport spell that should be used doesn't work and will need to be scripted on top of making the gossip option visible.

[2021-01-31 03:36] mfranca0009 commented on #5037
Added the missing NPC, but we need a new issue open. Watch this video when accepting the quest, it's suppose to turn you into an orb and then it should fly you over to the turn-in automatically.

https://www.youtube.com/watch?v=D0sx7mbtSls

[2021-01-31 05:11] mfranca0009 commented on #4849
Spawned Murd Doc and his Mecha-Marines.

Murd Doc should be riding a swift green mechanostrider, but for some reason when I tried adding this like any other NPC using a riding/flying mount; it didn't seem to work as it normally does. For now, leaving it as is.

[2021-01-31 05:46] mfranca0009 commented on #4840
Added but needs emote state.

[2021-01-31 06:07] mfranca0009 commented on #4814
For some reason, he had a condition to only show up during 'Arena Season 4' event; should be all set now 👍

[2021-01-31 06:19] mfranca0009 commented on #4808
They need to be spawned, but there needs to be proper phasing as well. This is a normal Horde town with vendors and innkeeper there; phasing is important before spawning them.

[2021-01-31 06:22] mfranca0009 commented on #4739
Shouldn't be spawned right off the bat, check video:
https://www.youtube.com/watch?v=RFivAioC4k0

The quest needs scripting, Vorsha the Lasher needs to spawn from script after events.

[2021-01-31 06:40] mfranca0009 commented on #4705
Added missing Brann Bronzebeard and Harrison Jones, still missing the 'Coffer of Promise' for the related quest chain; will fix later and if quest issue is open.

[2021-01-31 06:41] mfranca0009 commented on #4709
Need more info on this NPC, what I saw on WoWhead, he's part of a big quest chain within `Halls of Origination` and not just spawned standing in one location.

[2021-01-31 06:47] mfranca0009 commented on #4703
Added Sullah and Harrison Jones.

[2021-01-31 06:53] mfranca0009 commented on #4681
NPC shouldn't be spawned, it needs an event and he should spawn in by script.

https://www.youtube.com/watch?v=n-83QW3kq38

[2021-01-31 15:06] mfranca0009 commented on #3201
Requires phasing to properly fix this issue and #4572 .

[2021-01-31 15:16] mfranca0009 commented on #4514
He's spawned but he's in phase 318 and not default phase 169. Not sure if he should be phased in after a certain quest or if he should be phased in all the time ; need more info on the quest order and if he should be there at all times.

[2021-01-31 15:30] mfranca0009 commented on #4418
First, starting at this quest:
https://www.wowhead.com/quest=26552/through-the-troll-hole

It never gives you quest progress when clicking on the portal to be teleported to "Zul'Gurub" which it should and then you receive: https://www.wowhead.com/quest=26553/high-priestess-jeklik

This could be one reason why the NPCs are not spawned, or this is just a completely different issue that is causing qu

[2021-01-31 17:25] Echinaceax commented on #4514
from what i see is you get sent to Patch after you pick up https://www.wowhead.com/quest=27576/patchwork-command
then you will get the quest https://www.wowhead.com/quest=28091/easy-pickings https://www.wowhead.com/quest=28090/precious-goods

npc is the same ID from patchwork command delivery and then the pick ups from the other quests @mfranca0009

[2021-01-31 22:19] mfranca0009 commented on #5040
Quest should now be available from Orgrimmar and Thunder Bluff war boards.

[2021-02-01 00:39] mfranca0009 commented on #1692
This should now be fixed.

- [x] base spell consumes 25 energy
- [x] 35 extra energy spent for full 100% boost (60 points total)
- [x] While clearcasting proc is active, take extra 35 energy for 100% bonus; not 25 or both (60).

[2021-02-01 00:55] mfranca0009 commented on #2057
**Update:**

As of right now, every time I cast Vanish while STANDING STILL the NPCs attacking me will reset. If I were to run away while casting vanish, it doesn't register and they continue to attack me.

[2021-02-01 05:14] mfranca0009 commented on #2057
Should be fixed.

- [x]  Vanish `Improved Stealth` aura now shows up for 3 seconds.
- [x] While having the vanish aura, it should not break when receiving damage (from debuffs applied by an NPC)
- [x] NPCs should not continue attacking you when vanishing.
- [x] After vanish aura has expired, it transitions into normal stealth; damage can break stealth at this point.

[2021-02-01 05:28] mfranca0009 commented on #2132
Need more info on what melee attacks it should "mirror", if we can find this info. One WoWhead comment said it mirrors melee attacks like `Plague Strike`, `blood strike`, `heart strike`; need confirmation if this is accurate. @Echinaceax

[2021-02-01 05:52] mfranca0009 commented on #2136
Bear Charge (Skull Bash): https://i.gyazo.com/b47530467194a8b39be9ba0a3317cf07.mp4
Cat Charge (Skull Bash): https://i.gyazo.com/14a78cde5c6c7be0eaab86ee28f8b285.mp4
Bear Interrupt (Skull Bash): https://i.gyazo.com/2389080c58e7f017697a0e4452a7cc0c.mp4
Cat Interrupt (Skull Bash): https://i.gyazo.com/a3f810e33c14e4da4e6d16072a2c15df.mp4

Spells are working as intended, the only slight problem would b

[2021-02-01 05:53] #2136 closed

[2021-02-01 06:37] almoghr opened #5054 "[First Come, First Served] - azashara quest"
**Links:**

https://www.wowhead.com/quest=24437/first-come-first-served
**What is happening:**
i am using the item in the exact spot, the animation of the game is working but i get no credit for using the item
**What should happen:**
i should get the credit for the action and complete the quest
**Is it crashing the server?:**
no
**Other Information:**

link to the item: https://www.wowhead.com/ite

[2021-02-01 09:10] Echinaceax commented on #5040
confirmed fixed in ptr

![confirmed](https://user-images.githubusercontent.com/39439201/106437547-ad841d80-6475-11eb-8cef-c8dd39e97b8c.jpg)

[2021-02-01 09:18] Echinaceax commented on #4703
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/106438426-c6d99980-6476-11eb-8565-0c4f1fc07290.png)

[2021-02-01 09:21] Echinaceax commented on #4705
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/106438756-3485c580-6477-11eb-9b44-957b85ce3f56.png)

[2021-02-01 09:23] Echinaceax commented on #4814
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/106439059-8c243100-6477-11eb-961b-e9f24aa0b5f9.png)

[2021-02-01 09:26] Echinaceax commented on #4849
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/106439364-e45b3300-6477-11eb-9355-261be8a900af.png)

[2021-02-01 09:33] Echinaceax commented on #4912
confirmed npc is spawned in ptr

but

yes not fully fixed coz she has no teleporting dialog :)
after picking up the quest i spoke with the warden and no teleport dialog

want me to report this part seperately @mfranca0009

![image](https://user-images.githubusercontent.com/39439201/106440197-d9ed6900-6478-11eb-81da-b6058c8f0386.png)

[2021-02-01 09:38] HrafnValknutt commented on #1692
Fix in Dev Confirmed

[2021-02-01 09:44] Echinaceax opened #5055 "[NPC] Warden of the Sunwell / The Purification of Quel'Delar (issue 2)"
**Links:**
npc https://www.wowhead.com/npc=37523/warden-of-the-sunwell
Quest https://www.wowhead.com/quest=24564/the-purification-of-queldelar

![image](https://user-images.githubusercontent.com/39439201/106441332-3604bd00-647a-11eb-9518-844bd1532ce5.png)

**What is happening:**
- no teleport dialog

**What should happen:**
_Npc at the gate of Sunwell Plateu raid who should teleport you to the que

[2021-02-01 09:47] HrafnValknutt commented on #2057
Fixed in Dev confirmed

[2021-02-01 09:48] Echinaceax commented on #2132
it mirrors the damage done by the DK _Plague Strike, blood strike, heart strike_  are the DKs main spells yes

will ask valk or Drache for their imput

[2021-02-01 09:54] Echinaceax commented on #5037
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/106442699-e1624180-647b-11eb-9190-156818690a5a.png)

[2021-02-01 09:57] almoghr opened #5056 "[Magic Carpet Ride] - borean tundra"
**Links:**

https://www.wowhead.com/quest=11636/magic-carpet-ride
**What is happening:**

i need to go to an npc and deliver the quest, the question mark above him is gray

**What should happen:**
the question mark should be yellow - hence it should be completeable
**Is it crashing the server?:**
no
**Other Information:**

<img width="838" alt="Screenshot 2021-02-01 115634" src="https://user-image

[2021-02-01 09:59] Echinaceax opened #5057 "[Quest] The Pinnacle of Learning - (issue 2) - Azshara"
**Links:**

https://www.wowhead.com/quest=14413/the-pinnacle-of-learning

**What is happening:**
- no wisp flight animation when player picks up the quest

**What should happen:**
https://www.wowhead.com/quest=14413/the-pinnacle-of-learning#videos:id=36303

[2021-02-01 10:02] Echinaceax commented on #5056
was reported here @mfranca0009  but was invalid https://github.com/WoWManiaUK/Blackwing-Lair/issues/3970

[2021-02-01 13:37] golosomie commented on #2132
Dancing Rune Weapon didn't really change since Patch 3.2.0 .

[Patch 3.2.0 Patchnotes](https://wowwiki.fandom.com/wiki/Patch_3.2.0):

[Patch 3.1.0 Patchnotes](https://wowwiki.fandom.com/wiki/Patch_3.1.0):

From what I've found, all spells that require a weapon, melee range and have the primary purpose of dealing damage (excluding Corpse Explosion) should be mirrored. The pet should only mirror you

[2021-02-01 14:19] golosomie commented on #2132
@mfranca0009

Blood Strike 	 (SpellID 45902)
Death Strike 	 (SpellID 49998)
Heart Strike 	 (SpellID 55050)
Festering Strike (SpellID 85948)
Obliterate	 (SpellID 49020)
Rune Strike 	 (SpellID 56815)
Necrotic Strike   (SpellID 73975)
Plague Strike 	 (SpellID 45462)

[45902, 49998, 55050, 85948, 49020, 56815, 73975, 45462]

[2021-02-01 14:30] Echinaceax commented on #4233
update

fixed this issue with the recent fix here #4651

[2021-02-01 14:33] Echinaceax commented on #3746
Yes was noticed while Xfaction was active

then when Xfaction was removed for 2 months it worked as intended

now we noticed it broken again now Xfaction is active again 🤦

[2021-02-01 16:45] mfranca0009 commented on #2132
Thank you @golosomie

Will look into this shortly

[2021-02-01 17:09] Echinaceax commented on #1951
https://www.wowhead.com/quest=29193/on-a-wing-and-a-prayer

is quest is part of questline not avail in this patch

 Patch 4.2.0 (2011-06-28): Added.

[2021-02-01 17:22] golosomie commented on #1951
This is a part of the Dragonwrath Legendary questline and should require the prequest
["All-seeing Eye"](www.wowhead.com/quest=29135/all-seeing-eye) (QuestID 29135)

[2021-02-01 17:32] Echinaceax commented on #1951
100 % i know :)

[2021-02-01 17:55] mfranca0009 commented on #1253
World of Warcraft: Wrath of the Lich King Patch 3.0.3 (04-Nov-2008): The Avenger’s Shield bounce distance has been reduced to 10 yards (from 15).

[2021-02-01 19:35] mfranca0009 commented on #2132
In the middle of working on this.

- [x] Base attack speed is set to 3.5 seconds.
- [x] Now attacks enemy when player is in combat.
- [x] Should mirror player's DK spell casts for spells listed above by @golosomie
- [x] Should mirror auto-attack damage done by player to current victim.

[2021-02-02 21:05] mfranca0009 commented on #2738
Found the issue for this problem, will fix this ASAP and test 👍

[2021-02-03 05:57] mfranca0009 commented on #2738
All set!

**First Pet:**
![image](https://user-images.githubusercontent.com/26092980/106704405-196f9e80-65ba-11eb-9ebd-a477681f44ae.png)

**Second Pet:**
![image](https://user-images.githubusercontent.com/26092980/106704418-1f657f80-65ba-11eb-8ed6-16bb3ab3d45f.png)

**Second Pet After Certificate of Ownership (RENAME):**
![image](https://user-images.githubusercontent.com/26092980/106704465-30ae8c0

[2021-02-03 09:18] Echinaceax commented on #2738
Retested

- [x] mounting up, and dismounting
- [x] Portal, then resummoning pet (no need to resummon pets when going through portals now, cool)
https://gyazo.com/434b2701cfc304ba4d9732f714a51c70

- [x] Tame pet, Renaming pet, dismissing pet, changing to different pet (broken it again) @mfranca0009
https://gyazo.com/312c77f2d12dc1810aaafa819ec939d9

[2021-02-03 09:43] Echinaceax opened #5058 "[General] Event ingame calendar"
**Links:**
https://wowwiki-archive.fandom.com/wiki/Calendar
https://wowwiki-archive.fandom.com/wiki/Event

**What is happening:**

- [x] shows in-game realm events (not working correctly)
- [x] players add their own events including raid scheduling (not working correctly)

Many of the Realm event not shown on Calendar, and just randomly activate so a GM has to deactivate.
the order of the world ev

[2021-02-03 12:04] Echinaceax commented on #5056
Tested on live @mfranca0009 found no issue

![carpet1](https://user-images.githubusercontent.com/39439201/106744527-2f17af00-6620-11eb-9bce-d3995857e0bf.jpg)
![carpet2](https://user-images.githubusercontent.com/39439201/106744539-30e17280-6620-11eb-8554-7c62004ce215.jpg)
![carpet3](https://user-images.githubusercontent.com/39439201/106744552-3474f980-6620-11eb-94aa-c4750e7e4cc8.jpg)
![carpet4](htt

[2021-02-03 12:05] #5056 closed, assigned to mfranca0009

[2021-02-03 12:08] Echinaceax commented on #5056
@almoghr
Correct me if im wrong but i see you on your own rocket in your screenshot and not taking the flying carpet ride from Yanni,
you need to speak with Yanni to take the carpet ride like i did

![image](https://user-images.githubusercontent.com/39439201/106745653-b9acde00-6621-11eb-888b-4bbebee7c18e.png)

![carpet2](https://user-images.githubusercontent.com/39439201/106745169-0217cc00-6621-11

[2021-02-03 12:21] Echinaceax commented on #3970
https://github.com/WoWManiaUK/Blackwing-Lair/issues/5056#issuecomment-772458730 noticed some people fly there on their own mounts :) this could be the reason

[2021-02-03 12:43] golosomie commented on #5057
Can confirm.

once [#5035](https://github.com/WoWManiaUK/Blackwing-Lair/issues/5035) is fixed, this should also require Quest 14226

[2021-02-03 13:15] golosomie commented on #5035
- [ ] This quest should require [Quest 14230](https://www.wowhead.com/quest=14230)
- [ ] Accepting the quest should give you the pet [Personal Arcane Assistant (NPC 35178)](https://www.wowhead.com/npc=35178/)
- [ ] This pet should have 2 abilities available on a pet bar:  [Polymorph Insect](https://www.wowhead.com/spell=67794/polymorph-insect) and [Return to Camp](https://www.wowhead.com/spell=689

[2021-02-03 17:54] almoghr commented on #5056
i talked to yanni and nothing appeared, abandoned the quest and took it again and the npc did gave me the oppurtunity to get the carpet.. something did went wrong there but im not sure what.. all works now:)

[2021-02-04 01:48] mfranca0009 commented on #4810
This issue is highly related to position calculations and the passenger player's position not being calculated right.

For one, when you exit the vehicle, your position is at the bottom of the lake / ocean but it doesn't show this client-side. When you mount the vehicle again as passenger, you're technically mounting the vehicle from the bottom of the lake/ocean even though you're "next to" the ve

[2021-02-04 21:13] Echinaceax opened #5059 "[Quest] Mathias Needs You (issue2) - Twilight Highlands"
**Links:**
https://www.wowhead.com/quest=27782/mathias-needs-you
https://www.wowhead.com/npc=46243/initiate-goldmine

**What is happening:**
- this quest is given to horde
_this is an Alliance quest_

**What should happen:**

- [x] _should only be given to Alliance_

horde quest https://www.wowhead.com/quest=27783/garona-needs-you
Ally quest https://www.wowhead.com/quest=27782/mathias-needs-you

n

[2021-02-05 00:20] mfranca0009 commented on #2738
file didn't re-compile the first time, now functions properly after building again sucessfully.

[2021-02-05 00:21] Echinaceax commented on #2738
confirmed fixed on PTR

[2021-02-05 13:58] BlaineP126 commented on #2109
says "Requires Splintertree Tower" when you stand on the Tower and fire the Accursed Ore, it says again "Requires Splintertree Tower"

[2021-02-05 14:02] BlaineP126 commented on #717
its been 2 years and still not fixed?

[2021-02-05 14:02] Echinaceax commented on #2109
thank you @BlaineP126  for extra info :)

[2021-02-05 14:04] Echinaceax commented on #5055
this has many issues atm ...looking into questline

update this quest needs adding / fixing first #5060 before you can pick up https://www.wowhead.com/quest=24564/the-purification-of-queldelar @mfranca0009

[2021-02-05 14:22] Echinaceax commented on #4911
npc https://www.wowhead.com/npc=37527/halduron-brightwing
Is messing up a very important questline by giving the quests out in the wrong order

in my test
if you deliver https://www.wowhead.com/quest=24562/journey-to-the-sunwell then i wasnt offered https://www.wowhead.com/quest=24563/thalorien-dawnseeker and was only offerered https://www.wowhead.com/quest=24564/the-purification-of-queldelar and

[2021-02-05 18:38] Echinaceax commented on #4967
@mfranca0009 spell=605

![image](https://user-images.githubusercontent.com/39439201/107074890-a9dff600-67e9-11eb-9bb9-eb874b3c30b9.png)

[2021-02-05 18:58] mfranca0009 commented on #4348
Can now charge underwater, but places like Vashj'ir all the way at the bottom still gives you a "No Path Available" error.

Still needs more work for deep depths and while falling.

[2021-02-05 21:21] Echinaceax opened #5060 "[Quest] Thalorien Dawnseeker (missing)"
**Links:**
Quest missing https://www.wowhead.com/quest=24563/thalorien-dawnseeker
Quest giver https://www.wowhead.com/npc=37527/halduron-brightwing

**What is happening:**
- Quest not given after the delivery of https://www.wowhead.com/quest=24562/journey-to-the-sunwell

**What should happen:**
quest should be given after the delivery of the **_Journey To The Sunwell_**

**Other Information:**
who

[2021-02-05 21:58] Echinaceax opened #5061 "[Item Quest] Battered Hilt"
**Links:**

https://cata-twinhead.twinstar.cz/?item=50380
https://cata-twinhead.twinstar.cz/?item=50379

**What is happening:**
- not dropping from any of the correct NPCs (mfranca told me)

**What should happen:**
all npc loot table need adding

[2021-02-05 23:08] Echinaceax commented on #4911
confirmed no dialog

![image](https://user-images.githubusercontent.com/39439201/107098385-5da7ac80-680f-11eb-8080-0ea27a0264b0.png)

[2021-02-05 23:19] Echinaceax opened #5062 "[NPC] Madrigosa - Isle of Quel'Danas"
**Links:**

https://www.wowhead.com/npc=25160/madrigosa

**What is happening:**
- npc is meant to be flying around not stood in mid-air :)

**What should happen:**
needs to be flying

**Other Information:**

![image](https://user-images.githubusercontent.com/39439201/107099020-effc8000-6810-11eb-8092-60c5d351b34a.png)

[2021-02-05 23:42] mfranca0009 commented on #5061
After looking, creatures do drop them.

[2021-02-05 23:42] #5061 closed, assigned to mfranca0009

[2021-02-05 23:43] mfranca0009 commented on #5060
This quest is being given out and available.

[2021-02-05 23:43] #5060 closed, assigned to mfranca0009

[2021-02-05 23:51] mfranca0009 commented on #5055
Only thing left to fix here is the gossip option for Warden of the Sunwells ✔️

[2021-02-05 23:56] Echinaceax commented on #5060
after fixes of other questlines yes 👍

[2021-02-06 01:39] mfranca0009 commented on #4132
All set, should be working 👍

[2021-02-06 04:29] mfranca0009 commented on #2132
All set, instead of mirroring auto-attack damage, I made the Rune Weapon share the same min / max damage as the player does which will let the Rune Weapon auto-attack with the same damage range as the player would; basically scaling the "pet" to player's damage.

Actually mirroring the auto-attack damage exactly as the player damage, similar to mirroring the spells, doesn't seem to be possible wit

[2021-02-06 06:44] mfranca0009 commented on #2172
Spell: http://wotlk.cavernoftime.com/spell=2894
Fire Elemental That Spawns: https://www.wowhead.com/npc=15438/greater-fire-elemental
Totem that spawns: https://www.wowhead.com/npc=15439/fire-elemental-totem

Currently, the Greater Fire Elemental and totem spawn. The Greater Fire Elemental follows you around, and attacks once you're in combat. Can't replicate the problem.

Could you please tell me

[2021-02-06 09:03] Echinaceax commented on #2172
@mfranca0009 Yes ive seen this issue myself (sometimes) not always

When kDracku first reported this (xfaction was on) acts simular to Mage mirrors and stands there looking dumb
When i lvl'd my Shammy (Xfaction was off) no issue
Xfaction on again, Ive noticed same issue

test must be with Horde and Ally in same group to rule out Xfaction issue @mfranca0009
we test later

[2021-02-06 20:23] Echinaceax commented on #1784
Still has issues
Needs retesting

[2021-02-06 20:32] Echinaceax commented on #1784
no issue found on PTR

![bear1](https://user-images.githubusercontent.com/39439201/107129027-c8fe8680-68c2-11eb-8e44-15daa751124e.jpg)
![bear2](https://user-images.githubusercontent.com/39439201/107129028-cac84a00-68c2-11eb-89c0-e16b1945a316.jpg)
![bear3](https://user-images.githubusercontent.com/39439201/107129029-cc920d80-68c2-11eb-843c-8baa059a1d99.jpg)

[2021-02-06 20:32] #1784 closed

[2021-02-06 20:41] Echinaceax commented on #4919
was fine for me

![G1](https://user-images.githubusercontent.com/39439201/107129181-dbc58b00-68c3-11eb-810b-2a06744b3235.jpg)
![G2](https://user-images.githubusercontent.com/39439201/107129182-dec07b80-68c3-11eb-9dba-46b6a1939d69.jpg)
![G3](https://user-images.githubusercontent.com/39439201/107129183-dff1a880-68c3-11eb-8562-70ef026de7da.jpg)

ofc it could be that there wasnt enought damage atm if

[2021-02-06 20:41] #4919 closed, assigned to nobody

[2021-02-07 01:33] golosomie commented on #5054
Confirmed on live.

Item can only be used at the correct locations, but doesn't award quest credit.

[2021-02-07 03:33] mfranca0009 commented on #3984
I just calculated this on my DK using Fester Strike as my first attack on an NPC.

Calculation of Festering Strike for me was: 1655.004985714286 (1655 rounded).

Details from Cataclysm spell information:

SPELL_EFFECT_NORMALIZED_WEAPON_DMG
AveragePoints = 560.36 (560 damage)

SPELL_EFFECT_WEAPON_PERCENT_DAMAGE
BasePoints = 150 (150%)

**My Festering Strike looking at my spell says:**
- 233% Weapon

[2021-02-07 03:42] mfranca0009 commented on #3984
This needs to be re-tested. @Echinaceax

[2021-02-07 04:11] mfranca0009 commented on #4109
Rune cost isn't being refunded, or at least its not saying the rune cost is being refunded in combat log, but I can confirm that its only healing on hit.

[2021-02-07 04:27] mfranca0009 commented on #4109
Should be all set, needs testing 👍

[2021-02-07 05:31] mfranca0009 commented on #4110
All set for Paladins, DKs, and Warriors. Just check with a level 1 for each class with no gear on 👍

Paladin - 5.23%
Warrior - 5.00%
Death Knight - 5.12%

5 percent base non-diminishing, 0.23 / 0.12 percent from diminishing.

[2021-02-07 05:40] mfranca0009 commented on #4116
#3685
#2305
#2195
#2172

All currently open issues related to class spell summons or pets above. Since this is more of a generic issue related to most of the pets that are in their own issue, closing this one out.

[2021-02-07 05:40] #4116 closed

[2021-02-07 06:08] mfranca0009 commented on #3890
Should be all set 👍 removed the triggered attribute which was causing it to ignore cooldowns.

[2021-02-07 14:09] HrafnValknutt commented on #4110
Fixed in Dev confirmed. Absolutely works like a charm :)

[2021-02-07 14:13] HrafnValknutt commented on #4109
Fix in Dev confirmed. :)

[2021-02-07 14:29] HrafnValknutt commented on #3890
Fixed in Dev confirmed.

[2021-02-07 14:36] BlaineP126 commented on #3300
i dont know which is the Bug, the tents burn but instantly respawn again without it being processed on the quest, it still says 0/8 but the tents to burn

[2021-02-07 14:38] Echinaceax commented on #3300
Yes its reported here #1829 but not fixed yet

[2021-02-07 14:41] BlaineP126 commented on #3300
no worries, i just couldnt put my finger on what the bug actually is, the tents or flamethrower :)

[2021-02-07 14:50] Echinaceax commented on #3300
anytime @BlaineP126 :)

[2021-02-07 16:28] golosomie commented on #3984
@mfranca0009
Just tested this with a DK that is not unholy specced.

Weapon DPS: 1250
AP: 8636
Weapon Speed: 3.3

Expected damage = (Weapon Speed * (Weapon DPS + AP/14) * Weapon Percent Damage) + additional damage
 = (3.3* (1250 + 8636/14) * 1.5) + 840 = 10080

My Festering Strike did 4497 damage (average over ~20 casts).
So something seems to be wrong.

[2021-02-07 17:06] Echinaceax commented on #4132
confirmed fix is ptr

interupted the casting of Debilitating Beam

![image](https://user-images.githubusercontent.com/39439201/107153648-f143bf00-696e-11eb-9c80-9e5717dce3a7.png)

and interupted the actual beam too

![inter](https://user-images.githubusercontent.com/39439201/107153716-3ff15900-696f-11eb-91d0-ad15dbf0dacb.jpg)

[2021-02-07 17:57] Echinaceax commented on #4697
ally version https://www.wowhead.com/quest=26162/the-altar-of-storms

[2021-02-07 18:47] mfranca0009 commented on #3888
All set 👍

[2021-02-07 19:24] mfranca0009 commented on #1897
This is the same as #5059, since I already marked 5059 as fixed, I'm closing this out as a duplicate.

[2021-02-07 19:24] #1897 closed

[2021-02-07 19:53] mfranca0009 commented on #3984
My fault, I wasn't thinking about order of operations... so my calculation is wrong and my damage should be 2298 instead of 1655...

I think I know where the problem lies now as well 👍

@golosomie

[2021-02-07 20:22] Echinaceax commented on #5059
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/107158472-8d2ef400-698a-11eb-89a3-073f69376c74.png)

[2021-02-07 20:27] Echinaceax commented on #4745
- [x] npc1 https://www.wowhead.com/npc=53151/overseer-blingbang (fixed)

- [ ] Npc2 https://www.wowhead.com/npc=2496/baron-revilgaz (not fixed)

![baron still 2 ](https://user-images.githubusercontent.com/39439201/107158547-34ac2680-698b-11eb-8909-b575cd00a835.jpg)

[2021-02-07 20:33] mfranca0009 commented on #4745
Re-test.

Only 2 quests were listed, there are 4 quests available with this name (2 alliance / 2 horde).....

Should be fixed now. @Echinaceax

[2021-02-07 20:34] Echinaceax opened #5063 "[Quest] A Bloodmage's Gotta Eat Too"
**Links:**

npc https://www.wowhead.com/npc=7505/bloodmage-drazial
quest https://www.wowhead.com/quest=25690/a-bloodmages-gotta-eat-too

**What is happening:**
- as an Ally i can pick up a horde quest

**What should happen:**
ally shouldnt see horde quests

**Other Information:**

![bloodmage](https://user-images.githubusercontent.com/39439201/107158714-4fcb6600-698c-11eb-96bd-5bb3efe33db5.jpg)

[2021-02-07 20:37] Echinaceax commented on #4745
much better thx @mfranca0009 👍

![image](https://user-images.githubusercontent.com/39439201/107158787-a769d180-698c-11eb-8e3b-466d747b549f.png)

[2021-02-07 20:55] Echinaceax commented on #4685
still dropping for my horde hunter @mfranca0009
![image](https://user-images.githubusercontent.com/39439201/107159293-3bd53380-698f-11eb-9bb3-5b065eb45568.png)

[2021-02-07 21:04] Echinaceax commented on #4205
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/107159468-7a1f2280-6990-11eb-9b03-f2c81b1166f2.png)

[2021-02-07 21:47] mfranca0009 commented on #4685
item still drops (even when I set the conditions properly), but the player can't accept the quest because it's Alliance only.

Fixed as best as possible.

[2021-02-07 21:48] Echinaceax commented on #4685
confirmed partly fixed in PTR
still drops for horde but they cant accept the quest.
hordes just throw it away :)

![image](https://user-images.githubusercontent.com/39439201/107160461-9cb43a00-6996-11eb-8897-762e4da74641.png)

Ally can accept with no issue

![image](https://user-images.githubusercontent.com/39439201/107160768-932bd180-6998-11eb-9ced-71e7d6eaba9b.png)

[2021-02-07 22:24] BlaineP126 commented on #4832
argh gutted this quest doesnt work, i could of done with the reward

[2021-02-07 23:29] mfranca0009 commented on #5024
The problem is, https://cata-twinhead.twinstar.cz/?spell=87175, is not actually adding another 20 yards.

First rank, https://cata-twinhead.twinstar.cz/?spell=87174, adds 10 yards (20 yards total)
Second rank, https://cata-twinhead.twinstar.cz/?spell=87175, adds 20 yards (30 yards total)

From what I can see, learning rank 1 works and shows 20 yards, but the second rank makes it go back down to 10

[2021-02-08 01:34] mfranca0009 commented on #5024
Rank 2 now will provide a 30 yard range total for Judgement, and reflects that in spell tooltip 👍

[2021-02-08 01:49] mfranca0009 commented on #5018
This is the glyph: https://cata-twinhead.twinstar.cz/?spell=56226

Can someone re-test this, cause currently there is a condition to make sure the player has the glyph before leaving the DoTs on the previous target. If the glyph isn't active, it shouldn't leave the DoTs on the previous target when using Soul Swap on a new target; it also shouldn't give a 30 minute cooldown. @Echinaceax

[2021-02-08 02:34] mfranca0009 commented on #5024
Can't find an issue with this, Improved Judgement Rank 1 provides 10 additional yards (20 yards total), and Improved Judgement Rank 2 provides 20 additional yards (30 yards total).

Tested this myself, and I can confirm it gives you the proper range no matter the amount of targets you kill with Judgement or any spell; spell tooltip also reflects the updated spell range.

[2021-02-08 02:47] mfranca0009 commented on #4967
Confirmed, but I need more information on what should happen.

https://www.wowhead.com/npc=94/cutpurse
I see when mind controlling a "Cutpurse", that I get an attack spell (No spell ID / generic pet command) and backstab spell (Spell ID 53).

Does the action bar differ depending on the NPC mind controlled? Specific spells used every time? etc....

@Echinaceax

[2021-02-08 02:47] #5024 closed, assigned to mfranca0009

[2021-02-08 09:18] HrafnValknutt commented on #3888
Fixed in Dev confirmed. ^^

[2021-02-08 09:27] Echinaceax commented on #4967
we will test today @mfranca0009 and let you know

[2021-02-08 09:45] HrafnValknutt commented on #5018
It works like a charm , no issue found

Edited by Echi

[2021-02-08 09:59] Echinaceax commented on #4967
@mfranca0009
At the moment from what i just tested (pve broken)
https://wow.gamepedia.com/Mind_Control
https://www.wowhead.com/forums&topic=177851&p=2463736

https://www.wowhead.com/spell=605/mind-control#videos:id=1903

once you have mind controled the humanoid, there is only 1 spell (For me too)

- [x]  Attack spell does work in pve and pvp
- [ ] the bar only has one spell (should have target np

[2021-02-08 10:46] #5018 closed, assigned to mfranca0009

[2021-02-08 15:17] Echinaceax commented on #3092
### Update info
Was asked to re check this

When players use the .BQ command there is no quest delivery npc https://www.wowhead.com/npc=48034/harrison-jones so player  has to get the quest deliveried by ingame ticket,

problem being that the player is only given a random item and not the choice they would have chosen

https://www.wowhead.com/quest=27669/do-the-honors#videos:id=96443

[2021-02-08 17:32] mfranca0009 commented on #4876
Bloodthirst should now be fixed, it was being calculated with an incorrect value, it will now heal you for 0.5% of max health.

After making the change for Bloodthirst, I tested Blood Craze, from rank 1 - 3 individually; I saw no issue. It was properly healing the play for 1% / 2% / 3% of player's max health over a 5 second duration.

[2021-02-08 17:44] mfranca0009 commented on #4807
Should have a 1 minute duration for both ranks; looking into this. [NOT CORRECT, was looking at it wrong.]

![image](https://user-images.githubusercontent.com/26092980/107259735-5e0c9700-6a0b-11eb-8e1e-d0bd00440b14.png)

**UPDATE**
What I said above is false, NPCs have auras removed (including Blood Frenzy) when leaving combat if player dies. Will need to incorporate this with player as well for P

[2021-02-08 19:42] mfranca0009 commented on #4807
- [ ] Remove aura when target dies
- [ ] Remove aura when target leaves a battleground
- [ ] Remove aura from target if player dies
- [ ] Remove aura when target leaves arena [Should be handled same way as leaving a battleground]

[2021-02-08 21:56] golosomie commented on #4807
- [ ] Remove aura when target leaves combat
- [ ] Remove aura when player leaves combat

[2021-02-09 00:05] OutlawCitizen opened #5064 "[Quest] - #9544 - The Prophecy of Akida"
**Links:**
https://www.wowhead.com/quest=9542/totem-of-vark
https://www.wowhead.com/quest=9544/the-prophecy-of-akida

**What is happening:**

Bears are in their position, keys are dropping from the nearby mobs, cages that trap the bears are not spawned.

**What should happen:**

In order to complete the quest, the bears that originally are trapped inside cages and meant to be saved/unlocked ( 8 in

[2021-02-09 00:28] Echinaceax commented on #5064
Confirmed bugged
https://www.wowhead.com/quest=9544/the-prophecy-of-akida#videos:id=33444

- [ ] there are no cages

https://www.wowhead.com/npc=17375/stillpine-captive

![no cages ](https://user-images.githubusercontent.com/39439201/107298509-db6cf180-6a75-11eb-9db8-2f7c8b235239.jpg)

[2021-02-09 02:19] mfranca0009 commented on #4807
Trinitycore issue back in 2012: https://github.com/TrinityCore/TrinityCore/issues/299

- [x] Remove Blood Frenzy when there isn't any bleed effects left on the target.

This should control it properly for players and creatures 👍

[2021-02-09 02:39] mfranca0009 commented on #4807
All set 👍

[2021-02-09 03:37] mfranca0009 commented on #4512
Definitely need more information here, need to know the spell or spells that was trying to be used and then I'll be able to look for any issues specific to the problematic spells. @Echinaceax

Currently, the resurrection effects that are coded look fine, and should work.

[2021-02-09 03:39] mfranca0009 commented on #4399
Can we get a tester to re-test and confirm this, still has the pending label and it would be a good idea for a tester to confirm if the problem exists still or not. @Echinaceax

[2021-02-09 05:59] mfranca0009 commented on #4365
All set 👍  Wild Mushroom should not move from position it was cast to, it will not melee attack anymore either.

Fungus Growth will not melee attack anymore as well.

[2021-02-09 06:17] mfranca0009 commented on #4346
@Echinaceax

Currently this is working as intended, in PvP it will have the following durations:

**First cast on same target:** 8 seconds
**Second cast on same target:** 3 seconds
**Third cast on same target:** 1 or 2 seconds

This is a WoWhead comment, from patch 5.0.4, but it says:
_"In PvP, it seems to work first for about seven seconds, then three, then one, then none with roughly five second

[2021-02-09 06:17] #4346 closed

[2021-02-09 06:26] mfranca0009 commented on #4343
This is not an issue, its the same response for Entangling Root issue.
#4346

**First hit on same target:**  8 seconds
**Second hit on same target:**  3 seconds
**Third hit on same target:** 1 / 2 seconds

Diminishing effect is part of Freezing Trap cause its an immobilizing spell; working as intended.

[2021-02-09 06:26] #4343 closed

[2021-02-09 09:42] Echinaceax commented on #4399
its still doing it on live @mfranca0009
a few days/week ago someone also ask why it was doing it

i told them yes its a bug and dont waste anymore gold on relearning it,

[2021-02-09 09:51] Echinaceax commented on #4512
ah i think i understand what he means @mfranca0009

**_releases his body, he cant get resurrected._**

If a player releases and goes to the graveyard the body becomes none resurrected by a healer or a mass summon guild perk,
 (Blizzlike as far as i remember)

**_Since the dungeon Blackwing Decent is between 2 zones where only one has a Flightmount as Ghost and one not (Burning steppes doesnt have

[2021-02-09 12:09] Echinaceax commented on #4365
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/107361675-08ea8700-6ad8-11eb-95de-33656fe8e1e6.png)

[2021-02-09 13:06] golosomie commented on #4512
@Echinaceax
Can you get any confirmation on the last part? In WotLK you could resurrect people that released their spirit.

[2021-02-09 13:17] Echinaceax commented on #4512
Sometimes its hard to find the 100% info as you know
I will ofc reseach this but Reporters are actually meant to provide the proof not the testers @golosomie
then we reopen and look into it

[2021-02-09 13:48] golosomie commented on #4512
@Echinaceax
[Resurrect on wowpedia](https://wow.gamepedia.com/Resurrect#Tips)

So the report is correct.

[2021-02-09 13:54] Echinaceax commented on #4512
@mfranca0009
 Seems correct as @golosomie linked

![image](https://user-images.githubusercontent.com/39439201/107373245-9b922280-6ae6-11eb-8bb6-6d947d122326.png)

thanks for the research @golosomie 👍

[2021-02-10 00:33] mfranca0009 commented on #4512
All resurrections now work even if they have already released their spirit, including mass resurrection from guild perks.

[2021-02-10 01:00] Echinaceax commented on #4512
confirmed fixed in PTR

[2021-02-10 01:36] dragann99 opened #5065 "Darrowmire Quest"
**Links:**

from WoWHead or our Armory

**What is happening:**
Going to Darrowmire's town square and activating the quest item does nothing

**What should happen:**

**Is it crashing the server?:**
No
**Other Information:**
Despite being in the correct location the quest says missing Darrowmire Town Square

[2021-02-10 01:38] dragann99 opened #5066 "Fiona"
**Links:**

from WoWHead or our Armory

**What is happening:**
Fiona the quest giver in Eastern Plague Lands isn't showing up
The mini map shows she is there but the character model isn't anywhere

**What should happen:**

**Is it crashing the server?:**
No
**Other Information:**
Looked all over the general area and still can't seem to find her

[2021-02-10 08:42] HrafnValknutt commented on #4876
Fix in Dev confirmed. :)

[2021-02-10 11:21] Echinaceax commented on #5066
need more info @dragann99
need to know the quest name or is it that you want to start the quests from her?
https://wow.gamepedia.com/Fiona

A Gift For Fiona ?
https://wow.gamepedia.com/A_Gift_For_Fiona

@dragann99
Try starting the questline in the correct order, it could be a phasing issue, she is problerbly there just in wrong phase,

i will test it once you give more into

[2021-02-10 11:44] Echinaceax commented on #5066
tested NO issue finding fiona's first quest

![1st](https://user-images.githubusercontent.com/39439201/107505920-a6f45500-6b9d-11eb-9e75-3d990e27f00a.jpg)
![2nd](https://user-images.githubusercontent.com/39439201/107505938-aa87dc00-6b9d-11eb-90ca-2748d5ccb4f3.jpg)

[2021-02-10 11:46] Echinaceax commented on #5065
need more info
1.quest name
2.wowhead link to the quest you mean

then we know what to test @dragann99

edited
https://github.com/WoWManiaUK/Blackwing-Lair/issues/4409
if its the quest then you can type in chat screen **.bq 27390** to complete it yourself

[2021-02-10 11:49] #5065 closed, assigned to nobody

[2021-02-10 12:14] Fixerage opened #5067 "[NPC/Vendor] I can't interact with the armor and repair vendor"
**Links:**

from WoWHead or our Armory

**What is happening:**

I have a DK lvl 62 and i did a quest with a dragon  evreytime the npcs kept hitting me until my death (just a one bit was enough to take me down) . I died 9 times in unless than an hour after that my gear has a red mark so i need to repair them I've searched for a repair vendor and i used right click to open it but nothing happens i r

[2021-02-10 12:29] Echinaceax commented on #5067
Quest  https://wowhead.com/quest=12779
Video
https://youtu.be/Aad4pi6VV4s?t=1381
https://www.wowhead.com/quest=12779/an-end-to-all-things#videos:id=54245

I seen myself,  this quest does not behave like in the videos, (ours is a little more agressive) thats for sure @sam-ozak maybe a few adustments needed, and the vender is being checked by a helpful ingame player later

- [ ] Check vendor reporte

[2021-02-10 12:52] Novaveteran opened #5068 "Thrallmar Reputation Vendor Missing Items"
**Links:**

https://www.wowhead.com/npc=17585/quartermaster-urgronn
Is the same as on other wikis etc.

**What is happening:**

The vendor is missing a bunch of class specific items.

**What should happen:**

It should have the class specific lvl 70 items.

**Is it crashing the server?:**

No.

**Other Information:**

[2021-02-10 12:56] Echinaceax commented on #5068
Thanks @Novaveteran
@mfranca0009 compare from here too http://cata.cavernoftime.com/npc=17585

wowhead says (38)
Cavenoftime says (43) this is our amory

so yes could be more like 43 items needed

[2021-02-10 13:30] Echinaceax commented on #4509
is this quest doable ?

video shows the questback is at the tower https://www.youtube.com/watch?v=0p3abXbwBNE

she should be at the tower https://www.wowhead.com/npc=45417/fiona

[2021-02-10 13:50] OutlawCitizen commented on #4380
Any updates on this quest ?
EDIT: I forgot to mention that it still doesn't work.

[2021-02-10 14:19] Echinaceax commented on #4380
Not as yet @OutlawCitizen
Devs are very busy atm, but will be fixed when Coders get to it

[2021-02-10 14:49] Echinaceax commented on #2582
still not offering the quest once you have delivered https://www.wowhead.com/quest=27368/just-encased

this is messing the questline up

once this is added the quests works https://www.wowhead.com/quest=27369/greasing-the-wheel

![image](https://user-images.githubusercontent.com/39439201/107526897-9ac9c100-6bb8-11eb-81ff-daa10638729d.png)

[2021-02-10 15:03] Echinaceax commented on #4046
added info
no quest delievery either

[2021-02-10 15:05] Echinaceax commented on #2695
no caravan to ride https://www.wowhead.com/quest=27373/onward-to-lights-hope-chapel#videos:id=81714

also https://github.com/WoWManiaUK/Blackwing-Lair/issues/4046 is on the wrong order,

![image](https://user-images.githubusercontent.com/39439201/107528183-da44dd00-6bb9-11eb-9087-4f22698c6ec3.png)

after completing the quest by command the quest delivery is in wrong location ofc :)

![image](https

[2021-02-10 15:48] SindraEl opened #5069 "Mor'shan Caravan Pick-Up (Northern Barrens)"
**Links:**
https://www.wowhead.com/quest=29109/morshan-caravan-pick-up#comments
https://wow.gamepedia.com/Mor%27shan_Caravan_Pick-Up

**What is happening:**
You can take the quest from Thork, but when you go to speak with Rocco Whipshank at the northern point of crossroads he is not there, instead he is still at the Grol'dom Farm and if you go speak to him there, still nothing happens

**What shou

[2021-02-10 15:50] Echinaceax opened #5070 "[Quest] Argent Call: Northdale - Eastern Plaguelands"
**Links:**

https://www.wowhead.com/quest=27466/argent-call-northdale
https://www.wowhead.com/npc=45417/fiona

![image](https://user-images.githubusercontent.com/39439201/107534051-d7e58180-6bbf-11eb-9817-0aa9bdedc373.png)

**What is happening:**
- Quest npc delivery at wriong location

**What should happen:**
_Speak with Fiona at Eastwall Tower in Eastern Plaguelands._

**Other Information:**
Fio

[2021-02-10 15:59] Echinaceax commented on #4509
tested and doable yes = npc is in wrong location
![shes here](https://user-images.githubusercontent.com/39439201/107535743-51ca3a80-6bc1-11eb-866c-29857133fcb1.jpg)

![fiona ](https://user-images.githubusercontent.com/39439201/107535720-4a0a9600-6bc1-11eb-9449-631b7204e414.jpg)

[2021-02-10 16:01] Echinaceax commented on #5069
Such a detailed report @SindraEl thanks for reporting But
we already have this reported here #4588

[2021-02-10 16:02] #5069 closed, assigned to nobody

[2021-02-10 16:03] Echinaceax commented on #4588
confirmed by a new player #5069

[2021-02-10 16:13] Novaveteran opened #5071 "Keepers of Time Reputation Vendor Missing Items"
Links:

https://www.cavernoftime.com/npc=21643
Is the same as on other wikis etc.

What is happening:

The vendor is missing a bunch of class specific items.

What should happen:

It should have the class specific lvl 70 items.

Is it crashing the server?:

No.

Other Information:

[2021-02-10 16:14] Elvorfindra commented on #5067
https://www.wowhead.com/npc=28500/master-siegesmith-corvus

I tested the starting area with troll dk up to the quest "An end to all things..." . Before this quest start NPCs reacting normal (you can repair). After turning completed quest in there will be only selling/buying NPC reacting to you, not anyone else (not even xp boost goblin).

What the repair says:
![WoWScrnShot_021021_161234](https://

[2021-02-10 16:35] mfranca0009 commented on #5066
Most likely talking about the caravan quests, which I believe don't function properly and are out-of-order or messed up due to this.

Could be many different reasons why such as, phasing, caravan transport is messed up, etc. @Echinaceax

[2021-02-10 16:41] Echinaceax commented on #5066
exactly @mfranca0009
im on the full questline atm in PTR :p
Fiona is in wrong locations for a lot of quest deliveries

[2021-02-10 16:52] Echinaceax opened #5072 "[Quest] Beat it Out of Them - Eastern Plaguelands"
**Links:**
https://www.wowhead.com/quest=27522/beat-it-out-of-them
https://www.wowhead.com/quest=27522/beat-it-out-of-them#videos:id=66666

**What is happening:**
- cant seem to get the last 2 quest objectives

- [x] Beat down at least 6 Scourge Siege Engineers
- [ ] Discover Gidwin's location - cant complete
- [ ] Discover Gidwin's captor - cant complete

**What should happen:**

_Beat down at le

[2021-02-10 17:54] #5066 closed, assigned to nobody

[2021-02-10 18:22] mfranca0009 commented on #4399
This has been fixed 👍

[2021-02-10 19:04] Fixerage commented on #5067
Not inside the ship under it the land under it

On Wed, Feb 10, 2021, 5:15 PM Mira <notifications@github.com> wrote:

[2021-02-10 19:50] Echinaceax commented on #5067
MORE INFOMATION NEEDED @sam-ozak

1. Vender name ???

[2021-02-10 19:54] mfranca0009 commented on #2450
At or before Patch 4.0.1:
https://www.wowhead.com/news=170048/cataclysm-justice-valor-point-drop-quantities#:~:text=Cataclysm%20bosses%20will%20give%2075,Valor%20Points%20on%2025%2Dplayer

Justice Points Table referencing Cataclysm Expansion (Specific Patch undetermined):
https://www.wowhead.com/currency=395/justice-points

Normal bosses on kill rewarding JP is irrelevant for most dungeons, since

[2021-02-10 19:54] #2450 closed

[2021-02-10 20:10] Elvorfindra commented on #5067
https://www.wowhead.com/npc=28760/hargus-the-gimp
Hargus the Gimp is the vendor name at Deaths Breach. He’s not reacting aswell!

[2021-02-10 20:22] Echinaceax commented on #5067
https://wowwiki-archive.fandom.com/wiki/Hargus_the_Gimp

![image](https://user-images.githubusercontent.com/39439201/107567502-0d04ca80-6be6-11eb-9d0f-c62f45e91219.png)

[2021-02-11 11:10] #4132 closed

[2021-02-11 11:10] #4205 closed

[2021-02-11 11:10] #4365 closed

[2021-02-11 11:10] #4399 closed, assigned to mfranca0009

[2021-02-11 11:10] #4512 closed, assigned to mfranca0009

[2021-02-11 11:10] #4668 closed, assigned to mfranca0009

[2021-02-11 11:10] #4685 closed, assigned to mfranca0009

[2021-02-11 11:10] #4692 closed, assigned to mfranca0009

[2021-02-11 11:10] #4693 closed, assigned to mfranca0009

[2021-02-11 11:10] #4694 closed, assigned to mfranca0009

[2021-02-11 11:10] #4695 closed, assigned to mfranca0009

[2021-02-11 11:10] #4697 closed, assigned to mfranca0009

[2021-02-11 11:10] #4703 closed, assigned to mfranca0009

[2021-02-11 11:10] #4705 closed, assigned to mfranca0009

[2021-02-11 11:10] #4745 closed, assigned to mfranca0009

[2021-02-11 11:10] #4807 closed, assigned to mfranca0009

[2021-02-11 11:10] #4810 closed, assigned to mfranca0009

[2021-02-11 11:10] #4814 closed, assigned to mfranca0009

[2021-02-11 11:10] #4849 closed, assigned to mfranca0009

[2021-02-11 11:10] #4876 closed, assigned to mfranca0009

[2021-02-11 11:10] #4912 closed, assigned to mfranca0009

[2021-02-11 11:10] #5037 closed, assigned to mfranca0009

[2021-02-11 11:10] #5040 closed, assigned to mfranca0009

[2021-02-11 11:10] #5059 closed, assigned to mfranca0009

[2021-02-11 11:10] #5063 closed, assigned to mfranca0009

[2021-02-11 11:11] #952 closed

[2021-02-11 11:11] #1692 closed

[2021-02-11 11:11] #2057 closed

[2021-02-11 11:11] #2132 closed

[2021-02-11 11:11] #2738 closed

[2021-02-11 11:11] #3888 closed

[2021-02-11 11:11] #3890 closed

[2021-02-11 11:11] #4109 closed

[2021-02-11 11:11] #4110 closed

[2021-02-11 14:11] mfranca0009 commented on #2146
Starfire isn't considered a Nature spell, it's considered under the spell school mask of Arcane. Therefore, Starfire should NOT be an instant cast and should NOT be free (costing no mana).

Looking into the buff being consumed though, since this is a possible problem.

[2021-02-11 14:46] Jowisee opened #5073 "Scarlet Monastery"
**Links:**

from WoWHead or our Armory

**What is happening:**
Myself and my partner have tried to run through Scarlet Monastery today, however none of the mobs are dropping any loot other than money. We have reset instances both in and out of a party, have cleared our caches manually and through the launcher and I have also spoken to a GM and nothing has worked. The instances work fine solo, but

[2021-02-11 14:51] mfranca0009 commented on #5073
@Jowisee an update has been applied an hour ago to fix this problem.

Have you tried recently?

[2021-02-11 14:55] Jowisee commented on #5073
I was speaking to a gm less than half an hour ago, I just finished trying
everything before I posted this issue

On Thu, 11 Feb 2021, 14:51 Koko, <notifications@github.com> wrote:

[2021-02-11 14:56] mfranca0009 commented on #5073
What was the loot method being used? Group Loot default?

[2021-02-11 15:04] Jowisee commented on #5073
We tried group loot, free for all and round robin

On Thu, 11 Feb 2021, 14:56 Koko, <notifications@github.com> wrote:

[2021-02-11 16:12] mfranca0009 commented on #5073
@Jowisee

Issue was resolved from the update that was done about an hour ago, and it seems you need to leave the current group (if you were in one) and logout. Re-login, and then create a new group.

This is at least the current solution to others that were having this problem after the update went out.

[2021-02-11 16:12] #5073 closed, assigned to mfranca0009

[2021-02-11 19:32] Echinaceax commented on #2204
@mfranca0009
rank 1 https://cata-twinhead.twinstar.cz/?spell=53221
rank 2 https://cata-twinhead.twinstar.cz/?spell=53222
rank 3 https://cata-twinhead.twinstar.cz/?spell=53224

![image](https://user-images.githubusercontent.com/39439201/107689006-95e43a80-6ca8-11eb-9e54-5dd1c348ea5c.png)
![image](https://user-images.githubusercontent.com/39439201/107689569-45b9a800-6ca9-11eb-8325-6970c8a3b7e5.png)

[2021-02-11 21:36] Echinaceax commented on #2204
tested
i see no issue at all

reporter says

- [x] "its not overwriting it until you dont have it anymore"
rotation https://gyazo.com/f5025b83989c7a7a2df5ff3b09f4925f
spammed Steady Shot https://gyazo.com/f5025b83989c7a7a2df5ff3b09f4925f

- [x] buff is given and triggered correctly

try using this rotation
https://gyazo.com/317629e3aa6bb384bdf426683c535030

Note:
Improved Steady Shot will drop off

[2021-02-11 21:39] #2204 closed

[2021-02-11 23:29] Echinaceax commented on #3815
reported here #2298

[2021-02-11 23:29] #3815 closed

[2021-02-11 23:56] golosomie commented on #2146
@mfranca0009
Can confirm that the buff isn't consumed when casting Cyclone / Entangling Roots / Hibernate instantly even though it should be.
All other affected spells (Wrath, Healing Touch, Nourish, Regrowth) remove the buff correctly.

The set of spells that profit from the buff seems to be correct. Starfire isn't one of them.

Cyclone: Spell 33786
Hibernate: Spell 2637
Entangling Roots: Spell 3

[2021-02-12 00:14] Echinaceax commented on #3818
not sure what you mean
Seems fine to me , Aim shot then my auto shot works fine

video of your encounter woulds help
closeing for now

[2021-02-12 00:14] #3818 closed

[2021-02-12 00:52] Echinaceax commented on #3956
As i see it - its got a few issues, no difference glyphed/un-glphed either

with aqua form without glyph  - smim speed is 148%
with aqua form with glyph  - smim speed is 148%

![in form](https://user-images.githubusercontent.com/39439201/107717883-ed000480-6cd4-11eb-9097-78b577325db4.jpg)
![glyphed](https://user-images.githubusercontent.com/39439201/107717915-00ab6b00-6cd5-11eb-8038-b19316227c33.j

[2021-02-12 01:18] Echinaceax commented on #2334
Video you linked  has the rotation

![rotation](https://user-images.githubusercontent.com/39439201/107719096-b5df2280-6cd7-11eb-88da-0680b45812df.jpg)

But if you start your rotation with PoM the 1 AB is instant and the others are cast time to build up your stacks of AB

![image](https://user-images.githubusercontent.com/39439201/107719857-71ed1d00-6cd9-11eb-88a3-46e10d29e2a4.png)

![image](https:

[2021-02-12 01:19] #2334 closed

[2021-02-12 01:28] Echinaceax commented on #3819
can you provide some links ?

[2021-02-12 01:36] Echinaceax commented on #2299
![image](https://user-images.githubusercontent.com/39439201/127770508-b5636dc9-bf22-4494-84e0-733df904413a.png)

[2021-02-12 02:14] mfranca0009 commented on #2298
All set 👍 will now cause 15% of all damage done from other target(s) to the one afflicted with Bane of Havoc.

[2021-02-12 02:59] mfranca0009 commented on #2146
All set 👍

[2021-02-12 05:11] mfranca0009 commented on #3817
All set, should restore mana properly for rank 1 and 2 Soul Leech talent. 👍

[2021-02-12 05:30] mfranca0009 commented on #3666
Could we get someone to make sure this is still an issue? @Echinaceax

[2021-02-12 10:33] Novaveteran opened #5074 "Gates closing Stratholme"
**Links:**

https://youtu.be/WYunPcCQXeg?t=323
from 5:23 onward, if you look closely gates are still open

**What is happening:**

The big gates close leading up to last boss after you defeat the last boss

**What should happen:**

The gates should still be open and you can run out the dungeon

**Is it crashing the server?:**

no

**Other Information:**

[2021-02-12 10:57] Echinaceax commented on #5074
Ive seen this reported before somewhere

We will check it out, thanks @Novaveteran

[2021-02-12 13:56] Novaveteran opened #5075 "Baradin Grunt's Talisman damage output too low"
**Links:**

http://cata.cavernoftime.com/item=65176
https://www.wowhead.com/item=65176/baradin-grunts-talisman#comments
on wowhead people talk about the damage in the comments.

**What is happening:**

you summon the ghost guy, he starts attacking, only doing ~70 damage. Not sure if he stays summoned for 30 seconds.

**What should happen:**

Being summoned for 30 seconds. Doing anywhere between 3

[2021-02-12 15:48] Echinaceax commented on #5075
confirmed low damage output and no wolf mount on summon

Summon grunt spell https://www.wowhead.com/spell=92337/summon-fallen-grunt#summons

- [ ] Low damage atm 60-70
- [ ] should be mounted on a wolf when summoned (while out of combat)
- [ ] Does stay summoned for 30secs but as he doesnt fight he dies quicker (i think)
- [ ] Also check Ally https://www.wowhead.com/item=65175/baradin-footmans-tag

[2021-02-12 16:39] mfranca0009 commented on #5074
Doesn't the gates close when you're fighting the last boss, then re-open when he's been killed?

Or are they suppose to always be open?