[2020-04-28 08:27] Echinaceax commented on #4422
there is a lot of issues regarding worgen when changing forms
#4325 #4396 #3021

i wonder if Mania has any issues with Worgens?
and is there a way to copy over the worgen data from there to here maybe?

[2020-04-28 09:03] Echinaceax opened #4424 "[BOSS] Ragnaros - (Respawn timer) - Molten Core"
**Links:**

http://cata.cavernoftime.com/npc=11502

**What is happening:**
- When players die, Ragnaros reset timer is 10 mins
which causes players to report it bugged to GMs

**What should happen:**
_Timer needs checking and reducing (maybe)_

[2020-04-28 11:38] mizsh opened #4425 "[Quest] You are Rakh'likh, Demon - (Horde) - Blasted Lands"
Quest: http://cata.cavernoftime.com/quest=26171

**What is happening:**
1. There is no object to summon Rakh'likh.

**What should happen:**
1. There should be an object to summon Rakh'likh in order to kill him.

[2020-04-28 11:42] mizsh opened #4426 "[Quest] Curtail the Darktail - Blasted Lands"
Quest: https://www.wowhead.com/quest=25709/curtail-the-darktail

**What is happening:**
1. Cannot activate the Enohar's Explosive Arrows in order to kill the Darktail.

**What should happen:**
2. Can be activate the Enohar's Explosive Arrows in order to kill the Darktail.

[2020-04-28 12:21] Echinaceax commented on #3841
no new info @Keader

[2020-04-28 12:26] Echinaceax commented on #2146
So this buff is continuing the full duration even after Cyclone and Entangling Roots have been used?

note: i have seen this in arena recently , Predatory Strikes does seem bugged (but as i dont know feral) i dont know how this should work)

https://wowwiki.fandom.com/wiki/Predatory_Swiftness
https://wow.gamepedia.com/Predatory_Swiftness

![pred strickes1](https://user-images.githubusercontent.com

[2020-04-28 13:05] Lumber-Jack-2 commented on #4421
okay fixed, you can now only join lfg if you have quest 28517 (The Howling Oak for Worgen) if you are a worgen - finished.

[2020-04-28 13:08] Echinaceax commented on #4421
lovely thx rushor your awsome ❤️

[2020-04-28 13:09] Danie123 commented on #4421
Thanks still busy testing something else while i am in the zone i can just test this aswell.

[2020-04-28 13:11] Echinaceax commented on #4421
on dev ofc @Danie123 ?

if you can confirm fix and add the confirmed fixed in dev label that will be great thx :)

[2020-04-28 13:12] Danie123 commented on #4421
Yes

[2020-04-28 13:15] Lumber-Jack-2 commented on #4421
fix also on dev now, all applied

[2020-04-28 13:23] Danie123 commented on #4422
This bug is Client side not server side. Tested played around mine is fine.

[2020-04-28 13:27] Danie123 commented on #4422
![Cat form](https://user-images.githubusercontent.com/5410898/80492709-b4b95080-8964-11ea-8b72-f12756f602f5.png)
![worgen form](https://user-images.githubusercontent.com/5410898/80492765-c7338a00-8964-11ea-9c01-555608df98d0.png)

[2020-04-28 13:52] Echinaceax commented on #4422
@Danie123 have not patched to reign yet :)

[2020-04-28 13:55] Danie123 commented on #4422
Patching now and will retest

[2020-04-28 13:55] Echinaceax commented on #4422
thanks @Danie123

[2020-04-29 08:39] #4247 closed

[2020-04-29 08:39] #4248 closed

[2020-04-29 08:39] #4249 closed

[2020-04-29 08:39] #4367 closed

[2020-04-29 08:39] #4383 closed, assigned to Thelonnious

[2020-04-29 08:39] #4384 closed, assigned to Thelonnious

[2020-04-29 08:39] #4391 closed, assigned to Thelonnious

[2020-04-29 08:39] #4405 closed, assigned to Thelonnious

[2020-04-29 08:39] #4410 closed, assigned to Thelonnious

[2020-04-29 08:39] #4412 closed, assigned to Thelonnious

[2020-04-29 08:39] #4413 closed, assigned to Thelonnious

[2020-04-29 08:39] #4415 closed, assigned to Thelonnious

[2020-04-29 08:39] #4420 closed, assigned to Thelonnious

[2020-04-29 08:39] #4421 closed, assigned to Lumber-Jack-2

[2020-04-29 11:54] Echinaceax opened #4427 "[Char/Race] char glitch bug"
**video**
https://gyazo.com/4befec8ab607c8a2847777bc93c64dc3
https://gyazo.com/19a4984d68ba51393b3d7af11ed0937d

**What is happening:**
- Char's here glitch when jumping or sitting
_could be adding other issues to server_

**What should happen:**
_char movement should be smooth_

**Is it crashing the server?:**
_no_

[2020-04-29 21:44] Thelonnious commented on #4397
removed in cata after the map change

[2020-04-29 21:44] #4397 closed, assigned to nobody

[2020-04-29 21:45] rzenne opened #4428 "[Quest] [Traveling Companions] [Eastern Plaguelands]"
https://www.wowhead.com/quest=27381/traveling-companions

from WoWHead or our Armory

**What is happening:**
when you talk to Argus Highbeacon he doesn't have the option to ask him to join the caravan

**What should happen:**
https://www.youtube.com/watch?v=EkZd8z_Yfvg
**Is it crashing the server?:**

**Other Information:**

[2020-04-30 00:44] Thelonnious opened #4429 "[Quest] Burnin' at Both Ends"
**Links:**
[ Burnin' at Both Ends](https://www.wowhead.com/quest=28597/burnin-at-both-ends)

**What is happening:**

Cannon Powder Barrel dont drop Cannon Powder

**What should happen:**

Cannon Powder Barrel need to drop Cannon Powder

**Is it crashing the server?:**

**Other Information:**

[2020-04-30 04:49] rzenne opened #4430 "[npc] Gidwin Goldbraids (needs moving) [ Eastern Plaguelands]"
https://www.wowhead.com/quest=27455/boys-will-be-boys

from WoWHead or our Armory

**What is happening:**
Gidwin Goldbraids is suppose to be by the statue when you enter Light's Hope but he is not.

https://www.youtube.com/watch?v=4CnTXG9VZ88

**Is it crashing the server?:**

**Other Information:**

[2020-04-30 07:29] Echinaceax commented on #4429
#281 was reported here
i will close the other one if you fixed this now @Xman993

[2020-04-30 07:30] Echinaceax commented on #281
fixed here #4429

[2020-04-30 07:30] #281 closed

[2020-04-30 07:50] Echinaceax commented on #4430
Found issue,  https://www.wowhead.com/npc=45431/gidwin-goldbraids

your link map

![same coords](https://user-images.githubusercontent.com/39439201/80685681-de3ebd00-8ac7-11ea-9362-cd9698a997fd.jpg)

my map

![position](https://user-images.githubusercontent.com/39439201/80685719-e8f95200-8ac7-11ea-8840-e1a8bb0ef2d9.jpg)

quest can be completed but npc in wrong coords acording to objective and map

[2020-04-30 08:10] Echinaceax commented on #4428
confirmed no dialog

[2020-04-30 09:10] Echinaceax commented on #2551
bugged again due to new client update 1.1

confirmed on live

Male blood elf
Brown hair
long hair style

![pala long hair brown](https://user-images.githubusercontent.com/39439201/80694097-4eebd680-8ad4-11ea-9871-125ace4e0d98.jpg)

![fisher error again](https://user-images.githubusercontent.com/39439201/80693379-316a3d00-8ad3-11ea-88a2-d02481bd517a.jpg)

[2020-04-30 10:22] Echinaceax opened #4431 "[Worgen] Mage portal / group summon guild perk (phasing issue)"
**Links:**

https://wow.gamepedia.com/Worgen_starting_experience

**What is happening:**
- worgens are leaving startzone by other means again
this time mage portal/ summoning stone to SW / guild perk

**What should happen:**
Set "do not meet the requirements" same fix as this please #4421

1. mage portals
2. group summon (guild perk) https://wow.gamepedia.com/Have_Group,_Will_Travel

### Naughty w

[2020-04-30 10:57] Echinaceax commented on #4410
placed 3 and 4 to complete the quest

![3 4](https://user-images.githubusercontent.com/39439201/80702957-2cf95080-8ae2-11ea-9ca9-b487448c9b9e.jpg)

[2020-04-30 11:07] Echinaceax commented on #4429
confirmed fixed in dev

![confirmed4](https://user-images.githubusercontent.com/39439201/80703694-8ada6800-8ae3-11ea-8b0a-cc2ca11c4f5b.jpg)

[2020-04-30 11:11] Echinaceax commented on #4394
fixed in dev confirmed

![fixed](https://user-images.githubusercontent.com/39439201/80704027-253aab80-8ae4-11ea-8260-8213c5bea2d8.jpg)

[2020-04-30 11:31] Lumber-Jack-2 commented on #4431
group summon (guild perk) https://wow.gamepedia.com/Have_Group,_Will_Travel

will no longer select player targets that are race worgen and have quest "The Howling Oak for Worgen " not completed.

[2020-04-30 11:35] Lumber-Jack-2 commented on #4431
for the portal issue i need clear reproduction case with spellids (wowhead) :)

[2020-04-30 11:59] Thelonnious commented on #4431
@Rushor don't bother blocking all for worges because on retail when they leave gilneas get all worgen racial spells automatically dont have to do the quest line.

[2020-04-30 12:09] Echinaceax commented on #4431
@Xman993 it has been told by the GMs ingame to do this

When players are porting/summoning worgens out of startzone when they havent completed the questline is causing Massive issues and extra work for them,

I was told by GM to report it and get is sorted

when worgens lvl x2 they are leveling to fast here @Xman993 which is causing them to think its fine to leave, we are not retail xp1 are we ?

[2020-04-30 13:46] Echinaceax commented on #4431
will this fix also work with dungeon main city summoning stones and warlock sommoning ritual @rushor?

[2020-04-30 18:27] Danie123 commented on #4422
I've Tested on the new Patch as well 1.1.0 and still works 100% no bugs.

Can we Close or someone else want to test?

[2020-04-30 20:17] rzenne opened #4432 "[Quest] [Argent Call: The Trial of the Crypt] [Eastern Plaguelands]"
https://www.wowhead.com/quest=27464/argent-call-the-trial-of-the-crypt

from WoWHead or our Armory

**What is happening:**
When you enter the crypt it doesn't realize you are in the crypt so will not allow you to read scroll to start quest.

**What should happen:**
https://www.youtube.com/watch?v=9eF5oGCVfx4
**Is it crashing the server?:**

**Other Information:**

[2020-04-30 23:20] Echinaceax commented on #4422
gamer100 will retest fron the new client now to check @Danie123 will update soon

[2020-05-01 00:29] Chargelol commented on #4370
legion retail i had destiny transmoged but like i said before cant remeber how it was back in cata

[2020-05-01 02:15] rzenne opened #4433 "[Quest] [Nobody to Blame but Myself] [Eastern Plaguelands]"
https://www.wowhead.com/quest=27489/nobody-to-blame-but-myself

from WoWHead or our Armory

**What is happening:**
Due to problems with the quest "traveling companion" reported here #4428
Fiona's Caravan is not present.

**What should happen:**
https://www.youtube.com/watch?v=Me8-_RwO6DM
**Is it crashing the server?:**

**Other Information:**

[2020-05-01 03:31] rzenne commented on #422
.BQ 27524 doesn't work even if you are standing right beside it.

[2020-05-01 04:08] Echinaceax commented on #422
not all broken quests are on the .bq list @rzenne thats why that part didnt work

and this report hasnt been fixed yet :)

[2020-05-01 04:14] Echinaceax commented on #4370
i looked for any evedence that i could find to see in cata but didnt find any, asked around in test team too. nothing found to say if it worked in cata so i closed it :)

thanks @Chargelol

[2020-05-01 04:36] Echinaceax commented on #4422
Tested myself too and no issues at all

at lvl8 https://gyazo.com/4600cd1f5a04ec6775a34a5704f7e949
at lvl17 https://gyazo.com/941d18017c770af0f7e9b2b68a6a22e5

gamer100 is doing new install

[2020-05-01 04:38] #4422 closed, assigned to nobody

[2020-05-01 04:44] Echinaceax commented on #3021
### update

https://gyazo.com/941d18017c770af0f7e9b2b68a6a22e5

I level a worgen druid female today from 1 - 17
no graffic issues at all

[2020-05-01 04:45] #3021 closed

[2020-05-01 10:53] Echinaceax commented on #1858
no issues at all with this now, i levels a worgen and left the zone perfectly fine

[2020-05-01 12:00] Echinaceax opened #4434 "[General] game markers (issue8) - Gilneas"
![game markers4](https://user-images.githubusercontent.com/39439201/80803940-00ae0480-8bb4-11ea-96b7-6dbc80654d1b.jpg)

![green markers](https://user-images.githubusercontent.com/39439201/80862681-526b9300-8c77-11ea-8542-6966290dee89.jpg)

**What is happening:**
- Player can see game marker

![38344 plaue cloud bunny](https://user-images.githubusercontent.com/39439201/80862682-5bf4fb00-8c77-11ea-8

[2020-05-01 12:58] Thelonnious commented on #4434
@Echinaceax can you  give me the id?

[2020-05-01 14:18] Echinaceax commented on #4434
38344 plague cloud bunny

[2020-05-01 14:44] Echinaceax opened #4435 "Taryssa Lazuria / Farrah Facet <Jewelcrafting Supplies> patch 4.3"
**Links:**

Horde - https://www.wowhead.com/npc=57922/taryssa-lazuria
Ally - https://www.wowhead.com/npc=56925/farrah-facet

**What is happening:**
- selling recipes we cant get mats for yet
_wasting tokens on recipes we cant use_

**What should happen:**
_should be removed as the mats needed are not obtainable yet_

**Other Information:**

[2020-05-01 15:55] xrawenx opened #4436 "Game stops responding when teleporting"
When using hearthstone or teleport to mania mall game stop responding and have to force quit game.

[2020-05-01 18:07] Echinaceax commented on #4436
Patch or addons
not server bug @xrawenx

[2020-05-01 18:08] #4436 closed, assigned to nobody

[2020-05-01 19:11] Echinaceax opened #4437 "[Quest] The Hunt For Sylvanas - (autocompleting) - Gilneas"
**Links:**

The Hunt For Sylvanas http://cata.cavernoftime.com/quest=24902

**What is happening:**
- Its autocomplete

**What should happen:**
_Follow Tobias Mistmantle in the Hunt for Sylvanas. If you lose Tobias, return to Lorna Crowley and speak with her to call again for his aid._

[2020-05-01 21:09] rzenne opened #4438 "[Quests] [The Wardens Game] [Badlands]"
https://www.wowhead.com/quest=27885/the-wardens-game

from WoWHead or our Armory

**What is happening:**
The statue is not breaking into pieces so you can not rotate them to finish quest.

**What should happen:**
https://www.youtube.com/watch?v=gzFM0SP8Jmg
**Is it crashing the server?:**

**Other Information:**

[2020-05-01 22:31] Echinaceax commented on #4438
is mentioned in comment 2 here #448
but its good to have both reported
thanks @rzenne

[2020-05-02 00:51] gamer100 commented on #1513
The Overloaded harvest  golem is  not  counted as activated the  the reapers  slain work properly  but when you are done it is not complete
![image](https://user-images.githubusercontent.com/33811022/80851094-d7c35900-8c1f-11ea-9b70-6d1ecf8495e3.png)

[2020-05-02 04:35] rzenne commented on #3380
Tried it today. she still doesn't fetch egg and it doesn't autocomplete

[2020-05-02 08:58] Danie123 opened #4439 "[Quest] Faces of Evil ID - 26521 - The Hinterlands"
**Links:**

https://www.wowhead.com/quest=26521/faces-of-evil

**What is happening:**
When using quest item 58209 - Tiki Torch it does not destroy game object its. quest can't be completed.

**What should happen:**
When you use item 58209 - Tiki Torch it should destroy game object Tiki Mask

**Is it crashing the server?:**
No
**Other Information:**
Quest is located in The Hitherlands

[2020-05-02 09:11] Danie123 opened #4440 "[Quest] Summit of Fate ID - 26517 - The Hinterlands"
**Links:**
https://www.youtube.com/watch?v=jogNMlK-j50
https://www.wowhead.com/quest=26517/summit-of-fate

**What is happening:**
NPC - Sacrificed Vilebranch ID - 42857 is not lootable

**What should happen:**
You should be able to loot these corpses to find loot inside to complete quest. Quest item is Spider Idol - ID 58228

**Is it crashing the server?:**
No

**Other Information:**
Quest is loca

[2020-05-02 09:37] Echinaceax commented on #4440
Are you ally or horde @Danie123 ?
coz ally one is reported here #349

[2020-05-02 09:42] Danie123 commented on #349
@Echinaceax my bad did  not search if there was allready an report will close this one.

[2020-05-02 09:49] Echinaceax commented on #4440
reported here @Danie123 #351

[2020-05-02 09:50] #4440 closed, assigned to nobody

[2020-05-02 09:53] Echinaceax commented on #349
please dont close this one @Danie123
close your duplicate

[2020-05-02 09:58] Echinaceax commented on #4439
Always check the reports before making new , reported here #349

[2020-05-02 09:58] #4439 closed, assigned to nobody

[2020-05-02 13:04] Echinaceax opened #4441 "[NPC] Geargrinder Gizmo - The Lost Isles"
**Links:**

https://www.wowhead.com/npc=36600/geargrinder-gizmo

**What is happening:**
- Missing

**What should happen:**
Needs adding

**Is it crashing the server?:**
NO, not server but crashes client yes

**Other info**

here is the error after teleporting to npc

![npc there](https://user-images.githubusercontent.com/39439201/80865146-923a7680-8c87-11ea-9788-bda042e36935.jpg)

![lost isle erro

[2020-05-02 13:08] Echinaceax commented on #3566
report finished @Rushor

[2020-05-02 13:29] xrawenx commented on #4436
What patch do I need?

[2020-05-02 13:52] Echinaceax commented on #4436
U need the 1.1.0 client now, check discord for details

[2020-05-02 19:22] Danie123 commented on #478
.bq command needs to be set for alliance as well if possible cant not be completed. this is the quest info
https://www.wowhead.com/quest=28205/a-perfect-costume

[2020-05-02 20:43] Echinaceax commented on #295
confirmed fixed in dev

![freed](https://user-images.githubusercontent.com/39439201/80891732-46f38880-8cc6-11ea-9f21-46da0e7ad97f.jpg)

[2020-05-02 20:45] Echinaceax opened #4442 "[Item] Brazier of Dancing Flames - Midsummer Fire Festival"
**Links:**
https://www.wowhead.com/item=34686/brazier-of-dancing-flames

![do dancer to click on](https://user-images.githubusercontent.com/39439201/80891773-90dc6e80-8cc6-11ea-810f-8e8d0a712ce6.jpg)

**What is happening:**
there is no dancing flame draeni to click on

**What should happen:**
https://www.youtube.com/watch?v=4speV_1Kr_U

**More info**
And for 350 Burning Blossom, your going to want

[2020-05-02 22:57] deni6 commented on #4409
hello, its not added on the .bq still.
Thanks

[2020-05-03 00:16] #426 closed

[2020-05-03 00:59] rzenne commented on #158
worked fine for me today.

[2020-05-03 01:58] rzenne commented on #1610
Doesn't work for me.  Really seems to be hit and miss.  My hunter could get "two shoed lou "  then received "livin' the life" go to mine use box but when you return he is not back to finish quest. My warlock can't even get him to appear to do meet two shoed lou.

[2020-05-03 08:50] Echinaceax commented on #4409
are you typing .bq 27390 @deni6 ?

think the link above was wrong id, ive edited it now for you

[2020-05-03 08:55] Echinaceax commented on #426
is this on live @Xman993 ?
jani closes when on live only

[2020-05-03 08:59] Echinaceax commented on #158
really?
good to know.
thanks @rzenne

player reported still bugged, so they must have done something wrong since this was fixed before

[2020-05-03 08:59] #158 closed

[2020-05-03 09:07] Echinaceax commented on #1610
Very odd, char bug?
is there any "class" quests that could be putting you out of phase ?
as you say "its very hit and miss" @rzenne

[2020-05-03 12:06] Echinaceax opened #4443 "[Quest Item] Deep Alabaster Crystal - Deepholm"
**Links:**
quest item https://www.wowhead.com/item=65504/deep-alabaster-crystal
Quest https://www.wowhead.com/quest=27048/underground-economy
npc https://www.wowhead.com/npc=44259/gorged-gyreworm

**What is happening:**
- Quest item dropping without having the daily quest

**What should happen:**
Shouldnt drop if you dont have quest

**Other info**

And taking bag space

![filling](https://user-im

[2020-05-03 13:42] Thelonnious commented on #426
yes, its on live. quest and animation works.

[2020-05-03 16:54] deni6 commented on #692
Still not working, tried it right now. Can`t finish the quest.

[2020-05-03 16:58] rzenne commented on #1610
Without getting past this there is really not that many quests to do. The quests to get here really seem to be you finish one to get to the next one so can't really see a way to get out of sync.

[2020-05-03 17:00] Echinaceax commented on #692
havent been looked at yet @deni6

[2020-05-03 19:31] Echinaceax opened #4444 "[General] Al'Akir Platform - Throne of the Four Winds"
**Links:**

![floor](https://user-images.githubusercontent.com/39439201/80923607-0149c500-8d85-11ea-9385-7e81c470c25e.jpg)

**What is happening:**
- When players die on the last boss, their corpse falls through the platform on outer ring
_See on the Screenshot where arrow are_

- fell through the floor after battle res

![fell though](https://user-images.githubusercontent.com/39439201/80964283-e0c

[2020-05-03 19:50] Echinaceax opened #4445 "[BOSS] Al'Akir (Loot on HC Mode) - Throne of the Four Winds"
**Links:**

![loot3](https://user-images.githubusercontent.com/39439201/80924243-17a55000-8d88-11ea-9ee5-06d316b078cc.jpg)

**What is happening:**
- loot table incorrect
- dropping 1 bop too much

**What should happen:**
10man and heroic - 1 tier token and 2 items (1 shoulders of the forlorn and 1 bop)
25man and hc - 3 tier tokens, 2 shoulders of the forlorn and 4 bop

**other info**
25man is fine

[2020-05-04 04:34] rzenne commented on #349
BQ 26521 works

[2020-05-04 09:50] Danie123 commented on #4411
![1](https://user-images.githubusercontent.com/5410898/80954120-09dde200-8dfd-11ea-93bd-8c8d27717c1a.png)
Collected
![2](https://user-images.githubusercontent.com/5410898/80954151-19f5c180-8dfd-11ea-8708-3881106fb762.png)
Collected
![3](https://user-images.githubusercontent.com/5410898/80954167-24b05680-8dfd-11ea-97fd-7e7078b46136.png)
Collected
![4](https://user-images.githubusercontent.com/54108

[2020-05-04 12:04] Echinaceax commented on #4442
Fixed confirmed in dev

![fiery sedution](https://user-images.githubusercontent.com/39439201/80963903-33543900-8e10-11ea-9a42-fd89462773b1.jpg)

![fixed com](https://user-images.githubusercontent.com/39439201/80963880-2afbfe00-8e10-11ea-9ab0-43ac0bb2d523.jpg)

[2020-05-04 12:21] Echinaceax commented on #1610
Can we get full info on your Warlock and Hunter @rzenne
also are you on the newest client 1.1.0 ?

Race
hair style
hair colour
which pet used

then we can test it

[2020-05-04 13:57] Danie123 opened #4446 "[NPC][FIRELANDS] Molten Lord"
**Links:**

https://www.wowhead.com/npc=53115/molten-lord#abilities

from WoWHead or our Armory

**What is happening:**
When attacking the npc it does not cast spells to damage player.

**What should happen:**
When Npc is attacked it should use its spells to damage you all spells are in the link.

**Is it crashing the server?:**
No

**Other Information:**

[2020-05-04 14:01] Danie123 opened #4447 "[NPC][FIRELANDS] Giant Fire Scorpion"
**Links:**
https://www.wowhead.com/npc=53128/giant-fire-scorpion#abilities
from WoWHead or our Armory

**What is happening:**
When npc is attacked it doesnt use damage spells

**What should happen:**
When attacked it should cast it spells to damage players.
All is in the link

**Is it crashing the server?:**
No

**Other Information:**

[2020-05-04 14:05] Danie123 opened #4448 "[NPC][FIRELANDS] Molten Surger"
**Links:**
https://www.wowhead.com/npc=53141/molten-surger#abilities
from WoWHead or our Armory

**What is happening:**
When npc is attacked it doesnt use damage spells

**What should happen:**
When attacked it should cast it spells to damage players.
All is in the link

**Is it crashing the server?:**
No

**Other Information:**

[2020-05-04 14:07] Danie123 opened #4449 "[NPC][FIRELANDS] Ancient Core Hound"
**Links:**
https://www.wowhead.com/npc=53134/ancient-core-hound
from WoWHead or our Armory

**What is happening:**
When npc is attacked it doesnt use damage spells

**What should happen:**
When attacked it should cast it spells to damage players. The dog also doesn't have movement like it should.
All is in the link

**Is it crashing the server?:**
No

**Other Information:**

[2020-05-04 14:13] Danie123 opened #4450 "[BOSS][FIRELANDS] Beth'tilac"
**Links:**

from WoWHead or our Armory

**What is happening:**
Boss is not on original place.
https://cdn.discordapp.com/attachments/704599947000938588/706794493973757993/unknown.png

On 1st and 2nd phases of boss she doesn't do anything.
No Cinderweb Spinner spawns during boss fight
No Cinderweb Drone spawns during boss fight
No Cinderweb Spiderlings spawns during boss fight
No Engorged Bloodling

[2020-05-04 14:15] Danie123 opened #4451 "[NPC][FIRELANDS] Unstable Magma"
**Links:**
https://www.wowhead.com/npc=53901/unstable-magma#abilities
from WoWHead or our Armory

**What is happening:**
When npc is attacked it doesnt use damage spells

**What should happen:**
When attacked it should cast it spells to damage players.
All is in the link

**Is it crashing the server?:**
No

**Other Information:**

[2020-05-04 14:16] Danie123 opened #4452 "[NPC][FIRELANDS] Flamewaker Overseer"
**Links:**
https://www.wowhead.com/npc=53185/flamewaker-overseer#abilities
from WoWHead or our Armory

**What is happening:**
Npc doesn't Patrol like he should.
Npc dont use abilities.

**What should happen:**
When attacked it should cast it spells to damage players.
All is in the link

**Is it crashing the server?:**

**Other Information:**

[2020-05-04 14:17] Danie123 opened #4453 "[NPC][FIRELANDS] Harbinger of Flame"
**Links:**
https://www.wowhead.com/npc=53793/harbinger-of-flame#abilities:mode=n
from WoWHead or our Armory

**What is happening:**
When npc is attacked it doesnt use damage spells

**What should happen:**
When attacked it should cast it spells to damage players.
All is in the link

**Is it crashing the server?:**
No

**Other Information:**

[2020-05-04 14:20] Danie123 opened #4454 "[NPC][FIRELANDS] Smouldering Hatchling"
**Links:**
https://www.wowhead.com/npc=53794/smouldering-hatchling
from WoWHead or our Armory

**What is happening:**
When encounter is started this npc just spawns and stand still it does nothing.

**What should happen:**
When encounter is started this npc should spawn from its egg and start to attack you. There are multiple spawns until egg is destroyed.

**Is it crashing the server?:**
No

**Ot

[2020-05-04 14:21] Danie123 opened #4455 "[NPC][FIRELANDS] Blazing Monstrosity"
**Links:**
https://www.wowhead.com/npc=53791/blazing-monstrosity
from WoWHead or our Armory

**What is happening:**
When encounter start they just stand there.

**What should happen:**
These should be mountable and be able to use ablitities

**Is it crashing the server?:**
No

**Other Information:**

[2020-05-04 14:23] Danie123 opened #4456 "[BOSS][FIRELANDS] Lord Rhyolith"
**Links:**
https://www.wowhead.com/npc=52558/lord-rhyolith
from WoWHead or our Armory

**What is happening:**
Want to start the fight but you cant. His legs is not attackable.

**What should happen:**
When you hit its leg you use it to steer him around.

**Is it crashing the server?:**
No

**Other Information:**

[2020-05-04 14:25] Danie123 opened #4457 "[NPC][FIRELANDS] Patriarch Fire Turtle"
**Links:**
https://www.wowhead.com/npc=53094/patriarch-fire-turtle#abilities
from WoWHead or our Armory

**What is happening:**
This Turtle just attacks Normal.

**What should happen:**
When this Npc is attacked it should use abilities to damage player.

**Is it crashing the server?:**

**Other Information:**

[2020-05-04 14:27] Danie123 opened #4458 "[NPC][FIRELANDS] Fire Turtle Hatchling"
**Links:**
https://www.wowhead.com/npc=53096/fire-turtle-hatchling#abilities
from WoWHead or our Armory

**What is happening:**
This Turtle just attacks Normal.

**What should happen:**
When its attacked it should use an ability to make shield around him and damage players.

**Is it crashing the server?:**

**Other Information:**

[2020-05-04 14:28] Danie123 opened #4459 "[BOSS][FIRELANDS] Shannox"
**Links:**
https://www.wowhead.com/npc=53691/shannox
from WoWHead or our Armory

**What is happening:**
He doesn't spawn

**What should happen:**
When you kill enough mobs in the raid he should spawn.

**Is it crashing the server?:**
No

**Other Information:**

[2020-05-04 15:55] rzenne commented on #1610
Yes newest client.
Human
simple
blond
nose ring
various pets

[2020-05-04 16:04] Echinaceax opened #4460 "[Quest] War Dance - Mulgore"
**Links:**

Quest - https://www.wowhead.com/quest=24540/war-dance
npc - https://www.wowhead.com/npc=36931/orno-grimtotem

**What is happening:**
- NPC missing
- village empty

**What should happen:**

**Is it crashing the server?:**

**Other Information:**
- Defeat _Orno Grimtotem at Stonetalon Pass._
- _Should be other npcs there too_

https://www.wowhead.com/quest=24540/war-dance#videos:id=4415

[2020-05-04 17:04] Echinaceax commented on #1610
**Reproduce steps**
- Human male
- did quests up to going to https://www.wowhead.com/npc=42308/lieutenant-horatio-laine
- completed https://www.wowhead.com/quest=26213/hot-on-the-trail-the-riverpaw-clan
- completed **Hot On the Trail: Murlocs** (shouldnt even be here)

then after handing in **Hot On the Trail: Murlocs** i was given the completed https://www.wowhead.com/quest=26213/hot-on-the-trail

[2020-05-04 17:16] Echinaceax opened #4461 "[NPC] Lieutenant Horatio Laine (quest order) - Westfall"
**Links:**

https://www.wowhead.com/npc=42308/lieutenant-horatio-laine

**What is happening:**
- npc quest order
- player are given x2 https://www.wowhead.com/quest=26213/hot-on-the-trail-the-riverpaw-clan

**order given atm is** from wowhead

![completed these 2](https://user-images.githubusercontent.com/39439201/80998220-d9209b80-8e42-11ea-9ff1-502e8bf1eb95.jpg)

https://www.wowhead.com/quest=26

[2020-05-04 17:27] Echinaceax commented on #2023
how did you even complete this with no thugs (tested in dev)
my video https://gyazo.com/421dd045ae8d4300f94ccb7b2ad0e18d

youtube video https://www.wowhead.com/quest=26232/lous-parting-thoughts#videos:id=84168

[2020-05-04 17:30] #2023 closed

[2020-05-04 17:32] Echinaceax commented on #4341
comfirmed thugs not there
no thugs (tested in dev)
my video https://gyazo.com/421dd045ae8d4300f94ccb7b2ad0e18d

youtube video https://www.wowhead.com/quest=26232/lous-parting-thoughts#videos:id=84168

**what should happen**
_Eavesdrop on the Thugs out behind the farmhouse at Furlbrow's Pumpkin Farm in Westfall._

after completing the quest via command http://cata.cavernoftime.com/npc=42558 is not

[2020-05-04 17:39] Echinaceax commented on #4329
Your not meant to attack thugs, this quest is _**Eavesdrop on the Thugs out behind the farmhouse at Furlbrow's Pumpkin Farm in Westfall.**_

so no idea where fighting thugs came into this

note: i dont think you have the Reign client

[2020-05-04 17:41] #4329 closed

[2020-05-04 18:04] Echinaceax commented on #4461
conflicting storyline here https://wow.gamepedia.com/Westfall_storyline

i started from
**Hero's Call: Westfall!**
**Murder Was The Case That They Gave Me**
https://www.wowhead.com/quest=26213/hot-on-the-trail-the-riverpaw-clan

[2020-05-04 19:30] Echinaceax opened #4462 "[Quest] Twilight Highlands quest order (Alliance)"
https://wowwiki.fandom.com/wiki/Twilight_Highlands_quests

- [x] Hero's Call: Twilight Highlands!
- [ ] My Son, the Prince #882
- [ ] Rallying the Fleet
- [ ]  Twilight Investigation
- [x] Missing Parts #99
- [ ] The Usual Suspects #883
- [ ] He's Holding Out on Us #3542
- [ ] Peasant Problems
- [ ] Unholy Cow
- [ ] Expert Opinion
- [ ] The Old Barracks
- [ ] Cataclysm in the Catacombs
- [ ] A Vil

[2020-05-04 19:32] Echinaceax opened #4463 "[Quest] Twilight Highlands quest order (Horde)"
https://wowwiki.fandom.com/wiki/Twilight_Highlands_quests

- [x] Warchief's Command: Twilight Highlands!
- [x] Machines of War
- [ ]  Weapons of Mass Dysfunction #1141
- [ ]  Sauranok Will Point the Way #513  and #5226 (prequest issue)
- [ ] Unfamiliar Waters #513  #4558
- [ ] Where Is My Warfleet? #5227
- [ ] Ready the Ground Troops #2377
- [ ] Ready the Navy #5229
- [x] Beating the Market #2344

[2020-05-04 20:06] rzenne commented on #356
.BQ 26558 is not working

[2020-05-04 21:30] Echinaceax commented on #356
Are you Ally @rzenne ?
this is horde id only

[2020-05-04 21:41] rzenne commented on #356
ally.  so probably should not be give to me

[2020-05-05 02:02] Thelonnious commented on #4279
duplicate #4345

[2020-05-05 02:02] #4279 closed

[2020-05-05 02:05] Thelonnious commented on #4204
I need more info here.

[2020-05-05 10:12] Danie123 opened #4464 "[QUEST] Lycanthoth the Corruptor- ID 25273"
**Links:**
https://www.wowhead.com/quest=25273/lycanthoth-the-corruptor#videos
from WoWHead or our Armory

**What is happening:**
When accepting the quest all works very well until you give the quest in a cut scene starts and just stays there.

**What should happen:**
When Cut scene starts she should run with you on her back until she stops at the shrine. After this you can be able to get another

[2020-05-05 10:14] Echinaceax commented on #4204
@Xman993 From what ive read its giving both same quests but by 2 different npcs

i'll log dev and get info soon

[2020-05-05 12:15] Echinaceax commented on #4464
main report is here #1847

[2020-05-05 12:18] Danie123 commented on #4464
This is for alliance and cut scene that does the phasing.

[2020-05-05 12:24] Echinaceax commented on #4464
yes i know :)
The whole phasing needs fixing in hyjal thats why Dranah made the main report

[2020-05-05 14:51] Echinaceax commented on #4279
yes you fixed the wrong one :) this was a duplicate :P
np @Xman993

[2020-05-05 18:33] rzenne commented on #2290
If it has been fixed it is not working now.

[2020-05-05 19:27] Echinaceax commented on #2290
same issue as this one @rzenne #2093  ?
or its as discribed above

[2020-05-05 20:12] rzenne commented on #2290
just like above. he does not follow you.

[2020-05-05 21:26] Echinaceax commented on #701
still bugged

[2020-05-05 21:33] rzenne opened #4465 "[Quest] [Slavery is Bad] [Searing Gorge]"
https://www.wowhead.com/quest=28054/slavery-is-bad

from WoWHead or our Armory

**What is happening:**
After killing 10 Dark Iron Taskmasters or Dark Iron Slavers Evonice Sootsmoker is not appearing.

**What should happen:**
https://www.youtube.com/watch?v=oIWiKEAVUTI
**Is it crashing the server?:**

**Other Information:**

[2020-05-05 21:36] Lumber-Jack-2 commented on #4444
if you die here https://i.imgur.com/BDrRaSQ.jpg you are pprted on death a bit higher, then you land on the platform again after that.

[2020-05-05 21:53] baalvi commented on #701
still bugged nothing happened a npc treee use...

[2020-05-05 21:55] baalvi commented on #1749
still bugged no have a mobs...;c

[2020-05-05 22:00] baalvi opened #4466 "[ACHIVEMENTS] Ghosts in the Dark"
Achivements: Ghosts in the Dark
Link: https://www.wowhead.com/achievement=5453/ghosts-in-the-dark**

**What is happening:**
when i want jump to water and nothing happened

**What should happen:**
when work to will jump to water tp underground kill a boss and drop for q and achivements

[2020-05-05 22:17] rzenne opened #4467 "[Quest] [Deceit] [ Searing Gorge]"
https://www.wowhead.com/quest=28033/deceit

from WoWHead or our Armory

**What is happening:**
Lunk is not present in iron summit to complete quest.

**What should happen:**
https://www.youtube.com/watch?v=c38EABiuaCY
**Is it crashing the server?:**

**Other Information:**

[2020-05-06 07:33] Scythre commented on #4279
This is still happeneing no sides of bear meat drop

[2020-05-06 10:58] Echinaceax commented on #4279
i will take a look at this @Scythre

update - this is a duplicate report that was closed

here is the other #4345 and that isnt on live yet @scythre, on next server update

[2020-05-06 15:08] Echinaceax commented on #1896
fixed here #3434

[2020-05-06 15:08] #1896 closed

[2020-05-06 16:19] rzenne commented on #3002
This quest seems to be having the same problem again

[2020-05-06 17:07] Echinaceax commented on #4444
Fix confirmed in dev

![rev1](https://user-images.githubusercontent.com/39439201/81206771-dea9ed00-8fcc-11ea-9e4d-f40b1883fda3.jpg)

[2020-05-06 17:32] Danie123 commented on #4445
This should be the loot.

The loot/player ratio is equal on normal non-end bosses. On end bosses it's 0,3/player (2 drops + 1 token) on 10man, 0,32/player (5 drops + 3 tokens) on 25.
On heroic token dropping bosses it's 0,3/player (2 drops + 1 token) on 10man, 0,36/player (6 drops + 3 tokens) on 25 - on bosses that don't drop tokens 0,2/player (2 drops) on 10man, and 0,24/player (6 drops) on 25man

[2020-05-06 17:36] Danie123 commented on #4445
Eg

10Man Normal - 1 Token + 2 Drops
10Man heroic - 1 Token + 2 Drops
25Man Normal - 3 Tokens + 5 Drops
25Man Heroic - 3 Tokens + 6 Drops

[2020-05-06 17:40] Echinaceax commented on #4445
and always on hc for the _shoulders of the forlorn_ of the 2 or 6 drops

10man 1 _shoulders of the forlorn_ + 1 item
25man 2 _shoulders of the forlorn_ + 4 items

correct?

[2020-05-06 17:51] Danie123 commented on #4445
Tokens is Head token or Shoulder Token. Like above mentioned drops.

[2020-05-06 20:50] Phoenix9867 commented on #2457
Hi (ingame Remoted here),
today i tried the quest, looted every dead person in the area twice, but nothing happend
there might be some issue again

[2020-05-06 21:37] Echinaceax commented on #3002
reopening this one #2457

[2020-05-06 21:37] #3002 closed

[2020-05-06 21:38] Echinaceax commented on #2457
Thanks @Phoenix9867
https://www.wowhead.com/quest=11999/rifle-the-bodies
https://www.wowhead.com/quest=12000/rifle-the-bodies

[2020-05-07 09:40] Echinaceax opened #4468 "[Item] Arcane Crystal (Thorium Ore)"
**Links:**

gem http://cata.cavernoftime.com/item=12363
ore http://cata.cavernoftime.com/item=10620

**What is happening:**
- No Arcane Crystal seem to be in the Thorium Ore
_i prospected 12 stacks lastnight for a player and not 1 Arcane Crystal came_

**What should happen:**
_needs checking_

**Other Information:**
_All other gems from the loot tabel are fine_

[2020-05-07 11:11] Danie123 opened #4469 "[INSTANCE] Zul'Aman -(normal mode)"
### On DEV

**Links:**
https://www.wowhead.com/zulaman
from WoWHead or our Armory

**What is happening:**
There is not any NPC in the instance. Cant test it at all.

**What should happen:**
There should be bosses, Npc's, quest givers. Cannot test anything.

**Is it crashing the server?:**
No

**Other Information:**

[2020-05-07 11:13] Danie123 commented on #4323
Same Here There is no Mobs Npc bosses inside.

[2020-05-07 12:21] Echinaceax commented on #4323
@Danie123 This report was about access to it,  so as it is locked for now this report doesnt need reopening :)

make a full report for dev test please @Danie123  :)

[2020-05-07 12:21] #4323 closed

[2020-05-07 13:10] Echinaceax opened #4470 "[Quest] Head Games - Drak'tharon Keep"
**Links:**
quest - https://www.wowhead.com/quest=13129/head-games

**What is happening:**
- [x] Remove prerequisite quest, "Search and Rescue"
- [x] Add new "Kurzel" NPC that was added in Cataclysm (4.3.0)

**What should happen:**
Per Cataclysm changes, there shouldn't be a prerequisite for this quest since the new Kurzel NPC that was added offers the quest at the beginning of the dungeon, or you

[2020-05-07 17:43] Echinaceax commented on #4469
- [ ] Akil'zon <Eagle Avatar> https://www.wowhead.com/npc=23574/akilzon
- [ ] Nalorakk <Bear Avatar> https://www.wowhead.com/npc=23576/nalorakk
- [ ] Jan'alai <Dragonhawk Avatar> https://www.wowhead.com/npc=23578/janalai
- [ ] Halazzi <Lynx Avatar> https://www.wowhead.com/npc=23577/halazzi
- [ ] Hex Lord Malacrass https://www.wowhead.com/npc=24239/hex-lord-malacrass
- [ ] Daakara <The Invincible>

[2020-05-07 18:04] rzenne opened #4471 "[Quest] [ The Walking Nightmare] [Darkshore]"
https://www.wowhead.com/quest=13587/the-waking-nightmare

from WoWHead or our Armory

**What is happening:**
After talking with Thessera and starting the quest the Nightmare Guardian is not appearing so you can obtain the Emerald Scroll.

**What should happen:**
https://www.wowhead.com/quest=13587/the-waking-nightmare#videos:id=32970
**Is it crashing the server?:**

**Other Information:**

[2020-05-07 18:24] #4471 closed, assigned to nobody

[2020-05-07 18:26] rzenne commented on #4471
abandon the quest. went back worked fine. I kept touching the portal and then guardian will not appear.

[2020-05-07 18:37] Echinaceax commented on #4471
ok thanks for updating @rzenne :)

[2020-05-07 21:43] deni6 opened #4472 "[Item reward] Gold Mini Jouster (missing)"
https://www.wowhead.com/achievement=5860/the-unbeatable-pterodactyl-beaten

After you finish this achievement in Mount Hyjal you should be send by mail the reward
Chriping Box: https://www.wowhead.com/item=69838/chirping-box
The box contain companion.

But you never get the reward.

[2020-05-07 22:11] Echinaceax commented on #4472
quest reported here for fix #3481

@Rushor  @Xman993 Checked the item on dev

**update** the blue one is here  ;)
so only the gold one is missing

confirmed by GM with player a few mins ago
Gold Mini Jouster is missing https://www.wowhead.com/item=65662/gold-mini-jouster

player took the blue one
![pet given](https://user-images.githubusercontent.com/39439201/81485249-f9d66000-924b-11ea-9b25-6f7cf

[2020-05-08 11:09] polymorphism98 opened #4473 "[Quest/item] Saving Yenniku - (quest item) - Northern Stranglethorn"
https://www.wowhead.com/quest=26305/saving-yenniku

**Whats happening:** [Quest item](https://www.wowhead.com/item=3912/soul-gem) not usable on the NPC

**What should happen**: Quest item should be usable on the NPC and the quest should be marked as complete.

**Is it crashing the server?**: No

**Other Information**: How it should look: https://www.youtube.com/watch?v=EsR1WTibgIc

[2020-05-08 11:51] polymorphism98 opened #4474 "[Quest] Through the Troll Hole - (horde) Cape of Stranglethorn"
**Links:** https://www.wowhead.com/quest=26552/through-the-troll-hole

**What is happening:** Upon going through the portal, the quest isn't getting completed.

**What should happen:** Once the user click on the portal, they get teleported to Zul Gurub. The quest should get completed at this point. But currently it doesn't.

**Is it crashing the server?:** No

**Other Information:** Example: https

[2020-05-08 11:57] Echinaceax commented on #4474
report was made here @polymorphism98 #1706 and was fixed

is it still an issue?

[2020-05-08 12:13] polymorphism98 commented on #4474
@Echinaceax - My mistake. I had included the Alliance version, I should have put in the horde version id. I have updated the original post with correct quest id. The horde version still does not work.

I tried this quest twice with my Tauren Druid at around 12:30 PM today 8th May, 2020. And it did not work for me. I passed through the portal, landed in Zul Gurub, but the quest did not get complete

[2020-05-08 12:18] polymorphism98 opened #4475 "[Quest/NPC] The Heart of Mokk (ID 26598) - Stranglethorn Vale"
**Links:** https://www.wowhead.com/quest=26598/the-heart-of-mokk

**What is happening:** The [NPC ](https://classic.wowhead.com/npc=1449/witch-doctor-unbagwa)is not interactable to acquire and proceed with the quest, even though I have the required [quest item](https://classic.wowhead.com/item=2799/gorilla-fang?classicRedirect).

**What should happen:** The user should be able to interact with the

[2020-05-08 13:45] polymorphism98 opened #4476 "[Quest/Item] A Dish Best Served Huge (ID: 26602) - The Cape of Stranglethorn"
**Links:** https://www.wowhead.com/quest=26602/a-dish-best-served-huge

**What is happening:**
1. Acquire the quest and go to 49, 81.
2. There is a wrecked boat at that location.
3. The boat should be interactable and you should be able to use the[ quest item](https://www.wowhead.com/item=59054/giant-crate-of-giant-food) on it.

**What should happen:**
1. The boat is not interactable and the quest

[2020-05-08 14:42] polymorphism98 opened #4477 "[Quest/NPC] The Final Voyage of the Brashtide (ID: 26697) - The Cape of Stranglethorn"
**Links:** https://www.wowhead.com/quest=26697/the-final-voyage-of-the-brashtide

**What is happening:**
1. Take the quest from [Baron Revilgaz](https://www.wowhead.com/npc=2496/baron-revilgaz).
2. Head over to [Kebok](https://www.wowhead.com/npc=737/kebok).
3. Right click on Kebok and try to interact with him to get a wind rider for the quest.
4. Kebok gives no option to talk to him for getting t

[2020-05-08 15:10] Keader commented on #4290
fixed.

[2020-05-08 15:12] Marc-Andre-Grondin opened #4478 "[QUEST] [Silverpine Forest] The Warchief Cometh"
**Links:**

WowHead : https://www.wowhead.com/quest=26965/the-warchief-cometh

**What is happening:**

After you accept the quest from the NPC, nothing is happening.

**What should happen:**

From what I gather, a discussion between multiple parties of NPCs.

update by Echi

- [x] Lady Sylvanas Windrunner mounted horse (fixed)
- [x] Val'kyr's missing https://wowwiki-archive.fandom.com/wiki/Val%27k

[2020-05-08 15:15] polymorphism98 opened #4479 "[Quest/NPCs] Looks Like a Tauren Pirate to Me (Quest ID: 26630) - The Stranglethorn Vale"
**Links:** https://www.wowhead.com/quest=26630/looks-like-a-tauren-pirate-to-me

**What is happening:**
1. Acquire the quest from [Fleet Master Seahorn](https://www.wowhead.com/npc=2487/fleet-master-seahorn)
2. Go to [Bossy](https://www.wowhead.com/npc=43505) and talk to her. She has no options to interact with.
3. Go to [Narkk ](https://www.wowhead.com/npc=2663/narkk)and talk to him. He has no op

[2020-05-08 15:59] polymorphism98 opened #4480 "[Quest] Seeing Where Your Loyalties Lie (ID: 26629) - The Stranglethorn Vale"
**Links:** https://www.wowhead.com/quest=26629/seeing-where-your-loyalties-lie

**What is happening:** Above quest requires an [item ](https://www.wowhead.com/item=59146/head-of-fleet-master-seahorn) that is rewarded as a part of quest [Looks Like a Tauren Pirate to Me](https://www.wowhead.com/quest=26630/looks-like-a-tauren-pirate-to-me) (which is bugged at the moment)

**What should happen:** ht

[2020-05-08 16:20] Keader commented on #4445
check now please

[2020-05-08 18:14] polymorphism98 opened #4481 "[Quest/NPC] Zen'Kiki, the Druid (Quest ID: 26953) - Western Plaguelands"
**Links:** https://www.wowhead.com/quest=26953/zenkiki-the-druid

**What is happening:**
1. NPC [Zen'Kiki ](https://www.wowhead.com/npc=44863/zenkiki) doesn't follow the player, once the quest is acquired.
2. I tried talking to him after getting the quest, but no option to interact.

**What should happen:** Zen'kiki should follow you around as you kill the beasts around, to complete the quest.

**

[2020-05-08 18:34] polymorphism98 opened #4482 "[Quest/NPC] Zen'Kiki and the Cultists (Quest ID: 26955) - Western Plaguelands"
**Links:** https://www.wowhead.com/quest=26955/zenkiki-and-the-cultists

**What is happening:**

1. NPC Zen'Kiki doesn't follow the player, once the quest is acquired.
2. I tried talking to him after getting the quest, but no option to interact.

**What should happen:** Zen'kiki should follow you around as you go to the quest location, and heal the NPC [Captive Plaguebear](https://www.wowhead.com/

[2020-05-08 18:37] rzenne commented on #4479
already reported #720

[2020-05-08 19:02] #4479 closed, assigned to nobody

[2020-05-08 19:04] Echinaceax commented on #4481
already reported #375
and on the .bq command

[2020-05-08 19:04] #4481 closed, assigned to nobody

[2020-05-08 19:06] Echinaceax commented on #4482
already reported #376
and is on the .bq command

[2020-05-08 19:06] #4482 closed, assigned to nobody

[2020-05-08 22:23] Echinaceax opened #4483 "[Raid/loot] (25man) - Blackwing Descent"
**Links:**

https://www.wowhead.com/blackwing-descent

**What is happening:**
- Loot table wrong
- Dropping 6 not 5
- no shoulders of the forlorn

**What should happen:**
@Danie123 can say :)

[2020-05-08 22:50] Echinaceax opened #4484 "[Boss] Magmaw (25man) - Blackwing Descent"
**Links:**

magma spit http://cata.cavernoftime.com/spell=99867

![magma spit2](https://user-images.githubusercontent.com/39439201/81456736-cf28d080-9193-11ea-8106-1eaa587ba390.jpg)

http://cata.cavernoftime.com/spell=99867

**What is happening:**
- Magma spit definately to high dmg
_No healing through that dmg_
- Raiders where stacked correctly

**What should happen:**
https://www.wowhead.com/npc

[2020-05-09 03:18] polymorphism98 opened #4485 "[Quest] Who Needs Cauldrons? (ID: 26978) - Western Plaguelands"
**Links:** https://www.wowhead.com/quest=26978/who-needs-cauldrons#comments

**What is happening:**
1. Nothing happens upon using the provided [quest item](https://www.wowhead.com/item=60753/dithers-plague-drums) at correct location.

**What should happen:**
1. Player should get the credit for using the quest item at correct 4 locations.
2. After that, the quest should get completed.

**Is it cras

[2020-05-09 03:53] rzenne commented on #760
this is a level 54 quest but most of the enemy is level 60+ elite you get slaughtered.

https://www.youtube.com/watch?v=iYK50ttAt3I

[2020-05-09 05:45] rzenne opened #4486 "[Quest ] [To Stonard] [Swamp of Sorrows]"
https://www.wowhead.com/quest=27871/to-stonard

http://cata.cavernoftime.com/quest=27871

from WoWHead or our Armory

**What is happening:**
This quest is for horde players but is being giving to ally players

**What should happen:**
Should only be given to horde players
**Is it crashing the server?:**

**Other Information:**

[2020-05-09 06:14] rzenne commented on #2297
Demoniakk is correct neither BQ code works to finish quest

[2020-05-09 09:39] Echinaceax commented on #4486
Is it the same npc thats giving it to Ally @rzenne
https://www.wowhead.com/npc=46071/lord-itharius

[2020-05-09 09:52] Echinaceax commented on #760
are the defender eletes not fighting npc with npcs there then @rzenne ?
may need a new report for that issue

[2020-05-09 11:49] #4264 closed

[2020-05-09 11:50] Echinaceax commented on #4264
yes was fixed, i noticed :)

[2020-05-09 11:55] Echinaceax commented on #2184
doesnt work, ive tested that

[2020-05-09 13:34] Keader commented on #4292
https://github.com/WoWManiaUK/Blackwing-Lair/issues/4484

[2020-05-09 13:34] #4292 closed

[2020-05-09 14:26] Echinaceax commented on #4483
Tested
- shoulders of the forlorn from dropped Nefarian
http://cata.cavernoftime.com/?search=shoulders+of+the+forlorn+
- drops were 5 with all bosses on this test
- Drops double items (random drop change) is broken

[2020-05-09 14:39] Echinaceax commented on #4484
Tested

- No issue found, dmg is fine

note:
- Players need to be geared (not green or pvp geared)
- Not low than 25 people,
- Good strong healers though the stack phase (magna spit)

[2020-05-09 15:54] Echinaceax opened #4487 "[Raid/loot] (10man) - (hc) - Blackwing Descent"
**Links:**

https://www.wowhead.com/blackwing-descent

**What is happening:**
- drops are wrong
- only dropping 2

**What should happen:**
should drop 3 random items on HC mode

[2020-05-09 16:47] Echinaceax commented on #3938
Found this to be incorrect @Rushor
it is meant to be 35 normal and 45 hc

[2020-05-09 16:48] Echinaceax commented on #3733
Found this to be incorrect @Rushor
it is meant to be 35 normal and 45 hc

https://worldofwarcraft.fandom.com/et/wiki/Valor_point

revert this fix rushor

[2020-05-09 16:53] #3733 closed

[2020-05-09 16:54] Echinaceax commented on #3938
need confirm this fix ...update soon
im sure this is giving 70 the other night

[2020-05-09 17:05] rzenne commented on #760
no friendly NPCs are present

[2020-05-09 17:08] rzenne commented on #4486
Yes it is the same npc

[2020-05-09 17:09] #4483 closed, assigned to nobody

[2020-05-09 17:09] Echinaceax commented on #4486
Thanks @rzenne :)

[2020-05-09 23:51] Keader commented on #4239
I tested in ptr, and everything posted here works.

[2020-05-10 00:25] gamer100 opened #4488 "[Quest] High Priestress Jeklik"
https://www.wowhead.com/quest=26553/high-priestess-jeklik

https://www.youtube.com/watch?v=4Aux_5aVSJM
https://classic.wowhead.com/npc=14517/high-priestess-jeklik

In  this  quest  you have  to  destroy the  corps of the  npc High Priestress Jeklik
The  npc is  missing

![image](https://user-images.githubusercontent.com/33811022/81488153-7de91180-9265-11ea-8fe5-5ccce15d485e.png)

[2020-05-10 09:01] Thelonnious commented on #4488
Duplicate #4418

[2020-05-10 09:01] #4488 closed, assigned to nobody

[2020-05-10 10:30] Echinaceax commented on #4239
All 4 works as it should @keader ?

Blast nova http://cata.cavernoftime.com/spell=30613
This is meant to be interuptable but its not if this spell cant be interupted its an instant wipe

The old guild Lunaria tested this and they said the inerupt doesnt work hmmm

[2020-05-10 13:15] Echinaceax commented on #4446
- no loot either
important for the legendery quest **Your Time Has Come** that drops from this mob

[2020-05-10 13:35] Echinaceax opened #4489 "[FIRELANDS] Loot table and rep"
**Links:**
raid https://www.wowhead.com/firelands#npcs
rep https://www.wowhead.com/faction=1204/avengers-of-hyjal

No loot no rep

- [ ] Ancient Core Hound https://www.wowhead.com/npc=53134/ancient-core-hound
(no loot no rep)
- [ ] Hell Hound https://www.wowhead.com/npc=53206/hell-hound
(no loot no rep)
- [ ] Fire Scorpion https://www.wowhead.com/npc=53127/fire-scorpion
(no loot no rep)
- [ ] Gian

[2020-05-10 15:00] Keader commented on #4314
Fixed.

[2020-05-10 15:40] Keader commented on #4315
10% of target max health is needed as damage to break it.
fixed

[2020-05-10 16:06] Echinaceax commented on #3938
gives at the moment
10 man 70 instead of 35
25 man 90 instead of 45

10 man hc 70 instead of 35
25 man hc 90 instead of 45

fix needs reverting like the #3733 @Rushor https://github.com/WoWManiaUK/Blackwing-Lair/issues/3733#issuecomment-546673327

[2020-05-10 16:08] Echinaceax opened #4490 "[NPC/Loot] Argaloth (25 man) Baradin Hold"
**Links:**
https://www.wowhead.com/npc=47120/argaloth

**On 25man**

**What is happening:**
- dropping 6 instead of 5

**What should happen:**
should only drop 5 items

[2020-05-10 17:56] dagget1337 opened #4491 "[Archivement] The Camel hoarder"
**What is happening:**
So i´ve had the luck that i found a camel statue which teleported me to Feralas where i kill that elite guy who drops the Grey camel mount, which upon use gives the Archivement Scourer of the Eternal Sands [Archivement id: 5767], Which also gives the Title "The Camel Hoarder".
Everything works, except the Title, i didnt receive it even though it says so in the archivement

*

[2020-05-10 18:07] Echinaceax commented on #4491
Confirmed by GM from Ticket
GM checked this and Trixie does have the **Scourer of the Eternal Sands achivement**
https://www.wowhead.com/achievement=5767/scourer-of-the-eternal-sands

[2020-05-10 19:03] polymorphism98 opened #4492 "[Quest] Hell's Shells (ID: 25507) - Mount Hyjal"
**Links:** https://www.wowhead.com/quest=25507/hells-shells

**What is happening:**
1. Use the provided [item](https://www.wowhead.com/item=54744/heap-of-core-hound-innards) on the floor near Nemesis.
2. He comes and eats the item.
3. Right clicking (gear icon) on him, doesn't award the required [item ](https://www.wowhead.com/item=54745/nemesis-shell-fragment)to complete the quest.

**What should

[2020-05-10 19:20] Echinaceax opened #4493 "[BOSS][FIRELANDS] Baleroc"
**Links:**

npc https://www.wowhead.com/npc=53494/baleroc
debuff https://www.wowhead.com/spell=99252/blaze-of-glory

**What is happening:**
- spawns 2x
_after killing the first he spawns again_
- Baleroc debuff stays on after you leave the raid

**What should happen:**
should only spawn once
should be no debuff after

**Is it crashing the server?:**
no

**Other Information:**
![x2 bal](https://use

[2020-05-10 21:43] rzenne commented on #762
still the same today when I tried this quest

[2020-05-11 02:42] rzenne commented on #4271
It can't be completed because "The amulet of Sevine quest doesn't work. Need all 3 amulets for ritual.

[2020-05-11 05:06] #4492 closed, assigned to nobody

[2020-05-11 09:02] Echinaceax commented on #4492
Any reason why you closed this @polymorphism98 ?

[2020-05-11 13:57] polymorphism98 commented on #4492
@Echinaceax - A while after reporting this issue, I found the required item in my bag, and was able to complete the quest. I am not able to recall if I got it completed by a GM or by some other means. But I do remember that the NPC is not lootable. If someone else can confirm the same, we can re-open this.

Is it possible for a tester to confirm? Let me know if its okay to reopen. Glad to do that.

[2020-05-11 15:31] deni6 opened #4494 "Northrend - Sholazar Basin [Song of Wind and Water] - Oracles Daily quest."
https://www.wowhead.com/quest=12726/song-of-wind-and-water

This quest is daily for reputation with Oracle,
when you use https://www.wowhead.com/item=39571/drums-of-the-tempest
you gain the form of Haiphoon during this form you need to attack the Storm Revenant
once the revenant is on low HP you use your 3th skill to devour it then you get form of Revenant and killing Agueous spirits.
The problem

[2020-05-11 16:09] Echinaceax commented on #4445
does dev server need restart @Keader ?

Coz its the same on token boss (end boss)
4 instead of 3 10man hc

![4items](https://user-images.githubusercontent.com/39439201/81583996-72573100-93b2-11ea-9f2f-e049328bdb5b.jpg)

here is 25man hc

![6](https://user-images.githubusercontent.com/39439201/81586792-62d9e700-93b6-11ea-8227-b77892242b0f.jpg)

[2020-05-11 16:58] polymorphism98 commented on #1141
.bq command not working for this at the moment. Were there any changes ?

[2020-05-11 17:07] Echinaceax commented on #1141
Not that i know of @polymorphism98
its on the .bq list and was working coz i used it myself
very odd

[2020-05-11 17:43] Lumber-Jack-2 commented on #186
added a basic script for that

[2020-05-11 17:58] Lumber-Jack-2 commented on #4494
should trigger more damage now.

[2020-05-11 18:52] Danie123 commented on #4445
10M Normal
Drops 1 Token - Correct
Drops 1 Item must drop 2

10M Heroic
Drop Token - Correct
Drop Item - Correct

25M Normal
Drops 2 Tokens must drop 3
Drops 2 Items must drop 5

25M Heroic
Drops 2 Tokens must drop 3
Drops 4 Items must drop 6

[2020-05-11 20:20] rzenne commented on #2261
i'm having the same problem

[2020-05-11 21:02] Echinaceax opened #4495 "[Currency] Valor points - Throne of the Four Winds"
**Links:**

https://github.com/WoWManiaUK/Blackwing-Lair/issues/3938#issuecomment-626350464

**What is happening:**
### too much Valor point
- Normal mode is giving 115 per kill
- HC Mode is 135 per kill

**What should happen:**
- Normal mode should be 35 per kill
- HC Mode  should be 45 per kill

**Other Information:**
Anshal <Lord of the West Wind>
Rohash <Lord of the North Wind>
Nezir <Lord of

[2020-05-11 22:53] Echinaceax commented on #4431
Confirmed
play gets the summon screen then loading screen then back to worgen start :)

![group summon](https://user-images.githubusercontent.com/39439201/81619825-bd8d3600-93ea-11ea-8a9d-620db90ec52a.jpg)

[2020-05-11 22:57] Danie123 commented on #4424
Cant get to Ragnaros at this moment,

If you clear the first 8 bosses in Molten Core, Majordomo Executus will not be there. This is a problem, since not only can you not kill him, but you need Majordomo to summon Ragnaros. You will not be able to fight either without the necessary items to summon them. To spawn Majordomo, you will need to get him to come out by using a specific item from the Hydra

[2020-05-11 23:12] Danie123 commented on #4345
Quest is working
![image](https://user-images.githubusercontent.com/5410898/81620935-6472d180-93ed-11ea-938d-8f8fbd61e53c.png)
![image](https://user-images.githubusercontent.com/5410898/81620947-6a68b280-93ed-11ea-8eb5-a28663fdaa53.png)

[2020-05-11 23:20] Danie123 commented on #4328
Npc's is there but cant be killed its a friendly target now.
![image](https://user-images.githubusercontent.com/5410898/81621409-9df80c80-93ee-11ea-8c41-3adace8a848a.png)

[2020-05-11 23:57] Danie123 commented on #4424
Not Fixed

[2020-05-12 00:17] Danie123 commented on #4424
Removed In Patch 4.3.4

Following the Shattering and the Elemental Unrest, Hydraxis had recently vanished. Despite his removal from the game, and thus the absence of any known Waterlords in the world of Azeroth, the Hydraxian Waterlords still exist as a reputation faction.

https://wowwiki.fandom.com/wiki/Hydraxian_Waterlords

[2020-05-12 00:21] Echinaceax commented on #4424
testing something later today ..update soon

[2020-05-12 00:39] Echinaceax commented on #4328
confirmed fix for the High Road Scout

![high road](https://user-images.githubusercontent.com/39439201/81625497-6e9acd00-93f9-11ea-9f04-7f55866eddfe.jpg)

But cant hand back in missing **Tunawa Stillwind** https://cata.cavernoftime.com/npc=37137
new report here #4496

[2020-05-12 00:44] Echinaceax opened #4496 "[NPC] Tunawa Stillwind (missing)"
**Links:**

npc https://cata.cavernoftime.com/npc=37137
for quest back https://cata.cavernoftime.com/quest=24504

**What is happening:**
- npc miss for quest back

**What should happen**
_Npc need spawning_

_Patrol the trail east and kill any high road scouts you find along the way, then speak to Tunawa Stillwind just up the path._

[2020-05-12 00:47] deni6 commented on #2977
Happened right now, still not fixed, can`t kill Illidan if you wipe on first attempt, Not good. :s

[2020-05-12 12:22] polymorphism98 commented on #152
This is working fine, I just completed it. The only glitch is that Izzy, Gobber and Ace are also present very near to the quest giver, in addition to them being present at their original positions(Goober: 60,49 | zzy: 56 76 | Ace: 47,34). When you drive to these duplicate NPCs, you dont get the credit. This could be a little confusing. But otherwise, the quest works smooth.

[2020-05-12 12:38] #99 closed

[2020-05-12 12:38] #186 closed

[2020-05-12 12:38] #295 closed

[2020-05-12 12:38] #4290 closed

[2020-05-12 12:38] #4314 closed

[2020-05-12 12:38] #4315 closed

[2020-05-12 12:38] #4328 closed

[2020-05-12 12:38] #4345 closed

[2020-05-12 12:38] #4394 closed, assigned to Thelonnious

[2020-05-12 12:38] #4411 closed, assigned to Thelonnious

[2020-05-12 12:38] #4429 closed, assigned to Thelonnious

[2020-05-12 12:38] #4431 closed, assigned to Lumber-Jack-2

[2020-05-12 12:38] #4434 closed, assigned to Thelonnious

[2020-05-12 12:38] #4442 closed, assigned to Thelonnious

[2020-05-12 12:38] #4444 closed, assigned to Lumber-Jack-2

[2020-05-12 12:38] #4445 closed, assigned to Keader

[2020-05-12 12:38] #4494 closed, assigned to Lumber-Jack-2

[2020-05-12 12:38] #4495 closed, assigned to Keader

[2020-05-12 14:16] alimaskoski commented on #4399
I have the same problem on character Ralshu.

[2020-05-12 14:18] Echinaceax commented on #4399
Thanks for confirming this @Acko2

[2020-05-12 17:42] rzenne commented on #3775
it has been two days and cub will not give any quests

[2020-05-12 20:22] rzenne opened #4497 "[Quest] [An old history book]"
**Links:**
https://classic.wowhead.com/item=2794/an-old-history-book
from WoWHead or our Armory

**What is happening:**
You are still able to receive this item from a drop.

**What should happen:**
This item should be removed from dropping as this quest was removed in a previous update of Cata
**Is it crashing the server?:**

**Other Information:**
https://wow.gamepedia.com/An_Old_History_Book

[2020-05-12 23:16] Echinaceax opened #4498 "[Raid] Insane Client Crashes - Throne of the Four Winds"
**What is happening:**
- 20 - 25 CLIENT CRASHES

**What should happen:**
no client crashes please

**Is it crashing the server?:**
no

**Other Information:**
- this could be due to the group fps/lag/phasing issue https://github.com/WoWManiaUK/Blackwing-Lair/issues/4192#issuecomment-602485720
- Or too many people on the slipstream, when jumping platforms eg: https://gyazo.com/e1f39f8403a2ab14680927

[2020-05-12 23:22] Echinaceax opened #4499 "[Raid] Lootmaster issue - Throne of the Four Winds"
**What is happening:**
- As lootmaster the loot master couldnt give items to rollers
- BoP items also didnt have the tradeable 2 hour window

**What should happen:**
the lootmaster should be able to loot all items and the give to the roll winners
items should have a tradeable timer of 2 hours so that items can be trade with that raid group

**Other Information:**

[2020-05-13 09:27] wow-mania commented on #4498
Not a server crash.

[2020-05-13 09:28] Echinaceax commented on #4498
not a server crash , a client crash :)

[2020-05-13 11:30] polymorphism98 opened #4500 "[Race- Custom content] Goblin - Mall stone and MPs not issued upon turning 10"
**Links:** https://wow-reign.com/forum/viewtopic.php?f=22&t=19

**What is happening:**
I turned level 10 today on my new Goblin char named: Encapsulate(priest). I did not receive the Mall stone and the MPs directly, even though my bag had enough space.

**What should happen:** Player must receive the Mall Stone and MPs upon turning 10.

**Is it crashing the server?:** No

**Other Information:** I

[2020-05-13 11:53] Echinaceax commented on #4500
Confirmed on the 1-10 missing MPs

![no mp given](https://user-images.githubusercontent.com/39439201/81808708-66897d00-9520-11ea-8e15-41a0c14efd18.jpg)

On the mallstone issue
We had this changed because Goblins where lvling to fast at weekends and porting out without completing the Goblin startzone questline, once a goblin completes Kezan they are ported to Orgrimmar where they can get the mallst

[2020-05-13 13:50] Echinaceax opened #4501 "[Worgen DKs] Cant join RDF"
**What is happening:**
### they get the message "you do not meet the requirements"
- worgen DKs cant join RDF he did all his questline in DK startzone
_I believe the recent fix for naughty worgens leaving Gilneas has interfered with the DK worgen_

**What should happen:**
DK worgen should not be affected by the recent fix for the other worgen classes  that require to have completed **"The Howling

[2020-05-14 02:55] Keader commented on #4192
test if fixed

[2020-05-14 02:56] Keader commented on #4498
Test if fixed please (if caused by lag issue)

[2020-05-14 07:54] polymorphism98 opened #4502 "[NPCs] Missing Quest NPCs - Azshara"
**Links:**
https://www.wowhead.com/npc=36384/zapper-gnome
https://www.wowhead.com/npc=36385/netgun-gnome

**What is happening:**
1. Go to Azshara at around (43, 82).
2. The above mentioned NPCs are not present for the player to kill.
3. These NPCs are required for the quest: [The Terrible Tinkers of the Ruined Reaches](https://www.wowhead.com/quest=14383/the-terrible-tinkers-of-the-ruined-reaches)

[2020-05-14 07:56] polymorphism98 commented on #972
I have added an issue for the missing gnomes #4502

[2020-05-14 08:13] Echinaceax commented on #4192
Will test and let you know @Keader :)

[2020-05-14 08:57] Echinaceax commented on #4498
Push it to live @Keader please https://github.com/WoWManiaUK/Blackwing-Lair/issues/4192#issuecomment-628355772
then the Paradox guild can confirm it on next run :)

[2020-05-14 10:22] Echinaceax commented on #4185
### Update
This is a client issue

its fine on DEV
https://gyazo.com/45c0b85587a285a2ef353cddcf206aa1

[2020-05-14 14:22] Echinaceax commented on #4192
### Update
Fix confirmed on dev
tested with 3 tester in different zones NO LAG

Tester 1 was in ICC
Tester 2 was in twilight (me)
Tester 3 was in Vash'ir

Tester 3 noticed that the phasing icon for Tester 2 wasnt there anymore :)
So Cata zones **phasing icon** is fixed if that is what it was about or not. but no lag was seen at all
in a group of 3

![no phasing  icon](https://user-images.githubuse

[2020-05-14 17:12] Echinaceax commented on #4370
- [ ] Also other item cant either and this is with Stats

![sword with stats dont either](https://user-images.githubusercontent.com/39439201/81964362-bfd3d800-9616-11ea-8779-e8f2799b5816.jpg)

so seems some can and some dont

[2020-05-14 19:36] rzenne opened #4503 "[Quest] [They grow up so fast] [Winterspring]"
**Links:**
https://www.wowhead.com/quest=29034/they-grow-up-so-fast
from WoWHead or our Armory

**What is happening:**
After receiving baby cub it is not giving out daily quests for you to collect the whiskers

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

Was closed as fixed but think it stopped working and needs to be looked at again.

[2020-05-14 20:07] Echinaceax commented on #3775
Will test it @rzenne thanks

[2020-05-14 20:09] Echinaceax commented on #4503
i replied on original #3775

[2020-05-14 20:09] #4503 closed, assigned to nobody

[2020-05-14 20:42] Echinaceax commented on #3775
After completing [https://www.wowhead.com/quest=29032/get-them-while-theyre-young](url)

Summon pet and no quest given https://www.wowhead.com/quest=29035/a-cubs-cravings

![no daily offered](https://user-images.githubusercontent.com/39439201/81983761-2d423180-9634-11ea-87a0-37c906bc0f75.jpg)

[2020-05-15 07:14] Echinaceax commented on #4432
Confirmed
quest item not working https://www.wowhead.com/item=61309/argent-scroll

![Argent scroll](https://user-images.githubusercontent.com/39439201/82022171-7a51f200-968c-11ea-8836-0f0ac577ad5e.jpg)

[2020-05-15 07:22] #4312 closed

[2020-05-15 07:23] Echinaceax commented on #4312
Reported already here #823

[2020-05-15 10:43] Echinaceax commented on #4500
Thanks @wow-mania

Confirmed fixed on dev

![gobi mp](https://user-images.githubusercontent.com/39439201/82042463-30780480-96aa-11ea-91e8-1d5f84fc9b34.jpg)

updated to live hotfix, can close this

[2020-05-15 11:08] polymorphism98 opened #4504 "[Quest] Human Infestation - Hillsbrad (Quest ID: 28138)"
**Links:** https://www.wowhead.com/quest=28138/human-infestation

**What is happening:**
1. Go to the quest location and attack one of the [Hillsbrad Sentry](https://www.wowhead.com/npc=2270/hillsbrad-sentry).
2. When their health is low, use the provided quest item [Titanium Shackles](https://www.wowhead.com/item=63079/titanium-shackles) on them.
3. The NPC does not get captured.

**What should h

[2020-05-15 12:04] Echinaceax commented on #4499
No issue tested on Dev

![loot works fine](https://user-images.githubusercontent.com/39439201/82048419-f3653f80-96b4-11ea-9295-7a8299b7cda2.jpg)

Tested a different lootmaster

![keaders test](https://user-images.githubusercontent.com/39439201/82048825-98801800-96b5-11ea-8dcd-31d51f2d638d.jpg)

and 2hour timer

![1](https://user-images.githubusercontent.com/39439201/82049457-a1251e00-96b6-11ea-92c

[2020-05-15 12:55] Keader commented on #4499
fixed.
Only happens in alkair.

[2020-05-15 17:33] Echinaceax opened #4505 "[Raid / Dungeon Achievements] Guild run Raid achievements/Personal achievements Not working"
### Guild achievements

**Links:**

- [ ] https://www.wowhead.com/achievement=4987/throne-of-the-four-winds-guild-run
- [ ] https://www.wowhead.com/achievement=4986/the-bastion-of-twilight-guild-run
- [ ] https://www.wowhead.com/achievement=5410/realm-first-alakir
- [ ] https://www.wowhead.com/achievement=5411/realm-first-sinestra
- [ ] https://www.wowhead.com/achievement=4985/blackwing-descent-gu

[2020-05-15 21:51] Echinaceax commented on #4505
can added this too please #2043

[2020-05-15 22:30] coffeelover38 opened #4506 "[Quest/NPC] Grimaxe's Demise ID: 26102 - Dun Morogh"
**Links**  https://www.wowhead.com/quest=26102/grimaxes-demise

**What is happening:** there is no Golem there is only grimaxe you can't attack the npc(General Grimaxe) so you can kill it,it say "you cannot attack that target"

**What should happen:** the mission is to go and kill a dwarf on a Iron golem. Once you kill the golem he jumps off and you fight him (General Grimaxe)

**Is it crashing th

[2020-05-16 06:08] rzenne opened #4507 "[Quests] [Cleansing the waters] [ Hellfire Peninsula.]"
**Links:**
https://www.wowhead.com/quest=9427/cleansing-the-waters
from WoWHead or our Armory

**What is happening:**
When you try to use the cleansing Vial in front of the bones it is not recognizing that you are there.

**What should happen:**
https://www.youtube.com/watch?v=wQNUrPVuQXY
**Is it crashing the server?:**

**Other Information:**

[2020-05-16 14:09] Echinaceax commented on #4498
lag issue was fixed by this fix #4192

Confirmed by Paradox guild, no more lag issue or crashes now :)
thanks @Keader

[2020-05-16 22:29] Keader commented on #4239
@Echinaceax i tested with counter spell (mage) and is working fine lol

[2020-05-16 23:01] Calmwindx commented on #4484
Magmaw is still hitting people more than once with his magma. It appears to hit multiple times because it is hitting people close to you in the raid.
https://imgur.com/a/c77KIsM

[2020-05-16 23:14] Echinaceax opened #4508 "[RDF Daily ] No daily RDF rewards given for nm/hc dungeon finder"
**Whats happening**

GM just reported to me that they are getting tickets about the JP/VP issue for finishing the RDF
they are not recieving the 140/150 at the finish of their RDF

meant to get 140/150 (seems to not be working correctly) or the Maniac points.

![randon jp not giving at the end](https://user-images.githubusercontent.com/39439201/68445412-2ac0d400-01da-11ea-921a-858336efe76a.jpg)

!

[2020-05-16 23:19] Keader commented on #4508
is fixed in ptr8

[2020-05-17 00:10] Echinaceax commented on #4484
all is good with 2nd tactic GM said :)

@keader can you check the amount of people it hits please,  should be 8 random players on 25man
http://cata.cavernoftime.com/spell=99867

[2020-05-17 00:26] Echinaceax commented on #4239
@Keader  only with mage ?
So not with all interupt spells ?

need all classes that have interepts to be tested lol
thats the issue keader not all interepts spells are working as they should

ive asked for a list that dont work

[2020-05-17 01:17] Echinaceax commented on #4508
Brilliant thanks @Keader

[2020-05-17 01:18] Echinaceax commented on #963
Will confirm later thanks @Xman993

[2020-05-17 05:34] polymorphism98 commented on #529
Still bugged as on 17th May 2020.

[2020-05-17 09:49] Echinaceax commented on #2450
1 issues fixed here now @Xman993
#4508

[2020-05-17 12:47] Keader commented on #4239
All interrupts.
Anyway, i added a extra protection, so any type of interrupt, should make this npc stop cast

[2020-05-17 12:53] Keader commented on #4484
[code]
Already is 8 targets in 25 man and 3 targets in 10 man

[2020-05-17 12:53] #4484 closed, assigned to Keader

[2020-05-17 13:12] Keader commented on #4114
Fixed, now people will stay on groups when logout.

[2020-05-17 13:20] Echinaceax commented on #3820
Brain freeze http://cata.cavernoftime.com/spell=57761
Fingers of Frost http://cata.cavernoftime.com/spell=44544

[2020-05-17 13:21] Keader commented on #4317
It's invalid o.o
This effect should be removed on death (same of wotlk)

[2020-05-17 19:30] Ubertje opened #4509 "[Quest] Ix'lar the Underlord (27487)"
I have accepted the quest and done the requirements for it.
Upon returning to the Eastwall Tower, the person to turn in the questgiver is not there

https://www.wowhead.com/quest=27487/ixlar-the-underlord

This is my first report. Hopefully did it right

[2020-05-17 19:33] Thelonnious commented on #4317
@Keader

![image](https://user-images.githubusercontent.com/6819293/82158089-f19ea600-9885-11ea-83eb-e97895f545a6.png)

Persists through death the only changelog is

![image](https://user-images.githubusercontent.com/6819293/82158174-81445480-9886-11ea-8177-cdb013e1e539.png)

[2020-05-17 19:49] Echinaceax commented on #4317
@Xman993 is correct timer shouldnt disappear on death or log out
or this would be available to use after every wipe :)

tester even shows his confirmed SS above

[2020-05-17 20:03] Lumber-Jack-2 commented on #4505
will check, that's a big one

https://github.com/WoWManiaUK/Blackwing-Lair/issues/2043#issuecomment-559512266

[2020-05-17 21:27] Echinaceax opened #4510 "[DK Zone] Main city portals possibly missing"
**Links:**

Ally https://www.wowhead.com/quest=13188/where-kings-walk
horde https://www.wowhead.com/quest=13189/saurfangs-blessing

**What is happening:**
- Missing city portals in Ebon hold
- ally and horde. there is guards but no portals

**What should happen:**
not sure which patch though so need more research on this, so if anyone knows should there be portals left still after doing the end qu

[2020-05-18 00:42] Echinaceax commented on #3584
when i get them to cast instead of standing there i will tell you lol
mirrors are broken atm i will SS when i can

[2020-05-18 00:50] Echinaceax opened #4511 "[Spell] Mirror Image (few issues)"
**Links:**
http://cata.cavernoftime.com/spell=55342

**What is happening:**
- Mirror images sometimes just stand there confused (possible Xfaction issue)
- They run away in the oppersite direction of my target
- Low dmg (when they do work)

**What should happen:**
1. mirrors should attack my target
2. should do damage

**Is it crashing the server?:**
no

**Other Information:**
i have the glyph htt

[2020-05-18 00:55] dagget1337 opened #4512 "Priority high? Resurrection bug"
**What is happening:**

Seems no1 wrote anything about this bug or i´m too dumb to find it here.
So when in a group and one party member (or not even in grp) dies (in a dungeon or outside) and releases his body, he cant get resurrected.

**What should happen:**

When someone leaves his body upon death, he should be able to get resurrected when clicking any kind of Resurrectionsspell and on the sou

[2020-05-18 01:12] dagget1337 commented on #3390
The trinkets Armor doesnt apply either, upon wearing it it doesnt give the 1285 armor which it should. maybe since the stat is kinda an enchant, thing, since its written in green it doesnt act like a stable stat? Dunno how to explain, but maybe the same applies to every item too with such ´greened` stats.

[2020-05-18 01:13] Echinaceax commented on #3195
something broke again @Keader

![mirror image dps](https://user-images.githubusercontent.com/39439201/82165474-7ce36000-98b5-11ea-883b-713e9be2f9b6.jpg)

[2020-05-18 01:15] #3584 closed

[2020-05-18 01:18] Echinaceax commented on #3390
@Rushor can you check again please

[2020-05-18 14:36] #3195 closed

[2020-05-19 08:01] Echinaceax commented on #4370
**legendary sulfuras**

- [ ]  https://classic.wowhead.com/item=17182/sulfuras-hand-of-ragnaros cant either

**Warglaive of Azzinoth**

- [ ] http://cata.cavernoftime.com/item=32837

**Polearm**

- [ ] https://www.wowhead.com/item=56382/selizas-spear&bonus=4153 cant be trans to https://classic.wowhead.com/item=17074/shadowstrike

**bow**

- [ ] https://www.wowhead.com/item=63532/dragonheart-pierce

[2020-05-19 15:22] Calmwindx opened #4513 "[Rogue][Talent] Overkill buff timer not reseting correctly"
**Links:**
https://cata.cavernoftime.com/spell=58427

from WoWHead or our Armory

**What is happening:**
The rogue talent Overkill is not working correctly. Whenever you exit stealth you should get a 20 second timer on Overkill. However, if you exit stealth, then re-enter it and exit again before the first 20 second timer is up, the buff is not refreshed and will expire after the first 20 second t

[2020-05-20 11:57] Echinaceax commented on #145
GM said NPC is still missing for quest delivery on this quest
i will check

could be related to #4461
questline is a little messed up so phasing could be the issue

**more info**
When quest added by self for testing / completing the NPC is there but only on GM mode, http://cata.cavernoftime.com/npc=42558

Also note conflicting link info on ID numbers https://www.wowhead.com/npc=42308/lieutenant-ho

[2020-05-20 12:12] Echinaceax commented on #4461
### more info
Seems that this is messing up the delivery / npc phasing for #145

[2020-05-20 13:42] Echinaceax commented on #4015
Reopening this issue, Notified from GM this is still and issue

[2020-05-20 14:21] #963 closed

[2020-05-20 14:21] #3390 closed

[2020-05-20 14:21] #4114 closed

[2020-05-20 14:21] #4192 closed

[2020-05-20 14:21] #4316 closed

[2020-05-20 14:21] #4318 closed

[2020-05-20 14:21] #4498 closed, assigned to Keader

[2020-05-20 14:21] #4499 closed, assigned to Keader

[2020-05-20 14:21] #4500 closed, assigned to wow-mania

[2020-05-20 22:49] coffeelover38 commented on #1172
why this is still a issue?

[2020-05-20 23:02] coffeelover38 commented on #1171
Still a issue ?

[2020-05-21 06:59] polymorphism98 opened #4514 "[NPC] Patch <Gob Squad> - Missing - Twilight Highlands (NPC ID: 47492)"
**Links:**
https://www.wowhead.com/npc=47492/patch
https://cata.cavernoftime.com/npc=47492

**What is happening:**
NPC is missing. He has a few important quests to offer.

**What should happen:**
NPC should be present on his correct location (27.4, 36.8) in Twilight Highlands.

**Is it crashing the server?:** No

**Other Information:** https://wow.gamepedia.com/Patch_(goblin)

[2020-05-21 09:30] Echinaceax commented on #1172
@coffeelover38 not sure of the question

1. Did you find same issue?
2. You found no issue with this quest?
3. Why is it not fixed yet?

[2020-05-21 09:39] Echinaceax commented on #1171
yes on the list for fixing

[2020-05-21 10:19] Echinaceax opened #4515 "[Quest] The Very Earth Beneath Our Feet - Deepholm"
**Links:**

quest https://www.wowhead.com/quest=26326/the-very-earth-beneath-our-feet
npc https://www.wowhead.com/npc=42730/earthcaller-torunscar

**What is happening:**
- Npc phasing
- Cant hand quest back

**What should happen:**
_Players should be able to see NPC to deliver their quest_

**Is it crashing the server?:**
no

**Other Information:**
Confirmed by GM

phasing
![image](https://user-im

[2020-05-21 10:47] polymorphism98 commented on #1995
@Rushor - This looks like regressed once again. I can find the cave entrance and get that part complete. But the NPC part is not doable.

[2020-05-21 13:35] Echinaceax commented on #964
Fixed and on live

[2020-05-21 13:35] #964 closed

[2020-05-21 14:48] Valik84 opened #4516 "[Quest] The Princess Unleashed - Arathi Highlands"
**Links:**
The Princess Unleashed Quest
from WoWHead or our Armory

**What is happening:**
When you use the stone to summon the Princess it won't summon her no matter how many times you try says you need the stone to summon her when the stone is right in front of you

**What should happen:**
when you click on the stone to summon the princess it should summon her so you can kill her to complete the

[2020-05-21 14:56] Echinaceax commented on #4516
I was sure this was reported before hmm, cant see it though
quest http://cata.cavernoftime.com/quest=26912
quest item http://cata.cavernoftime.com/item=4472

i can confirm from my own tests months ago this isnt working

[2020-05-21 15:45] Echinaceax opened #4517 "[Item] Cowl of pleasant gloom - socket bonus"
**Links:**
item http://cata.cavernoftime.com/item=58155

![cowl of pleasant gloom](https://user-images.githubusercontent.com/39439201/82576989-a5f04300-9b8a-11ea-9bd2-f227d7ba5b68.jpg)

**What is happening:**
- Socket bonus not working
_even though i have required gems equipped_

**What should happen:**

**Is it crashing the server?:**
no

**Other Information:**
my old 333 head item works fine wit

[2020-05-21 16:19] Echinaceax commented on #4262
More info coming now https://github.com/WoWManiaUK/Blackwing-Lair/issues/4239 has been fix
will update tis soon

[2020-05-21 18:48] Echinaceax commented on #4508
not fixed @Keader

just did the RHC , havent checked the RDF one yet

[2020-05-21 19:41] Echinaceax commented on #4239
Paradox guild are giving feedback on this @Keader here is what still isnt working

NPC chromatic prototype https://www.wowhead.com/npc=41948/chromatic-prototype#abilities:mode=n10

**Interupts confirmed NOT working**

- [ ] Arcane Torrent https://cata-twinhead.twinstar.cz/?spell=50613
- [ ] DK - Strangulate http://cata.cavernoftime.com/spell=47476
- [ ] DK - Mindfreeze http://cata.cavernoftime.com

[2020-05-21 20:38] deni6 commented on #2001
Not added on .bq yet

[2020-05-21 20:41] coffeelover38 commented on #503
2020 and still no dialog

[2020-05-21 23:58] Bezkosa commented on #3260
Hello. So i just tested the sham dispel spell and its not working. I was not able to dispel anything. Tried on a lot of spells and i cant dispel them. Can you please fix this issue because i need that spell a lot. Thanks in advance. This is Bezkosa Resto Sham.

[2020-05-22 03:58] polymorphism98 opened #4518 "[Quest] Violent Gale - Deepholm (Quest ID: 26426)"
**Links:** https://www.wowhead.com/quest=26426/violent-gale

**What is happening:**
1. Nothing happens when you reach near or right click and try to speak to the NPC [Felsen the Enduring](https://www.wowhead.com/npc=44281/felsen-the-enduring-speak-credit)

**What should happen:**
1. Player should get the credit([Find Felsen the Enduring](https://www.wowhead.com/npc=44281/felsen-the-enduring-speak-

[2020-05-22 04:11] rzenne opened #4519 "[Quest] [Healing in a flash]"
**Links:**
http://cata.cavernoftime.com/quest=27066
from WoWHead or our Armory

**What is happening:**
when you try using Flash Heal on the wounded braves their health goes up but you don't receive credit for it.

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2020-05-22 09:30] Echinaceax commented on #3260
@Keader From my research **before patch 4.1** cleanse removes 1 curse 1 harmful spell from player Xman mentions it here #4318

![before 4](https://user-images.githubusercontent.com/39439201/82653334-53ad3180-9c1f-11ea-963f-c678db5e5769.jpg)

And at patch 4.1 it changes, we are not at 4.1 yet are we?

![4](https://user-images.githubusercontent.com/39439201/82653409-74758700-9c1f-11ea-88a2-4358c8c00

[2020-05-22 17:24] Thelonnious commented on #3260
If the player have a talent into [Improved Cleanse Spirit](https://cata-twinhead.twinstar.cz/?spell=77130) "Empowers your Cleanse Spirit spell to also remove a magic effect from a friendly target."
 else remove only curse.

[2020-05-22 17:27] Thelonnious commented on #3260
@Bezkosa  whats school are the spells you test them?

[2020-05-22 17:59] rzenne commented on #795
same issue i'm having

[2020-05-22 22:11] rzenne commented on #4509
You need to fly to Thondroril river to find her and turn in quest.  The marker needs to be moved.

[2020-05-22 23:31] rzenne opened #4520 "[Quest] [Duskwing, Oh How I Hate Thee] [ Eastern Plaguelands]"
**Links:**
https://www.wowhead.com/quest=27523/duskwing-oh-how-i-hate-thee
from WoWHead or our Armory

**What is happening:**
When you use the Corpseburner's Flare duskwing should fly down so you can attack it. Duskwing is already on the ground and using the flare doesn't start the battle.

**What should happen:**
https://www.youtube.com/watch?v=aTYHrpKBm-Y
**Is it crashing the server?:**

**Other

[2020-05-23 05:17] rzenne commented on #4520
same as #422

[2020-05-23 05:17] #4520 closed, assigned to nobody

[2020-05-23 13:06] Phoenix9867 commented on #3260
Remoted <- Restro Specc:
Talents: Improved Cleanse Spirit 1/1
Cleansing Waters 1/2

Curse dispelling works fine, disease are not disepellable, magic effects i dont know right now, i dont have an npc to harm me

in ele spec cleanse spirit also dispells curses fine on my shaman

[2020-05-23 14:27] Lakilazo opened #4521 "Shamman dispell"
https://www.wowhead.com/npc=47120/argaloth#comments
Shammans cant dispell consuming darkness on Argaloth in Baradin Hold. There were 2 shammans healing, one is draenei and one was dwarf. Also I have talent for cleanse spirit so I can dispell magic and curse. Thank you very much for looking into this trouble.
Here is the link of the spell
https://www.wowhead.com/spell=51886/cleanse-spirit
Cheers!

[2020-05-23 14:29] Echinaceax commented on #4521
thanks @Lakilazo
Remoted will confirm if they also have issue with this

waiting feedback

[2020-05-23 15:42] Echinaceax commented on #4521
### Update from dev

Tested on draenei (cleanse spirit) doesnt work (see my video)
https://gyazo.com/14e118b4cb3482287a742d7c7cd9963a

Cleanse spirit should remove **consuming darkness** from the player as  it's a **magical debuff**

![cleanse spirit](https://user-images.githubusercontent.com/39439201/82734638-8a1ca680-9d1c-11ea-892f-a9b78d107986.jpg)

**More info**
could be coz of recent fix #431

[2020-05-23 16:01] Phoenix9867 commented on #4521
I'll update this post when tested, please wait till this evening when i find a ground to join BH, i also will record it with shadow play. (Remoted)

[2020-05-23 16:15] Keader commented on #4239
The only real bugged here is Strangulate.
Fixed.

[2020-05-23 16:21] Keader opened #4522 "[Black Wing Descent] Core issue prevent melees hit Chromatic Prototype"
https://github.com/WoWManiaUK/Blackwing-Lair/issues/4239#issuecomment-632305170

Has a core issue that prevents melees hit Chromatic prototypes in phase 2 of nefarian.
Reported by @Echinaceax @Calmwindx

[2020-05-23 16:23] Keader opened #4523 "[Blackwing Descent] Melee spells is not working in Chromatic Prototypes"
https://github.com/WoWManiaUK/Blackwing-Lair/issues/4239#issuecomment-632305170

Melee spells is returning "out of range" when used against chromatic prototypes.

[2020-05-23 16:43] Keader commented on #4521
fixed

[2020-05-23 18:10] Echinaceax commented on #4239
lets hope https://github.com/WoWManiaUK/Blackwing-Lair/issues/4523 this issue was the cause of it. thanks @Keader :)

[2020-05-23 20:33] Ubertje commented on #1749
For some reason I've did this quest on my worgen druid without any problems, but my night elf had some problems. The worgen went in the dream and found the guardian, but my night elf could not find it.
Weird thing was, that my night elf found it in the normal world when it exited the dream and re entered the dungeon...

[2020-05-23 22:00] Asklaba opened #4524 "[Quest] It‘s Goat Time, Baby - Badlands"
https://www.wowhead.com/quest=27776/its-goat-time-baby

The quest tells u to kick 12 goats off the cliff with the Billy Goat Blaster but actually the goats seem to not respawn, so basically u see zero goats around the zone which makes the quest impossible to do.

the issue is, that there isn‘t a single goat and u need to kick 12 off in total
Its not crashing the server xd

[2020-05-23 22:10] Echinaceax commented on #4524
Confirmed
Should be aleast 12x npc=46393 missing

[2020-05-24 07:52] polymorphism98 opened #4525 "[Quest] Razorbeak Friends (Quest ID: 26546) - The Hinterlands"
**Links:** https://www.wowhead.com/quest=26546/razorbeak-friends

**What is happening:**
1. Use the supplied [quest item](https://www.wowhead.com/item=58935/gryphon-chow) on the [gryphons](https://www.wowhead.com/npc=2657/trained-razorbeak).
2. The player gets no credit. Quest is not completeable.

**What should happen:**
1. Using the quest item should give credit and the quest should be completed

[2020-05-24 09:01] Echinaceax commented on #4525
confirmed in dev
No quest credit given

[2020-05-24 09:11] Echinaceax commented on #4519
Confirmed in dev
no quest credit

[2020-05-24 09:42] Echinaceax commented on #4518
confirmed in dev
no quest credit given for **_Find Felsen the Enduring_**
#1995

[2020-05-24 13:17] Keader commented on #4508
Looks like packet handler is not working .-.
I did a hackfix to allow it work.
Will not show in interface, but players will get rewards

[2020-05-24 17:00] Asklaba opened #4526 "The Day that Deathwing Came"
https://www.wowhead.com/quest=27714/the-day-that-deathwing-came-the-real-story

https://www.wowhead.com/quest=27715/the-day-that-deathwing-came-what-really-happened

The quests „The Day that Deathwing Came: The Real Story“ and „The Day that Deathwing Came: What really happend“ are not working - u can't speak to the npc‘s as u should be able to.

Normally u should be able to talk to the npcs to com

[2020-05-24 17:11] Echinaceax commented on #4526
reported already but thanks @Asklaba :)
#449

[2020-05-24 17:11] #4526 closed, assigned to nobody

[2020-05-24 17:19] Asklaba opened #4527 "The Warden‘s Game + The Sentinels Game - Badlands"
https://www.wowhead.com/quest=27885/the-wardens-game

https://www.wowhead.com/quest=27886/the-sentinels-game

ye idk u simply can‘t do anything with those statues and u need to move em in the right direction to complete the quest but actually they‘re not even clickable

Normally u should be able to move em and change their direction to complete these 2 little puzzles

Actually its not crashing the

[2020-05-24 17:25] Echinaceax commented on #4527
reported already #448 for The Sentinels Game

[2020-05-24 17:31] Asklaba opened #4528 "[Quest] Ancient Protectors - Badlands"
https://www.wowhead.com/quest=27793/ancient-protectors

u can‘t speak with the 2 bosses, but u need to speak with em in order to kill em and to complete the quest

Normally u just speak with em to activate em and then u are just killing em xd
Its not crashing the server!

[2020-05-24 18:16] rzenne opened #4529 "[Quest] [Defend the tree!] [Ashenvale]"
**Links:**
https://www.wowhead.com/quest=13935/defend-the-tree
from WoWHead or our Armory

**What is happening:**
When you talk to Halannia she doesn't have the option to start quest

**What should happen:**
https://www.youtube.com/watch?v=y1wNusNnthU
**Is it crashing the server?:**

**Other Information:**

[2020-05-24 18:44] rzenne opened #4530 "[Quest] [ Put out the fire] [Ashenvale]"
**Links:**
https://www.wowhead.com/quest=13884/put-out-the-fire
from WoWHead or our Armory

**What is happening:**
You are not receiving the Freezing Surger when the quest begins

**What should happen:**
https://www.youtube.com/watch?v=l5suUMIl8dM
**Is it crashing the server?:**

**Other Information:**

[2020-05-24 18:54] rzenne opened #4531 "[Quest] [Vortex] [Ashenvale}"
**Links:**
https://www.wowhead.com/quest=13888/vortex
from WoWHead or our Armory

**What is happening:**

NPC the vortex does not have an option to get vortex ability from it to fight  Lord Magmathar

**What should happen:**
https://www.youtube.com/watch?v=aHkbHY19AuI
**Is it crashing the server?:**

**Other Information:**

[2020-05-24 20:09] Echinaceax commented on #4531
reported here #1022

[2020-05-24 20:10] #4531 closed, assigned to nobody

[2020-05-24 22:23] rzenne commented on #4527
The warden's game #4438

[2020-05-25 07:29] Echinaceax commented on #4527
thank you @rzenne :)

[2020-05-25 07:29] #4527 closed, assigned to nobody

[2020-05-25 08:38] Echinaceax commented on #4466
Added to main report #4505

[2020-05-25 08:38] #4466 closed, assigned to nobody

[2020-05-25 08:38] Echinaceax commented on #4491
Added to main report #4505

[2020-05-25 08:40] Echinaceax commented on #3142
Added to main report #4505

[2020-05-25 08:40] #3142 closed

[2020-05-25 08:41] Echinaceax commented on #2042
added to main report #4505

[2020-05-25 08:41] #2042 closed

[2020-05-25 08:42] Echinaceax commented on #2021
added to main report #4505

[2020-05-25 08:51] Echinaceax commented on #2043
added to main report #4505

[2020-05-25 08:51] #2043 closed

[2020-05-25 08:55] Echinaceax opened #4532 "[Achievement] Defender of a Shattered World - Missing rewarded title"
**Links:**

Achievement https://www.wowhead.com/achievement=5506/defender-of-a-shattered-world
title https://www.wowhead.com/title=227/defender-of-a-shattered-world

**What is happening:**

- [x] title reward not given

**What should happen:**
When you complete the requirements for this Achievement player should get the Achievement and reward title

**Is it crashing the server?:**
no

**Other Info

[2020-05-25 08:56] Echinaceax commented on #4532
Added to main report #4505

[2020-05-26 00:48] rzenne commented on #1749
Like above I completed it by not going into the dream. I killed the guardian when going to find the dragon so had to exit to reset dungeon.

[2020-05-26 20:27] rzenne commented on #2119
NPC : Szabo is not at the required location anymore.

[2020-05-27 03:54] polymorphism98 commented on #4526
@Echinaceax - The one reported in #449 is for 27713.
But there are two other quests with the similar name. Their IDs: 27714 and 27715 as mentioned in this issue's description above.

27713 is already addressed and put on .BQ as a part of #449 , but the other two aren't. It would be great if the other two can also be addressed somehow and if possible, be put on .BQ. That way, these three connected

[2020-05-27 04:19] polymorphism98 opened #4533 "[NPC] Missing - Eric "The Swift" (NPC ID: 46852) - Badlands"
**Links:** https://www.wowhead.com/npc=46852/eric-the-swift

**What is happening:**:
1. This NPC is missing. He ends and begins quests.

**What should happen:**
1. NPC should be present in Badlands at around (20.41, 56.30)

**Is it crashing the server?:** No

**Other Information:**

[2020-05-27 13:57] Marc-Andre-Grondin opened #4534 "[Quest] Dozercism - 14423 - Azshara"
**Links:**

https://www.wowhead.com/quest=14423/dozercism

**What is happening:**

Nothing. You can use the flare beside the dozer but no priests are coming.

**What should happen:**

A priest should airdrop beside the dozer and exorcise it.

Video : https://www.youtube.com/watch?v=clVzvd18HZc

**Is it crashing the server?:**

No

**Other Information:**

[2020-05-27 14:06] Marc-Andre-Grondin opened #4535 "[Quest] Segmentation Fault: Core Dumped - 14310- Azshara"
**Links:**

https://www.wowhead.com/quest=14310/segmentation-fault-core-dumped

**What is happening:**

Nothing. You can use the lever but nothing happens.

**What should happen:**

The lever should activate a script with the mining cart beside it and the humanoid there should push it and you need to escort it.

Video: https://www.youtube.com/watch?v=eKACBhrkv3M

**Is it crashing the server?:**

N

[2020-05-27 16:11] polymorphism98 opened #4536 "[Quest]The Amulet of Sevine (Quest ID: 26168) - Blasted Lands"
**Links:** https://www.wowhead.com/quest=26168/the-amulet-of-sevine

**What is happening:**
1. Acquire the quest from [Kasim Sharim](https://www.wowhead.com/npc=42298/kasim-sharim).
2. Talk to NPC: [Salt-Flop](https://www.wowhead.com/npc=41265/salt-flop)
3. Upon talking to the NPC, there is no option to talk about the amulet.

**What should happen:**
1. Player should be able to talk to the NPC for

[2020-05-27 17:49] Echinaceax commented on #4536
reported already here #4270
thanks though @polymorphism98

[2020-05-27 17:49] #4536 closed, assigned to nobody

[2020-05-27 19:58] rzenne commented on #516
Doesn't appear to be working again.  you place the meat but when you try to use preserved-pheromone-mixture it keeps saying you need the meat. after watching video if appears the meat is not being placed on the rock which is why mixture doesn't work.

[2020-05-27 20:17] rzenne opened #4537 "[Quest] The Bait for Lar'korwi - ID 24733 - Un'Goro Crater #516"
**Links:**
Quest - http://cata.cavernoftime.com/quest=24733
from WoWHead or our Armory

**What is happening:**
Doesn't appear to be working again. you place the meat but when you try to use preserved-pheromone-mixture it keeps saying you need the meat. after watching video if appears the meat is not being placed on the rock which is why mixture doesn't work.

**What should happen:**
https://www.yo

[2020-05-27 23:04] coffeelover38 commented on #4537
i think you are doing something wrong because i did it 6 hours ago just fine.

[2020-05-28 06:19] Echinaceax commented on #4537
It was reported and fixed here #516
dont open new report just use the old reports that way coders know they fixed it once before if it is regression @rzenne

[2020-05-28 06:22] #4537 closed, assigned to nobody

[2020-05-28 10:07] Lockthaar opened #4538 "[Death Knight] Pacified character"
Hi guys,

I'm a lvl 62 DK (Darshehk) and I have a problem with "pacification". It started at Orgrimmar. I'm friendly with 1000/6000 points of reputation, but I still cannot interact with the NPC's and the game tells me I'm "Pacified" and that I cannot interact.

I then went to Outlands and Thrallmar where the same thing happened. I'm not able to speak with NPC's and take some of the quests. I trie

[2020-05-28 10:48] Echinaceax commented on #4538
Not sure it a bug as such @Lockthaar
what i would do is make an ingame ticket and the GMs can check your questline or any hidden auras you might have on your char ...never seen this before

going to look up "pacified" its odd

here is a possible reason https://truewow.org/forum/viewtopic.php?t=11513

Seems you didnt finish the DK startzone correctly and left to either go to the Mall or join an ins

[2020-05-28 10:59] #4538 closed, assigned to nobody

[2020-05-28 12:59] Echinaceax commented on #4533
confirmed missing
needed for https://cata-twinhead.twinstar.cz/?quest=27828

[2020-05-28 19:08] rzenne commented on #1022
.BQ doesn't work

[2020-05-28 19:47] Echinaceax commented on #1022
.BQ  25441 Does though, i'll remove label for 13888
thanks @rzenne :)

[2020-05-28 21:43] Calmwindx opened #4539 "[Heroic: Omnotron Defense System] Game/Server crash with Nefarians Grip of Death"
**Links:**
https://cata.cavernoftime.com/spell=91849
https://cata.cavernoftime.com/spell=80157

**What is happening:**
When Toxitron casts a Chemical Bomb, and Nefarian pulls the raid into it, it causes errors.
https://imgur.com/a/L2oj9zz

**What should happen:**
No errors should be happening

**Is it crashing the server?:**
It seems to have crashed it the first time it happened

**Other Informati

[2020-05-28 22:06] rzenne opened #4540 "[Quest] Vortex - Ashenvale - 13886 (Ally)"
**Links:**
https://www.wowhead.com/quest=13886/vortex
from WoWHead or our Armory

**What is happening:**

- [ ] NPC the vortex does not have an option to get vortex ability from it to fight Lord Magmathar

**What should happen:**
https://www.wowhead.com/quest=13886/vortex#videos:id=47784
**Is it crashing the server?:**

**Other Information:**

[2020-05-29 00:31] rzenne opened #4541 "[Quest[ [Hellscream Legacy] [Stonetalon Mountains]"
**Links:**
https://www.wowhead.com/quest=25616/hellscreams-legacy
from WoWHead or our Armory

**What is happening:**
When you destroy the oil canisters on their backs and they should be devoured by flames but they are not.

**What should happen:**
https://www.youtube.com/watch?v=_qK9pdRHEgU
**Is it crashing the server?:**

**Other Information:**

[2020-05-30 01:03] Marc-Andre-Grondin commented on #946
I can confirm that the gazebo trick indeed works!

[2020-05-30 12:58] polymorphism98 commented on #3123
@Echinaceax - This seems to be bugged once again. The event starts fine and the boss is attackable. But somewhere during the fight, I believe at about 50% and 25% of his health, he bugs out and flies off to disappear. I think 50% and 25% are the same times when he pops up his bubble too. Hence making it impossible to kill.

[2020-05-30 13:51] ajoderalpersonal opened #4542 "[Quest] Death Comes From on High (Issue 2) - (Undead DK)"
**Links:**

from WoWHead or our Armory

**What is happening:**
im at the Chapel and i can't complete the quest

**What should happen:**
Quest should be complete able

**Is it crashing the server?:**
no

**Other Information:**

I tried to do with 2 Undead .. not success...

[2020-05-30 13:57] Echinaceax commented on #4542
reported here already @ajoderalpersonal #1899
Thanks for reporting

@Rushor http://cata.cavernoftime.com/quest=12641
I did my test on a Bloodelf months ago for questline report with no issues  :)

[2020-05-30 13:58] Echinaceax commented on #1899
New information on this quest still bugged #4542

update - test on live no issues

[2020-05-30 17:03] Echinaceax commented on #4542
Tested on live server undead DK - NO issues

![no issue](https://user-images.githubusercontent.com/39439201/83334638-29571600-a2a8-11ea-8b0b-877a8987a881.jpg)

quest complete fine

![no undead issue](https://user-images.githubusercontent.com/39439201/83334645-3411ab00-a2a8-11ea-9025-fd3311776b0e.jpg)

make sure you are updated to 1.1.0 and using Reign client

[2020-05-30 17:04] #4542 closed, assigned to nobody

[2020-05-30 17:07] #1899 closed

[2020-05-31 06:20] rzenne commented on #402
Ally quest still not working and no .BQ code for it.

[2020-05-31 08:13] Echinaceax commented on #402
![25329](https://user-images.githubusercontent.com/39439201/83347734-47b02680-a327-11ea-9366-fb345d4bbeaa.jpg)

when i reported this was only for Horde, So Ally wasnt added to list
ive edited the title for horde, thanks @rzenne

The list will not be updated anymore, Janitor told us, so this is all we have atm

[2020-05-31 12:53] Echinaceax commented on #4539
@Keader any update on this yet?

[2020-05-31 16:46] Keader commented on #4539
It's a client crash...
I cant even reproduce it.
But i was in 1.0.4 client.
I'm updating to last client version just to make sure... but in the end is not code problem, is client one.
is with janitor.

[2020-05-31 18:03] dagget1337 commented on #4539
At Magmaw there is also another issue including Nefarius, who will cast Shadow Breath at 30% HP of magmaw which inflicts 22499shadow damage to all nearby players in 5 yards. The damage scaling seems to be too high which causes the raid to instantly wipe at 30%.

[2020-05-31 18:22] Echinaceax commented on #4539
Did this crash the server?
need to know if there are more server crashes regarding HC mode

@dagget1337 need new report for the issue with **Shadow Breath** please. this report is for crash only

[2020-05-31 20:10] deni6 opened #4543 "[Parachutes for the Argent Crusade] Zul Drak"
https://www.wowhead.com/quest=12740/parachutes-for-the-argent-crusade#comments

from WoWHead

**What is happening:**
Nothing the NPCs are not engageing fight (also they don`t defend you if you start the fight)

**What should happen:**
The NPCs Argent Crusaders should fight with the mobs around and thats how they reset the buff parachute or by dying.

**Is it crashing the server?:**
Nope but server

[2020-06-01 15:07] deni6 commented on #4492
This should be added on .bq comm to save time and don`t wait for GM to come. It`s bugged Nemesis comes and eats the bait but you can`t loot the required item.

[2020-06-01 15:35] polymorphism98 commented on #4492
@deni6 - It actually worked for me for the second time a couple of days ago. After placing the bait, I had to wait for about 30 seconds to get the required quest item.

[2020-06-02 14:23] Marc-Andre-Grondin opened #4544 "[Quest] Azsharite Experiment Number Two - 14388 - Azshara"
**Links:**

https://www.wowhead.com/quest=14388/azsharite-experiment-number-two

**What is happening:**

When you talk with the NPC "Assistant Greely", you should have the option to me shrinked but the option is missing. Also, when you speak with Gormungan, the option to squeak is also missing (might be because you aren't mousified).

Video: https://www.youtube.com/watch?v=3EEstl-vo6g

**What shou

[2020-06-03 11:49] #4239 closed

[2020-06-03 11:49] #4521 closed, assigned to Keader

[2020-06-03 11:49] #4522 closed, assigned to Keader

[2020-06-03 11:49] #4523 closed, assigned to Keader

[2020-06-03 15:08] Echinaceax commented on #4508
@Keader Not fixed still :)

1. Maniac points (fixed)
2. 150 Valor points added to currency tab (fixed)
3. After daily rhc/ rdf the screen is still active will update when all 7/7 have been done

[2020-06-03 15:27] #4508 closed, assigned to Keader

[2020-06-03 15:46] Echinaceax commented on #2450
No issue on this anymore i think
seems to be working since you added the 1jp @Rushor :)

[2020-06-04 00:18] Marc-Andre-Grondin commented on #4390
Small added info: Even if a GM completes the objective of this quest, you can't turn it in because the NPC isn't on Purgation Island.

http://cata.cavernoftime.com/npc=48470#ends

[2020-06-04 05:49] Lumber-Jack-2 commented on #2450
Okay closing then?

[2020-06-05 15:47] Echinaceax commented on #4476
Reported here already #1549
thanks from reporting though

[2020-06-05 15:48] #4476 closed, assigned to nobody

[2020-06-05 18:39] #701 closed

[2020-06-05 20:57] rzenne commented on #2261
same issue i'm having. think you need to hand in quest ill omens before accepting this quest on it gets messed up. Abandoned quest and restarted and pretty much got 12 in a row.

[2020-06-07 11:29] Echinaceax commented on #3538
update on this issue
i found that only one of the hey bails work so it is completable if you just use the same one 5 times for now

[2020-06-07 16:58] Echinaceax opened #4545 "[Quest] Emergency Aid - (npc phasing) - Twilight Highlands"
**Links:**

Quest https://www.wowhead.com/quest=26538/emergency-aid
npc https://www.wowhead.com/npc=43191/gregor

**What is happening:**
- npc gregor wrong phasing and without dialog

**What should happen:**
_Seek out a Medicine Man in Dragonmaw Port, somewhere near the shore._
https://www.youtube.com/watch?v=dJT4uwmwqG0

**Is it crashing the server?:**
no

**Other Information:**
_cant be seen wit

[2020-06-07 17:37] Echinaceax commented on #513
Still not fixed even after prequest
npc missing for pick up of https://www.wowhead.com/quest=28909/sauranok-will-point-the-way

In DEV  No npc

![no npc](https://user-images.githubusercontent.com/39439201/84022158-17e7cb00-a986-11ea-9e9e-f6a2a65b078b.jpg)

GM on

![npc here](https://user-images.githubusercontent.com/39439201/84022192-22a26000-a986-11ea-9862-5189cec8c413.jpg)

[2020-06-07 17:46] Echinaceax commented on #2377
correct Angel no diolog for https://www.wowhead.com/npc=42893/awol-grunt-disciplined

[2020-06-07 18:04] Echinaceax opened #4546 "[Quest] Twilight Skies - Azshara / Twilight Highlands"
**Links:**
quest https://www.wowhead.com/quest=26388/twilight-skies
npc https://www.wowhead.com/npc=50367/friz-groundspin

**What is happening:**
- npc not seen for player

**What should happen:**
_Twilight Skies quest should be given by the npc_

[2020-06-07 18:14] Echinaceax opened #4547 "[Quest] Twilight Skies - Azshara / Twilight Highlands (issue2)"
**Links:**

quest https://www.wowhead.com/quest=26388/twilight-skies
objective https://www.wowhead.com/npc=42977/twilight-skies-quest-tracker
npc https://www.wowhead.com/npc=42978/admiral-stonefist

**What is happening:**
- the whole cinamatic missing
- npc phasing

**What should happen:**
_Accompany the Horde air fleet to Twilight Highlands. Catch your zeppelin from the tower at the Southern Rock

[2020-06-07 18:23] Echinaceax opened #4548 "[NPC] Admiral Stonefist - 42978- (phasing) - Twilight Highlands"
**Links:**

npc https://www.wowhead.com/npc=42978/admiral-stonefist
quest back https://www.wowhead.com/quest=26388/twilight-skies

**What is happening:**
- npc on live seen with GM on only
so cant hand back the quest

**What should happen:**
_needed for quest back_

and for new quests
https://www.wowhead.com/quest=26539/stalled-negotiations
https://www.wowhead.com/quest=26538/emergency-aid

[2020-06-07 18:35] Echinaceax opened #4549 "[NPC] Ornak -43187- (phasing) - Twilight Highlands"
**Links:**

NPC https://www.wowhead.com/npc=43187/ornak
Quest https://www.wowhead.com/quest=26539/stalled-negotiations

**What is happening:**
- phasing
_cant be seen without GM on_

**What should happen:**
_should be visible in phase for players_

[2020-06-07 18:44] Echinaceax opened #4550 "[NPC] Zaela -43581- (phasing) - Twilight Highlands"
**Links:**

npc https://www.wowhead.com/npc=43581/zaela
quest back https://www.wowhead.com/quest=26619/you-say-you-want-a-revolution

**What is happening:**
- npc not visible for players
_in GM in dev_

**What should happen:**
npc should be visible to hand quest back

[2020-06-07 18:48] Echinaceax opened #4551 "[Quest] Insurrection - (phasing) - Twilight Highlands"
**Links:**

https://www.wowhead.com/quest=26621/insurrection

**What is happening:**
- phasing
- Once phased should click Arm 3 Dragonmaw Workers or Merchants not working

**What should happen:**
should see the npc for the task
should click Arm 3 Dragonmaw Workers or Merchants
https://www.youtube.com/watch?v=9bos-Cs66KQ

[2020-06-07 18:58] Echinaceax opened #4552 "[NPC] Warchief Mor'ghor - (phasing) - Twilight Highlands"
**Links:**

npc https://www.wowhead.com/npc=43189/warchief-morghor
quest https://www.wowhead.com/quest=26622/death-to-morghor

**What is happening:**
- phasing

**What should happen:**
should be at right phase for quest

_Slay Warchief Mor'ghor in Dragonmaw Port. You can still recruit Dragonmaw Merchants and Workers to help you._

[2020-06-07 19:09] Echinaceax opened #4553 "[NPC] Artesh -44024- (phasing) - Twilight Highlands"
**Links:**
npc https://www.wowhead.com/npc=44024/artesh
quest https://www.wowhead.com/quest=26786/securing-the-beach-head

**What is happening:**
- phasing

[2020-06-07 19:15] Echinaceax opened #4554 "[Quest] Madness - Twilight Highlands"
**Links:**

quest https://www.wowhead.com/quest=26549/madness
npc https://www.wowhead.com/npc=43187/ornak

**What is happening:**
- after adding the quest you are not given a Negotiator from Ornak

**What should happen:**
https://www.youtube.com/watch?v=HrePFYH2XYo

[2020-06-07 19:29] Echinaceax opened #4555 "[NPC] Ornak -44042- (phasing) - Twilight Highlands"
**Links:**
npc https://www.wowhead.com/npc=44042/ornak

**What is happening:**
- phasing

**What should happen:**
phasing needed for pick up https://www.wowhead.com/quest=26788/cementing-our-victory

[2020-06-07 19:47] Echinaceax opened #4556 "[Quest] The Warchief Will be Pleased - Twilight Highlands"
**Links:**

quest http://cata.cavernoftime.com/quest=26798

**What is happening:**
- cant use portal to orgrimmar

**What should happen:**
_Use the portal in Dragonmaw Port to go to Orgrimmar and report to Garrosh Hellscream._
https://www.youtube.com/watch?v=zLPIyELnDIc

[2020-06-07 19:57] Echinaceax opened #4557 "[Quest] Traitor's Bait"
**Links:**

https://www.wowhead.com/quest=26830/traitors-bait

**What is happening:**
- no Suspicious Peons dialog
- Sauranok the Mystic is already active and cant attack him

**What should happen:**
_Question Orgrimmar Skyway Peons around the Zeppelin Towers. Look for any Suspicious Peons. Try to flush out Sauranok the Mystic and kill him._
https://www.wowhead.com/quest=26830/traitors-bait#videos

[2020-06-08 11:03] Echinaceax opened #4558 "[NPC] Herezegor Flametusk -42638-"
**Links:**

npc http://cata.cavernoftime.com/npc=42638
quest https://www.wowhead.com/quest=26311/unfamiliar-waters
quest item https://www.wowhead.com/item=58141/twilight-highlands-coastal-chart

**What is happening:**
- No dialog to start the event, event with the twilight nighblade's is already active
- also no 2nd dialog to get the map

**What should happen:**
_Locate Herezegor Flametusk at the

[2020-06-08 12:07] Echinaceax opened #4559 "[NPC] Ticker -49002- (missing) - Twilight Highlands"
**Links:**

https://www.wowhead.com/npc=49002/ticker

**What is happening:**
- npc missing

**What should happen:**
needed for https://www.wowhead.com/quest=28592/parting-packages

[2020-06-09 04:37] rzenne opened #4560 "[Quest] [Taken in the night] [Terokkar Forest]"
**Links:**
https://www.wowhead.com/quest=10873/taken-in-the-night
from WoWHead or our Armory

**What is happening:**
When you free the Sha'tar warriors you don't get credit for it.

**What should happen:**
https://www.youtube.com/watch?v=U9mYTrSskbg
**Is it crashing the server?:**

**Other Information:**

[2020-06-09 19:26] Echinaceax commented on #4086
@Rushor #3508 not same issue :)
cant ride the Emerald Drake

![cant ride them](https://user-images.githubusercontent.com/39439201/84191262-87e67600-aa98-11ea-9477-3083558c7d95.jpg)

[2020-06-10 04:24] rzenne opened #4561 "[Quest] [Divination: Gorefiend's Cloak] [Shadowmoon Valley]"
**Links:**
https://www.wowhead.com/quest=10635/divination-gorefiends-cloak
from WoWHead or our Armory

**What is happening:**
After completing Teron Gorefiend - Lore and Legend I was given this quest. I wear the googles but when you get to the black temple there are no clerics of Karabor roaming around to kill to get the cloak.

**What should happen:**
https://www.youtube.com/watch?v=Dn2BySTQtvA
*

[2020-06-10 08:04] Echinaceax commented on #4561
### confirmed
no https://www.wowhead.com/npc=21815/cleric-of-karabor spawned
there are 30 found but not spawned even with .lo c i can go to location but they not there

![30](https://user-images.githubusercontent.com/39439201/84248177-5fe32b00-ab09-11ea-9854-6c70edde9ffb.jpg)

@rzenne can you remember the name of the npc that gave you **Divination: Gorefiend's Truncheon** quest ? http://cata.caver

[2020-06-10 08:46] Echinaceax commented on #4561
### horde test

@rzenne new info of test After i equipped my specs (tests in dev) show that the npcs are there

![coords](https://user-images.githubusercontent.com/39439201/84246929-9ae45f00-ab07-11ea-83c7-acaa8bc5a45c.jpg)

![i found](https://user-images.githubusercontent.com/39439201/84246606-23163480-ab07-11ea-94f1-4e4b2236fc43.jpg)
![here was mine](https://user-images.githubusercontent.com/394

[2020-06-10 09:20] Echinaceax opened #4562 "[NPC] Ancient Shadowmoon Spirit - Shadowmoon Valley"
### Horde test

**Links:**

npc http://cata.cavernoftime.com/npc=21797

**What is happening:**
- NPc quest order

**What should happen:**
had to add the quest coz http://cata.cavernoftime.com/npc=21772 didnt give me the starter quest
after adding the quest http://cata.cavernoftime.com/quest=10633

i was offered

**Divination: Gorefiend's Armor**  http://cata.cavernoftime.com/quest=10634
**Divinati

[2020-06-10 18:07] rzenne commented on #4561
Pretty sure it was Zorus the judicator.

[2020-06-10 18:18] rzenne commented on #4561
So I got Divination: Gorefiend's Truncheon first, then did Divination: Gorefiend's Armor - but Divination:  Gorefiend's Cloak didn'twork for me. I didn't do the truncheon quest. When I got to the spirit for the armor quest the truncheon quest was already grayed out.

[2020-06-10 18:30] Echinaceax commented on #4561
ok thanks @rzenne i'll add it to other report then

[2020-06-11 04:19] rzenne opened #4563 "[Fishing Daily] Tadpole Terror - Tirisfal Glades"
**Links:**
https://www.wowhead.com/quest=29319/tadpole-terror
from WoWHead or our Armory

**What is happening:**
I finished from lvl 50 to lvl 140 with baubles on my line and caught zero Giant Flesh-Eating Tadpoles at Stillwater pond.

**What should happen:**
https://www.youtube.com/watch?v=5TraM8pmTlI
**Is it crashing the server?:**

**Other Information:**

[2020-06-13 04:56] mfranca0009 commented on #422
Potential Fix in Eastern Plagueland SQL file

`(@CGUID+1301, 11897, 0, 1, 1, 2808.731, -4062.556, 158.8493, 3.058988, 120, 0, 0), -- Duskwing (Area: Plaguewood)`

**TO**

`(@CGUID+1301, 11897, 0, 1, 1, 2808.731, -4062.556, 158.8493, 3.058988, 120, 0, 2), -- Duskwing (Area: Plaguewood)`

Movement Type set to 2

[2020-06-13 20:43] Echinaceax commented on #4508
fixed for both justice points and valor points thx @keader :)

[2020-06-14 09:59] Echinaceax commented on #3123
@polymorphism98 i just completed this without issue, Maybe its a low damage issue, worked fine for me

![no issue](https://user-images.githubusercontent.com/39439201/84590371-2fb3c900-ae36-11ea-9664-ca37ca0de914.jpg)

"require Center of Abyssion's Lair"

![center](https://user-images.githubusercontent.com/39439201/84590404-87523480-ae36-11ea-8815-168cdc863995.jpg)

[2020-06-14 09:59] #3123 closed

[2020-06-14 10:18] Echinaceax opened #4564 "[Item] Stonebinder's Cloak (visual bug)"
**Links:**

https://www.wowhead.com/item=61473/stonebinders-cloak

**What is happening:**
- Visual bug
mostly invisable cloak

tested with tabard https://gyazo.com/1cfd7944a05ba69f9921e77a7ce725ff
tested without tabard https://gyazo.com/8450b5104a4dec46110ff8bbfaec2aea

**What should happen:**
should look like this

![like this](https://user-images.githubusercontent.com/39439201/84590671-d1d4b080-

[2020-06-14 10:24] Echinaceax commented on #3069
Update, We did stonecore many times recently
could be fixed now with the newest client release 1.1.0
_so make sure you Download the newest client_

i will close this as i see no issue with this now

[2020-06-14 10:24] #3069 closed

[2020-06-14 10:46] Echinaceax opened #4565 "[Dungeon] Tabard issue - Stonecore"
**What is happening:**
- No matter which tabard you use for Stonecore its not reconized,
players just get The Earthen Ring rep https://www.wowhead.com/faction=1135/the-earthen-ring

**What should happen:**
- rep Tabards should give the rep that is from the tabard chosen by the player

**Other Information:**
This will problematic when players reach exaulted with The Earthen Ring and cant get other

[2020-06-14 13:21] Echinaceax commented on #2480
Seems Dethrone is still not working
GMs has had a ticket saying its not working still

[2020-06-15 01:02] Marc-Andre-Grondin opened #4566 "[Quest] Keep the Fires Burning - 13890 - Ashenvale"
**Links:**

https://www.wowhead.com/quest=13890/keep-the-fires-burning

**What is happening:**

You can get the blubbers from the hydras, cook it into oil but can't use it in the lighthouse.

**What should happen:**

You should be able to use it in the lighthouse's fire

**Is it crashing the server?:**

No

**Other Information:**

Video: https://www.youtube.com/watch?v=90NHV2JdEUc

[2020-06-15 07:11] Echinaceax commented on #4566
was reported here #1027 and supposed to have been fixed @Marc-Andre-Grondin
i will reopen old report to let the devs know thanks

[2020-06-15 07:12] #4566 closed, assigned to nobody

[2020-06-15 07:13] Echinaceax commented on #1027
Still not fixed
was not confirmed by a tester

[2020-06-16 00:46] Marc-Andre-Grondin opened #4567 "[Quest] March of the Stormpike - 28506 - Hillsbrad Foothills"
**Links:**

https://www.wowhead.com/quest=28506/march-of-the-stormpike#videos

**What is happening:**

Nothing.

**What should happen:**

You should go on a trip and be shown four zones that explains the attack against the Horde.

**Is it crashing the server?:**

No

**Other Information:**

Video: https://www.youtube.com/watch?v=SseLVDFDBdw

[2020-06-16 00:50] Marc-Andre-Grondin opened #4568 "[Quest] Little Girl Lost - 28206 - Hillsbrad Foothills"
**Links:**

https://www.wowhead.com/quest=28206/little-girl-lost#videos

**What is happening:**

The NPCs are missing.

**What should happen:**

There should be a NPC inside the cage and another one beside it and a script should begin with some talks.

**Is it crashing the server?:**

No

**Other Information:**

Video: https://www.youtube.com/watch?v=IzNzfD9L8qs

[2020-06-16 13:58] Marc-Andre-Grondin opened #4569 "[Quest] Breaking the Hand - 28556 - Hillsbrad Foothills"
**Links:**

https://www.wowhead.com/quest=28556/breaking-the-hand#videos

**What is happening:**

You can't use the item to plant the nukes. It doesn't detect that you are in the right zones.

**What should happen:**

You should be able to plant the nukes when you are in the right zones.

**Is it crashing the server?:**

No.

**Other Information:**

Video: https://www.youtube.com/watch?v=201r7wV7L

[2020-06-20 10:07] Echinaceax opened #4570 "Call of Duty (horde) - 25924- (issue2) - Durotar / Vashj'ir"
**Links:**

quest https://www.wowhead.com/quest=25924/call-of-duty
quest giver https://www.wowhead.com/npc=41621/commander-thorak

**What is happening:**
- after picking up the quest
_Ride the mercenary ship to battle._
- Ship has no NPCs
- commander thorak isnt on the ship with any yell or dialog
- No interaction from NPc no chatter
- no Octipuss legs as seen in video
- not thrown off the ship
-

[2020-06-20 10:28] Echinaceax commented on #1106
@Sammy974 made report for the ship bug here #4570

[2020-06-20 10:43] Echinaceax opened #4571 "[Quest] Pay it Forward - ID 25936 (issue 2) - Kelp'thar Forest"
**Links:**

Quest: https://www.wowhead.com/quest=25936/pay-it-forward
NPC: https://www.wowhead.com/npc=41672/drowning-warrior
quest item https://www.wowhead.com/item=56227/enchanted-conch

**What is happening:**
- when using the quest item, adds 2 saves for 1 npc :)

**What should happen:**
should only save 1 npc each time

[2020-06-20 11:01] Echinaceax opened #4572 "[NPC] Legionnaire Nazgrim -41750- (missing) - Kelp'thar Forest"
**Links:**

npc https://www.wowhead.com/npc=41750/legionnaire-nazgrim

**What is happening:**
Due to the bugged quest #3201 the quest giver missing we cant pick up https://www.wowhead.com/quest=25949/blood-and-thunder

**What should happen:**
add npc Legionnaire Nazgrim -41750-

[2020-06-20 21:57] Marc-Andre-Grondin opened #4573 "[NPC] Overlord Krom'gar -42106 - Stonetalon Mountain"
**Links:**

https://www.wowhead.com/quest=26101/might-makes-right

**What is happening:**

The NPC Overlord Krom'gar is missing. It's him that finishes the quest.

**What should happen:**

The NPC should be there to finish the quest.

**Is it crashing the server?:**

No.

**Other Information:**

Video: https://www.youtube.com/watch?v=8nk3G9goetE

[2020-06-20 22:44] Marc-Andre-Grondin opened #4574 "[Quest] Furien's Footsteps - 14191 - Desolace"
**Links:**

https://www.wowhead.com/quest=14191/furiens-footsteps

**What is happening:**

The discovery of the places doesn't proc.

**What should happen:**

You should complete the quest targets as you discover the ruins.

**Is it crashing the server?:**

No.

**Other Information:**

Video: https://www.youtube.com/watch?v=9r0HdkNc_Ew

[2020-06-21 06:01] Echinaceax commented on #4573
npc https://www.wowhead.com/npc=42106/overlord-kromgar

[2020-06-21 07:32] Echinaceax opened #4575 "[Quest] Brother Against Brother - Sethekk Halls"
**Links:**

quest http://cata.cavernoftime.com/quest=29605

**What is happening:**
- Lakka has no dialog for rescue

**What should happen:**
_Free Lakka from captivity. Return to Isfar inside the Sethekk Halls when you've completed the rescue._
https://www.wowhead.com/quest=29605/brother-against-brother#videos:id=95273

[2020-06-21 08:28] Echinaceax opened #4576 "[Quest] Eyes Of Desire - Sethekk Halls"
**Links:**

quest http://cata.cavernoftime.com/quest=29607
quest item drop http://cata.cavernoftime.com/item=72480

**What is happening:**
- no Cobalt Eye dropping

**What should happen:**
Cobalt Eye quest item should drop from http://cata.cavernoftime.com/?search=Cobalt+Serpent
https://www.youtube.com/watch?v=JleSRmbaqjQthe cobalt surpent

[2020-06-21 12:23] Echinaceax opened #4577 "[Object] Ribbon Pole - mid summer"
**Links:**

https://classic.wowhead.com/object=181605/ribbon-pole

**What is happening:**
- ribbon pole not working

**What should happen:**
Should click and ribbon dance to gave buff
https://gyazo.com/820b82b0366b4eeece56c7a442fcb475
(ribbon pole works in zangamarsh only)

[2020-06-21 12:48] Echinaceax opened #4578 "[Boss] The frost lord Ahune (wrong version) - Midsummer"
**What is happening:**
- gear drops are Wotlk and boss is Wotlk
http://cata.cavernoftime.com/item=54806
http://cata.cavernoftime.com/item=54802

**What should happen:**
upgrade Ahune and his drops to cata version
npc https://cata-twinhead.twinstar.cz/?npc=25740
http://cata.cavernoftime.com/item=69766

**other info**
the http://cata.cavernoftime.com/item=54536
_Satchel of Chilled Goods Item Level 8

[2020-06-21 15:46] Echinaceax opened #4579 "[NPC] Missing npc - Midsummer"
### Horde

**Links:**
quest http://cata.cavernoftime.com/quest=11966

**npc missing**
festival scorchling  http://cata.cavernoftime.com/npc=26520

Arathi Flame Keeper http://cata.cavernoftime.com/npc=25923
Ashenvale Flame Keeper http://cata.cavernoftime.com/npc=25884
Badlands Flame Keeper http://cata.cavernoftime.com/npc=25925
Burning Steppes Flame Keeper http://cata.cavernoftime.com/npc=25927
Des

[2020-06-21 16:30] Echinaceax opened #4580 "[Quest] The Festival of Fire (missing objects) - Midsummer"
### Horde

**Links:**
http://cata.cavernoftime.com/quest=9368

**What is happening:**
- missing objects
Flame of Orgrimmar http://cata.cavernoftime.com/object=181336
Flame of Thunder Bluff http://cata.cavernoftime.com/object=181337
Flame of the Undercity http://cata.cavernoftime.com/object=181335

**What should happen:**
_Touch the bonfires within Orgrimmar, Thunder Bluff, and the Undercity, then

[2020-06-21 16:47] Echinaceax opened #4581 "[Quest] Flickering Flames in the Eastern Kingdoms - Midsummer"
**Links:**

quest http://cata.cavernoftime.com/quest=9389

**What is happening:**
- missing objects
Flame of Hillsbrad http://cata.cavernoftime.com/object=181566
Flame of Silverpine http://cata.cavernoftime.com/object=181564
Flame of Westfall http://cata.cavernoftime.com/object=181565
Flame of the Wetlands http://cata.cavernoftime.com/object=181567

**What should happen:**
_Visit the bonfires with

[2020-06-22 03:20] mfranca0009 commented on #853
**Solution**

.npc add 772 (Stranglethorn Tigress)

Adjust data within creature table after adding new instances of 772

I tested this within local CATA server and the Stranglethorn Tigress / Elder Shadowmaw Panthers should have a spawndist set and MovementType of 1 so they are patrolling near their spawn point.

[2020-06-22 15:08] Marc-Andre-Grondin commented on #454
Just a small FYI, Horde's version is bugged also.

https://www.wowhead.com/quest=14360/nothing-a-couple-of-melons-wont-fix

Not added to .bq yet.

[2020-06-23 15:15] Marc-Andre-Grondin opened #4582 "[Quest] All Becoming Clearer - 14195 - Desolace"
**Links:**

https://www.wowhead.com/quest=14195/all-becoming-clearer

**What is happening:**

The discovery of the palace doesn't trigger, thus not completing the objective of the quest.

**What should happen:**

The discovery should trigger, thus completing the objective.

**Is it crashing the server?:**

No.

**Other Information:**

Video: https://www.youtube.com/watch?v=xX2HEv7r5Po

[2020-06-24 21:25] stoerebtw opened #4583 "[Dungeon] stratholme is linked to wrong graveyard"
**Links:**

https://classic.wowhead.com/stratholme

**What is happening:**

Whene we wiped in Stratholme we were teleported to the graveyard in Westfall ; Sentinel Hill
We could not get in a dungeon to be revived (we tried the deadmines but WoW knew it was the wrong one )

**What should happen:**

We should have been teleported to a graveyard somewhat close to stratholme

**Is it crashing the serv

[2020-06-25 00:20] rzenne commented on #768
I had the same problem today

[2020-06-25 06:37] Echinaceax commented on #4583
from what i can find from caveroftime yes there should be a few spirit healers and one nearer the dungeon
http://cata.cavernoftime.com/npc=6491

![ep spirit healer](https://user-images.githubusercontent.com/39439201/85668445-065d2d80-b6bf-11ea-9115-94a54b28da44.jpg)

[2020-06-27 22:37] Echinaceax commented on #814
WANTED: The Demon Hunter fixed now https://github.com/WoWManiaUK/Blackwing-Lair/issues/815

[2020-06-28 00:01] mfranca0009 commented on #444
He has a unit flag that labels him as "immune to PC (Player Characters)" which is causing him to not be attackable. Once this flag is removed, you are able to throw the potion at him when weak but it does nothing. Will continue to look into this.

[2020-06-28 04:19] mfranca0009 commented on #853
Needs testing on PTR

[2020-06-28 04:19] mfranca0009 commented on #884
Needs testing on PTR

[2020-06-28 04:19] mfranca0009 commented on #385
Needs testing on PTR

[2020-06-28 04:31] mfranca0009 commented on #598
Every video on WoWhead for this quest shows it as an auto turn-in. Is there suppose to be a cut-scene?

[2020-06-28 04:48] mfranca0009 commented on #725
Not able to replicate this on the PTR, only had one spawn and I did this twice. Is this still a problem on live realm?

[2020-06-28 04:56] mfranca0009 commented on #683
There's only one instance of Cenarion Scout Jalia showing up on the PTR db and she seems to be in the right location. Is there still two on the live realm?

The only issue I could see on PTR is that she continues to go stealth and out of stealth about every 5 minutes.

[2020-06-28 07:57] Echinaceax commented on #884
Confirmed fixed @mfranca0009  :)

![Joseph the Crazed fixed](https://user-images.githubusercontent.com/39439201/85941860-d19edf80-b925-11ea-99b0-da44afc2fee3.jpg)

[2020-06-28 07:58] Echinaceax commented on #884
oops missclicked

[2020-06-28 08:26] Echinaceax commented on #853
confirmed fixed

1. more tigers and panthers seen
 2. Petrol movement also fixed

![fixed3](https://user-images.githubusercontent.com/39439201/85942485-d4033880-b929-11ea-878e-6dbe12e55bd5.jpg)

[2020-06-28 08:32] Echinaceax commented on #385
confirmed fixed

![fixed4](https://user-images.githubusercontent.com/39439201/85942618-a8cd1900-b92a-11ea-8007-45f4208f683f.jpg)

[2020-06-28 08:43] Echinaceax commented on #725
@mfranca0009 will check

**Update**
No longer an issue on live or on ptr (tested both)

[2020-06-28 08:50] #725 closed

[2020-06-28 09:04] Echinaceax commented on #598
No idea @mfranca0009 the old tester isnt here anymore

I believe she meant from the previous quest before it https://www.youtube.com/watch?v=94OcsU9UH-k

**side note:** there was a missing npc issue reported for that quest https://github.com/WoWManiaUK/Blackwing-Lair/issues/2289 and no further test was reported about a cutscene for that after the npc was fixed. so Yes as seen in video its the issu

[2020-06-28 09:20] Echinaceax commented on #683
@mfranca0009 i see from my Screen shot this test was in PTR (from testers guild name)  :)

from what i can find the egg one was removed from game
https://classic.wowhead.com/npcs?notFound=51375
http://cata.cavernoftime.com/npc=51375
https://cata-twinhead.twinstar.cz/?npc=51375

that is the other ID 15611 (She is fine)

All 3 of my research sites dont have this phase of npc i see that only npc=5137

[2020-06-28 11:55] Echinaceax commented on #4244
**Update on this issue**
spoken about here before https://github.com/WoWManiaUK/Blackwing-Lair/issues/3064

Since GMs stopped resetting this manually on **wednesday 00:00** this week for retest for me there is a new issue
- the Sunday reset has stopped working to now

Did not reset at 6am as told in comment by janitor https://github.com/WoWManiaUK/Blackwing-Lair/issues/3064#issuecomment-535478741

[2020-06-28 18:46] mfranca0009 commented on #598
Alliance: https://www.wowhead.com/quest=27858/rheastraszas-gift
Horde: https://www.wowhead.com/quest=27898/rheastraszas-gift

This is the quest from "Rhea" that has a cut-scene which does not work. Issue already opened about it here, #3380

Probably just close this issue then, since "The Egg Lives On" is an auto-complete quest and works as intended.

Video: https://www.youtube.com/watch?v=uCWiS-c_

[2020-06-28 19:49] mfranca0009 commented on #1118
Added more balloons within Orgrimmar and used the image above for reference.

![balloons](https://user-images.githubusercontent.com/26092980/85956899-ee9fd680-b956-11ea-93b6-a53e90e994b5.jpg)

Needs testing in PTR 👍

[2020-06-28 20:02] mfranca0009 commented on #359
Don't you need to empty the current equipped bag (ex. Large Blue Sack) before replacing that bag with a new one (ex. Illusionary Bag)?

Is this bypassed by equipping a bag from guild bank instead of inventory?

[2020-06-28 20:16] mfranca0009 commented on #683
Removed the instance of that npc ID, but I didn't delete the template just in case.

Needs to be tested on PTR 👍

[2020-06-28 20:56] mfranca0009 commented on #4461
Cavern of Time splits the series up depending on what quest you choose.

Murlocs: http://cata.cavernoftime.com/quest=26214
Riverpaw: http://cata.cavernoftime.com/quest=26213

It doesn't change what quests you can pick up later though. Are you suppose to be able to do both or only do one? @Echinaceax

[2020-06-28 21:12] mfranca0009 commented on #145
I just tested this on the PTR now without GM mode, I was able to get up to "Shakedown At the Saldean's" without any issue and both NPCs (42558 and 42308) worked fine. NPC 42558 only shows up and phases in when "Lou's Parting Thoughts" (Eavesdrop on thugs) is complete. You start the series/storyline by utilizing NPC 42308 first.

Is this still an issue on live realm?

**UPDATE**

Tested running thr

[2020-06-28 21:29] #598 closed

[2020-06-28 21:31] rzenne commented on #1157
still not working

[2020-06-28 21:31] Echinaceax commented on #598
thanks @mfranca0009
i agree this is as intended, no issue regarding this quest its the others

[2020-06-28 21:33] Echinaceax commented on #359
when this issue was opened @mfranca0009 we didnt have the 4 bags only had the main 16 rucksack
so test was with 4 bag slot empty so wasnt anything to replace at the time of the test

[2020-06-28 21:37] mfranca0009 commented on #876
Needs testing in PTR 👍

[2020-06-28 21:40] Echinaceax commented on #1118
confirmed fixed
much better @mfranca0009 thanks

[2020-06-28 21:41] Echinaceax commented on #683
confirmed fixed :)

[2020-06-28 21:47] Echinaceax commented on #4461
from what happened @mfranca0009

i was given https://www.wowhead.com/quest=26213/hot-on-the-trail-the-riverpaw-clan  twice

![2 of same quest](https://user-images.githubusercontent.com/39439201/85958921-b53c8a80-b999-11ea-9a54-fd91c29b84d8.jpg)

that shouldnt happen :)

[2020-06-28 21:50] Echinaceax commented on #876
fixed confirmed @mfranca0009

![fixed6](https://user-images.githubusercontent.com/39439201/85959050-3267ff80-b99a-11ea-8f5a-85b89d9f6fc2.jpg)

[2020-06-28 22:18] #145 closed

[2020-06-28 22:20] mfranca0009 commented on #4461
Tested three times and did not recieve a duplicate of "Hot On the Trail: The Riverpaw Clan". storyline / quests were functioning as intended and am unable to reproduce issue.

[2020-06-28 22:20] #4461 closed, assigned to nobody

[2020-06-28 23:04] Echinaceax commented on #157
Tracing this back as we are currently looking at this questline from another report

janitor is right,  you havent done the questline i see from your SS

![Image1](https://user-images.githubusercontent.com/39439201/85960533-73651180-b9a4-11ea-806b-a5b80dd2d743.jpg)

This quest you must complete to get all the other quests in correct order

then when you complete lou's parting thoughts then the que

[2020-06-29 00:02] Echinaceax commented on #4441
main questorder report here https://github.com/WoWManiaUK/Blackwing-Lair/issues/3566

[2020-06-29 01:39] mfranca0009 commented on #4496
Needs testing in PTR 👍

[2020-06-29 11:09] Echinaceax commented on #4496
confirmed fixed

![fixed7](https://user-images.githubusercontent.com/39439201/85997367-b3aaab00-ba09-11ea-82ae-cf167b881641.jpg)

[2020-06-29 16:31] mfranca0009 commented on #4502
More NPCs added, still working on movement. It seems some were on waypoints moving up and down the hill in the area of the quest while some were just wandering near their spawn point.

[2020-06-29 17:57] mfranca0009 commented on #4502
Complete. Added more mobs, added waypoint data to two mobs that walks up/down hill in that area (2 hills), and adjusted smart AI scripts for these two mob types because they were self casting their spells and they weren't casting them on the player character.

Needs testing in PTR. 👍

[2020-06-29 21:10] Echinaceax commented on #4502
Confirmed fixed - more added

Just some pathing issues with 36384/zapper-gnome glitching on the mountain :)
https://gyazo.com/1434475f256171d76c7ff0eabbb46c6f
https://gyazo.com/9079aa8fc71ee9f80fc123f366066eee

[2020-06-29 22:39] Echinaceax opened #4584 "[NPC] Slim Shady dealer - Mana tombs"
**Links:**

https://wowwiki.fandom.com/wiki/%22Slim%22
https://cata-twinhead.twinstar.cz/?npc=19679

**What is happening:**
- NPC has no sales window
_he has icon for vendor but no window_

**What should happen:**
_"Slim" is a level 63 general goods, reagent, poisons, meat and drink vendor located at the Mana Tombs entrance in the contested territory of Terokkar Forest._

![no sales window](https:

[2020-06-30 02:06] mfranca0009 commented on #4502
The glitches happening from netgun gnome (guid 284864)  and zapper gnome (guid 284863) should be fixed. Instead of keeping them on random movement based on the distance from their spawn point, I put them on waypoint movement and setup waypoints for them.

Let me know if this works out better 👍

[2020-06-30 09:14] Echinaceax commented on #4502
Much better @mfranca0009  thanks :)

[2020-06-30 14:29] Echinaceax opened #4585 "[Dungeon] (hc) - Zul'Gurub"
### Will add this here for now as next patch report

**Links:**
https://wow.gamepedia.com/Patch_4.1.0
https://wowwiki.fandom.com/wiki/Zul%27Gurub

video for future https://www.youtube.com/watch?v=JmI4LwuTfiw
https://www.youtube.com/watch?v=1GC9x9eKIYM

- [ ] Zanzil's Cauldron of Toxic Torment - not clickable at times
https://www.wowhead.com/npc=52529/zanzils-cauldron-of-toxic-torment

- [x] Giant

[2020-06-30 17:50] Echinaceax opened #4586 "[Dungeon] Boss loots (hc) - Zul'Aman"
**Links:**
https://wow.gamepedia.com/Zul%27Aman_(instance)

![zul aman hc 85](https://user-images.githubusercontent.com/39439201/86159779-1768cd00-bb0b-11ea-9697-8c85f4d7b52a.jpg)

- [x] Akil'zon - Lvl 87 but 70 loot

![Akil zon 87 loot 70](https://user-images.githubusercontent.com/39439201/86159050-023f6e80-bb0a-11ea-8161-6ddd571c7b1a.jpg)

- [x] Nalorakk Lvl 87 but 70 loot

![nalorkk loot 70](ht

[2020-06-30 19:25] Echinaceax commented on #4231
on live now

[2020-06-30 19:25] #4231 closed

[2020-06-30 19:36] Echinaceax opened #4587 "[Quest] The Dark Tower - Redridge Mountains"
**Links:**

quest https://www.wowhead.com/quest=26693/the-dark-tower

**What is happening:**
- No key dropping
player killed 4 times and no key

**What should happen:**
_Recover the Key of Ilgalar._

**Other Information:**
Reported by GM from ticket

[2020-07-01 01:24] rzenne opened #4588 "[Quest] [Mor'shan Caravan Pick-Up] [ Northern Barrens]"
**Links:**
https://www.wowhead.com/quest=29109/morshan-caravan-pick-up
from WoWHead or our Armory

**What is happening:**
Rocco Whipshankis is not at the north exit of crossroads

**What should happen:**
https://www.youtube.com/watch?v=JhRjmC7nbz8
**Is it crashing the server?:**

**Other Information:**

[2020-07-01 02:04] mfranca0009 commented on #4460
### These are the enemy mobs that should be fighting in that area:

**Grimtotem Defender** - https://www.wowhead.com/npc=37178/grimtotem-defender

### These are the friendly mobs fighting with the Grimtotem Defenders:

**Thunder Bluff Brave** - https://www.wowhead.com/npc=37175/thunder-bluff-brave

### One kodo located by a hut:
**Grimtotem Pack Kodo** - https://www.wowhead.com/npc=37185/grimtotem

[2020-07-01 06:40] gonimajuan opened #4589 "[Quest] The Last Line Of Defense - Icecrown ID: 13086"
**Links:**

https://www.wowhead.com/quest=13086/the-last-line-of-defense

from WoWHead or our Armory

**What is happening:** The Frostbrood Destroyers are not dying to the cannon shots.

**What should happen:** You should use the cannons atop of the Argent Vanguard towers to kill the Frostbrood Destroyers

**Is it crashing the server?:** No

**Other Information:** The cannons seem to deal low dama

[2020-07-01 06:45] gonimajuan opened #4590 "[Quest] Reclamation - Sholazar Basin ID: 12546"
**Links:**

https://www.wowhead.com/quest=12546/reclamation

from WoWHead or our Armory

**What is happening:** The Etymidian dies quickly to the three bosses needed to complete the quest.

**What should happen:** The Etymidian faces the three bosses with no problem and kills them to complete the quest.

**Is it crashing the server?:** No

**Other Information:** The Etymidian does not deal the dam

[2020-07-01 07:59] Echinaceax commented on #4589
I have a question @gonimajuan :)

Do you actually "see" the cannons ?
Reason i ask is because i cant without the gm on in PTR

@devs
I dont see the cannons without my gm on (my phasing i think) but anyway
tested and https://www.wowhead.com/npc=30575/frostbrood-destroyer are not taking damage

- not all the mobs take damage as far as i can see

![some do](https://user-images.githubusercontent.com/3

[2020-07-01 08:27] Echinaceax commented on #4590
confirmed bugged

low damage from button 1

![button 1 low damage](https://user-images.githubusercontent.com/39439201/86221489-43289900-bb85-11ea-8756-d1aab582cf03.jpg)

The Etymidian takes to much damage https://www.wowhead.com/item=38709/omega-rune
The Etymidian is given from the quest item

![correct](https://user-images.githubusercontent.com/39439201/86221716-8edb4280-bb85-11ea-8fd6-fca1cd1d49

[2020-07-01 19:58] Leonardojrr opened #4591 "[Quest] It's About Time! - Western Plaguelands ID: 27156"
**Links:**

https://www.wowhead.com/quest=27156/its-about-time

**What is happening:** You can't challenge the Hearthglen Trainee

**What should happen:** You should be able to talk with the Hearthglen Trainee and fight with them

**Is it crashing the server?:** No

[2020-07-01 20:09] rzenne opened #4592 "[Quest] Thinning the... Herd? -13967- ~(issue2) - Ashenvale"
**Links:**
quest - https://www.wowhead.com/quest=13967/thinning-the-herd
quest drop - https://www.wowhead.com/item=46741/furbolg-ear
from WoWHead or our Armory

**What is happening:**
The furbolg's keep resurrecting and then dying immediately so you can't kill them to get the ears

**What should happen:**
Item should drop from these npc's
**Is it crashing the server?:**

**Other Information:**

[2020-07-01 20:12] rzenne commented on #4592
in one area this is happening but you can find another area where it is possible to kill them.

[2020-07-01 20:20] Echinaceax commented on #4592
it was also meant to be fixed here too #943

[2020-07-01 21:14] Echinaceax commented on #1616
Fixed here #4192
closing this one

[2020-07-01 21:14] #1616 closed

[2020-07-02 00:52] mfranca0009 commented on #1871
**I've looked into this and have done the following so far:**

- Deleted the mobs that were on the mountain sides since these mobs should be in the water swimming in one place

- Removed UNIT_DYNFLAG_DEAD (Dynamic Flag) and UNIT_FLAG2_FEIGN_DEATH (Unit Flag 2) so that they didn't show up as dead or faking death

- Removed UNIT_FLAG_IMMUNE_TO_PC (Unit Flag) because it was not allowing you to throw

[2020-07-02 06:27] Echinaceax commented on #4591
reported here already #723
this is on the .BQ 27156 ingame command atm

[2020-07-02 06:29] #4591 closed, assigned to nobody

[2020-07-02 21:06] gonimajuan commented on #4589
@Echinaceax Yes, i do see the cannons.

Not all the enemies take damage when they're too far away

[2020-07-02 21:13] gonimajuan opened #4593 "[Quest] The Battle For Crusaders' Pinnacle (ally phasing issue) but can complete quest - Icecrown ID:13141"
**Links:**
https://www.wowhead.com/quest=13141/the-battle-for-crusaders-pinnacle

from WoWHead or our Armory

**What is happening:** In the zone where you're supposed to complete the objective there is no npc's/enemies. Whenever i walk up to the Spire, it doesn't let me use the Blessed Banner of the Crusade, which is supposed to let me complete the quest

**What should happen:** https://www.youtub

[2020-07-02 21:54] mfranca0009 commented on #4460
### UPDATE

**Done So Far**

- Added Grimtotem Defenders
- Added Thunder Bluff Braves
- Added Grimtotem Pack Kodo
- Added Orno Grimtotem
- Made Grimtotem Defenders have a 2h ready emote and melee-ready byte value
- Added creature texts for Orno Grimtotem and Baine Bloodhoof

**Remaining Work**

- Scripting (texts sent at proper time, skills being utilized by Baine, Baine spawning in, Grimtotem Amb

[2020-07-03 02:23] rzenne commented on #4496
Holgom is there, but Tunawa Stillwind is not.

[2020-07-03 02:30] mfranca0009 commented on #4496
The fix was never posted to the live realm yet, is it missing on test realm? @rzenne

[2020-07-03 04:38] Echinaceax commented on #4496
@rzenne hasnt gone live yet :)
on next server update ..when janitor does it

@mfranca0009 no, Ive confirmed fixed on PTR :)

[2020-07-03 04:45] Echinaceax commented on #4589
yes i saw that too :)
Thanks @gonimajuan

[2020-07-03 05:04] Echinaceax commented on #4593
### Tested horde char PTR

@gonimajuan the pile of skulls is not where the video says its over a little
but quest works i see all npcs too btw (phasing issues for you maybe)

just go to the pile of skulls here and use quest item

![pile of skulls](https://user-images.githubusercontent.com/39439201/86433523-4f366700-bcfb-11ea-944a-f4d94556a57b.jpg)

![worked](https://user-images.githubusercontent.c

[2020-07-03 06:08] Echinaceax commented on #4593
### Update from GM from live

@   DEVS
Seems that there are some phasing issues
will update this soon

### tested Ally char PTR

From what i can see,  Ally chars cant see NPCs

skulls for quest is here, so can complete quest but cant deliver it back

![skulls here no npcs](https://user-images.githubusercontent.com/39439201/86438379-b574b700-bd06-11ea-9d77-013c7b2d10a9.jpg)

![2](https://user-image

[2020-07-03 10:45] Echinaceax opened #4594 "[Dungeon] mob loots (hc) - Zul'Aman"
**Links:**
https://wow.gamepedia.com/Zul%27Aman_(instance)

**wrong loot table**

- [x] Amani'shi Protector - wrong loot table https://www.wowhead.com/npc=24180/amanishi-protector
- [x] Amani'shi Wind Walker - wrong loot table https://www.wowhead.com/npc=24179/amanishi-wind-walker
- [x] Amani Bear - wrong loot table https://www.wowhead.com/npc=23584/amani-bear
- [x] Amani'shi Medicine Man - wrong

[2020-07-03 12:05] Echinaceax opened #4595 "[Object] Door stays locked (hc) - Zul'Aman"
**Links:**

https://wow.gamepedia.com/Hex_Lord_Malacrass

![door is locked](https://user-images.githubusercontent.com/39439201/86467745-40b97100-bd36-11ea-8eeb-34ea9978c1d0.jpg)

**What is happening:**
- after killing Hex Lord Malacrass
_the door stays locked and cant move to last boss_

**What should happen:**
_Door should open to let players get to last boss (i think)_

[2020-07-03 12:14] Echinaceax opened #4596 "[Quest] The Captive Scouts - (hc) - Zul'Aman"
**Links:**

quest http://cata.cavernoftime.com/quest=29217

**What is happening:**
- cant Free the captive scouts - no dialog

**What should happen:**
_Free the captive scouts: Hazlek, Bakkalzu, Norkani, and Kasha. They are being held captive by the Amani high priests._

[2020-07-03 12:54] Marc-Andre-Grondin opened #4597 "[Quest] Delivery Device - 14339 - Desolace"
**Links:**

https://www.wowhead.com/quest=14339/delivery-device

**What is happening:**

Dying Kodos are not dropping Hollow Kodo Horns albeit a ~30% drop rate (confirmed by Zinius). I've killed over 50 to be sure.

**What should happen:**

Dying Kodos should sometime drop the item.

**Is it crashing the server?:**

No.

**Other Information:**
Video: https://www.youtube.com/watch?v=F7viZy1_Ms0

[2020-07-03 13:03] Marc-Andre-Grondin opened #4598 "[Quest] Slitherblade Slaughter - 14257 - Desolace"
**Links:**

https://www.wowhead.com/quest=14257/slitherblade-slaughter

**What is happening:**

Nagas are not dropping the quest items. I've killed over 50 (mixed amount of the three enemies you need to kill) and I've received normal loot, but no quest items.

**What should happen:**

Nagas should sometimes drop a quest item.

**Is it crashing the server?:**

No.

**Other Information:**
Video: htt

[2020-07-03 15:07] Marc-Andre-Grondin opened #4599 "[Quest] Blubbergut - 14334 - Desolace"
**Links:**

https://www.wowhead.com/quest=14334/blubbergut

**What is happening:**

Monster Blubbergut isn't spawning. Small FYI, other sea monsters aren't spawning also.

**What should happen:**

Blubbergut should spawn so that it can be killed.

**Is it crashing the server?:**

No.

**Other Information:**
Video: https://www.youtube.com/watch?v=-n4Prr4oke4

[2020-07-03 18:04] Echinaceax commented on #2846
@rushor is starting these first https://github.com/WoWManiaUK/Blackwing-Lair/issues/3461 then we will retest

[2020-07-04 13:42] Echinaceax commented on #3799
Still an issue
reported from other tester
fished 40mins no drop...

reopening this @Rushor :)

[2020-07-05 16:31] Wolfdragon76 commented on #4380
I think you have this quest mislabeled. This is for the Draenei priest class quest "Aiding the Injured". You're labeling it as the Draenei racial quest that uses Gift of the Naruu,  "Rescue the Survivors!"

Please see
http://cata.cavernoftime.com/quest=14009
http://cata.cavernoftime.com/quest=26949
http://cata.cavernoftime.com/quest=27066

There are several variants depending on race, but you're l

[2020-07-05 18:40] Echinaceax commented on #4380
@Wolfdragon76 i re-opened this because the old tester closed it ;)

thank you for updating

[2020-07-06 20:14] Echinaceax commented on #1073
### Update on this issue
when this quest is completed by a GM the quest delevery also broken (@mfranca0009 )

- [ ] npc missing https://www.wowhead.com/npc=46873/adarrah
npc there at the moment is 48028 (wrong npc)

[2020-07-07 06:13] Echinaceax commented on #2551
Any update on this issue, i had Janitor also test this and he also crashed with the male bloodelf test char

@wow-mania did you manage to sort out why ?

[2020-07-07 11:24] Echinaceax commented on #3673
### Also noticed **Priestelar** only listed up to **_"Shaping up"_** on this questline report.
 many more are missing from this list

Salhet's Secret
Salhet the Tactician
Return to Camp
The High Priest's Vote
Trespassers in the Water
Stopping the Spread
The Defilers' Ritual #3076
The Root of the Corruption
The Vizier's Vote
Tanotep's Son
Neferset Prison
The Pit of Scales
The High Council's Decisio

[2020-07-07 17:43] darkranger4 opened #4600 "Heartstone problem back to kezan"
**Links:**

from WoWHead or our Armory

**What is happening:**
When playing as a Goblin and finished Kezan, you go to ogrimmar.
I used the heartstone to change the xp rate, but i don't know how to go back to ogrimmar.
Those on the ship do nothing.

**What should happen:**
Create a portal or link to get back to orgrimmar

**Is it crashing the server?:**
No

**Other Information:**
I have a level 7 g

[2020-07-07 18:37] Echinaceax commented on #4600
@darkranger4
For now, Goblins are automatically ported to Orgrimmar after Kezan (coz Goblin lost isle is not fixed yet)

When you got to Orgimmar didnt you save your HS at Orgrimmar ?

You will need to make an ingame ticket to get a GM to port you to ogrimmar

[2020-07-07 18:37] #4600 closed, assigned to nobody

[2020-07-07 19:34] mfranca0009 commented on #276
Is this still an issue? At the moment on PTR, it gives credit.

[2020-07-07 19:48] mfranca0009 commented on #282
This still an issue? Works right now on PTR.

No chat spam, NPC says opening line and closing line, gives quest completion.

[2020-07-07 20:07] mfranca0009 commented on #291
NPC is on PTR with entry id 48499 within the cave.

Should she have text dialog with Keegan Firebeard?

Also, she isn't located in the place the video is displaying. She is located on the ledge and not on the back of the cave.

https://www.wowhead.com/quest=28378/find-fanny#videos:id=116135

https://www.wowhead.com/npc=48364/keegan-firebeard

[2020-07-07 20:49] Echinaceax commented on #276
yes still an issue on live @mfranca0009

[2020-07-07 20:52] Echinaceax commented on #282
my last check was on dev in january @mfranca0009
we have had a new client since then so havent checked

I ask GM to check
yes spam is still there on live @mfranca0009

after challanging the mullan gryphon rider, the spam happens

![yes same](https://user-images.githubusercontent.com/39439201/86842445-7dbe9400-c0a5-11ea-88e3-34bcd4dd48a5.jpg)

[2020-07-07 21:06] Echinaceax commented on #291
Old tester report, tester isnt here anymore

[2020-07-07 21:07] mfranca0009 commented on #276
@Echinaceax Okay, will try to make an SQL file shortly and just wait till it's pushed to live to see if the problem is fixed

[2020-07-08 14:17] #385 closed

[2020-07-08 14:17] #683 closed

[2020-07-08 14:17] #853 closed

[2020-07-08 14:17] #876 closed

[2020-07-08 14:17] #884 closed

[2020-07-08 14:17] #1118 closed

[2020-07-08 14:17] #4496 closed, assigned to mfranca0009

[2020-07-08 14:17] #4502 closed, assigned to mfranca0009

[2020-07-08 18:01] mfranca0009 commented on #4311
Duplicate of #824

[2020-07-08 18:01] #4311 closed

[2020-07-08 18:03] mfranca0009 commented on #4310
Duplicate of #827

[2020-07-08 18:03] #4310 closed

[2020-07-08 18:19] mfranca0009 commented on #4331
### Hero's Call : Westfall!

Duplicate quests given with different quest descriptions in log

![duplicateWestfall](https://user-images.githubusercontent.com/26092980/86955674-f6653500-c125-11ea-911c-9da25bb5490f.png)

[2020-07-09 19:20] rzenne commented on #186
.BQ 25205 not working. Can't reach food in time using dash.

[2020-07-10 07:19] Echinaceax commented on #186
Thats odd, ive used the BQ command on this one before

I check on this when PTR is online, and make a new report for this issue

@rzenne
confirmed BQ no working, thanks

[2020-07-10 07:49] Echinaceax opened #4601 "[Quest] The Wolf and The Kodo - ID 25205- (issue 2) - Durotar"
**Links:**

quest https://www.wowhead.com/quest=25205/the-wolf-and-the-kodo

Issue 1 with this quest was fixed here #186  but new issue is ...

**What is happening:**
- When player has transformed into wolf, you get a buff https://www.wowhead.com/spell=73841/hunting
and a Vechicle bar with https://www.wowhead.com/spell=73851/dash to help with getting there quicker

But the wolf Dies as if its a ti

[2020-07-10 19:32] rzenne commented on #967
It worked for me yesterday. Did not have any problems at all. Orc warrior

[2020-07-10 20:29] Echinaceax commented on #967
Tested and worked fine for me too @rzenne :)

![works for belf too](https://user-images.githubusercontent.com/39439201/87200440-d9cf2580-c2fc-11ea-87b7-ecb85f97674a.jpg)

[2020-07-10 20:30] #967 closed

[2020-07-11 09:56] TheSale opened #4602 "[Spell] Thorns low dmg (Feral druid)"
**Links:**
https://prnt.sc/tftitw
https://prnt.sc/tftk0h

from WoWHead or our Armory
https://cata-twinhead.twinstar.cz/?spell=467

**What is happening:**
at my 350 ilvl it deal 206 damage to attackers per hit

**What should happen:**
https://prnt.sc/tftgg6
also dont know math behind and is the damage that it deals only from tooltip or there is attack power multiplier as well

**Is it crashing the

[2020-07-11 11:02] Echinaceax commented on #4602
@Keader
### Ok i tested this on dev and live using Balance and restro in int gear , no issue

**Me** and **TheSale** tested on live (he is feral and Agi geared)
Should Thorns only scale with Int or with attack power too ?

**TheSale** int gear and Balance spec is fine
(so the question is: is feral meant to be low dmg with thorns) ?

[2020-07-11 16:53] Lumber-Jack-2 commented on #4586
updated the loot. pls just do ingame:

 .reload creature_loot_template
.reload reference_loot_template

and it should be fixed

[2020-07-11 17:01] Echinaceax commented on #4586
@Rushor no change, still 70 gear

1. I did clear cache
2. **.reload creature_loot_template** and **.reload reference_loot_template**

![still same](https://user-images.githubusercontent.com/39439201/87235146-fccf0780-c3d8-11ea-8209-a74737442a35.jpg)

![70 still2](https://user-images.githubusercontent.com/39439201/87235153-0f494100-c3d9-11ea-9a68-58566959d83b.jpg)

[2020-07-11 22:02] Echinaceax opened #4603 "[Transmog] Runecloth belt"
**Links:**
https://classic.wowhead.com/item=13856/runecloth-belt

**What is happening:**
- cant transmog

**What should happen:**
_should transmog waist /waist item_

**Other Information:**

![belt wont xmog](https://user-images.githubusercontent.com/39439201/87234600-e7ef7580-c3d2-11ea-9e95-b71bbaf33d24.jpg)

[2020-07-11 22:15] Echinaceax commented on #3364
seems this has issues still @Rushor
me and **Thesale** tested this on normal mobs tonight and mobs ignored shadowmeld and continued attacking.
test was both druids

will test out of group tomorrow

[2020-07-12 11:13] Echinaceax opened #4604 "[Quest Item] Vir'Naal Delta Map"
**Links:**
item https://www.wowhead.com/item=62280/virnaal-delta-map
quest https://www.wowhead.com/quest=27632/tanoteps-son

**What is happening:**
- Quest item dropping without having the quest

**What should happen:**
_quest item should only drop when player has the quest_

[2020-07-14 19:46] rzenne commented on #4078
Don't think it is fixed yet

[2020-07-14 19:51] mfranca0009 commented on #282
Looking into this further, seems the NPC needed for the quest is ran by C++ script and not entirely smart script in DB. While the quest works on PTR, will need to adjust the C++ script because it's saying a duplicate line, "DEFINENTLY" is misspelled, and it should display a duel countdown for when the duel starts. Apparently from the quest video on WoWhead the NPC is suppose to despawn after dueli

[2020-07-14 19:51] rzenne commented on #4078
This is being looked at on #4336

[2020-07-14 20:43] Echinaceax commented on #276
fix confirmed for both Ally and horde (in dev)

![completed](https://user-images.githubusercontent.com/39439201/87474461-68a4b080-c623-11ea-8a90-c8f2bc526d02.jpg)
![confirmed ally](https://user-images.githubusercontent.com/39439201/87474980-419aae80-c624-11ea-9e19-e3ad0e1f5564.jpg)

[2020-07-14 21:23] rzenne opened #4605 "[Quest] [The Orc Report] [Dustwallow Marsh]"
**Links:**
https://www.wowhead.com/quest=27246/the-orc-report
from WoWHead or our Armory

**What is happening:**
As a horde player I am able to pickup the Spy's Report from the loose dirt.

**What should happen:**
I should not be able to pick it up.
**Is it crashing the server?:**

**Other Information:**

[2020-07-14 21:33] Echinaceax commented on #4604
fix confirmed in dev thanks @mfranca0009 :)

[2020-07-14 21:42] Echinaceax commented on #4605
Confirmed, Ally quest can be picked up by horde players

![correct](https://user-images.githubusercontent.com/39439201/87480275-4879ef00-c62d-11ea-91ea-80b1a56f69bd.jpg)

[2020-07-14 22:59] Echinaceax commented on #2927
### update
not seen any client crash issues recently by anyone so im guessing it was fiixed when the group lag issue was fixed

[2020-07-14 22:59] #2927 closed

[2020-07-14 23:06] Echinaceax commented on #3071
already reported here #1903

[2020-07-14 23:06] #3071 closed

[2020-07-15 00:56] mfranca0009 commented on #2038
quest objective NPC missing: https://www.wowhead.com/npc=41460/captured-freewind-brave
Left Chain: https://www.wowhead.com/spell=84990/cosmetic-chains-base-left-hand
Right Chain: https://www.wowhead.com/spell=84991/cosmetic-chains-base-right-hand
Surrender: https://www.wowhead.com/spell=82426/surrender
Sit: https://www.wowhead.com/spell=91298/cosmetic-sit-lower-upper-body-high-low-priority-anim-ki

[2020-07-15 09:39] Echinaceax commented on #2038
confirmed fixed in dev

![fixed1](https://user-images.githubusercontent.com/39439201/87529801-cf5fb380-c68f-11ea-84a5-bd77c32ae58d.jpg)

[2020-07-15 09:45] Echinaceax commented on #4340
After fixing #2038 and delivering _The Brave and the Bold_
you then pick up http://cata.cavernoftime.com/quest=27276 you cant deliver the quest back to https://www.wowhead.com/npc=45278/freewind-brave hes not here

![not here](https://user-images.githubusercontent.com/39439201/87530836-30d45200-c691-11ea-89e0-328842cc91a0.jpg)

should be here on my map

![should be here](https://user-images.github

[2020-07-15 11:36] Echinaceax opened #4606 "[NPC/Rare] Madexx ID 51402 (Double spawn in dev)"
**Links:**

https://www.wowhead.com/npc=51402/madexx

**What is happening:**
- there are 2 spawned in **dev only**

**What should happen:**
should only be one
remove the green one  coods (53. 73. 18.40)

**Is it crashing the server?:**

**Other Information:**
![madexx](https://user-images.githubusercontent.com/39439201/87540275-afd08700-c69f-11ea-9fc2-f94e2336e949.jpg)
![madexx2](https://user-imag

[2020-07-15 14:06] mfranca0009 commented on #4338
Needs testing in PTR

[2020-07-15 15:04] Echinaceax commented on #4338
confirmed fixed in dev 👍

[2020-07-15 15:05] Echinaceax opened #4607 "[NPC] Thalia Amberhide ID 41446"
**Links:**

npc http://cata.cavernoftime.com/npc=41446
quest http://cata.cavernoftime.com/quest=25874

**What is happening:**
- cant hand quest back
npc missing

**What should happen:**
npc should be at location

[2020-07-15 15:10] Echinaceax commented on #4607
premiturely reported :P

[2020-07-15 15:10] #4607 closed, assigned to nobody

[2020-07-15 16:13] mfranca0009 commented on #2245
Two different entries for Twilight Pyremaw
https://www.wowhead.com/npc=44189/twilight-pyremaw
https://www.wowhead.com/npc=42824/twilight-pyremaw

Fixed skin loot for both

[2020-07-15 16:21] Echinaceax commented on #2245
confirmed fix in dev of skinning 👍
https://wowwiki.fandom.com/wiki/Twilight_Pyremaw

![skin](https://user-images.githubusercontent.com/39439201/87569851-094cac00-c6c8-11ea-953e-322396529758.jpg)

[2020-07-15 17:37] Lumber-Jack-2 commented on #2430
soo it drops from those creatures:
INSERT INTO `creature_loot_template` (`entry`) VALUES (15928);
INSERT INTO `creature_loot_template` (`entry`) VALUES (15931);
INSERT INTO `creature_loot_template` (`entry`) VALUES (15932);
INSERT INTO `creature_loot_template` (`entry`) VALUES (15936);
INSERT INTO `creature_loot_template` (`entry`) VALUES (15952);
INSERT INTO `creature_loot_template` (`entry`) VAL

[2020-07-15 17:40] Lumber-Jack-2 commented on #2430
the loot and the chances is exact same like in the wotlk server 0,1 % from the creatures above.

i could increase it due to population if you wish. i think 2 percent is better

[2020-07-15 17:42] Lumber-Jack-2 commented on #2430
okay chance updated to 2 percent, should be better now.

.reload creature_loot_template

you do not need to test that, will upload the fix for jani

[2020-07-15 20:22] rzenne commented on #3629
It is not working for me

[2020-07-15 21:20] rzenne commented on #3314
just a tip, you need to use .BQ 25533 twice to complete horde quest

[2020-07-15 23:06] Echinaceax commented on #2430
Thanks rushor ❤️

[2020-07-16 00:06] mfranca0009 commented on #3544
I checked this on PTR, one is seen in GM mode only while the other is active without GM mode.

Only one NPC is showing atm, what quest is suppose to start the quest line or chain that leads to the second one being phased in and the first one suppose to be phased out?

[2020-07-16 01:40] mfranca0009 commented on #4583
AreaTable.dbc

IDs from this dbc are used for tracking ghost position before being teleported to graveyard

IDs

2017 - Stratholme
2279 - Stratholme
4100 - The Culling of Stratholme
5513 - Stratholme Entrance
5514 - Stratholme Service Entrance
5560 - The Culling of Stratholme Entrance
5916 - Stratholme Main Gate
5917 - Stratholme Service Entrance

WorldSafeLocs.dbc

IDs from this dbc are used for

[2020-07-16 04:37] mfranca0009 commented on #4559
Added ticker, adjusted his phase, and adjusted his equipment template to replicate screenshots / videos of how he should be. Needs testing in PTR.

[2020-07-16 07:21] Echinaceax opened #4608 "[NPC] Highbank Guardsman (loot) - Twilight Highlands"
**Links:**

http://cata.cavernoftime.com/npc=49023#drop

fish loot https://www.wowhead.com/item=53071/algaefin-rockfish

![algaefin](https://user-images.githubusercontent.com/39439201/87639479-a00b7e00-c745-11ea-822d-ea6542d6e4ab.jpg)

**What is happening:**
- Dropping fish only
_loot table is wrong_

**What should happen:**
_should have a different loot table_

**Other Information:**
- also shoul

[2020-07-16 07:35] Echinaceax opened #4609 "[Quest] Parting Packages ID 28592 - Twilight Highlands"
**Links:**

quest http://cata.cavernoftime.com/quest=28592

![bomp target missing](https://user-images.githubusercontent.com/39439201/87641357-42c4fc00-c748-11ea-8ea9-2b8a663a82c3.jpg)

**What is happening:**
- cant place bombs
- the phase is wrong
the fight and the npcs are here from _Highbank, Crybank_ quest http://cata.cavernoftime.com/quest=28594

**What should happen:**
Npcs shouldnt be here

[2020-07-16 07:58] Echinaceax commented on #3544
@mfranca0009

this one has 3 quest http://cata.cavernoftime.com/npc=49020
and this has 1 quest http://cata.cavernoftime.com/npc=49252 but _Burnin' at Both Ends_ http://cata.cavernoftime.com/quest=28597 is offered by both

noticed that the _Burnin' at Both Ends_ is picked up by both of them and even says that on research, so this is confusing

![has both too](https://user-images.githubusercontent.c

[2020-07-16 10:40] Echinaceax commented on #4396
Still an issue,player posted in discord

keader says https://github.com/WoWManiaUK/Blackwing-Lair/issues/3021#issuecomment-546350118

**"Because there was a spell issue.
Here is a clientside issue, nothing that i can do.**

adding more issue to one report its easier to keep track

#3855
#5017

`cat form as a Worgen Druid`
#5335

[2020-07-16 11:37] Echinaceax commented on #4583
Fix confirmed in dev
thanks @mfranca0009

[2020-07-17 02:48] rzenne commented on #381
not working for me. I can't catch them

[2020-07-17 09:01] Echinaceax commented on #381
thanks @rzenne for feedback , i will test myself on dev and then on live see if both are same

this maybe a silly question @rzenne but ... are you clicking on them or are you trying to use fishing rod?

i use ctrl V to show the name plates its easier to see them, then just click until you see the loot icon

### Test update

On PTR (dev) working

https://gyazo.com/9e36b718a6d6cece62d92826d4b27d50

[2020-07-17 18:04] rzenne commented on #381
Yup I was clicking on bubbles.  With Ctrl-V I can see them now. ty

[2020-07-18 08:47] Echinaceax opened #4610 "[Quest/item] Jungle Remedy"
**Links:**

quest item http://cata.cavernoftime.com/item=2633#dropped-by

**What is happening:**
- Quest item dropping without having the quest

**What should happen:**
Quest item should only drop if player has the quest active
 http://cata.cavernoftime.com/item=2633#objective-of

**Other Information:**

![jungle](https://user-images.githubusercontent.com/39439201/87848808-af283280-c8e3-11ea-9616-

[2020-07-18 16:32] mfranca0009 commented on #4608
Adjusted all loot for highbank guardsman, not enough pickpocket data available to adjust so will leave it alone for now.

[2020-07-18 17:03] mfranca0009 commented on #4610
Set condition to allow quest item drop if quest is active from Kurzen Jungle Fighter, Kurzen Medicine Man, and Kurzen Headshrinker.

[2020-07-18 18:57] Echinaceax commented on #4608
testing now @mfranca0009 :)

[2020-07-18 19:02] Echinaceax opened #4611 "[NPC] Highbank Woodworker (loot) - Twilight Highlands"
**Links:**

http://cata.cavernoftime.com/npc=49354

**What is happening:**
- no loot table

**What should happen:**
should have loot

[2020-07-18 21:21] mfranca0009 commented on #4611
Same loot table as Highbank Guardsman, added the loot to Highbank Woodworker entry.

[2020-07-18 22:26] Echinaceax opened #4612 "[NPC] Highbank Marksman (loot) - Twilight Highlands"
**Links:**

http://cata.cavernoftime.com/npc=49124

**What is happening:**
- Loots table

[2020-07-19 09:17] Echinaceax opened #4613 "[NPC] Arcanist Arman - Booty Bay"
**Links:**

npc http://cata.cavernoftime.com/npc=49636
quest http://cata.cavernoftime.com/quest=28750

**What is happening:**
- This npc is not interactable

**What should happen:**
_should give the quest_

Reported by ingame player

[2020-07-19 09:24] Truthseerguy commented on #4426
Completely bugged. Enohar's arrows can be used, but they have no effect on the Darktail targets. Attempting to attack them with spells is also impossible since they are out of range although they can be targeted and the spell activation dot indicates they are within attack range. The Darktails appear to be hovering just above the ground, however, standing under them indicates that both Enohar's ar

[2020-07-19 10:16] Echinaceax commented on #4613
@mfranca0009
Works fine in PTR (DEV)

![works on dev](https://user-images.githubusercontent.com/39439201/87872519-a6099500-c9b9-11ea-97bb-53008bf9457b.jpg)
![works on dev2](https://user-images.githubusercontent.com/39439201/87872522-ab66df80-c9b9-11ea-9b9c-b5c718099876.jpg)

and ported fine

![ported fine](https://user-images.githubusercontent.com/39439201/87872533-b752a180-c9b9-11ea-9711-9703731d

[2020-07-19 10:18] #4613 closed, assigned to mfranca0009

[2020-07-19 10:26] Echinaceax commented on #4613
Tested on live too, found no issue

![fine on lve for me](https://user-images.githubusercontent.com/39439201/87872674-12d15f00-c9bb-11ea-88d5-1e82724d9a27.jpg)
![fine on lve for me2](https://user-images.githubusercontent.com/39439201/87872676-1533b900-c9bb-11ea-9db4-dccb1b764ece.jpg)
![fine on lve for me3](https://user-images.githubusercontent.com/39439201/87872679-17961300-c9bb-11ea-925d-e0ee9239

[2020-07-19 13:08] Echinaceax opened #4614 "[Profession] Enchant trading"
**What is happening:**
- when players trade the item to enchanter in trade window it doesnt work, it just cancels

**What should happen:**
Trading the item for enchant adding should enchant the item and give enchanter a skillup (if leveling it)

**Other info**
Im sure this was reported by Angel before but cant find the report

[2020-07-19 16:41] mfranca0009 commented on #4612
http://cata.cavernoftime.com/npc=49024
http://cata.cavernoftime.com/npc=49124
http://cata.cavernoftime.com/npc=49341
http://cata.cavernoftime.com/npc=49366

All four of these entries of the same mob (Highbank Marksman) will be checked and corrected. Should be done shortly.

[2020-07-19 21:33] rzenne opened #4615 "[NPC Megs Dreadshredder is missing]"
**Links:**
https://www.wowhead.com/quest=24947/momentum
from WoWHead or our Armory

**What is happening:**
 Megs Dreadshredder is not at Lost Rigger Cove so you can not start quests.

**What should happen:**
https://www.youtube.com/watch?v=iPDB1D3IM5A
**Is it crashing the server?:**

**Other Information:**

[2020-07-19 21:55] mfranca0009 commented on #4612
All entries should have updated loot tables, needs testing on PTR

[2020-07-19 22:02] Echinaceax commented on #4612
thanks @mfranca0009 :)

[2020-07-19 23:22] rzenne opened #4616 "[Quest][Maul Em With Kindness][Tanaris]"
**Links:**
https://www.wowhead.com/quest=24963/maul-em-with-kindness
from WoWHead or our Armory

**What is happening:**
You are not getting credit for feeding them Delicacy Morsels after weakening them.

**What should happen:**
https://www.youtube.com/watch?v=H4dL-gNk8xs
**Is it crashing the server?:**

**Other Information:**

[2020-07-20 00:43] rzenne opened #4617 "[Quest][Just Trying to Kill Some Bugs][Tanaris]"
**Links:**
https://www.wowhead.com/quest=24953/just-trying-to-kill-some-bugs
from WoWHead or our Armory

**What is happening:**
There is no dialogue option to Talk to Narain Soothfancy to pilot the Mind-Controlled Swarmer into the Gaping Chasm hive.
There is no question mark above his head either.

**What should happen:**
https://www.youtube.com/watch?v=BZwSAwEopmo
**Is it crashing the server?:**

[2020-07-20 08:29] Echinaceax commented on #4616
@mfranca0009
In PTR the quest item doesnt even work, i get a message " You cant do that yet"  https://www.wowhead.com/item=52044/bilgewater-cartel-promotional-delicacy-morsels

![item](https://user-images.githubusercontent.com/39439201/87916478-c6962580-ca73-11ea-8cfc-4125fa9db46d.jpg)

will need to test this on Live, i will let you know when ive tested live

[2020-07-20 14:28] Echinaceax opened #4618 "[NPC] Dragonmaw Skirmisher (loot table)"
**Links:**

npc http://cata.cavernoftime.com/npc=48799
Quest https://wowwiki.fandom.com/wiki/Quest:Something_Brewed

**What is happening:**
- loot table

**What should happen:**
different :)

[2020-07-21 04:03] rzenne commented on #529
you can finish quest by going back to Spraggle Frock after finding Ringo

[2020-07-21 11:20] Echinaceax commented on #529
So is a visual bug only @rzenne ?

[2020-07-21 12:23] jeyrella commented on #529
Even if this is so, describing as "visual" bug would be misleading, since the entire event of Ringo following the player would be missing.
It would be pure luck if the player went back to Spraggle and realised it was completable.

[2020-07-21 12:25] Echinaceax commented on #529
I know @jeyrella im just asking  if it was a visual coz when i tested this i couldnt complete it at all :)

As you say who would go back to Spraggle hoping it would complete (unless a tester ofc)
still needs fixing lol

thanks for the tip @rzenne :)

[2020-07-21 12:31] jeyrella commented on #529
Got it :-)

[2020-07-21 17:42] Truthseerguy opened #4619 "Lost item"
**Links:**

After Lycanthoth the Corruptor

**What is happening:**
Cut scene stalls

**What should happen:**
Should ride the wolf to a quest giver after the fight.
**Is it crashing the server?:**
Nope
**Other Information:**
I was stuck after completing the quest. Could not log out, only force quit the application. When I logged back in, my Tattered Dreadmist Shoulders were gone. I had them on duri

[2020-07-21 18:15] Echinaceax commented on #4619
@Truthseerguy
Yes the Tattered Dreadmist Shoulders will automatically be unequipped when you lvl past 81 because they are a 1-80 heirloom

they will be in your ingame mailbox  so you can send to other alt you may make in the future

as for the quest, yes this is reported here for fix #4464

[2020-07-21 18:17] #4619 closed, assigned to nobody

[2020-07-22 00:47] mfranca0009 commented on #4618
Deleted three entries that were present in their loot table; Dragonmaw Skirmishers shouldn't have loot.

[2020-07-23 22:46] Echinaceax commented on #3365
@Rushor your ss is of the lvl 80 Coren Direbrew

Hes not here for the Brewfest event, reopening this now, so we can get the npc added hopefully before Event starts in October :)

[2020-07-23 23:14] Echinaceax commented on #3365
correct me if im wrong but shouldnt the command be RDF and not RFD @Slydee23 ?

[2020-07-23 23:42] Echinaceax opened #4620 "[Event] Brewfest - Horde test"
### Please spawn missing npcs first, then a retest can be made

**Links:**
https://wowpedia.fandom.com/wiki/Brewfest

**NPCs missing**
- [ ] _Orc Commoner_ http://cata.cavernoftime.com/npc=19175 (broken recently) possibly after same npc fix for midsummer
- [x] _Agnes Farwithers_ https://www.wowhead.com/npc=23604/agnes-farwithers
- [ ] _Bizzle Quicklift_ https://www.wowhead.com/npc=27216/bizzle-qui

[2020-07-23 23:43] Echinaceax opened #4621 "[Event] Brewfest - Ally test"
### Please spawn missing npcs first, then a retest can be made

**Links:**
https://wowwiki.fandom.com/wiki/Brewfest

**NPCs missing**

- [ ] Arlen Lochlan <Bread Vendor> http://cata.cavernoftime.com/npc=23522
- [ ] Becan Barleybrew http://cata.cavernoftime.com/npc=23627
- [ ] Belbi Quikswitch <Token Redeemer>
- [ ] Boxey Boltspinner http://cata.cavernoftime.com/npc=27215
- [ ] Brew Vendor <Brew of

[2020-07-23 23:54] Echinaceax commented on #3365
in PTR i started the event and it was listed for me there

![brewfest event](https://user-images.githubusercontent.com/39439201/88349524-a951a780-cd50-11ea-8232-210e0b295766.jpg)

[2020-07-23 23:55] #3365 closed

[2020-07-23 23:59] Echinaceax opened #4622 "[NPC] Coren Direbrew ( issue 2) - Brewfest"
**Links:**

NPC atm http://cata.cavernoftime.com/quest=25483 (wotlk)
NPC it should be https://cata-twinhead.twinstar.cz/?npc=23872 (cata)

**Whats happening**
- NPC is a lvl 80 version

**What should happen**

- [ ] Coren Direbrew should be 85+ and have lvl 85 loot
 https://cata-twinhead.twinstar.cz/?npc=23872

Atm hes loots are lvl 80

https://gyazo.com/af70dfd5f6ea2b56d8ccdb823e3ac6b6

![image](

[2020-07-24 00:36] Echinaceax opened #4623 "[Event quest] Catch the Wild Wolpertinger - Brewfest"
**Links:**

quest http://cata.cavernoftime.com/quest=11431
npc http://cata.cavernoftime.com/npc=23487

**What is happening:**
- No Wild Wolpertinger visible

**What should happen:**
_player should see the Wolpertinger visible_

**Other Information:**
tested in dev for this report
can only see Wolpertingers with GM on

**new info i need to check**

A Wolpertinger is small hare-like critter that has

[2020-07-24 01:02] Echinaceax opened #4624 "[NPC] Brew Vendor ID 27806 - Brewfest"
**Links:**

http://cata.cavernoftime.com/npc=27806

**What is happening:**
- I fell through map when i .app to this npc (in ptr)

[2020-07-24 03:03] mfranca0009 commented on #4519
Wrong Spell ID in DB, wasn't triggering quest credit.

[2020-07-24 03:09] Echinaceax commented on #4623
need to be drunk to see them :)

![drunk 2](https://user-images.githubusercontent.com/39439201/88357519-d65f8380-cd6b-11ea-94c0-4284e1e58afe.jpg)

[2020-07-24 03:09] #4623 closed, assigned to nobody

[2020-07-24 03:31] Echinaceax opened #4625 "[Quest] Pink Elekks On Parade ID 11120 - Brewfest"
**Links:**

quest http://cata.cavernoftime.com/quest=11120
missing npc http://cata.cavernoftime.com/npc=23530
missing npc http://cata.cavernoftime.com/npc=23529

**What is happening:**
- missing npc Mulgore Pink Elekk
- missing npc Tirisfal Pink Elekk

**What should happen:**
need all objectives spawned

**more info**
1. only the **Eversong Pink Elekk** were spawned
2. need to be drunk to see the

[2020-07-24 03:48] Echinaceax opened #4626 "[NPC] Driz Tumblequick - Brewfest"
**Links:**

Driz Tumblequick https://www.wowhead.com/npc=24510/driz-tumblequick
https://www.wowhead.com/quest=11409/now-this-is-ram-racing-almost

**What is happening:**
- Driz Tumblequick "extra set of reign" dialog doesnt work

**What should happen:**
he should explain how to get the extra set of reigns if you fail the timer

![REIGNS](https://user-images.githubusercontent.com/39439201/88358971-

[2020-07-24 04:04] mfranca0009 commented on #4524
Quest item used was kicking the goats off of the cliff but never despawning them. The goats were far away from the mountain on the ground.

Once the goat is hit by spell, they will despawn after 5 seconds (length of buff given to goat). This makes sure they are in their proper spot at the top of the mountain at all times.

[2020-07-24 06:13] mfranca0009 commented on #4525
Needs testing in PTR, action list created and movement type set with proper flags_extra value set on creature_template.

[2020-07-24 09:29] Echinaceax commented on #4525
confirmed fixed in dev
only other issue i see now is that you get double credit per one

![2 for 1](https://user-images.githubusercontent.com/39439201/88378218-db8af580-cda0-11ea-8426-d0dda683ee47.jpg)

[2020-07-24 09:37] Echinaceax commented on #4524
Confirmed fixed in ptr

![12](https://user-images.githubusercontent.com/39439201/88378824-07f34180-cda2-11ea-811d-cb3faabf9d66.jpg)

[2020-07-24 18:04] Echinaceax opened #4627 "[Quest] Triage - Hammerfall"
**Links:**

Quest https://classic.wowhead.com/quest=6622/triage
npc https://classic.wowhead.com/npc=12925/critically-injured-soldier
quest item https://classic.wowhead.com/item=16991/triage-bandage

![crit](https://user-images.githubusercontent.com/39439201/88421398-cdf95e00-cde8-11ea-8515-a3b8a09dc6dc.jpg)

![not at same time](https://user-images.githubusercontent.com/39439201/88422059-e4ec8000-c

[2020-07-25 13:23] Truthseerguy commented on #1753
Azshara still does not appear after taking out the priestesses. Broken.

[2020-07-25 14:42] Echinaceax commented on #1753
Ofc @Truthseerguy , its not been fixed yet but its on the list

[2020-07-25 22:15] Teylu commented on #2184
I had the same problem and paid a lot of attention on how i completed this.
The way I got it to work was by jumping on the rocks of the right side and went down by the tree.
On the very least corner of the tree I was able to click the dragon and finish this quest~

 ![MyFix](https://user-images.githubusercontent.com/41552961/88467153-1d688880-ced4-11ea-9d47-6cbad36daa95.jpg)

I hope this will help

[2020-07-26 08:51] Echinaceax commented on #2184
Thank you for the work around @Teylu :)

i will post this in discord github channel for others

**confirmed Teylu workaround worked**

![stand at the tree](https://user-images.githubusercontent.com/39439201/91603009-87110200-e96c-11ea-95bb-190feb1b4272.jpg)

[2020-07-26 09:36] Echinaceax commented on #4519
confirmed fixed in PTR

![confirmed fixed](https://user-images.githubusercontent.com/39439201/88475877-2d17b980-cf34-11ea-96de-c1a58a7e59f3.jpg)

[2020-07-26 20:23] Echinaceax commented on #4525
Update - now only giving 1 per credit. thanks @mfranca0009 :)

[2020-07-26 23:39] mfranca0009 commented on #287
Needs testing in PTR for:

Quest being done by group
Quest being done solo
Quest being done by two players (at least) solo

[2020-07-26 23:42] mfranca0009 commented on #288
This quest is the exact same and replica of "Something Brewed"  ( #287 ), the only difference is its a daily quest.

Will make changes necessary to fix shortly.

[2020-07-27 00:19] rzenne opened #4628 "[Quest] [Counterattack][Northern Barrens]"
**Links:**
https://classic.wowhead.com/quest=4021/counterattack
from WoWHead or our Armory

**What is happening:**
The Kolkar invaders are not present.

**What should happen:**
https://www.youtube.com/watch?v=MWod9b5lqUM
**Is it crashing the server?:**

**Other Information:**

[2020-07-27 00:20] rzenne commented on #4628
Worked for me fine with two different characters about a week ago but today not present.

[2020-07-27 00:25] rzenne commented on #4628
deleted cache, deleted quest, go quest again and worked fine.

[2020-07-27 00:25] #4628 closed, assigned to nobody

[2020-07-27 05:21] mfranca0009 commented on #288
Needs testing in PTR

[2020-07-27 18:42] mfranca0009 commented on #993
Needs testing in PTR

[2020-07-27 18:55] Echinaceax opened #4629 "[NPC] Eye of Twilight (Wrong cutscene)"
**Links:**
npc http://cata.cavernoftime.com/npc=47261
Quest https://www.wowhead.com/quest=27955/eye-spy

**What is happening:**
- wrong cinamatic
- It has the deathwing cutscene atm https://www.youtube.com/watch?v=YrG7V8jm7XE

**What should happen:**
Should be the Chog'all cut scene https://www.youtube.com/watch?v=7r-1DecSJ5I

**Other Information:**

[2020-07-27 19:07] Echinaceax commented on #993
Confirmed fixed in PTR
stays in her hand now 👍

![fixed stays in hand](https://user-images.githubusercontent.com/39439201/88581233-26309a00-d04d-11ea-8988-55264e426f87.jpg)

**did however find another issue**
- can use quest item on the same mob over and over to get 10 credits 😄

![repeatable on one mob](https://user-images.githubusercontent.com/39439201/88581695-d69e9e00-d04d-11ea-8b4e-1a668c08ca

[2020-07-27 19:10] mfranca0009 commented on #993
I did notice the blade stays in hand, but I'm assuming this is just how the spell was maybe? If you look at the slain scourged trooper the blade is buried with the corpse 👍

[2020-07-27 19:13] Echinaceax commented on #993
edited above new issue @mfranca0009

[2020-07-27 19:14] mfranca0009 commented on #993
Will fix tonight and edit SQL file 👍

[2020-07-28 00:04] mfranca0009 commented on #993
Should be fixed now, just needs another test in PTR

[2020-07-28 05:44] Echinaceax commented on #993
Confirmed fixed in PTR for 2nd issue too thanks @mfranca0009

[2020-07-28 06:00] Echinaceax opened #4630 "[Quest/item] Marking the Fallen (27856) Horde - - Swamp of Sorrows"
**Links:**

https://www.wowhead.com/quest=27856/marking-the-fallen
https://www.wowhead.com/item=62548/banner-of-the-fallen

**What is happening:**
- Quest item goes on me instead of the Fallen

**What should happen:**
_Use the Banner of the Fallen to mark 7 **_Fallen Stonard Warriors._**_

**Other Information:**

[2020-07-28 06:15] Echinaceax commented on #756
**Update on**

there are but the issue is that both (Ally) fallen footmen and (horde) stonard warriors are fighting at the same pace, you have to wait to see who drops first :)

![same pace](https://user-images.githubusercontent.com/39439201/88626144-66723580-d0aa-11ea-96e0-da6021737eb3.jpg)

But there are a few standing idle

[2020-07-28 15:08] mfranca0009 commented on #756
Should be fixed, proper NPCs spawned and are "dead", on spell cast gives 1 quest credit and flag appears on body.

[2020-07-28 15:08] mfranca0009 commented on #4630
Same issue as #756, will correct this shortly.

[2020-07-28 17:44] mfranca0009 commented on #4630
Needs testing in PTR

[2020-07-28 21:39] Echinaceax commented on #756
fixed in PTR confirmed

spawns are better

![ally fix](https://user-images.githubusercontent.com/39439201/88724883-83028200-d12b-11ea-93ad-2f8edc784e19.jpg)

[2020-07-28 21:41] Echinaceax commented on #4630
Fixed in PTR confirmed
spawns are better too

![horde fix](https://user-images.githubusercontent.com/39439201/88725064-d248b280-d12b-11ea-9a32-547a809e0f10.jpg)

[2020-07-29 02:46] mfranca0009 commented on #4426
Figured I'd confirm this, just witnessed it on live and quest can not be completed. Mobs are bugged due to a movement inhabit type incorrect and quest item / spell seems to do nothing at all.

[2020-07-29 03:05] mfranca0009 commented on #4270
Will look into this, seems like an easy fix.

[2020-07-30 00:52] mfranca0009 commented on #4270
Horde: https://www.wowhead.com/quest=25698/the-amulet-of-sevine
Alliance: https://www.wowhead.com/quest=26168/the-amulet-of-sevine

This quest is given from two different NPCs depending on what faction you're playing. Important part to properly handle conditions; Will fix this issue for both quests.

[2020-07-30 01:07] mfranca0009 commented on #4270
Fixed for Alliance and Horde quest, needs testing in PTR

[2020-07-30 09:12] Echinaceax commented on #4270
Confirmed Fixed in PTR

horde
![fixed12](https://user-images.githubusercontent.com/39439201/88904441-619db500-d255-11ea-92b7-145e919a83a5.jpg)

Ally
![ally fixed](https://user-images.githubusercontent.com/39439201/88904555-82660a80-d255-11ea-9e0a-d8fe12f6c142.jpg)

[2020-07-30 16:37] mfranca0009 commented on #4426
The spell attached to quest item is completely messed up. Does not shoot flaming arrow like it should, only shows animation of shooting a bow with no arrow actually being shot.

Spell that shows what should happen: https://www.wowhead.com/spell=78834/flaming-arrow-hit
Quest Item Spell that needs to be adjusted and kill darktails: https://www.wowhead.com/spell=78838/enohars-explosive-arrow

[2020-07-30 17:34] Echinaceax opened #4631 "Tabard of the Kirin Tor (not working)"
**Links:**
https://www.wowhead.com/item=43157/tabard-of-the-kirin-tor

**What is happening:**
- while wearing the tabard we dont get rep for  Kirin Tor

**What should happen:**
- should get rep if using Tabard of the Kirin for 80 dungeons

reported by ingame player
confirmed by me

[2020-07-30 19:14] Echinaceax opened #4632 "[General] Bloodmire portal bunny (game markers)"
46771 Bloodmire Portal Bunny

**What is happening:**
- Players shouldnt see game markers

**What should happen:**
should be invisible to players

[2020-07-30 19:15] Echinaceax opened #4633 "[General] necropolis flower chicken (game markers)"
**What is happening:**
- Players shouldnt see game markers

**What should happen:**
invisible to players

reported by GM
confirmed by me and Mfranca

**Other Information:**

![chicken markers](https://user-images.githubusercontent.com/39439201/88964548-d39fe980-d2a9-11ea-8be7-855c8269c25e.jpg)

[2020-07-30 19:22] Echinaceax opened #4634 "[NPC] Darktail Bonepicker (loot)"
**Links:**

http://cata.cavernoftime.com/npc=42235

**What is happening:**
- missing half its loot table

**What should happen:**
- should be 113 not 57

reported by Mfranca

[2020-07-30 21:55] mfranca0009 commented on #4426
C++ Script made, waiting on it to be applied for testing and further adjustments 👍

[2020-07-31 00:56] mfranca0009 commented on #4634
All set, needs testing in PTR 👍

[2020-07-31 04:07] mfranca0009 commented on #4632
I was able to cast this myself and have a green portal display, but for some reason when Stonard Warlocks cast it, it doesn't show anything or shows a bunny; Still looking into this.

https://www.wowhead.com/spell=87116/ritual-of-summoning-summon-portal
https://www.wowhead.com/spell=33339/green-portal-state
https://www.wowhead.com/spell=87114/ritual-of-summoning

Also, Stonard Warlock is suppose t

[2020-07-31 05:52] mfranca0009 commented on #4632
All set, smart scripting is in place and fixed Bloodmire portal bunny for Stonard Warlocks. Needs testing in PTR 👍

I also added more Stonard Warlocks because there was only 9 spawned and there should be 23 in that area.

[2020-07-31 08:25] Echinaceax opened #4635 "[NPC] Marshtide Mage 46775 - (missing) - Swamp of Sorrows"
**Links:**

npc https://www.wowhead.com/npc=46775/marshtide-mage
quest https://www.wowhead.com/quest=27855/reinforcements-denied

**What is happening:**
- npcs are missing

**What should happen:**
_Needed for quest_

[2020-07-31 08:28] Echinaceax commented on #4634
Cant really "test in PTR" @mfranca0009 for 113 different loots :)
so we can just say done i think 👍

[2020-07-31 08:43] Echinaceax commented on #4632
Fix confirmed in PTR

![done](https://user-images.githubusercontent.com/39439201/89017496-ad666200-d31a-11ea-96a3-003bf163f983.jpg)

[2020-07-31 09:05] Echinaceax opened #4636 "[NPC] Stonard Warlock - (Issue2) - Swamp of Sorrows"
**Links:**
http://cata.cavernoftime.com/npc=46770

**What is happening:**
- loot % on green drops (to many greens dropping)

**What should happen:**
lower the % of the green drops

![loots](https://user-images.githubusercontent.com/39439201/89019433-937a4e80-d31d-11ea-9dd0-86ccf150afe8.jpg)
![a](https://user-images.githubusercontent.com/39439201/89019449-99702f80-d31d-11ea-9b17-580d9575b86a.jpg)
!

[2020-07-31 10:07] Echinaceax commented on #782
### Update
Seems this is still bugged

**repro steps**
1. Use quest item (mount)
2. Kill Thiassi the Lightning Bringer
3. dismount quickly
4. Kill Grand Necrolord Antiok when he spawns

issue is Grand Necrolord Antiok isnt spawning once Thiassi the Lightning Bringer is down
so cant loot the https://www.wowhead.com/item=38305/scythe-of-antiok  so cant complete the quest

[2020-07-31 13:28] mfranca0009 commented on #4634
Yes lol makes sense :+1:

[2020-07-31 21:41] Echinaceax commented on #3875
update on this
Works as far as i saw ...
ive used the one in the Reign Mall

![working](https://user-images.githubusercontent.com/39439201/89081204-2b625180-d38b-11ea-8ec6-9d3b87bd6f27.jpg)

[2020-07-31 21:41] #3875 closed

[2020-08-01 01:04] mfranca0009 commented on #4635
Needs testing in PTR 👍

[2020-08-01 01:06] mfranca0009 commented on #4633
Needs testing in PTR 👍

[2020-08-01 01:16] mfranca0009 commented on #233
Will be needed for scripting:
https://www.wowhead.com/npc=43196/huge-boulder (Boulder is crushing Foreman Oslow and Subdued Canyon Ettin will lift off of him)
https://www.wowhead.com/spell=80702/control-ettin (Summons Subdued Canyon Ettin)
https://www.wowhead.com/spell=80704/control-ettin (Control ettin and pick up rock with this spell? )
https://www.wowhead.com/item=58895/ettin-control-orb (Quest

[2020-08-01 04:42] mfranca0009 commented on #4616
Needs testing in PTR 👍 Creating SQL file tomorrow

[2020-08-01 08:52] Echinaceax commented on #4635
confirmed fixed in PTR

![fixed13](https://user-images.githubusercontent.com/39439201/89098127-0bf81280-d3e5-11ea-8687-39945d1ae747.jpg)

[2020-08-01 08:55] Echinaceax commented on #4633
Confirmed fixed in PTR

![FIXED14](https://user-images.githubusercontent.com/39439201/89098180-6f824000-d3e5-11ea-95de-701b0763bd8b.jpg)

[2020-08-01 09:11] Echinaceax commented on #4616
confirmed fixed in PTR

![fixed15](https://user-images.githubusercontent.com/39439201/89098419-bec97000-d3e7-11ea-8f9f-4bc7b981df92.jpg)

[2020-08-01 09:32] Echinaceax commented on #233
NOT fixed
- after using the quest item on the _Canyon Ettin_ the _Subdued Canyon Ettin_ isnt switching,  _Canyon Ettin_ stays
- I cleared cache, and still nothing

![not fixed](https://user-images.githubusercontent.com/39439201/89098767-b0c91e80-d3ea-11ea-9f13-53367d1950c3.jpg)

[2020-08-01 10:49] Echinaceax opened #4637 "[Object/item] Redridge Supply Crate"
**Links:**

item https://www.wowhead.com/item=58896/redridge-supply-crate
quest https://www.wowhead.com/object=204352/redridge-supply-crate

**What is happening:**
- this item is acting like a lootable box
- this is clickable without a quest

**What should happen:**
Clickable when player has the quest https://www.wowhead.com/quest=26513/like-a-fart-in-the-wind

[2020-08-01 17:51] mfranca0009 commented on #4620
For some reason two NPC entries for brew vendor:
https://www.wowhead.com/npc=27817/brew-vendor
https://www.wowhead.com/npc=27819/brew-vendor

Not sure what this one is, since cavern of time says there is no known locations for this entry:
http://cata.cavernoftime.com/npc=27806

It seems maybe each entry sells different types of alcohol?

UPDATE -
https://i.gyazo.com/a1725a35f70ef7afeac11333fe273f7

[2020-08-01 22:10] Echinaceax commented on #4620
_It seems maybe each entry sells different types of alcohol?_

Yes they is the spawned one in Org

[2020-08-02 08:32] Echinaceax opened #4638 "[NPC] Warlord Dar'toon 19254 - Blasted Lands"
**Links:**

http://cata.cavernoftime.com/npc=19254

**What is happening:**
- NPC is showing quest (!) to ally

**What should happen:**
These are Horde quests so Ally shouldnt see the (!)

[2020-08-02 08:35] Echinaceax opened #4639 "[NPC] Watcher Wazzik 41159 - Blasted Lands"
**Links:**

http://cata.cavernoftime.com/npc=41159

**What is happening:**
- NPC is showing quest (!) to ally

**What should happen:**
These are Horde quests so Ally shouldnt see the (!)

[2020-08-02 09:47] Echinaceax commented on #4637
Cleared cache @mfranca0009 (in PTR)
All good now so i can close this :)

[2020-08-02 09:47] #4637 closed, assigned to nobody

[2020-08-02 10:41] Echinaceax commented on #4620
mfranca0009 says: _It seems maybe each entry sells different types of alcohol?_

yes, 27806 only sells 1 item https://www.wowhead.com/item=37488/wild-winter-pilsner

mfranca0009 says: _Not sure what this one is, since cavern of time says there is no known locations for this entry:_
http://cata.cavernoftime.com/npc=27806

its for this achievement  https://cata-twinhead.twinstar.cz/?item=37898#crite

[2020-08-02 16:59] Echinaceax commented on #552
Update on this = Phasing issue

[2020-08-03 04:04] mfranca0009 commented on #4426
C++ script applied and working as intended, needs testing in PTR 👍

[2020-08-03 07:44] Echinaceax opened #4640 "[NPC] Aeonaxx 50062"
**Links:**
https://www.wowhead.com/npc=50062/aeonaxx
https://www.youtube.com/watch?v=gqHX-up8-Tg

**What is happening:**
- Spawn timers are wrong (fixed here) #4645
- Aeonaxx isnt funtioning as he should
_I killed him with another player recently, and he wasnt mountable as he should have been_

**What should happen:**

**Encounter**

"**Upon spawning, Aeonaxx is friendly and appears to be mountabl

[2020-08-03 08:33] Echinaceax commented on #4426
Confirmed fixed in PTR
https://gyazo.com/a017d27395d4ad6e408ce18caf9841c9

note: i did however see some of the Darktail targets have wider hitboxes than the others
(you will see at the end of the video) linked above @mfranca0009

[2020-08-03 15:22] mfranca0009 commented on #4426
This should be accurate on the miss spell, its suppose to be slightly farther away from mob and then it will aggro you for range of combat

[2020-08-03 16:34] mfranca0009 commented on #4638
Needs testing in PTR 👍

[2020-08-03 16:34] mfranca0009 commented on #4639
Needs testing in PTR 👍

[2020-08-03 17:20] Echinaceax opened #4641 "[NPC] Watch Commander Relthorn Netherwane 16841 - Blasted Lands"
**Links:**
https://www.wowhead.com/npc=16841/watch-commander-relthorn-netherwane

**What is happening:**
NPC is showing quest (!) toHorde

**What should happen:**
These are Ally quests so Horde shouldnt see the (!)

[2020-08-03 18:54] Echinaceax opened #4642 "[NPC] Watcher Grimeo 42299 - Blasted Lands"
**Links:**
https://www.wowhead.com/npc=42299/watcher-grimeo

**What is happening:**
NPC is showing quest (!) toHorde

**What should happen:**
These are Ally quests so Horde shouldnt see the (!)

[2020-08-03 19:03] Echinaceax opened #4643 "[Quest] Quest:Surwich - Blasted Lands"
**Links:**

https://wowwiki.fandom.com/wiki/Quest:Surwich

![funky text](https://user-images.githubusercontent.com/39439201/89217581-b67e5a00-d5cc-11ea-892e-6369d77df0a9.jpg)

**What is happening:**
- Funky text

**What should happen:**
- should be English text

[2020-08-03 19:11] Echinaceax commented on #4643
confirmed fixed in PTR

![fixed122](https://user-images.githubusercontent.com/39439201/89218204-f0039500-d5cd-11ea-95a6-84104f6fc429.jpg)

[2020-08-03 22:37] rzenne opened #4644 "[Quest][Bloodsail's End][Booty Bay]"
**Links:**
https://www.wowhead.com/quest=26703/bloodsails-end
from WoWHead or our Armory

**What is happening:**

    Take the quest from Baron Revilgaz.
    Head over to Kebok.
    Right click on Kebok and try to interact with him to get a wind rider for the quest.
    Kebok gives no option to talk to him for getting the wind rider.

**What should happen:**
https://www.youtube.com/watch?v=Ipt1oRA