[2021-06-23 19:54] mfranca0009 commented on #5258
@golosomie
Wouldn't this be the same problem as #942 or do these two flight master NPCs have different flight path points and not the same?

[2021-06-23 20:36] Echinaceax commented on #5258
@mfranca0009 yes i believe so, but will wait till @golosomie replies
he added same list to the other report https://github.com/WoWManiaUK/Blackwing-Lair/issues/942#issuecomment-866811718

[2021-06-23 21:03] Echinaceax commented on #5258
renamed #942  for the full broken fightpaths for Ashenvale
closing this,  fixes will be done from orginal report

[2021-06-23 21:03] #5258 closed, assigned to mfranca0009

[2021-06-23 21:05] Echinaceax commented on #942
full flight paths should be checked and connecting properly @mfranca0009

[2021-06-23 22:29] golosomie commented on #942
these are the flightpaths missing for the flight master of Zoram'gar Outpost ([Andruk](https://www.wowhead.com/npc=11901/andruk)):

- Hellscream's Watch, Ashenvale
- Splintertree Post, Ashenvale
- The Crossroads, Northern Barrens
- Cliffwalker Post, Stonetalon Mountains
- Sun Rock Retreat, Stonetalon Mountains
- Thunder Bluff
- Emerald Sanctuary, Felwood

[2021-06-24 17:56] Echinaceax commented on #4302
issue not valid for visual padlocks
closing this

[2021-06-24 17:56] #4302 closed

[2021-06-24 17:59] Echinaceax commented on #5262
new info me and franca noticed

![image](https://user-images.githubusercontent.com/39439201/123310563-80b8cb80-d526-11eb-8b2d-5e8f5e30ab52.png)

- [ ] need to check if it should say raid finder and not dungeon finder when you list your name and join the que
- [ ] then check why names are not showing

[2021-06-24 18:13] golosomie commented on #5262
@Echinaceax
it should not say "Raid finder". That's the other feature.
I also tested this yesterday with another player, can confirm that listed people don't show up for others

[2021-06-24 18:16] Echinaceax commented on #5262
ok thanks @golosomie
what other feature tho?
franca needs to know :)

[2021-06-24 18:20] golosomie commented on #5262
@Echinaceax
The other feature is called "Raid finder" and it should only release when Dragon Soul opens. Not for our patch.
Raid finder actually forms the group and teleports people to the instance (similar to Dungeon finder). Unlike the Raid browser referenced in this issue which is just a "raid planner"

[2021-06-24 19:15] Echinaceax commented on #5262
thanks ...as we discussed we set this low prio :)

[2021-06-25 21:07] Echinaceax commented on #4306
waiting to be added to BQ

[2021-06-25 21:08] Echinaceax commented on #5251
waiting BQ

[2021-06-25 22:19] Echinaceax commented on #4015
Dupilcate
will fix this one https://github.com/WoWManiaUK/Blackwing-Lair/issues/1657

[2021-06-25 22:20] #4015 closed

[2021-06-25 22:55] mfranca0009 commented on #4980
More information needed... WoWhead comment provides evidence of them not existing at and possibly after patch 4.0.3

![image](https://user-images.githubusercontent.com/26092980/123492204-e076ab80-d5e6-11eb-9668-4548553ceb11.png)

[2021-06-26 00:34] Echinaceax commented on #4980
correct @mfranca0009 same info from https://wowpedia.fandom.com/wiki/Thistleshrub_Dew_Collector

![image](https://user-images.githubusercontent.com/39439201/123496145-06bc3b80-d627-11eb-8eda-580ffbcad436.png)

[2021-06-26 00:35] #4980 closed, assigned to mfranca0009

[2021-06-26 01:32] mfranca0009 commented on #4864
Multiple problems related to Arenas such as:
- [x] Arena ratings should start at 0, not at 1500. This was a change at or after patch 3.1
- [x]  Matchmaker ratings start at 1500.
- [x] Rating change is not displayed on the scoreboard after winning a match
- [x] Incorrect team names are displayed when winning and losing (as stated above)

![image](https://user-images.githubusercontent.com/26092980/1

[2021-06-27 11:33] Echinaceax opened #5263 "[Quest] Cold Hearted (Vehicle issue) - Stormpeaks"
**Links:**
Drake https://www.wowhead.com/npc=29709/freed-proto-drake
quest https://www.wowhead.com/quest=12856/cold-hearted

**What is happening:**
- once player is mounted on the Captured Proto-Drake they can only fly forwards and backwards , no up and down control

**What should happen:**
player needs full controls of the drake to enable them to be in range to use the spell https://www.wowhead.c

[2021-06-28 17:59] mfranca0009 commented on #4964
All fixed 👍

[2021-06-28 18:10] Echinaceax commented on #4964
confirmed fixed in ptr 😄

[2021-06-29 16:03] Echinaceax commented on #5140
- [ ] grouped members camera
still to work on

[2021-06-30 03:29] Lumber-Jack-2 commented on #5263
This happens to lot of vehicles, Just press the space Bar on keyboard then it works again :)

[2021-06-30 08:57] Echinaceax commented on #5263
I did :)

works fine on Mania Rushor on my toons, but not here lol, and i have the same settings
just waiting for confirmation

[2021-06-30 18:57] andresexe92 opened #5264 "Haste bug death knight blood"
**Links:**

from WoWHead or our Armory

**What is happening:**
a) Death King with blood talents has a haste of 20%.

b) With the same talents blood unholy presence change and haste decreases.

**What should happen:**
a) It should appear with a haste of 0% and increase according to the items that have haste on my team.

b) It should increase haste, but it goes from 20% to 10%. The opposite effect

[2021-06-30 19:26] Echinaceax commented on #5264
@andresexe92 Can you provide linked evidence behind what you're stating here?

[2021-07-01 15:38] golosomie commented on #5264
@Echinaceax I can confirm that the Blood Talent "Improved Blood Presence" (Spell 50371) does grant not only +20% rune generation but also +20% haste.

The talent should not grant haste. Activating Unholy Presence correctly overwrites the player's haste.

[2021-07-01 15:57] golosomie commented on #5257
@Echinaceax isn't this the same for the quests ["The Warden"](https://cata-twinhead.twinstar.cz/?quest=28669) and ["Food from Below"](https://cata-twinhead.twinstar.cz/?quest=28670)? Are they already on .bq?

[2021-07-01 16:50] Echinaceax commented on #5257
These are do-ble randomly
we will add to BQ too actually. thx

[2021-07-01 17:22] Echinaceax commented on #5264
@mfranca0009
any thing else you need ?

https://cata-twinhead.twinstar.cz/?spell=50371  /  http://cata.cavernoftime.com/spell=50371
![image](https://user-images.githubusercontent.com/39439201/124163933-6dff4300-daa0-11eb-84ad-946ea92868fc.png)

Blood haste

![blood](https://user-images.githubusercontent.com/39439201/124164837-7310c200-daa1-11eb-847b-9a561d821a5b.jpg)

Frost haste

![frost](https:/

[2021-07-01 18:34] Echinaceax opened #5265 "[Quest] Waiting to Exsanguinate (issue2) - Silverpine"
**Links:**

quest https://www.wowhead.com/quest=27045/waiting-to-exsanguinate

**What is happening:**
- When multiple players / grouped players are on same quest Chat spam for each npc in cutscreen
(in general chat)

**What should happen:**
need to fix the spam

(requested by Franca)

![image](https://user-images.githubusercontent.com/39439201/124183174-28e70b00-dab8-11eb-888d-2eeb76e44ad4.png)

[2021-07-01 23:38] mfranca0009 commented on #5265
Let's clarify this from "spam" to the actual issue....

Phasing problem, when a player starts the event in the hiding spot, the NPCs should only be visible to that player. The only problem with this functionality is the 'say' chat text is not properly phased like the NPCs are, everyone can see the chat history.

If two people are doing the quest at the same time, you'll have two deathstalker yoric

[2021-07-02 18:52] mfranca0009 commented on #5140
All set 👍

[2021-07-02 19:38] Echinaceax commented on #5140
confirm all fixed in PTR :)

[2021-07-02 22:13] fuzionproject commented on #4967
Fix in progress!!

[2021-07-03 22:16] Echinaceax commented on #240
extra info @mfranca0009
https://wowpedia.fandom.com/wiki/Climbing_Tree

[2021-07-03 22:30] Echinaceax commented on #2165
extra info you required @mfranca0009
https://www.wow-freakz.com/npc_finder.php?npc=47089&name=tailgun
https://www.wow-freakz.com/database.php?search=Tailgun

[2021-07-03 23:21] Echinaceax opened #5266 "[NPC] Nergeld - Icecrown"
### reported by ingame player

**Links:**

npc vehicle https://cata-twinhead.twinstar.cz/?npc=30403
quest https://www.wowhead.com/quest=13043/the-sum-is-greater-than-the-parts

**What is happening:**

- [ ] Punch isnt working as it should https://cata-twinhead.twinstar.cz/?spell=56746
- [ ] stomp lower dmg than it should https://cata-twinhead.twinstar.cz/?spell=56747
- [ ] Roar lower dmg than it s

[2021-07-03 23:36] fuzionproject commented on #5252
we have someting but must by tested frist...hope this to fix the quest ;)

[2021-07-04 11:37] Echinaceax commented on #2123
**Note to testers**
make sure you turn on your "show low level quests" when testing this please

![image](https://user-images.githubusercontent.com/39439201/124383513-29a4ba80-dccd-11eb-8be3-63df24e3ac89.png)

Possibly they need the setting in game player settings (check this also)

![image](https://user-images.githubusercontent.com/39439201/124383715-41307300-dcce-11eb-8ea8-9127391638c9.png)

Que

[2021-07-05 01:03] Echinaceax commented on #5259
Note
That when player gets help from GM the quest "The Dark Tower" is not offered after  "Detonation" has been delivered

Info told from GM

[2021-07-05 03:16] #5118 closed, assigned to mfranca0009

[2021-07-05 04:10] Echinaceax opened #5267 "[Quest] Honoring a Hero - (Horde) and (Allience) - Harvest Festival"
**Links:**
event https://wowpedia.fandom.com/wiki/Harvest_Festival

- [ ] quest https://cata-twinhead.twinstar.cz/?quest=8150 (Horde)

**What is happening:**
- when player uses the item https://cata-twinhead.twinstar.cz/?item=19851 they get a message

![quest item clicky](https://user-images.githubusercontent.com/39439201/124416130-9912bc80-dd56-11eb-83a5-fff193ae6efd.jpg)

**What should happen:**

[2021-07-05 04:21] Echinaceax opened #5268 "[Event] Main report - (Allience) - Harvest Festival"
https://wowpedia.fandom.com/wiki/Harvest_Festival

**Missing NPCs**

- [ ] Wagner Hammerstrike https://cata-twinhead.twinstar.cz/?npc=15011
- [ ] Honored Hero https://www.wowhead.com/npc=15113/honored-hero

**Missing objects**

All

- [ ] Tables and chairs
- [ ] Harvest Boar https://cata-twinhead.twinstar.cz/?object=180372
- [ ] Harvest Fish https://cata-twinhead.twinstar.cz/?object=180371
- [ ] H

[2021-07-05 13:28] ssmilazzo opened #5269 "[Quest] Corrupting Influence? (Ally) - Can not accept quest as Worgen - Ashenvale"
**Links:**
https://www.wowhead.com/quest=13868/corrupting-influence
https://www.wowhead.com/item=46128/troll-charm

**What is happening:**
Can not accept quest as a worgen

**What should happen:**
I should be offered quest
![Screenshot (16)](https://user-images.githubusercontent.com/25713425/124478501-40055180-dd73-11eb-8cd2-aa0fdf4e403d.png)

**Is it crashing the server?:**
No
**Other Information

[2021-07-05 13:32] ssmilazzo commented on #5269
Passed issues with this quest/item:

https://github.com/WoWManiaUK/Blackwing-Lair/issues/4685
https://github.com/WoWManiaUK/Blackwing-Lair/issues/2118

[2021-07-05 13:37] Echinaceax commented on #5269
I remember a few issues with this one @ssmilazzo

thanks for reporting this issue because i Tested this and nightelf was fine https://github.com/WoWManiaUK/Blackwing-Lair/issues/4685#issuecomment-774774035

**update**

yes Worgens should get https://www.wowhead.com/item=46128/troll-charm same as all other Alliance races

https://www.youtube.com/watch?v=HgE-eSsFQYQ

[2021-07-05 13:50] Echinaceax commented on #5269
@mfranca0009

test one confirmed bug for worgen

![image](https://user-images.githubusercontent.com/39439201/124480567-b02dca80-dda7-11eb-8cf4-9c46b50523b8.png)

worgens need adding to the race allowance :)

**notes, Races tested so far**

- [x] Nightelf
- [x] Human

[2021-07-05 16:00] ssmilazzo opened #5270 "Missing Quest - All's Well (13924) - Ashenvale"
**Links:**

https://www.wowhead.com/quest=13924/alls-well

**What is happening:**
Quest is not offered.

**What should happen:**
Upon completion of "In the Hands of the Perverse" (13922), The quest giver "Averus Illwhisper" (34335) sacrifices himself and the five "Fallen Moonstone" needed to complete the quest are deleted.  He then becomes "Averus the Redeemed" (34358) and offers the quest "All's

[2021-07-05 16:14] ssmilazzo opened #5271 "Missing quests "Clear the Shrine" (13985) and "The Last Stand" (13987) - Ashenvale"
**Links:**

https://www.wowhead.com/quest=13985/clear-the-shrine

**What is happening:**

Quest is not offered.

**What should happen:**

Upon completion of "In a Bind" (13982) the quest giver "Bolyun" (3698) should offer "Clear the Shrine" (13985). This is turned in to "Big Baobob" (34604) who then offers "The Last Stand" (13987) and this ends a three part chain that starts with "Check in on the

[2021-07-05 16:17] Echinaceax commented on #5270
thanks @ssmilazzo

[2021-07-05 16:25] Echinaceax commented on #5270
bug confirmed
Once player delivers the quest "In the Hands of the Perverse" (13922) as stated for @ssmilazzo
https://www.wowhead.com/quest=13922/in-the-hands-of-the-perverse#videos:id=48377

no sacrifice is made when you deliever the quest, and cant pick up https://www.wowhead.com/quest=13924/alls-well

[2021-07-05 16:36] mfranca0009 commented on #5269
All set 👍

I've also fixed MANY other quests only being offered to Alliance that was excluding Worgens as well.

[2021-07-05 16:39] ssmilazzo opened #5272 "Quest "Diabolical Plans" (26443) (Ally) - Ashenvale"
**Links:**

https://www.wowhead.com/quest=26443/diabolical-plans#comments

**What is happening:**

Item to start quest not dropping. Please note here https://github.com/WoWManiaUK/Blackwing-Lair/issues/1196 that Kitzunu commented that this was Horde only, it is not. I have killed 70 -80 mobs that should drop item and am wondering if the item will drop for alliance?

**What should happen:**

**Is i

[2021-07-05 16:43] mfranca0009 commented on #5272
@ssmilazzo This quest is horde-only, per the the WoWhead quest link. If it's not dropping from the proper mobs then it's most likely not in the loot table.

I will look into it.

[2021-07-05 16:44] Echinaceax commented on #5269
comfirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/124500791-ac5a7200-ddc0-11eb-828a-c2903206013b.png)
![image](https://user-images.githubusercontent.com/39439201/124501003-0d824580-ddc1-11eb-93a8-84a76dcf9698.png)

**extra info**

Next quest is offered too :)

![image](https://user-images.githubusercontent.com/39439201/124501160-5934ef00-ddc1-11eb-9276-6718011f361

[2021-07-05 16:48] ssmilazzo commented on #5272
No offense but ya sure 'bout that?
![Screenshot (17)](https://user-images.githubusercontent.com/25713425/124501271-37bb0f80-dd8f-11eb-8df6-7bc43e6ada92.png)

[2021-07-05 16:53] mfranca0009 commented on #5272
@ssmilazzo  Yes, I am sure about that. The old issue you referenced has a WoWhead link that literally says Horde only.

Quest ID 26447 is the horde version of the quest :)

[2021-07-05 16:58] ssmilazzo commented on #5272
You are correct. 26443 is the Ally side. It is the same drop item though? Right? So does this item drop for Ally?

[2021-07-05 16:58] Echinaceax commented on #5271
confirmed bugged, no other quests are offered after completing https://www.wowhead.com/quest=13982/in-a-bind
https://www.wowhead.com/quest=13982/in-a-bind#videos:id=48336

[2021-07-05 16:59] mfranca0009 commented on #5272
@ssmilazzo Yes, I've verified and confirmed this item is dropping for both Alliance/Horde and it even has a higher drop chance that what it should be. It's still extremely low at a 2% chance. It's just going to be awhile to loot this item from RNG.

The Horde item has a larger drop chance than the Alliance.

[2021-07-05 17:01] ssmilazzo commented on #5272
Thank you for your quick response. You guys are amazing.

[2021-07-05 17:13] mfranca0009 commented on #5272
All set now, I'm gonna apologize ahead of time, because I'm required to keep it blizzlike so the drop chance for Alliance is now lower...

Alliance drop chance has been lowered to the correct drop chance of 1.3%, 1.2%, and 1% for Searing Infernal, Roaming Felguard, and Monnoroc Lasher respectively.

Horde drop chance has been adjusted to the correct drop chance of 4%, 3%, and 2% for Roaming Felgua

[2021-07-05 17:15] ssmilazzo commented on #5272
Ironically, I just got it on the 5th kill.

Thanks for looking into it and no need to apologize.

[2021-07-05 17:51] ssmilazzo opened #5273 "Quest - Defend the Tree (13935)"
**Links:**

https://github.com/WoWManiaUK/Blackwing-Lair/issues/4529

**What is happening:**

I don't want to create a duplicate here. This doesn't appear to have ever been looked at. Any chance of adding this to the .BQ Command?

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2021-07-05 17:53] Echinaceax commented on #5272
confirm fixed in PTR
drop rate as it should be 👍

[2021-07-05 17:56] Echinaceax commented on #5273
Will add  #4529 to BG command
thx @ssmilazzo

[2021-07-05 17:57] ssmilazzo commented on #5273
Amazing. Thank you.

[2021-07-05 17:58] Echinaceax commented on #4529
waiting BQ command

[2021-07-05 18:06] #5273 closed, assigned to nobody

[2021-07-05 18:10] Echinaceax opened #5274 "[Item] Glyph of Dazing Shield"
### Reported by a guildy

**Links:**

https://cata-twinhead.twinstar.cz/?item=43868

**What is happening:**
- dont work it doesnt daze any mobs or players

**What should happen:**

![image](https://user-images.githubusercontent.com/39439201/124506961-08c38e80-ddcd-11eb-8bf0-af2ce16d3682.png)

[2021-07-05 19:05] Echinaceax commented on #4530
confirmed bug

- [ ] not given https://www.wowhead.com/spell=65178/freezing-surger

[2021-07-05 19:08] Echinaceax commented on #4530
waiting BQ command

[2021-07-05 20:28] Echinaceax opened #5275 "[Spell/buff] Irradiated"
**Links:**

https://www.wowhead.com/spell=80653/irradiated
https://www.wowhead.com/quest=27635/decontamination

**What is happening:**
- Irradiated buff is staying on player if they skip the quest to cleanse it in their start zone

**What should happen:**
you should lose this upon exiting Gnomeregan

[2021-07-05 23:06] mfranca0009 commented on #5270
All set 👍, the transformation from Avrus Illwhisper to Avrus the Redeemed takes place and you are now able to pick up All's Well.

[2021-07-05 23:08] Echinaceax commented on #5270
confirmed fixed in PTR

[2021-07-06 09:52] ssmilazzo opened #5276 "Quest "Bearer of Good Fortune" (13557) - Darkshore"
**Links:**

https://www.wowhead.com/item=44927/corruptors-master-key
https://www.wowhead.com/quest=13557/bearer-of-good-fortune

**What is happening:**

Vile Corruptors in Cliffspring Hollow should have a 31% chance to drop Corruptor's Master Key which starts quest. After 32 kills item has not dropped.

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

Character is

[2021-07-06 10:06] ssmilazzo opened #5277 "[NPC] Cerellean Whitclaw (32959) missing - Darkshore"
**Links:**

https://www.wowhead.com/npc=32959/cerellean-whiteclaw
https://www.wowhead.com/quest=13563/a-love-eternal
https://www.wowhead.com/quest=13570/remembrance-of-auberdine

Quest giver does not appear in Lor'danel after being rescued in "The Last wave of Survivors" (13518). He should appear in the inn and offer "A love Eternal" (13563) and at a later time appear next to the druid trainer and

[2021-07-06 10:47] Echinaceax commented on #5276
We fixed this a few times in different reports
1 For the cages
1 for them not moving when freed.

players never had an issue getting the key for starter quest though @ssmilazzo

we can take a look at the drop %

[2021-07-06 11:19] Echinaceax commented on #5277
confirmed bug ,
npc missing for quest pick ups after completing the https://www.wowhead.com/quest=13518/the-last-wave-of-survivors
https://www.wowhead.com/npc=32959/cerellean-whiteclaw

this one first @mfranca0009  https://www.wowhead.com/quest=13563/a-love-eternal#videos:id=32628
![whiteclaw1](https://user-images.githubusercontent.com/39439201/124592197-7c14e100-de5d-11eb-900d-68f3abd3e131.jpg)

[2021-07-06 13:24] Echinaceax commented on #5249
waiting BQ command

[2021-07-06 13:26] Echinaceax commented on #5248
waiting BQ command

[2021-07-06 13:28] Echinaceax commented on #5247
waiting BQ command

[2021-07-06 13:35] Echinaceax commented on #3093
Update,

some recent changes were added for Worgen quests
(this maybe have fixed the issue with next update)

[2021-07-06 13:39] Echinaceax commented on #268
once in correct phase npcs are there

still no dialog

Waiting BQ command

[2021-07-06 14:19] Echinaceax commented on #3116
@mfranca0009
https://www.wow-freakz.com/object_finder.php?object=206112&name=croc-eggs

note
once a player walks into the eggs they get a slow debuff but no crocs , and cant find any other info on the eggs about little crocs being inside them though https://www.wowhead.com/npc=46477/young-crocolisk checked cavenoftime and twinstar and freeks

http://cata.cavernoftime.com/?search=Croc+Eggs

![image

[2021-07-06 15:58] mfranca0009 commented on #3093
@Echinaceax this has nothing to do with worgens being allowed to pick it up.

If that was the case, then they wouldn't be able to pick it up at all. Different problem

[2021-07-06 16:13] Echinaceax commented on #3093
seems odd that worgen couldnr but other players had no issue, thats why i thought what you fixed last night regarding worgens could have maybe fixed this issue for then too @mfranca0009 :)

[2021-07-06 16:21] Echinaceax commented on #3093
Ah its the delivery :)

[2021-07-06 16:23] ssmilazzo opened #5278 "Quest "The Ancients Ire" (13514)"
**Links:**

https://www.wowhead.com/quest=13514/the-ancients-ire

**What is happening:**

After accepting the quest you should be allowed to use one of the Vengeful Protectors as a vehicle to complete the quest.  The Vengeful Protectors do not work as a vehicle.

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

Character is Worgen

[2021-07-06 16:27] Echinaceax commented on #5278
reported already here #1046  @ssmilazzo

[2021-07-06 16:27] #5278 closed, assigned to nobody

[2021-07-06 16:29] Echinaceax commented on #1046
waiting BQ command

[2021-07-06 19:21] mfranca0009 commented on #5271
Should be all set, properly phases the player to next stage ✔️

[2021-07-06 19:26] Echinaceax commented on #5271
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/124660381-6d065100-dea6-11eb-8baa-15e03d933360.png)

and follow up quest also there

![image](https://user-images.githubusercontent.com/39439201/124660495-90c99700-dea6-11eb-948e-cf7ace0c3fb9.png)

[2021-07-06 19:32] Echinaceax commented on #4047
- [x] worgen Female /lol working

[2021-07-06 20:06] mfranca0009 commented on #5276
Drop chance was off by a SLIGHT .1 percent, and it should be dropping on next update. The key starts a quest, it doesn't complete a quest, and that was the problem preventing it from dropping.

[2021-07-06 20:17] Echinaceax commented on #5276
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/124661611-02561500-dea8-11eb-95d6-7b248100b7c2.png)

[2021-07-06 21:43] mfranca0009 commented on #5275
All set 👍  also corrected the decontamination quest vehicle ride so its no longer bouncing and flies smoothly.

[2021-07-06 21:44] Echinaceax commented on #5275
Confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/124670275-0851f300-deb4-11eb-889f-11970a84602b.png)

[2021-07-06 21:51] ssmilazzo opened #5279 "Quest "They Set Them Up the Bomb" (13981)"
**Links:**

https://www.wowhead.com/quest=13981/they-set-them-up-the-bomb

**What is happening:**
The bomb does not offer the quest.

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2021-07-06 21:59] Echinaceax commented on #5279
will check this after next server update @ssmilazzo (for the worgen)

it does on my Human

![image](https://user-images.githubusercontent.com/39439201/124672086-bc547d80-deb6-11eb-85b6-263d96a38536.png)

[2021-07-06 22:09] ssmilazzo commented on #5279
Might be a Worgen thing. We're so misunderstood.

[2021-07-06 22:10] Echinaceax commented on #5279
yes, we think so.
a lot of worgen conditions was fixed yesterday, that will hopefully fix this soon for you (on next server update though)

[2021-07-07 00:20] mfranca0009 commented on #5274
All set 👍

[2021-07-07 00:25] mfranca0009 commented on #5279
@ssmilazzo  confirmed this will be fixed next update, there were 90 quests updated to allow Worgens to the Alliance specific quests.

80 quests updated to allow Goblins to do Horde specific quests.

[2021-07-07 00:25] #5279 closed, assigned to nobody

[2021-07-07 00:29] Echinaceax commented on #5274
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/124682482-2414c380-decb-11eb-986c-9c47205e4b4c.png)

[2021-07-07 13:39] Echinaceax opened #5280 "[Profession] Skinning issue - Vashj'ir"
### Reported by in game player

**Links:**

- [ ] https://cata-twinhead.twinstar.cz/?npc=40219#skinning
- [ ] https://cata-twinhead.twinstar.cz/?npc=41002#skinning
- [ ] https://cata-twinhead.twinstar.cz/?npc=39913#skinning
- [ ] https://cata-twinhead.twinstar.cz/?npc=41997#skinning
- [ ] https://cata-twinhead.twinstar.cz/?npc=39948#skinning
- [ ] https://cata-twinhead.twinstar.cz/?npc=39964#skinn

[2021-07-07 15:25] mfranca0009 commented on #5280
I just want to clarify, a skill level for skinning does not increase the chance of a skinning drop, as the issue implies. It just puts a restriction towards what NPCs you can or cannot skin.

I will look into it though, since the loot may just be incorrect on their drop chances or bad condition checks.

[2021-07-07 15:38] ssmilazzo opened #5281 "Quest "Cry For The Moon" (26760) - Duskwood"
**Links:**

https://www.youtube.com/watch?v=cX9vAMP8BVI

**What is happening:**

This quest was included here https://github.com/WoWManiaUK/Blackwing-Lair/issues/3616 in an amazing write up done by Priestelar but I wanted to add the video and and to say that it is not on the .bq list.
![Screenshot (19)](https://user-images.githubusercontent.com/25713425/124788911-cf4b6a00-df17-11eb-93ac-9891921943

[2021-07-07 15:50] Echinaceax commented on #5281
i'll add to the main report @ssmilazzo https://github.com/WoWManiaUK/Blackwing-Lair/issues/3616#issuecomment-560289716

and close this

note: if there is already a report open, please dont open new report. just saves you wasting your time for it to be closed

[2021-07-07 15:52] #5281 closed, assigned to nobody

[2021-07-07 16:40] ssmilazzo opened #5282 "Quest Giver "First Mate Fitzsimmons" (1239) Missing - Wetlands"
**Links:**

https://www.wowhead.com/npc=1239/first-mate-fitzsimmons

**What is happening:**

First Mate Fitzsimmons should be sitting on the wall outside of the Deepwater Tavern.  He offers the quest "The Third Fleet" (25815) which starts a five part quest chain.
![Screenshot (21)](https://user-images.githubusercontent.com/25713425/124797345-26553d00-df20-11eb-8907-9087080fe715.png)
When you finis

[2021-07-07 17:46] Echinaceax commented on #5282
thanks @ssmilazzo
confirm it in a min

Update
Missing correct

[2021-07-07 18:08] mfranca0009 commented on #4331
Westfall and Duskwood opening quests should now be all set and can only be picked up once, not both.

[2021-07-07 18:41] Echinaceax commented on #4331
confirmed fixed in ptr

[2021-07-09 08:35] ssmilazzo opened #5283 "Quest "The Vortex" (13886) - Ashenvale"
**Links:**

**What is happening:**
He offer the quest twice:
![Screenshot (24)](https://user-images.githubusercontent.com/25713425/125050070-9cb48500-e06f-11eb-9c57-f4d717e0cb95.jpg)

extra info
Not on .bq command as stated here https://github.com/WoWManiaUK/Blackwing-Lair/issues/4540
![Screenshot (23)](https://user-images.githubusercontent.com/25713425/125049367-e781cd00-e06e-11eb-83e8-762d2c0560

[2021-07-09 08:39] ssmilazzo commented on #5283
He does however offer the quest twice:
![Screenshot (24)](https://user-images.githubusercontent.com/25713425/125050070-9cb48500-e06f-11eb-9c57-f4d717e0cb95.jpg)

[2021-07-09 10:21] ssmilazzo opened #5284 "Quest/Item "Illegible Orc Letter"(25647) - Stonetalon Mts"
**Links:**

https://www.wowhead.com/quest=25647/illegible-orc-letter

**What is happening:**

After killing 40 - 50 Windshear Overseers the Illegible Orc Letter has still not dropped.  It should have an 18% drop rate.
As I'm sure you know by now, character is a worgen.

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2021-07-09 11:39] Echinaceax commented on #5284
we'll check it out @ssmilazzo thanks

[2021-07-09 12:29] Echinaceax commented on #5283
I will add new info to the already open report as the second issue @ssmilazzo  thanks

Horde already reported it here too https://github.com/WoWManiaUK/Blackwing-Lair/issues/1022

[2021-07-09 12:31] Echinaceax commented on #4540
- [ ] He does however offer the quest twice:

![Screenshot (24)](https://user-images.githubusercontent.com/25713425/125050070-9cb48500-e06f-11eb-9c57-f4d717e0cb95.jpg)

Reported here by ssmilazzo #5283

And Horde reported here by me https://github.com/WoWManiaUK/Blackwing-Lair/issues/1022#issuecomment-586594777

will be re-added to BQ with next update

[2021-07-09 12:32] #5283 closed, assigned to nobody

[2021-07-09 13:59] Echinaceax commented on #5164
seems ok now ... will close this

[2021-07-09 13:59] #5164 closed, assigned to mfranca0009

[2021-07-09 14:18] Echinaceax commented on #3202
Update

This can be fixed with the revamp of the mall soon :)

[2021-07-09 14:57] Echinaceax commented on #5280
confirmed a hell of a lot are empty loot windows @mfranca0009
found 2 more also (same zone)

[2021-07-09 15:11] Echinaceax opened #5285 "[Zone] Mall area to be set to safe"
**Links:**
https://www.wowhead.com/zone=876/gm-island

**What Should happen:**
As per agreement on "Suggestions", Mall area zone 876 to be set to safe logout & gain rested xp

- [ ] Instant logout

[2021-07-10 09:52] Yamios commented on #4513
Now there is another bug in overkill if you leave stealth and respec to subtlety before the buff expire . OverKill buff stay in subtlety and never expire .

[2021-07-10 15:54] mfranca0009 commented on #4513
@Yamios This is a different problem than the original issue. Please open a new issue and report it.

[2021-07-13 20:36] Echinaceax opened #5286 "[General] Mana class NPCS"
**What is happening:**
while fixing another issue Franca and I noticed that NPCs with mana, regen every 3 secs while in combat

**What should happen:**
NPC with mana should not regen while in combat

[2021-07-14 11:36] Echinaceax opened #5287 "[Spell] Psychic Scream"
**Links:**
https://wowpedia.fandom.com/wiki/Psychic_Scream

spell https://cata-twinhead.twinstar.cz/?spell=8122
glyph https://cata-twinhead.twinstar.cz/?spell=55676

**What is happening:**
- Psychic Scream is working as if player has it glyphed
_trembling in place_

**What should happen:**

- [ ] If player hasnt the Psychic Scream glyph, the target/s should "Flee for 8 secs"

**Other Information:*

[2021-07-14 12:01] Echinaceax opened #5288 "[NPC] Solus Maniac - Solo Queue Script"
As Mania has https://github.com/WoWManiaUK/Redemption/issues/5571

**New feature**

           NPC Solus Maniac
< The solo Queue Arena Master >

in the Underbelly (Dalaran) now provides a option for 1v1 Arena games

![image](https://user-images.githubusercontent.com/39439201/127035607-94afdb93-aa53-40e2-9e4b-34a817699084.png)

### Coming soon ...

[2021-07-14 12:33] Echinaceax opened #5289 "[Battleground] Battleground General Issues"
**What is happening:**

### **General Problem**

- [x] Badge of Justice should not be given in BGs `Wotlk currency`  https://github.com/WoWManiaUK/Blackwing-Lair/issues/2074 (jani fixing)
- [x] Need correct rep setting for each Battleground `for the titles` Ally https://www.wowhead.com/title=48/justicar / Horde https://www.wowhead.com/achievement=714/the-conqueror

https://wowwiki-archive.fandom.c

[2021-07-14 14:32] golosomie commented on #4370
See [this post](https://wowpedia.fandom.com/wiki/Transmogrification#Transmogrification_rules), 3rd white bullet point after the blue post:

From the blue post:

I will retest the bow / crossbow issue, everything else seems to work as intended.

[2021-07-14 14:39] Echinaceax commented on #4370
Thanks drache

Bare in mind Transmogging feature is a Mania custom feature here
so changes for Legendary item will also eventually be availible here too

[2021-07-14 15:11] golosomie commented on #4546
Confirmed, phasing issue

[2021-07-14 19:23] Saintres opened #5290 "Random Dungeon Finder - worgen"
There is an issue with RDF for Ally worgens. (Drood)

Should be awaileble to join rdf but i get that i do not meet the requirement for this dungeon .. ?
Im at ilvl 341

Should add me in queue for rdf.

[2021-07-14 21:07] Echinaceax commented on #5290
@Saintres can you make sure you completed https://www.wowhead.com/quest=28517/the-howling-oak,
https://github.com/WoWManiaUK/Blackwing-Lair/issues/4501#issuecomment-754097872

get a GM to check your questline

[2021-07-15 00:03] Echinaceax opened #5291 "[Quest/Item] Sprinkle of Verlok Miracle-Grow"
**Links:**
https://wowpedia.fandom.com/wiki/Sprinkle_of_Verlok_Miracle-Grow
https://www.wowhead.com/item=60768/sprinkle-of-verlok-miracle-grow
https://www.wowhead.com/quest=27051/through-persistence#comments

**What is happening:**
- Dropping with out having the quest

**What should happen:**

- [ ] Should only drop if player has quest in quest log
- [ ] not giving worth
- [ ] Should only drop whe

[2021-07-15 00:27] Echinaceax opened #5292 "NPC] Earthmender Norsala (Double spawn) - Deepholm"
**Links:**

https://www.wowhead.com/npc=43503/earthmender-norsala

**What is happening:**
- double spawned

**What should happen:**
Should only be one

![image](https://user-images.githubusercontent.com/39439201/125709391-96ce0cca-7cd3-4c83-a10f-31b1678d3fa9.png)

Reported by new tester

[2021-07-15 12:06] Saintres commented on #5290
Im not a DK so i cant do that quest ??

Den ons 14 juli 2021 kl 23:07 skrev Echinaceax ***@***.***>:

[2021-07-15 12:17] Saintres commented on #5290
Ok did that quest and now it looks like it's working.

Den ons 14 juli 2021 kl 23:07 skrev Echinaceax ***@***.***>:

[2021-07-15 13:06] Echinaceax commented on #5290
i thought so :)
no problem saint..glad we fixed it 😄

[2021-07-15 13:07] #5290 closed, assigned to nobody

[2021-07-15 16:11] golosomie commented on #691
![grafik](https://user-images.githubusercontent.com/51303221/125820796-8127b03b-5aaf-457b-aa8e-528c4a3df736.png)
Tested on a level 24 paladin (lowest level Consecration can be learned)
See this combat log. Marked in yellow is the intended, legitimate damage from Consecration ticking for 6.

Marked in red: the crushing damage of some invisible NPC. Seems to be pulled when enemies enter the consecra

[2021-07-15 16:29] golosomie commented on #691
With GM on and /target Consecration, the invisible trigger NPC 43499 can be seen.
This NPC is the source of the bugged damage and should not move nor autoattack.

![grafik](https://user-images.githubusercontent.com/51303221/125823836-2cdbc222-3426-4348-8398-b4073dbd1c78.png)

[2021-07-15 16:48] Echinaceax commented on #4864
Comfirmed fixed so far rrating change and name desplay 👍

![image](https://user-images.githubusercontent.com/39439201/125826465-ace2f941-c7d4-4569-b792-6ffcd6612061.png)

[2021-07-16 02:06] mfranca0009 commented on #4864
For the moment, visual problems on Arena scoreboard should be resolved 👍

If any other Arena problems come up, then we can open new issue.

[2021-07-16 02:08] mfranca0009 commented on #5289
Identified the problem and where it's occurring, looking into it further tomorrow ✔️

[2021-07-16 13:00] Echinaceax commented on #4864
Confirmed fixed in PTR 👍

[2021-07-17 08:14] shininglight26 opened #5293 "Laid To Rest"
**Links:**

from WoWHead or our Armory
https://www.wowhead.com/quest=24602/laid-to-rest

**What is happening:**
No loot appearing in bag

**What should happen:**
Loot for unearthed memento to appear in bag

**Is it crashing the server?:**
no
**Other Information:**

[2021-07-17 08:22] #5293 closed, assigned to nobody

[2021-07-17 19:49] Echinaceax opened #5294 "[NPC/Vender] Item Check - Horde/Alliance - Dalaran"
### Reported by ingame player

**Links:**
Magistrix Vesara https://cata-twinhead.twinstar.cz/?npc=35495#sells:100+1 horde
Enchanter Erodin https://cata-twinhead.twinstar.cz/?npc=35508 horde
Arcanist Ivrenne https://cata-twinhead.twinstar.cz/?npc=31580#sells:100-1 Ally
Enchanter Isian https://cata-twinhead.twinstar.cz/?npc=35507 Ally

Horde venders seem to be missing a few items, needs full item ch

[2021-07-17 20:12] Echinaceax opened #5295 "[NPC] Ymirjar Huntress / Ymirjar Frostbinder - ICC"
**Links:**

- [ ] Ymirjar Huntress https://cata-twinhead.twinstar.cz/?npc=37134
- [ ] Ymirjar Frostbinder https://cata-twinhead.twinstar.cz/?npc=37127

**What is happening:**
- these npcs are currently both dead

**What should happen:**

- should be alive

**Other Information:**

![image](https://user-images.githubusercontent.com/39439201/126048351-2e96eccb-138d-4f9d-8fbe-8c8e0eb26eff.png)

[2021-07-17 20:24] Echinaceax commented on #4909
Re-opening this issue
Notified by GM that it has bugged again

[2021-07-17 21:01] Echinaceax commented on #4909
Bugged again confirmed

Seems older blood elf chars are fine, its the new bloodelves are are made now are bugged

![image](https://user-images.githubusercontent.com/39439201/126049253-5107d829-5f0e-45c2-9396-a1979439ba5b.png)

[2021-07-18 15:13] Echinaceax opened #5296 "[Raid/Loot] Token boss % check"
- [x] **Nefarian / onyxia- Blackwing Descent 10/25 man normal/heroic**
https://www.wowhead.com/npc=41376/nefarian
https://www.wowhead.com/npc=41270/onyxia

https://www.wowhead.com/item=63682/helm-of-the-forlorn-vanquisher
https://www.wowhead.com/item=63684/helm-of-the-forlorn-protector
https://www.wowhead.com/item=63683/helm-of-the-forlorn-conqueror

- [x] **Cho'gall - The Bastion of Twilight 10/2

[2021-07-18 15:13] Echinaceax commented on #4262
full check happening here #5296

[2021-07-18 15:13] #4262 closed

[2021-07-18 15:14] Echinaceax commented on #4262
Full check happending here #3921

[2021-07-18 15:15] Echinaceax commented on #3921
full check happening here #3921

[2021-07-18 17:52] gorgar19 opened #5297 "[quest] Proving Pit"
**Links:**
https://www.wowhead.com/quest=24780/proving-pit

**What is happening:**

quest dialog is off after you click your ready to go the end of the dialog he says is $n instead of the players name

**What should happen:**

says your name

**Is it crashing the server?:**
no
**Other Information:**

small typo in the script think it should be %n

[2021-07-18 18:38] Echinaceax commented on #2403
@Rushor there are 2 parts to this quest and the "learn judgement isnt completing the quest,
I was asked to test this from GM

![learn judgement broken](https://user-images.githubusercontent.com/39439201/126078556-1114cddf-a17e-4c5c-bf33-dec432fbeaba.jpg)

[2021-07-19 19:25] mfranca0009 commented on #2074
Specifically related to the server configuration, PvP Token needs to be disabled until we implement a custom PvP token for the Reign server.

[2021-07-20 00:07] mfranca0009 commented on #5289
Warsong Gulch Score UI with player names fix:
![image](https://user-images.githubusercontent.com/26092980/126242796-49e3212b-cd20-4da4-9c70-884884ac88a6.png)

**UPDATE**
Unfortunately, still something wrong with this feature and it works or breaks at random. Will look into it further at some point, considering it low priority.   `/reload` command works to reload UI and fix the problem while in BG,

[2021-07-20 14:49] Echinaceax commented on #5289
**### Looting/skinning dead players**

Checked so far

1. B-males skinning human females dont crash client ✔️
2. B-females skinning human females dont crash client ✔️
3, human females skinning B-females do crash ❌
4. B-males skinning Human males do crash(edited) ❌

[2021-07-20 16:18] gorgar19 commented on #1101
just tried to do this quest got the message that the quest 25236 is not flagged as bugged when doing the .bq 25236 that's the correct quest ID

[2021-07-20 16:20] Echinaceax commented on #1101
@gorgar19 thanks for the update
we will check on it

[2021-07-21 05:21] mfranca0009 commented on #4660
https://wowwiki-archive.fandom.com/wiki/Battle_Elixir

Technically, if the flask was used, you can't use any other battle or guardian elixir cause it holds both slots. Unless in Cataclysm they've changed these rules.

[2021-07-21 10:29] Echinaceax commented on #4660
no elixir stacking in Cata same as Wotlk

food buff and temp pots yes, but not scrolls,Drums,elixir that say "count as a battle elixir"

[2021-07-21 12:52] Echinaceax commented on #5285
added to the other Mallstone issue #3202

[2021-07-21 12:52] #5285 closed, assigned to nobody

[2021-07-21 14:26] Echinaceax commented on #5294
Update pointed out to player that they may have been looking at the wrong vendor for horde

Closing this until Player lists what they think is missing for correct vendors

[2021-07-21 14:36] #5294 closed, assigned to mfranca0009

[2021-07-22 17:26] Echinaceax opened #5298 "[Battleground] Looting/skinning dead players"
###  **Looting/skinning dead players**

Checked so far  (❌ do crash / ✔️ dont crash)

1. Bloodelf males skinning human females ✔️
2. Bloodelf females skinning human females  ✔️
3. human females skinning Bloodelf female  ❌
4. Bloodelf males skinning Human males  ❌
5. Worgen female skinning bloodelf male ✔️
6. bloodelf male skinning Worgen female ✔️
7. Worgen female skinning Bloodelf female ✔️
8. Ni

[2021-07-22 19:11] gorgar19 commented on #339
hord side of this  quest 26912 isn't flagged as a bad quest  on the .bq command

[2021-07-22 19:38] gorgar19 opened #5299 "[quest] Flash Heal (goblin)"
Links:

https://wowpedia.fandom.com/wiki/Flash_Heal_(goblin)

What is happening:

players not getting credit for casting flash heal on the correct mobs

What should happen:

player should get credit for casting in on the injured employees right next to the quest giver

Is it crashing the server?:
no

Other Information:

couldn't find a good link on  wowhead kept getting links to the quest Learning

[2021-07-22 19:51] Echinaceax commented on #5299
thanks @gorgar19
we'll check this out 👍

UPDATE
Injured Employee are at full hp atm , probly why its not working

NPC https://cata-twinhead.twinstar.cz/?npc=48305
Quest https://cata-twinhead.twinstar.cz/?quest=14009

![image](https://user-images.githubusercontent.com/39439201/126702491-14ea068c-d691-4834-a2ea-c0b72e29a066.png)

[2021-07-22 20:37] Echinaceax commented on #339
Thanks @gorgar19
Adding both again to BQ for next update

[2021-07-22 21:07] golosomie commented on #5298
I'm compiling a list of all combinations that cause crashes. Still a lot of stuff to go - 108/336 done

[2021-07-23 02:52] mfranca0009 commented on #5289
Strand of the Ancients - Alterac Valley - Isle of Conquest, have been removed from Random Battleground rotation, BUT they can still be queued for individually. This is because their level range cannot be set to 0 nor anything higher than 85 because it just retrieves the proper level range from DBC data.

[2021-07-23 02:56] mfranca0009 commented on #4776
All set, all three BGs have been removed from Random Battleground rotation.

[2021-07-23 05:10] mfranca0009 commented on #5296
Nefarian should be all set now 👍

[2021-07-23 12:08] Echinaceax opened #5300 "[Battleground] Alterac Valley main fix report"
https://github.com/WoWManiaUK/Blackwing-Lair/issues/5289#issuecomment-885363595 this BGs has been disabled from the random battle grounds que for now until more players and fixes are in place

### NOT FINISHED

### **Alterac Valley Quests**

- [ ] Empty Stables https://cata-twinhead.twinstar.cz/?quest=7027 (Ally)
(after using quest item to tame the ram, no taming bar, no taming completed)
- [ ] Em

[2021-07-23 12:19] Echinaceax commented on #896
UPDATE

https://github.com/WoWManiaUK/Blackwing-Lair/issues/5289#issuecomment-885363595 this BGs has been disabled from the random battle grounds que for now until more players and fixes are in place

[2021-07-23 13:35] Echinaceax commented on #2074
@wow-mania ive assigned you to this :)

[2021-07-23 20:43] Echinaceax commented on #5298
looks like we have fixed this issue @golosomie
Ive PM you how ...

[2021-07-23 21:34] mfranca0009 commented on #5298
UNIT_FLAG_SKINNABLE was being forced on players, removing this resolved the client crash problems and you are still able to loot insignia from dead players once they release (AKA looting their corpse).

[2021-07-23 23:33] golosomie commented on #5298
@mfranca0009 uh, great that you found the cause, thank you!
Will test this asap

[2021-07-23 23:42] Echinaceax commented on #5298
just the known combos that was crashing shouldnt now, we checked belf female and was no problem

[2021-07-23 23:47] golosomie commented on #5296
Confirmed fixed. Killed Nefarian a bunch of times, every time he dropped 2 random items + the token as expected.
All 3 tokens were able to drop - should be good now!

[2021-07-24 08:01] #4331 closed

[2021-07-24 08:01] #4478 closed, assigned to mfranca0009

[2021-07-24 08:01] #4776 closed, assigned to mfranca0009

[2021-07-24 08:01] #4864 closed, assigned to mfranca0009

[2021-07-24 08:01] #4964 closed, assigned to mfranca0009

[2021-07-24 08:01] #5138 closed, assigned to mfranca0009

[2021-07-24 08:01] #5140 closed, assigned to mfranca0009

[2021-07-24 08:01] #5153 closed, assigned to mfranca0009

[2021-07-24 08:01] #5242 closed, assigned to mfranca0009

[2021-07-24 08:01] #5269 closed, assigned to mfranca0009

[2021-07-24 08:01] #5270 closed, assigned to mfranca0009

[2021-07-24 08:01] #5271 closed, assigned to mfranca0009

[2021-07-24 08:01] #5272 closed, assigned to mfranca0009

[2021-07-24 08:01] #5274 closed, assigned to mfranca0009

[2021-07-24 08:01] #5275 closed, assigned to mfranca0009

[2021-07-24 08:01] #5276 closed, assigned to mfranca0009

[2021-07-24 08:01] #5296 closed, assigned to mfranca0009

[2021-07-24 08:01] #5298 closed, assigned to mfranca0009

[2021-07-24 08:02] #5289 closed, assigned to mfranca0009

[2021-07-24 19:26] valeronscorpion commented on #4401
24/07/21 problem still the same. Using fire extinguisher, fire doesn't dissappear and it's not possible to complete quest.

[2021-07-24 20:58] Echinaceax commented on #4401
type ingame .bq 26078

[2021-07-24 22:28] Echinaceax commented on #3725
Later patch, chest shouldnt be spawning until 4.3 (dragon soul ) https://wowpedia.fandom.com/wiki/Darkmoon_Treasure_Chest

- [x] chest object deactivation https://www.wowhead.com/object=209620/darkmoon-treasure-chest#comments

[2021-07-25 09:42] Saintres commented on #5158
- [ ] This acures in The tainted forest part too

I tryed to fish there for some salmons and all lootwindows was empty except for pools where i got lots of Stranglekelp instead of the fish that suppose to be in the pool. i got some of the expected fish tho in the pools. But not the fish i come there for.

[2021-07-25 15:08] gorgar19 opened #5301 "[NPC] Risen Hillsbrad Peasant -Hillsbrad Foothills"
Links:
https://www.wowhead.com/npc=47861/risen-hillsbrad-peasant

( just for an approximate location )
https://www.wowhead.com/quest=28189/do-the-right-thing

What is happening:

looks like their 2 or so that fall under the world that are able to attack players but players will get the out of range message  ,pets can attack it though. looks like when they spawn they fall through the ground. someti

[2021-07-25 16:17] Echinaceax commented on #5301
thanks @gorgar19
reported here already #1600

[2021-07-25 16:17] #5301 closed, assigned to nobody

[2021-07-25 18:31] Echinaceax commented on #4644
Re-adding to BQ

[2021-07-26 00:01] golosomie commented on #5264
Confirmed fixed in dev. All ranks of the talent + all presences grant the correct haste and rune regeneration values.

[2021-07-26 01:51] mfranca0009 commented on #4532
Should be fixed now 👍

[2021-07-26 01:56] mfranca0009 commented on #4491
Should be all set and marked on main report 👍

[2021-07-26 02:19] mfranca0009 commented on #5297
This should be fixed 👍 I've also added the 3 missing texts that the `Captive Spitescale Scouts` could potentially say. They have 4 lines total, and one is randomly selected to be said.

[2021-07-26 11:43] Echinaceax commented on #4532
Confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/126983330-ba5e82a1-26a3-4362-9d96-96fc6f8e51ef.png)

![image](https://user-images.githubusercontent.com/39439201/126983287-8ff2e548-01f2-4b37-add7-33a74e63c45a.png)

[2021-07-26 11:56] Echinaceax commented on #5297
Confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/126984351-a5815556-06e0-4050-9a53-4083e6087b25.png)

![image](https://user-images.githubusercontent.com/39439201/126984236-3f3c2f24-7339-4739-ba7f-5aa0887efa52.png)

[2021-07-26 12:39] Echinaceax commented on #4491
Confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/126990033-ed37707c-0133-4e1f-bbeb-948eed31f238.png)

[2021-07-26 13:32] golosomie commented on #5263
@Echinaceax can confirm that you cannot fly up or down. Pressing Space Bar does nothing

[2021-07-26 13:34] golosomie commented on #5263
Fun fact: when you enter this vehicle while falling, it will instantly teleport to the ground. You will still not be able to fly up.

[2021-07-26 14:06] golosomie commented on #4470
Can confirm.

[2021-07-26 14:09] Echinaceax opened #5302 "[NPC] Kerzan Partygoers ID 35238 - Kezan"
**Links:**

https://www.wowhead.com/npc=35238/kezan-partygoer

**What is happening:**
NPC need a few things sorting they have all the party auras, emote command lines, and text say lines.... but they're just kneeling.

[2021-07-26 14:25] mfranca0009 commented on #5299
All set 👍

[2021-07-26 14:47] Echinaceax commented on #5299
Confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/127009119-abeeb2e8-b2a5-4106-b0b1-a512838f4997.png)

[2021-07-26 14:50] mfranca0009 commented on #5292
Duplicate removed, can be re-added if it was a phasing problem when we come across it.

[2021-07-26 14:56] mfranca0009 commented on #4470
Per WoWhead, https://www.wowhead.com/quest=13129/head-games

Kurzel and Mack Fearsen are quest enders for this quest. Looking into what the appropriate text should be if this is not it.

[2021-07-26 15:02] mfranca0009 commented on #4470
This is not an issue, per this video for Drak'Tharon Keep, you can see the player completes the quest and gets the description that is shown above at or around 5:58:
https://www.youtube.com/watch?v=TcbF0wpGePw

[2021-07-26 15:07] golosomie commented on #4470
Either Kurzel should be made a quest ender or the quest text should be changed. Right now they don't match.

[2021-07-26 15:11] Fauve15 opened #5303 "[NPC] High Priest Venoxis - ID 26814 - Northern Stranglethorn"
**Links:**

https://www.wowhead.com/quest=26814/high-priest-venoxis
![2021-07-26 17_01_19-World of Warcraft](https://user-images.githubusercontent.com/37868595/127013298-96e30742-364f-4217-85e9-ce8c567a6186.png)

**What is happening:**

There is no NPC to fight.  There are just a bunch of snakes.
Possibly related to these #3656 https://github.com/WoWManiaUK/Blackwing-Lair/issues/4419 [Plunging int

[2021-07-26 15:14] golosomie commented on #4470
@mfranca0009 Turn-in location changed in cata. Note that wowhead lists 2 seperate versions of Kurzel:
Wotlk version: You get this quest from the [NPC that was freed from the spiderwebs](https://www.wowhead.com/npc=26664/kurzel) after the first boss. You turn it in in Grizzly Hills.
Cata version: You get this quest from [another version of Kurzel](https://www.wowhead.com/npc=55677/kurzel) that is c

[2021-07-26 15:18] mfranca0009 commented on #4470
Video is from 2015 though, wouldn't this mean that this is after the Cataclysm change if there was one? @golosomie

[2021-07-26 15:27] golosomie commented on #4470
@mfranca0009 Exactly. the video shows the cata version of the quest, while we have the WotLK version currently

[2021-07-26 15:28] Fauve15 commented on #1160
Issue 2

- [ ] NPC gave the wrong faction quest (Horde Quest to Ally) -> Confirmed by GM

[2021-07-26 15:48] mfranca0009 commented on #4470
I've updated the report for the correct issue, and it should be fixed 👍

[2021-07-26 15:59] Echinaceax commented on #1160
Thank for issue 2 @Fauve15 👍

[2021-07-26 16:05] golosomie commented on #4470
Confirmed fixed on dev

[2021-07-26 17:18] Echinaceax commented on #5292
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/127031377-48273105-4e4a-40d7-9454-508d5d190c9b.png)

[2021-07-27 01:17] Echinaceax commented on #5303
_**"Possibly related to these #3656  [High Priestess Jeklik]  #4419 [Plunging into Zul Gurub]"**_

@mfranca0009 yes these should be fixed first :)

[2021-07-27 15:19] gorgar19 opened #5304 "[QUEST] Shadra the Venom Queen (26419) - The Hinterlands"
Links:

https://www.wowhead.com/quest=26419/shadra-the-venom-queen#comments

What is happening:

previous quest is bugged and on the .bq list so  the npc is not getting summoned so you can kill it
as stated on topic https://github.com/WoWManiaUK/Blackwing-Lair/issues/356

What should happen:

npc should get summoned but previous quest is bugged so it doesn't get summoned

Is it crashing the server

[2021-07-29 17:34] #5292 closed, assigned to mfranca0009

[2021-07-29 17:47] #5297 closed, assigned to mfranca0009

[2021-07-29 17:48] #5299 closed, assigned to mfranca0009

[2021-07-29 17:48] mfranca0009 commented on #5299
On live 👍

[2021-07-29 17:48] mfranca0009 commented on #4532
On live 👍

[2021-07-29 17:48] #4532 closed, assigned to mfranca0009

[2021-07-29 17:49] mfranca0009 commented on #4491
Fixed in live 👍

[2021-07-29 17:49] #4491 closed, assigned to mfranca0009

[2021-07-29 17:49] mfranca0009 commented on #5264
Fixed in Live 👍

[2021-07-29 17:49] #5264 closed, assigned to mfranca0009

[2021-07-29 17:49] mfranca0009 commented on #4470
Fixed in live 👍

[2021-07-29 17:49] #4470 closed, assigned to mfranca0009

[2021-07-29 19:02] Echinaceax commented on #5297
fixed on live

[2021-07-29 19:02] Echinaceax commented on #5292
Fixed on live

[2021-07-30 13:14] Echinaceax commented on #1948
Seems we may need a full report of what is happening in here

[2021-07-30 13:14] gorgar19 opened #5305 "[QUEST] To the Summit - 25478 - Thousand Needles"
Links:

https://www.wowhead.com/quest=25478/to-the-summit What is happening:

What should happen:
the flight master your instructed to take don't progress the quest
this is one of the broken flight masters as listed in a few other issues that you can fly into but not out of

Is it crashing the server?:
no

Other Information:

[2021-07-30 14:16] Echinaceax commented on #5305
Was meant to be fixed in this report already https://github.com/WoWManiaUK/Blackwing-Lair/issues/1177
Will look into it @gorgar19 thanks

edited
flight issue reported here @mfranca0009  https://github.com/WoWManiaUK/Blackwing-Lair/issues/1826#issuecomment-561253381

Rushor added a teleporter to the fix for now i seen https://github.com/WoWManiaUK/Blackwing-Lair/issues/1177#issuecomment-515083199

[2021-07-30 14:25] mfranca0009 commented on #1826
Client related, flight paths are controlled through DBC. Would require a client update to fix this properly.

[2021-07-30 14:30] Echinaceax commented on #5305
Updated test @mfranca0009

Whats happening is, once you click the dialog player gets a loading screen and not the actual flight as seen in video https://www.youtube.com/watch?v=2qKauKMEWdY

![image](https://user-images.githubusercontent.com/39439201/127667748-75014dc2-9d30-4141-9cf5-67c4f7d784d3.png)

Quest is completable though
![image](https://user-images.githubusercontent.com/39439201/127668494

[2021-07-30 14:44] Echinaceax commented on #5305
@gorgar19 do you not get teleported when you click on the dialog ?

If no, then you should make sure your running the Wow-reign client coz sometimes running other wow clients "can sometimes" conflict

[2021-07-30 20:25] gorgar19 commented on #5305
I had not the first time but when i went back after reading your follow up   it worked correctly so I'm calling this one an error on my part.

[2021-07-30 21:25] Echinaceax commented on #5305
Good to know @gorgar19 thx :)

[2021-07-31 10:55] Echinaceax commented on #4897
Update info

I have no issue on live with the 2 hour duration issue

![2h duration](https://user-images.githubusercontent.com/39439201/127737653-8bb96a10-a020-4872-b584-aa4095f4fa35.jpg)

and from a comment from Rushor older report https://github.com/WoWManiaUK/Blackwing-Lair/issues/2429#issuecomment-546034024
_Effect is there, but it simply does not show up in the bar. That's cleint side issue an

[2021-07-31 11:14] Echinaceax commented on #4897
Update info
Player on live could re-train their Mixoloxy again from Dalaran as stated here #3950 (comment) even though they trained from ORG already

[2021-07-31 11:38] golosomie commented on #4897
Is the "increased effect of flasks and elixirs" working?

[2021-07-31 11:53] Echinaceax commented on #4897
according to rushors comment  #2429 (comment) he said

**_"47 is the increased effect.

Effect is there, but it simply does not show up in the bar. That's cleint side issue and was there on retail as well at a specific time."_**

[2021-07-31 11:55] Echinaceax commented on #4897
_Elixir Master is not giving the Mixology 2hour bonus_ (is working on live for me) @golosomie

[2021-07-31 13:43] gorgar19 commented on #349
hord side  needs to be added to .bq

https://www.wowhead.com/quest=26357/faces-of-evil

[2021-07-31 14:01] Echinaceax commented on #349
thanks @gorgar19 👍

[2021-07-31 16:37] Echinaceax commented on #4897
### new info

@mfranca0009

From what i have checked mixology isnt learnt from Orgimmar is learnt from Dala, then it works

without mixology (60mins)

![without mixology learnt](https://user-images.githubusercontent.com/39439201/127746422-ef99d1c0-8f89-46c1-8b19-d0b202d3956b.jpg)

learnt from Dalaran
![learnt](https://user-images.githubusercontent.com/39439201/127746426-2c790a35-ac6d-41ba-82f0-807

[2021-08-02 16:55] gorgar19 opened #5306 "[QUEST] Release Heartrazor - Thousand Needles"
Links:

https://www.wowhead.com/quest=28088/release-heartrazor

What is happening:

killing the npc's holding him captive don't release him .

What should happen:
 should be able to kill a few mobs and off he flights

Is it crashing the server?:
no

Other Information:

heartrazor is slightly under ground level so that might be effecting things

[2021-08-03 10:24] Echinaceax commented on #5306
Confirmed bugged

npc Heartrazor https://cata-twinhead.twinstar.cz/?npc=47486#abilities
npc Twilight Subduer https://cata-twinhead.twinstar.cz/?npc=47487
spell Subduer Rope https://cata-twinhead.twinstar.cz/?spell=88548 (meant to be used by both npcs)

No ropes restraining him
And when you get closer to him he goes under the map

https://www.youtube.com/watch?v=BCICx7dylKc

![image](https://user-i

[2021-08-05 21:04] Twiggz3x6 commented on #4370
As a Hunter I also encountered problem with xmoging ranged weapons into bows, yet there is no trouble when you try to xmog any ranged weapon into a gun or xbow as far as I noticed.
![wow 1](https://user-images.githubusercontent.com/88513139/128421110-208d0a00-c23f-4954-be42-b977cc8aca2c.PNG)

After applying, similar to what Echi mentioned, the apply button was not greyed out and my xbow still uses

[2021-08-05 21:07] Twiggz3x6 commented on #4122
I was gonna post about this, but turns out there is a post about MM mastery still not working.

[2021-08-05 21:19] Twiggz3x6 commented on #4236
Still seems to be the issue, hopefully it is somehow resolved. Kind of want to roll UD death knight, but the eyes are killing me lol.

[2021-08-06 14:33] gorgar19 commented on #692
this quest can be removed from the .bq list just did it few minutes ago

[2021-08-06 16:08] Echinaceax commented on #692
thanks @gorgar19

[2021-08-06 16:12] #692 closed

[2021-08-06 22:01] Saintres opened #5307 "[Quest] The Endless Hunger ID 12848"
**Links:**
https://www.wowhead.com/quest=12848/the-endless-hunger
from WoWHead or our Armory

**What is happening:**
When you get the key to free some initiates to fight them u cant target them or the lock that u should open.

**What should happen:**
When you click on the key in your quest u should free the initiate and then he will go and get his gear and fight me. that is not happening
**Is it c

[2021-08-07 11:34] Echinaceax commented on #5307
I'll take a look @Saintres

[2021-08-07 11:50] Echinaceax commented on #5307
Hmm, no issue for me

tested with a human male DK
https://gyazo.com/af32547d4840f66233912de348fd3300

I just clicked the clickable skull on the wall @Saintres

`and then he will go and get his gear and fight me. that is not happening`

If you look closely they face the wall and aquire the clothes and weapon

https://www.wowhead.com/quest=12848/the-endless-hunger#videos:id=52664

![clicked the skul

[2021-08-07 11:58] #5307 closed, assigned to nobody

[2021-08-07 12:36] Echinaceax opened #5308 "[Object] Acherus Soul Prison"
**Links:**

Acherus Soul Prison https://cata-twinhead.twinstar.cz/?object=191577
Unworthy Initiate Anchor https://www.wowhead.com/npc=29521/unworthy-initiate-anchor

**What is happening:**
Noticed this while testing the quest for this as report here #5307 that if a player kills a few of these NPCs they respawn but the `Acherus Soul Prison` despawns when the npc respawns, which makes the other play

[2021-08-13 09:29] Echinaceax commented on #538
EDITED

[2021-08-13 11:00] Echinaceax commented on #538
Found the issue ...
Making new report and closing this one

[2021-08-13 11:00] #538 closed

[2021-08-13 11:26] Echinaceax opened #5309 "[NPC] Kadrak ID 8582 - Northern Barrens"
**Links:**

https://cata-twinhead.twinstar.cz/?npc=8582

**What is happening:**
Shouldnt have the dialog to got wood quest https://cata-twinhead.twinstar.cz/?quest=13628

**What should happen:**
just need removing from npc 8582

**Other Information:**
this is not working when clicked and needs removing as correct npc is working fine :)

![image](https://user-images.githubusercontent.com/39439201/1

[2021-08-18 04:55] Milanax1 commented on #5238
As Saintres mentioned, i can kill the crusaders on the ground but when i approach the ballistas on the ground since flying not working, i get nuked in a sec, needs to be added to the .bq command list until its fixed.

[2021-08-18 08:46] Echinaceax commented on #5238
on BQ command , with next update

[2021-08-26 16:57] gorgar19 opened #5310 "[quest] A Fall From Grace - Dragonblight"
Links:

https://www.wowhead.com/quest=12274/a-fall-from-grace

What is happening:

The quest giver is not putting the Scarlet Raven Priest Image on the player so you can complete the first part of the quest (ring the bell) but cant complete the second part talk to the abbot

Is it crashing the server?:
no

Other Information:

i tried it on three toons making sure to not be mounted or shapeshifted

[2021-08-30 07:00] Echinaceax commented on #4178
Re-opening this atm,
Messages from GM say they are still getting tickets about it

the moving ship issue is that the npc float away when the ship is at a certain part of the path as video shows
https://gyazo.com/78fd6040f964c8246ef9bc489835feec

![image](https://user-images.githubusercontent.com/39439201/131300684-f3fa2eb9-97d8-4843-8b97-53aaa4d546cd.png)

[2021-08-30 16:09] gorgar19 opened #5311 "[QUEST] Bringing Down Heb'Jin - Zul'Drak"
Links:

https://www.wowhead.com/quest=12662/bringing-down-hebjin
https://wow-reign.com/page/armory

What is happening:
when you click the drum the npc flies down as intended but once he gets close to the player at the point he should dismount and you can attack him only the bat is spawned so you cant kill him .

Is it crashing the server?:
no

Other Information:
tried killing the bat and using the

[2021-08-30 18:17] gorgar19 opened #5312 "[QUEST] The Key of Warlord Zol'Maz - Zul'Drak"
Links:

https://www.wowhead.com/quest=12712/the-key-of-warlord-zolmaz
http://cata.cavernoftime.com/quest=12712

What is happening:
after combining the three  items and the gate opening the NPC warlord  zol'maz remains an invalid target so you cant kill him

Is it crashing the server?:
no

Other Information:

[2021-08-31 01:32] gorgar19 opened #5313 "[Quest] Waterlogged Recipe"
Links:
https://www.wowhead.com/item=48681/waterlogged-recipe
http://cata.cavernoftime.com/quest=24431
http://cata.cavernoftime.com/item=49667

What is happening:

![Screenshot (1)](https://user-images.githubusercontent.com/69017051/131427132-146dac17-9ba3-4b8f-bd88-302f449d267f.png)
Quest should be marked as Repeatable but when i try and click another  its giving the message that I've already comp

[2021-08-31 09:19] Echinaceax commented on #5313
confirmed

![image](https://user-images.githubusercontent.com/39439201/131496163-f8438ea8-fcae-4524-a159-001b5638baf7.png)

https://wowwiki-archive.fandom.com/wiki/Waterlogged_Recipe

[code]

@mfranca0009
Yes its listed as "repeatable" by both cavernoftime and twinstar

note: should test also if its "tradeable" as noted in patch notes

@gorgar19, i saw some workaround you could try

just put the q

[2021-08-31 12:12] Echinaceax opened #5314 "[Quest] Trinket quests - Darkmoon"
**Links:**
https://wowwiki-archive.fandom.com/wiki/Darkmoon_Cards#In_Cataclysm

Darkmoon Tsunami Deck http://cata.cavernoftime.com/quest=27666
Darkmoon Earthquake Deck http://cata.cavernoftime.com/quest=27667
Darkmoon Hurricane Deck http://cata.cavernoftime.com/quest=27665
Darkmoon Volcanic Deck http://cata.cavernoftime.com/quest=27664

**What is happening:**
after researching another report i cam

[2021-08-31 13:38] gorgar19 commented on #5313
item is tradeable or at least tradeable within an account

[2021-08-31 14:12] golosomie commented on #5313
@Echinaceax honestly it's good to see that the workaround isn't working. Because if it did, it would imply that non-repeatable quests might become repeatable if you use this trick. And that would enable a load of possible exploits

[2021-08-31 15:15] Echinaceax commented on #5313
Exactly what i thought too, so now we know this workaround info, we can check other stuff now 😄

[2021-09-01 11:22] Fauve15 opened #5315 "[Quest] - 27771 - Third Sample: Implanted Eggs - Badlands"
https://www.wowhead.com/quest=27771/third-sample-implanted-eggs

from WoWHead or our Armory

**What is happening:**
Nyxondra's isn't at the her place

**What should happen:**
There should be a dragon there to attack and steal her eggs.

**Is it crashing the server?:**
No
**Other Information:**
/

[2021-09-02 20:41] gorgar19 opened #5316 "[QUEST/ITEM] Dr. Terrible's "Building a Better Flesh Giant" - Icecrown"
Links:

https://www.wowhead.com/item=42772/dr-terribles-building-a-better-flesh-giant#comments
https://www.wowhead.com/npc=30409/apprentice-osterkilgr

What is happening:
the npc that drops the item to start this quest is dropping it but the player is unable to loot it sort of like when you need to loot 10 and an 11th drops  you can see it but just cant loot it.

Is it crashing the server?:
no

Ot

[2021-09-03 08:44] Echinaceax commented on #5316
Reported here #5266
@gorgar19 I didnt have the same issue when i reported the same quest,

Can you look through my report here #5266 and see if yours is a completely different issue with the same quest. thanks

[2021-09-03 09:14] Echinaceax commented on #5316
Confirmed bugged

Yes when you have done the 2 objectives

`Information beaten out of Apprentice Osterkilgr` ✔️
` Apprentice Osterkilgr slain` ✔️

Player loots the startquest item `Dr. Terrible's "Building a Better Flesh Giant"`

@mfranca0009
Issue is that you still see the sparkly corpse and a popup loot window with the loot still there even after you have the looted it in your bag

[2021-09-03 13:34] gorgar19 commented on #4062
looks like the bone pile is missing again

[2021-09-03 14:43] Echinaceax commented on #4062
yes the report is still opened here @gorgar19 #4593

[2021-09-05 02:15] gorgar19 opened #5317 "[QUEST] The Last Line Of Defense - ICECROWN"
![Screenshot (7)](https://user-images.githubusercontent.com/69017051/132112677-a5d8f90d-1f60-485f-868b-a40a3c941fe2.png)
![Screenshot (8)](https://user-images.githubusercontent.com/69017051/132112680-604070ac-7d55-4ab4-b2b4-5062834cb85a.png)
Links:

https://www.wowhead.com/quest=13086/the-last-line-of-defense

What is happening: after completion of this quest the bone pile is no longer available f

[2021-09-05 09:10] Echinaceax commented on #5317
@gorgar19 this quest is reported here #4589

Did you complete this yourself using the BQ command?

i will link this info to the the other report and close this one

[2021-09-05 09:17] Echinaceax commented on #4589
Updated info from @gorgar19 #5317

After completing this via the BQ command player phases again and cant see the skulls for the next quest reported here #4593

@mfranca0009
full questline will need to be reported to ensure phasing is fixed correct

I will make the report when i can get on PTR

[2021-09-05 09:17] #5317 closed, assigned to nobody

[2021-09-05 09:42] Echinaceax opened #5318 "[QUEST] Icecrown quests main report - Icecrown"
### NOT FINISHED YET

- [ ] Quest order needs fixing first before we can continiue with the rest of the report
Ive done what I can for now @mfranca0009 https://github.com/WoWManiaUK/Blackwing-Lair/issues/5318#issuecomment-913138847

**Link**

Source https://wowpedia.fandom.com/wiki/Icecrown_quests
Quest order wrong https://github.com/WoWManiaUK/Blackwing-Lair/issues/5318#issuecomment-913138847
que

[2021-09-05 11:48] Echinaceax commented on #5318
### First issue ive seen quest order wrong `Horde`

quests offered to early

https://www.wowhead.com/quest=13238/good-for-something
https://www.wowhead.com/quest=13260/takes-one-to-know-one

![quest to early ](https://user-images.githubusercontent.com/39439201/132125613-f91db940-7297-4256-8937-e82b1e7f44ec.jpg)

this is what is screwing players phasing
2nd quest is https://www.wowhead.com/quest=13

[2021-09-05 12:51] Echinaceax opened #5319 "[QUEST] The Restless Dead - Icecrown"
**Links:**

quest https://www.wowhead.com/quest=13110/the-restless-dead
quest item https://www.wowhead.com/item=43153/holy-water

**What is happening:**
Quest item isnt working to free 10 restless souls.

**What should happen:**
https://www.wowhead.com/quest=13110/the-restless-dead#videos:id=74423

[2021-09-05 13:29] Echinaceax commented on #5318
### 2nd issue Phasing issue stops `Horde`

- [x] If players do the questline in correct order  https://www.wowhead.com/quest=13141/the-battle-for-crusaders-pinnacle quest the phasing is fixed for #4593

[2021-09-05 14:01] gorgar19 commented on #5319
just did  that quest yesterday
![Screenshot (9)](https://user-images.githubusercontent.com/69017051/132130741-3df8d396-2a12-4ca8-bdcc-bb5a56511b23.png)

[2021-09-05 14:10] Echinaceax opened #5320 "[QUEST] The Keeper's Favor - Icecrown"
**Links:**
https://www.wowhead.com/quest=13073/the-keepers-favor

![image](https://user-images.githubusercontent.com/39439201/132129795-4c9caeb6-6cf5-4b29-bff8-f60801617d21.png)

**What is happening:**
After speaking with `Highlord Tirion Fordring` a moonglade portal is opened but you cant use it

**What should happen:**
`Highlord Tirion Fordring at Crusaders' Pinnacle has requested that you secur

[2021-09-05 16:06] Echinaceax commented on #5319
@gorgar19 strange 😄
can you PM be in Discord, i have a question about another issue :)

[2021-09-05 17:27] Echinaceax opened #5321 "[Quest] The Broken Front -13228- (Horde) - Icecrown"
**Links:**
https://www.wowhead.com/quest=13228/the-broken-front
https://www.wowhead.com/npc=31272/dying-berserker-kc-bunny

**What is happening:**
after clicking the dialog, no quest credit given

**What should happen:**
quest credit should be given
https://www.wowhead.com/quest=13228/the-broken-front#videos:id=74298

[2021-09-05 18:24] Echinaceax opened #5322 "[Quest] Basic Chemistry - Icecrown"
**Links:**
quest https://www.wowhead.com/quest=13279/basic-chemistry
quest item https://www.wowhead.com/item=44010/pustulant-spinal-fluid

![image](https://user-images.githubusercontent.com/39439201/132137336-386ec257-12d3-4060-9b06-fbf59dc2312a.png)

**What is happening:**
After using the quest item, getting the  `Plague Cauldron Neutralized` i didnt get quest credit

**What should happen:**
once

[2021-09-05 19:13] Echinaceax opened #5323 "[Quest] Volatility -13239 - Icecrown"
**Links:**
quest https://www.wowhead.com/quest=13239/volatility
quest item https://www.wowhead.com/item=43608/copperclaws-volatile-oil

![image](https://user-images.githubusercontent.com/39439201/132138487-c17a7305-b98f-45b1-9cd5-21abf8b82f71.png)

**What is happening:**
after collecting 3 of each of the items needed , i used the quest item `Copperclaw's Volatile Oil` to  Assemble Armored Soldier

[2021-09-06 09:35] Echinaceax commented on #5318
### 3rd issue NPC phasing `Horde`

- [ ] As players go through the questline picking up quests from on ship, when the ship is moving the npc delivery is sometimes not there

https://www.wowhead.com/npc=29795/koltira-deathweaver
![image](https://user-images.githubusercontent.com/39439201/132195392-f9609605-97d7-407b-98ef-c45d599320c4.png)

- [ ] After completing https://www.wowhead.com/quest=13366/

[2021-09-06 22:19] Echinaceax opened #5324 "[NPCs] Daily (! and ?) issue list 2"
Daily quest giver should be blue quest pickups/deliveries (not yellow)
letting players know its a repeatable daily quest and to show up on their minimap

**Links:**
### `Horde and neutral `

https://www.wowhead.com/npc=29795/koltira-deathweaver
- [ ] Drag and Drop https://www.wowhead.com/quest=13353/drag-and-drop
- [ ] Not a Bug https://www.wowhead.com/quest=13365/not-a-bug
- [ ] That's Abominable

[2021-09-07 15:43] gorgar19 opened #5325 "[QUEST] Stunning View -icecrown"
Links:

https://www.wowhead.com/quest=13160/stunning-view

What is happening:
the orb that is supposed to give you control of the  Lithe Stalker doesn't give  you that option for this quest. You can just kill the mobs normally and still get credit

Is it crashing the server?:
no

Other Information:

the other two quests in this chain will allow you control  the  Lithe Stalker and can be completed

[2021-09-08 01:46] gorgar19 commented on #5324
vile likes fire do go blue i belive it happens  once Crush Dem Vrykuls! is complete
![Screenshot (12)](https://user-images.githubusercontent.com/69017051/132432686-cef25513-ddb0-4e12-8ca0-6899ea93ce8c.png)

[2021-09-08 09:48] Echinaceax commented on #5324
ive checked it off the list thx @gorgar19

Thanks for SS, i see the other ebon dailies NPCs are blue too, cool. i dont need to check them
seems its just the Icecrown ship dailies (horde) so far
need to check Ally NPCs when i can

[2021-09-08 14:55] Echinaceax commented on #5318
### 4th totally messed up `Alliance `

- [ ] After picking up first quest from Dalaran and delevering quest back all NPC and dailies already active all at same time
- [ ] NPC float way on relog too

![image](https://user-images.githubusercontent.com/39439201/132533305-bc162d92-238c-4539-b293-cc5e9fedef2a.png)

[2021-09-08 15:30] Echinaceax commented on #5319
retested today and is fine :)

![image](https://user-images.githubusercontent.com/39439201/132539357-01c5319c-f594-432a-a247-e4b95a17eee6.png)

[2021-09-08 15:31] #5319 closed, assigned to nobody

[2021-09-12 16:46] Echinaceax opened #5326 "[Spell] Mirror Image"
**Links:**

http://cata.cavernoftime.com/spell=55342

![mirror image to low health](https://user-images.githubusercontent.com/39439201/132995886-a801c9c5-8109-4f33-888a-5e27276cb87a.jpg)

**What is happening:**

- [ ] Mirror Image  has low hp

**What should happen:**
Creates copies of the caster nearby, which cast spells and attack the mage's enemies. Lasts 30 sec.
should have to hp of the caster

[2021-09-12 16:58] Echinaceax commented on #4795
update

player states that Goldthorn object=2046 is low spawns in Hinterlands

https://classic.wowhead.com/object=2046/goldthorn

[2021-09-13 20:45] Echinaceax opened #5327 "[Quest] SCRAP-E - (Engineers at 425)"
**Links:**

https://www.wowhead.com/item=41267/scrap-e-access-card
video https://www.youtube.com/watch?v=nPohgRmVtAI

**What is happening:**
- [ ] atm this is 100% drop rate

**What should happen:**
0.6 % according to http://cata.cavernoftime.com/item=41267 (our armory)
1.5% according to https://www.wowhead.com/item=41267/scrap-e-access-card
100% according to https://cata-twinhead.twinstar.cz/?ite

[2021-09-18 14:13] Echinaceax opened #5328 "[NPC] Tarecgosa - Stormwind"
**Links:**

https://www.wowhead.com/npc=53396/tarecgosa

**What is happening:**
This NPC is constantly hovering over Stormwind (shouldnt be)

**What should happen:**
NPC should only hang out for a bit, not perminately

**Other Information:**
@mfranca0009 Needs linking to the completion of the legendary questline for the Staff
item reward https://www.wowhead.com/item=71086/dragonwrath-tarecgosas-re

[2021-09-19 08:54] Echinaceax commented on #5167
Removed this off the BQ as its not offered still atm until quest order is fixed
thanks @Deathghat :)

[2021-09-19 16:47] Echinaceax opened #5329 "."
reported elsewhere with more info

[2021-09-19 17:20] #5329 closed, assigned to mfranca0009

[2021-09-20 14:49] gorgar19 commented on #3538
this quest can be completed without the .bq.
i could only find two bails that you can interact with both fairly close to the quest giver and one sometimes didn't give the quest progression but the one closet to the quest giver and right outside of were  kavem the callous  is always gives quest progression **if you click the  torch from your inventory or your quest objectives  ** but not clicking o

[2021-09-20 16:00] Echinaceax commented on #3329
**Update**

GM noticed that the NPC spawned atm isnt correct for this quest
https://www.wowhead.com/quest=27935/bring-down-the-avalanche from 2 ingame players tickets having the same issue

the npc spawn is 44372 and it should be `27935`

@mfranca0009
npc needs changing  to id 27935
seems rushor could have removed the wrong npc :)

[2021-09-20 16:08] #3329 closed

[2021-09-20 16:10] Echinaceax commented on #3329
I will retest this when PTR is up
Seems players are having issues finding this npc spawned according from 2 ingame players

will reopen if i find an issue

I see him spawned inside the cave up top on the ledge

![image](https://user-images.githubusercontent.com/39439201/134043818-07dd7c53-86e4-4180-a6a3-dcb285051ec8.png)

my guess is if the players cant see him on the ledge its a phasing issue
(th

[2021-09-20 18:10] Deathghat opened #5330 "[Item] Fibrous Worg Meat"
**Links:**
https://cata-twinhead.twinstar.cz/?item=36819
https://cata.cavernoftime.com/item=36819

Quest https://www.wowhead.com/quest=12113/nice-to-meat-you

**What is happening:**
Drop rates for Fibrous Worg Meat is taking forever to complete the quest, I personally had to kill about  50 wolves to complete that quest. MFranca verified that current drop rate for this item is 36%

**What should ha

[2021-09-20 18:14] mfranca0009 commented on #5330
This is also confirmed to be 100% on cata-cavernoftimes DB.

[2021-09-20 19:13] Deathghat opened #5331 "[QUEST] Preparations for War (questgiver in Dalaran)"
**Links**
npc https://www.wowhead.com/npc=31081/officer-van-rossem
quest https://www.wowhead.com/quest=13418/preparations-for-war

**Whats happening**
Dialogue to go to ship when ready does not work

**What should happen**

https://www.wowhead.com/quest=13418/preparations-for-war#videos:id=73401

[2021-09-20 20:01] Deathghat opened #5332 "[Quest] Lightning Definitely Strikes Twice 12537 - Sholazar Basin"
**Links:**
https://www.wowhead.com/quest=12537/lightning-definitely-strikes-twice
**What is happening:**
Lightning Definitely Strikes Twice quest bugged, when placing quest item and thus fulfilling requirements, quest does not award credit and is unable to complete.

**What should happen:**
Place crystal, break it, lightning strikes, quest awards completion and you can turn in quest.

[2021-09-20 23:07] Deathghat opened #5333 "A Cold Front Approaches"

[2021-09-20 23:12] #5333 closed, assigned to nobody

[2021-09-21 00:12] Deathghat commented on #4593
as of 9/20/2021,
For Ally, pile of skulls does not exist, unable to complete quest.

[2021-09-21 05:49] Deathghat commented on #3467
Still broken 9/21/2021

[2021-09-21 07:39] Deathghat commented on #4803
https://www.wowhead.com/quest=25755/visions-of-the-past-the-slaughter-of-bielaran-ridge#comments
[Visions of the Past: The invasion of Vashj'ir] also similarly bugged.

[2021-09-21 07:43] Deathghat commented on #4803
https://www.wowhead.com/quest=25626/visions-of-the-past-rise-from-the-deep#comments
[Visions of the Past: Rise from the Deep] also bugged, this time without a bunny
]

[2021-09-21 08:16] Deathghat commented on #3278
BQ not working on this quest

[2021-09-21 10:24] Echinaceax commented on #3467
We know @Deathghat
Thats why Rushor tagged it above
#3063
#3352

[2021-09-21 10:29] Echinaceax commented on #4803
need separate reports if different quest names @Deathghat
once you have, than you can delete your comments here and i can delete mine

[2021-09-21 10:33] Echinaceax commented on #3278
Will re-add it on next update
@Deathghat You mean the Alliance version https://www.wowhead.com/quest=26103/bio-fuel ?

[2021-09-21 22:28] Deathghat opened #5334 "[Worgen] Worgen Quest Vehicles (bugged)"
**Links:**
https://www.wowhead.com/quest=14465/to-greymane-manor

**What is happening:**
When accepting quest, automatically mounts you onto a vehicle (Horse) to path you to next zone. Pathing for vehicle critically errored, phases through ground and sinks to bottom of map. Immediately kills player.

**What should happen:**

not that.

**Is it crashing the server?:**
no

**Other Information:**
It

[2021-09-22 02:03] Deathghat opened #5335 "Worgen Druid Crash Report"
**Links:**

**What is happening:**
Occasionally, when in cat form as a Worgen Druid, if you click on [Two Forms] (spell to change forms between human and worgen) and try to exit cat form shortly after, the game crashes.

**What should happen:**
Not that.

Update: upon researching further, it appears that the [Two Forms] would normally be available to be cast.
I assume appropriate behavior would be

[2021-09-22 10:29] Echinaceax commented on #5334
Hmm,dont think i had issues with that when I made a test worgen
will look into it again @Deathghat

`note: also was in cat form when this issue happened. Unsure if problem exists for characters not in cat form`
will test this out, i never used catform

Are you a worgen male or female?
ah i see from your SS you sent your female 👍

**UPDATE**
its not just this quest vehicle @mfranca0009 is other too

[2021-09-22 10:31] Echinaceax commented on #5335
worgen report already noted #4396

[2021-09-22 10:31] #5335 closed, assigned to nobody

[2021-09-22 11:50] Echinaceax commented on #5334
@mfranca0009
We will leave this new bug for now until new core is completed
it seems to be some vehicle quests for the worgen bugged now

comfirmed  bug of https://gyazo.com/5e18b1c2ef506c4ffe0de3a2ffa5b85b

[2021-09-22 22:52] Deathghat commented on #2920
This fix is broken again

[2021-09-23 13:50] Bringador opened #5336 "[Quest] The World Breaker - Twilight Highlands"
**Links**
https://cata-twinhead.twinstar.cz/?quest=27378

**What is happening**
You don't get summoned to Thrall after you use .bq to auto complete the prior quest #5161 must be because the chain is mostly a .bq all lines are broken

Q ID - 27378

**What should happen**
https://www.youtube.com/watch?v=MIFVR9u6bHw

[2021-09-23 13:57] Bringador opened #5337 "[Quest] The Terrors of Iso'Rath - Twilight Highlands"
**Link**
https://www.wowhead.com/quest=27379/the-terrors-of-isorath

**Whats happening**
So following on from " The Worldbreaker " quest thats been reported as broken #5336 you must now save 4 npc's,

Hargoth Dimblaze
Stormcaller Jalara
Earthmender Duarn
Stormcaller Mylra

You can free them from combat by killing the mobs, but the quest will not update nore do the NPCs have any dialog or chat opti

[2021-09-23 14:01] Bringador opened #5338 "[Quest] Nightmare - Twilight Highlands"
**Links**
quest https://cata-twinhead.twinstar.cz/?quest=27380

**Whats happening**
Last Quest in a chain of quests that are all bugged, the mob does not spawn for you to defeat, Iso'Rath.

Q ID - 27380

**What should happen**
Destroy the Brain of Iso'rath. a spell is cast on you https://cata-twinhead.twinstar.cz/?spell=81040
https://www.wowhead.com/quest=27380/nightmare#videos:id=88674

[2021-09-26 16:18] gorgar19 opened #5339 "NPC -camel - Uldum"
Links

https://www.wowhead.com/npc=162360/camel
https://www.wowhead.com/faction=1173/ramkahen

Whats happening

 killing this npc is giving Ramkahen faction when killed
 wow head locations shown will take you to wild camels  the ones giving faction are regular camels located south east of the obelisk of the sun and around the quest giver for Thieving Little Pluckers

[2021-09-26 16:33] Echinaceax commented on #5339
Found it @gorgar19 thanks
https://www.wowhead.com/npc=47720/camel

![image](https://user-images.githubusercontent.com/39439201/134816113-811ba7d0-ade4-4ec7-bf9c-0e2e2bfa4950.png)
![image](https://user-images.githubusercontent.com/39439201/134816136-422c0a72-ba1e-4340-ba06-91c32f317100.png)

[2021-09-26 17:22] Echinaceax opened #5340 "[NPC ] Garl Stormclaw - Un'Goro Crater"
**Links:**

npc https://www.wowhead.com/npc=38274/garl-stormclaw
quest https://www.wowhead.com/quest=24854/finding-stormclaw
quest https://www.wowhead.com/quest=24719/claws-of-white

**What is happening:**
NPC has same issue as silverpine npc `walking his path and then he goes slow motion then disappeared`
`waypoint related`

**What should happen:**
npc shouldnt disappear
https://www.youtube.com/w

[2021-09-28 13:58] gorgar19 opened #5341 "[Quest] cata daily fishing/cooking"
Links:

https://wowpedia.fandom.com/wiki/Cataclysm_daily_quests

What is happening:

player can do a daily quest in each city  for both fishing and cooking ,so 3x daily fishing and cooking per day

What should happen:

completing one should prevent you from doing the others

Other Information:

[2021-09-30 16:14] Echinaceax opened #5342 "[NPC] Arzeth the Powerless - Hellfire Peninsula"
**Links:**

npc https://cata-twinhead.twinstar.cz/?npc=20680
quest https://cata-twinhead.twinstar.cz/?quest=10369

**What is happening:**
NPC missing

**What should happen:**
NPC should be walking up and down the path for player to find in that zone
https://www.youtube.com/watch?v=FZNGBIvN-EM

Reported to GM on live

[2021-10-01 12:23] Echinaceax commented on #1377
@mfranca0009 (just a headsup)
https://wowpedia.fandom.com/wiki/Deathwing

we with lose the window of opportunity on this one soon
as you know we are at 4.2 atm

DB GUID for this creature is 383796
Entry 44744

fixes needed are:

- [ ] he needs to spawn randomly in azeroth `spawns checking`
- [ ] he needs to move a bit and killing player `waypath checking`
- [x] flame killing aura need to be smalle

[2021-10-02 12:31] Echinaceax opened #5343 "[NPC] Boglash - Zangarmarsh"
**Links:**

npc https://cata-twinhead.twinstar.cz/?npc=18281
quest https://cata-twinhead.twinstar.cz/?quest=9895

**What is happening:**

- [ ] NPC missing

**What should happen:**
_Locate and deal with Boglash, then return to Lethyn Moonfire at Cenarion Refuge._

Reported by player, confirmed by GM

[2021-10-03 17:37] Echinaceax commented on #4941
UPDATE

This seems to be fixed with new core
after players complete and deliver quest https://www.wowhead.com/quest=14375/last-chance-at-humanity players HS is automatically saved to Duskhaven

![image](https://user-images.githubusercontent.com/39439201/135765164-3004ff3b-d17f-45af-a2eb-b5ef8a86693b.png)
![image](https://user-images.githubusercontent.com/39439201/135765172-99ed7063-e8a0-45d4-9149-

[2021-10-04 16:04] Echinaceax opened #5344 "[Quest ]blood elf + giant -10774- Shadowmoon Valley"
**Links:**

https://tbc.wowhead.com/quest=10774/blood-elf-giant

**What is happening:**

- [ ] No quest credit given after killing https://tbc.wowhead.com/npc=22012/chancellor-bloodleaf

**What should happen:**
Slay `Chancellor Bloodleaf` and `Corok the Mighty` and recover Illidan's Command. Use the Wildhammer Flare Gun to signal another Wildhammer Gryphon Rider once you have accomplished this tas

[2021-10-05 21:32] Echinaceax commented on #942
update:
Tested on new core - still bugged

I think i saw why

Splintertree Post npc https://www.wowhead.com/npc=12616/vhulgra had the green (!)
Zoram'gar Outpost https://www.wowhead.com/npc=11901/andruk had the green (!)

Thraka <Wind Rider Master>https://cata-twinhead.twinstar.cz/?npc=34429 and Wind Tamer Shoshok <Flight Master>https://cata-twinhead.twinstar.cz/?npc=34943  dont

i think some of t

[2021-10-05 22:17] mfranca0009 commented on #942
@Echinaceax
Completely unrelated, it's a client issue. New core will do nothing in regards to fixing this. The discovery marker over their head has nothing to do with it....

It needs proper flight paths set in DBC, that's the proper way of fixing it. Other than that, it could be hackfixed by scripting and spawning the flight NPC and forcing the player to mount it, then proceeding to start a smoot

[2021-10-06 07:22] Echinaceax commented on #942
@mfranca0009
Yes i wasnt sure tbh, I added my thoughts as i retested new core. as you know from the list :)

ofc, we have to fix it the correct way :)

[2021-10-08 17:07] Echinaceax commented on #3566
From Totally broken

![huge error](https://user-images.githubusercontent.com/39439201/77981643-d3e3a480-730a-11ea-92d5-d456d27268ae.jpg)

### UPDATE

- [x] Map is now functional on new core thanks @mfranca0009 😄 and updated to live

still a lot of npcs to add but atleast zone exits now

![image](https://user-images.githubusercontent.com/39439201/136596047-8474ce4d-79f2-4d98-8da6-1adc4cba1c9e.png)

[2021-10-08 17:12] Echinaceax commented on #4441
### update

- [x] NPC is spawned

![image](https://user-images.githubusercontent.com/39439201/136615059-9f5d3f1c-f0cf-4eda-823a-a749f80a7cf3.png)

NPC can be accessed now (on New core PTR) with no client crash
new core coming soon

https://github.com/WoWManiaUK/Blackwing-Lair/issues/3566#issuecomment-938879057

nice job @mfranca0009

[2021-10-08 19:09] Echinaceax commented on #3566
https://www.wowhead.com/quest=14239/dont-go-into-the-light#comments

- [ ] missing quest discription

![image](https://user-images.githubusercontent.com/39439201/136612877-a9951905-a521-4f44-b8e0-d11b5a445769.png)

Should be like this

![image](https://user-images.githubusercontent.com/39439201/136612801-1fd350cf-a16f-4c6f-a552-ead2cf4c84a2.png)

[2021-10-08 19:33] Echinaceax commented on #3566
- [ ] NPC  has x2 quest dialogs https://cata-twinhead.twinstar.cz/?quest=14001

![image](https://user-images.githubusercontent.com/39439201/136615364-f54930f4-0646-4e6e-9e97-e70464b0e293.png)

[2021-10-08 19:40] Echinaceax commented on #3566
- [ ] Pterrordax Scavenger https://cata-twinhead.twinstar.cz/?npc=36719 needs flight

![image](https://user-images.githubusercontent.com/39439201/136616170-519f4bda-48fe-468e-92fa-266981966573.png)

[2021-10-08 20:54] Echinaceax commented on #5184
Fixed on new core (PTR)

[2021-10-08 21:32] Echinaceax commented on #634
fixed with new core

![image](https://user-images.githubusercontent.com/39439201/136627054-847ef63c-62aa-49fd-8025-c56d9e892890.png)
![image](https://user-images.githubusercontent.com/39439201/136636836-4cea9246-4e3f-4ec9-952b-cb8246284969.png)

[2021-10-08 22:01] Echinaceax commented on #1236
Fixed in new core

- [x] Window opens now

Functions will be fixed on class trainer full report for the new core

![image](https://user-images.githubusercontent.com/39439201/136629292-9a16e34a-0445-4afb-9fdd-e6a3799c21b0.png)
![image](https://user-images.githubusercontent.com/39439201/136629377-1ae553bf-3f74-43f7-98d9-8926eff38bd6.png)

[2021-10-08 22:08] Echinaceax commented on #1251
Fixed with new core
https://gyazo.com/c3d9bb53e4f52c3eba5100202b940e8b

[2021-10-08 22:15] Echinaceax commented on #1257
Map issue,
doesnt prevent player from accessing the vendors
We are not map editing so setting as is

[2021-10-08 22:15] #1257 closed

[2021-10-08 22:17] Echinaceax commented on #1581
Not fixed with new core
Needs random movement adding

[2021-10-08 22:38] Echinaceax commented on #4730
No longer an issue on the new core
Will re report if and when issue returnes

[2021-10-08 22:38] #4730 closed, assigned to mfranca0009

[2021-10-08 22:49] Echinaceax commented on #3151
Worked out why
can close this issue

[2021-10-08 23:00] Echinaceax commented on #4260
Fixed with another fix for Valor vendor item revamp

[2021-10-08 23:00] #4260 closed

[2021-10-08 23:04] Echinaceax commented on #5302
Fixed with new core

[2021-10-10 22:37] Echinaceax commented on #4303
fixed with new core

[2021-10-11 20:20] Echinaceax commented on #5263
Update
Fixed with new core
![image](https://user-images.githubusercontent.com/39439201/136850727-523de6db-9be4-4262-a93b-e32186c5889c.png)
![image](https://user-images.githubusercontent.com/39439201/136851158-5fe9d73a-cb01-4971-a6ab-fe77fa415dd9.png)
![image](https://user-images.githubusercontent.com/39439201/136850937-3ce0e3c2-3f1d-481f-adc9-32281d15b524.png)
![image](https://user-images.githubus

[2021-10-16 15:30] Echinaceax commented on #5181
**Update**

Mr. Pinchy's Magical Crawdad Box
https://cata-twinhead.twinstar.cz/?achievement=726

![image](https://user-images.githubusercontent.com/39439201/137593164-3b228014-a3fa-48f7-80d9-f9952c616b61.png)

[2021-10-16 19:48] Echinaceax commented on #4441
### UPDATE

- [x] MAP client crash fixed and gone on Live
- [ ] still has phasing issues though

[2021-11-04 18:28] Echinaceax opened #5345 "[NPC] Temp flight mounts not flying - Oculus"
**Links:**

Dungeon https://wowpedia.fandom.com/wiki/Oculus

Amber Drake https://cata-twinhead.twinstar.cz/?npc=27755
Emerald Drake https://cata-twinhead.twinstar.cz/?npc=27692
Ruby Drake https://cata-twinhead.twinstar.cz/?npc=27756

**What is happening:**
new flight issue bugged here too

- [ ] the summoned mounts players get cant fly

**What should happen:**
temp mounts players get should fly

R

[2021-11-14 20:19] NexusSqueek opened #5346 "Vote not working"
I am trying to vote on website to get vote points, I have voted 2 days in a row, but have not received any vote points.

[2021-11-14 23:35] Echinaceax commented on #5346
Hi @NexusSqueek
Github is for ingame bugs, this is not an ingame bug

however
Vote site is an external issue, and Janitor is aware of some of the vote sites are not giving tokens
Some advice from other players is: make sure your not using an adblocker

ATM i see only 1 token given

![image](https://user-images.githubusercontent.com/39439201/141703530-bfd4481f-ddce-4a62-b168-9c958eefce7a.png)

[2021-11-14 23:35] #5346 closed, assigned to nobody

[2021-11-16 23:49] Surumuchi commented on #4417
Please note that the ID for the Horde side of this quest is different, as it's not working either.

https://www.wowhead.com/quest=26359/see-raptor