[2021-02-12 17:46] Novaveteran commented on #5074
The gates close yes. But they dont open again after killing which is the problem
in that video he has already killed the boss, was just showing the end where you can see the gates are open as a example

[2021-02-12 17:58] mfranca0009 commented on #1253
Should be fixed, the bounce distance was set to 7.5 yards and I've updated it to 10 yards based on the patch 3.0.3 patch note. It should be correct, there was no changes for bounce distance after 3.0.3 for Cataclysm.

[2021-02-12 18:07] Echinaceax opened #5076 "[NPCs] Dungeon quest NPCs (phasing) - Stratholme"
**Links:**

- [ ] https://cata-twinhead.twinstar.cz/?npc=45206

- [ ] https://cata-twinhead.twinstar.cz/?npc=45329

- [ ] https://cata-twinhead.twinstar.cz/?npc=45330

- [ ] https://cata-twinhead.twinstar.cz/?npc=45201

**What is happening:**
- these npcs need looking into, see if they are spawned correctly
can only been seen with Dev commands on

notice no npcs on this video https://www.youtube.c

[2021-02-12 18:40] golosomie commented on #5074
Can confirm that the outer gate doesn't open after killing Lord Aurius Rivendare (it should).

[2021-02-12 18:48] mfranca0009 commented on #5071
All set 👍

Only item missing is "Key of Time" (30635) because it was removed in Cataclysm expansion (at or before patch 4.2.0).

[2021-02-12 18:57] golosomie commented on #4273
@Echinaceax
Confirmed fixed in PTR.

[2021-02-12 19:03] golosomie commented on #5074
@mfranca0009  Right now the gates to the boss open when the 3 minibosses have been killed.
It should instead open when all the 5 Thuzadin Acolytes (NPC 10399) in all 3 Ziggurats have been killed.

[2021-02-12 19:14] mfranca0009 commented on #5068
All set 👍

3 items no longer needed (ammunition, keys, etc.) have not been added in.

[2021-02-12 19:30] golosomie commented on #3666
@mfranca0009 Confirmed on PTR that this is still bugged.
Once you activate Crusader aura, the movement speed increase from Pursuit of Justice is removed until the next relog.

[2021-02-12 20:49] Echinaceax commented on #5071
confirmed fixed in PTR
some items are not seen coz of class specific
though seemd priests see all :P

[2021-02-12 20:50] Echinaceax commented on #5068
Confirmed fixed in PTR

[2021-02-12 22:54] Echinaceax opened #5077 "[Quest] Premature Explosionation - Uldum"
**Reported from ingame player**

**Links:**
https://www.wowhead.com/quest=27141/premature-explosionation
https://www.wowhead.com/npc=44860/harrison-jones

**What is happening:**
- Quest doesnt work
- After completing by ingame ticket player couldnt deliver quest back either they told the GM

**What should happen:**
We knew this could happen after added Harrison Jones from this fix #2005

[2021-02-12 23:05] mfranca0009 commented on #4806
All set, item has been added and position of NPC has been corrected.

[2021-02-12 23:09] mfranca0009 commented on #4791
Cavern of Time doesn't have information on this NPC selling items.

Using Twinstar data instead of WoWhead.

[2021-02-12 23:58] Echinaceax opened #5078 "[Quest] captive of deathholme - Ghostlands"
**Reported to a gm**

**Links:**

https://www.wowhead.com/quest=9164/captives-at-deatholme
https://www.wowhead.com/item=22628/janedas-restorative-draught

**What is happening:**
- no quest credit

**What should happen:**
_Take Janeda's Restorative Draught to Deatholme and rescue Apprentice Varnis, Apothecary Enith and Ranger Vedoran. Return to Arcanist Janeda at the Sanctum of the Sun for a reward

[2021-02-13 02:03] mfranca0009 commented on #4791
All set, vendor is accessible and will also give an option to locate closest repair NPC.

Low priority issue, she isn't carrying a barrel as she should be. The spell is on her (hence why she is holding her hand in the air), but the spell doesn't display the barrel on her for some reason; won't fix for now.

[2021-02-13 02:08] mfranca0009 opened #5079 "[NPC/Vendor] Earthmender Doros [Deepholm]"
**Links:**
https://cata-twinhead.twinstar.cz/?npc=45363
https://wow.gamepedia.com/Earthmender_Doros

**What is happening:**
Suppose to be a Repairs NPC, but only shows dialog text when interacting with; no gossip options.

**What should happen:**
Needs to show gossip options and provide a source for repairing items for players. Also, should have a gossip option to where player could go for general

[2021-02-13 02:12] mfranca0009 commented on #4758
This NPC does NOT sell anything, therefore she should only offer the hearthstone bind and not an option for viewing vendor items.

I'll delete the duplicate though of course 👍

[2021-02-13 02:50] mfranca0009 commented on #3985
All set, including the leatherworking supplies vendors.

[2021-02-13 03:01] mfranca0009 commented on #3066
There are MULTIPLE versions of this NPC, need to know which one I'm fixing and/or if all of them need to be fixed.. @Echinaceax

http://cata.cavernoftime.com/?search=Kezzik+the+striker
https://cata-twinhead.twinstar.cz/?search=kezzik+the+striker

[2021-02-13 05:41] mfranca0009 commented on #4584
Made some changes, because original script wasn't using the existing gossip from database.

BUT, there isn't an issue with this vendor, you need to have friendly or higher reputation rating with "The Consortium" (ID 933) to access his shop.

His npc text in the gossip window reflects this, because when you have the proper reputation rating he says "Ah, I see you are a friend to the Consortium. Per

[2021-02-13 06:55] mfranca0009 commented on #5079
Working on this, but need to implement "repair-only" type NPCs... since this NPC doesn't sell anything but only offers repairs.

[2021-02-13 10:34] Echinaceax commented on #3066
this one @mfranca0009 https://cata-twinhead.twinstar.cz/?npc=54650

i will double check when PTR is up

[2021-02-13 16:02] golosomie commented on #4791
@mfranca0009 Confirmed fixed on your TR.

[2021-02-13 16:06] golosomie commented on #4758
@mfranca0009 Confirmed fixed on your TR. Now directly offers Hearthstone bind when talking to her.

[2021-02-13 16:09] golosomie commented on #4584
@mfranca0009 Confirmed fixed on your TR. Now has vendor option only when friendly or higher with The Consortium.

[2021-02-13 16:15] golosomie commented on #3985
@mfranca0009 Aristaleon Sunweaver's position seems good now. But Hortak Kenzo (Tailoring Supplies Vendor, NPC 50456) is now stuck in the wall.
![grafik](https://user-images.githubusercontent.com/51303221/107854856-10cf6180-6e1f-11eb-8a58-1969fb04d50a.png)

[2021-02-13 16:17] mfranca0009 commented on #4758
I'll add the flag so it still displays gossip option instead of directly asking to set hearthstone bind, but either way fix confirmed 👍

[2021-02-13 16:19] mfranca0009 commented on #3985
@golosomie  I didn't have name plates on so never saw that NPC 😂

Could you open a new report for that NPC and I will fix it shortly?

Marking as fix confirmed, original issue resolved.

[2021-02-13 16:29] golosomie commented on #2146
@mfranca0009 confirmed fixed in your TR. All spells that profit consume the buff correctly.

[2021-02-13 16:38] golosomie opened #5080 "[Twilight Highlands] Hortak Kenzo (Tailoring Supplies Vendor) is spawned inside a wall"
**Links:**
https://www.wowhead.com/npc=50456/hortak-kenzo

**What is happening:**
Hortak Kenzo (Tailoring Supplies Vendor in Dragonmaw Port, Twilight Highlands) is spawned inside a wall.

**What should happen:**
He should stand next to his buddy Aristaleon Sunweaver.

see screenshot in https://github.com/WoWManiaUK/Blackwing-Lair/issues/3985#issuecomment-778639809

[2021-02-13 16:41] mfranca0009 commented on #5079
All set 👍

[2021-02-13 16:45] golosomie commented on #5079
@mfranca0009 Now has a repair option, but his wandering distance seems too large. Can you look into that or should I make another issue?

[2021-02-13 16:46] mfranca0009 commented on #5079
Make new issue, and add tag of low priority @golosomie

[2021-02-13 16:51] golosomie opened #5081 "[Low Priority] [NPC] Earthmender Doros: Wandering Distance too high."
**Links:**

https://www.wowhead.com/npc=45363/earthmender-doros

**What is happening:**

He is awkwardly clipping over edges / walking off the stairs.

**What should happen:**

Should probably not move at all.

[2021-02-13 16:58] mfranca0009 commented on #5080
All set 👍

[2021-02-13 17:04] mfranca0009 commented on #5067
Is Hargus the Gimp the only vendor not reacting? @Echinaceax

We need full list of vendors tested that are not reacting so I can fix all of them at once. From OP, it sounds like there is multiple vendors not working; I need the links (entry IDs) for all of them.

[2021-02-13 17:08] Echinaceax commented on #1253
confirmed fixed in PTR

much better @mfranca0009

![image](https://user-images.githubusercontent.com/39439201/107856120-5f342e80-6e26-11eb-879e-1b65a318cfef.png)

[2021-02-13 17:13] Echinaceax commented on #5080
confirmed fixed in PTR 👍

[2021-02-13 17:27] Echinaceax commented on #3066
as a mage i see all sets
 Gladiator, Merciless and Vengefull.

![glad](https://user-images.githubusercontent.com/39439201/107856516-f0a4a000-6e28-11eb-8929-0a2af31b1576.jpg)
![merc](https://user-images.githubusercontent.com/39439201/107856518-f306fa00-6e28-11eb-8c0e-82d976f4d310.jpg)
![veng](https://user-images.githubusercontent.com/39439201/107856519-f4382700-6e28-11eb-8512-c138310e6b4f.jpg)

nee

[2021-02-13 17:41] Echinaceax commented on #5067
all of the above @Elvorfindra said

[2021-02-13 17:48] #3066 closed

[2021-02-13 17:56] mfranca0009 commented on #5067
So far, we have two NPCs not functioning properly after a certain quest has been completed.

### On Ship
https://www.wowhead.com/npc=28500/master-siegesmith-corvus

### On Ground (Off Ship)
https://www.wowhead.com/npc=28760/hargus-the-gimp

Need to confirm these are the ONLY two or if there is more having problems.

[2021-02-13 18:03] Echinaceax opened #5082 "Fiona (wrong location/phasing issues)"
**Links:**

https://www.wowhead.com/npc=45417/fiona

**What is happening:**
- mostly wrong location
-

**What should happen:**
she should be in the correct location

**Other Information:**

https://github.com/WoWManiaUK/Blackwing-Lair/issues/5070
https://github.com/WoWManiaUK/Blackwing-Lair/issues/4509
https://github.com/WoWManiaUK/Blackwing-Lair/issues/4433

[2021-02-13 18:04] Echinaceax commented on #5070
opened one main report here #5082

[2021-02-13 18:04] #5070 closed, assigned to mfranca0009

[2021-02-13 18:05] Echinaceax commented on #4509
opened one main report here #5082

[2021-02-13 18:05] #4509 closed, assigned to mfranca0009

[2021-02-13 18:05] Echinaceax commented on #4433
opened one main report here #5082

[2021-02-13 18:05] #4433 closed, assigned to mfranca0009

[2021-02-13 18:21] mfranca0009 commented on #4089
https://wowwiki-archive.fandom.com/wiki/Guardian_of_Ancient_Kings_(retribution)

The Retribution version of the Guardian of Ancient Kings wields [Decimation] in both hands.
World of Warcraft: Cataclysm Patch 4.2.0 (2011-06-28): Guardian of Ancient Kings uses the new Assist pet stance functionality.

From screenshot, it also looks like he's only using one weapon and not two. Needs to have Decimatio

[2021-02-13 18:43] Elvorfindra commented on #5067
That is correct @mfranca0009 ! Those 2 NPC are the ones that should do repairs but are not working!

[2021-02-14 00:47] golosomie commented on #3817
@mfranca0009 Confirmed fixed on PTR. Both ranks work as expected.

[2021-02-14 01:19] golosomie commented on #2298
@mfranca0009 Confirmed fixed on PTR. Works across multiple targets, damage seems fine.

[2021-02-14 01:53] mfranca0009 commented on #5067
Okay thanks 👍  @Elvorfindra

[2021-02-14 03:21] eskydo opened #5083 "One Shot. One Kill - Quest ID 5713"
**Links:**

https://classic.wowhead.com/quest=5713/one-shot-one-kill
https://cata.cavernoftime.com/quest=5713

**What is happening:**

I can take the quest, but once I do nothing happens, I waited for 30+mins

**What should happen:**

When you take the quest 3 waves of furbolgs are meant to attack with increasing difficulty

**Is it crashing the server?:**

No

**Other Information:**

[2021-02-14 05:14] mfranca0009 commented on #5067
No problems using these vendors...they do work. I did change it to be more blizzlike, actually showing their gossip options instead of opening directly to their vendor store.

The only issue I could see is at quest, https://www.wowhead.com/quest=12779/an-end-to-all-things, and when turning it in, you're at a different phase then the default phase you start in for DKs.

You end up in phase 175 wher

[2021-02-14 09:42] Atheros01 commented on #762
same today

[2021-02-14 10:13] Echinaceax commented on #5067
@mfranca0009 thanks
then we just send the tweaks you did then leave the rest

[2021-02-14 12:22] Echinaceax commented on #4146
update
i also seen that ours is to agressive in comparision to this video https://www.wowhead.com/quest=12779/an-end-to-all-things#videos:id=54245

[2021-02-14 13:23] Echinaceax commented on #5074
same issue as this one that is already reported ?
https://github.com/WoWManiaUK/Blackwing-Lair/issues/4278
player explains https://github.com/WoWManiaUK/Blackwing-Lair/issues/4278#issuecomment-599894663

@mfranca0009 close one that you want ok

[2021-02-14 13:28] Echinaceax commented on #4152
this has phasing issues same as the one in deepholm
and some glitchy bugs that make npcs slide off the ship

[2021-02-14 15:17] mfranca0009 commented on #1753
Requires a whole event, after the priestesses die, the queen looks as if she was teleported in from the green portal and walks off to the side. Then, she will say a line and Malfurion Stormrage will spawn in and run up the steps to the platform.

It's a whole event, not just a missing NPC. Will get to it shortly.

Video: https://www.youtube.com/watch?v=dGCAXEca53E

[2021-02-14 15:29] mfranca0009 commented on #1749
Need confirmation before changing this, the Nightmare Guardians that drop the scroll, they should ONLY be visible when in the Nightmare phase after clicking on portal, or all the time?

I'm assuming they should only be visible during the nightmare phase after clicking on Nightmare Portal. @Echinaceax

[2021-02-14 16:13] mfranca0009 commented on #4915
### Mana-Tombs
Yor is the only one missing in Heroic; all others are there.... Tested in Normal and Heroic Dungeon mode.

- [ ] Yor (Heroic)

### Auchenai Crypts
NONE MISSING. Tested in Normal and Heroic Dungeon mode.

### Shadow Labyrinth
NONE MISSING. Tested in Normal and Heroic Dungeon mode.

### Sethekk Halls
NOT MISSING. Tested in Normal and Heroic Dungeon mode.

[2021-02-14 16:20] mfranca0009 commented on #4676
Not just missing dialog... it needs the waypoint pathing scripted as well.

https://www.wowhead.com/npc=28298/captive-crocolisk

Also, is this quest completable without the crocolisk ride?? @Echinaceax

[2021-02-14 16:32] mfranca0009 commented on #4602
It will not gain more Thorns damage from AP gained by Vengeance.

[Attack power gained from Vengeance will not increase Thorns damage. ]

It should calculate AP and/or SP... ?
 **Equation:** $?s33876[${$M1+($AP*.168)}]  [${($M1+($SP*.168))*$<mult>}]

33876 = Mange (Cat Form)    [It's retrieving data from this spell to calculate damage].
**Description variable Id:** 235    [Not sure what this is /

[2021-02-14 16:53] mfranca0009 commented on #4238
https://wowwiki-archive.fandom.com/wiki/Judgements_of_the_Just

![image](https://user-images.githubusercontent.com/26092980/107883113-ed59f480-6eba-11eb-8ed2-9118b8fa1210.png)

Based on evidence from a WoW source, it only shows information on Seal of Justice and how it effects the duration of the debuff on the target. Provide SOLID evidence that EVERY seal should proc this debuff and we will chang

[2021-02-14 16:53] #4238 closed

[2021-02-14 16:55] mfranca0009 commented on #4234
Can this be re-tested, and check if it's functioning properly? Vanish was fixed and is currently on live. @Echinaceax

[2021-02-14 17:36] mfranca0009 commented on #4175
All set, Glyph of Invisibility will add the 40% movement speed buff and when invisibility expires (no longer invisible) then the 40% movement speed increase will be removed.

[2021-02-14 18:06] mfranca0009 commented on #3666
This is all set, once the crusader aura is removed, Pursuit of Justice (Rank 1 / 2) will be re-applied to the player.

[2021-02-14 18:18] mfranca0009 commented on #4126
Removed the check for "allowable" dispel scenarios. This should make it where the dispel will be cast even if there isn't a debuff present on the target and it will cast as normal; wasting mana.

It should not provide the "Nothing to Dispel" error message anymore.

![image](https://user-images.githubusercontent.com/26092980/107886748-002af400-6ed0-11eb-92ee-52a02d9d2c35.png)

[2021-02-14 18:19] Echinaceax commented on #4676
@mfranca0009 no, quest credit comes from riding the crog
also the quest delivery  Zepik the Gorloc Hunter 28216 isnt there

[2021-02-14 18:27] Echinaceax commented on #4175
from what i see @mfranca0009
no change

no invis 108%

![rs1](https://user-images.githubusercontent.com/39439201/107885416-85c39980-6efa-11eb-9bcf-6001f2f13591.jpg)

with invis and glyph still 108%

![rs2](https://user-images.githubusercontent.com/39439201/107885430-95db7900-6efa-11eb-8739-825dafa2a3f6.jpg)

[2021-02-14 18:57] Echinaceax commented on #4175
confirmed fixed in PTR using new fresh mage

![image](https://user-images.githubusercontent.com/39439201/107886242-e81e9900-6efe-11eb-8acd-50d022fa2d2b.png)

[2021-02-14 19:39] eskydo opened #5084 "Writings Of The Void - Quest ID 28529"
**Links:**

https://www.wowhead.com/quest=28529/writings-of-the-void
https://www.wowhead.com/npc=48764/telarius-voidstrider#comments
https://cata.cavernoftime.com/quest=28529

**What is happening:**

Nothing

**What should happen:**

When you jump/fall into the whirlpool (Maw Of The Void) there should be a cinematic of your char going around in the whirlpool and then you should be tp'd into a hidd

[2021-02-14 22:56] golosomie commented on #4126
@mfranca0009 Confirmed fixed on PTR for Cleanse Spirit, Remove Corruption, Remove Curse, Cleanse, Curse Disease and Dispel magic.

[2021-02-14 23:03] golosomie commented on #3666
@mfranca0009 Confirmed fixed on PTR for both ranks of Pursuit of Justice.

[2021-02-15 00:46] mfranca0009 commented on #3779
This is all set, once Dancing Rune Weapon buff (parry increase) has expired, which is the same time the rune weapon summon despawns, it will give you 15% parry increase for 12 seconds.

https://www.wowhead.com/spell=98966/item-death-knight-t12-blood-4p-bonus

The aura being given to the player should be: Flaming Rune Weapon (Spell ID 101162).

[2021-02-15 01:54] mfranca0009 commented on #3460
When you get the chance, could you possibly look into this? @golosomie

In order to implement this, if it is accurate, then I'll need a full list of spells that should be effected by this mechanic with spell IDs.

[2021-02-15 04:51] mfranca0009 commented on #4107
In progress:

- [x] Focused Insight procs even on miss.
- [x] Focused Insight procs off of ANY shock spell (Earth Shock, Flame Shock, Frost Shock).
- [x] Focused Insight should buff Healing Rain.

[2021-02-15 06:20] mfranca0009 commented on #4107
All set 👍 needs testing.

[2021-02-15 18:08] Hespericless commented on #4238
You know Seal of Justice is there because the talent increases its slow duration, right? The one not providing "SOLID evidence" here is you. Besides, even if your claim is correct, there should still be a fix preventing the talent to proc from Seal of Insight.
I don't play on this server anymore because this is the quality of fixes players are getting.
Please consider reopening this issue, and imp

[2021-02-15 18:13] Echinaceax commented on #4238
no need to be rude @Hespericless

[2021-02-15 18:13] mfranca0009 commented on #4238
For one, I have no access to the WoW-Mania server; only Reign. Two, WotLK is not the same as Cata and therefore will not be considered the same.

I'm not the evidence fetcher, I fix the issues when they're relevant to be fixed with sufficient evidence behind them. If you want to make a report with only spell IDs and no evidence from lets say a Blizzard GM comment, WoW patch note, or anything SUBST

[2021-02-15 19:21] mfranca0009 commented on #4923
All set 👍

With Glyph:
![image](https://user-images.githubusercontent.com/26092980/107985899-01742380-6f99-11eb-9f51-aaf97920997e.png)

Without Glyph:
![image](https://user-images.githubusercontent.com/26092980/107985915-08029b00-6f99-11eb-8a51-351a151e086c.png)

It properly adds 20% more mana from the original calculation of Mage Armor.

[2021-02-15 20:57] mfranca0009 commented on #4513
I confirmed this, it was counting the original 20 second timer and removing the buff after 10 seconds of leaving stealth the second time.

**Now with fix:**

- [x] Timer executed on leaving Stealth
- [x] If going back into stealth, the original timer will be removed.
- [x] Leaving stealth again, you'll have a fresh timer of 20 seconds when overkill will be removed.

I tested this fix with Vanish a

[2021-02-15 21:19] mfranca0009 commented on #4301
At the moment, this spell looks fine when I tested it on "Schnottz Air Trooper" in Uldum. This NPC has ranged attack with a gun and uses a bomb spell for ranged spell combat.

https://www.wowhead.com/npc=46979/schnottz-air-trooper

I opened up with Holy Word: Chastise, he gained the debuff and became stunned / disoriented, and then once it expired he was attacking me with his ranged ability and au

[2021-02-15 21:20] #4301 closed

[2021-02-15 21:29] mfranca0009 commented on #4300
I assume this is the Druid T11 4-piece Bonus effect, since 2-piece Bonus effect is not related to Bloom.

Druid T11 4P Bonus Spell: https://www.wowdb.com/spells/90158-item-druid-t11-restoration-4p-bonus

Will look into this 👍

[2021-02-15 21:38] Echinaceax commented on #4923
without glyph

![image](https://user-images.githubusercontent.com/39439201/107995238-80d81600-6fde-11eb-9889-5682f206f615.png)

with glyph
![image](https://user-images.githubusercontent.com/39439201/107995095-4f5f4a80-6fde-11eb-87b1-6fa529eb4868.png)

[2021-02-15 21:39] mfranca0009 commented on #4300
Can confirm, it should use Patch 4.2.0's effect, when Harmony is active then you also receive the spirit boost from Bloom.

![image](https://user-images.githubusercontent.com/26092980/107995282-58372880-6fac-11eb-9b1e-a8c7ef509f03.png)

[2021-02-15 23:38] mfranca0009 commented on #4300
Modified to fit Patch 4.2.0, all set 👍

[2021-02-16 01:10] mfranca0009 commented on #4245
- [x] Require a stack of 5 raw fury to use item.
- [x] Consume (remove) the stack of 5 raw fury when used.

[2021-02-16 06:26] Atheros01 opened #5085 "Faces Of Evil"
The Vilebranch Tiki Masks you're supposed to burn don't give quest credit when you use the torch near them, and there is no way to interact with them directly. As such the quest cannot be completed.

[2021-02-16 07:07] Atheros01 opened #5086 "Summit Of Fate"
The quest Summit of Fate in Hinterlands requires that I obtain 8 Spider Idols. You're supposed to be able to loot them from the Sacrificed Vilebranch corpses, but no such option exists. As such the Spider Idols cannot be obtained and the quest cannot be completed.

[2021-02-16 08:42] Echinaceax commented on #5085
already reported here #349

[2021-02-16 08:42] #5085 closed, assigned to nobody

[2021-02-16 08:43] Echinaceax commented on #5086
already reported here #351

[2021-02-16 08:43] #5086 closed, assigned to nobody

[2021-02-16 20:44] mfranca0009 commented on #5058
### Add Calendar Details Up to Year 2025 (With Correct Date Information)
- [x] Lunar Festival
- [x] Love Is In The Air
- [x] Pilgrim's Bounty
- [x] Children's Week
- [x] Noblegarden
- [x] Harvest Festival
- [x] Midsummer Fire Festival - 341
- [x] Pirates' Day - 398
- [x] Brewfest - 372
- [x] Hallow's End - 324
- [x] Day of the Dead - 409
- [x] Feast of Winter Veil - 141
- [x] Darkmoon Faire - 479

[2021-02-17 00:22] mfranca0009 commented on #5058
Player's creating their own events work fine, so I'm unsure the specifics of what is wrong with them... need more details on what issue is happening; also we should put it into a separate issue. @Echinaceax

![image](https://user-images.githubusercontent.com/39439201/108140155-ccafbb80-70c1-11eb-9398-844a3d56673a.png)

All main events listed above have been updated to trigger properly and show in

[2021-02-17 01:50] golosomie commented on #4245
@mfranca0009 Confirmed fixed on PTR.

[2021-02-17 01:56] golosomie commented on #4107
@mfranca0009 Confirmed fixed on PTR.

[2021-02-17 02:03] golosomie commented on #3779
@mfranca0009 Confirmed fixed on PTR.

[2021-02-17 05:21] Atheros01 opened #5087 "Frederick's Fish Fancy"
https://www.wowhead.com/quest=27450/fredericks-fish-fancy

**What is happening:**

Cannot interact in any way with the needed fish/mollusks, therefore the needed quest items cannot be gathered.

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2021-02-17 11:37] Echinaceax commented on #5087
was reported and fixed here #4411
Wonder why its not working now, it worked before after the fix @Atheros01

[2021-02-17 11:43] Echinaceax commented on #5087
confirmed broken again https://www.wowhead.com/quest=27450/fredericks-fish-fancy#videos:id=66875

cant click = no quest credit

![image](https://user-images.githubusercontent.com/39439201/108199574-87b97280-711d-11eb-9024-ac1d9790bd29.png)

[2021-02-17 19:54] Echinaceax opened #5088 "[Event] Children's Week - full report"
**Links:**
https://wow.gamepedia.com/Children%27s_Week
https://cata-twinhead.twinstar.cz/?event=201
https://cata-twinhead.twinstar.cz/?search=Orphan

**NPCs missing** **[ALL FIXED]**

- [x] Arch Druid Hamuul Runetotem https://cata-twinhead.twinstar.cz/?npc=52729
- [x] Kador Cloudsong https://cata-twinhead.twinstar.cz/?npc=52787
- [x] Baine Bloodhoof https://cata-twinhead.twinstar.cz/?npc=52700
- [

[2021-02-17 20:02] mfranca0009 commented on #1403
Both quests listed are now properly triggering at the proper areas, and are not auto-completing. Also, the Blood Elf Orphan has the proper texts and emote texts triggering for the specified quests above.

[2021-02-17 20:29] Echinaceax opened #5089 "[NPC] Orphan Matron Mercy - (issue3) - Children's Week"
**Links:**
npc - https://www.wowhead.com/npc=22819/orphan-matron-mercy
quest - https://www.wowhead.com/quest=10942/childrens-week

![image](https://user-images.githubusercontent.com/39439201/108263410-87919500-7166-11eb-8ff3-2d29a3eecc05.png)

**What is happening:**
- duplicate quest
- but when you pick one the other disapears

**What should happen:**
should only be one per faction

[2021-02-17 23:34] Echinaceax commented on #5088
### added info
https://cata-twinhead.twinstar.cz/?issue=14752

https://www.wowhead.com/quest=29093/cruisin-the-chasm

_Quest Cruisin 'the Chasm For players with an open final phase in Sentinel Hill (after completing the q line), NPCs are not available at this stage exactly according to the original bug description in # CATACLYSM-10835: Quest - Cruisin' the Chasm (Fixed). Q cannot be completed in a

[2021-02-18 02:15] mfranca0009 commented on #5089
I corrected the double quests showing for both Horde and Alliance and two other problems as well:

- [x] Gossip options available when orphan whistle has been lost / deleted to retrieve another.
- [x] Correctly manage two different gossip menus to provide proper NPC text (for Alliance).

You can only see the gossip option to retrieve another whistle if you've completed the first "Children's Week"

[2021-02-18 02:29] mfranca0009 commented on #1406
WoWhead is incorrect, look at cata.cavernoftime:
http://cata.cavernoftime.com/npc=14451#starts

Should be entry 14451, not 51989. Same NPCs but different entries.

[2021-02-18 02:44] mfranca0009 commented on #1406
All set, now offers the Children's Week start quest 👍

[2021-02-18 03:38] Atheros01 opened #5090 "Avruu's Orb"
**Links:**
https://www.wowhead.com/quest=9418/avruus-orb
from WoWHead or our Armory

**What is happening:**
When you damage Aeranas enough to make him turn friendly he heals back to full (as normal) but then instead of allowing you to turn in the quest to him he turns hostile again. Rinse wash and repeat.

**What should happen:**
 When you damage him enough to make him turn friendly he is supposed

[2021-02-18 18:26] Novaveteran opened #5091 "Death Comes From On High"
**Links:**

http://cata.cavernoftime.com/quest=12641 (Death Comes From On High)

https://www.youtube.com/watch?v=2P6Kdwy3He0

**What is happening:**

It is taking a horribly long time to do this quest which is only meant to take like a minute. Because of the not launching you to town and the super slow movement of the eye.

**What should happen:**

Should launch you towards the town at high speed.

[2021-02-18 21:07] mfranca0009 commented on #5088
NPC triggers don't have to be added in-game, they are only used for scripting purposes in C++ for quest credit, achievement credit, etc.

[2021-02-18 21:49] Atheros01 opened #5092 "Coastal Delicacies"
**Links:**

from WoWHead or our Armory

**What is happening:**

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2021-02-18 21:51] Atheros01 commented on #5092
https://www.wowhead.com/quest=28146/coastal-delicacies

Attempting to do this quest as a group crashes the server. Checked 3 times to confirm, now reported.

[2021-02-18 21:58] Echinaceax commented on #5092
thanks @Atheros01 was fixed here #312

you mean crashed the game client or the server its self ?
will recheck it

[2021-02-18 22:49] Echinaceax commented on #5092
@mfranca0009
confirmed server crashes while in group,  player on same quest
spider confliction

[2021-02-18 23:28] mfranca0009 commented on #5092
I know where the problem is, will have a fix made and tested hopefully by tonight 👍

[2021-02-19 07:49] Atheros01 opened #5093 "Latent Disease (issue2) Suggestion"
**Links:**
https://www.wowhead.com/quest=26934/latent-disease

**What is happening:**
The needed quest item only spawns in one location in a group of 5, and has a horribly long respawn time

**What should happen:**
Suggest fix for spawn locations and respawn timers, as the quest is basically worthless due to the massive respawn timer and scarcity of said quest item (Plague Tangle)
**Is it crashing

[2021-02-19 09:43] Atheros01 commented on #717
still not fixed

[2021-02-19 11:09] Echinaceax commented on #717
we know @Atheros01 Devs will fix it when they get to it

[2021-02-19 11:14] Echinaceax commented on #5093
@mfranca0009
wow head show 42 https://www.wowhead.com/npc=1815/diseased-black-bear
Twinstar shows 15 https://cata-twinhead.twinstar.cz/?npc=1815
 i will check how many are spawned

update:

There are 15 spawned atm, yes a little low according to wowhead but same as twinstar, quest completable
![image](https://user-images.githubusercontent.com/39439201/108498156-c16cb380-72ac-11eb-8c37-8972bbdfe1aa

[2021-02-19 11:33] Echinaceax commented on #5093
i just did this quest myself and the quest item loots are from around the body , https://gyazo.com/94addd5337f5802c56dfa3fac58bc596

2 bears gave 10/20 quest items so 4 bears gave me quest complete

no issue here completing the quest

![image](https://user-images.githubusercontent.com/39439201/108499498-ae5ae300-72ae-11eb-85d7-574e269d0035.png)

[2021-02-19 11:34] #5093 closed, assigned to nobody

[2021-02-19 11:40] Echinaceax commented on #1406
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/108500145-a18abf00-72af-11eb-8f71-ee7d6885ed3b.png)

[2021-02-19 11:42] Echinaceax commented on #5089
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/108500390-fcbcb180-72af-11eb-8422-e7588a33de54.png)

![image](https://user-images.githubusercontent.com/39439201/108500521-32619a80-72b0-11eb-8d34-28333a3d751e.png)

[2021-02-19 12:11] Echinaceax opened #5094 "[Quest] Ridin' the Rocketway - Children's week"
**Links:**

https://www.wowhead.com/quest=29146/ridin-the-rocketway

 video https://www.youtube.com/watch?v=47GepJFUNqE

![image](https://user-images.githubusercontent.com/39439201/108502664-6f7b5c00-72b3-11eb-944f-5ac79fd8e1c9.png)

**What is happening:**
- cant mount the Redhound 2seater
- Orphan doesnt move to mount it either

**What should happen:**

_Head to the Southern Rocketway Terminus in

[2021-02-19 12:27] Echinaceax opened #5095 "[Quest] The Banshee Queen - Children's week"
**Links:**

https://cata-twinhead.twinstar.cz/?quest=29167

**What is happening:**
- nothing happens when you summon your orphen

**What should happen:**
Should be a dialog then quest complete

can only see this video
https://www.youtube.com/watch?v=Msl2UmmvsQE

[2021-02-19 12:35] Echinaceax opened #5096 "[Quest] The Fallen Chieftain - Children's week"
**Links:**

https://www.wowhead.com/quest=29176/the-fallen-chieftain

from 04:11 https://www.youtube.com/watch?v=VtjYJqPDRI0

**What is happening:**
- nothing happens, no chat dialog

**What should happen:**
_Take your orphan to Red Rocks to visit the funeral pyre of Cairne Bloodhoof. Call for your orphan if he is not present when you arrive._

  Take Your Orphan to Visit Red Rocks

[2021-02-19 14:51] Echinaceax opened #5097 "[Quest] The Biggest Diamond Ever! - Children's week"
**Links:**
https://www.wowhead.com/quest=29106/the-biggest-diamond-ever

**What is happening:**
- no trigger
- cant complete

**What should happen:**
_Take your Human Orphan into Old Ironforge, beneath the High Seat. Make sure to call for him if he is not present when you arrive._

	Visit King Magni in Old Ironforge

![image](https://user-images.githubusercontent.com/39439201/108520784-54b4e180-72

[2021-02-19 15:10] Echinaceax opened #5098 "[Quest] Let's Go Fly a Kite - (ally) - Children's week"
**Links:**

https://www.wowhead.com/quest=29117/lets-go-fly-a-kite
npc https://www.wowhead.com/npc=52358/craggle-wobbletop
item missing https://www.wowhead.com/item=68890/dragon-kite-2-pack

**What is happening:**
- cant buy the item needed for quest

**What should happen:**
Purchase a Dragon Kite Two-Pack from Craggle Wobbletop in Stormwind and then use it to fly kites with your Human Orphan. If

[2021-02-19 16:15] mfranca0009 commented on #5092
No crash after fix 👍

[2021-02-19 16:16] Echinaceax commented on #5092
confirmed fixed in dev
no crash thx :)

[2021-02-19 18:16] Echinaceax opened #5099 "[Quest] The Bronze Dragonshrine - Children's week"
**Links:**
https://cata-twinhead.twinstar.cz/?quest=13934

**What is happening:**
- no trigger
- cant complete

**What should happen:**
_Take your orphan, Kekek, to visit the Bronze Dragonshrine. Make sure to call for him if he is not present when you get there._

 Kekek taken to Bronze Dragonshrine

https://www.youtube.com/watch?v=SXfyFs4rYQg

[2021-02-19 18:46] Echinaceax opened #5100 "[Quest] Playmates - Children's week"
**Links:**
https://cata-twinhead.twinstar.cz/?quest=13951

**What is happening:**
- no trigger
- cant complete

**What should happen:**
_Take your orphan, Kekek, to visit Snowfall Glade. Make sure to call for him if he is not present when you get there._

  Kekek taken to visit Snowfall Glade

https://www.youtube.com/watch?v=MzsCZuW_LJs

[2021-02-19 19:37] #5100 closed, assigned to mfranca0009

[2021-02-19 19:49] #5099 closed, assigned to mfranca0009

[2021-02-19 20:14] mfranca0009 commented on #5098
Horde and Alliance toy novelties vendor now sell the proper quest items for Children's Week.

[2021-02-19 20:48] Echinaceax opened #5101 "[NPC] Alowicious Czervik - Orgimmar"
**Links:**

https://classic.wowhead.com/npc=14480/alowicious-czervik

**What is happening:**
- vendor missing

**What should happen:**
should be spawned for vendor items

[2021-02-19 20:53] Echinaceax opened #5102 "Aimee <Pie, Pastry & Cakes> - Dalaran"
**Links:**

https://www.wowhead.com/npc=92936/aimee

**What is happening:**
- https://www.wowhead.com/item=42429/red-velvet-cupcake

**What should happen:**
needs item adding

[2021-02-19 21:57] #5102 closed, assigned to mfranca0009

[2021-02-19 22:19] Echinaceax opened #5103 "[Quest] Cruisin' the Chasm - Children's week"
**Links:**

https://www.wowhead.com/quest=29093/cruisin-the-chasm

**What is happening:**
- cant mount the Rental Chopper

**What should happen:**
_Travel to Sentinel Hill in Westfall and climb aboard a Rental Chopper to tour the Raging Chasm with your orphan._

	Chopper Tour of the Raging Chasm

[2021-02-19 22:33] golosomie commented on #4513
@mfranca0009 Confirmed fixed on PTR. Working with normal stealth and Vanish as expected.

[2021-02-19 22:51] Echinaceax opened #5104 "[Quest] Malfurion Has Returned - Children's week"
**Links:**

https://cata-twinhead.twinstar.cz/?quest=29107

**What is happening:**
- no trigger
- not completable

**What should happen:**
_Take your Human Orphan to meet Malfurion Stormrage in the Temple of the Moon in Darnassus. If your orphan is not present when you arrive, call for him._

	Visit Malfurion Stormrage with your orphan

[2021-02-19 22:55] Echinaceax opened #5105 "[Quest] A Warden of the Horde - Children's week"
**Links:**

https://cata-twinhead.twinstar.cz/?quest=5502

**What is happening:**
- After buying the foam sword rack the quest complete but cant deliver back to

**What should happen:**
Should deliver back
https://www.wowhead.com/quest=5502/a-warden-of-the-horde#videos:id=123812

[2021-02-19 22:57] Echinaceax opened #5106 "[Quest] A Warden of the Alliance - Children's week"
**Links:**

https://classic.wowhead.com/quest=171/a-warden-of-the-alliance

**What is happening:**
- Quest not offered after completing the other quest needed

**What should happen:**
should be offered

[2021-02-19 23:21] golosomie commented on #4300
@mfranca0009 Bloom is applied with Healing Touch, Nourish, Regrowth and Swiftmend with a 10sec duration just as Harmony.
So that's working fine.

But I think Bloom's timer should be reset when Harmony is reapplied while both effects are still running.
Right now, Bloom's duration will not increase if Harmony is reapplied.

[2021-02-20 00:52] mfranca0009 commented on #4300
@golosomie Should be all set now 👍

[2021-02-20 01:24] golosomie commented on #4300
@mfranca0009 Confirmed fixed on PTR. Now only removes Bloom when Harmony is removed.

[2021-02-20 03:47] mfranca0009 commented on #5096
Will start working on this tomorrow.

[2021-02-20 11:51] Echinaceax commented on #4956
will close this one for now to see if the fix #5058 has any effect on this issue

[2021-02-20 11:51] #4956 closed, assigned to mfranca0009

[2021-02-20 11:57] Echinaceax commented on #1436
closing this for now, we see if the fix #5058 has any effect on this

[2021-02-20 11:57] #1436 closed

[2021-02-20 16:21] mfranca0009 commented on #5105
Correct NPC is properly set for quest ender.

[2021-02-20 16:25] mfranca0009 commented on #5106
Correct NPC is properly set for quest ender.

[2021-02-20 16:46] Echinaceax commented on #5105
confirmed fixed in DEV

[2021-02-20 16:46] Echinaceax commented on #5106
Confirmed fixed in DEV

[2021-02-20 16:47] Echinaceax commented on #5098
Confirmed fixed in DEV

[2021-02-20 16:47] Echinaceax commented on #5095
Confirmed fixed in DEV

[2021-02-20 16:48] Echinaceax commented on #5097
Confirmed fixed in DEV

[2021-02-21 07:19] Atheros01 commented on #375
Just a note, on horde side (don't know about alliance) the .bq command is 26954, rather than 26953

[2021-02-21 09:25] Echinaceax commented on #375
@Atheros01 only this one is on the command unfortunately
i will remove the bq label for now, these will all be fixed together at some point anyway

i see https://www.wowhead.com/quest=26954/a-different-approach  only Zen'Kiki, the Druid is on this command

[2021-02-22 19:57] mfranca0009 commented on #192
Probably best if they were spawned via script when player enters the inn and they're on the quest. Will look into this and fix soon.

[2021-02-22 21:55] Atheros01 opened #5107 "Seeds of the Blacksouled Keepers"
**Links:**
https://www.wowhead.com/quest=11319/seeds-of-the-blacksouled-keepers
from WoWHead or our Armory

**What is happening:**

when quest item is used on spore corpse quest credit is not given.

**What should happen:**
the opposite of above statement
**Is it crashing the server?:**

**Other Information:**

[2021-02-23 07:40] Echinaceax commented on #5107
thanks for reporting @Atheros01 it was meant to be fixed here #915
I will reopen the other one

[2021-02-23 07:54] Echinaceax commented on #5096
Nice work @mfranca0009 fixed in ptr

- quest credit given
- npc move and light the fire
- npc text
- spirit ancestors bow

![image](https://user-images.githubusercontent.com/39439201/108815382-ace23100-75b4-11eb-80f8-fc41a1b314c7.png)

[2021-02-23 08:15] #5107 closed, assigned to mfranca0009

[2021-02-23 08:15] Echinaceax commented on #915
seems not to be fix
was reported again so im reopening this one

[2021-02-23 22:20] mfranca0009 commented on #5104
All set 👍

[2021-02-23 22:36] Echinaceax commented on #5104
fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/108917364-e73ce400-762f-11eb-989d-04a9587f870f.png)

[2021-02-24 14:04] #4175 closed

[2021-02-24 14:04] #4245 closed

[2021-02-24 14:04] #4273 closed

[2021-02-24 14:04] #4300 closed

[2021-02-24 14:04] #4513 closed, assigned to mfranca0009

[2021-02-24 14:04] #4584 closed, assigned to mfranca0009

[2021-02-24 14:04] #4758 closed, assigned to mfranca0009

[2021-02-24 14:04] #4791 closed, assigned to mfranca0009

[2021-02-24 14:04] #4806 closed, assigned to mfranca0009

[2021-02-24 14:04] #4923 closed, assigned to mfranca0009

[2021-02-24 14:04] #5058 closed, assigned to mfranca0009

[2021-02-24 14:04] #5068 closed, assigned to mfranca0009

[2021-02-24 14:04] #5071 closed, assigned to mfranca0009

[2021-02-24 14:04] #5079 closed, assigned to mfranca0009

[2021-02-24 14:04] #5080 closed, assigned to mfranca0009

[2021-02-24 14:04] #5089 closed, assigned to mfranca0009

[2021-02-24 14:04] #5092 closed, assigned to mfranca0009

[2021-02-24 14:04] #5095 closed, assigned to mfranca0009

[2021-02-24 14:04] #5096 closed, assigned to mfranca0009

[2021-02-24 14:04] #5097 closed, assigned to mfranca0009

[2021-02-24 14:04] #5098 closed, assigned to mfranca0009

[2021-02-24 14:04] #5101 closed, assigned to mfranca0009

[2021-02-24 14:04] #5104 closed, assigned to mfranca0009

[2021-02-24 14:04] #5105 closed, assigned to mfranca0009

[2021-02-24 14:04] #5106 closed, assigned to mfranca0009

[2021-02-24 14:04] #1253 closed

[2021-02-24 14:04] #1403 closed

[2021-02-24 14:04] #1406 closed

[2021-02-24 14:04] #2146 closed

[2021-02-24 14:04] #2298 closed

[2021-02-24 14:04] #3666 closed

[2021-02-24 14:04] #3779 closed

[2021-02-24 14:04] #3817 closed

[2021-02-24 14:04] #3985 closed

[2021-02-24 14:04] #4107 closed

[2021-02-24 14:04] #4126 closed

[2021-02-24 17:01] Echinaceax opened #5108 "[Guild Achievement] The Battle for Mount Hyjal Guild Run"
**Links:**

https://cata-twinhead.twinstar.cz/?achievement=5090

**What is happening:**
- guild didnt recieve the guild Achievement after completing

**What should happen:**
- Guild Achievement -  The Battle for Mount Hyjal Guild Run should be awarded after we complete it

**Other Information:**

![image](https://user-images.githubusercontent.com/39439201/109036321-c628d180-76c9-11eb-9e1d-0b58428a

[2021-02-24 17:17] Echinaceax commented on #5108
added to main guild report #4505

[2021-02-24 17:17] #5108 closed, assigned to mfranca0009

[2021-02-26 14:38] Echinaceax opened #5109 "[NPC] Coralshell Tortoise/ Coralshell Lurker - skinning"
**Links:**

https://classic.wowhead.com/item=6352/waterlogged-crate
https://classic.wowhead.com/npc=6352/coralshell-lurker#skinning
https://classic.wowhead.com/npc=6369/coralshell-tortoise#skinning
**What is happening:**
- Waterlogged creates can be skinned from Coralshell Tortoise
4-6 waterlogged-crates each time

**What should happen:**
need loot table for skinning fixing
waterlogged-crate shoul

[2021-02-27 22:06] Novaveteran opened #5110 "Paladin Glyph Seal of Truth bugging."
**Links:**

https://i.imgur.com/92AbV8f.jpg
https://i.imgur.com/kqvFgQs.jpg
https://i.imgur.com/wrisKMh.jpeg

**What is happening:**

Glyph of Seal of Truth adds 10 expertise rating once applied.
That works fine.
But once you relog it does not work anymore.
Re applying seems to work.

**What should happen:**

Should just always have 10 extra expertise if using seal of righteousness or truth

**Is

[2021-02-28 14:56] Keader commented on #5110
Fixed

[2021-02-28 14:58] Keader opened #5111 "[Core/Players/Spells] Fixed generic issue with Auras and Glyphs"
**What is happening:**

While checking https://github.com/WoWManiaUK/Blackwing-Lair/issues/5110 i found a wrong behavior here.
We are loading Glyph Auras  after players Auras.
It make any auras effected by Glyphs stop work after relog.

**What should happen:**

Glyph auras should be loaded before players auras

**Is it crashing the server?:**
No

This fix all issues relared with Glyphs stop work a

[2021-02-28 23:22] mfranca0009 commented on #5094
Setting this as auto-complete for now, this requires major work with how the core handles movement. Moving on waypoint AND rotating at the same time isn't even possible at this moment.

[2021-02-28 23:23] mfranca0009 commented on #5103
Setting as auto-complete for now, need to find the proper vehicle ID for the chopper.

[2021-02-28 23:30] Echinaceax commented on #5088
closing this now, 99.8% done

[2021-02-28 23:30] #5088 closed, assigned to mfranca0009

[2021-03-01 05:47] Atheros01 opened #5112 "Flight Masters Ashenvale"
**Links:**

from WoWHead or our Armory

**What is happening:**

Two of the horde flight masters (that I know of) in Ashenvale don't allow you to depart form them regardless of connected flight paths, as they don't recognize that you have connected flight paths (regardless of personal visits to aforementioned connected flight paths). These Flight masters are at the following locations: Splintertree

[2021-03-01 07:02] mfranca0009 commented on #5112
I think this is a client issue, and the flight path data is missing.

[2021-03-01 07:54] Echinaceax commented on #5112
this is already reported here https://github.com/WoWManiaUK/Blackwing-Lair/issues/942
thanks for posting tho :)

[2021-03-01 07:55] #5112 closed, assigned to nobody

[2021-03-02 02:03] Echinaceax commented on #4437
set to autocomplete - closing for now

[2021-03-02 02:03] Echinaceax commented on #3380
set to autocomplete - closing for now

[2021-03-02 02:03] Echinaceax commented on #1695
set to autocomplete - closing for now

[2021-03-02 02:04] Echinaceax commented on #1648
set to autocomplete - closing for now

[2021-03-02 02:04] Echinaceax commented on #531
set to autocomplete - closing for now

[2021-03-02 02:04] Echinaceax commented on #498
set to autocomplete - closing for now

[2021-03-02 23:31] #4577 closed, assigned to nobody

[2021-03-02 23:48] Echinaceax opened #5113 "[Event] Main report - Midsummer"
**Links:**
https://wow.gamepedia.com/Midsummer_Fire_Festival
https://wowwiki-archive.fandom.com/wiki/Midsummer_Fire_Festival

**missing objects Horde**
- [x] Flame of Hillsbrad http://cata.cavernoftime.com/object=181566
- [x] Flame of Silverpine http://cata.cavernoftime.com/object=181564
- [x] Flame of Orgrimmar http://cata.cavernoftime.com/object=181336
- [x] Flame of Thunder Bluff http://cata.ca

[2021-03-02 23:48] Echinaceax commented on #4579
added to main report #5113

[2021-03-02 23:48] #4579 closed, assigned to mfranca0009

[2021-03-02 23:59] Echinaceax commented on #4580
added to main report #5113

[2021-03-02 23:59] #4580 closed, assigned to nobody

[2021-03-03 00:01] Echinaceax commented on #4581
added to main report #5113

[2021-03-03 00:01] #4581 closed, assigned to nobody

[2021-03-03 00:05] Echinaceax commented on #1643
added to main report #5113

[2021-03-03 00:05] #1643 closed

[2021-03-03 10:42] Echinaceax commented on #4577
reported item/object here on ally #1480
same ID tho :)

[2021-03-03 11:04] Echinaceax opened #5114 "[Event] Main report - Hallows End"
**Links:**
https://wow.gamepedia.com/Hallow%27s_End
https://wowwiki-archive.fandom.com/wiki/Hallow%27s_End

**Missing NPCs**
- [ ] Human Commoner https://www.wowhead.com/npc=18927/human-commoner
- [ ] Orc Commoner https://www.wowhead.com/npc=19175/orc-commoner
- [ ] Gretchen Fenlow https://www.wowhead.com/npc=51934/gretchen-fenlow
- [ ] Costumed Orphan Matron https://www.wowhead.com/npc=24519/cost

[2021-03-03 11:09] Echinaceax commented on #4762
added to main report #5114

[2021-03-03 11:09] #4762 closed, assigned to nobody

[2021-03-03 11:10] Echinaceax commented on #4765
added to main report #5114

[2021-03-03 11:11] #4765 closed, assigned to nobody

[2021-03-03 11:14] Echinaceax commented on #4761
added to main report #5114

[2021-03-03 11:14] #4761 closed, assigned to nobody

[2021-03-03 11:17] Echinaceax commented on #4763
added to main report #5114

[2021-03-03 11:17] #4763 closed, assigned to nobody

[2021-03-03 11:19] Echinaceax commented on #4759
added to main report #5114

[2021-03-03 11:19] #4759 closed, assigned to mfranca0009

[2021-03-03 11:20] Echinaceax commented on #4757
added to main report #5114

[2021-03-03 11:20] #4757 closed, assigned to mfranca0009

[2021-03-03 11:22] Echinaceax commented on #4746
added to main report #5114

[2021-03-03 11:22] #4746 closed, assigned to nobody

[2021-03-03 11:24] Echinaceax commented on #1589
added to main report #5114

[2021-03-03 11:24] #1589 closed

[2021-03-03 11:27] Echinaceax commented on #4764
added to main report #5114

[2021-03-03 11:27] #4764 closed, assigned to mfranca0009

[2021-03-03 14:47] #4183 closed

[2021-03-03 14:47] #5110 closed, assigned to Keader

[2021-03-03 14:59] #5111 closed, assigned to Keader

[2021-03-04 01:04] mfranca0009 commented on #5113
Ribbon dance buff is given when using the Ribbon Pole, I tested this on the one spawned in Shattrath:

![image](https://user-images.githubusercontent.com/26092980/109894526-a8281780-7c5b-11eb-814e-8087f95d47cf.png)

The other ribbon poles may need to be added cause they're most likely missing.

[2021-03-04 11:20] Echinaceax commented on #5113
Yes i think mine was tested on the one in  silvermoon @mfranca0009 😄

[2021-03-05 14:28] Echinaceax commented on #4748
moved to main report #5114

[2021-03-05 14:28] #4748 closed, assigned to nobody

[2021-03-05 14:42] Echinaceax commented on #4753
added to main report #5114

[2021-03-05 14:42] #4753 closed, assigned to nobody

[2021-03-05 14:48] Echinaceax commented on #4752
added to main report #5114

[2021-03-05 14:48] #4752 closed, assigned to nobody

[2021-03-05 15:07] Echinaceax commented on #4750
added to main report #5114

[2021-03-05 15:08] #4750 closed, assigned to nobody

[2021-03-05 15:08] Echinaceax commented on #4751
added to main report #5114

[2021-03-05 15:08] #4751 closed, assigned to nobody

[2021-03-05 15:12] Echinaceax commented on #4749
added to main report #5114

[2021-03-05 15:12] #4749 closed, assigned to nobody

[2021-03-05 15:45] Echinaceax commented on #4760
added to main report #5114

[2021-03-05 15:45] #4760 closed, assigned to nobody

[2021-03-05 16:24] Echinaceax commented on #4760
all working
![image](https://user-images.githubusercontent.com/39439201/110143474-95d2e880-7dd7-11eb-9641-4bcfcce2e936.png)

[2021-03-05 16:38] Echinaceax opened #5115 "[NPC] Nethergarde Defender - dead and have 0HP"
**Links:**

https://www.wowhead.com/npc=41158/nethergarde-defender

**What is happening:**
- Laying in the gound, grey name plate, 0 hp

**What should happen:**
should be alive with hp

[2021-03-05 22:06] Atheros01 opened #5116 "Sorlof's Booty"
**Links:**
https://www.wowhead.com/quest=11529/sorlofs-booty
from WoWHead or our Armory

**What is happening:**
The captain you get the quest from phases out after you loot sorlof's treasure, and wont phase back in even after abandoning quest. Not sure if this is due to being in group for quest, but that's what happened to me.

**What should happen:**

**Is it crashing the server?:**

**Other Info

[2021-03-08 03:03] mfranca0009 commented on #5113
Extinguishing Outland works for Alliance.
![image](https://user-images.githubusercontent.com/26092980/110269077-eccfed80-7f90-11eb-89c9-14f8bd451450.png)

[2021-03-08 03:14] mfranca0009 commented on #5113
All working for Alliance:
![image](https://user-images.githubusercontent.com/26092980/110269793-792ee000-7f92-11eb-8414-072476d3dfaf.png)

![image](https://user-images.githubusercontent.com/26092980/110269804-7c29d080-7f92-11eb-964c-6a8e5ab18311.png)

![image](https://user-images.githubusercontent.com/26092980/110269808-7f24c100-7f92-11eb-91e7-a06834487bc1.png)

![image](https://user-images.github

[2021-03-08 03:28] mfranca0009 commented on #5113
Working on Alliance:
![image](https://user-images.githubusercontent.com/26092980/110270652-4ab20480-7f94-11eb-9642-6c6aa0d9b448.png)

![image](https://user-images.githubusercontent.com/26092980/110270659-4dacf500-7f94-11eb-98cd-2b3f6d758bc6.png)

![image](https://user-images.githubusercontent.com/26092980/110270672-50a7e580-7f94-11eb-9696-fe1dee0a2323.png)

![image](https://user-images.githubuserc

[2021-03-08 03:50] mfranca0009 commented on #5113
Working on Horde:

![image](https://user-images.githubusercontent.com/26092980/110272104-623ebc80-7f97-11eb-8349-2d2b7e7668e5.png)

![image](https://user-images.githubusercontent.com/26092980/110272108-64a11680-7f97-11eb-8a21-d082936d20a9.png)

![image](https://user-images.githubusercontent.com/26092980/110272111-68349d80-7f97-11eb-8c0b-2b8a7c5bc94a.png)

![image](https://user-images.githubusercon

[2021-03-08 04:19] mfranca0009 commented on #5113
Working on Horde:

![image](https://user-images.githubusercontent.com/26092980/110273859-813f4d80-7f9b-11eb-9049-84ec81869de8.png)

![image](https://user-images.githubusercontent.com/26092980/110273863-83a1a780-7f9b-11eb-9891-514258beb514.png)

![image](https://user-images.githubusercontent.com/26092980/110273865-869c9800-7f9b-11eb-8079-b76e2f2a57dd.png)

![image](https://user-images.githubusercon

[2021-03-08 18:44] Echinaceax opened #5117 "[Item] Bloated Giant Sunfish and Lightning Eel"
**Links:**
https://www.wowhead.com/item=13757/lightning-eel
contained in
https://www.wowhead.com/item=35286/bloated-giant-sunfish
https://cata-twinhead.twinstar.cz/?item=13757#contained-in-item

**What is happening:**
- Seems the Lightning Eel is missing from the fish loot table
when you fish in Blasted Lands for instance the other fish are working but there is no loot on the Bloated Giant Sunfish

[2021-03-09 14:01] Echinaceax opened #5118 "[Event] Main report - Fireworks Spectacular"
### Happens the last night of Midsummer fire festival (4th July)

**Links:**
https://www.wowhead.com/fireworks-spectacular
https://wowwiki-archive.fandom.com/wiki/Fireworks_Spectacular
https://wotlk.evowow.com/?event=72

video from Orgrimmar https://www.youtube.com/watch?v=R-eEO0auadI

**Objects**

- [ ] Cheer Speaker https://wotlk.evowow.com/?object=180749
- [ ] Festive Keg https://wotlk.evowow.c

[2021-03-09 16:02] Novaveteran opened #5119 "[Item] Mining nodes not given the random chance"
**Links:**

http://www.wow-farming.info/farming-khorium-ore/

**What is happening:**

So all veins that are not Khorium in the appropriate areas, are always not khorium,
using the addon gatherer i can see that khorium is every single time on the exact same location.
But it should spawn randomly on other nodes. As the website above explains, mine away all the fel iron/adamantite and it has a chance

[2021-03-11 08:53] Atheros01 opened #5120 "And Now, The Moment of Truth"
**Links:**
https://www.wowhead.com/quest=10201/and-now-the-moment-of-truth
from WoWHead or our Armory

**What is happening:**

cannot interact with Grek to have him test out the oil

**What should happen:**
should be able to open dialogue option to have him test the oil
**Is it crashing the server?:**
no
**Other Information:**

[2021-03-11 08:58] Echinaceax commented on #5120
still has no dialog @Atheros01 hmm
was meant to have been fixed here #696 on my old report

@mfranca0009  will take a look when he gets to it, thanks @Atheros01 for letting us know :)

[2021-03-11 09:21] Echinaceax commented on #5120
Tested and confirmed @mfranca0009

After handing back the quest https://www.wowhead.com/quest=9993/olemba-seed-oil you are given https://www.wowhead.com/quest=10201/and-now-the-moment-of-truth but Grek doesnt have the dialog to test the oil as shown in the video

video https://www.wowhead.com/quest=10201/and-now-the-moment-of-truth#videos:id=56298

[2021-03-14 07:53] Atheros01 opened #5121 "No way back up to Krazzworks"
**Links:**

from WoWHead or our Armory

**What is happening:**
When you get automurdered by trying to use the cannons in the Krazzworks there is no way back up to your body so you have to take rez sickness to revive. this is ass, please fix cannons or add flying mount in death like in wrath content (like in icecrown)

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2021-03-14 07:55] Atheros01 opened #5122 "quality construction"
**Links:**

from WoWHead or our Armory

**What is happening:**

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2021-03-14 08:06] Atheros01 commented on #5122
I cant seem to fix the main part of this issue, dunno why, but here's what's happening. I can use the tape on the quest locations but they dont give quest credit.

[2021-03-14 09:32] Echinaceax commented on #5122
the item has been report here @Atheros01 #1870
i will close this as its a duplicate

[2021-03-14 09:32] #5122 closed, assigned to nobody

[2021-03-14 09:35] Echinaceax commented on #5121
which quest is it?
you havent listed @Atheros01

[2021-03-14 09:40] Echinaceax commented on #5121
Everything but the kitchen sink, works as far as i can see on the main report, i did this quest myself withough issue
https://www.wowhead.com/quest=28589/everything-but-the-kitchen-sink

https://github.com/WoWManiaUK/Blackwing-Lair/issues/4463

Automurdered? by what?
video the guy isnt taking damage https://www.wowhead.com/quest=28589/everything-but-the-kitchen-sink#videos:id=96672

dying isnt a b

[2021-03-14 09:45] #5121 closed, assigned to nobody

[2021-03-14 17:47] Atheros01 commented on #5121
Not quest, hopped in a krazz cannon and fired it off and promptly died. I
think it's supposed to be used against the elite gryphons.

On Sun, Mar 14, 2021, 1:35 AM Echinaceax ***@***.***> wrote:

[2021-03-14 18:28] Echinaceax commented on #5121
yes the cannons are for the quest

do you mean that you just randomly jumped on a cannon and died then? @Atheros01

i'll give it a test lol

[2021-03-14 18:30] Atheros01 commented on #5121
No, fired it and died. I'm kind of fuzzy on the exact details, but I may
have been caught in the blast range and been killed that way.

On Sun, Mar 14, 2021, 11:28 AM Echinaceax ***@***.***> wrote:

[2021-03-14 18:31] Atheros01 commented on #5121
Pretty sure I fired into sky though

On Sun, Mar 14, 2021, 11:30 AM Atheros Yuzu ***@***.***> wrote:

[2021-03-14 18:51] Echinaceax opened #5123 "[Dungeon] End Time (HC only) - Main report"
**Links:**

https://wow.gamepedia.com/End_Time
https://www.youtube.com/watch?v=Xe3mO-SIH4Q

**Time Transit Device dialogs not working**
https://cata-twinhead.twinstar.cz/?search=Time+Transit+Device

**Bugged npc trigger**
blink target https://cata-twinhead.twinstar.cz/?npc=54542 (are giving damage)

**Inactive bosses**
Murozond <The Lord of the Infinite> https://www.wowhead.com/npc=54432/murozond/

[2021-03-14 20:30] Echinaceax commented on #5121
ok i tested it @Atheros01
and the only time i could kill myself was when i aimed the cannon downwards 😄
https://gyazo.com/4f859cdd87b321be66cf3f9398f21bae

[2021-03-14 20:32] Atheros01 commented on #5121
must of clipped a piece of terrain or something... oof

On Sun, Mar 14, 2021, 1:30 PM Echinaceax ***@***.***> wrote:

[2021-03-14 20:56] mfranca0009 commented on #5120
All set 👍

[2021-03-14 21:23] Echinaceax commented on #5120
confirmed fixed in PTR

![image](https://user-images.githubusercontent.com/39439201/111084643-bc013280-8513-11eb-8e08-47caad6c12f8.png)

![image](https://user-images.githubusercontent.com/39439201/111084663-de934b80-8513-11eb-9b10-f4ca816d6699.png)

[2021-03-14 21:34] mfranca0009 commented on #5109
All set 👍

[2021-03-14 22:09] Echinaceax commented on #5109
confirmed fixed in PTR

[2021-03-14 22:22] mfranca0009 commented on #5117
Should be all set, waiting on confirmation.

[2021-03-14 22:43] Echinaceax commented on #5117
fix confirmed in PTR for the Lightning Eel

![image](https://user-images.githubusercontent.com/39439201/111086771-6a11da00-851e-11eb-80f9-cd63587f20cd.png)
![image](https://user-images.githubusercontent.com/39439201/111086908-1358d000-851f-11eb-8de5-280c0230f01e.png)

[2021-03-14 22:54] Echinaceax commented on #5115
confirmed fixed in PTR

[2021-03-15 09:27] Atheros01 opened #5124 "Fervor (hunter talent)"
**Links:**

from WoWHead or our Armory

**What is happening:**

Fervor is an ability picked up from beast mastery talent tree.
when used Fervor isn't restoring any focus to my pet, although it restores my own focus.

**What should happen:**
Should restore 50 focus to both me and pet, as per description

**Is it crashing the server?:**
no
**Other Information:**

[2021-03-15 09:29] #5124 closed, assigned to nobody

[2021-03-15 09:41] Echinaceax commented on #5124
any reason why you closed your report @Atheros01 ?

[2021-03-15 09:42] Atheros01 commented on #5124
I triple checked the issue and realize that I was suffering from lag

On Mon, Mar 15, 2021, 2:41 AM Echinaceax ***@***.***> wrote:

[2021-03-15 10:52] Echinaceax commented on #5124
Ok, thanks for the info, just wondered if you miss clicked :)

[2021-03-15 12:52] Echinaceax opened #5125 "[Weekly event] Stranglethorn Fishing Extravaganza"
### Tested in PTR
started event manually ..will see if the server it self spawns the npc and auto quest is given

**Links:**
https://wowwiki-archive.fandom.com/wiki/School_of_Tastyfish

quest Stranglethorn Fishing Extravaganza
https://www.wowhead.com/quest=44765/stranglethorn-fishing-extravaganza
Riggle Bassbait <Fishmaster> https://www.wowhead.com/npc=15077/riggle-bassbait

video
https://www.yout

[2021-03-16 11:22] #1480 closed

[2021-03-16 11:22] #5109 closed, assigned to mfranca0009

[2021-03-16 11:22] #5115 closed, assigned to mfranca0009

[2021-03-16 11:22] #5117 closed, assigned to mfranca0009

[2021-03-16 11:22] #5120 closed, assigned to mfranca0009

[2021-03-16 20:06] Atheros01 opened #5126 "Dead Man's Debt"
**Links:**
https://www.wowhead.com/quest=11467/dead-mans-debt
from WoWHead or our Armory

**What is happening:**

cannot attack or interact with Black Conrad's Ghost, therefore cannot kill him to make him drop his quest loot

**What should happen:**
the opposite of that
**Is it crashing the server?:**

**Other Information:**

[2021-03-16 20:18] Echinaceax commented on #5126
GM confirmed bug

[2021-03-16 20:22] Schoxxy opened #5127 "[Spell/Talent] Serpent Spread DOT time to low"
**Links:**
http://cata.cavernoftime.com/spell=87934

from WoWHead or our Armory

**What is happening:**
If only skilled once in serpent spread the DOT time of serpent sting is only 4 sec.

**What should happen:**
The DOT time of serpent sting schould be 6 sec.

**Other Information:**
When skilled twice it is all workin fine.

[2021-03-17 05:51] Atheros01 opened #5128 "Mimicking Nature's Call"
**Links:**
https://www.wowhead.com/quest=11281/mimicking-natures-call
from WoWHead or our Armory

**What is happening:**

The quest item (Carved Horn) cannot be used, demanding that I use it at "Frozen Waterfall", and refuses to recognize the location when used there. In short the quest cannot be completed due to Carved Horn being bugged.

**What should happen:**
Should sound at location when used

[2021-03-17 06:03] mfranca0009 commented on #5128
Missing the object trigger which is preventing item to be used, will fix when I get the time.

[2021-03-17 06:05] Atheros01 commented on #5128
Kk

On Tue, Mar 16, 2021, 11:04 PM Koko ***@***.***> wrote:

[2021-03-17 10:48] Echinaceax commented on #5128
this isnt bugged @Atheros01
ive done this quest a few times on my other chars

https://www.wowhead.com/quest=11281/mimicking-natures-call#videos:id=62326

just stand with your back at the ice wall then use quest item

![image](https://user-images.githubusercontent.com/39439201/111464274-d65c2b80-8720-11eb-8a48-6703df9c34e4.png)

![image](https://user-images.githubusercontent.com/39439201/111457101

[2021-03-17 10:48] #5128 closed, assigned to mfranca0009

[2021-03-17 11:09] Echinaceax commented on #5128
trigger isnt missing, maybe it is a little to close to the waterfall (up to you if you want to move the trigger a little) 😄 @mfranca0009
but the quest is completeable

[2021-03-17 18:27] Atheros01 commented on #5128
Stood literally on the wall and all over the place in front of it. If it
isnt bugged its finicky as all hell.

On Wed, Mar 17, 2021, 4:09 AM Echinaceax ***@***.***> wrote:

[2021-03-18 09:50] Echinaceax commented on #5119
will look into this @Novaveteran
however comments from (Patch 3.3.2) and (Patch 4.0.1) from here https://www.wowhead.com/item=23426/khorium-ore#comments stated they did 3hrs 20 mins  and got 10 Khorium Ores

Khorium Ores are ofc **_low chance_** to spawn, so im guessing this didnt change in Cata either

Checking the single Khorium Ore spawns (need Coods for location of it though) @Novaveteran

[2021-03-18 10:23] Echinaceax commented on #5119
### Test 1

2 laps around Nagrand = 1 Khorium Ore

![k1](https://user-images.githubusercontent.com/39439201/111611116-6317ef80-87dc-11eb-9712-d49a34e5727b.jpg)

![2 runs 1 ore](https://user-images.githubusercontent.com/39439201/111611023-4bd90200-87dc-11eb-9a8d-5b66524aa16e.jpg)

[2021-03-18 11:05] Echinaceax commented on #5119
### Test 2

4th lap around nagrand got 2 more Khorium Ore to spawn, on new spawns

![nagrand2](https://user-images.githubusercontent.com/39439201/111616490-3c5cb780-87e2-11eb-9a74-83d164ecb1ef.jpg)
![nagrand3](https://user-images.githubusercontent.com/39439201/111616502-3ebf1180-87e2-11eb-96b0-99ef1e1e5d51.png)

[2021-03-18 17:16] Echinaceax commented on #5119
confirmed @mfranca0009

- [ ] Spawns of khorium are soulie khorium 100%, and the random chance not coming from adamantite spawn points at all
https://www.wow-professions.com/farming/adamantite-ore-farming
- [ ] same issue with titanium from Saronite Ore https://www.wow-professions.com/farming/saronite-ore-farming
- [ ] same with Pyrite Deposits from Elementium Ore https://www.wow-professions.com/f

[2021-03-19 11:13] Echinaceax commented on #5127
confirmed Serpent Spread 1/2 only gives 4secs and not 6secs

[2021-03-19 22:10] Atheros01 opened #5129 "Death To The Broodmother"
**Links:**
https://www.wowhead.com/quest=25553/death-to-the-broodmother
from WoWHead or our Armory

**What is happening:**

isnt allowing me to place the skull in feeding grounds

**What should happen:**
should be able to place skull and lure mob so i can kill
**Is it crashing the server?:**

**Other Information:**

[2021-03-20 09:11] Echinaceax commented on #5129
reported item here #3511 @Atheros01
remember to search the quest/quest item/npc first before making a new report please

[2021-03-20 09:11] #5129 closed, assigned to nobody

[2021-03-20 17:34] Echinaceax commented on #2961
https://www.youtube.com/watch?v=7xqlyX8N4Qk

confirmed, nothing happens once youve accepted the quest, your meant to travel underground automatically (vehicle missing)

[2021-03-20 18:06] Echinaceax commented on #1992
missing dialog comfirmed

[2021-03-20 18:26] Echinaceax commented on #3153
**update**

i just completed this quest on my mage

1, i killed the Bouldergut that was fighting with flint and it completed for me

![image](https://user-images.githubusercontent.com/39439201/111881721-230a6580-89b2-11eb-9fa5-209cd81d72d2.png)

im guessing if you dont follow the questline it can phase the npc out yes

2. Free Stonefather Oremantle isnt chained up

[2021-03-21 13:07] Echinaceax commented on #5125
### Update from live

- [ ] Event didnt start at 14:00 -16:00 (on live)
- [ ] No NPC Spawned
- [ ] No Fishing pools https://wotlkdb.com/?object=180248
- [ ] no quest https://www.wowhead.com/quest=44765/stranglethorn-fishing-extravaganza

**npc missing**
https://www.wowhead.com/npc=15077/riggle-bassbait
https://www.wowhead.com/npc=15079/fishbot-5000#comments
https://www.wowhead.com/npc=15078/jang

[2021-03-21 17:09] W-Dennis commented on #1981
Trying to finish the quest via .bq results in an Error "This quest is not flagged as bugged!"

[2021-03-21 17:12] Echinaceax commented on #1981
@W-Dennis  yes this isnt set to the .bq command, not all bugged quests are
youll have to make ingame ticket

[2021-03-21 23:32] Novaveteran opened #5130 "[NPC] Orsis Survivor - Uldum"
**Links:**

http://cata.cavernoftime.com/quest=27519

**What is happening:**

The mobs that you need to rescue, if you fly into the area, you can see them fall through the floor.
Only some of them are actually above the ground.

**What should happen:**

The little dirty movements around the area should all have a survivors in them. But most of them have fallen through the floor.

**Is it crashing

[2021-03-22 08:45] Echinaceax commented on #5130
need a video @Novaveteran
I think i know what you mean, but without a video of what you see we cant fix anything

as for the quest, i have done this quest on many chars, and even in the video the npcs are buried half way into the ground
https://www.youtube.com/watch?v=NKN5hHN9u4U

I would check again to see if its only you this happens too, i will log and check myself too

[2021-03-22 09:16] Echinaceax commented on #5130
@mfranca0009 confirmed
these wasnt like this before, some regression somewhere

- [ ] Npc drop under the ground as you aproach them (very hard to get video of them tho, coz the drop to fast :)

both my videos
https://gyazo.com/34de6d168431a2815dd907bfa52c76ad
https://gyazo.com/9e9e215df506b1e1a505a328db4274ba

same while walking too https://gyazo.com/0f9c7f8ba52ed703c043a529504b5d42

[2021-03-22 12:43] Echinaceax opened #5131 "[NPC] Flying npc bug"
**Links:**

https://gyazo.com/d465e6843d6260ae1412a2c8807f0a35
https://gyazo.com/3c330b180625e019d115281313ded18c
https://gyazo.com/e7bdb9cfdc5509f14949da6871b6836f
https://gyazo.com/ded72cb8f0548bc9a6bcdafaeb3dca6a
https://gyazo.com/602cb9d33f1619327b7ddffabbf6188a

**Whats happening**
Something has happend to the flying movement of some flight npcs

**What should happen**
all flying npc should b

[2021-03-22 13:09] Echinaceax opened #5132 "[Item] Weather-Beaten Journal"
**Links:**

https://www.wowhead.com/item=34109/weather-beaten-journal#comments

![image](https://user-images.githubusercontent.com/39439201/111995144-e442ef80-8b18-11eb-8b95-320ff53d43f7.png)

**What is happening:**
- i fished up another Weather-Beaten Journal

**What should happen:**
If you have learnt the find fish from a prevous Weather-Beaten Journal, you shouldnt be given it a 2nd time

**Oth

[2021-03-22 14:52] Echinaceax opened #5133 "[Quest] Blood Is Thicker"
**Links:**

https://www.wowhead.com/quest=13833/blood-is-thicker

![image](https://user-images.githubusercontent.com/39439201/112009037-53731080-8b26-11eb-969f-910cb506aebe.png)

**What is happening:**
- after killing a baby beast and getting the animal blood buff, your meant to wash the blood of in the water them fish in the blooded water for https://www.wowhead.com/item=45905/bloodtooth-frenzy b

[2021-03-22 17:12] Echinaceax opened #5134 "[NPC] Ruby Keeper - Dragonblight"
**Links:**

https://www.wowhead.com/npc=27530/ruby-keeper
https://gyazo.com/ff44f73d6cc6df1041846746aaa0f9cf

![image](https://user-images.githubusercontent.com/39439201/112030058-27618a80-8b3a-11eb-9082-4819bdbbd728.png)
![image](https://user-images.githubusercontent.com/39439201/112030161-44965900-8b3a-11eb-90cd-6cd2ac8b794e.png)

**What is happening:**
- there are 2 dead dragons glitching in mi

[2021-03-23 12:08] Echinaceax opened #5135 "[Profession] Fishing bug - Dalaran fountain"
**Links:**
https://gyazo.com/0f8407b1d71251b56e2d47f6cb5e4eaa
https://gyazo.com/b60282019782adb1afaa4e1c9a0904b9

**What is happening:**
- Fishing ID 88868, most of the time casts through the ground and not in the fountain as targeted
(on videos above)

**What should happen:**
Fishing should be cast to water that your facing and not through the ground where you cant click on the fishing bobber 😄
F

[2021-03-23 14:26] Echinaceax commented on #4019
reported here #4563

[2021-03-23 14:55] Echinaceax commented on #4862
on more research seems the % drop rate is from 9-22% no 100% drop

[2021-03-23 14:55] #4862 closed, assigned to mfranca0009

[2021-03-24 10:01] Echinaceax commented on #4909
### Update

Retested this now on live with Bloodelf Female Mage, all seems fine now
(Dalaran)

![image](https://user-images.githubusercontent.com/39439201/112291513-77526580-8c90-11eb-92ef-2b5378d48aec.png)

(Orgrimmar)

![image](https://user-images.githubusercontent.com/39439201/112292138-12e3d600-8c91-11eb-8219-14f1685cb70f.png)

closing this for now

[2021-03-24 11:23] Echinaceax commented on #5027
i do believe that you havent unchecked your Reign folder from "read only" so the Flight paths you had didnt save

i will close this because the stable issue is already reported here #4185

[2021-03-24 11:24] #5027 closed, assigned to nobody

[2021-03-24 23:32] Keader commented on #5127
Fixed.

[2021-03-25 11:00] Echinaceax commented on #5127
confirmed fixed in PTR

[2021-03-25 13:15] Echinaceax commented on #4478
Confirmed
Alot wrong with this actually, full event missing

![image](https://user-images.githubusercontent.com/39439201/112477641-83632380-8d73-11eb-8865-63e80f4ba8c9.png)

- [x] Lady Sylvanas Windrunner mounted horse (fixed)
- [x] Val'kyr's missing https://wowwiki-archive.fandom.com/wiki/Val%27kyr
- [x] resurrection of their dead enemies (fallen human) too (forsaken trooper)
- [x] Portals from O

[2021-03-25 13:49] Echinaceax opened #5136 "[NPC] Apothecary Witherbloom (missing) - Silverpine Forest"
**Links:**

npc https://www.wowhead.com/npc=44778/apothecary-witherbloom
quest https://www.wowhead.com/quest=26992/agony-abounds

![image](https://user-images.githubusercontent.com/39439201/112483549-6a5d7100-8d79-11eb-8d42-372e01608fba.png)

**What is happening:**
- npc missing so cant pick up the quest

**What should happen:**
npc should be spawned for quest pickup

**extra info**
Quest works fi

[2021-03-25 14:02] Echinaceax opened #5137 "[NPC] High Apothecary Shana T'veen (missing) - Silverpine Forest"
**Links:**

npc https://www.wowhead.com/npc=44784/high-apothecary-shana-tveen
quest https://www.wowhead.com/quest=26995/guts-and-gore

**What is happening:**
- quest giver missing

**What should happen:**
needs spawning

**extra info**
npc also missing for
https://www.wowhead.com/quest=26998/iterating-upon-success

[2021-03-25 14:05] Echinaceax opened #5138 "[Quest/item] Clean" Beast Guts - Silverpine Forest"
**Links:**
quest item https://www.wowhead.com/item=60742/clean-beast-guts
quest https://www.wowhead.com/quest=26995/guts-and-gore

https://www.wowhead.com/npc=1778/ferocious-grizzled-bear
https://www.wowhead.com/npc=1765/worg

**What is happening:**
- quest item not dropping
from bears and worg

**What should happen:**
_Recover 6 "Clean" Beast Guts._

**Other Information:**
https://www.wowhead.com

[2021-03-25 14:12] Echinaceax opened #5139 "[NPC] Deathstalker Commander Belmont (missing) - Silverpine Forest"
**Links:**

npc https://www.wowhead.com/npc=44789/deathstalker-commander-belmont
quest https://www.wowhead.com/quest=27039/dangerous-intentions

**What is happening:**
- missing npc cant pick up quest

**What should happen:**
Questgiver Should be spawned

**extra info**
Quest is fine, so just the missing npc

![image](https://user-images.githubusercontent.com/39439201/112487316-ead1a100-8d7c-11eb-

[2021-03-25 14:25] Echinaceax opened #5140 "[NPC] Deathstalker Rane Yorick cutscene (missing) - Silverpine Forest"
**Links:**

quest https://www.wowhead.com/quest=27045/waiting-to-exsanguinate

**What is happening:**

- [x]  no Deathstalker Rane Yorick spawns for me after picking up the quest
- [x] npc text
- [x] cant hide in Armoire
- [x]  cutscene missing
- [x] cant complete the quest
- [x] grouped members camera (**still to work on**)

**notes**

Deathstalker Rane Yorick https://www.wow-freakz.com/spells.ph

[2021-03-25 14:50] Echinaceax opened #5141 "[NPC] Lady Sylvanas Windrunner - 44365- (missing) - Silverpine Forest"
**Links:**

https://www.wowhead.com/npc=44365/lady-sylvanas-windrunner

**What is happening:**
- npc missing for quest delivery
https://www.wowhead.com/quest=27056/belmonts-report

**What should happen:**
Should be spawned

**extra info**
Needed for Storyline questline Silverpine Forest

https://www.wowhead.com/quest=27096/orcs-are-in-order

[2021-03-25 15:01] Echinaceax opened #5142 "[NPC] Admiral Hatchet (phasing) - Silverpine Forest"
**Links:**

https://www.wowhead.com/npc=44916/admiral-hatchet

**What is happening:**
- npc cant be seen by players (only GMs)

**What should happen:**
needs phasing to allow players to see them

quest delivery https://www.wowhead.com/quest=27065/the-warchiefs-fleet

![image](https://user-images.githubusercontent.com/39439201/120081852-e2208280-c0bf-11eb-9431-cebd277fd0a2.png)

![image](https://us

[2021-03-25 15:06] Echinaceax opened #5143 "[NPC] Warlord Torok (phasing) - Silverpine Forest"
**Links:**

https://www.wowhead.com/npc=44917/warlord-torok

**What is happening:**
- npc cant be seen by players (only by GMs)

**What should happen:**
should be seen by players

**for quests**
Give 'em Hell!
Hair of the Dog
Skitterweb Menace

Deeper into Darkness (auto accept)

[2021-03-25 16:07] Echinaceax opened #5144 "[Quest] Steel Thunder - Silverpine Forest"
**Links:**
https://www.wowhead.com/npc=44915/orc-crate
https://www.wowhead.com/quest=27069/steel-thunder

https://www.wow-freakz.com/quest_helper.php?quest=27069&name=steel-thunder

**What is happening:**

- [x] NPC not seen by players https://github.com/WoWManiaUK/Blackwing-Lair/issues/5142 (fixed)
- [ ] Not given the npc to carry the npc crates so the crates just get thrown randomly
https://gyaz

[2021-03-25 16:16] Echinaceax opened #5145 "[Quest] Lost in the Darkness - Silverpine Forest"
**Links:**

https://www.wowhead.com/quest=27093/lost-in-the-darkness
https://cata-twinhead.twinstar.cz/?npc=44942

**What is happening:**

- [ ] the webbed vicim's are empty
no enemies no Orc Sea Dogs

**What should happen:**
should be either enermy or  Orc Sea Dogs in them
https://www.wowhead.com/quest=27093/lost-in-the-darkness#videos:id=37427

worgens-wolves-bears or victims should be random
ht

[2021-03-25 16:26] Echinaceax opened #5146 "[Quest] Hair of the Dog - Silverpine Forest"
**Links:**

QUEST https://www.wowhead.com/quest=27226/hair-of-the-dog
ITEM https://www.wowhead.com/item=60870/barrel-of-explosive-ale

**What is happening:**

- [ ] no quest credit after using quest item
- [ ] no Orc text (needs retesting after click fixed)

**What should happen:**
**Rouse 8 Orc Sea Dogs**

**Text**
![image](https://user-images.githubusercontent.com/39439201/121686241-357fd100-cac

[2021-03-25 16:45] Echinaceax opened #5147 "[Quest] Rise, Forsaken / no escape - Silverpine Forest"
**Links:**
https://www.wowhead.com/quest=27097/rise-forsaken

**What is happening:**
- not scriped to give npc Agatha
quest isnt completable

**extra info**

- [ ] summon Agatha https://www.wow-freakz.com/spells.php?spell=83982&name=summon-agatha
- [ ] Buff https://cata-twinhead.twinstar.cz/?spell=85451

**abilities**
- [ ] Doomhowl https://cata-twinhead.twinstar.cz/?spell=84012
- [ ] Agatha res s

[2021-03-25 16:51] Echinaceax opened #5148 "[Quest] No Escape - Silverpine Forest"
**Links:**

https://www.wowhead.com/quest=27099/no-escape

abilities
https://cata-twinhead.twinstar.cz/?npc=44951#abilities

**What is happening:**

- [ ]  no Agatha still
- [ ]  no npcs in room
- [ ]  no cutscene

NEEDS #5147 FIXING FIRST

**What should happen:**
https://www.wowhead.com/quest=27099/no-escape#videos:id=37448

[2021-03-25 17:03] Echinaceax opened #5149 "[Quest] Honor the Dead - Silverpine forest"
**Links:**

QUEST https://www.wowhead.com/quest=27180/honor-the-dead
ITEM https://www.wowhead.com/item=60862/forsaken-insignia

**What is happening:**

- [ ] cant click on corpses

**What should happen:**
_Recover 6 Forsaken Insignias from Veteran Forsaken Trooper corpses._

https://www.wowhead.com/quest=27180/honor-the-dead#videos:id=37076

[2021-03-25 17:14] Echinaceax opened #5150 "[Quest] The Waters Run Red - Silverpine forest"
**Links:**
https://www.wowhead.com/quest=27232/the-waters-run-red

**What is happening:**

- [ ] cant use the cannons  https://www.wowhead.com/npc=45263/horde-cannon
https://wowpedia.fandom.com/wiki/Horde_Cannon
- [ ] cant start the event for the https://cata-twinhead.twinstar.cz/?npc=45270#abilities

**What should happen:**
_Kill 50 Hillsbrad Worgen with the Horde Cannon._
https://www.wowhead.com

[2021-03-25 17:32] Echinaceax opened #5151 "[NPC] Bloodfang Stalker - Silverpine forest"
**Links:**
https://www.wowhead.com/npc=45195/bloodfang-stalker
https://www.wowhead.com/quest=27181/excising-the-taint

![image](https://user-images.githubusercontent.com/39439201/122252956-0788fb00-cecc-11eb-961c-61a7bcd88df9.png)

**What is happening:**

- [ ] No red (!) above their heads (could be why, not set as quest giver)
- [ ] quest not given automatically as stated on the video

![image](h

[2021-03-25 17:39] Echinaceax opened #5152 "[NPC] Master Forteski - Silverpine forest"
**Links:**

https://www.wowhead.com/npc=45228/master-forteski

**What is happening:**
- npc missing

**What should happen:**
needs spawning to deliver quest https://www.wowhead.com/quest=27194/cornered-and-crushed

[2021-03-25 18:36] Echinaceax opened #5153 "[NPC] Forward Commander Onslaught - Ruins of Gilneas"
**Links:**

https://www.wowhead.com/npc=45315/forward-commander-onslaught

**What is happening:**

- [x] missing npc

**What should happen:**
should be spawned for quest
https://www.wowhead.com/quest=27333/losing-ground
https://www.wowhead.com/quest=27345/the-f-c-d
https://www.wowhead.com/quest=27349/break-in-communications-dreadwatch-outpost
https://www.wowhead.com/quest=27350/break-in-communicat

[2021-03-25 18:40] Echinaceax opened #5154 "[NPC] Captain Rutsak - Ruins of Gilneas"
**Links:**

https://www.wowhead.com/npc=45389/captain-rutsak

**What is happening:**
- npc missing

**What should happen:**
need spawning for quest delievery
https://www.wowhead.com/quest=27350/break-in-communications-rutsaks-guard
https://www.wowhead.com/quest=27360/vengeance-for-our-soldiers

**Note**
 info here, TWINSTAR says Gilneas
and wowwiki says and there are no mobs during the worgen star

[2021-03-26 10:15] #5127 closed, assigned to Keader

[2021-03-26 19:32] Schoxxy opened #5155 "[Spell/item/Hunter] Glyph of Steady Shot"
**Links:**
from WoWHead or our Armory
https://cata-twinhead.twinstar.cz/?item=42914

**What is happening:**
The critrate is increasing By 55% .
The damage is increasing By 3,599%.
After 1000 parses

**What should happen:**
The critrate schouldnt be Increased.
The damage schould be increased Bei 10%.

**Is it crashing the server?:**
No
**Other Information:**

[2021-03-26 21:05] Echinaceax commented on #4709
![image](https://user-images.githubusercontent.com/39439201/112692495-56039c00-8e7f-11eb-9047-5e2214cc9170.png)

[2021-03-27 13:47] Echinaceax opened #5156 "[Fishing weekly] Kalu'ak Fishing Derby"
**Links:**

https://cata-twinhead.twinstar.cz/?quest=24803

**What is happening:**
- [ ] NPC spawns to early 😄
- [ ] NPC doesnt YELL his Announcements
- [ ] Should only be one winner per week
_me and another player got to do it on the same week, both recieved Achv and reward_

for @mfranca0009  (current settings)
(63, '2016-10-29 12:00:00', '2020-12-31 05:00:00', 10080, 180, 0, 0, 'Kalu\'ak Fishin

[2021-03-28 01:30] Echinaceax commented on #135
### Update

note: due to daylight saving

![image](https://user-images.githubusercontent.com/39439201/112739673-76fae880-8f76-11eb-9ca8-9dae7f545972.png)

https://wowwiki-archive.fandom.com/wiki/Gurubashi_Arena

- [ ] Timers are off on this atm they are doing 11pm - 2am etc...
- [ ] Despawn timer is off slightly

**what should happen**
- timers should be 12 - 3 - 6 - 9 - etc...
- despawn after 5 m

[2021-03-28 01:34] #135 closed

[2021-03-28 12:11] Echinaceax commented on #2021
going to reopen this one and fix it as a profession issue

[2021-03-29 14:00] Echinaceax commented on #5132
update, got x3 of these so far

![image](https://user-images.githubusercontent.com/39439201/112848021-ecb2a180-90a7-11eb-8e48-f0207ea5c806.png)

[2021-03-29 16:58] Echinaceax opened #5157 "[Items] Dalaran fountain / Dalaran waters - Dalaran"
**Links:**

https://www.wowhead.com/item=43652/slippery-eel#comments

**What is happening:**

- [x] Fishing table in Dalaran sewers is not correct

**what is happening**
Bonescale Snapper https://cata-twinhead.twinstar.cz/?item=41808 (dropping 80%)
Glassfin Minnow https://cata-twinhead.twinstar.cz/?item=41814 (dropping 80%)
Pygmy Suckerfish https://cata-twinhead.twinstar.cz/?item=40199 (dropping 6

[2021-03-30 14:16] Echinaceax opened #5158 "[Fishing/loot] Empty fishing loot box"
**Links:**

- [ ] Swamp of Sorrows , Blasted Lands  https://www.wowhead.com/item=13893/large-raw-mightfish

- [ ] https://github.com/WoWManiaUK/Blackwing-Lair/issues/5158#issuecomment-886174849
- [ ] missing loot Large Raw Mightfish https://www.wowhead.com/item=13893/large-raw-mightfish

**whats happening**
While fishing for Large Raw Mightfish, i noticed i got 9 empty fishing loot boxes , i have

[2021-03-30 23:35] Novaveteran opened #5159 "[Item] Heirloom Auto-unequip / equipment issue"
**Links:**

https://www.wowhead.com/heirloom-guide#about-heirlooms

**What is happening:**

Currently heirloom items become unequipped after their scale limit, for example lvl 80.
so lvling a rogue, using 2 heirloom weapons, I log out at 81 after some lvling. Log back in, to find i no longer have weapons, they are in my mailbox. I collect them, can't equip them.

**What should happen:**

Should st

[2021-03-30 23:56] Echinaceax commented on #5159
these heirlooms i believe @wow-mania

https://wowwiki-archive.fandom.com/wiki/Balanced_Heartseeker
http://cata.cavernoftime.com/item=42944

note @wow-mania  that all heirlooms 1-80 automatically unquip when player hits 81 and logs out

[2021-03-31 00:07] Novaveteran commented on #5159
Yeah any lvl 80 heirloom should still be usable even at lvl 85, they just stop scaling at 80, and exp bonus no longer working

[2021-03-31 00:17] Echinaceax commented on #5159
@wow-mania We have found no evidence that 1-80 looms should automatically unquip when player hits81 and logs out
they should remain on the player (without bonuses ofc) until the player can replace their looms with dungeon loot or quest rewards

http://cata.cavernoftime.com/item=42946
http://cata.cavernoftime.com/item=42985
http://cata.cavernoftime.com/item=48691
http://cata.cavernoftime.com/item=4

[2021-03-31 00:34] Novaveteran commented on #5159
I don't know what to say other than that it is a fact haha, been playing almost daily since early 2005. I made a retail support ticket as to fortify my claim, but it is a fact you can equip them even if you are 500, i am waiting for the ticket reaponse.

[2021-03-31 15:42] Keader commented on #4871
Spell was working already.
But during tests me and @Echinaceax found a crash.
Fixed this crash found.

[2021-03-31 21:01] Keader commented on #4124
fixed folks

[2021-03-31 21:34] Keader commented on #4089
Fixed.
Now it will get paladin stats

[2021-03-31 21:51] Keader commented on #3977
Fixed.
Yeap, was not working at all

[2021-04-01 02:49] Novaveteran opened #5160 "[Spell] Sapping combat bug"
**Links:**

https://i.imgur.com/5c7XyOo.png

**What is happening:**

When I sap a mob, and come out of stealth, it targets me and keeps me in combat while sapped.
For example if there are 2 mobs, I sap 1, kill the other, im stuck in combat because sapped target can target me and keep me in combat.

**What should happen:**

The sapped target should not be able to target anyone or keep anyone in com

[2021-04-01 11:28] Echinaceax commented on #5160
@Novaveteran we need more info, your screenshot doesnt show anything we can use for our test

- did you sap the target to fight a different target that was near (be aware of cone of awareness)
- what was your steps (eg: stealth, position, Sap, next target etc...)
- Video of your range from the Sapped target etc...

from what ive read, if you are still in the aggro range then it will do this

I als

[2021-04-01 16:30] Novaveteran opened #5161 "[Quest] Devoured - Twilight Highlands"
**Links:**

http://cata.cavernoftime.com/quest=27377

**What is happening:**

Mobs are there, can kill many, keep respawning, nothing actually attacking the npc that requires defending

**What should happen:**

Mobs attacking npc, and you kill and survive.

**Is it crashing the server?:**

**Other Information:**

[2021-04-01 16:51] Echinaceax commented on #1866
### Update
After auto completing this the delivery npc is not visable to player https://www.wowhead.com/npc=47991/earthcaller-yevaa
only visible in GM

[2021-04-01 17:00] Echinaceax commented on #5161
after auto completing https://github.com/WoWManiaUK/Blackwing-Lair/issues/1866#issuecomment-812037792
And picking up http://cata.cavernoftime.com/quest=27377 the mobs dont have pathing for player to _Survive Iso'rath's defenses_
so no quest completing given
https://www.youtube.com/watch?v=NeySF8trsII

note:
phasing issue to as stated in https://github.com/WoWManiaUK/Blackwing-Lair/issues/1866#issu

[2021-04-01 23:34] Keader commented on #5159
fixed

[2021-04-02 08:36] #3977 closed

[2021-04-02 08:36] #4089 closed

[2021-04-02 08:36] #4124 closed

[2021-04-02 08:36] #4871 closed, assigned to Keader

[2021-04-02 08:36] #5159 closed, assigned to Keader

[2021-04-02 16:13] Novaveteran opened #5162 "[NPCs] Pickpocket loot table issue"
**Links:**

- [ ] Stone Trogg Berserker https://cata-twinhead.twinstar.cz/?npc=43228#pick-pocketing

**What is happening:**

Only giving small amount of silver, never anything else

**What should happen:**

It giving the items linked above when pickpocketing

[2021-04-02 16:30] Echinaceax commented on #5162
1.04% - 23%
I will test and see what i get @Novaveteran

[2021-04-02 17:06] Novaveteran commented on #5162
Also Devout Follower NPCs in deepholm dungeon The Stonecore pickpocket nothing

[2021-04-02 17:22] Echinaceax commented on #5162
@Novaveteran can you make a list then post here :)

[2021-04-02 17:26] Echinaceax commented on #5162
i dont see it having pickpocket
https://www.wowhead.com/npc=42428/devout-follower
http://cata.cavernoftime.com/npc=42428
https://cata-twinhead.twinstar.cz/?npc=42428

Please check your source before adding issues

[2021-04-02 17:47] Novaveteran commented on #5162
Ahh you are right, I was reading guides to pickpocket there, guess they just did for the money

[2021-04-02 17:49] Novaveteran opened #5163 "[Object] Slip stream - The Vortex Pinnacle"
**Links:**

**What is happening:**

The vortex you click after the boss places that will bring you to next platform are not there. Apparently falling down.
Confirmed by GM

**What should happen:**

Vortex should be there so you can click it and it hops you to next till next platform.

**Is it crashing the server?:**

no

**Other Information:**

[2021-04-02 18:28] Echinaceax commented on #5163
Confirmed same on PTR

https://gyazo.com/58ce83820925267e89961ecf1f473af8

I have done this dungeon many times this wasnt like this, this is a new bug. not sure of the reason @mfranca0009

[2021-04-03 21:18] Echinaceax opened #5164 "[General] Mall band - The Mall"
Wow-reign Mall band has fell through the stage lol
they wasnt like that before, same as a few other stuff recently

![image](https://user-images.githubusercontent.com/39439201/113491633-9ba11400-94d2-11eb-9885-57e9426e3634.png)

**What should happen**
They need to be on the stage not under it 😄

[2021-04-04 10:51] Echinaceax commented on #691
not working fine

Ticks are to much damage

![consecration 100 over 10s](https://user-images.githubusercontent.com/39439201/113506584-fc1d6900-9545-11eb-9793-fb6fa6ab265c.jpg)

https://gyazo.com/7aa2ea115ad647420bf75ec42de202b1
https://gyazo.com/59d0332f55b6c57200e646d4d0849a36

[2021-04-04 11:22] Echinaceax opened #5165 "[Quest] Deep impact - Desolace"
**Links:**

https://www.wowhead.com/quest=14268/deep-impact

**What is happening:**

- [ ] vehicle bar does not appear

**What should happen:**
should have vehicle bar

[2021-04-04 11:40] Echinaceax opened #5166 "[Quest] The Enemy of Our Enemy - Desolace"
**Links:**
https://www.wowhead.com/item=49064/slitherblade-charm
https://www.wowhead.com/quest=14292/the-enemy-of-our-enemy

**What is happening:**
- no dialog to give new charm
- cant deliver quest

**What should happen:**
should have dialog for a new charm
should speak to  with Lord Hydronis
https://www.youtube.com/watch?v=GQoV-pNnRzU

[2021-04-04 11:48] Echinaceax opened #5167 "[Quest] A Revenant's Vengeance - Desolace"
**Links:**
https://www.wowhead.com/quest=14284/a-revenants-vengeance

**What is happening:**
- due to the previous quest https://www.wowhead.com/quest=14292/the-enemy-of-our-enemy reported bugged #5166
- players cant pick up the next quest

**What should happen:**
need this fixing #5166 first then can retest

[2021-04-04 17:19] Echinaceax opened #5168 "[NPC] Troll roof stalker - Orgrimmar"
**Links:**
https://www.wowhead.com/npc=23090/troll-roof-stalker

**What is happening:**
- npc Pathing

**What should happen:**
npc needs pathing correcting they are glitching

[2021-04-04 21:02] Echinaceax commented on #2190
list is reported here #2985
so i will close this one

[2021-04-04 21:02] #2190 closed

[2021-04-04 21:11] Maxe1807 opened #5169 "[Talent/Hunter] Posthaste"
**What is happening**
Hello i'm playing a Marksmanship hunter and the talent http://prntscr.com/1148xvz dosent work because if i use Disengage does this happen https://prnt.sc/113xbva   with friendly greetings Max

**What should happen**
Posthaste
https://cata-twinhead.twinstar.cz/?spell=83558
https://cata-twinhead.twinstar.cz/?spell=83560

![image](https://user-images.githubusercontent.com/394392

[2021-04-04 21:22] Echinaceax commented on #5169
Posthaste https://cata-twinhead.twinstar.cz/?spell=83558

[2021-04-05 00:50] mfranca0009 commented on #4713
I need the quest ID for the specified quest, submit a list of quests that are having this problem if it's more than one. @Echinaceax

[2021-04-05 08:43] Echinaceax commented on #4198
gps @mfranca0009

![image](https://user-images.githubusercontent.com/39439201/113555732-b02cfb80-95fb-11eb-8199-c545e27eb5c9.png)

[2021-04-05 08:48] Echinaceax commented on #4713
Orgimmar

- [x] https://www.wowhead.com/quest=26588/a-furious-catch
- [x] https://www.wowhead.com/quest=26572/a-golden-opportunity
- [x] https://www.wowhead.com/quest=26557/a-staggering-effort
- [x] https://www.wowhead.com/quest=26543/clammy-hands
- [x] https://www.wowhead.com/quest=26556/no-dumping-allowed

thunderbluff

- [x] https://www.wowhead.com/quest=29349/craving-crayfish
- [x] https://www

[2021-04-05 11:46] Echinaceax opened #5170 "[Quest Items] Items being fished up in Thunderbluff"
**Links:**

- [ ] Trophy Swoop Quill https://cata-twinhead.twinstar.cz/?item=4769#objective-of
- [ ] Windfury Talon https://cata-twinhead.twinstar.cz/?item=4751#objective-of
- [ ] Stalker Claws https://cata-twinhead.twinstar.cz/?item=4801

**What is happening:**
quest Items being fished up in Thunderbluff

**What should happen:**

- shouldnt be fished, they should be drops
-  shouldnt be without t

[2021-04-05 14:00] Echinaceax opened #5171 "[NPC] Elder Kesuk - Borean Tundra"
**Links:**

https://www.wowhead.com/npc=25397/elder-kesuk
https://www.wowhead.com/quest=11610/leading-the-ancestors-home

**What is happening:**
- This npc is missing
cant complete the quest

**What should happen:**
_Elder Atkanok wants you to guide the spirits of Elder Kesuk, Elder Sagani, and Elder Takret to their stone monuments._

**other info**
confirmed by GM

[2021-04-05 14:11] Echinaceax opened #5172 "[Quest] Travel to Moa'ki Harbor - Borean Tundra"
**Links:**
https://wowpedia.fandom.com/wiki/Kalu%27ak

https://www.wowhead.com/quest=12117/travel-to-moaki-harbor
https://www.wowhead.com/npc=28382/hotawa

**What is happening:**
After following the questline for Kalu'ak rep, i found that NPC Hotawa doesnt give the quest

**What should happen:**
NPC Hotawa should start a quest to continue the Kalu'ak  rep

**new info**
seems 2 npc named https://ww

[2021-04-05 14:53] Echinaceax opened #5173 "[NPC] Waltor of Pal'ea - Borean Tundra"
**Links:**

npc https://www.wowhead.com/npc=25476/waltor-of-palea
quest https://www.wowhead.com/quest=11655/into-the-mist

**What is happening:**
- missing quests

**What should happen:**
- this npc should offer the start quest

**Other Information:**
https://wowpedia.fandom.com/wiki/Waltor_of_Pal%27ea

[2021-04-05 14:56] Echinaceax commented on #5173
Had GM check the questline 😄
i did it already

[2021-04-05 14:56] #5173 closed, assigned to mfranca0009

[2021-04-05 15:22] Echinaceax opened #5174 "[NPC] Karuk - Borean Tundra"
**Links:**

npc https://www.wowhead.com/npc=25435/karuk

**What is happening:**
missing quests

**What should happen:**
he should offer

https://www.wowhead.com/quest=11613/karuks-oath
https://www.wowhead.com/quest=11619/gamel-the-cruel
https://www.wowhead.com/quest=11620/a-fathers-words (only got this one atm) which is the 3rd quest

**Other Information:**
after following the rep questline i foun

[2021-04-05 17:00] Echinaceax opened #5175 "[NPC] Captain Ellis - Howling Fjord"
**Links:**

https://www.wowhead.com/npc=24910/captain-ellis

**What is happening:**
not at coods

**What should happen:**
Needed for a quest series
https://www.wowhead.com/quest=11530/the-shield-of-the-aesirites
https://www.wowhead.com/quest=11527/mutiny-on-the-mercy
https://www.wowhead.com/quest=11529/sorlofs-booty
https://www.wowhead.com/quest=11530/the-shield-of-the-aesirites

**Other Informati

[2021-04-05 17:33] Echinaceax opened #5176 "[Quest] Jack Likes His Drink ID: 11466 - Howling Fjord"
**Links:**

https://www.wowhead.com/quest=11466/jack-likes-his-drink

**What is happening:**
- no dialog after youve been to the bar lady

**What should happen:**
Taruk at Scalawag Point in Howling Fjord wants you to collect Jack Adams' Debt.

https://www.youtube.com/watch?v=5pz776B2qjw

[2021-04-05 17:48] Echinaceax opened #5177 "[Quest] Dead Man's Debt - Howling Fjord"
**Links:**
https://www.wowhead.com/quest=11467/dead-mans-debt

**What is happening:**
- invalid target
- cant kill to get the chest

**What should happen:**
All the npcs should be attackable

**Other Information:**

![image](https://user-images.githubusercontent.com/39439201/113605966-a92bda80-9647-11eb-9ce4-cd4693748ebb.png)

[2021-04-06 11:00] Echinaceax opened #5178 "[Daily Quest] The Way to His Heart... - Howling Fjord"
**Links:**

https://www.wowhead.com/quest=11472/the-way-to-his-heart

**What is happening:**

- [ ] this quest isnt given

**What should happen:**
this quest is for the daily rep for https://www.wowhead.com/faction=1073/the-kaluak

https://www.wowhead.com/faction=1073/the-kaluak#comments

![image](https://user-images.githubusercontent.com/39439201/113701108-ffe0f500-96d7-11eb-87f0-158765cd0c74.png

[2021-04-06 11:03] Echinaceax commented on #1362
not fix

[2021-04-06 11:05] Echinaceax commented on #5176
reported here #4138

[2021-04-06 11:05] #5176 closed, assigned to mfranca0009

[2021-04-07 01:42] Keader commented on #5169
fixed

[2021-04-07 09:23] Echinaceax commented on #5169
Fixed in dev

![image](https://user-images.githubusercontent.com/39439201/113843100-9a523e80-9793-11eb-94a8-b680a0508b33.png)

[2021-04-07 14:07] Echinaceax commented on #3013
I Also have this Achology trinket myself and can confirm not working correctly ..gained only 1 mana from the trinket when used:

![image](https://user-images.githubusercontent.com/39439201/113879949-507d4e80-97bb-11eb-8d06-38c2371773be.png)

**what should happen**
![image](https://user-images.githubusercontent.com/39439201/113880078-730f6780-97bb-11eb-8827-046800810afe.png)

[2021-04-07 14:16] Echinaceax commented on #2149
@mfranca0009 didnt we both confirm this before?

[2021-04-07 14:20] Echinaceax commented on #2149
confirmed no movement speed reduced by 70%

glyph of freezing trap here https://cata-twinhead.twinstar.cz/?item=42905

confirmed not working
https://gyazo.com/ac06cbd9cbbba764dd044a50dd6d56b2

[2021-04-07 14:29] Echinaceax commented on #2149
glyph of freezing trap here https://cata-twinhead.twinstar.cz/?item=42905

[2021-04-07 15:51] Lumber-Jack-2 commented on #5131
is good now again

[2021-04-07 16:28] Echinaceax commented on #5131
confirmed fixed in PTR thanks @Rushor ❤️

[2021-04-07 19:26] golosomie commented on #4051
@Keader

If both runes are on cooldown, one is regenerating while the other is "fully depleted" (not yet regenerating). The spell should only regenerate the rune that is fully depleted. Right now, one of both is picked randomly.

Seen for frost runes: https://gyazo.com/0aaad8b0060abad6d2dd6eb467e7ae13
Unholy runes: https://gyazo.com/97b0f660b3855d9d004c59bfe8e28c4d
Same thing can happen for Blood

[2021-04-08 11:22] Echinaceax opened #5179 "[NPC] Utaik"
**Links:**

https://www.wowhead.com/npc=26213/utaik

**What is happening:**
- needs to be blue ! ?
 Quest is a daily

**What should happen:**
Should be blue, letting the player know its a daily repeatable

**Other Information:**
https://www.wowhead.com/quest=11945/preparing-for-the-worst
![utaik blue](https://user-images.githubusercontent.com/39439201/114018380-7400d180-986d-11eb-97a5-86b2dd707d1a

[2021-04-08 12:29] Echinaceax opened #5180 "[NPC] Trapper Mau'i"
**Links:**

https://www.wowhead.com/npc=26228/trapper-maui

**What is happening:**
Quest accept should be blue

**What should happen:**
Should be blue, letting the player know its a daily repeatable
https://www.wowhead.com/quest=11960/planning-for-the-future

**Extra info**
hes is a link Rushor posted for same issue TrinityCoreLegacy/TrinityCore@d896f79

[2021-04-09 12:55] Echinaceax commented on #3799
adding to main report

[2021-04-09 12:55] #3799 closed

[2021-04-09 12:58] Echinaceax commented on #4198
adding to main report #5181

[2021-04-09 12:59] Echinaceax opened #5181 "[Fishing Dailies/Acheivements] Main report"
**Dailies**
- [x] Jewel Of The Sewers https://www.wowhead.com/quest=13832/jewel-of-the-sewers  -  (#3799)
- [x] Severed Arm https://www.wowhead.com/quest=13836/disarmed - (#4198)
- [x] Blood Is Thicker https://www.wowhead.com/quest=13833/blood-is-thicker - (#5133)
- [x] An Old Favorite https://www.wowhead.com/quest=29359/an-old-favorite - (#4992)
- [x] Tadpole Terror https://www.wowhead.com/quest=

[2021-04-09 12:59] #4198 closed

[2021-04-09 13:01] Echinaceax commented on #4922
adding to main report #5181

[2021-04-09 13:01] #4922 closed, assigned to mfranca0009

[2021-04-09 13:12] #5131 closed, assigned to Lumber-Jack-2, mfranca0009

[2021-04-09 13:12] #5169 closed, assigned to Keader

[2021-04-09 13:19] Echinaceax commented on #5133
added to main report #5181

[2021-04-09 13:19] #5133 closed, assigned to mfranca0009

[2021-04-09 13:20] Echinaceax commented on #4992
added to main report #5181

[2021-04-09 13:20] #4992 closed, assigned to mfranca0009

[2021-04-09 13:23] Echinaceax commented on #4563
added to main report #5181

[2021-04-09 13:23] #4563 closed, assigned to mfranca0009

[2021-04-09 13:24] Echinaceax commented on #2021
added to main report #5181

[2021-04-09 13:25] #2021 closed

[2021-04-09 16:58] #5177 closed, assigned to mfranca0009

[2021-04-09 16:58] Echinaceax commented on #5177
reported here oops #5126

[2021-04-10 10:59] Echinaceax commented on #4370
- [ ] http://cata.cavernoftime.com/item=32837

What is happening:

not working for xmog
legendary weapons cannot be xmorg error message
What should happen:
should be able to use for xmog like Mania

[2021-04-10 11:00] Echinaceax commented on #4766
added to main report #4370

[2021-04-10 11:00] #4766 closed, assigned to nobody

[2021-04-10 11:09] Echinaceax commented on #4603
i know why :)

[2021-04-10 11:09] #4603 closed, assigned to nobody

[2021-04-10 18:32] Echinaceax commented on #1137
https://wowpedia.fandom.com/wiki/Seer_Skaltesh

Gossip

- [x] I am Skalta[sic], guide to the shaman seeking enlightenment here... but even those who follow different paths can be shown a thing or two. Do you wish to see?

- [ ] Gossip Show me, Seer.

You receive an  [Elemental Sapta] that will expire after 5 minutes. Drinking it grants  [Sapta Sight] for 1 minute.
Drink from this vial, and the fog

[2021-04-11 09:30] Echinaceax commented on #5181
**NOTES**

- [x] Lucky buff (applied)

![image](https://user-images.githubusercontent.com/39439201/114299658-cb48b100-9abc-11eb-907e-fa5dc4672a6a.png)

**Confirmed working**

![image](https://user-images.githubusercontent.com/39439201/119269085-3e822e80-bbf6-11eb-87fe-d9fcf47d98cf.png)

[2021-04-12 12:17] R2WD40 opened #5182 "[Quest] Keep Your Hands Off the Goods - Loch Modan"
**Links:**

https://www.wowhead.com/quest=13650/keep-your-hands-off-the-goods

**What is happening:**

Objects can't be interacted with.

**What should happen:**
Interaction with objects and completion of steps.

**Is it crashing the server?:**
No.
**Other Information:**

[2021-04-12 12:24] Echinaceax commented on #5182
Confirmed in PTR
Object markers are not working
https://www.wowhead.com/quest=13650/keep-your-hands-off-the-goods#videos:id=32072

[2021-04-13 12:13] Echinaceax commented on #2588
Firelands coming soon (no ETA)
We will recheck when Firelands is released

Rushor removed the full questline here https://github.com/WoWManiaUK/Blackwing-Lair/issues/3883#issuecomment-554493162

[2021-04-13 12:32] Echinaceax commented on #102
from 2018 this report
Quest is obviously not meant to have been available at the release of the progressive status

noting this info for future issue

[2021-04-13 16:31] Echinaceax opened #5183 "[NPC] Commoner's (Ally / Horde) - Noblegarden"
**Links:**

quest https://www.wowhead.com/quest=13483/spring-gatherers

**What is happening:**

- [ ] Human Commoner's x2 missing from outside Ally bank Dalaran https://www.wowhead.com/npc=18927/human-commoner
- [ ] Night Elf Commoner (missing) https://www.wowhead.com/npc=19173/night-elf-commoner
- [ ] Dwarf Commoner (missing) https://www.wowhead.com/npc=19148/dwarf-commoner
- [ ] Draenei Commoner

[2021-04-15 00:18] Keader commented on #4051
test now pls.
it should priorize the rune with higher cooldown (inside of that type)

[2021-04-15 00:41] Keader commented on #3978
Fixed, will proc only once now

[2021-04-15 19:46] Echinaceax opened #5184 "[Flight bugged] Into The Wild Green Yonder 13045 / Death Comes From On High 12641"
**Links:**

https://www.wowhead.com/quest=12641/death-comes-from-on-high
https://www.wowhead.com/quest=13045/into-the-wild-green-yonder

video on ptr https://gyazo.com/e44442135279878abe35c47b7798d9e4

**What is happening:**
- both these quest have become bugged since the flight fix from another issue #5131
the fix has been reverted but these quest are still bugged, you can mount the npcs but you

[2021-04-15 23:00] golosomie commented on #4051
@Keader
Confirmed fixed on PTR.

[2021-04-16 09:02] Echinaceax commented on #1112
https://www.wowhead.com/quest=26047/and-thats-why-they-call-them-peons (horde quest)
https://www.wowhead.com/npc=41989/frightened-peon-rescued

- [ ] npc inactive  - cant complete quest
- [ ] npc are missing the frightened animation

![image](https://user-images.githubusercontent.com/39439201/115003093-c3668380-9ea5-11eb-888e-92d276070040.png)

**note**
https://www.wowhead.com/npc=41283/frightened

[2021-04-16 09:15] Echinaceax commented on #1112
https://www.wowhead.com/quest=26047/and-thats-why-they-call-them-peons (horde quest)

- [ ] npc inactive  - cant complete quest

![image](https://user-images.githubusercontent.com/39439201/115003093-c3668380-9ea5-11eb-888e-92d276070040.png)

[2021-04-16 09:39] Echinaceax opened #5185 "[NPC] Krom'gar Assassin (Missing) - Stonetalon Mountains"
**Links:**

https://www.wowhead.com/npc=41291/kromgar-assassin

![image](https://user-images.githubusercontent.com/39439201/115005511-3a048080-9ea8-11eb-8e59-170f6139a9b1.png)

**What is happening:**
- only one spawned

**What should happen:**
should be  21
needed for quest https://www.wowhead.com/quest=25806/they-put-the-assass-in-never-mind

![image](https://user-images.githubusercontent.com/394

[2021-04-16 12:14] Echinaceax opened #5186 "[Quest] Nowhere to Run - Silverpine Forest"
**Links:**

https://www.wowhead.com/quest=27195/nowhere-to-run

**What is happening:**

- [x] due to missing npcs #5152  and #5141 (fixed)
- [ ] cant Escort Master Forteski through the Deep Elem Mine.
- [ ] Packleader Ivar Bloodfang https://cata-twinhead.twinstar.cz/?npc=45236  (for bomb thown)

**What should happen:**

- needs full script

After quest added - cant deliver #5139

**retesting follo

[2021-04-16 12:35] Echinaceax opened #5187 "[NPC] Worgen Rebel - Ruins of Gilneas"
**Links:**

https://www.wowhead.com/npc=45292/worgen-rebel
https://www.wowhead.com/quest=27333/losing-ground

**What is happening:**

- [ ]  missing Worgen Rebel

**What should happen:**
should be spawned for quest 12/12 https://www.wowhead.com/quest=27333/losing-ground

[2021-04-16 12:46] Echinaceax opened #5188 "[Object] Wolfsbane - Ruins of Gilneas"
**Links:**

object https://cata-twinhead.twinstar.cz/?object=205367
quest https://cata-twinhead.twinstar.cz/?quest=27342

**What is happening:**

- [ ] Object not spawned

**What should happen:**
should be spawned for quest https://www.wowhead.com/quest=27342/in-time-all-will-be-revealed

[2021-04-16 12:54] Echinaceax opened #5189 "[Object] Forsaken Communication Device - Ruins of Gilneas"
**Links:**

https://cata-twinhead.twinstar.cz/?object=205363#
https://cata-twinhead.twinstar.cz/?search=Forsaken+Communication+Device#items

**What is happening:**
- Object missing, cant complete quest

**What should happen:**
should be spawned for quest

[2021-04-16 13:00] Echinaceax opened #5190 "[NPC] Korok the Colossus - Ruins of Gilneas"
**Links:**

https://www.wowhead.com/npc=45301/korok-the-colossus

**What is happening:**
- Missing

**What should happen:**
should be spawned to drop a start quest
https://www.wowhead.com/item=60956/koroks-second-head

[2021-04-16 13:15] Echinaceax opened #5191 "[Info only] Break in Communications: Rutsak's Guard - Ruins of Gilneas"
### TEST IN PTR

**Links:**

https://www.wowhead.com/quest=27350/break-in-communications-rutsaks-guard

**What is happening:**
- after auto completing this quest due to missing npcs,
i rewarded the quest it crashed the ptr server

note - when all silverpine questline fixed and player gets to this quest "could" crash the server

### INFORMATION ONLY FROM PTR

[2021-04-16 14:21] Echinaceax commented on #5191
wasnt me that crashed ptr 😄
close this now

[2021-04-16 14:21] #5191 closed, assigned to nobody

[2021-04-16 14:30] Echinaceax opened #5192 "[Quest/npcs] 7th Legion Submariner - missing - Ruins of Gilneas - Silverpine"
**Links:**

npc https://www.wowhead.com/npc=45403/7th-legion-submariner
quest https://www.wowhead.com/quest=27360/vengeance-for-our-soldiers

![image](https://user-images.githubusercontent.com/39439201/115039828-16a1fb80-9ed1-11eb-85f2-2df4048b1ca2.png)

**What is happening:**
- camp is empty no npcs

**What should happen:**
should be spawned for quest

https://www.wowhead.com/quest=27360/vengeanc

[2021-04-16 14:43] Echinaceax opened #5193 "[Object] 7th Legion Telescope - Ruins of Gilneas / Silverpine"
**Links:**

![image](https://user-images.githubusercontent.com/39439201/115041101-70ef8c00-9ed2-11eb-923b-d44eb6b6ec2e.png)

camera https://www.wow-freakz.com/npc_finder.php?npc=45430&name=gilneas-camera-01-target
spell https://www.wow-freakz.com/spells.php?spell=84929&name=quest-credit-what-tomorrow-brings

**What is happening:**

- [ ] 7th Legion Telescope (205417) missing
- [ ] need camera scen

[2021-04-16 14:51] Echinaceax opened #5194 "[Quest] A Man Named Godfrey (missing) - Ruins of Gilneas"
**Links:**

https://www.wowhead.com/quest=27406/a-man-named-godfrey

**What is happening:**
- after getting to this part of the questline (ptr test) quest missing from DB
Can search quest "no quest found"

**What should happen:**
once the quest giver is added https://www.wowhead.com/npc=45312/deathstalker-commander-belmont
should be ok to receive the quest

**note**
use add id command to continue

[2021-04-16 15:04] Echinaceax opened #5195 "[NPC] Deathstalker Commander Belmont (ID 45312) missing - Ruins of Gilneas"
**Links:**

https://www.wowhead.com/npc=45312/deathstalker-commander-belmont

**What is happening:**

- [ ] npc missing

**What should happen:**
- missing npc for quest back
https://github.com/WoWManiaUK/Blackwing-Lair/issues/5194
https://www.wowhead.com/quest=27405/fall-back

[2021-04-16 15:38] Echinaceax opened #5196 "[Quest/NPCs ]Resistance is Futile - Ruins of Gilneas"
**Links:**

- [ ] https://www.wowhead.com/npc=45481/bloodfang-scout
- [ ] https://www.wowhead.com/npc=45483/worgen-battlemage
- [ ] https://www.wowhead.com/npc=45495/worgen-combatant-proxy
- [ ] https://www.wowhead.com/npc=45499/gilnean-warhound
- [ ] https://www.wowhead.com/npc=45536/bloodfang-scout
- [ ] https://www.wowhead.com/npc=45537/worgen-battlemage
- [ ] https://www.wowhead.com/npc=45538/

[2021-04-16 16:34] Echinaceax opened #5197 "[Quest] The Great Escape - Ruins of Gilneas"
**Links:**

https://www.wowhead.com/quest=27438/the-great-escape

**What is happening:**

- [ ] cant escape the Ruins of Gilneas with Arthura and the corpse of Lord Godfrey.
- [ ] no npcs

https://www.wowhead.com/npc=44369/lord-godfrey
https://www.wow-freakz.com/npc_finder.php?npc=49129

no quest delivery after auto completing.

- [ ] Lady Sylvanas Windrunner missing https://www.wowhead.com/npc=45

[2021-04-16 17:03] Echinaceax opened #5198 "[Flight Paths npcs ] missing Flight Paths - Silverpine / Ruins of Gilneas"
**Links**
https://www.wowhead.com/npc=44825/bat-handler-maggotbreath
https://www.wowhead.com/npc=45479/bat-handler-doomair (only phased during the Silverpine questline)

**What is happening:**
- 2 missing npc Bat handlers for connecting Forsaken high command and forsaken forward command
Forsaken front should connect with forsaken forward command and back again

**What should happen:**
flight icons

[2021-04-16 17:44] Echinaceax opened #5199 "[Quest order] Silverpine / Ruins of Gilneas - Main fix order"
https://wowwiki-archive.fandom.com/wiki/Quest:The_Warchief_Cometh

**Missing npcs plus phasing setting**

- [x] Worgen Commando https://www.wowhead.com/npc=46038/worgen-commando
- [x] Cowering Trooper https://www.wowhead.com/npc=45910/cowering-trooper-rescued
- [x] Forsaken Vanguard https://www.wowhead.com/npc=45882/forsaken-vanguard / https://www.wowhead.com/npc=45882/forsaken-vanguard
- [x] Fors

[2021-04-17 09:32] Echinaceax opened #5200 "[NPC] Lady Sylvanas Windrunner - 45617 - (missing) - Silverpine Forest"
**Links:**

https://www.wowhead.com/npc=45617/lady-sylvanas-windrunner

**What is happening:**
- missing for quest pickups and delivery

**What should happen:**
needs spawning

[2021-04-17 09:52] Echinaceax opened #5201 "[NPC] Lady Sylvanas Windrunner - 45525 - (missing) - Silverpine Forest"
**Links:**

https://www.wowhead.com/npc=45525/lady-sylvanas-windrunner

**What is happening:**
- missing for quest delivery

**What should happen:**
needs spawning
https://www.wowhead.com/quest=27438/the-great-escape

[2021-04-17 10:06] Echinaceax opened #5202 "[Quest] Transdimensional Warfare: Chapter II - Silverpine Forest"
**Links:**
https://www.wowhead.com/quest=27513/transdimensional-warfare-chapter-ii

![image](https://user-images.githubusercontent.com/39439201/115109253-f297f600-9f74-11eb-8cce-bc1aec988f8e.png)

**What is happening:**
- missing portal usuage dialog

**What should happen:**
needs dialog to be able to be ported

https://www.youtube.com/watch?v=ZB5fKnPBRFc

[2021-04-17 10:11] Echinaceax opened #5203 "[Quest] Transdimensional Warfare: Chapter III - Silverpine Forest"
**Links:**

https://www.wowhead.com/quest=27518/transdimensional-warfare-chapter-iii

**What is happening:**
- cant complete this either coz of #5202 need to be in the phase to continue with part 3

**What should happen:**
need to fix #5202 before i can retest

[2021-04-17 10:21] Echinaceax opened #5204 "[Quest] Taking the Battlefront - Silverpine Forest"
**Links:**
https://www.wowhead.com/quest=27542/taking-the-battlefront

![image](https://user-images.githubusercontent.com/39439201/115109521-7b636180-9f76-11eb-95b4-74137db712e6.png)

**What is happening:**

- [ ] missing quest discription
- [ ] missing summoned npcs
https://www.wow-freakz.com/npc_finder.php?npc=45607&name=baron-ashbury
https://www.wow-freakz.com/npc_finder.php?npc=45608&name=lord

[2021-04-17 10:34] Echinaceax opened #5205 "[NPC] Baron Ashbury (missing) - Silverpine Forest"
**Links:**
https://www.wowhead.com/npc=45880/baron-ashbury

**What is happening:**
- missing npc not given from previous quest #5204

**What should happen:**
should be spawned for follow up quest https://www.wowhead.com/quest=27547/of-no-consequence

**extra info**
summoned after fix #5255

[2021-04-17 10:42] Echinaceax opened #5206 "[NPC] Lord Walden (missing) - Silverpine Forest"
**Links:**

https://www.wowhead.com/npc=45879/lord-walden

**What is happening:**
- missing npc
https://www.wow-freakz.com/spells.php?spell=85518&name=summon-walden

**What should happen:**
needed for https://www.wowhead.com/quest=27548/lessons-in-fear

**extra info**
summoned after fix #5255

[2021-04-17 10:48] Echinaceax opened #5207 "[Quest/npcs] Lessons in Fear - (missing 7th Legion Scout) - Silverpine Forest"
**Links:**

https://www.wowhead.com/npc=45883/7th-legion-scout
https://www.wowhead.com/npc=45882/forsaken-vanguard

**What is happening:**
- missing burning buildings
- 7th Legion Scout missing
- missing dead forsaken vanguard

**What should happen:**
need 21 spawns

https://www.wowhead.com/quest=27548/lessons-in-fear

[2021-04-17 10:56] Echinaceax opened #5208 "[NPC] Lord Godfrey - Silverpine Forest"
**Links:**

https://www.wowhead.com/npc=45878/lord-godfrey

**What is happening:**
- missing npc

**What should happen:**
need for https://www.wowhead.com/quest=27550/pyrewoods-fall

**extra info**
summoned after fix #5255

[2021-04-17 11:04] Echinaceax opened #5209 "[Quest] Pyrewood's Fall - Silverpine Forest"
**Links:**

quest https://www.wowhead.com/quest=27550/pyrewoods-fall
quest item https://www.wowhead.com/item=61374/bundle-of-torches

Detect: Quest Invis Zone 16 https://cata-twinhead.twinstar.cz/?spell=85598

**What is happening:**
- quest item works but no quest credit
- missing quest markers
- [x] missing NPCs 7th Legion scout
- [x] missing dead https://www.wowhead.com/npc=45882/forsaken-vangua

[2021-04-17 11:18] Echinaceax opened #5210 "[NPC] Dwarven Infantry / General Marstone (missing) - Silverpine Forest"
**Links:**

https://www.wowhead.com/npc=45855/dwarven-infantry
https://www.wowhead.com/npc=45995/general-marstone

**What is happening:**

- [x] Dwarven Infantry missing (27)
- [x] General Marstone missing
- [ ] missing quest giver #5206

**What should happen:**
need spawning for https://www.wowhead.com/quest=27577/7th-legion-battle-plans

[2021-04-17 11:25] Echinaceax opened #5211 "[Quest/Npc] Sowing Discord - missing - Silverpine Forest"
**Links:**

https://www.wowhead.com/quest=27580/sowing-discord
https://www.wowhead.com/npc=45995/general-marstone

**What is happening:**
- quest npc missing #5210

**What should happen:**
need #5210 fixing

[2021-04-17 11:33] Echinaceax opened #5212 "[NPC] commander Lorna Crowley - Silverpine Forest"
**Links:**

commander Lorna Crowley https://cata-twinhead.twinstar.cz/?npc=45997

**What is happening:**
- quest npc missing
cant capture her for quest

**What should happen:**
_Capture Commander Lorna Crowley and return her to Lady Sylvanas Windrunner at the Forsaken Front in Silverpine Forest._

https://www.wowhead.com/quest=27594/on-her-majestys-secret-service

[2021-04-17 11:43] Echinaceax opened #5213 "[Quest/NPC] Cities in Dust - Silverpine Forest"
### Needs full scripting

**Links:**

https://www.wowhead.com/quest=27601/cities-in-dust

**What is happening:**

- [ ] no Lady Sylvanas (quest giver) https://cata-twinhead.twinstar.cz/?npc=45617
- [ ] Sylvanas' Music song music https://cata-twinhead.twinstar.cz/?item=52253 / https://www.wowhead.com/spell=73331/lament-of-the-highborne
- [ ] no Arthuna  summoned
- [ ] no Agartha summoned
- [ ] no D

[2021-04-18 09:38] Echinaceax opened #5214 "[NPCs] Daily (! and ?) issue list"
**Whats happening**

Daily quest giver should be blue quest pickups/deliveries  (not yellow)
letting players know its a repeatable daily quest and to show up on their minimap

**Links:**

- [x] old-man-barlo https://www.wowhead.com/npc=25580/old-man-barlo#starts
- [x] Lord Torvos http://cata.cavernoftime.com/npc=25140 for https://cata-twinhead.twinstar.cz/?quest=11877
- [x] Commander Kunz http://c

[2021-04-18 09:47] Echinaceax opened #5215 "[Quest/Daily] Bait Bandits - Terokkar Forest"
**Links:**

https://www.wowhead.com/quest=11666/bait-bandits

**What is happening:**
- Seems this quest from the random rotation is missing
ive done dailies with these for 2 weeks now and not once did i get this quest

**What should happen:**
- Needs checking if its listed
needed for the Old Man Barlowned Acheivment

https://wowwiki-archive.fandom.com/wiki/Old_Man_Barlowned

[2021-04-19 11:46] Echinaceax commented on #4772
Added to live

[2021-04-19 11:46] #4772 closed, assigned to Lumber-Jack-2

[2021-04-19 11:49] Echinaceax commented on #4217
hordes cant complete this due to the battle being bugged (only allies can) until the battle is fixed

[2021-04-19 11:50] #4217 closed

[2021-04-19 12:04] Echinaceax commented on #4952
Added to main report #5214

[2021-04-19 12:04] #4952 closed, assigned to mfranca0009

[2021-04-19 12:05] Echinaceax commented on #5180
added to main report #5214

[2021-04-19 12:05] #5180 closed, assigned to mfranca0009

[2021-04-19 12:06] Echinaceax commented on #5179
Added to main report #5214

[2021-04-19 12:06] #5179 closed, assigned to mfranca0009

[2021-04-19 13:02] #4051 closed

[2021-04-21 14:03] Echinaceax commented on #1903
**New info**
Spawning 3 at the same time (on normal mode) now

![image](https://user-images.githubusercontent.com/39439201/115567057-22b7ff80-a2bb-11eb-818e-36aa14c26195.png)

[2021-04-21 15:17] golosomie commented on #3978
@Keader
Multiple procs confirmed fixed on PTR.
Doesn't proc on Holy Shock though. Not sure if it should - gotta research that one.

[2021-04-21 15:22] Echinaceax commented on #3978
found some info on comments (only white comments so not sure)
https://www.wowhead.com/spell=94289/protector-of-the-innocent#comments

![image](https://user-images.githubusercontent.com/39439201/115579553-927fb780-a2c6-11eb-9341-a36d5b4391b5.png)

will look more when i have time before next update

[2021-04-22 23:45] Keader commented on #4090
fixed

[2021-04-23 00:04] Keader commented on #3819
fixed

[2021-04-23 00:16] Keader commented on #2342
Fixed (again)
i miss fix for rogues, just did to druids kekw
now fixed for rogues too ✌️

[2021-04-23 06:20] Echinaceax commented on #5215
update:
Took a while to get this quest in the rotation but working and completed

![image](https://user-images.githubusercontent.com/39439201/115827612-d2e94d80-a40c-11eb-81fd-ee9cc828b3e8.png)
![image](https://user-images.githubusercontent.com/39439201/115827722-fc09de00-a40c-11eb-9c7f-f9fd81b149af.png)

[2021-04-23 06:21] #5215 closed, assigned to mfranca0009

[2021-04-25 12:54] Schoxxy commented on #2298
Bane of Havoc Crashes the server when used inside of Castle Shadowfang.

[2021-04-25 13:16] Echinaceax commented on #2298
![image](https://user-images.githubusercontent.com/39439201/115994908-3b852580-a5d9-11eb-9f6d-4dc3ddfde796.png)

@mfranca0009
Seems the fix has caused server to crash inside dungeon

[2021-04-26 07:59] Echinaceax commented on #5205
note also missing npcs for follow up quest Of No Consequence
https://www.wowhead.com/npc=45910/cowering-trooper-rescued
https://www.wowhead.com/npc=45882/forsaken-vanguard

[2021-04-26 15:53] Echinaceax commented on #1601
Confirmed bugged
the video viewing is the quest completion, so cant complete quest without the cimematic

[2021-04-26 21:59] golosomie commented on #4090
@Echinaceax confirmed fixed on PTR

[2021-04-26 22:04] golosomie commented on #3819
@Keader couldn't get this to work. are you sure this is on PTR?

[2021-04-26 22:05] golosomie commented on #2342
@Keader couldn't get this to work. are you sure this is on PTR?

[2021-04-26 22:16] golosomie commented on #2298
@Echinaceax I couldn't reproduce the server crashing in Shadowfang Keep hc.
Need info if it happened on any specific mob / spell

[2021-04-26 23:24] Keader commented on #3819
yes, i tested my self, idk if janitor reverted it

[2021-04-27 06:58] Schoxxy commented on #2298
https://ibb.co/vscHp16

The Blue one Marked was the adds where I used the spell 3 Times on the ghost adds,  and it crashed afterwords.
The red one II used on the bossfight on a Add that the boss spawns.
I was in a groub with 2 Paladins (Heal,Tank), Schadow priest, Survival hunter.

[2021-04-27 07:08] Echinaceax commented on #2298
Thanks @Schoxxy

Drache - we might have to try an reproduce with Schoxxy on live and see if it crashes again if you cant on PTR

[2021-04-27 11:49] Echinaceax commented on #4568
confirmed missing npcs

there should be https://www.wowhead.com/npc=47869/johnny-awesome for quest delivery (missing) and new pick up for https://www.wowhead.com/quest=28231/do-it-for-twinkles

also missing
https://www.wowhead.com/npc=47900/master-apothecary-lydon in this phase for follow up quests
https://www.wowhead.com/quest=28209/freedom-for-lydon
https://www.wowhead.com/quest=28230/protocol
h

[2021-04-27 12:16] Echinaceax opened #5216 "[UI] Can Sign Up to locked Guild Events"
### Tested this on PTR

**What is Happening:**
Guild members can sign up to guild events that have been locked by the event moderator.

**What Should happen:**
There shouldn't be an option to sign up or an error should show.

**Steps to replicate:**
Create a guild event in the future
Lock the event on the character that created it and update
Log a different character in the same guild
Open calenda

[2021-04-28 10:28] #2342 closed

[2021-04-28 10:28] #3819 closed

[2021-04-28 10:28] #3978 closed

[2021-04-28 10:28] #4090 closed

[2021-05-04 20:11] Echinaceax commented on #654
fixed here https://github.com/WoWManiaUK/Blackwing-Lair/issues/4270

[2021-05-04 20:11] #654 closed

[2021-05-05 10:16] Echinaceax commented on #582
Fixed here https://github.com/WoWManiaUK/Blackwing-Lair/issues/4426

[2021-05-05 10:17] #582 closed

[2021-05-05 10:52] Echinaceax commented on #368
Update, @mfranca0009
but not the Scourge bone Animus, cant destroy the bones (on live, helped from GM test)

- [x] Skeletons are working
- [ ] Scourge bone Animus destroyed (not working on live)

![image](https://user-images.githubusercontent.com/39439201/117130656-a9330d80-ada0-11eb-9ba7-f4b8daa1dcbe.png)

on PTR
When i use the quest item to destroy the bones it kills me lol

![image](https://use

[2021-05-05 10:55] Echinaceax commented on #4405
not fully fixed

- [x] The mobs needed for the quest should spawn. (fixed)
- [ ] The quest item should work on the Scourge Bone Animus. (not fixed)

will fix here #368

[2021-05-05 15:26] Echinaceax commented on #1916
reported here #4809

[2021-05-05 15:26] #1916 closed

[2021-05-06 13:04] Echinaceax commented on #3629
For the quests
Ally https://www.wowhead.com/quest=25488/two-if-by-boat
horde https://www.wowhead.com/quest=25489/two-if-by-boat

video https://www.youtube.com/watch?v=elO1MNlvDVk

No dialog to be given the boat

![image](https://user-images.githubusercontent.com/39439201/117302761-48790300-ae7c-11eb-8169-36ab7e7db93b.png)

### Note
quest is completible by manually going to the quest delivery

[2021-05-06 13:35] Echinaceax commented on #3314
ally quest will be added to BQ soon, seems only horde was added

[2021-05-06 13:59] Echinaceax opened #5217 "[Quest] Quiet the Cannons - 25586/25585 - Thousand Needles"
**Links:**

Horde https://www.wowhead.com/quest=25586/quiet-the-cannons
Ally https://www.wowhead.com/quest=25585/quiet-the-cannons

**What is happening:**
- cant Destroy 8 Holdfast Cannons.
not clickable

**What should happen:**
https://www.youtube.com/watch?v=oVlj91ulxnw

[2021-05-06 15:01] Echinaceax commented on #2035
update
quest is doable tho if you can just kill the elite and get the key

[2021-05-06 15:10] Echinaceax opened #5218 "[NPC] Spirit of Tony Two-Tusk - (npc missing) - Thousand Needles"
**Links:**

npc https://www.wowhead.com/npc=41058/spirit-of-tony-two-tusk

**What is happening:**
- quest giver missing for quest pick up https://www.wowhead.com/quest=25660/haunted

**What should happen:**
- need the quest giver for pick up

**Extra info**
https://www.wowhead.com/quest=25660/haunted#videos:id=2558

not sure the spawning - can the previous quest is that you kill him for the key ht

[2021-05-06 17:31] Echinaceax opened #5219 "[Quest] Defend the Drill - (autocompleting) - Thousand Needles"
**Links:**

https://www.wowhead.com/quest=25799/defend-the-drill

**What is happening:**
- its autocomplete

**What should happen:**
- _Defend the Oil Drilling Rig._

https://www.wowhead.com/quest=25799/defend-the-drill#videos:id=2552

[2021-05-06 18:04] Echinaceax opened #5220 "[Quest] Save the Sentinel - 25871 - Thousand Needles"
**Links:**

ally https://www.wowhead.com/quest=25871/save-the-sentinel
https://www.wowhead.com/npc=41463/captured-feralas-sentinel-freed

**What is happening:**
- Captured Feralas Sentinel not spawned

**What should happen:**
_Rescue the Feralas Sentinel._
https://www.wowhead.com/quest=25871/save-the-sentinel#videos:id=82196

also is bugging next quest https://www.wowhead.com/quest=27275/together-

[2021-05-07 10:21] Echinaceax commented on #1868
deathwing disabled for now
reopen if still issues

[2021-05-07 10:21] #1868 closed

[2021-05-07 10:23] Echinaceax commented on #1878
deathwing disabled atm
reopen if still issues

[2021-05-07 10:23] #1878 closed

[2021-05-07 11:24] Echinaceax commented on #1972
No issue now
(new PC) 😄

[2021-05-07 11:25] #1972 closed

[2021-05-07 13:13] golosomie commented on #3309
pending for .bq command

[2021-05-07 13:14] golosomie commented on #3306
pending for .bq command

[2021-05-07 13:16] golosomie commented on #2960
pending for .bq command

[2021-05-07 13:17] golosomie commented on #2826
pending for .bq command

[2021-05-07 13:22] golosomie commented on #2771
pending for .bq command

[2021-05-07 13:25] golosomie commented on #2767
pending for .bq command

[2021-05-07 13:27] golosomie commented on #2760
pending for .bq command

[2021-05-07 13:32] golosomie commented on #4428
pending for .bq command

[2021-05-07 13:33] golosomie commented on #4485
pending for .bq command

[2021-05-07 13:34] golosomie commented on #5064
pending for .bq command

[2021-05-07 13:34] golosomie commented on #5054
pending for .bq command

[2021-05-07 13:34] golosomie commented on #5050
pending for .bq command

[2021-05-07 13:35] golosomie commented on #5049
pending for .bq command

[2021-05-07 13:35] golosomie commented on #5048
pending for .bq command

[2021-05-07 13:36] golosomie commented on #4535
pending for .bq command

[2021-05-07 13:36] golosomie commented on #5033
pending for .bq command

[2021-05-07 13:36] golosomie commented on #4741
pending for .bq command

[2021-05-07 13:37] golosomie commented on #4534
pending for .bq command

[2021-05-07 13:37] golosomie commented on #4506
pending for .bq command

[2021-05-07 13:38] golosomie commented on #4358
pending for .bq command

[2021-05-07 13:38] golosomie commented on #4210
pending for .bq command

[2021-05-07 13:39] golosomie commented on #4209
pending for .bq command

[2021-05-07 13:39] golosomie commented on #4193
pending for .bq command

[2021-05-07 13:40] golosomie commented on #4181
pending for .bq command

[2021-05-07 13:40] golosomie commented on #4215
pending for .bq command

[2021-05-07 13:43] golosomie commented on #3314
pending for .bq command

[2021-05-07 13:44] golosomie commented on #4339
pending for .bq command

[2021-05-07 13:45] golosomie commented on #5217
pending for .bq command

[2021-05-07 13:54] golosomie commented on #5182
pending for .bq command

[2021-05-07 13:55] golosomie commented on #5161
pending for .bq command

[2021-05-07 13:56] golosomie commented on #5130
pending for .bq command

[2021-05-07 14:08] golosomie commented on #5087
pending for .bq command

[2021-05-07 14:08] golosomie commented on #5126
pending for .bq command

[2021-05-07 14:10] golosomie commented on #5057
pending for .bq command

[2021-05-07 14:12] golosomie commented on #5052
pending for .bq command

[2021-05-07 14:27] golosomie commented on #5045
pending for .bq command

[2021-05-07 14:28] golosomie commented on #5041
pending for .bq command

[2021-05-07 14:28] golosomie commented on #5044
pending for .bq command

[2021-05-07 14:28] golosomie commented on #5046
pending for .bq command

[2021-05-07 14:29] golosomie commented on #5042
pending for .bq command

[2021-05-07 14:32] golosomie commented on #4644
pending for .bq command

[2021-05-07 14:32] golosomie commented on #4518
pending for .bq command

[2021-05-07 14:33] golosomie commented on #4432
pending for .bq command

[2021-05-07 14:34] golosomie commented on #4417
pending for .bq command

[2021-05-07 14:34] golosomie commented on #4362
pending for .bq command

[2021-05-07 14:35] golosomie commented on #4361
pending for .bq command

[2021-05-07 14:37] golosomie commented on #4297
pending for .bq command

[2021-05-07 14:41] golosomie commented on #4295
pending for .bq command

[2021-05-07 14:43] golosomie commented on #4289
pending for .bq command

[2021-05-07 14:44] golosomie commented on #4251
pending for .bq command

[2021-05-07 14:45] golosomie commented on #4138
pending for .bq command

[2021-05-07 14:45] golosomie commented on #4117
pending for .bq command

[2021-05-07 14:46] golosomie commented on #3158
pending for .bq command

[2021-05-07 14:48] golosomie commented on #2004
pending for .bq command

[2021-05-07 14:49] golosomie commented on #2000
pending for .bq command

[2021-05-07 14:50] golosomie commented on #5053
pending for .bq command

[2021-05-07 14:51] golosomie commented on #4782
pending for .bq command

[2021-05-07 14:53] golosomie commented on #1908
pending for .bq command

[2021-05-07 14:54] golosomie commented on #1898
pending for .bq command

[2021-05-07 14:55] golosomie commented on #1871
pending for .bq command

[2021-05-07 14:56] golosomie commented on #1870
pending for .bq command

[2021-05-07 14:57] golosomie commented on #1864
pending for .bq command

[2021-05-07 14:58] golosomie commented on #1635
pending for .bq command

[2021-05-07 14:59] golosomie commented on #1600
pending for .bq command

[2021-05-07 14:59] golosomie commented on #1571
pending for .bq command

[2021-05-07 15:00] golosomie commented on #1556
pending for .bq command

[2021-05-07 15:01] golosomie commented on #1553
pending for .bq command

[2021-05-07 15:02] golosomie commented on #1514
pending for .bq command

[2021-05-07 15:09] golosomie commented on #760
pending for .bq command

[2021-05-07 15:10] golosomie commented on #733
pending for .bq command

[2021-05-07 15:11] golosomie commented on #720
pending for .bq command

[2021-05-07 15:16] golosomie commented on #357
pending for .bq command

[2021-05-07 15:20] golosomie commented on #4291
pending for .bq command

[2021-05-07 16:04] Echinaceax commented on #4939
@mfranca0009 from the video you can pick up both quests https://www.wowhead.com/quest=10976/the-mark-of-the-nexus-king and https://www.wowhead.com/quest=10975/purging-the-chambers-of-bashir

video https://www.wowhead.com/quest=10976/the-mark-of-the-nexus-king#videos:id=202159

will comfirm when PTR is up :)

[2021-05-07 16:39] #5047 closed, assigned to nobody

[2021-05-07 16:44] Echinaceax commented on #4996
no new info
closing for now

[2021-05-07 16:44] #4996 closed, assigned to nobody

[2021-05-07 16:58] Echinaceax commented on #4900
issue 1 fixed here https://github.com/WoWManiaUK/Blackwing-Lair/issues/2791, not sure why no delivery possible

[2021-05-08 02:46] golosomie commented on #5043
@Echinaceax pending for bq command

[2021-05-09 15:44] Echinaceax opened #5221 "[Worgen/client] Worgen Faction change issue"
### Player reported to GM

**What is happening:**
- when players change faction from Worgen to Horde they still get the Worgen cinimatic cutscene

**What should happen:**
- when players change faction it shouldnt still have worgen video on login

**Other Information:**

- Delete cache doesnt help
- will list this as a client issue for now

**reproduce**

Tested Worgen druid until completion of sta

[2021-05-09 19:53] Echinaceax commented on #2457
Was set to 10% drop rate as stated be Kitz

![image](https://user-images.githubusercontent.com/39439201/117585111-ebe24600-b110-11eb-9890-568c4b74ee81.png)

[2021-05-09 19:53] #2457 closed

[2021-05-09 20:09] Echinaceax commented on #810
will retest this as the flight bug was fixed elsewhere

The new issue now is that you can mount the drake but you cant fly @Rushor

[2021-05-10 12:30] #810 closed

[2021-05-10 12:34] Echinaceax opened #5222 "[Quest] Into The Wild Green Yonder - 13045 (issue 2) - Icecrown"
**Links:**

from WoWHead or our Armory

**What is happening:**
- main issue fixed here #810
- but now something broken, you can mount the drake but you cant fly

**What should happen:**
- should fly
_Rescue 3 Captured Argent Crusaders from Scourgeholme and drop them off at the Vanguard Infirmary at the center of the Argent Vanguard. Report to Highlord Tirion Fordring should you succeed._

side not

[2021-05-10 12:37] Echinaceax commented on #5222
reported both here #5184

[2021-05-10 12:38] #5222 closed, assigned to nobody

[2021-05-12 17:01] Echinaceax opened #5223 "[Quest/Daily] Total War -28872- (issue 2) - Twilight Highlands"
**Links:**

https://cata-twinhead.twinstar.cz/?quest=28872
object fix https://cata-twinhead.twinstar.cz/?object=206195

**What is happening:**
- same issue as #1867  but the daily version
cant smash the kegs horde drink them lol

**What should happen:**
_Smash 10 Thundermar Ale Kegs within the Thundermar Ruins._

[2021-05-12 17:55] Echinaceax commented on #4974
reported here #1880

[2021-05-12 17:55] #4974 closed, assigned to nobody

[2021-05-13 09:37] Echinaceax commented on #2480
update info on this one @mfranca0009

It was disgussed tha it would be 30 days (in 2020) due to low pop
can do 90 days when pop grows

[2021-05-13 10:40] Echinaceax commented on #2551
added to main fishing report #5181

[2021-05-13 19:36] Echinaceax commented on #1363
completed this way myself just now
https://www.wowhead.com/quest=11472/the-way-to-his-heart#videos:id=1783

[2021-05-13 19:47] #1363 closed

[2021-05-13 19:49] Echinaceax commented on #5178
quest was given after a long quest chain
follow this and all is fine https://www.wowhead.com/quest=11472/the-way-to-his-heart#comments

![image](https://user-images.githubusercontent.com/39439201/118179315-6b378880-b435-11eb-9422-cb895621db32.png)

how too do quest https://www.wowhead.com/quest=11472/the-way-to-his-heart#videos:id=1783

[2021-05-13 19:52] #5178 closed, assigned to mfranca0009

[2021-05-14 18:47] mfranca0009 commented on #4713
Level 85s should now get the proper money associated with fishing dailies, also the Bag of Shiny Things now has the proper drop chances and loot within the bag when opened.

[2021-05-14 18:52] mfranca0009 commented on #192
![image](https://user-images.githubusercontent.com/26092980/118315798-f52e3280-b4c3-11eb-83ac-d5a98deda271.png)

[2021-05-14 20:51] #5132 closed, assigned to mfranca0009

[2021-05-15 12:42] Echinaceax commented on #1867
bq command with next update

[2021-05-15 12:43] Echinaceax commented on #5223
bq command with next update

[2021-05-15 12:45] Echinaceax commented on #5184
bq command on next update

[2021-05-15 12:47] Echinaceax commented on #5020
bq command on next update

[2021-05-15 12:49] Echinaceax commented on #5011
bq com on next update

[2021-05-15 12:50] Echinaceax commented on #5004
bq next update

reported here too #4558
closing mine

[2021-05-15 12:51] Echinaceax commented on #4702
bq com next update

[2021-05-15 12:53] Echinaceax commented on #4599
bq next update

[2021-05-15 12:55] Echinaceax commented on #4597
bq next update

[2021-05-15 12:56] Echinaceax commented on #4590
bq next update

[2021-05-15 12:57] Echinaceax commented on #4561
bq next update

[2021-05-15 12:59] Echinaceax commented on #4507
bq next update

[2021-05-15 13:01] Echinaceax commented on #4478
bq next update

[2021-05-15 13:03] Echinaceax commented on #4416
both on bq next update

[2021-05-15 13:05] Echinaceax commented on #4404
bq next update

[2021-05-15 13:06] Echinaceax commented on #4402
bq on next update

[2021-05-15 13:07] Echinaceax commented on #4330
bq next update

[2021-05-15 13:10] Echinaceax commented on #4296
both on bq next update

[2021-05-15 13:12] Echinaceax commented on #4294
bq next update

[2021-05-15 13:13] Echinaceax commented on #4250
bq next update

[2021-05-15 13:17] Echinaceax commented on #4191
bq next update

[2021-05-15 13:18] Echinaceax commented on #4148
bq next update

[2021-05-15 13:21] Echinaceax commented on #4127
both on bq next update

[2021-05-15 13:22] Echinaceax commented on #4087
bq next update

[2021-05-15 13:23] Echinaceax commented on #4086
bq next update

[2021-05-15 13:25] Echinaceax commented on #4084
bq next update

[2021-05-15 13:26] Echinaceax commented on #3629
both on bq next update

[2021-05-15 13:27] Echinaceax commented on #3518
bq next update

[2021-05-15 13:29] Echinaceax commented on #3517
bq next update

[2021-05-15 13:31] Echinaceax commented on #3516
bq next update

[2021-05-15 13:34] Echinaceax commented on #3005
bq com next update

[2021-05-15 13:35] Echinaceax commented on #2037
bq next update

[2021-05-15 13:36] Echinaceax commented on #2036
bq next update

[2021-05-15 13:38] Echinaceax commented on #2035
bq next update

[2021-05-15 13:40] Echinaceax commented on #1981
bq next update

[2021-05-15 13:41] Echinaceax commented on #1906
bq next update

[2021-05-15 13:42] Echinaceax commented on #1877
bq next update

[2021-05-15 13:43] Echinaceax commented on #1819
bq next update

[2021-05-15 13:45] Echinaceax commented on #1817
bq next update

[2021-05-15 13:46] Echinaceax commented on #1660
quest on bq command from here #4417

[2021-05-15 13:47] #1660 closed

[2021-05-15 13:48] Echinaceax commented on #1027
bq next update

[2021-05-15 13:51] Echinaceax commented on #1022
bq on next update

[2021-05-15 13:52] Echinaceax commented on #782
bq next update

[2021-05-15 13:54] Echinaceax commented on #636
bq next update

[2021-05-15 14:00] Echinaceax commented on #5167
bq next update

[2021-05-15 14:01] Echinaceax commented on #5090
bq next update

[2021-05-15 14:02] Echinaceax commented on #5084
bq next update

[2021-05-15 14:03] Echinaceax commented on #5078
bq next update

[2021-05-15 14:05] Echinaceax commented on #5077
bq next update

[2021-05-15 14:08] Echinaceax commented on #5072
bq next update

[2021-05-15 14:09] Echinaceax commented on #5009
bq next update

[2021-05-15 14:11] Echinaceax commented on #4902
bq next update

[2021-05-15 14:12] Echinaceax commented on #4774
bq next update

[2021-05-15 14:14] Echinaceax commented on #4609
bq next update

[2021-05-15 14:16] Echinaceax commented on #4556
bq next update

[2021-05-15 14:22] Echinaceax commented on #4557
bq next update

[2021-05-15 14:25] Echinaceax commented on #4390
bq next update

[2021-05-15 14:26] Echinaceax commented on #4389
bq next update

[2021-05-15 14:27] Echinaceax commented on #4388
bq next update

[2021-05-15 14:28] Echinaceax commented on #4387
bq next update

[2021-05-15 14:29] Echinaceax commented on #4569
bq next update

[2021-05-15 14:30] Echinaceax commented on #4567
bq next update

[2021-05-15 14:32] Echinaceax commented on #4504
bq next update

[2021-05-15 14:34] Echinaceax commented on #4385
bq next update

[2021-05-15 14:40] Echinaceax commented on #4895
bq next update

[2021-05-15 14:42] Echinaceax commented on #4847
bq next update

[2021-05-15 14:45] Echinaceax commented on #4767
bq next update

[2021-05-15 14:48] Echinaceax commented on #4733
both on bq next update

[2021-05-15 14:51] Echinaceax commented on #4582
bq next update

[2021-05-15 14:52] Echinaceax commented on #4679
bq next update

[2021-05-15 14:54] Echinaceax commented on #4676
bq next update

[2021-05-15 14:55] Echinaceax commented on #4674
bq next update

[2021-05-15 14:58] Echinaceax commented on #4732
bq next update

[2021-05-15 14:59] Echinaceax commented on #4588
bq next update

[2021-05-15 15:00] Echinaceax commented on #4574
bq next update

[2021-05-15 15:02] Echinaceax commented on #4560
bq next update

[2021-05-15 15:06] Echinaceax commented on #2538
added to bq on next updated until fix perfectly

[2021-05-15 15:19] Echinaceax commented on #4118
bq next update

[2021-05-15 15:22] Echinaceax commented on #4558
bq here #5004
closing this

[2021-05-15 15:22] #4558 closed, assigned to mfranca0009

[2021-05-15 15:28] Echinaceax commented on #4393
bq next update

[2021-05-15 15:30] Echinaceax commented on #3506
bq next update

[2021-05-15 15:32] Echinaceax commented on #946
bq next update

[2021-05-15 15:34] Echinaceax commented on #4627
bq next update

[2021-05-15 15:37] Echinaceax commented on #1513
bq next update

[2021-05-15 15:38] Echinaceax commented on #4133
bq next update

[2021-05-15 15:41] Echinaceax commented on #2290
bq next update

[2021-05-15 15:43] Echinaceax commented on #4649
bq next update

[2021-05-15 15:44] Echinaceax commented on #4480
bq next update

[2021-05-15 15:45] Echinaceax commented on #4477
bq next update

[2021-05-15 15:46] Echinaceax commented on #4475
bq next update

[2021-05-15 15:48] Echinaceax commented on #4474
bq next update

[2021-05-15 15:49] Echinaceax commented on #4473
bq next update

[2021-05-15 15:51] Echinaceax commented on #4401
bq next update

[2021-05-15 15:52] Echinaceax commented on #4398
bq next update

[2021-05-15 15:53] Echinaceax commented on #4303
bq next update

[2021-05-15 15:54] Echinaceax commented on #4137
bq next update

[2021-05-15 15:55] Echinaceax commented on #4378
bq next update

[2021-05-15 15:57] Echinaceax commented on #1659
bq next update

[2021-05-15 15:58] Echinaceax commented on #915
bq next update

[2021-05-15 15:59] Echinaceax commented on #1341
bq next update

[2021-05-15 20:24] Echinaceax commented on #4922
fixed and confirmed fixed in dev

[2021-05-15 20:24] Echinaceax commented on #3799
fixed and confirmed fixed in dev

[2021-05-15 20:25] Echinaceax commented on #4198
fixed and confirmed fixed in dev

[2021-05-16 15:26] Echinaceax opened #5224 "[NPC] Goblin auctioneer - Mall"
### Player suggestion granted

- [x] A Goblin auctioneer will be added to the Mall soon, as discussed with Jani

[2021-05-16 19:31] golosomie commented on #4680
@Echinaceax confirmed on PTR.
quest still doable, so no .bq needed

[2021-05-16 20:17] golosomie commented on #4554
@Echinaceax confirmed on PTR.
No negotiator given, no event starts when going into the building
(Event NPC "Warchief Mor'ghor" not visible due to phasing but spawned)

[2021-05-16 20:27] golosomie commented on #4551
@Echinaceax confirmed on PTR.
Enforcers and Warlocks are spawned and killable, but not visible due to phasing.
Workers and Merchants don't have a gossip option to fulfill the "Dragonmaw Civilian Armed" requirement

[2021-05-16 22:42] Echinaceax commented on #1073
for quest complete and quest delivery use .bq 27003 twice

[2021-05-16 22:48] Echinaceax commented on #3538
quest is doable using quest item in ptr @mfranca0009

![image](https://user-images.githubusercontent.com/39439201/118415229-85799c80-b6a9-11eb-86b9-6350016f11fd.png)

[2021-05-16 23:26] Echinaceax commented on #2198
**update, as reporter says**

when you start the quest npc doesnt follow,  (its an npc guardian)
when you kill them yourself you get quest credit but cant deliver quest coz npc https://www.wowhead.com/npc=48022/salhet isnt spawned with you as seen in video https://www.youtube.com/watch?v=qEPki5v1VCY

also prevents from next quests https://www.youtube.com/watch?v=3MHGxO3FzTw
https://www.wowhead.com

[2021-05-16 23:50] Echinaceax opened #5225 "[NPC] Prince Nadun - uldum"
### reported by player

**Links:**

quest https://www.wowhead.com/quest=27631/the-high-commanders-vote
npc missing https://www.wowhead.com/npc=47959/prince-nadun

**What is happening:**
- missing npc

**What should happen:**
should be spawned to offer the quests

https://www.wowhead.com/quest=27631/the-high-commanders-vote
https://www.wowhead.com/quest=27630/the-high-priests-vote
https://www.wowhe

[2021-05-17 23:16] golosomie opened #5226 "Quest 28909 "Sauranok Will Point the Way" missing prequest"
Quest 28909 "Sauranok Will Point the Way" should only become available after completing Quest 26294 "Weapons of Mass Dysfunction".

[2021-05-17 23:25] golosomie opened #5227 "Quest 26324 "Where Is My Warfleet?" missing prequest"
Quest 26324 "Where Is My Warfleet?" should only become available after completing Quests
- 26294 "Weapons of Mass Dysfunction"
- 26311 "Unfamiliar Waters"

Right now it only requires the former.

Note that this requirement should only be added once the phasing issue #513 has been fixed

[2021-05-17 23:26] golosomie opened #5228 "Quest 26358 "Ready the Air Force" missing prequest"
Quest 26358 "Ready the Air Force" should only become available after completing Quest 26324 "Where Is My Warfleet?"

[2021-05-17 23:27] golosomie opened #5229 "Quest 26335 "Ready the Navy" missing prequest"
Quest 26335 "Ready the Navy" should only become available after completing Quest 26324 "Where Is My Warfleet?"

[2021-05-17 23:30] golosomie opened #5230 "Quest 28849 "Twilight Skies" (issue 3) - not available"
Quest 28849 "Twilight Skies" should be available after completing quests

- 26372 "Pre-Flight Checklist"
- 26374 "Ready the Ground Troops"
- 26337 "Beating the Market"

right now, it does not become available even though all prequests have been completed

[2021-05-18 12:08] Echinaceax commented on #5230
@golosomie is this the same issue ? https://github.com/WoWManiaUK/Blackwing-Lair/issues/4546

[2021-05-18 12:10] golosomie commented on #5230
@Echinaceax no

[2021-05-18 20:01] mfranca0009 commented on #5224
All set 👍

[2021-05-18 21:53] Echinaceax commented on #5224
confirmed in dev

[2021-05-18 23:24] golosomie commented on #1877
@Echinaceax I think this has been removed from .bq on accident. Can you confirm?

[2021-05-18 23:35] Echinaceax commented on #1877
confirmed @golosomie
added back with next update :)

[2021-05-19 10:13] #5224 closed, assigned to mfranca0009

[2021-05-19 10:21] #4713 closed, assigned to mfranca0009

[2021-05-19 10:21] #5157 closed, assigned to mfranca0009

[2021-05-19 11:07] golosomie opened #5231 "Quest 26388 "Twilight Skies" (issue 4) - missing prequest"
Quest 26388 "Twilight Skies" should only become available after completing Quest 28849 (named "Twilight Skies" as well).

[2021-05-19 14:02] golosomie commented on #5231
Note that this should only be added once #5230 has been fixed

[2021-05-19 16:13] mfranca0009 commented on #1530
Was able to put together a solution through server-side and it seemed to fix the problem 👍

[2021-05-20 21:17] mfranca0009 commented on #2551
Fixed but waiting on the client update 👍

[2021-05-21 01:14] mfranca0009 commented on #5221
This cinematic is not the Worgen opening cinematic, its the cinematic cutscene when completing `Last Stand` quest.
Quest: https://www.wowhead.com/quest=14222/last-stand
Cutscene: https://www.youtube.com/watch?v=G9gabmfVMsA

Looking into it to see if there is any noticeable issue server-side.

[2021-05-21 02:45] mfranca0009 commented on #5221
Need more information, because not reproduceable, no Worgen cinematic for Last Stand quest (that you posted above) played when faction changing a Worgen to a Troll.

**UPDATE**
Only occurs after exiting the client and re-launching after a faction change, does not occur if you remain in the client when the faction change was done during the same session.

Movie Spell - https://www.wowhead.com/spell

[2021-05-21 12:41] Echinaceax commented on #4427
Update
we know the reason for this for future
reminder for @mfranca0009 😄

[2021-05-21 16:40] Echinaceax commented on #5135
update
could be a char bug on my horde toon

PTR toon
Ally - no issue

will test on live with other chars

troll same issue

![image](https://user-images.githubusercontent.com/39439201/119171539-013a6700-ba65-11eb-9c0a-291eabd2b21a.png)

Gnome same issue

![image](https://user-images.githubusercontent.com/39439201/119173497-a0605e00-ba67-11eb-9528-2bff37cc1b97.png)

[2021-05-21 22:28] Echinaceax commented on #1903
confirmed fixed in dev

[2021-05-21 22:30] Echinaceax commented on #1530
confirmed fixed in ptr

[2021-05-22 15:18] Echinaceax commented on #2551
confirmed fixed in ptr

[2021-05-22 15:20] Echinaceax commented on #2021
confirmed fixed in PTR

[2021-05-22 22:07] Echinaceax opened #5232 "[Item/Reward] Titanium Seal of Dalaran"
**Links:**

Titanium Seal of Dalaran https://www.wowhead.com/item=44430/titanium-seal-of-dalaran
missing from the achv https://cata-twinhead.twinstar.cz/?achievement=2096

**What is happening:**
- item wasnt given after completing the achv

**What should happen:**
After you complete The Coin Master achv, you are meant to receive the Titanium Seal of Dalaran

![the coin master](https://user-images.

[2021-05-22 22:09] golosomie commented on #5232
This is supposed to get sent via mail. Maybe wait some time and it might appear?

[2021-05-22 22:14] Echinaceax commented on #5232
oh nice to know @golosomie 😄 got it

![image](https://user-images.githubusercontent.com/39439201/119242103-ad5e7980-bb5b-11eb-9a99-7d9830f0d180.png)

[2021-05-22 22:14] #5232 closed, assigned to mfranca0009

[2021-05-23 01:22] mfranca0009 commented on #357
All set 👍

[2021-05-23 04:46] mfranca0009 commented on #704
All set 👍

[2021-05-23 05:12] mfranca0009 commented on #795
All set 👍

[2021-05-23 06:06] mfranca0009 commented on #823
All set 👍

[2021-05-23 11:06] Echinaceax commented on #357
confirmed fix in ptr

![image](https://user-images.githubusercontent.com/39439201/119257912-b7b65d00-bbc7-11eb-82de-9b009d7f813d.png)

[2021-05-23 11:19] Echinaceax commented on #823
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/119258257-31027f80-bbc9-11eb-8a2e-9543a34baa90.png)
![image](https://user-images.githubusercontent.com/39439201/119258309-673fff00-bbc9-11eb-9daa-1b49f9cff205.png)
![image](https://user-images.githubusercontent.com/39439201/119258356-8d659f00-bbc9-11eb-9459-73f687f74e17.png)

[2021-05-23 11:24] Echinaceax commented on #795
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/119258512-36ac9500-bbca-11eb-9a5b-8c87dfcb5dd9.png)

[2021-05-23 11:37] Echinaceax commented on #704
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/119258886-f3532600-bbcb-11eb-8790-78817a4b15a2.png)

[2021-05-23 16:37] Echinaceax commented on #4019
confirmed fixed

![image](https://user-images.githubusercontent.com/39439201/119269026-e1867880-bbf5-11eb-86e1-c4a216f3c294.png)

[2021-05-23 19:29] mfranca0009 commented on #824
Constriction Totem Aura: https://www.wowhead.com/spell=77311/constriction-totem-aura

![image](https://user-images.githubusercontent.com/26092980/119273894-04effa00-bbdb-11eb-828d-d66324af3884.png)

It states the Constriction Totem Aura that should effect the mountaineers was "removed", but the patch notes for 4.0.6 under creatures and quests does not reflect this, so for now, the aura will be use

[2021-05-23 23:12] Echinaceax opened #5233 "[BOSS] Anub'arak - Trial of the Crusader"
**Links:**

https://www.wowhead.com/npc=34564/anubarak

![image](https://user-images.githubusercontent.com/39439201/119279653-5fb24180-bc2d-11eb-8ea3-5904cc3044d2.png)

**What is happening:**
- Invalid target
cant attack him
(yes i know i have my fishing rod on) lol 😄

**What should happen:**
_Upon defeating the Twin Val'kyr, the The Lich King himself makes a dramatic showing, after which the floo

[2021-05-24 01:26] mfranca0009 commented on #824
All set 👍

[2021-05-24 05:21] mfranca0009 commented on #827
Fires are being shown from this gameobject, this is the only reference I could find for the object:
https://db.rpwow.com/?object=182090

Displays the large flames on the camp buildings, will need to adjust it so they are spawned in when the planes are done firing rockets, via script.

[2021-05-24 11:47] Echinaceax commented on #824
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/119343320-8f496400-bc96-11eb-99c9-c2ef0c679e44.png)

[2021-05-24 18:49] Saintres opened #5234 "[It's All Fun and Games] Icecrown"
https://www.wowhead.com/quest=12887/its-all-fun-and-games#comments
Icecrown

U cant target the eye and kill it

You'r suppose to be able to target it and kill it

[2021-05-24 19:48] Echinaceax commented on #5234
@Saintres you can ive done this quest a few times
just go close to it and use the quest item Eyesore Blaster

![image](https://user-images.githubusercontent.com/39439201/119401720-2b498e80-bcdc-11eb-9181-03c0cf3bf34d.png)

Slight object bug tho @mfranca0009
target is a game marker not the actually invis marker

https://www.wowhead.com/quest=12887/its-all-fun-and-games#videos:id=73596

[2021-05-24 19:49] #5234 closed, assigned to nobody

[2021-05-24 22:34] Echinaceax commented on #2186
update
When in correct phase quest works

- [ ] The main issue here is that this quest is availible to early and then breaks the phase for the others

![image](https://user-images.githubusercontent.com/39439201/119414986-fac01f80-bcf0-11eb-812f-f9734a8f501d.png)

[2021-05-24 23:35] Ka-Anor opened #5235 "NPC missing - Grundy MacGraff - Twilight Highlands"
npc https://www.wowhead.com/npc=49034/grundy-macgraff
quest https://www.wowhead.com/quest=28655/wild-wild-wildhammer-wedding

The NPC Grundy MacGraff is missing in Kirthaven (Twilight Highlands).

What should happen: Grundy MacGraff should be present in Kirthaven to give the last quest in Wildhammer Clan quest chain, "Wild, Wild, Wildhammer Wedding".

The chain cannot be continued without this NPC

[2021-05-25 00:09] Echinaceax commented on #5235
GM just told me about this one @Ka-Anor
thx for reporting it

Confirmed by GM, NPC not seen by player, only seen by a GM

@mfranca0009
once npc is visable to player we need test if all wedding scene is working correctly

**Update info**
_After researching if there is a quest order/phasing regarding this issue_
I see that **Words and Music By...** and  **Wild, Wild, Wildhammer Wedding** can indeed

[2021-05-25 00:26] Echinaceax commented on #4856
update
The quest order is all messed up ive traced this issue too https://github.com/WoWManiaUK/Blackwing-Lair/issues/2186 being available to early

Storyline order for these
An Offering for Aviana - The Wormwing Problem - Scrambling for Eggs - A Bird in Hand - A Prayer and a Wing

[2021-05-25 00:36] Echinaceax commented on #3495
Update
I did this quest tonight and is phasing issue
once phasing is fixed via the GM for now, all is fine

[2021-05-25 00:39] #3495 closed

[2021-05-25 03:04] mfranca0009 commented on #827
All set 👍

[2021-05-25 04:01] mfranca0009 commented on #828
The only issue is quest completion not being triggered, arresting the Ambassador functions properly as it should. Also, this is missing all the creature dialog as well.

Working on this now

[2021-05-25 11:43] Echinaceax commented on #827
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/119491508-49f06980-bd5e-11eb-81e9-aa63ab177838.png)
![image](https://user-images.githubusercontent.com/39439201/119491760-976cd680-bd5e-11eb-88b2-56729815c217.png)
![image](https://user-images.githubusercontent.com/39439201/119492077-f4688c80-bd5e-11eb-841a-a9e321f19ac9.png)
![image](https://user-images.githubuserc

[2021-05-25 11:55] Echinaceax commented on #828
i see Rushor was actually on this in the start, so duplication of NPCs must have been fixed
So its good that you saw were Rushor left off @mfranca0009 😄

[2021-05-25 18:50] mfranca0009 commented on #828
Incorporated the proper spell fail if player already has the prisoner 👍
![image](https://user-images.githubusercontent.com/26092980/119552260-7f01b980-bd68-11eb-83ac-1ad6417553ce.png)

[2021-05-26 06:25] mfranca0009 commented on #828
All set 👍

[2021-05-26 21:56] Echinaceax opened #5236 "[Item/crash] Seafood Magnifique Feast - server crash"
**Links:**

https://www.wowhead.com/spell=88036/seafood-magnifique-feast

**What is happening:**
Tonight we noticed the feast crash the server now raid and in dungeons
tested this 3 times and crashed 3 times

also confirmed crash on PTR

**What should happen:**
Placing a feast shouldnt crash the server

**Is it crashing the server?:**
yes

**Other Information:**
Odd because our guild has used the

[2021-05-26 22:09] Echinaceax opened #5237 "[Boss] Ozumat - Funky stuff - Throne of the Tide"
**Links:**

https://www.wowhead.com/npc=44566/ozumat

**What is happening:**

https://gyazo.com/2f084b0e9cb0848f1ae45060e8c0b2fa

- [ ] Boss has something funky going on, His tenticles are coming out the walls
- [ ] he is larger than he use to be
- [ ] Can be targeted from the elevator too now (wasnt like this before)

**What should happen:**
- bosses tenticales shouldnt be showing through the wal

[2021-05-27 00:50] mfranca0009 commented on #5236
Crashes on gameobject use, the spell to make one and placing the feast is fine.

Looking into it

[2021-05-27 04:03] mfranca0009 commented on #5236
Problematic spell causing the crash: https://www.wowhead.com/spell=87806/seafood-magnifique-feast

[2021-05-27 13:26] Echinaceax commented on #5236
Keader will take a look @mfranca0009

[2021-05-27 16:29] mfranca0009 commented on #5236
**More information:**
Casting this directly via command without the triggered attribute works fine, but when you try to use the gameobject with this specific spell (87806) it will immediately crash the server.

I've tested swapping other spells similar to this one for the gameobject, no crash is present and works fine. Other SPELLCASTER gameobject types work as intended that act the same way with

[2021-05-27 23:00] Keader commented on #5236
work today fucked with me.
i will check it tomorrow night

[2021-05-27 23:55] mfranca0009 commented on #5236
Thanks Keader, appreciate it ❤ @Keader

[2021-05-28 01:24] mfranca0009 commented on #858
All set 👍 now moving around as they should be.

[2021-05-28 01:46] mfranca0009 commented on #862
Missing the whole interaction of each trainer kneeling before Greatmother Hawkwind's grave while Chief Hawkwind speaks. He speaks but none of them kneel on quest accept.

Also, the trigger is visible to players, and the item can't actually be used because it doesn't register that you are near the trigger.

[2021-05-28 03:46] mfranca0009 commented on #862
All set 👍

[2021-05-28 05:01] mfranca0009 commented on #863
All set 👍

Should now give credit on learning Judgement, give credit on attacking a target dummy with judgement, and if you already know Judgement, it will give credit for this objective on quest accept.

[2021-05-28 05:45] mfranca0009 commented on #871
All set 👍

[2021-05-28 05:53] mfranca0009 commented on #872
This NPC does hand out the quest, but you have to finish Quest 9287 first because it's a prerequisite.

Quest required: https://www.wowhead.com/quest=9287/paladin-training

BUT I will also check if its working properly, since most of these quests were not.

[2021-05-28 12:04] Echinaceax commented on #872
@mfranca0009 from what i can find the prequest was removed

https://wowpedia.fandom.com/wiki/Paladin_Training

![image](https://user-images.githubusercontent.com/39439201/119981183-a0a7ae80-bfbd-11eb-83a6-bc84f3916af3.png)

where as cavern has http://cata.cavernoftime.com/quest=9287
and twinstar the same https://cata-twinhead.twinstar.cz/?quest=9287

either twinstar and caven didnt check wowpedia.

[2021-05-28 14:34] #357 closed

[2021-05-28 14:34] #704 closed

[2021-05-28 14:34] #795 closed

[2021-05-28 14:34] #823 closed

[2021-05-28 14:34] #824 closed

[2021-05-28 14:34] #827 closed

[2021-05-28 14:34] #828 closed

[2021-05-28 14:34] #1530 closed

[2021-05-28 14:34] #1903 closed

[2021-05-28 14:34] #2551 closed

[2021-05-28 17:25] golosomie commented on #871
Confirmed fixed on PTR. Injured Draenei reset to low health after ~1 minute.

[2021-05-28 18:16] golosomie commented on #862
Confirmed fixed on PTR. Quest item only usable on the correct location, credit is given when using the item. Even the emote on accepting works!

[2021-05-28 18:41] golosomie commented on #863
Confirmed fixed in PTR. Credit is given both for learning Judgement and using it on Training Dummy.

[2021-05-28 18:43] golosomie commented on #858
Confirmed fixed in PTR. All boars and cats seem to be reasonably spaced.

[2021-05-28 18:49] Echinaceax commented on #5186
need full script

[2021-05-28 19:54] Saintres opened #5238 "[An End To All Things...] 12779 (flight mount issue) - Plaguelands: The Scarlet Enclave"
**Links:**
https://www.wowhead.com/quest=12779/an-end-to-all-things
from WoWHead or our Armory

**What is happening:**

The flying skelleton dragon is not flying, u can only run on the ground. That make the quest kinda impossble to make

**What should happen:**
U should be able to fly this skelleton dragon and shoot on the mobs and cannons
**Is it crashing the server?:**
No
**Other Information:**

[2021-05-28 20:42] Echinaceax commented on #5238
Broken because of a fly fix elsewhere, this can sometimes happen ...looking into it
thanks @Saintres

[2021-05-28 21:20] Echinaceax commented on #5136
confirmed fixed in ptr

npc spawn
quest given

![image](https://user-images.githubusercontent.com/39439201/120042930-59e0a580-c00b-11eb-9031-2d4c9434d578.png)

[2021-05-28 21:25] Echinaceax commented on #5154
confirmed foxed inj ptr
NPC spawned

![image](https://user-images.githubusercontent.com/39439201/120043332-0cb10380-c00c-11eb-8d13-7918e89b08b5.png)

[2021-05-28 21:28] Echinaceax commented on #5153
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120043491-5dc0f780-c00c-11eb-8199-31c21ef21087.png)

[2021-05-29 02:26] mfranca0009 commented on #5205
Need more information, WoWhead has no specific location for this NPC to be spawned and it's most likely spawned via a script from a specific quest that should already be completed from the quest chain.

[2021-05-29 02:28] mfranca0009 commented on #5206
Need more information, WoWhead has no specific location for this NPC to be spawned and it's most likely spawned via a script from a specific quest that should already be completed from the quest chain.

[2021-05-29 03:35] mfranca0009 commented on #5207
Per the video, no buildings are on fire and there are already burnt buildings within this village.

Added the cowering troopers, 7th legion scouts, and dead forsaken vanguards.

[2021-05-29 03:37] mfranca0009 commented on #5208
Need more information, WoWhead has no specific location for this NPC to be spawned and it's most likely spawned via a script from a specific quest that should already be completed from the quest chain.

[2021-05-29 03:40] mfranca0009 commented on #5209
- [x] 7th legion scouts have been fixed.
- [x] dead forsaken vanguards have been fixed.

[2021-05-29 04:28] mfranca0009 commented on #5210
Dwarven Infantry and General Marstone spawned. The quest giver is its own issue.

[2021-05-29 04:29] mfranca0009 commented on #5211
All set, General Marstone is now spawned, #5210

[2021-05-29 13:39] Echinaceax commented on #5205
i explained here "missing npc not given from previous quest #5204 "
i linked the video too :)

https://www.youtube.com/watch?v=V_ksyTBzHOs

these NPC are spawned after taking the prequest #5204 and stay with you for assistance and quest delevery/pickup

![image](https://user-images.githubusercontent.com/39439201/120074573-c60be980-c09d-11eb-8de6-7db8330ca675.png)

[2021-05-29 13:44] Echinaceax commented on #5212
fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120072536-b0de8d00-c094-11eb-8d97-081a77bebe89.png)

[2021-05-29 13:50] Echinaceax commented on #5206
summoning spell https://www.wow-freakz.com/spells.php?spell=85518&name=summon-walden

same info as https://github.com/WoWManiaUK/Blackwing-Lair/issues/5205#issuecomment-850835244

![image](https://user-images.githubusercontent.com/39439201/120074561-b5f40a00-c09d-11eb-9c5c-a949c82911d4.png)

[2021-05-29 13:52] Echinaceax commented on #5207
fixed in ptr

[2021-05-29 13:56] Echinaceax commented on #5201
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120072937-72e26880-c096-11eb-9314-78e4fd219546.png)

[2021-05-29 14:02] Echinaceax commented on #5200
- [x] spawned in ptr
- [ ] (phasing) for her not fixed

atm 45617 and 45525 are visible at the same time

@mfranca0009
what me to make new report for phasing?

[2021-05-29 14:03] mfranca0009 commented on #5200
Yes, all phasing issues are being fixed last and all at once.

[2021-05-29 14:04] Echinaceax commented on #5200
okidoki, cool. thanks @mfranca0009 :)

[2021-05-29 14:11] Echinaceax opened #5239 "[NPC] Lady Sylvanas Windrunner - 45617 / 45525 - (phasing) - Silverpine Forest"
**Links:**

1. https://www.wowhead.com/npc=45617/lady-sylvanas-windrunner
2. https://www.wowhead.com/npc=45525/lady-sylvanas-windrunner

**What is happening:**
- NPC 45617 and 45525 are visible at the same time

**What should happen:**
only one phase should be active in the same place

**Other Information:**

![image](https://user-images.githubusercontent.com/39439201/120073408-6828d300-c098-11eb-

[2021-05-29 14:19] Echinaceax commented on #5152
Fixed spawn confirmed in ptr

![image](https://user-images.githubusercontent.com/39439201/120073650-922ec500-c099-11eb-8740-cdddbec8758d.png)

[2021-05-29 14:21] Echinaceax commented on #5198
confirmed fixed in ptr

[2021-05-29 14:22] Echinaceax commented on #5192
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120073780-197c3880-c09a-11eb-84f6-33839ff3f873.png)

[2021-05-29 14:24] Echinaceax commented on #5141
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120073840-57795c80-c09a-11eb-8818-b416c22374be.png)

[2021-05-29 14:26] Echinaceax commented on #5139
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120073902-a2936f80-c09a-11eb-8514-70ede5af7783.png)

[2021-05-29 14:29] Echinaceax commented on #5137
confirmed fixed and spawned in ptr

![image](https://user-images.githubusercontent.com/39439201/120074013-0cac1480-c09b-11eb-8c2e-36c0a50aeb9a.png)

[2021-05-29 14:31] Echinaceax commented on #5208
same info as #5205 (comment)

![image](https://user-images.githubusercontent.com/39439201/120074535-9957d200-c09d-11eb-8bde-3b429872a509.png)

[2021-05-29 16:56] Echinaceax opened #5240 "[Quest] The Haunted Mills - Tirisfal Glades"
### test in PTR

**Links:**

quest missing https://cata-twinhead.twinstar.cz/?quest=25030
npc https://classic.wowhead.com/npc=1500/coleman-farthing

**What is happening:**
- quest missing
unlocks Deaths in the Family quest, but atm i was offered this quest before i should

**What should happen:**
need this prequest adding

**Is it crashing the server?:**

**Other Information:**

![image](https://u

[2021-05-29 17:33] Echinaceax opened #5241 "[Quest] Warchief's Command: Silverpine Forest!"
**Links:**

https://cata-twinhead.twinstar.cz/?quest=28568

**What is happening:**
- quest missing

**What should happen:**
quest should be at the Warchief's Command board in Undercity at level 10 and at  NPC Executor Zygand in Brill at level 10

[2021-05-29 17:59] Echinaceax commented on #5241
### Update
This quest is only available after completing Take to the Skies https://cata-twinhead.twinstar.cz/?quest=25012
quest can be picked up by the war board or npc Executor Zygand https://cata-twinhead.twinstar.cz/?npc=1515

- [ ] should be available at level 9-10
(_no prequest requirements as all horde races can do the Silverpine questline_)

![image](https://user-images.githubusercontent.co

[2021-05-29 18:25] Echinaceax opened #5242 "[NPC] Bat Handler Maggotbreath - Silverpine"
**Links:**

npc https://www.wowhead.com/npc=44825/bat-handler-maggotbreath
quest https://www.wowhead.com/quest=26998/iterating-upon-success

**What is happening:**
- bat handler is missing dialog to use the bat for the quest

**What should happen:**

- [x] Bat requisitioned from Bat Handler Maggotbreath
- [x] Full scripted done
- [x] Vile Fin Murloc slain  (50)

https://www.wowhead.com/quest=26998

[2021-05-29 18:38] Echinaceax opened #5243 "[Quest] Lordaeron - Silverpine"
**Links:**

quest https://www.wowhead.com/quest=27098/lordaeron
spell add https://cata-twinhead.twinstar.cz/?spell=84127

**What is happening:**
- [ ] Lady Sylvanas Windrunner doesnt move
- [ ] No horse mount given to player to ride with her
- [ ] no event starts

**notes**
Lady Sylvanas Windrunner https://www.wow-freakz.com/npc_finder.php?npc=45051&name=lady-sylvanas-windrunner

**What should hap

[2021-05-30 02:50] mfranca0009 commented on #872
Referencing this: https://cata-twinhead.twinstar.cz/?quest=26966

The quest will now have prerequisite for: https://cata-twinhead.twinstar.cz/?quest=9283 (Rescue The Survivors!)

The old deprecated quest removed in 4.0.3a will be disabled 👍

[2021-05-30 03:04] mfranca0009 commented on #872
All set 👍

[2021-05-30 06:01] mfranca0009 commented on #968
Need to finish this aura functionality tomorrow, but basically done 👍

https://www.wowhead.com/spell=67717/attuned-to-kalytha

[2021-05-30 16:49] Lumber-Jack-2 commented on #5236
seems fixed https://i.imgur.com/OoQq88R.jpeg all handled in spellscript now

[2021-05-30 17:18] Echinaceax commented on #5236
thanks @Rushor
confirmed fixed in PTR (no crash)

![image](https://user-images.githubusercontent.com/39439201/120113669-ce3a5680-c17b-11eb-817e-68d418cf33bb.png)
![image](https://user-images.githubusercontent.com/39439201/120113727-178aa600-c17c-11eb-82a4-09eea097fc2e.png)

[2021-05-30 20:45] Echinaceax commented on #872
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120119544-8aa21580-c198-11eb-8dff-1b982adae78b.png)
![image](https://user-images.githubusercontent.com/39439201/120119570-bde4a480-c198-11eb-8c2e-355f866c0422.png)

[2021-05-30 22:19] mfranca0009 commented on #968
All set 👍

[2021-05-30 22:29] Echinaceax commented on #968
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120122121-3b171600-c1a7-11eb-8d2f-a3225a81943c.png)

then https://www.wowhead.com/quest=14216/mystery-of-the-sarcen-stone is available

[2021-05-31 04:15] mfranca0009 commented on #969
all set 👍

[2021-05-31 13:15] Echinaceax commented on #969
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120225174-0a85b980-c245-11eb-83a8-d0523904b555.png)
![image](https://user-images.githubusercontent.com/39439201/120225246-2be6a580-c245-11eb-86a3-aa527917c3e8.png)

[2021-05-31 23:18] #4953 closed, assigned to nobody

[2021-06-01 04:06] mfranca0009 commented on #973
Per the video: https://www.youtube.com/watch?v=cDxcY40oIdE

It looks as if there should only be one plane that offers the ride, it should be all fixed now 👍

[2021-06-01 04:27] mfranca0009 commented on #975
Script missing, you should kill Twilight Lord Katrana, and once you do, Malicion picks you up and says a line.

Then, Kalecgos comes in, uses Frostfire Breath and kills Malicion. Kalecgos turns into a human model and says a line or so. You turn the quest into him.

Twilight Lord Katrana - https://cata-twinhead.twinstar.cz/?npc=36638
Malicion - https://cata-twinhead.twinstar.cz/?npc=36649
Kalecgos

[2021-06-01 11:28] Echinaceax commented on #973
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120316007-3d7b8c00-c2dd-11eb-94cf-811cf7b081d2.png)

[2021-06-01 12:47] Echinaceax commented on #4268
UPDATE

ok, i see the issue myself now @mfranca0009

after you have completed all the quests leading upto Adversarial Blood and delivering it, then the repeatable quest  Tokens of the Descendants is activated, but is missing  https://cata-twinhead.twinstar.cz/?quest=11074 from Hazzik https://cata-twinhead.twinstar.cz/?npc=23306 to deliver the items back

Akkarai's Talons https://cata-twinhead.twin

[2021-06-01 19:37] mfranca0009 commented on #4268
All set 👍

[2021-06-01 20:01] mfranca0009 commented on #4951
All set 👍

[2021-06-01 20:39] Echinaceax commented on #4951
confirmed fixed in ptr

[2021-06-01 20:46] Echinaceax commented on #4268
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120388298-37140100-c32b-11eb-9558-316984b3e126.png)

[2021-06-01 20:58] mfranca0009 commented on #5241
All set 👍

[2021-06-01 21:23] mfranca0009 commented on #5216
All set 👍

[2021-06-01 21:28] Echinaceax commented on #5241
confirmed fixed in ptr

![image](https://user-images.githubusercontent.com/39439201/120392151-5d886b00-c330-11eb-91a1-b3caee37180e.png)
![image](https://user-images.githubusercontent.com/39439201/120392252-86106500-c330-11eb-86e5-fee0fc2c3c59.png)

not available if already picked up via the Brill npc Executor Zygand

![image](https://user-images.githubusercontent.com/39439201/120392610-08008e00-c3

[2021-06-01 21:29] Echinaceax commented on #5216
confirmed fixed in ptr

[2021-06-02 01:52] mfranca0009 commented on #5214
This whole issue is fixed 👍

 https://cata-twinhead.twinstar.cz/?quest=11550 was completely broken, neither the NPC that handed it out or the NPC that takes the turn-in was setup, therefore the quest was never available. This has been fixed ✔️

 https://cata-twinhead.twinstar.cz/?quest=11875 never had a prerequisite assigned to 11550, but I have added this now ✔️ Also, the reason why this daily is

[2021-06-02 02:01] mfranca0009 commented on #2760
Starting from scratch on this one

[2021-06-02 18:11] Echinaceax opened #5244 "[Quest] Gluttonous Lurkers - Zul'Drak"
**Links:**

https://www.wowhead.com/quest=12527/gluttonous-lurkers

**What is happening:**
- rats can be collected while mounted
player gets the "you are mounted warning" but can still loot while mounted

**What should happen:**
- player should get dismounted when clicking the rats

https://www.wowhead.com/quest=12527/gluttonous-lurkers#videos:id=76245

**Other Information:**
![image](https://user

[2021-06-02 19:02] Echinaceax commented on #5214
confirmed fixed in ptr

[2021-06-02 20:11] Echinaceax opened #5245 "[NPC] Mature Netherwing Drake (Flight issue) - Shadowmoon Valley"
**Links:**

https://www.wowhead.com/npc=21648/mature-netherwing-drake

**What is happening:**
- not flying

**What should happen:**
should be smooth flight

**Other Information:**
same as others before @mfranca0009

[2021-06-02 20:24] Echinaceax opened #5246 "[NPC] Vilewing Chimaera (Flight issue) - Shadowmoon Valley"
**Links:**

https://cata-twinhead.twinstar.cz/?npc=21879

**What is happening:**
- no smooth flight

**What should happen:**
- should be smooth flight

[2021-06-03 06:13] mfranca0009 commented on #2760
Fixed but needs a bit of testing for various conditions tomorrow @Echinaceax

[2021-06-03 08:32] Echinaceax commented on #2760
Sure, no problem @mfranca0009

[2021-06-03 11:30] Echinaceax opened #5247 "[Quest] Fire From the Sky - 28497- Uldum"
**Links:**

quest https://www.wowhead.com/quest=28497/fire-from-the-sky
npc https://www.wowhead.com/npc=48698/harrison-jones

https://www.wow-freakz.com/npc_finder.php?npc=48728&name=artillery-spotter-seat
https://www.wow-freakz.com/spells.php?spell=91055&name=designate-target

**What is happening:**

- vehicle is broken, player can't get onto it to complete quest and cause they can't get on the v

[2021-06-03 12:59] Echinaceax opened #5248 "[Quest] On to Something - Uldum"
**Links:**
https://www.wowhead.com/quest=27196/on-to-something

**What is happening:**
- no cutscene
once you deliver **Premature Explosionation** #2005, and pick up **On to Something** Harrison is meant to run and you follow him to the Chamber of the Stars,

he doesnt move, player cant even meet him there manually either

**What should happen:**
_Accompany Harrison Jones to the Chamber of the Sta

[2021-06-03 14:09] Echinaceax opened #5249 "[Quest] The Thrill of Discovery - Uldum"
**Links:**

https://www.wowhead.com/quest=27511/the-thrill-of-discovery

**What is happening:**
- no quest credit

**What should happen:**
_Explore the Chamber of the Stars._

 Ancient Mechanism Examined

Northern Hieroglyphs Examined

Southern Hieroglyphs Examined

https://www.wowhead.com/quest=27511/the-thrill-of-discovery#videos:id=72341

[2021-06-03 14:20] Echinaceax commented on #3074
Quest is doable tho (npc is in the wrong place atm) outside the tomb

and the next pick up also ok https://www.wowhead.com/quest=27624/after-the-fall

![image](https://user-images.githubusercontent.com/39439201/120660606-cafadf80-c487-11eb-9295-35b082b4596f.png)

[2021-06-03 14:23] #3074 closed

[2021-06-03 18:52] mfranca0009 commented on #2760
Ancient Skull Pile gameobject is entirely messed up, upon despawn it never respawns based on its initial respawn time and forcing it to respawn using SAI SMART_ACTION_FORCE_DESPAWN with a respawn time doesn't respawn the object either.

Looking into this later.

[2021-06-04 05:37] mfranca0009 commented on #2760
All set 👍

[2021-06-04 20:40] Lumber-Jack-2 commented on #5244
Or at least a error Warnung that says you are mitunter. Can give you the fix :)

[2021-06-04 20:52] Echinaceax commented on #5244
Did you set the dismount player on your fix too @Rushor or just the error message?

[2021-06-05 01:49] mfranca0009 commented on #5244
I wouldn't say we need a warning message, most spells that require you to be dismounted just call the generic dismount spell so the player is automatically dismounted when the spell begins to cast. That would be a better alternative, since then the player doesn't have to keep dismounting manually and can then just click the rat to dismount/cast spell at the same time.

[2021-06-05 10:52] Lumber-Jack-2 commented on #5244
Hm alright, yes that sounds better

[2021-06-05 12:40] Echinaceax commented on #268
The NPCs that was there on Angels report are now not there

https://www.wowhead.com/npc=47516
https://www.wowhead.com/npc=47519
https://www.wowhead.com/npc=47520
https://www.wowhead.com/npc=47707

are all missing now not sure why

UPDATE
after being phased by a GM the npcs are here

[2021-06-05 12:56] Echinaceax commented on #4774
Note
due to this being bugged for the delivery too, player cant pick up https://www.wowhead.com/quest=28187/missed-me-by-zhat-much

[2021-06-05 15:53] Echinaceax commented on #5244
confirmed fixed in ptr

[2021-06-05 17:54] mfranca0009 commented on #2011
[Flight Form] trains [Expert Riding] automatically, while [Swift Flight Form] requires you to purchase [Artisan Riding] first in order to train it. The [Artisan Riding] requirement was not being shown for the [Swift Flight Form] spell at the trainer, this has been corrected now.

Testing the original issue at hand, could not reproduce this problem as of today, and you still have your riding skills

[2021-06-07 08:06] Echinaceax opened #5250 "[NPC] wyrmrest defenders - Dragonblight"
**Links:**

npc https://www.wowhead.com/npc=27629/wyrmrest-defender
quest https://www.wowhead.com/quest=12372/defending-wyrmrest-temple

**What is happening:**
- Not flying (same issue as #5238 and #5184)

**What should happen:**
_Afrasastrasz at Wyrmrest Temple has asked you to slay 3 Azure Dragons, slay 5 Azure Drakes, and to destabilize the Azure Dragonshrine while riding a Wyrmrest Defender in

[2021-06-07 20:52] Echinaceax opened #5251 "[Quest] Fortune and Glory - Uldum"
Reported from ingame player

**Links:**

https://www.wowhead.com/quest=27748/fortune-and-glory

**What is happening:**
- player said that after accepting the quest no cinematic plays
- Harrison stands still
- Obsidian Colossus is frozen (cant attack)

**What should happen:**
_Kill the Obsidian Colossus._
https://www.wowhead.com/quest=27748/fortune-and-glory#videos:id=71764

**Other Information:**

[2021-06-07 20:54] Echinaceax opened #5252 "[Quest] Harrison Jones and the Temple of Uldum - Uldum"
**Links:**

https://www.wowhead.com/quest=28612/harrison-jones-and-the-temple-of-uldum

**What is happening:**

- [ ] No cinematic

**What should happen:**

https://www.wowhead.com/quest=28612/harrison-jones-and-the-temple-of-uldum#videos:id=88521

**notes**

- [ ] spell https://cata-twinhead.twinstar.cz/?spell=94267
- [ ] text https://wowpedia.fandom.com/wiki/Harrison_Jones_and_the_Temple_of_Uldu

[2021-06-08 15:21] #973 closed

[2021-06-08 15:21] #2011 closed

[2021-06-08 15:21] #2760 closed

[2021-06-08 15:21] #4268 closed

[2021-06-08 15:21] #4951 closed, assigned to mfranca0009

[2021-06-08 15:21] #5136 closed, assigned to mfranca0009

[2021-06-08 15:21] #5137 closed, assigned to mfranca0009

[2021-06-08 15:21] #5139 closed, assigned to mfranca0009

[2021-06-08 15:21] #5141 closed, assigned to mfranca0009

[2021-06-08 15:21] #5152 closed, assigned to mfranca0009

[2021-06-08 15:21] #5154 closed, assigned to mfranca0009

[2021-06-08 15:21] #5192 closed, assigned to mfranca0009

[2021-06-08 15:21] #5198 closed, assigned to mfranca0009

[2021-06-08 15:21] #5200 closed, assigned to mfranca0009

[2021-06-08 15:21] #5201 closed, assigned to mfranca0009

[2021-06-08 15:21] #5207 closed, assigned to mfranca0009

[2021-06-08 15:21] #5210 closed, assigned to mfranca0009

[2021-06-08 15:21] #5211 closed, assigned to mfranca0009

[2021-06-08 15:21] #5212 closed, assigned to mfranca0009

[2021-06-08 15:21] #5214 closed, assigned to mfranca0009

[2021-06-08 15:21] #5216 closed, assigned to mfranca0009

[2021-06-08 15:21] #5236 closed, assigned to Lumber-Jack-2

[2021-06-08 15:21] #5241 closed, assigned to mfranca0009

[2021-06-08 15:21] #5244 closed, assigned to mfranca0009

[2021-06-08 15:27] #858 closed

[2021-06-08 15:27] #862 closed

[2021-06-08 15:27] #863 closed

[2021-06-08 15:27] #871 closed

[2021-06-08 15:27] #872 closed

[2021-06-08 15:27] #968 closed

[2021-06-08 15:27] #969 closed

[2021-06-08 23:17] mfranca0009 commented on #5199
Silverpine Forest / Ruins of Gilneas quest ordering should now be all set and ready for next update 👍

[2021-06-09 00:42] mfranca0009 commented on #5142
Fixed 👍

[2021-06-09 00:42] mfranca0009 commented on #5143
fixed 👍

[2021-06-09 13:27] Echinaceax commented on #5142
Applied on live

[2021-06-09 13:27] #5142 closed, assigned to mfranca0009

[2021-06-09 13:28] Echinaceax commented on #5143
Applied on live

[2021-06-09 13:28] #5143 closed, assigned to mfranca0009

[2021-06-11 12:18] Echinaceax commented on #5148
Added to  #5147

[2021-06-11 13:05] Echinaceax commented on #5194
After setting all quest order recently, seems this is fine now
will update when we get to the quest in test again

[2021-06-11 13:18] Echinaceax commented on #5196
will retest once we get to this quest phase

[2021-06-11 13:45] Echinaceax commented on #5205
will retest when we get to this quest phase

[2021-06-13 12:00] Echinaceax opened #5253 "[NPC] Kezan Citizen - Kezan"
**Links:**

https://www.wowhead.com/npc=35075/kezan-citizen

**What is happening:**
- Kezan Citizen's missing from the bank queue

**What should happen:**
need spawning

**Other Information:**
Should have a queue of Kezan Citizen's in the bank

![goblin bank quest](https://user-images.githubusercontent.com/39439201/121806310-950be700-cc4f-11eb-9a65-4a4c432b8eb3.jpg)

[2021-06-13 22:24] mfranca0009 commented on #4478
All set 👍

[2021-06-13 22:45] mfranca0009 commented on #5138
All set 👍

[2021-06-14 11:57] Echinaceax opened #5254 "[NPCs] "Salty" Rocka 45498 / "Salty" Gorgar 45497 - Silverpine"
**Links:**

https://www.wowhead.com/npc=45498/salty-rocka
https://www.wowhead.com/npc=45497/salty-gorgar

**What is happening:**
- Text YELL arguement between these two is missing

**What should happen:**
These two should banter with each other

**Other Information:**

**convo 1**
"Salty" Rocka yells: Hey over there! Hey! Hey! Over there! How'sh everything going Gororgararar?
"Salty" Gorgar yells:

[2021-06-14 23:08] Echinaceax commented on #5138
confirmed fixed in ptr

[2021-06-14 23:09] Echinaceax commented on #4478
All confirmed fixed in ptr 😄

[2021-06-15 11:32] Echinaceax opened #5255 "[Quest] Rise, Godfrey - Silverpine"
**Links:**

quest https://www.wowhead.com/quest=27472/rise-godfrey
Text https://wowpedia.fandom.com/wiki/Rise,_Godfrey

video https://www.youtube.com/watch?v=M6BxUHBsva0

**(npcs should turn into quest givers after res)**

https://www.wow-freakz.com/npc_finder.php?npc=45878&name=lord-godfrey
https://www.wowhead.com/npc=45879/lord-walden
https://www.wowhead.com/npc=45880/baron-ashbury

**What is ha

[2021-06-15 12:59] Echinaceax opened #5256 "[Quest] To Forsaken Forward Command (npc missing) - Forsaken Forward Command"
**Links:**

quest https://www.wowhead.com/quest=27290/to-forsaken-forward-command
npc https://www.wowhead.com/npc=45312/deathstalker-commander-belmont
Spell https://cata-twinhead.twinstar.cz/?spell=84942  (i think)
Spell https://cata-twinhead.twinstar.cz/?npc=45318 (also i think)

video https://www.wowhead.com/quest=27290/to-forsaken-forward-command#videos:id=37111

**What is happening:**

- [ ] N

[2021-06-15 15:09] mfranca0009 commented on #4497
Technically, the quest was removed but the item still exists as a random white item that has no value whatsoever besides being apart of the lore from previous expansions; it's a paper weight. Item needs to be edited client-side to reflect that change to be blizzlike.

Alternative easy fix, remove it from the loot tables.

https://www.wowhead.com/item=2794

[2021-06-15 15:38] Echinaceax commented on #5153
NPC is missing again @mfranca0009
may be due to current fixes

After delivering forsaken-forward-command quest
(player is on the quest https://www.wowhead.com/quest=27290/to-forsaken-forward-command )
they go to forsaken forward command to deliver quest back with Arthura flying the player there

https://www.wowhead.com/npc=45315/forward-commander-onslaught should be here too pick up 2 quests

http

[2021-06-15 16:05] mfranca0009 commented on #5153
Was in the wrong location, I updated it

[2021-06-15 16:12] Echinaceax commented on #5153
confirmed relocated to correct position

![image](https://user-images.githubusercontent.com/39439201/122087982-9da61e00-ce05-11eb-815e-04949b5f6bc2.png)

[2021-06-18 00:04] Echinaceax commented on #5240
Update
NPC not dropping quest start item https://cata-twinhead.twinstar.cz/?npc=1658
item https://cata-twinhead.twinstar.cz/?item=3082 should be 100%

[2021-06-18 22:19] mfranca0009 commented on #5242
Should be all set, any waypoint tweaking needs to be done after implementing smooth waypoint pathing into the core 👍

[2021-06-19 00:20] Echinaceax commented on #5242
- [x] Full scripted done
- [x] Confirmed single player
- [x] Confirmed group

[2021-06-20 15:15] Echinaceax opened #5257 "[Quest/Dailies] Tol Barad - Horde"
**Tol Barad battle has been deactivated for now** #3341

**Note**
Rushor added the dailies at the tol barad hub for both factions (temp fix)
to allow both factions to be able to do their dailies But there is an unfare advantage to Allies,
Horde can not complete 3 of the quests that Allies can

**Links:**

- [ ] Svarnos https://cata-twinhead.twinstar.cz/?quest=28664
https://wowpedia.fandom.com/wiki

[2021-06-20 15:44] Echinaceax commented on #5257
Waiting BQ command

[2021-06-20 16:20] Echinaceax commented on #3022
removed BQ label as per GM request
player said command not working for this quest

[2021-06-21 01:28] mfranca0009 commented on #5257
BQ command has been updated, these dailies should be on the command when next update is released to live ✔️

[2021-06-22 02:24] mfranca0009 commented on #5140
All the major issues have been fixed, but needing to clean-up and add detail to it, hopefully finishing it off tomorrow 👍

[2021-06-23 12:40] golosomie commented on #627
Can confirm on PTR that gossip option is missing. Still set to autocomplete. Turn-in NPC is spawned.

[2021-06-23 12:57] golosomie commented on #942
Can confirm on PTR. Here is a list of flight points that should be available from Splintertree post:

- Valormok, Azshara
- Bilgewater Harbor, Azshara
- Orgrimmar
- The Crossroads, Northern Barrens
- The Mor'Shan Ramparts, Ashenvale
- Silverwind Refuge, Ashenvale
- Hellscream's Watch, Ashenvale
- Zoram'gar Outpost, Ashenvale
- Emerald Sanctuary, Felwood

[2021-06-23 13:15] golosomie opened #5258 "Flight paths missing from Zoram'gar Outpost [Ashenvale]"
Flight path data is missing for the horde flight master [Andruk](https://www.wowhead.com/npc=11901/andruk).
Players can take flights towards the flight master, but fly from Zoram'gar Outpost.

This is likely a client issue (as pointed out my @mfranca0009 [here](https://github.com/WoWManiaUK/Blackwing-Lair/issues/5112#issuecomment-787705212). Below is a list of flight points that should be availabl

[2021-06-23 13:23] #4861 closed, assigned to nobody

[2021-06-23 13:28] golosomie commented on #1799
@Echinaceax
I think this is not a bug. what we have is very similar to sources like [this video here](https://www.youtube.com/watch?v=8TCy61Ml1_E). Quests in this area are doable

[2021-06-23 13:31] Echinaceax commented on #1799
thanks for checking @golosomie 👍

[2021-06-23 13:31] #1799 closed

[2021-06-23 14:01] golosomie commented on #498
Can confirm all these are on autocomplete right now (should maybe changed to .BQ to keep it consistent?)
At some point there should be issues for each arena quest.

The order is also broken:
- Quest 25094 should require completion of Quest 25067
- Quest 25095 should require completion of Quest 25094
- Alliance only Quest 25513 should require completion of Quest 25095
- Horde only Quest 25591 shoul

[2021-06-23 14:03] Echinaceax commented on #498
###  (should maybe changed to .BQ to keep it consistent?)

no point atm to do more changes @golosomie

[2021-06-23 14:31] golosomie commented on #3202
tested this on PTR about 8 times (which is admittedly not much) - seemed to work fine.
But then I managed to reproduce it twice after ~6 tries on live. So there is some randomness involved.

[2021-06-23 14:49] golosomie commented on #3646
Can confirm. Hard to find evidence on this but it should do about 3-5k damage.
Spell ID of the Fire Bolt is 36227

[2021-06-23 14:51] golosomie commented on #4168
I noticed that too. What we do need is some info on how they should behave instead

[2021-06-23 14:56] Echinaceax commented on #4168
From what i know is that Pets should follow master a lot closer than we currently have it, i believe the pet here are too far behind the hunter,mage and warlock, causing them to get stuck in objects @golosomie

[2021-06-23 14:56] golosomie commented on #4218
He's not in the inn anymore, but still a bit away from the right position, should be closer to the windriders.

[2021-06-23 14:57] golosomie commented on #4203
will check this out when we get to do BH next time

[2021-06-23 14:59] golosomie commented on #4226
this is more of a general issue with vmaps and blinking, not sure if it's feasible to "collect" all the locations this can happen at

[2021-06-23 14:59] Echinaceax commented on #4203
thx, also remember Masterlooter for the Allience drops (coz of xfaction)

[2021-06-23 15:16] golosomie commented on #4232
Can confirm that quest is bugged. NPC is spawned though.
On accepting the quest, a cinematic with a lot of explosions should play (see [here](https://www.youtube.com/watch?v=smp1L_CKsKM)).
The player should receive the quest credit after the cinematic ends.

For now this should be put on .BQ command.

[2021-06-23 15:23] golosomie opened #5259 "Quest "The Dark Tower" should require prequest "Detonation" [Redridge Mountains]"
Quest 26693 ["The Dark Tower"](https://www.wowhead.com/quest=26693/the-dark-tower) should require completion of Quest 26668 ["Detonation"](https://www.wowhead.com/quest=26668/detonation).

Note that this should only be added when #4232 has been fixed or put on .BQ command.

[2021-06-23 15:23] Echinaceax commented on #3022
added back to BQ with correct ID

[2021-06-23 15:28] golosomie commented on #3202
edit: can confirm that this can occur on PTR as well. so it's not just a live issue

[2021-06-23 15:30] golosomie commented on #4253
Can confirm that tooltips don't show for Maniac Points (Item 91000), Vote Token (ID 90048) and VIP Token (90049)

[2021-06-23 16:01] golosomie commented on #4269
Just tested this on PTR as well as on live. 0/6 drops without the quest, 5/5 drops with the quest. seems like this has been fixed at some point

[2021-06-23 16:05] Echinaceax commented on #4269
thanks @golosomie can close this then :)

[2021-06-23 16:05] #4269 closed

[2021-06-23 17:26] Echinaceax opened #5260 "https://www.wowhead.com/search?q=forsaken+trooper ( is on the travel cart ) as well"

[2021-06-23 17:27] Echinaceax opened #5261 "Orc Sea Dog https://cata-twinhead.twinstar.cz/?npc=45589 (need 20)"

[2021-06-23 17:30] #5260 closed, assigned to nobody

[2021-06-23 17:30] Echinaceax commented on #5260
new github funtions ..testing :)

[2021-06-23 17:34] #5261 closed, assigned to nobody

[2021-06-23 18:53] golosomie commented on #4302
That's just wrong, you're talking about Raid Finder which is not same as the "Other Raids" browser which is supposed to help people finding players to group up. This issue is about the latter

[2021-06-23 18:55] golosomie commented on #4302
can confirm that people listing with the Raid Browser function don't appear in the search for other people.

I don't think we need to disable searching for groups for Firelands or Dragon Soul because you can't enter them using the Raid Browser (it's not creating and porting the groups like the dungeonfinder / raidfinder)

[2021-06-23 18:58] golosomie commented on #4302
@Echinaceax set to low priority because it's not really a required feature at the moment

[2021-06-23 19:01] Echinaceax commented on #4302
i will make new report for the other issue @golosomie

[2021-06-23 19:22] Echinaceax opened #5262 "[General] Raid browser (issue 2)"
**Whats happening**
raid browser is not working

Not sure the Raidbrowser is working correctly, ive just tested it by selecting the raids a have requirements for but when adding "List my name" didnt work. list was still blank in the "browse tab"

![image](https://user-images.githubusercontent.com/39439201/123157498-e5aeeb80-d46a-11eb-9ba5-6dc49b732e98.png)

**other info**
for later patch https://w