[2020-08-04 09:19] Echinaceax commented on #4644
confirmed - Kebok has no dialog to acquire the wind rider

[2020-08-04 14:31] Echinaceax opened #4645 "[NPC] Blood seeker 3868"
**Links:**

https://wow.gamepedia.com/Blood_Seeker
npc=3868

**What is happening:**
- Blood seekers despawn timer is missing (Blood Seeker should automatically despawn after six minutes)
- Research also says its a lvl 15 bat but the spawned one is 20 (not sure if that makes a difference)
_In PTR i npc info the bat and shows no automatic despawn timer at all_

**What should happen:**

![aeonaxx - b

[2020-08-04 16:26] mfranca0009 commented on #4645
Blood Seeker is now level 15 and has a force despawn after 6 minutes out of combat 👍 Needs testing on PTR.

[2020-08-04 17:39] mfranca0009 commented on #4640
Spawn times have been changed for Blood Seeker and Aeonaxx. #4645

Will still need to work on mountable interaction with Aeonaxx.

[2020-08-04 19:27] mfranca0009 commented on #4640
Will need C++ script to properly create Aeonaxx interactable mounting.

[2020-08-05 03:00] mfranca0009 commented on #233
C++ script currently in progress of being made 👍

[2020-08-05 10:39] Echinaceax commented on #4469
this needs closing, i thought you meant HC :)
Zul normal mode in cata doesnt exist was removed from cata, only HC mode now

https://wow.gamepedia.com/Zul%27Aman_(instance)

![zul2](https://user-images.githubusercontent.com/39439201/89404184-da02eb00-d719-11ea-806f-4716439d17a9.jpg)
![zul1](https://user-images.githubusercontent.com/39439201/89404191-dbccae80-d719-11ea-8b0b-975582c10613.jpg)

[2020-08-05 10:39] #4469 closed, assigned to nobody

[2020-08-05 11:22] Echinaceax commented on #4586
- [ ] Akil'zon
- [ ] Nalorakk
- [ ] Jan'alai
- [ ] Halazzi
- [ ] Hex Lord Malacrass
- [ ] Daakara

[2020-08-05 13:29] Echinaceax opened #4646 "[NPC/item] Forest frog / Amani hex stick - Zul'Aman"
**Links:**

npc https://www.wowhead.com/npc=24396/forest-frog
item https://www.wowhead.com/item=33865/amani-hex-stick

video https://www.youtube.com/watch?v=VuAPaoSavu0

**What is happening:**
- the item is dropping in Zul'Aman HC but you cant use the item on the frogs as stated in the info research
https://wowwiki.fandom.com/wiki/Amani_Hex_Stick

**What should happen:**
https://wowwiki.fandom.com

[2020-08-06 00:19] mfranca0009 commented on #4587
I can confirm this, no item ID for "Key of Ilgalar" in General Fangore loot table. Also, it seems he may be dropping less items than usual. Will fix loot table completely.

There's no information on this NPC on Cavern of Time database site, will be using information from WoWhead.

[2020-08-06 01:23] mfranca0009 commented on #4587
Quest item should now drop when player has quest, and full loot table has been adjusted; needs testing in PTR 👍

[2020-08-06 01:28] mfranca0009 commented on #4576
Cobalt Serpent NPC needs their whole loot table corrected, they should drop 466 items and only has 15 rows in loot table now.

http://cata.cavernoftime.com/npc=19428

Will start working on this.

[2020-08-06 02:09] mfranca0009 commented on #4576
Weirdly enough, but the percentage for most of the loot has a 0% drop chance or at least it shows that. I'm assuming it has a lower drop chance than 0.1 and then it stops displaying the drop chance percentage on Cavern of Time....

I used WoWhead for drop percentage chance for Cobalt Eye because it wasn't listed on Cavern of Time for some reason.

Will mark as fixed for now, since the original iss

[2020-08-06 03:17] mfranca0009 commented on #4575
Needs testing in PTR 👍

[2020-08-06 03:40] mfranca0009 commented on #4326
Those letters drop from:
https://www.wowhead.com/npc=17537/vazruden

This should be fixed now; needs testing in PTR 👍

[2020-08-06 03:48] mfranca0009 commented on #4324
Item dropped from:
https://classic.wowhead.com/npc=11663/flamewaker-healer
https://classic.wowhead.com/npc=11664/flamewaker-elite

Quest does not exist in-game. This should be fixed now; needs testing in PTR 👍

[2020-08-06 05:12] mfranca0009 commented on #4299
Correct NPCs for this quest:
https://www.wowhead.com/npc=41279/loramus-thalipedes
https://www.wowhead.com/npc=41280/razelikh-the-defiler
https://www.wowhead.com/npc=41292/loramus-the-defiled

Two different entries for loramus and razelikh, but these are the correct ones. Will need to work on text lines and interaction of the battle.

[2020-08-06 08:34] Echinaceax commented on #4575
confirmed fix PTR

![fixed22](https://user-images.githubusercontent.com/39439201/89510064-64a62180-d7d0-11ea-8adc-54bb49ebaefb.jpg)

[2020-08-06 08:49] Echinaceax commented on #4576
confirmed fixed in PTR

![fixed33](https://user-images.githubusercontent.com/39439201/89511647-7ee0ff00-d7d2-11ea-820f-6911a6bafad2.jpg)

[2020-08-06 08:57] Echinaceax commented on #4587
confirmed fixed in PTR

![fixed 44](https://user-images.githubusercontent.com/39439201/89512448-8bb22280-d7d3-11ea-9807-834608c2f8ec.jpg)

[2020-08-06 15:30] Echinaceax opened #4647 "[Dungeon/raid] (Normal mode) - Zul'Gurub"
**Links:**

https://wowwiki.fandom.com/wiki/Zul%27Gurub_(raid)

**What is happening:**
- shouldnt be open

**What should happen:**
needs locking, normal raid was removed in CATA

[2020-08-06 15:34] Echinaceax opened #4648 "[Dungeon/raid] (Normal mode) - Zul'Aman"
**Links:**

https://wow.gamepedia.com/Zul%27Aman_(instance)

**What is happening:**
- shouldnt be open

**What should happen:**
need locking, normal mode was removed in cata

[2020-08-06 21:17] Thelonnious commented on #4585
To the testers. you need to kill  Zanzi first to bi able to klick on  Zanzi's Cauldron.

[2020-08-06 21:52] Echinaceax commented on #4585
The green gas cauldrons im taking about are not just at Zanzil, im talking about in general!!
- Cant you just check the cauldron thanks
there isnt just one green cauldron

FYI @Xman993 - you dont have to "kill Zanzil first" to have the ability to use the cauldron, its to use throughout the fight depending on which phase your on 😄

https://www.youtube.com/watch?v=GBuR9IVhmOE

[2020-08-06 23:00] Echinaceax commented on #4585
confirmed 3/4 fixed on PTR

- [x] Mysterious Gurubashi Bijou - drops when you dont have the quest still
https://www.wowhead.com/quest=29242/putting-a-price-on-priceless

Still not fixed still dropped without having the quest in my  quest log

![not fixed](https://user-images.githubusercontent.com/39439201/89591038-78419e80-d849-11ea-8e9b-a9a99b734dac.jpg)

_i completed this quest and handed it in

[2020-08-07 09:39] Echinaceax commented on #4087
@Rushor Shouldnt really confirm your own fixes

**Update by GM Zinius**

"_This one is still an issue for players, phasing the player doesnt work, He had to summon the player to the npc again_"

@Rushor
In my opinion its because a lot of the quests in Hyjal are still bugged so players are randomly grabbing what quests they can do which is not in the order they are meant too. Hyjal need fixing then

[2020-08-07 13:30] Echinaceax commented on #4425
being fixed on this report thanks #4299

[2020-08-07 13:30] #4425 closed, assigned to nobody

[2020-08-10 02:37] rzenne opened #4649 "[Quest][The Eastern Pylon][Un'Goro Crater]"
**Links:**
https://www.wowhead.com/quest=24721/the-eastern-pylon
from WoWHead or our Armory

**What is happening:**
Ithis Moonwarden is not teleporting you up the mountain so you cant complete quest.

**What should happen:**
https://www.youtube.com/watch?v=6sB5R6O3uQ4
**Is it crashing the server?:**

**Other Information:**

[2020-08-10 03:57] rzenne opened #4650 "[Quest][Whistle of the Venomhide Ravasaur][Un'goro crater]"
**Links:**
https://www.wowhead.com/item=46102/whistle-of-the-venomhide-ravasaur
from WoWHead or our Armory

**What is happening:**
Venomhide ravasaur is not allowing it to be account wide

**What should happen:**
Venomhide should be account wide.
**Is it crashing the server?:**

**Other Information:**

[2020-08-10 10:31] Thelonnious commented on #4650
Account wide mounts are from MOP and up.

[2020-08-10 10:31] #4650 closed, assigned to nobody

[2020-08-10 20:21] Echinaceax opened #4651 "[General] Master looter"
**What is happening:**
- Master looter bug

We was on a World boss, player set master looter. when world boss was dead he DC / crashed, none of us could loot
when lootmaster came back he couldnt loot either, he tried changing looting to group loots but still none of us could loot

when lootmaster changed to me we got a message " loot is still being rolled for"
but no roll was Shown because the loo

[2020-08-10 21:24] Echinaceax opened #4652 "[NPC] Obsidian stone slave"
**Links:**

https://www.wowhead.com/npc=47226/obsidian-stoneslave

**What is happening:**
- extreem low dmg

**What should happen:**
- Lvl 84 should do more dmg than this dmg :)

**Other Information:**

![low very low](https://user-images.githubusercontent.com/39439201/89833027-9f0d1700-db60-11ea-9a1c-5151a72cb640.jpg)

[2020-08-10 21:37] Echinaceax opened #4653 "[NPC] Shaman of the Black"
**Links:**

https://www.wowhead.com/npc=46322/shaman-of-the-black

**What is happening:**
- extreem low dmg

**What should happen:**

Lvl 84 should do more dmg than this dmg :)

**Other Information:**

![low dmg2](https://user-images.githubusercontent.com/39439201/89834056-62dab600-db62-11ea-8b7f-774831c08f6e.jpg)

[2020-08-10 21:53] Echinaceax commented on #1867
### update on this

I see them thats not this issue here @mfranca0009

I have the same issue as HrPottemager you dont smash them like your meant too you click once and it auto drinks them
look https://gyazo.com/306eb6e7e07e1f527cd6a91428325667

and the item kegs stack in your bags

object fix https://cata-twinhead.twinstar.cz/?object=206195

![stacks in your bag](https://user-images.githubusercont

[2020-08-10 22:02] Echinaceax opened #4654 "[NPC] Wildhammer Warbrand"
**Links:**

https://www.wowhead.com/npc=46320/wildhammer-warbrand

**What is happening:**

- extreem low dmg

**What should happen:**

Lvl 84 should do more dmg than this dmg :)

**Other Information:**

![wildhammer warbrand](https://user-images.githubusercontent.com/39439201/89835925-fb266a00-db65-11ea-84ed-7bb873fbac8b.jpg)

[2020-08-10 22:10] Echinaceax opened #4655 "[NPC] High Shaman MacKilligan"
**Links:**

https://www.wowhead.com/npc=46885/high-shaman-mackilligan

**What is happening:**

- extreem low dmg

**What should happen:**

Lvl 84 should do more dmg than this dmg :)

**more infomation**
He is a 2 player suggestion quest mob for https://www.wowhead.com/quest=28875/bring-down-the-high-shaman

![high shaman mackilligan](https://user-images.githubusercontent.com/39439201/89836440-10e8

[2020-08-11 09:06] #4583 closed, assigned to mfranca0009

[2020-08-11 09:06] #4585 closed, assigned to Thelonnious

[2020-08-11 09:06] #4587 closed, assigned to mfranca0009

[2020-08-11 09:06] #4604 closed, assigned to mfranca0009

[2020-08-11 09:06] #4605 closed, assigned to mfranca0009

[2020-08-11 09:06] #4608 closed, assigned to mfranca0009

[2020-08-11 09:06] #4610 closed, assigned to mfranca0009

[2020-08-11 09:06] #4611 closed, assigned to mfranca0009

[2020-08-11 09:06] #4612 closed, assigned to mfranca0009

[2020-08-11 09:06] #4615 closed, assigned to mfranca0009

[2020-08-11 09:06] #4616 closed, assigned to mfranca0009

[2020-08-11 09:06] #4618 closed, assigned to mfranca0009

[2020-08-11 09:06] #4630 closed, assigned to mfranca0009

[2020-08-11 09:06] #4632 closed, assigned to mfranca0009

[2020-08-11 09:06] #4633 closed, assigned to mfranca0009

[2020-08-11 09:06] #4634 closed, assigned to mfranca0009

[2020-08-11 09:06] #4635 closed, assigned to mfranca0009

[2020-08-11 09:06] #4636 closed, assigned to Thelonnious

[2020-08-11 09:06] #4638 closed, assigned to mfranca0009

[2020-08-11 09:06] #4639 closed, assigned to mfranca0009

[2020-08-11 09:06] #4641 closed, assigned to mfranca0009

[2020-08-11 09:06] #4642 closed, assigned to mfranca0009

[2020-08-11 09:06] #4643 closed, assigned to mfranca0009

[2020-08-11 09:06] #4645 closed, assigned to mfranca0009

[2020-08-11 09:06] #288 closed

[2020-08-11 09:06] #619 closed

[2020-08-11 09:06] #756 closed

[2020-08-11 09:06] #993 closed

[2020-08-11 09:06] #1895 closed

[2020-08-11 09:06] #2038 closed

[2020-08-11 09:06] #2245 closed

[2020-08-11 09:06] #2430 closed

[2020-08-11 09:06] #4324 closed

[2020-08-11 09:06] #4326 closed

[2020-08-11 09:06] #4338 closed

[2020-08-11 09:06] #4414 closed, assigned to Thelonnious

[2020-08-11 09:06] #4426 closed, assigned to mfranca0009

[2020-08-11 09:06] #4443 closed, assigned to Thelonnious

[2020-08-11 09:06] #4519 closed, assigned to mfranca0009

[2020-08-11 09:06] #4524 closed, assigned to mfranca0009

[2020-08-11 09:06] #4559 closed, assigned to mfranca0009

[2020-08-11 09:06] #4575 closed, assigned to mfranca0009

[2020-08-11 09:06] #4576 closed, assigned to mfranca0009

[2020-08-11 17:13] Echinaceax opened #4656 "[NPC] Pride of Bethekk (skinning) - Zul'Gurub"
**Links:**

https://www.wowhead.com/npc=52345/pride-of-bethekk#skinning

**What is happening:**
- not skinnable

**What should happen:**
should be skinnable

[2020-08-11 17:16] Echinaceax opened #4657 "[NPC] Razzashi Adder (skinning) - Zul'Gurub"
**Links:**

https://www.wowhead.com/npc=52085/razzashi-adder#skinning

**What is happening:**
- not skinnable

**What should happen:**
should be skinnable

[2020-08-11 17:18] Echinaceax opened #4658 "[NPC] Zulian Gnasher (skinning) - Zul'Gurub"
**Links:**

https://www.wowhead.com/npc=52413/zulian-gnasher#skinning

**What is happening:**
- not skinnable

**What should happen:**
should be skinnable

[2020-08-11 22:23] Thelonnious opened #4659 "[NPC] Zulian Gnasher (spell cast) - Zul'Gurub"
**Links:**

https://www.wowhead.com/npc=52413/zulian-gnasher

**What is happening:**

dont cast spells

**What should happen:**
need to cast spells
**Is it crashing the server?:**
no

**Other Information:**

[2020-08-12 04:27] mfranca0009 commented on #811
Still an issue, just occurred for me on live. If I can get this fixed, it should help me with Aeonaxx's interaction as well; it has the same problem.

[2020-08-12 04:54] mfranca0009 commented on #4347
Duplicate report, original report is here: #3518

[2020-08-12 04:54] #4347 closed

[2020-08-12 05:01] mfranca0009 commented on #3517
Will need to be re-opened, Tracker Thulin does not give credit when killed. He does drop the Brann's Communicator though.

[2020-08-12 05:29] mfranca0009 commented on #4327
Confirmed, just had this happen on live to me.

[2020-08-12 09:55] Echinaceax commented on #276
@mfranca0009 still an issue sadly
GM just told me

player was Ally
GM tested Horde

both not working

[2020-08-12 10:32] DorizarN commented on #2960
Still the same issue!

[2020-08-12 14:13] mfranca0009 commented on #276
Okay will take a look again

[2020-08-12 21:07] Echinaceax opened #4660 "[Item] Scroll of Agility IX / Flask of the Winds"
**Links:**

Scroll of Agility IX http://cata.cavernoftime.com/item=63303
Flask of the Winds http://cata.cavernoftime.com/item=58087

**What is happening:**
- those 2 buff are stacking

**What should happen:**
They shouldnt stack they both "counts as a battle elixir"

[2020-08-12 22:19] mfranca0009 commented on #233
Needs testing in PTR 👍

Quest is completable, the only problem left is the Subdued Canyon Ettin not displaying animation of picking rock up and tossing rock into the water. The "Lift Boulder Ride" spell was completely broken with no animations attached. If any information comes by where it can be improved I will adjust it further.

The complete quest event should function as it should otherwise.

[2020-08-13 00:27] Thelonnious opened #4661 "[MAP] The Lost Isles"
it's really lost, not a single npc found the isle

[2020-08-13 07:07] Echinaceax commented on #4661
we know @Xman993

i reported it here #3566

**other infomation**
https://github.com/WoWManiaUK/Blackwing-Lair/issues/3565#issuecomment-539462088

[2020-08-13 19:46] Echinaceax commented on #4659
@Xman993
What spells these 2 https://www.wowhead.com/npc=52413/zulian-gnasher#abilities:0+1+17+2 ?

[2020-08-13 19:49] Thelonnious commented on #4659
yes @Echinaceax

[2020-08-13 19:50] Echinaceax commented on #4659
Confirmed fixed in dev

![spells](https://user-images.githubusercontent.com/39439201/90180244-fa344900-ddae-11ea-8d65-580c89cccc2e.jpg)

[2020-08-15 11:58] Echinaceax opened #4662 "[Rare NPC] Overlord Sunderfury"
**Links:**

npc http://cata.cavernoftime.com/npc=50085
Spells https://cata-twinhead.twinstar.cz/?issue=4540

**What is happening:**
- low dmg

**What should happen:**

- [ ] Should have 8568 - 9520 dmg (wow.freakz.ro)
- [ ] Should have 154,980 HP (wow.freakz.ro)
- [ ] Should have 8,908 mana (wowhead)

**Other Information:**
https://cata-twinhead.twinstar.cz/?spell=80819
https://cata-twinhead.twins

[2020-08-15 19:38] Echinaceax commented on #4586
Reopened @Xman993
Fix on live is still 70 loot for all bosses even tho on DEV was fixed i just checked again, need to ask Jani what went wrong because DEV first boss is 353  and the rest are  is lvl 70 gear still

- [x]  Akil'zon (85 gear)
- [x] Nalorakk (70 gear)
- [x] Jan'alai (70 gear)
- [x] Halazzi (70 gear)
- [x] Hex Lord Malacrass (70 gear)
- [x] Daakara (70 gear)

Confirmed still bugged by

[2020-08-15 19:42] Echinaceax opened #4663 "[Quest/Item] Blood of Zul'jin - Zul'Aman"
**Links:**

https://www.wowhead.com/item=33102/blood-of-zuljin

**What is happening:**
- Quest item dropped

**What should happen:**
needs removing from game
in this patch the quest is given at the start of the dungeon by https://www.wowhead.com/npc=52924/voljin

[2020-08-15 19:48] Echinaceax opened #4664 "[Boss] Nalorakk - Zul'Aman"
**Links:**
https://www.wowhead.com/npc=23576/nalorakk/heroic-encounter-journal

**What is happening:**
- not attackable
- wrong location

![wrong map info](https://user-images.githubusercontent.com/39439201/90344481-90b87280-e01a-11ea-87b4-2020b83b0988.jpg)

**What should happen:**

- [ ] Should be attackable
- [ ] Should be at coords (40.5, 77.3)  https://www.wowhead.com/npc=23576/nalorakk#map

*

[2020-08-15 19:51] Echinaceax opened #4665 "[Boss] Jan 'alai - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=23578/janalai/heroic-encounter-journal

**What is happening:**
- no attacks

**What should happen:**
should use abilities

**Other Information:**
Still has 70 loot #4586

[2020-08-15 19:55] Echinaceax opened #4666 "[Boss] Hex Lord Malacrass - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=24239/hex-lord-malacrass/heroic-encounter-journal

**What is happening:**
- no attacks

**What should happen:**
should use abilities

**Other Information:**
Still has 70 loot #4586

[2020-08-15 20:52] Echinaceax opened #4667 "[NPC] Vol'jin - Zul'Aman"
**Links:**

npc https://www.wowhead.com/npc=52924/voljin
quest https://www.wowhead.com/quest=11196/warlord-of-the-amani

**What is happening:**
- After picking up the quest from vol'jin at the begining of the dungeon and completing it, he standing at the stairs at the end of the dungeon with the (?)  but still with the "we're ready to open the gates" dialog,
- lol i tested this and clicked on it,

[2020-08-16 16:58] rzenne commented on #1584
weird worked on other characters but my dwarf it will not work for.  It says you got fish but doesn't add it bag.

[2020-08-17 03:23] mfranca0009 commented on #2163
Adding to this, the quest NPC to turn in to is broken. It's suppose to be the "Titan Mechanism" which is a game trigger that is currently visible to the player but should not be visible and does not have a "?" to turn in quest and can't be interacted with.

https://www.wowhead.com/npc=50401/titan-mechanism#comments

[2020-08-17 06:58] Echinaceax commented on #287
Update
Something happened to the fix

[2020-08-17 07:01] Echinaceax commented on #4525
UPDATE
Something happened to the fix

[2020-08-17 07:11] Echinaceax commented on #4270
Update
Something happened to the fix

[2020-08-18 05:10] mfranca0009 opened #4668 "[Quest] Crushblow - (issue 2) - Twilight Highlands"
**Links:**

https://www.wowhead.com/quest=28249/crushblow
https://www.wowhead.com/npc=47902/lirastrasza

**What is happening:**
Quest can be accepted by Alliance players

**What should happen:**
Quest should only be acceptable by Horde players

**Is it crashing the server?:**
No

**Other Information:**
N/A

[2020-08-18 10:52] Echinaceax commented on #287
Better now ❤️ uploaded live tomorrow

![conf1](https://user-images.githubusercontent.com/39439201/90504608-a1b7cf80-e151-11ea-8faa-5b61b8415836.jpg)

[2020-08-18 10:59] Echinaceax commented on #4525
Better now ❤️ uploaded live tomorrow

![conf2](https://user-images.githubusercontent.com/39439201/90505236-90bb8e00-e152-11ea-91af-65a4ba5b974a.jpg)

[2020-08-18 11:00] #4525 closed, assigned to mfranca0009

[2020-08-18 11:00] #287 closed

[2020-08-18 11:09] Echinaceax commented on #288
retested

![conf3](https://user-images.githubusercontent.com/39439201/90506125-0e33ce00-e154-11ea-90f2-104615656a7c.jpg)

[2020-08-18 11:12] Echinaceax commented on #4270
better now ❤️  updated on live tomorrow

![conf4](https://user-images.githubusercontent.com/39439201/90506403-80a4ae00-e154-11ea-8865-afd62b161dbe.jpg)

[2020-08-18 11:13] #4270 closed

[2020-08-18 12:40] Echinaceax commented on #4659
Due to PTR wipe this reverted too

[2020-08-18 12:50] Echinaceax opened #4669 "[Quest] Reconnaissance Flight - ID 12671 - (issue 2) Sholazar Basin"
**Links:**

Quest: https://www.wowhead.com/quest=12671/reconnaissance-flight

**What is happening:**
- plane dies before even getting close to landing pad and you can't control the hight (up/down)

**What should happen:**
Help Pilot Vic complete the Reconnaissance Flight

[2020-08-18 12:53] Echinaceax opened #4670 "[Quest] A Race Against Time - Borean Tundra"
**Links:**

https://www.wowhead.com/quest=11671/a-race-against-time

**What is happening:**
- Quest Mob will aggro and the quest item will be useless unless you de-aggro and go back in using quest item without aggroing her

**What should happen:**
_Donathan on Amber Ledge has tasked you with using the Beryl Shield Detonator to bring down the shield at Beryl Point. You are then to defeat Salrand an

[2020-08-18 12:57] Echinaceax opened #4671 "[NPC] Coldarra Wyrmkin - (no loot) - Borean Tundra"
**Links:**
https://www.wowhead.com/npc=25728/coldarra-wyrmkin

**What is happening:**
- no loot table

**What should happen:**
- no loot

**Is it crashing the server?:**
should have (298) drops

[2020-08-18 12:59] Echinaceax opened #4672 "[NPC] Coldarra Spellweaver - (no loot) - Borean Tundra"
**Links:**

https://www.wowhead.com/npc=25722/coldarra-spellweaver

**What is happening:**
- no loot table

**What should happen:**
should have (300) drops

[2020-08-18 13:06] Echinaceax opened #4673 "[Quest] The Mechagnomes - Borean Tundra"
**Links:**

from WoWHead or our Armory

**What is happening:**
- Last gossip option that gives quest credit is incorrect
- you can interact with him even after quest completed

**What should happen:**

- [ ] Correct the gossip text
- [ ] remove the interaction after completion of quest

[2020-08-18 13:11] Echinaceax opened #4674 "[NPC] Bonker Togglevolt - Borean Tundra"
**Links:**

https://www.wowhead.com/quest=11673/get-me-outa-here
npc https://www.wowhead.com/npc=25589/bonker-togglevolt

**What is happening:**
- Run speed to fast
cant keep up with him to complete quest

**What should happen:**
needs speed modding

[2020-08-18 13:19] Echinaceax commented on #3516
update
Fortunate Misunderstandings - escort does not start, mob remains dead (Injured Rainspeaker Oracle)

[2020-08-18 13:27] Echinaceax opened #4675 "[NPC] Thassarian - Borean Tundra"
**Links:**

npc https://www.wowhead.com/npc=26170/thassarian
fighting npcs https://www.wowhead.com/npc=26172/slain-cultist

**What is happening:**
- Thassarian is fighting npcs that are laid on the ground

**What should happen:**
needs none attackable flag

[2020-08-18 13:34] Echinaceax opened #4676 "[Quest] A Rough Ride - Sholazar Basin"
**Links:**

https://www.wowhead.com/quest=12536/a-rough-ride

**What is happening:**
- no option to ride
missing dialog

**What should happen:**
https://www.youtube.com/watch?v=ktXG9ben_cI

[2020-08-18 13:37] Echinaceax opened #4677 "[Quest] Crocolisk Mastery: The Plan - Sholazar Basin"
**Links:**

Quest https://www.wowhead.com/quest=12560/crocolisk-mastery-the-plan
item https://www.wowhead.com/item=38553/sandfern

**What is happening:**
- not many Sandfern in the area

**What should happen:**
need more adding

[2020-08-18 13:44] Echinaceax opened #4678 "[NPC] Thalgran Blightbringer - Sholazar Basin"
**Links:**

https://www.wowhead.com/npc=28443/thalgran-blightbringer

**What is happening:**
- Fell through map when charging him on warrior char
using charge spell

**What should happen:**
shouldnt do that :)

[2020-08-18 13:49] Echinaceax opened #4679 "[Quest] Freya's Pact - Sholazar Basin"
**Links:**

https://www.wowhead.com/quest=12621/freyas-pact

**What is happening:**
- no quest credit after gossip option conversations (no dialog)

**What should happen:**
_Listen to what the Avatar of Freya has to say._
need dialog

[2020-08-18 13:53] Echinaceax opened #4680 "[Quest] Rhino Mastery: The Kill - Sholazar Basin"
**Links:**

https://www.wowhead.com/quest=12556/rhino-mastery-the-kill

**What is happening:**
- Farunn doesn't attack back but can be attacked

**What should happen:**
https://www.wowhead.com/quest=12556/rhino-mastery-the-kill#videos:id=75452

[2020-08-18 15:11] Echinaceax opened #4681 "[NPC] Calamoth Ashbeard - Wetlands"
**Links:**

NPC https://www.wowhead.com/npc=41522/calamoth-ashbeard
Quest https://www.wowhead.com/quest=26128/the-battle-of-thandol-span#criteria-of

**What is happening:**
- npc missing

**What should happen:**
NPC should be spawned

**Other Information:**
Reported by ingame player to GM

[2020-08-18 16:56] Echinaceax opened #4682 "[Guild perk] Have Group, Will Travel / mobile banking"
**Links:**

https://wow.gamepedia.com/Have_Group,_Will_Travel   ID 83967
https://wow.gamepedia.com/Mobile_Banking  ID 83958
https://www.wowhead.com/spell=212036/mass-resurrection

**What is happening:**
- when you pull these out of spell book onto your action bars they disappear on log out

**What should happen:**
they should stay on action bar

[2020-08-18 21:08] Echinaceax opened #4683 "[Dungeon NPCs] Zul'Gurub"
**What is happening:**
- All trash mobs respawn after wiping

**What should happen:**
mobs should stay dead, shouldnt respawn

[2020-08-18 21:19] Echinaceax opened #4684 "[Quest] Wenikee Boltbucket - The Barrens"
**Links:**

quest https://www.wowhead.com/quest=29026/wenikee-boltbucket
npc https://classic.wowhead.com/npc=9316/wenikee-boltbucket
2nd npc https://www.wowhead.com/npc=34674/brak-blusterpipe

**What is happening:**
- has no dialog to teleport too Wenikee Boltbucket
- return npc has no dialog either

**What should happen:**

- [x] should teleport to Wenikee Boltbucket
- [ ] should teleport back to

[2020-08-19 00:37] mfranca0009 commented on #538
Issue still exists, Brutusk is not there.

[2020-08-19 01:35] rzenne commented on #756
the problem still seems to be happening. So there are 2 bugs:

    there are not fallen footman in this area.
    The flag sticks to you back, if you use the item.

[2020-08-19 02:21] rzenne commented on #760
Still not working.  Friendly NPCs are not present. This is a level 54 quest but most of the enemy is level 60+ elite you get slaughtered. No boxes to collect.

[2020-08-19 02:25] mfranca0009 commented on #760
Previously tried completing this quest as well, same problem. Will re-open and look into it.

[2020-08-19 02:33] mfranca0009 commented on #4592
This issue still exists in that one area, running into this problem at the moment on my live character. Re-opening and assigning to myself.

[2020-08-19 03:53] mfranca0009 opened #4685 "[Quest] Corrupting Influence? (Ally) - Ashenvale"
**Links:**

https://www.wowhead.com/quest=13868/corrupting-influence
https://www.wowhead.com/item=46128/troll-charm

**What is happening:**
This item is dropping for horde players, but it leads to an alliance quest

**What should happen:**
Item should not drop for horde players; only alliance.

**Is it crashing the server?:**
No

**Other Information:**
N/A

[2020-08-19 10:05] Echinaceax opened #4686 "[Item] Standard of Unity / Guild Cataclysm Dungeon Hero"
**Links:**
Achievment https://www.wowhead.com/achievement=5143/guild-cataclysm-dungeon-hero
guild perk https://www.wowhead.com/item=64398/standard-of-unity
npc https://www.wowhead.com/npc=46602/shay-pressler

![acheiv](https://user-images.githubusercontent.com/39439201/90621477-12bfbb80-e214-11ea-948d-9c6471d5e49a.jpg)

**What is happening:**
- Standard of Unity is not visible at the guild vender,

[2020-08-19 10:49] Echinaceax opened #4687 "[Achievement] Higher Learning"
**Links:**

https://www.wowhead.com/achievement=1956/higher-learning
https://cata-twinhead.twinstar.cz/?achievement=1956

![higher learning](https://user-images.githubusercontent.com/39439201/90625525-03dc0780-e21a-11ea-83f4-9aabe09eb9b4.jpg)

**What is happening:**
- found all but only completed 2
- Noticed that the book names are different so need too researched a bit more

Seems that random boo

[2020-08-19 12:00] mfranca0009 commented on #3299
Report doesn't state anything about heavy guns, but there are heavy guns you should be able to interact with to shoot the planes down and complete the quest.

[2020-08-19 13:40] Echinaceax opened #4688 "[NPC] Shattertusk Mammoth - Sholazar Basin"
**Links:**

npc https://www.wowhead.com/npc=28379/shattertusk-mammoth
quest https://www.wowhead.com/quest=12607/a-mammoth-undertaking
quest item https://www.wowhead.com/item=38627/mammoth-harness

**What is happening:**
- Once to accespt the quest, you can click on a Mammoth without using quest item
- Cant hand the Mammoth in to quest back npc Zootfizzle

**What should happen:**
_Bring a Shattertu

[2020-08-19 13:43] Echinaceax opened #4689 "[Quest] Post-partum Aggression - Sholazar Basin"
**Links:**

https://www.wowhead.com/quest=12614/post-partum-aggression#criteria-of

**What is happening:**
- No quest credit after killing Broodmother Slivina

**What should happen:**

_Kill Broodmother Slivina and return to Dorian Drakestalker at Dorian's Outpost._

[2020-08-19 13:44] Echinaceax commented on #810
Still an issue according to player

[2020-08-19 13:47] Echinaceax opened #4690 "[NPC] Skoll - The Storm Peaks"
**Links:**

https://www.wowhead.com/npc=35189/skoll

**What is happening:**
 - Should have waypoint data but standing in one place

**What should happen:**
waypoint data

[2020-08-19 13:49] Echinaceax commented on #3063
_Speak to Captain Taylor in the Briny Cutter._

Cannot talk to Captain Taylor

[2020-08-19 21:54] mfranca0009 commented on #4688
I think the main issue was that it kept resetting and trying to walk around within its spawn point while I was on the mammoth. You had to get lucky and move the mammoth forward at the right time far from his spawn point in order to get him away so that he stops trying to move near his spawn point like a normal mob would.

Handing back the mammoth worked fine for me on live.

[2020-08-20 01:01] mfranca0009 commented on #1635
This issue seems to still be occurring, not fixed on live. Re-opening and assigned to myself.

[2020-08-20 04:11] mfranca0009 opened #4691 "[Quest] Questioning Reethe (part 2) - Dustwallow Marsh"
**Links:**

https://classic.wowhead.com/quest=1273/questioning-reethe

**What is happening:**
The script and conversation all work as it should, but I didn't obtain quest credit after the event has ended. I walked all the way back with Ogron to where he stands and quest still incomplete.

**What should happen:**
Quest completion after killing the guards that come while questioning Reethe and the e

[2020-08-20 04:12] mfranca0009 commented on #4691
Script and conversation of event was fixed here, #1705

[2020-08-20 04:16] mfranca0009 commented on #4205
There are duplicates showing, this is because Horde is getting shown Alliance quests as well.

[2020-08-20 09:52] Echinaceax commented on #4688
I couldnt hand mine in :P

[2020-08-20 13:07] Echinaceax commented on #4686
Misread requirements :)

"while in a full guild group"

![in guild group](https://user-images.githubusercontent.com/39439201/90773821-cd27ef00-e2f6-11ea-9568-9a6748ed7d14.jpg)

[2020-08-20 13:07] #4686 closed, assigned to nobody

[2020-08-21 19:48] rzenne opened #4692 "[Quest][The Amulet of Grol][Blasted Lands]"
**Links:**
https://www.wowhead.com/quest=25699/the-amulet-of-grol
from WoWHead or our Armory

**What is happening:**
As an ally player I am able to complete both the ally and horde version of this quest.

**What should happen:**
Should not be able to accept horde quest from Bloodmage Lynnore
**Is it crashing the server?:**

**Other Information:**

[2020-08-21 19:51] rzenne opened #4693 "[Quest][The Amulet of Sevine][Blasted Lands]"
**Links:**
https://www.wowhead.com/quest=25698/the-amulet-of-sevine
from WoWHead or our Armory

**What is happening:**
As an ally player I am able to get quest from Bloodmage Lynnore

**What should happen:**
Should not be able to accept horde quest from Bloodmage Lynnore
**Is it crashing the server?:**

**Other Information:**

[2020-08-21 19:55] rzenne opened #4694 "[Quest][The Amulet of Allistarj][Blasted Lands]"
**Links:**
https://www.wowhead.com/quest=25697/the-amulet-of-allistarj
from WoWHead or our Armory

**What is happening:**
As an ally player I am able to get quest from Bloodmage Lynnore

**What should happen:**
Should not be able to accept horde quest from Bloodmage Lynnore
**Is it crashing the server?:**

**Other Information:**

[2020-08-21 19:58] rzenne opened #4695 "[Quest][Loramus Thalipedes Awaits][Blasted Lands]"
**Links:**
https://www.wowhead.com/quest=25700/loramus-thalipedes-awaits
from WoWHead or our Armory

**What is happening:**
As an ally player I am able to get quest from Bloodmage Lynnore

**What should happen:**
Should not be able to accept horde quest from Bloodmage Lynnore
**Is it crashing the server?:**

**Other Information:**

[2020-08-21 20:01] rzenne opened #4696 "[Quest][You Are Rakh'likh, Demon] (issue 2) - Blasted Lands"
**Links:**
https://www.wowhead.com/quest=25701/you-are-rakhlikh-demon#criteria-of
from WoWHead or our Armory

**What is happening:**
As an ally player I am able to get quest from Loramus Thalipedes

**What should happen:**
Should not be able to accept horde quest from Loramus Thalipedes
**Is it crashing the server?:**

**Other Information:**

[2020-08-21 20:14] rzenne opened #4697 "[Quest][The Altar of Storms][Blasted Lands]"
**Links:**
https://www.wowhead.com/quest=25688/the-altar-of-storms
from WoWHead or our Armory

**What is happening:**
As an ally player not able to do the ally version as it is bugged but able to complete it on horde version.

**What should happen:**
Should not be able to do horde quest
**Is it crashing the server?:**

**Other Information:**

[2020-08-21 20:29] Echinaceax commented on #4696
Thanks @rzenne :)

Just checked on this and it is for both
https://cata-twinhead.twinstar.cz/?search=You+Are+Rakh%27likh%2C+Demon
http://cata.cavernoftime.com/?search=You+Are+Rakh%27likh%2C+Demon

[2020-08-21 20:39] Echinaceax commented on #4692
@mfranca0009 wrong quest giver for Ally  http://cata.cavernoftime.com/quest=26169

http://cata.cavernoftime.com/?search=The+Amulet+of+Grol#quests
https://cata-twinhead.twinstar.cz/?search=The+Amulet+of+Grol

[2020-08-21 20:41] Echinaceax commented on #4693
@mfranca0009 wrong quest giver for ally http://cata.cavernoftime.com/quest=26168

http://cata.cavernoftime.com/?search=The+Amulet+of+Sevine
https://cata-twinhead.twinstar.cz/?search=The+Amulet+of+Sevine

[2020-08-21 20:43] Echinaceax commented on #4694
@mfranca0009 wrong quest giver for Ally http://cata.cavernoftime.com/quest=26167

http://cata.cavernoftime.com/?search=The+Amulet+of+Allistarj
https://cata-twinhead.twinstar.cz/?search=The+Amulet+of+Allistarj

[2020-08-21 20:45] #4696 closed, assigned to mfranca0009

[2020-08-22 06:36] Echinaceax commented on #276
### Update for @mfranca0009

- [x] Horde 27008 (fixed)
- [x] Ally 27006 (not fixed)

[2020-08-23 16:14] mfranca0009 commented on #4299
All fixed 👍

https://gist.github.com/mfranca0009/79f6738a415dfa2313530e605a5f3343

[2020-08-23 16:46] Echinaceax commented on #4299
Confirmed fixed on dev

[2020-08-23 18:29] mfranca0009 commented on #4586
Fixed, needs testing in PTR 👍

Hex Lord Malacrass drops a quest item, this needs to be tested to make sure it is dropping when player has quest and not dropping when player doesn't have quest.

quest item: https://www.wowhead.com/item=69264/the-hex-lords-fetish
quest: https://www.wowhead.com/quest=29186/the-hex-lords-fetish

Daakara drops a Chaos Orb with a 87% chance while dropping gear.

[2020-08-23 20:43] Echinaceax commented on #4586
Confirmed fixed again in PTR thanks @mfranca0009

- [x]  Akil'zon (85 gear)
- [x] Nalorakk (85 gear)
- [x] Jan'alai (85 gear)
- [x] Halazzi (85 gear)
- [x] Hex Lord Malacrass (85 gear)
- [x] Daakara (85 gear)
- [x] Hex Lord Malacrass dropped quest item (while on quest)
- [x] Daakara drops a Chaos Orb

[2020-08-25 06:56] Echinaceax opened #4698 "[Start Quest] A Personal Summons / Call Board - Vashjir portal"
**Links:**

**_Ally_**
A Personal Summons http://cata.cavernoftime.com/quest=28825
Hero's Call: Vashj'ir! http://cata.cavernoftime.com/quest=27724

_**horde**_
A Personal Summons http://cata.cavernoftime.com/quest=28790
Warchief's Command: Vashj'ir! http://cata.cavernoftime.com/quest=27718

**What is happening:**
- This portal is active without doing start quest

**What should happen:**
Portal sho

[2020-08-25 07:38] Echinaceax commented on #3358
reopening this atm

[2020-08-25 07:38] Echinaceax commented on #3352
Reopening this atm

[2020-08-25 22:45] rzenne opened #4699 "[Profession] Duskwood - Herbalism"
**Links:**
https://classic.wowhead.com/object=1628/grave-moss
from WoWHead or our Armory

**What is happening:**
This should be the best place to collect grave moss but is pretty much non-existent in both locations.

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2020-08-26 05:59] Echinaceax commented on #4699
Was also added to this report #4349
At some point we need a full zone to zone report  of all classic herbs

@rzenne have you checked these zones **Hillsbrad, Arathi, Wetlands** ?
https://www.wow-professions.com/farming/grave-moss-farming

**Update:**
x0 Wetlands
x1 Arathi
x0 Hillsbrad

[2020-08-27 10:24] Echinaceax opened #4700 "[Jewel Crafting] Daily - The Latest Fashion (Issue 2)"
**Links:**
**Horde**
Quest https://www.wowhead.com/quest=25159/the-latest-fashion
Quest item https://www.wowhead.com/item=52507/stardust-no-2

**Ally**
Quest https://www.wowhead.com/quest=25157/the-latest-fashion
Quest item https://www.wowhead.com/item=52507/stardust-no-2

**What is happening:**
- Quest item can be used 10 times on the questgiver

**What should happen:**
_Test Stardust No. 2 on 10

[2020-08-27 15:27] mfranca0009 commented on #4595
I just watched a Hex Lord Malacrass kill video from Cataclysm Zul'Aman heroic and door doesn't open automatically after Hex Lord Malacrass is killed.

https://www.youtube.com/watch?v=Iz47-e6WdyU

Need more information on this to make sure it works as it should blizzlike

**UPDATE**

Player should be able to open door when Hex Lord Malacrass is dead.

[2020-08-27 15:35] mfranca0009 commented on #4664
Full 30 minute Zul'aman Heroic Run: https://www.youtube.com/watch?v=b3yeYGEgTgQ

This video shows him standing where he currently is, BUT he needs to be scripted where he will continue to run further up to where he should be. He should have yell text and it should almost look like he is sending troops down to kill you. Once you're at the altar, he will say a yell line and send the last 4 mobs to a

[2020-08-27 15:40] mfranca0009 commented on #4665
Should be attackable off the bat, no scripted event or scene.

[2020-08-27 15:43] mfranca0009 commented on #4666
Should be attackable off the bat, no event or scene needed.

[2020-08-27 15:46] mfranca0009 commented on #4663
This should be fixed after fixing loot for Bosses 👍

[2020-08-27 17:56] Echinaceax opened #4701 "[Dungeon] Skinning - Zul'Aman"
**Links:**

Amani Bear - https://www.wowhead.com/npc=23584/amani-bear#skinning
Amani Lynx Cub https://www.wowhead.com/npc=24064/amani-lynx-cub#skinning
Amani Elder Lynx https://www.wowhead.com/npc=24530/amani-elder-lynx#skinning
Amani Crocolisk https://www.wowhead.com/npc=24047/amani-crocolisk#skinning
Tamed Amani Crocolisk https://www.wowhead.com/npc=24138/tamed-amani-crocolisk#skinning (not skin

[2020-08-29 01:43] rzenne opened #4702 "Quest] Summoning Shadra - ID 26531 (Ally) - The Hinterlands"
**Links:**
https://www.wowhead.com/quest=26531/summoning-shadra
from WoWHead or our Armory

**What is happening:**
Quest item casts but doesn't complete each of the tasks

**What should happen:**
https://www.wowhead.com/quest=26531/summoning-shadra#videos:id=52285
**Is it crashing the server?:**

**Other Information:**

[2020-08-29 23:48] Echinaceax opened #4703 "[NPC] Sullah (missing) Uldum"
**Links:**

npc https://www.wowhead.com/npc=48621/sullah
quest https://www.wowhead.com/quest=28482/sullahs-gift

**What is happening:**
- NPC missing for Uldum
for Series quest line

**What should happen:**
Npc should be spawned

**Other Information:**
important start quests for Uldum
![all missing](https://user-images.githubusercontent.com/39439201/91648030-da657c00-ea62-11ea-8720-a57d3b718951.jp

[2020-08-29 23:57] Echinaceax opened #4704 "[NPC] Harrison Jones - 48698 (missing) - Uldum"
**Links:**

https://www.wowhead.com/npc=48698/harrison-jones

**What is happening:**
- npc missing for quest back
https://www.wowhead.com/quest=28482/sullahs-gift

**What should happen:**
npc 48698 isnt not in DB

**Other Information:**
Needed for questline series

[2020-08-30 00:10] Echinaceax opened #4705 "[NPC] Brann Bronzebeard - 49248 (missing) - Uldum"
**Links:**

https://www.wowhead.com/npc=49248/brann-bronzebeard

**What is happening:**
- npc missing
for quest https://www.wowhead.com/quest=28633/the-coffer-of-promise#criteria-of

**What should happen:**
should be spawned

**Other Information:**
missing npcs in Uldum are messing up all there atm

[2020-08-30 00:17] Echinaceax opened #4706 "[NPC] Harrison Jones - 47158 / 49151 (missing) - Uldum"
**Links:**

Quest giver https://www.wowhead.com/npc=47158/harrison-jones
quest delivery https://www.wowhead.com/npc=49151/harrison-jones

**What is happening:**
- npc missing
for quest https://www.wowhead.com/quest=27748/fortune-and-glory

- npc missing
for quest delivery https://www.wowhead.com/npc=49151/harrison-jones

**What should happen:**
npc should be in DB

[2020-08-30 00:25] Echinaceax opened #4707 "[NPC] Brann Bronzebeard - 49204 (missing) - Uldum"
**Links:**

https://www.wowhead.com/npc=49204/brann-bronzebeard

**What is happening:**
- npc missing
for quest delivery https://www.wowhead.com/quest=28612/harrison-jones-and-the-temple-of-uldum

**What should happen:**
npc should be in DB

[2020-08-30 00:31] Echinaceax opened #4708 "[NPC] Harrison Jones - 49203 (missing) - Uldum"
**Links:**

https://www.wowhead.com/npc=49203/harrison-jones

**What is happening:**
- NPC missing
needed for https://www.wowhead.com/quest=28622/three-if-by-air

**What should happen:**
should be spawned

[2020-08-30 00:34] Echinaceax opened #4709 "[NPC] Brann Bronzebeard - 39908 (missing) - Uldum"
**Links:**

https://www.wowhead.com/npc=39908/brann-bronzebeard

**What is happening:**
- npc missing for https://www.wowhead.com/quest=28753/doing-it-the-hard-way

**What should happen:**
should be spawned

[2020-08-30 04:13] mfranca0009 opened #4710 "[Quest] Filling Our Pockets - Tanaris"
**Links:**

https://www.wowhead.com/npc=40632/southsea-musketeer
https://www.wowhead.com/quest=25541/filling-our-pockets
https://www.wowhead.com/quest=26887/filling-our-pockets

**What is happening:**
Southsea Musketeers don't seem to be spawned around Lost Rigger Cove

**What should happen:**
Southsea Musketeers should be spawned in order to loot Gold Filling from them to complete `Filling Our Po

[2020-08-30 04:18] mfranca0009 commented on #4710
*UPDATE*
Seemed to have found them.... prematurely made issue.

[2020-08-30 04:18] #4710 closed, assigned to mfranca0009

[2020-08-30 11:08] Echinaceax commented on #3673
Made new quest order report  here #4711

[2020-08-30 11:08] #3673 closed

[2020-08-30 11:12] Echinaceax opened #4711 "[Quest] Uldum quest order"
- [x] Warchief's Command: Uldum! https://github.com/WoWManiaUK/Blackwing-Lair/issues/229
- [ ] Easy money https://github.com/WoWManiaUK/Blackwing-Lair/issues/1073
- [ ] Traitors https://github.com/WoWManiaUK/Blackwing-Lair/issues/1908
- [ ] Smoke in their Eyes https://github.com/WoWManiaUK/Blackwing-Lair/issues/3538
- [x] Budd's Plan
- [x] Kavem the Callous https://github.com/WoWManiaUK/Blackwing-

[2020-08-30 11:39] #3537 closed

[2020-09-01 06:36] WiciadorWolf opened #4712 "[Quest/Worgen ] The Allens' Storm Cellar (door bug on relog) - Duskhaven"
**Links:**

from WoWHead or our Armory

**What is happening:**
After i complete The Allens' Storm Cellar quest i had to logout and when i logged into the game next day cellar door are closed i cant get in
![WoWScrnShot_090120_081213](https://user-images.githubusercontent.com/70564657/91810461-34666d00-ec2e-11ea-8654-e1e7fdc3aae4.jpg)

**What should happen:**

**Is it crashing the server?:**

**Oth

[2020-09-01 08:35] Echinaceax commented on #4516
reported here #339 for horde side and Ally

[2020-09-01 08:35] #4516 closed, assigned to nobody

[2020-09-01 08:38] Echinaceax commented on #4712
there is no bug with the worgen at all anymore when you follow the questline correctly @WiciadorWolf

follow the questline https://wow.gamepedia.com/Worgen_starting_experience
and turn on your "show low level quests" from your mini map icon

@mfranca0009 Maybe it can be looked at for the logout issue ?

I will test the logout theory and update soon @mfranca0009

[2020-09-01 09:05] WiciadorWolf commented on #4712
i forgot that i was inside cellar when i logged out

[2020-09-01 09:27] Echinaceax commented on #4712
ok thanks on that quest now 👍
so you handed quest in then logged out ?
so on your screeshot your are outside and not in :)

![on it](https://user-images.githubusercontent.com/39439201/91832938-52d86280-ec46-11ea-8250-9dd6f97d6f37.jpg)

[2020-09-01 09:33] Echinaceax commented on #4712
ok ive picked up the quests after giving back The Allens' Storm Cellar  @WiciadorWolf

![picked up](https://user-images.githubusercontent.com/39439201/91833579-2f61e780-ec47-11ea-82a7-f4e0316fa434.jpg)

2. then log out ?
3. complete quests
4. door locked on return right?

### Update
my char is stuck in cellar after relog
i will abandon quests and see if that fixes it

@mfranca0009
abandoning the q

[2020-09-01 09:45] Echinaceax commented on #4712
@WiciadorWolf make ingame ticket for GMs help as i have confirmed this bug for you

[2020-09-01 10:02] WiciadorWolf commented on #4712
i got out from cellar using stuck in customer support window

[2020-09-01 10:04] Echinaceax commented on #4712
good to know @WiciadorWolf 👍

[2020-09-02 00:00] Echinaceax opened #4713 "[Daily/Fishing] Level scaling issue (Horde/Ally)"
**Links:**

https://www.youtube.com/watch?v=hsNDDBCTAG8

**What is happening:**
- Daily gold not scaling with lvl
_im 85 and only getting 1s 25c_

![1s](https://user-images.githubusercontent.com/39439201/91917013-04b37580-ecbf-11ea-874a-f4ec8e5c6430.jpg)

**What should happen:**
should scale with lvl
https://www.youtube.com/watch?v=hsNDDBCTAG8

![scalling](https://user-images.githubusercontent.com

[2020-09-02 08:55] Echinaceax commented on #4563
- [ ]  this quest is missing gold (worth) payment too

[2020-09-02 22:17] mfranca0009 commented on #4667
Both Vol'jin and Blood Guard Hakkuz have been fixed. Created a separate script for the second instance of Vol'jin and a new script for Hakkuz. They will now become visible and run up the stairs after Daakara has been killed. Needs testing in PTR 👍

[2020-09-02 23:33] mfranca0009 commented on #4595
Fixed door locking issue through Hex Lord Malacrass's script 👍  Once Hex Lord Malacrass is dead, it will be unlocked and any player from the group should be able to open it.

Hex Lord Malacrass's script is still in-progress though, since he still doesn't function properly with his attacks.

[2020-09-02 23:48] mfranca0009 commented on #4596
https://www.wowhead.com/npc=52939/hazlek
https://www.wowhead.com/npc=52941/bakkalzu
https://www.wowhead.com/npc=52943/norkani
https://www.wowhead.com/object=187379/norkanis-cage
https://www.wowhead.com/object=186667/norkanis-package
https://www.wowhead.com/npc=52945/kasha
https://www.wowhead.com/object=187380/kashas-cage
https://www.wowhead.com/object=186672/kashas-bag

Norkani and Kasha aren't ev

[2020-09-03 06:25] Echinaceax opened #4714 "[NPC] Amani'shi Savage - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=23889/amanishi-savage

**What is happening:**
- aggro range i think

**What should happen:**
npc should run to play once the door opens

[2020-09-03 06:38] Echinaceax opened #4715 "[Event] Akil'zon Gauntlet - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=24549/amanishi-tempest

**What is happening:**
- npc doesnt attack when close to it

**What should happen:**
should attack

Coords here

![amanishi tempest](https://user-images.githubusercontent.com/39439201/92079847-e6ce3980-edc0-11ea-9cf7-809e5d376ba0.jpg)

[2020-09-03 07:07] Echinaceax commented on #4595
fix in dev confirmed

[2020-09-03 07:12] Echinaceax commented on #4667
confirmed fixed in ptr  👍

[2020-09-03 07:27] Echinaceax opened #4716 "[NPC] Amani Lynx - (Stealth missing) - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=24043/amani-lynx

**What is happening:**
- missing stealth

**What should happen:**
should be stealth acording to video time stamp 7:04
https://www.youtube.com/watch?v=fzmR5JiNQmo

[2020-09-03 12:44] Echinaceax commented on #4687
Working as far as i can see, just waiting 2 more

[2020-09-03 12:45] #4687 closed, assigned to nobody

[2020-09-03 21:25] Echinaceax opened #4717 "[Boss] Akil'zon - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=23574/akilzon

**What is happening:**
- not using spells only melee dmg

**What should happen:**
**Encounter Journal**

- [ ] https://www.wowhead.com/spell=61911/static-disruption?dd=2
- [ ] https://www.wowhead.com/spell=32018/call-lightning?dd=2
- [ ] https://www.wowhead.com/spell=97318/plucked?dd=2
- [ ] https://www.wowhead.com/spell=43657/electrical-storm

[2020-09-03 22:18] Echinaceax opened #4718 "[Object] Hex Lord Malacrass (Entrance door) - Zul'Aman"
**What is happening:**
- Entrance door for 5th boss Hex Lord Malacrass is closed

**What should happen:**
- Should be open after the death of Halazzi

[2020-09-03 22:36] mfranca0009 commented on #4718
Fixed door issue, now opens when Halazzi is dead 👍

[2020-09-03 22:40] mfranca0009 opened #4719 "[Object] Halazzi (Exit door) - Zul'Aman"
**What is happening:**

- Exit door for 4th boss Halazzi is closed

**What should happen:**
- Exit door should open when Halazzi is dead

[2020-09-03 22:42] mfranca0009 commented on #4719
Fixed, exit door now opens when Halazzi is dead 👍

[2020-09-03 22:43] mfranca0009 opened #4720 "[Object] Halazzi (Entrance door) - Zul'Aman"
**What is happening:**

- Halazzi's entrance door is open at start of instance.

**What should happen:**

- Halazzi's entrance door should be closed and only open when previous boss is dead.

[2020-09-03 23:13] mfranca0009 commented on #4720
Fixed, Halazzi's entrance door will open once previous boss is dead (Jan'alai). 👍

[2020-09-04 07:33] Echinaceax commented on #4720
This didnt open after killing Jan'alai @mfranca0009

![entrance door](https://user-images.githubusercontent.com/39439201/92212494-52340c00-ee92-11ea-8872-0549f5f11566.jpg)

[2020-09-04 10:58] Echinaceax commented on #4720
fixed confirmed with Ally toon, going to check back on Horde toon also

[2020-09-04 11:13] Echinaceax commented on #4720
@mfranca0009 Horde char door is closed hmmmm

[2020-09-04 22:27] mfranca0009 commented on #4716
Fixed 👍  Amani Lynx now have proper SmartAI attached with proper abilities being used. They go stealth when spawned in, after combat, or respawn. They will cast Feral Swipe in combat.

[2020-09-05 00:17] mfranca0009 opened #4721 "[NPC] Amani Elder Lynx - (Abilities missing) - Zul'Aman"
**Links:**
https://www.wowhead.com/npc=24530/amani-elder-lynx

**What is happening:**

Missing abilities used during combat using Smart Scripts.

**What should happen:**

Should use abilities from smart script during combat.

[2020-09-05 00:17] mfranca0009 opened #4722 "[NPC] Amani Lynx Cub - (Abilities missing) - Zul'Aman"
**Links:**
https://www.wowhead.com/npc=24064/amani-lynx-cub

**What is happening:**

Missing abilities used during combat using Smart Scripts.

**What should happen:**

Should use abilities from smart script during combat.

[2020-09-05 00:20] mfranca0009 commented on #4714
Beginning of the instance, after opening the main gates, Amanishi Savages should run up from the bottom of the steps to assist in attacking the players who have entered the instance.

**UPDATE**
This is also needed by Hex Lord Malacrass's exit door, once it is open it should trigger the Amanishi savages there as well rushing towards the players.

[2020-09-05 16:57] Echinaceax commented on #4716
confirmed fixed in PTR

- [x] stealth
- [x] Abilities

[2020-09-05 16:59] Echinaceax commented on #4721
confirmed fixed in PTR

- [x]  Abilities

[2020-09-05 17:00] Echinaceax commented on #4722
confirmed fixed in PTR

- [x]  stealth
- [x] Abilities

[2020-09-05 20:46] Echinaceax commented on #4714
they do run in eventually lol just a little slow to react
![they do](https://user-images.githubusercontent.com/39439201/92313217-90801700-efc9-11ea-9bc6-6bcaf6ecdb56.jpg)

low dmg no abilities used

![low dmg no abilies used](https://user-images.githubusercontent.com/39439201/92313254-04222400-efca-11ea-9d84-19cc913846f4.jpg)

**Abilities missing**

- [ ] https://www.wowhead.com/spell=9080/hamstri

[2020-09-06 06:56] WiciadorWolf opened #4723 "gurubashi arena quest bug"
**Links:**

https://www.wowhead.com/quest=26451/gurubashi-challenge-free-for-all-arena-combat

**What is happening:**
after killing summoned challanger quest doesnt complete
![WoWScrnShot_090620_084512](https://user-images.githubusercontent.com/70564657/92320049-c4d1f280-f01e-11ea-9b5d-8ea3d317c33d.jpg)

[2020-09-06 09:35] Echinaceax commented on #4723
im sure ive done this quest @WiciadorWolf
will retest an update soon

[2020-09-06 10:11] Echinaceax commented on #4723
works fine for me @WiciadorWolf

![words fine for me](https://user-images.githubusercontent.com/39439201/92323559-1176f700-f03a-11ea-8e2c-21a75cbd107c.jpg)

[2020-09-06 10:12] #4723 closed, assigned to nobody

[2020-09-06 15:50] WiciadorWolf commented on #4723
i found that when my pet kill challanger quest doesnt complete when i
killed him myself quest complete

niedz., 6 wrz 2020 o 12:12 Echinaceax <notifications@github.com> napisał(a):

[2020-09-06 17:13] Echinaceax commented on #4723
ah yes @WiciadorWolf hunters cant be lazy anymore in CATA lol, hunter has to the the work too lol :)

[2020-09-07 16:24] Echinaceax opened #4724 "[NPC] Captain Tork (missing) - Azshara"
**Links:**

https://www.wowhead.com/npc=36745/captain-tork

**What is happening:**
- npc missing for quest delivery

**What should happen:**
should be at the location for https://www.wowhead.com/quest=24448/field-promotion

[2020-09-08 11:14] randomglitch commented on #797
Not listed as bugged in .BQ

![image](https://user-images.githubusercontent.com/7579461/92469514-d5c06680-f1cc-11ea-83fd-6275c5f2680d.png)

[2020-09-08 11:34] Echinaceax commented on #797
@randomglitch We know, not all are going to be added too the .bq command
janitor only added a 170 to the list and is not doing anymore.

will have to wait for fix @randomglitch
make a ticket and a gm will help you

[2020-09-08 15:02] Echinaceax opened #4725 "[Quest / Daily quest] Gurubashi Challenge: Free-For-All Arena Combat id 26451/ Gurubashi Challenge 26452"
**Links:**

Quest https://www.wowhead.com/quest=26451/gurubashi-challenge-free-for-all-arena-combat
Daily quest https://www.wowhead.com/quest=26452/gurubashi-challenge

**What is happening:**
- they are sharing the one kill
- share kill using one quest item

**What should happen:**
quest and daily shouldnt share the kill, they should be seperate rewarded coz they are 2 different quests/Ids

**more

[2020-09-08 18:44] Echinaceax commented on #4199
### Updated info

recent Mania report states that there is a upgrade process for the vendor option

mania report https://github.com/WoWManiaUK/Redemption/issues/4951

**need same fix here with same conditions** as rushor says here https://github.com/WoWManiaUK/Redemption/issues/4951#issuecomment-688510881

Horde http://cata.cavernoftime.com/item=45022
Ally http://cata.cavernoftime.com/item=44998

[2020-09-09 00:37] mfranca0009 commented on #4596
So far, Removed Norkani's Corpse and Kasha's Corpse and put the actual NPCs within their cages and changed the cage states to 1 so they're closed from start.

Will start scripting their AIs to make them unlock their chests if speed run timer is still active and not finished after saving them.

[2020-09-11 19:40] mfranca0009 commented on #4199
Added conditions from a WoW-Mania SQL fix from Rushor, needs testing in PTR 👍
https://www.youtube.com/watch?v=GFwa8XiZsP0

[2020-09-11 23:49] Echinaceax opened #4726 "[NPC] Dame Evniki Kapsalis - Argent Tournament"
**Links:**

npc https://www.wowhead.com/npc=34885/dame-evniki-kapsalis#comments
Achiv horde https://www.wowhead.com/achievement=2816/exalted-argent-champion-of-the-horde
Achiv Ally https://www.wowhead.com/achievement=2817/exalted-argent-champion-of-the-alliance
title https://www.wowhead.com/title=156/crusader

**What is happening:**
- After getting all requirements for access to the Quartermaster

[2020-09-12 00:19] Echinaceax opened #4727 "[NPC] Argent Squire/Argent Gruntling (issue 2)"
**Links:**
Horde http://cata.cavernoftime.com/item=45022
Ally http://cata.cavernoftime.com/item=44998

**What is happening:**
- when 2 players have their npcs out one players flag selection changes the other players flag also :)
- happens when you are close to each other

**What should happen:**
players should only have control of their own options for their own Argent Squire/Argent Gruntling and

[2020-09-12 06:59] mfranca0009 commented on #4199
**UPDATE**

Revised the C++ script and made some changes to the conditions, it should now work blizzlike referenced from the video above ^

Needs testing for both Horde and Alliance on PTR 👍

[2020-09-12 07:00] mfranca0009 commented on #4727
Will look further into this issue shortly next time I have free to finish up the Argent Squire / Gruntling problems completely 👍

[2020-09-12 11:52] Echinaceax commented on #4199
@mfranca0009 almost all :)

- [x] ATM we have all options still without upgrade requirement (not fixed)
- [x] pet has no specific conditions set at all
- [x] Also the Argent Squire/Argent Gruntling doesnt have timer to use options within 3mins
- [x] Doesnt despawn after 3mins (to go shopping)
- [x] Resets the options after 3m after timer buff disapears, without debuff of 4hours

- [x] timer debuff

[2020-09-12 17:52] mfranca0009 commented on #4727
Adjusted C++ script, needs testing in PTR 👍

[2020-09-12 17:53] mfranca0009 commented on #4199
Moved all gossip menu option conditions to C++ script instead of using DB, should all work now properly. Needs testing 👍

[2020-09-12 21:34] Echinaceax commented on #4199
tested and all working in PTR 👍

[2020-09-13 10:39] Echinaceax opened #4728 "[Item] Tabard of the Argent Crusade"
**Links:**

https://wow.gamepedia.com/Tabard_of_the_Argent_Crusade
item https://www.wowhead.com/item=43154/tabard-of-the-argent-crusade

**What is happening:**
- item not working while in 80s dungeons

**What should happen:**
_Equip: You champion the cause of the Argent Crusade. All reputation gains while in level 80 dungeons will be applied to your standing with them._

**Is it crashing the serve

[2020-09-13 13:42] Echinaceax opened #4729 "[Quest Item] The Cypher of Keset - Uldum"
**Links:**

item https://www.wowhead.com/item=64649/the-cypher-of-keset

**What is happening:**

- [ ]  quest item dropping without have the quest required
- [ ] also dropping the JC trinket quest to non JCs toons #4943

http://cata.cavernoftime.com/item=52199

**What should happen:**
1. should only drop if on the quest https://www.wowhead.com/quest=28500/the-cypher-of-keset
2. should only drop fo

[2020-09-13 16:14] Echinaceax opened #4730 "[NPC] Kor'kron Elite (pathing)"
**Links:**

https://www.wowhead.com/npc=35460/korkron-elite

**What is happening:**
- Npcs are walking inside each other
- npc have no individual pathing

**What should happen:**
need seperate pathing

**Other Information:**

![lol look what i found x4](https://user-images.githubusercontent.com/39439201/93023104-ee75b580-f5ec-11ea-9e38-3b90c619286b.jpg)

[2020-09-13 20:03] Echinaceax opened #4731 "[Event] Pirates' Day - Bootybay"
### Date 19th September 2020

**Links:**

https://www.wowhead.com/pirates-day
https://wow.gamepedia.com/Pirates%27_Day
https://www.youtube.com/watch?v=YHQp9FgIbYU

**unscripted**

**Missing NPCs**

- [ ] Dread Captain DeMeza https://www.wowhead.com/npc=28048/dread-captain-demeza#starts
- [ ] First Mate Hapana https://www.wowhead.com/npc=28049/first-mate-hapana
- [ ] Cap'n Slappy https://www.wowhea

[2020-09-13 22:53] Echinaceax commented on #4731
All good to go @mfranca0009 👍

[2020-09-13 22:55] Echinaceax commented on #4731
All good to go @mfranca0009 👍

[2020-09-14 12:12] Echinaceax opened #4732 "[Quest] Hope Within the Emerald Nightmare - Icecrown"
**Links:**

https://www.wowhead.com/quest=13074/hope-within-the-emerald-nightmare

**What is happening:**
- Once you click the dialog you get a buff https://www.wowhead.com/spell=57413/fitful-dream
but you are not put into the phase

**What should happen:**
https://www.youtube.com/watch?v=aVcJOR_al04

**Other Information:**

![mightmare phase](https://user-images.githubusercontent.com/39439201/930

[2020-09-14 12:50] Echinaceax opened #4733 "[Quest] Tirion's Gambit 13403/13364 - Icecrown"
**Links:**
ally https://www.wowhead.com/quest=13403/tirions-gambit
horde https://www.wowhead.com/quest=13364/tirions-gambit

**What is happening:**
- after you follow the lead of the npc Lich king is meant to walk through but he doesnt come

**What should happen:**
Lich king needs to come to do his thing then the fight starts

https://www.youtube.com/watch?v=7FwtV0to7DY

**Other Information:**

![

[2020-09-15 00:11] mfranca0009 commented on #4727
I've separated the scripts for Squire and Gruntling, there shouldn't be any interference between another player's Squire/Gruntling when changing flags now. Needs testing 👍

**UPDATE**
Had to adjust the radius and implicit target to caster only in Spell Manager C++ as well after separating the C++ creature scripts.

[2020-09-15 05:25] mfranca0009 commented on #4726
Created a C++ script to check if player has proper achievement. If player does not have proper achievement, then it will provide the npc text that the screenshot shows above (Echi's screenshot). If player does have proper achievement, it will open vendor.

NPC also needed editing for it's vendor items, since this vendor should not have heirlooms for purchase until Warlords of Draenor expansion. Wr

[2020-09-15 06:15] mfranca0009 commented on #4725
The real problem is the daily shouldn't be available until the regular quest has been completed and turned in. The daily and the normal quest are the same exact quest, this is why it gives you duplicate quest credit. Will need to look into it and make the necessary changes.

[2020-09-15 10:40] Echinaceax commented on #4725
yes i thought that @mfranca0009 :)

[2020-09-15 10:48] Echinaceax commented on #4726
### Horde confirmed fixed in PTR

**Without the requirements (Crusader achv)**

![without crusader achv](https://user-images.githubusercontent.com/39439201/93318739-586da500-f80f-11ea-8566-35930c1768a1.jpg)

**With the rquirements (Crusader achv)**

![horde confirmed2](https://user-images.githubusercontent.com/39439201/93201606-b6d44e00-f751-11ea-8349-f8828be89550.jpg)

Ally

**With the rquirement

[2020-09-15 21:02] mfranca0009 commented on #4724
Added NPC, all set 👍

[2020-09-16 00:19] mfranca0009 commented on #4726
@Echinaceax  As you said, Cavern of Time showed some heirlooms so I have adjusted the NPC vendor to add them back.

It seems there may have been some extra items in there anyways, since there are now 27 slots and originally there were 31.

Should now be all set completely 👍

[2020-09-16 09:18] Echinaceax commented on #4726
Ok @mfranca0009 👍

[2020-09-16 09:38] #4661 closed, assigned to Thelonnious

[2020-09-16 13:49] Echinaceax opened #4734 "[Item] Champion's Purse (Currency)"
**Links:**
item https://www.wowhead.com/item=45724/champions-purse

rewarded from daily quests in Argent Tournament
https://www.wowhead.com/item=45724/champions-purse#reward-from-q

1-4

![4 champoins purse](https://user-images.githubusercontent.com/39439201/93346507-5b2ec100-f834-11ea-82c7-8ff0c71b4232.jpg)

![1-4](https://user-images.githubusercontent.com/39439201/93346346-2b7fb900-f834-11ea-890

[2020-09-16 14:31] Echinaceax opened #4735 "[Item] Racial Rep Tabards (80s Cata dungeons)"
**Links:**

**_Tabards not giving tabard rep_**

**tested on live in Cata 80 dungeon Throne of the Tides and blackrock caverns**

- [ ] Gnomeregan Tabard https://www.wowhead.com/item=45578/gnomeregan-tabard

------------------------------------------------------------------------------------------------------------

**updated info**
_Patch 4.0. 3a (2010-11-23): Wearing Horde or Alliance racial fac

[2020-09-16 16:10] Echinaceax commented on #4728
updated info

_Patch 4.0. 3a (2010-11-23): Wearing Horde or Alliance racial faction tabards now grants reputation to that city faction while in any non-Burning Crusade dungeon_

[2020-09-16 16:10] #4728 closed, assigned to mfranca0009

[2020-09-16 16:11] Echinaceax commented on #4631
updated info

**Patch 4.0. 3a (2010-11-23): Wearing Horde or Alliance racial faction tabards now grants reputation to that city faction while in any non-Burning Crusade dungeon**

[2020-09-16 16:11] #4631 closed, assigned to nobody

[2020-09-16 21:08] #3868 closed

[2020-09-16 21:13] Echinaceax commented on #3703
Update on Cata tabards

Any cata tabards are 85
this dungeon is 80-81 hence NO tabard rep should be given in this (nm) mode

[2020-09-16 21:19] Echinaceax commented on #4565
Update on Cata tabards

Any cata tabards are 85
this dungeon is 80-81 hence NO tabard rep should be given (nm mode)

So its helpful only for racial rep tabards
Main citys from Wotlk 😄
Racial Rep Tabards (80s Cata dungeons) #4735

[2020-09-16 21:19] #4565 closed, assigned to nobody

[2020-09-17 07:43] Echinaceax opened #4736 "[Item] Murloc Costume"
**Links:**
https://www.wowhead.com/item=33079/murloc-costume

**What is happening:**
- players can still do dmg - spell cast - eat and drink - proffessions - and mount up while in the murloc
- Emotes : / lie and sit

**What should happen:**
_The item itself has no cooldown, but it triggers a 1.5 sec global cooldown, and **the effect is broken when you cast a spell, attack, eat food, or take damage

[2020-09-17 16:02] almoghr opened #4737 "[Crisis at Splintertree] - quest bugged"
the npc asking to escort her but she wont go anywhere. u need to talk to her and then she will walk but there is no chat option on the character conversation popup

splinter tree - ashenvale

[2020-09-17 16:04] almoghr opened #4738 "[Dirty Deeds] - quest dosent work"
**Links:**

from WoWHead or our Armory

**What is happening:**
i need to collect chunk of ores and the chunk of ores is uncollectable

**What should happen:**
the chunk of ores should be collectable and shiny but it is not
**Is it crashing the server?:**
no

**Other Information:**
the quest is marked as fixed but its aint

[2020-09-17 16:05] almoghr opened #4739 "[Quest] Vorsha the Lasher - Ashenvale"
**Links:**

from WoWHead or our Armory

**What is happening:**

the monster vorsha dosent exist

**What should happen:**
i need to see the monster to atk her..
**Is it crashing the server?:**
no
**Other Information:**
bugged quest

[2020-09-17 16:19] Echinaceax commented on #940
still an issue it seems - reopening this

[2020-09-17 16:19] Echinaceax commented on #4739
Already reported @almoghr here #940
ive reopened the old report thanks

[2020-09-17 16:20] Echinaceax commented on #4738
Already reported @almoghr here #940
ive reopened the old report thanks

[2020-09-17 16:20] #4738 closed, assigned to nobody

[2020-09-17 16:22] Echinaceax commented on #4737
Already reported @almoghr  here #436
thanks

[2020-09-17 16:22] #4737 closed, assigned to nobody

[2020-09-17 16:23] Echinaceax commented on #4739
https://classic.wowhead.com/quest=6641/vorsha-the-lasher

[2020-09-17 18:56] Echinaceax commented on #4153
Updated

ive edited reporter 1st post

1.Report to the Labor Captain (goblin quest)

and if player takes **Warchief's Command: Azshara!** then yes Runaway Shredder! is offered

[2020-09-18 02:06] mfranca0009 commented on #4596
All set, each NPC has been scripted to give quest credit for quest to player that selects the gossip and to party members. They have their events scripted for creature text, unlocking their containers, or making them selectable for the player.

All captive scouts and their containers will despawn if the speed run timer runs out. Hence they're captives because they're about to be sacrificed.

Needs

[2020-09-18 03:58] mfranca0009 commented on #4715
I read the comments on the NPC from WoWhead, it's some type of gauntlet event that should happen and I'm assuming he needs a C++ script to get this event to occur and remove the UNIT flag when it's over and he's attackable.

Need more info to accurately start fixing this.

[2020-09-18 04:00] mfranca0009 commented on #4714
Will fix abilities and the savages after hexlord exit, more testing shows that they do run up after one of the amanishi guardians is aggro'd.

[2020-09-18 10:59] almoghr opened #4740 "[Quest] Before You Go... - Ashenvale"
**Links:**

from WoWHead or our Armory

**What is happening:**

need to kill stags for venison but after 120 kills not even 1...
no drop rate is that high

**What should happen:**
venison should drop
**Is it crashing the server?:**
no
**Other Information:**

[2020-09-18 11:00] almoghr opened #4741 "[Quest] Blastranaar! - Ashenvale"
**Links:**

from WoWHead or our Armory

**What is happening:**
talking to the npc and nothing happens.. cant start the quest after the acception of it

**What should happen:**
the npc should escort me or take me somewhere and then war!
**Is it crashing the server?:**
no
**Other Information:**

[2020-09-18 11:09] Echinaceax commented on #4715
will look for video of this @mfranca0009

https://wow.gamepedia.com/Akil%27zon_(removed)

![changes](https://user-images.githubusercontent.com/39439201/93595246-b1783d00-f9b7-11ea-8c2b-fb27233ee93f.jpg)

but here i see they have it (so its a little confusing to know whats right and whats wrong)

https://www.engadget.com/2011-04-26-patch-4-1-guide-to-the-new-zulaman.html?guccounter=1&guce_referrer=

[2020-09-18 17:59] Echinaceax commented on #4740
https://www.wowhead.com/quest=13920/before-you-go

[2020-09-18 18:01] Echinaceax commented on #4741
https://www.wowhead.com/quest=13947/blastranaar

[2020-09-19 05:48] mfranca0009 commented on #4714
All fixed, savages by hexlord exit are now scripted so once the door opens they will have a 1 second delay before running towards the door.

They also cast Rend, Hamstring, and Sunder Armor. The timing seems okay, and they all get casted but it may not be perfect so, if need be, they can be adjusted later. Needs testing 👍

[2020-09-19 08:40] Echinaceax commented on #4714
confirmed fixed in PTR

- [x] The savages at the start are ok once the guardians start attacking
- [x] The savages  at the bridge after boss now attack

![conf1](https://user-images.githubusercontent.com/39439201/93670956-620d3c00-fa9f-11ea-902b-d3a6dfa1e563.jpg)

[2020-09-19 09:09] DorizarN commented on #1549
But you have to interact with the boat to make him Spawn? I've camped the place for a while now and he's not spawning.

[2020-09-19 09:13] DorizarN commented on #733
Hi,
Looks like the NPC still is inactive :(

[2020-09-19 09:17] DorizarN commented on #720
Still not workning! :(

[2020-09-19 09:17] Echinaceax commented on #1549
yes @DorizarN you have to click the boat first to activate him
look at 1:15 on the video https://www.wowhead.com/quest=26602/a-dish-best-served-huge#videos:id=51349

[2020-09-19 09:18] Echinaceax commented on #720
still not been worked on, thats why the report still open and isnt closed @DorizarN :)

[2020-09-19 09:21] Echinaceax commented on #733
yes correct - report is still open means not fixed yet

[2020-09-19 09:25] DorizarN commented on #1549
Yes i know i have to click on the boat :P Hence my comment, on this Server you can't click the boat, doesn't let u interact with it.

[2020-09-19 09:42] Echinaceax commented on #1549
Yes i know you cant click on the boat hence why the report for fix is listed here
have to wait for coders to fix it, then you will be able to click it

[2020-09-19 11:44] Echinaceax opened #4742 "[NPC] Shortstuff Maniac (Missing) - Gnome startzone"
**What is happening:**

XP Goblin missing from Gnome startzone

**What should happen:**

XP vendor should be at every startzone, to enable players to change the XP to blizzlike x1 if they wish (npc 70025)

Reported in #suggestions channel in discord

[2020-09-19 16:26] Echinaceax commented on #4596
confirmed fixed in PTR

- [x] NPCs fixed and loot chests etc...
- [x] quest completed

![completed](https://user-images.githubusercontent.com/39439201/93671719-ab608a00-faa5-11ea-9c1f-6a327283fd08.jpg)

[2020-09-19 17:09] Echinaceax opened #4743 "[NPC] Witch Doctor T'wansi (positioning) - Zul'Aman"
**Links:**
https://www.wowhead.com/npc=52925/witch-doctor-twansi

**What is happening:**
- Quest npc positioning

**What should happen:**
npc needs moving to position for quest back

[2020-09-19 19:27] Echinaceax opened #4744 "[NPC] Siame-Quashi - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=52938/siame-quashi

**What is happening:**

- Siame-Quashi need moving

**What should happen:**
should only be the one that jumps on the platform at boss in this area

[2020-09-19 21:17] Echinaceax opened #4745 "[Quest] Booty Bay's Interests - Bootybay / Zul'Gurub"
**Links:**
npc1 https://www.wowhead.com/npc=53151/overseer-blingbang
Npc2 https://www.wowhead.com/npc=2496/baron-revilgaz
Ally https://www.wowhead.com/quest=29154/booty-bays-interests
Horde https://www.wowhead.com/quest=29252/booty-bays-interests

**What is happening:**
- both Npcs offers both ally and horde quests

**What should happen:**
- as horde i should only get horde quest

**Other Informat

[2020-09-20 16:03] Echinaceax opened #4746 "[NPC] Chub<Candy & Toy Vendor> npc missing (Hallows end)"
**Links:**

npc https://cata-twinhead.twinstar.cz/?npc=53757

**What is happening:**
- vendor missing

**What should happen:**
Vendor should be at Undercity

[2020-09-20 16:26] Echinaceax opened #4747 "[Boss] Headless Horseman - 23682 - (Hallows end)"
**Links:**
Hallows end https://www.tauri-veins.tk/hallows-end-2011

boss https://cata-twinhead.twinstar.cz/?npc=23682

**What is happening:**
- need checking via DB
cant test by joining dungeon que from dev alone

**What should happen:**

- [x] should be 87 cata version
- [x] should be 365 item

(Mounts)
_The Horseman's Reins is a mount that has a chance to drop once a day from the Headless Horsem

[2020-09-20 17:17] Echinaceax opened #4748 "[Achievement] Tricks and Treats of Kalimdor - horde (Hallows end)"
**Links:**
http://cata-shoot.tauri.hu/?quest=12345

**missing candy bucket**

![candy bucket](https://user-images.githubusercontent.com/39439201/93718010-9ead6600-fb79-11ea-87fc-6300881fe6ff.jpg)

- [ ] Ashenvale, Hellscream's Watch
- [ ] Ashenvale, Silverwind Refuge
- [ ] Ashenvale, Zoram'gar Outpost
- [ ] Azshara, Bilgewater Harbor
- [ ] Desolace, Karnum's Glade
- [ ] Dustwallow Marsh, Mudsprock

[2020-09-20 17:37] Echinaceax opened #4749 "[Achievement] Tricks and Treats of Kalimdor - Ally (Hallows end)"
**Links:**
https://wowwiki.fandom.com/wiki/Tricks_and_Treats_of_Kalimdor_(Alliance)

**missing candy bucket** / **Bobby apples**
http://cata-shoot.tauri.hu/?quest=12345

![candy bucket](https://user-images.githubusercontent.com/39439201/93718024-ae2caf00-fb79-11ea-8b7d-3f5992759d8a.jpg)

- [ ] Ashenvale, Astranaar (missing bobby apples too)
- [ ] Darkshore, Lor'danel (all missing) #4757
- [ ] Darn

[2020-09-20 18:11] Echinaceax opened #4750 "[Achievement] Tricks and Treats of Outland - horde (Hallows end)"
**Links:**

https://wowwiki.fandom.com/wiki/Tricks_and_Treats_of_Outland_(Horde)
https://cata-twinhead.twinstar.cz/?achievement=968

**missing candy bucket**
http://cata-shoot.tauri.hu/?quest=12345

- [x] Blade's Edge Mountains, Evergrove
- [x] Blade's Edge Mountains, Thunderlord Stronghold
- [x] Blade's Edge Mountains, Mok'Nathal Village
- [x] Hellfire Peninsula, Thrallmar
- [x] Hellfire Peninsul

[2020-09-20 18:12] Echinaceax opened #4751 "[Achievement] Tricks and Treats of Outland - Ally (Hallows end)"
**Links:**

https://wowwiki.fandom.com/wiki/Tricks_and_Treats_of_Outland_(Alliance)

**missing candy bucket**
http://cata-shoot.tauri.hu/?quest=12345

- [ ] Blade's Edge Mountains, Evergrove
- [ ] Blade's Edge Mountains, Sylvanaar
- [ ] Blade's Edge Mountains, Toshley's Station
- [ ] Hellfire Peninsula, Honor Hold
- [ ] Hellfire Peninsula, Temple of Telhamat
- [ ] Nagrand, Telaar
- [ ] Netherstorm

[2020-09-20 18:16] Echinaceax opened #4752 "[Achievement] Tricks and Treats of Eastern Kingdoms Horde - (Hallows end)"
**Links:**
https://wowwiki.fandom.com/wiki/Tricks_and_Treats_of_Eastern_Kingdoms_(Horde)
https://cata-twinhead.twinstar.cz/?achievement=967

**missing candy bucket**
http://cata-shoot.tauri.hu/?quest=12345

- [ ] Arathi Highlands, Hammerfall
- [ ] Badlands, New Kargath
- [ ] The Cape of Stranglethorn,Booty Bay
- [ ] Eastern Plaguelands, Light's Hope Chapel
- [ ] Eversong Woods, Falconwing Square
-

[2020-09-20 18:17] Echinaceax opened #4753 "[Achievement] Tricks and Treats of Eastern Kingdoms Ally - (Hallows end)"
**Links:**
https://wowwiki.fandom.com/wiki/Tricks_and_Treats_of_Eastern_Kingdoms_(Alliance)
https://cata-twinhead.twinstar.cz/?achievement=966

**missing candy bucket**
http://cata-shoot.tauri.hu/?quest=12345

- [ ] Arathi Highlands, Hammerfall
- [ ] Badlands, New Kargath
- [ ] The Cape of Stranglethorn,Booty Bay
- [ ] Eastern Plaguelands, Light's Hope Chapel
- [ ] Eversong Woods, Falconwing Squar

[2020-09-20 18:37] Echinaceax commented on #1450
no prioity

[2020-09-20 18:37] #1450 closed

[2020-09-20 23:49] mfranca0009 commented on #1425
@Echinaceax
So what exactly is the issue with this one? When you click on an apple you obtain too many apples at once?

[2020-09-21 01:01] mfranca0009 commented on #4743
Initially not visible, becomes visible when Daakara is dead. Re-positioned by the stairs where Daakara stands. All set and needs testing 👍

[2020-09-21 06:02] mfranca0009 commented on #4744
C++ script added and will now jump up onto platform and walk towards the center once Daakara is dead. Needs testing 👍

Will delete the others once I create an SQL file for the fix.

[2020-09-21 12:30] Echinaceax commented on #1425
@mfranca0009

**u should be able to obtain 5 per bucket not 60 from one bucket.**

can stack as many as you want and its only meant to allow 5 at a time

[2020-09-21 16:17] DorizarN commented on #4432
.BQ? :)

[2020-09-21 16:30] Echinaceax commented on #4432
no sorry @DorizarN :)

only the reports with BQ command label are

![only the reports with BQ command label](https://user-images.githubusercontent.com/39439201/93794975-1a221c80-fc39-11ea-9017-a571c0c1c6a3.jpg)

Janitor isnt adding more to list now

[2020-09-21 16:48] mfranca0009 commented on #4701
All set, corrected all skinning loot tables and needs testing 👍

[2020-09-21 17:12] Echinaceax opened #4754 "[NPC] Animals no abilities - Zul'Aman"
**Links:**

- [x] Amani Bear - https://www.wowhead.com/npc=23584/amani-bear
- [x] Amani Lynx Cub https://www.wowhead.com/npc=24064/amani-lynx-cub
- [x] Amani Elder Lynx https://www.wowhead.com/npc=24530/amani-elder-lynx
- [x] Amani Crocolisk https://www.wowhead.com/npc=24047/amani-crocolisk
- [x] Tamed Amani Crocolisk https://www.wowhead.com/npc=24138/tamed-amani-crocolisk

What is happening:
none

[2020-09-21 17:22] Echinaceax opened #4755 "[NPC] Soaring Eagle - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=24858/soaring-eagle

**What is happening:**
Eagles should be moving around not just hovering :)

**What should happen:**
- need movement

[2020-09-21 17:26] Echinaceax opened #4756 "[NPC] Soaring Eagle - (issue 2) - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=24858/soaring-eagle

**What is happening:**
- low dmg

**What should happen:**
should be more that 500

**Other Information:**
![eagel dmg](https://user-images.githubusercontent.com/39439201/93800118-645acc00-fc40-11ea-9d4d-dfbfffd63ebc.jpg)

[2020-09-22 05:41] Echinaceax commented on #4701
confirmed all

Tamed Amani Crocolisk also perfect now :)

[2020-09-22 06:28] Echinaceax opened #4757 "[NPC] Innkeeper Kyteran - Darkshore - (Hallows end)"
**Links:**
https://www.wowhead.com/npc=43420/innkeeper-kyteran

**What is happening:**
- Missing "trick or treat" dialog

**What should happen:**
should have dialog for event like all the others

[2020-09-22 06:32] Echinaceax opened #4758 "[NPC] Innkeeper Kyteran - (double dialog) - Darkshore"
**Links:**

https://www.wowhead.com/npc=43420/innkeeper-kyteran

**What is happening:**
- she has two innkeeper dialogs

**What should happen:**
she should have 1 Sales window and 1 innkeeper dialog

**Other Information:**

![inkeeper ally](https://user-images.githubusercontent.com/39439201/93850336-27c5b980-fcae-11ea-937e-f5f8e2c7ba11.jpg)

[2020-09-22 06:42] Echinaceax opened #4759 "[NPC] Innkeeper Lyshaerya - Desolace - (Hallows end)"
**Links:**

https://www.wowhead.com/npc=11103/innkeeper-lyshaerya

**What is happening:**
- Missing "trick or treat" dialog

**What should happen:**
should have dialog for event like all the others

[2020-09-22 07:08] Echinaceax opened #4760 "[Achievement] A Mask for All Occasions / The Mask Task - Ally - (Hallows end)"
**Links:**

1. https://www.wowhead.com/achievement=979/the-mask-task
2. https://www.wowhead.com/achievement=284/a-mask-for-all-occasions

**not giving credit**

- [x] Dwarf Male Mask https://www.wowhead.com/item=20561/dwarf-male-mask
- [x] Dwarf Female Mask https://www.wowhead.com/item=20562/dwarf-female-mask
- [ ]
- [x] Night Elf Female Mask https://www.wowhead.com/item=20563/night-elf-female-mas

[2020-09-23 04:20] Echinaceax opened #4761 "[NPC] Orc Commoner -19175- missing) - (Hallows end)"
**Links:**

https://www.wowhead.com/npc=19175/orc-commoner#starts

**What is happening:**
- npc missing when event is active

**What should happen:**
need adding

**Is it crashing the server?:**

**Other Information:**
needed for quest pickup and deliveries

https://www.wowhead.com/quest=29400/a-season-for-celebration
https://www.wowhead.com/quest=11357/masked-orphan-matron
https://www.wowhead.com

[2020-09-23 04:34] Echinaceax opened #4762 "[NPC] Human Commoner -18927- missing - (Hallows end)"
**Links:**

https://www.wowhead.com/npc=18927/human-commoner

**What is happening:**
- npc missing when event is active

**What should happen:**
needs adding

**Other Information:**
needed for quest pickup and deliveries

https://www.wowhead.com/quest=29074/a-season-for-celebration
https://www.wowhead.com/quest=11356/costumed-orphan-matron

[2020-09-23 04:40] Echinaceax opened #4763 "[NPC] Costumed Orphan Matron -24519- missing (Hallows end)"
**Links:**

https://www.wowhead.com/npc=24519/costumed-orphan-matron

**What is happening:**
- npc missing from  Elwynn Forest , Dun Morogh
one active in Azuremyst Isle atm

**What should happen:**

**Is it crashing the server?:**

**Other Information:**
needed for quests

https://www.wowhead.com/quest=12135/let-the-fires-come
https://www.wowhead.com/quest=11131/stop-the-fires
https://www.wowhead.

[2020-09-23 04:51] Echinaceax opened #4764 "[Item] Tooth Pick - (Hallows end)"
**Links:**

https://www.wowhead.com/item=37604/tooth-pick#contained-in-item

**What is happening:**
- drop rate
dropping to often

**What should happen:**
lower drop rate

contained in 11% https://www.wowhead.com/item=37604/tooth-pick#contained-in-item
contained in 2% https://cata-twinhead.twinstar.cz/?item=20393

one of the hardest achvs to get :)

**Other Information:**
![tooth picks](https://us

[2020-09-23 11:16] Echinaceax commented on #1436
### Update on this

from live client 1.1.0
event times are messed up / calender

Darkmoon never comes on when calender says (GM has to activate manually each month)

MANY Events are still broken, so no rush to fix timer :)

[2020-09-23 11:21] Echinaceax commented on #1425
### new patch info

![stacks 20](https://user-images.githubusercontent.com/39439201/94006101-9fbfdc80-fd9f-11ea-97e5-2c976dced37e.jpg)

 Patch 4.2.2 (2011-08-30): **Stats changed** and **stacks up to 20**.
Stats are low too

1. click apple gives 5 apples
so you can click 4 times to get your 1 stack = 20 apples

ATM you can carry as many as you want (should only allow 1 stack of 20

[2020-09-23 12:00] Echinaceax opened #4765 "[NPC] Gretchen Fenlow missing - (Hallows end)"
**Links:**

https://www.wowhead.com/npc=51934/gretchen-fenlow
**What is happening:**
- npc missing

**What should happen:**
needs adding

**Other Information:**
needed for quests and achiev

https://www.wowhead.com/quest=29054/stink-bombs-away
https://www.wowhead.com/quest=29144/clean-up-in-stormwind
https://www.wowhead.com/quest=29075/a-time-to-gain
https://www.wowhead.com/quest=29371/a-time-to-l

[2020-09-24 00:11] Echinaceax opened #4766 "[Transmog] Warglaive of Azzinoth"
**Links:**

http://cata.cavernoftime.com/item=32837

**What is happening:**
- not working for xmog
_legendary weapons cannot be xmorg error message_

**What should happen:**
should be able to use for xmog like Mania

[2020-09-25 09:48] #233 closed

[2020-09-25 09:48] #940 closed

[2020-09-25 09:48] #4199 closed

[2020-09-25 09:48] #4299 closed

[2020-09-25 09:48] #4586 closed, assigned to mfranca0009

[2020-09-25 09:48] #4594 closed, assigned to mfranca0009

[2020-09-25 09:48] #4595 closed, assigned to mfranca0009

[2020-09-25 09:48] #4596 closed, assigned to mfranca0009

[2020-09-25 09:48] #4663 closed, assigned to mfranca0009

[2020-09-25 09:48] #4667 closed, assigned to mfranca0009

[2020-09-25 09:48] #4701 closed, assigned to mfranca0009

[2020-09-25 09:48] #4714 closed, assigned to mfranca0009

[2020-09-25 09:48] #4716 closed, assigned to mfranca0009

[2020-09-25 09:48] #4718 closed, assigned to mfranca0009

[2020-09-25 09:48] #4719 closed, assigned to mfranca0009

[2020-09-25 09:48] #4720 closed, assigned to mfranca0009

[2020-09-25 09:48] #4721 closed, assigned to mfranca0009

[2020-09-25 09:48] #4722 closed, assigned to mfranca0009

[2020-09-25 09:48] #4724 closed, assigned to mfranca0009

[2020-09-25 09:48] #4726 closed, assigned to mfranca0009

[2020-09-25 09:48] #4727 closed, assigned to mfranca0009

[2020-09-25 09:48] #4743 closed, assigned to mfranca0009

[2020-09-25 09:48] #4744 closed, assigned to mfranca0009

[2020-09-26 08:49] Echinaceax commented on #4761
Update
Seen these active on live just now (event active wrong time tho)

[2020-09-26 10:14] almoghr opened #4767 "[Quest] Patching Up - Borean Tundra"
**Links:**

https://www.wowhead.com/quest=11894/patching-up

**What is happening:**

i get 5 hides and need to make them to a cured hide with a steam vent. there is no steam vent to mark and to work with

**What should happen:**
steam vents should work and make cured hides

**Is it crashing the server?:**
no

[2020-09-26 10:15] almoghr opened #4768 "[Quest] Hampering Their Escape - Borean Tundra"
**Links:**

https://www.wowhead.com/quest=11617/hampering-their-escape

**What is happening:**

i gather grenades from mobs and there is nothing to mark so i can throw at the platform

**What should happen:**
the platform should be marked somehow

**Is it crashing the server?:**
no

[2020-09-26 12:22] Echinaceax commented on #4199
Live is also fixed
If you havent got the upgrade = these are only pets, they become venders once you meet the requirements :)

[2020-09-27 10:36] Echinaceax commented on #2103
Missing a lot of gold and guild rep

![missing guild gold and rep](https://user-images.githubusercontent.com/39439201/94362806-1883a900-00be-11eb-9f5b-fc86d7fc525d.jpg)

[2020-09-27 18:26] Echinaceax opened #4769 "[NPC] Amani'shi Lookout - Zul'Aman"
**Links:**
https://wow.gamepedia.com/Amani%27shi_Lookout
https://www.wowhead.com/npc=24175/amanishi-lookout

**What is happening:**
- not alerting other mobs like they are meant too

**What should happen:**
they are meant to alert others by running to gong/drum

[2020-09-27 18:42] Echinaceax opened #4770 "[Boss] Halazzi - (missing some scripting) - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=23577/halazzi
https://wow.gamepedia.com/Halazzi_(tactics)

**What is happening:**
- Not functioning as he should

**What should happen:**
- needs scripting

[2020-09-27 20:37] mfranca0009 commented on #4664
Currently, Nalorakk's four waves have been scripted so far.

All that's left now is his actual boss events, they should be done shortly.

[2020-10-05 17:10] Echinaceax opened #4771 "[Daily /Quests ] Therazane Daily Quests - Deepholm"
**Links:**
https://wowwiki.fandom.com/wiki/Therazane_(faction)
https://www.wowhead.com/news=178964/cataclysm-daily-quests-therazane
npc https://www.wowhead.com/npc=43804/gorsik-the-tumultuous

**What is happening:**
-  Dailies are showing but not clickable
_Reported by an ingame player, player has (!) above but cant click on it at (friendly rep)_

**What should happen:**
According to the link GM g

[2020-10-05 20:29] Echinaceax opened #4772 "[Battleground] Quest: Bite them hard - Dalaran"
### Adding by Rushor

**Links:**

https://gyazo.com/537186b92e43d552ba129151f8e27a5f
https://i.imgur.com/iLNnFbY.png

https://www.wowhead.com/npc=32664/segacedi

Rushor added a daily BG Quest to this creature.
If you win a random battleground, you can reward the quest and get 5 Maniac points.
It's a daily quest, so it can be done only 1 time a day.

**Other Information:**
Added on next server upda

[2020-10-07 16:08] Echinaceax commented on #4198
Need rechecking @Rushor Still not dropping and ive fished her for a while

[2020-10-07 19:17] Echinaceax opened #4773 "[Battleground] - Bite them harder - Random BG"
### Adding also by Rushor soon

https://i.imgur.com/ux9kbn1.png https://i.imgur.com/Bb1vN5M.png https://i.imgur.com/qVxkJ7t.jpg https://i.imgur.com/9Atuvbk.png

Winning 3 random battlegrounds - then you will get the little baby shark.

https://www.wowhead.com/item=21168/baby-shark

[2020-10-08 06:42] Echinaceax opened #4774 "[Quest] Battlezone - ID 27990 - Uldum"
**Links:**

https://www.wowhead.com/quest=27990/battlezone
npc https://www.wowhead.com/npc=47546/decrepit-watcher

**What is happening:**
- Cant enter the siege tank turrets
- No Decrepit Watchers to kill
- after completing via GM help, cant deliver

**What should happen:**
_Commander Schnottz wants you to man one of the siege tank turrets and use it to defeat 7 Decrepit Watchers, then report back

[2020-10-08 09:18] Chargelol opened #4775 "[Quest] All That Skitters ID 26310 Horde"
**Links:**
quest
https://www.wowhead.com/quest=26310/all-that-skitters
video
https://www.youtube.com/watch?v=5j1ZY7scHl4

**What is happening:**
u cant collect the spiders u can only attack them ;)

**What should happen:**
u shoud be able to collect the spiders
**Is it crashing the server?:**
no

[2020-10-09 16:14] Echinaceax opened #4776 "[Random Battleground] SoTA + AV + IoC"
### Rushor removed on mania

needs removing here too

All those 3 battlegrounds are removed from Random BG selection for now, since those bgs require way too many people and stay too long

note
SoTa is still bugged https://github.com/WoWManiaUK/Blackwing-Lair/issues/896

[2020-10-14 20:28] HrafnValknutt opened #4777 "[profession] Herbalism 1-70"
**Link**
https://www.wow-professions.com/farming-guides
1-70 https://www.wow-professions.com/guides/vanilla-herbalism-leveling

 **Durotar**
- [x] Silverleaf
- [x] Peacebloom
- [x] Earthroot

**Mulgore**
- [x] Silverleaf
- [x] Peacebloom
- [x] Earthroot

**Tirisfal Glades**
- [x] Silverleaf
- [x] Peacebloom
- [x] Earthroot
arthroot
 **Elwynn Forest**
- [x] Silverleaf
- [x] Peacebloom
- [x] Earthro

[2020-10-14 20:34] HrafnValknutt opened #4778 "[profession] Mining full zone report"
**Link**
https://www.wow-professions.com/farming-guides

**Durotar**
- [x] Copper Ore

**Northern Barrens**
- [x] Copper Ore

**Mulgore**
- [x] Copper Ore

**Tirisfal Glades**
- [x] Copper Ore

**Stonetalon Mountains**
- [x] Copper Ore
- [x] Tin Ore

**Ashenvale**
- [x] Copper Ore
- [x] Tin Ore

**Silverpine Forest**
- [x] Copper Ore
- [x] Tin Ore

**Hillsbrad Foothills**
- [x] Tin Ore
- [x] Silve

[2020-10-14 23:07] HrafnValknutt commented on #4777
Elwynn Forest:
missing Earthroot nodes ID 2449

map
https://www.wow-professions.com/images/herbalism_maps/elwynn-forest-herbalism-map.jpg

[2020-10-15 02:32] HrafnValknutt commented on #4775
You can loot the spiders for quest item. :)

"Cant reproduce"

[2020-10-15 04:29] #4775 closed, assigned to HrafnValknutt

[2020-10-15 12:20] HrafnValknutt commented on #4778
Bloodmyst Isle: missing Copper ID 1731 Tin ID 1732

Blood Elf starting zones (Eversong Woods and Ghostlands) have extremely low nodes on them.

[2020-10-15 18:45] HrafnValknutt commented on #4768
It is working. Just need to be on the platforms.

[2020-10-15 19:05] #4768 closed, assigned to nobody

[2020-10-15 19:10] HrafnValknutt opened #4779 "[profession] Mining full zone report 2"
**Link**
https://www.wow-professions.com/farming-guides

 _**Kalimdor**_

**Azshara**

- [x] Copper Ore

**Southern Barrens**

- [x] Iron Ore

**Desolace**

- [x] Iron Ore
- [x] Gold Ore

**Feralas**

- [x] Iron Ore
- [x] Gold Ore

**Dustwallow Marsh**

- [x] Iron Ore
- [x] Truesilver Ore
- [x] Mithril Ore (Extremely Rare)

**Thousand Needles**

- [x] Mithril Ore
- [x] Iron Ore
- [x] Tin Ore
- [x]

[2020-10-15 19:43] Echinaceax opened #4780 "[Item] Stormchops"
**Links:**

recipe https://www.wowhead.com/item=33871/recipe-stormchops#teaches-recipe
food buff  https://www.wowhead.com/spell=43758/stormchops

**What is happening:**
- the food buff goes on player and the target
- Dmg low

**What should happen:**
- Should only go on the player that eats it
- dmg none known atm but sure me more than 21-31 :)

**Other Information:**
![buff on both](https://user-i

[2020-10-15 20:56] Echinaceax commented on #4780
testing it on live ...update soon

[2020-10-16 08:53] Echinaceax commented on #4779
@mfranca0009 https://www.wow-professions.com/farming/mithril-ore-farming
note: best places for mithril is Burning Steppes, Badlands, and felwood
https://www.wow-professions.com/farming/mithril-ore-farming

[2020-10-16 08:57] Echinaceax commented on #4779
@mfranca0009
with all ore guides it states the best zones etc...
eventually need all zones doing (maybe we can pull the low ore from Maina) ?

[2020-10-16 08:58] Echinaceax commented on #4777
@mfranca0009
with all herb guides it states the best zones etc...
eventually need all zones doing (maybe we can pull the low herb from Maina) ?

other reports here, i will close them and add them here
[Profession] Duskwood - Herbalism #4699
[Profession] Arathi Highlands - Herbalism #4349
[Profession] Scarcity of herbalism nodes #4228

[2020-10-16 09:01] Echinaceax commented on #4699
reported on main reports thanks @rzenne

[2020-10-16 09:01] #4699 closed, assigned to nobody

[2020-10-16 09:02] Echinaceax commented on #4349
adding to main herb report

[2020-10-16 09:02] #4349 closed

[2020-10-16 09:03] Echinaceax commented on #4228
adding to main herb reports

[2020-10-16 09:03] #4228 closed

[2020-10-16 13:55] HrafnValknutt opened #4781 "[profession] Mining full zone report 3"
**Link**
https://www.wow-professions.com/farming-guides
https://wowwiki.fandom.com/wiki/List_of_ore_by_zone

 _**Eastern Kingdoms**_

**Western Plaguelands**

- [x] Iron ore
- [x] Gold ore

**Eastern Plaguelands**

- [x] Iron ore
- [x] Gold ore
- [x] Mithril ore
- [x] Truesilver ore

**Hinterlands**

- [x] Tin ore
- [x] Silver ore
- [x] Iron ore
- [x] Gold ore
- [x] Truesilver ore
- [x] Thorium or

[2020-10-17 09:47] Echinaceax opened #4782 "[Quest] Mr. Goldmine's Wild Ride - Twilight Highlands"
**Links:**

quest - https://www.wowhead.com/quest=28885/mr-goldmines-wild-ride
npc - https://www.wowhead.com/npc=46243/initiate-goldmine

**What is happening:**
- When player accepts the quest there is not dialog to speak to him again to get your mining cart

**What should happen:**
_Ride the mine cart with Initiate Goldmine to the end of the line._
https://www.wowhead.com/quest=28885/mr-goldmines

[2020-10-17 11:11] Echinaceax opened #4783 "[Item] Loot-Filled Pumpkin - Hallows end"
**Links:**

Cata version loot table https://cata-twinhead.twinstar.cz/?item=54516

Daily RDF

![pumpkin reward](https://user-images.githubusercontent.com/39439201/96336940-463b8c80-1083-11eb-8f54-595fbfa71fc3.jpg)

**What is happening:**
- the loot lvl for gear is lvl 70
- ilvl is 115

**What should happen:**
- should be lvl 85 loot
- ilvl should be 365
- 24 justice points

**Other Information:**

[2020-10-17 11:40] Echinaceax commented on #4783
note: ive reported this too as its the loot from the dung https://github.com/WoWManiaUK/Blackwing-Lair/issues/4783

[2020-10-17 11:41] Echinaceax commented on #4747
note: ive reported this too as its the loot from the dung https://github.com/WoWManiaUK/Blackwing-Lair/issues/4783

[2020-10-17 14:14] Echinaceax opened #4784 "[NPC] Frostsworn General - Halls of Reflection"
**Links:**
https://www.wowhead.com/halls-of-reflection

https://www.wowhead.com/npc=36723/frostsworn-general

**What is happening:**
- once you have completed the phase and killed **Falric** and **Marwyn** the npc Frostsworn General is not visible to players, and players instantly wipe.

- tested on PTR npc visible with GM on only

**What should happen:**
NPC needs to be visable for players :)

**

[2020-10-17 14:50] mfranca0009 commented on #4783
Adjusted loot to proper loot table 👍  needs testing

Added 24 justice points to the dungeon finder quest related to Headless Horseman holiday dungeon.

[2020-10-17 14:54] mfranca0009 commented on #4747
Adjusted loot table and made change to NPC level from 80 to 87 👍  Needs testing

[2020-10-17 23:32] Echinaceax opened #4785 "[Quest] The Headless Horseman Pumpkin Shrine - Hallows end"
**Links:**

https://www.wowhead.com/quest=11220/the-headless-horseman

**What is happening:**
- cant start the event
- cant click on dialog

**What should happen:**
clicking on dialog should start the event for each player

Extra info
something to do with not being able to click the soil too coz we need to click the dialog first
https://www.wowhead.com/quest=11405/call-the-headless-horseman

Video

[2020-10-18 08:53] HrafnValknutt opened #4786 "[profession] Mining full zone report 4"
**Link**
https://www.wow-professions.com/farming-guides
https://wowwiki.fandom.com/wiki/List_of_ore_by_zone

 _**Outland**_

**Hellfire Peninsula**

- [x] Fel Iron Ore

**Zangarmarsh**

- [x] Fel Iron Ore
- [x] Adamantite Ore
- [x] Khorium Ore

**Terrokar Forest**

- [x] Fel Iron Ore
- [x] Adamantite Ore
- [x] Khorium Ore

**Nagrand**

- [x] Fel Iron Ore
- [x] Adamantite Ore
- [x] Khorium Ore

**B

[2020-10-18 09:23] Echinaceax opened #4787 "[NPC] Jacob Maniac (Profession Booster) - Mall"
**What is happening:**
- Npc is missing the confirmation funtion

**What should happen:**
professions should have a confirmation funtion

"Are you sure you want ....blah blah"

**instead what happens is**

1. Click on the profession you want and blam instant learn with no confirmation message at all

![click and bam](https://user-images.githubusercontent.com/39439201/96363381-46479500-1134-11eb-81

[2020-10-18 09:57] Echinaceax commented on #4786
Tester confirms all is ok in Outland

[2020-10-18 09:57] #4786 closed, assigned to HrafnValknutt

[2020-10-18 11:31] HrafnValknutt opened #4788 "[profession] Mining full zone report 5"
**Link**
https://www.wow-professions.com/farming-guides
https://wowwiki.fandom.com/wiki/List_of_ore_by_zone

 _**Nothrend**_

**Borean Tundra**

- [x] Cobalt Ore

**Howling Fjord**

- [x] Cobalt Ore

**Dragonblight**

- [x] Cobalt Ore
- [x] SaroniteOre
- [x] Titanium Ore

**Grizzly Hills**

- [x] Cobalt Ore
- [x] SaroniteOre

**Zul'Drak**

- [x] Cobalt Ore
- [x] SaroniteOre

**Sholazar Basin**

-

[2020-10-18 17:05] HrafnValknutt opened #4789 "[profession] Mining full zone report 6"
**Link**
https://www.wow-professions.com/farming-guides
https://wowwiki.fandom.com/wiki/List_of_ore_by_zone

**Mount Hyjal**

- [x] Obsidium Ore

**Vashj'ir**

- [x] Obsidium Ore

[2020-10-18 20:19] almoghr opened #4790 "[Quest] runecloth - Felwood"
**Links:**

from WoWHead or our Armory

**What is happening:**
i gather 30 runecloth in the cave that links felwood and winterspring. im honored with the timebermaw hold and yet i cant give in the quest at all.. the question mark is yellow above the npc and nothing

**What should happen:**
quest should be completed:D

**Is it crashing the server?:**
no
**Other Information:**

[2020-10-18 20:31] Echinaceax commented on #4790
quest https://classic.wowhead.com/quest=6031/runecloth
npc https://classic.wowhead.com/npc=11557/meilosh

[2020-10-19 08:42] jgilbert201 opened #4791 "[NPC] Hegrid Blazewing - Deepholm"
Hegrid Blazewing is supposed to be a general goods vendor in deepholme @65,81.

You can only speak to her, not browse goods.

[2020-10-19 08:54] jgilbert201 commented on #2771
This issue isn't fixed, The Matriarch comes down, but the second you attack her, she flies off. She also doesn't target you or attack.

[2020-10-19 09:34] Echinaceax commented on #4791
NPC - https://www.wowhead.com/npc=45361/hegrid-blazewing

[2020-10-19 09:39] Echinaceax commented on #4789
_Vashj'ir - Shimmering Expanse
Shimmering Expanse is my favorite place for farming Obsidium. This route is just so easy to follow and the respawn rate is fast enough to farm here without waiting for the ores to respawn._

![Vash shimm](https://user-images.githubusercontent.com/39439201/96428154-b8d17700-11ff-11eb-9a63-4b8ff2a34099.jpg)

_Vashj'ir - Abyssal Depths
If you can't farm at Shimmering Ex

[2020-10-19 10:05] Echinaceax commented on #2771
ive done this a few times @flubbacrud and was fine for me

on my mage and priest

ive spoken to Valk, he informs me your all sorted for now :)

[2020-10-19 10:20] jgilbert201 commented on #2771
So this was the first of the quest, that is slightly bugged. On this one, if you don't melee the NPC first and open with Vamparic touch, she disengages and flies away, Likewise for https://www.wowhead.com/quest=26876/the-world-pillar-fragment.

On https://www.wowhead.com/quest=26876/the-world-pillar-fragment she seems to disengage half way through as an SPriest. Tried it 5 times and each time she

[2020-10-19 10:23] HrafnValknutt commented on #4789
Yes, the zone map is correct.

[2020-10-19 10:24] #4789 closed, assigned to HrafnValknutt

[2020-10-19 10:33] Echinaceax commented on #2771
Ah you see i use instant casting with my spriest first (sometimes i dont use Vamparic touch)
so seems that there is a timer set somewhere that gives you a pre timer on the first hit/dmg

@mfranca0009
can you check if there is a timer requirement is script please ?

[2020-10-19 10:43] Echinaceax commented on #2771
Hang fire @mfranca0009 😄
going to retest it on PTR and see if i can reproduce regression on this report

i have to info from flubbacrud, so i'll update this soon

### Update

Both Me and Valk just tested this

**On priest**

- 1. Vampiric touch has a 1:26 cast time (which bugs Matriarch and he flies away)
- 2. I used Devouring plague and Shadow word pain (and worked fine)

**Valknut on Warrior**
1

[2020-10-19 15:56] Echinaceax opened #4792 "[Dungeon] Akil'zon (hc) - (Horde) - Zul'Aman"
**What is happening:**
done 2 runs on horde and seems to be a few issues

- cant loot boss
- cant free captives

**What should happen:**
should work same as ally fix

**side note**: we had 4 horde guildies and 1 ally in group

[2020-10-20 11:39] mfranca0009 commented on #4792
Tested on live with Echi and Zinius, captives work as long as the timer doesn't run out and they despawn (get sacrificed).

Akil'zon's loot functions, but will need to double check because he only dropped gold with no gear.

[2020-10-20 17:28] Echinaceax opened #4793 "[NPC] imprisoned worker - Tol Barad"
**Links**
npc https://www.wowhead.com/npc=47550/imprisoned-worker
wrong quest ovjective https://www.wowhead.com/quest=28670/food-from-below

![imprisoned worker](https://user-images.githubusercontent.com/39439201/96622593-6fba1980-130a-11eb-915c-2fc568bcaa1b.jpg)

**What is happening:**
- these npc have wrong script and not working for it either
- They are showing wrong quest objective on mouseove

[2020-10-20 18:26] Echinaceax opened #4794 "[Dungeon] Sacrifice Timer - Zul'Aman"
**What is happening:**
- Sacrifice Timer is not adding extra time bonus after killing bosses

**What should happen:**
extra timer should be added after killing each boss

**Other Information:**
this issue is stoping players from completing the quest https://github.com/WoWManiaUK/Blackwing-Lair/issues/4596

[2020-10-20 21:40] mfranca0009 commented on #4664
Events and abilities should be functioning properly for Nalorakk now 👍

[2020-10-20 21:43] mfranca0009 commented on #4754
Lynx Cub and Elder Lynx (#4721 and #4722) have been fixed. Rest need to be done still though.

[2020-10-20 23:40] Echinaceax commented on #4664
confirmed fix in PTR

[2020-10-21 10:37] Echinaceax commented on #4747
note: cant test until this is fixed as we cant start the event unless we temp spawn him to test @mfranca0009
 https://github.com/WoWManiaUK/Blackwing-Lair/issues/4785

### Update:
I temp spawned him in brill

- [x] Lvl 87

![hh 87](https://user-images.githubusercontent.com/39439201/96709850-88bedb00-139b-11eb-8d0f-9f84077255e5.jpg)

- [x] kill achv

![achv hh](https://user-images.githubusercontent

[2020-10-22 16:15] HrafnValknutt opened #4795 "[profession] Herbalism full zone report"
**Link**
https://www.wow-professions.com/farming-guides
https://wowwiki.fandom.com/wiki/Herbs_by_area

_**Eastern Kingdoms**_

**Western Plaguelands**

- [x] Stranglekelp
- [x] Kingsblood
- [x] Liferoot
- [x] Fadeleaf
- [x] Khadgar's Whisker
- [x] Arthas' Tears

**Eastern Plaguelands**

- [x] Liferoot
- [x] Khadgar's Whisker
- [x] Arthas' Tears
- [x] Sungrass
- [x] Black Lotus (needs a 60-70 minut

[2020-10-22 16:30] HrafnValknutt opened #4796 "[profession] Herbalism full zone report 2"
**Link**
https://www.wow-professions.com/farming-guides
https://wowwiki.fandom.com/wiki/Herbs_by_area

 _**Kalimdor**_

**Azshara**

- [x] Peacebloom
- [x] Earthroot
- [x] Mageroyal
- [x] Briarthorn

**Southern Barrens**

- [x] Kingsblood
- [x] Liferoot
- [x] Khadgar's Whisker
- [x] Sungrass

**Desolace**

- [x] Wild Steelbloom
- [x] Kingsblood
- [x] Liferoot
- [x] Goldthorn
- [x] Khadgar's Whiske

[2020-10-22 16:34] Echinaceax commented on #4788
**Fixed in PTR**

Added Saronite Deposit - Sholazar Basin, Ice crown (PTR)
Added Titanium vein - Sholazar Basin, Ice crown (PTR)
Added Cobalt Deposit - Zul'Drak, Crystalsong, Stormpeaks (PTR)

[2020-10-23 11:19] Echinaceax commented on #4781
**Twilight Highlands**
_Just for information: PYRITE SHARES SPAWN TIMES WITH ELEMENTIUM! So if you mined Pyrite, next time you go there, it may be Elementium. :)_

16 spawns here atm
![pyrite](https://user-images.githubusercontent.com/39439201/96997749-a2465b00-1532-11eb-9b49-711ab37330bc.jpg)

so no need to add more notes for these zones really atm

[2020-10-23 11:22] #4781 closed, assigned to HrafnValknutt

[2020-10-23 12:16] Echinaceax commented on #4779
**Fixed in PTR** @mfranca0009

**The Hinterlands**
Added Mithril Ore ID (2040)

**Winterspring**
Added Mithril Ore ID (2040)

**Un'Goro Crater**
Added Mithril Ore ID (2040)

note:
Seems since the flood in Cata there are more Mithril Ore in Thousand needles and no Tin vein, need a Cata Gathering info really to see if Tin are meant to be in Thousand needles and other zones that changed with Cata

ti

[2020-10-23 14:24] Echinaceax commented on #2103
### Update

This is really messed up because i checked the guild achv and we are getting some, not sure when tho,
will have to keep an eye on these Achv (these could be before this broke)
coz we have done way more than 15 guild runs

![guild  dung chall](https://user-images.githubusercontent.com/39439201/97015732-37a21900-154c-11eb-8493-20a08d6177cb.jpg)
![guild  dung chal2l](https://user-images.g

[2020-10-23 16:14] Blametheheal opened #4797 "Quest "Containment" - Violet Hold"
**Links:**https://www.wowhead.com/quest=29830/containment

Upon completing the quest the Questgiver won't talk to you to turn in the quest.

Should be able to turn in quest at Lieutenant Sinclari in the Violet Hold,

Not crashing the Server.

[2020-10-23 16:17] Echinaceax commented on #4797
npc https://www.wowhead.com/npc=30658/lieutenant-sinclari

can confirm cant hand quest back

[2020-10-24 10:42] HrafnValknutt commented on #4779
Fix in Dev confirmed.

[2020-10-24 16:42] Echinaceax commented on #4795
**Fixed in dev**  @mfranca0009

**Western Plaguelands**
Added Arthas' Tears ID 142141

**Eastern Plaguelands**
Added Arthas' Tears ID 142141
Added Black Lotus ID 176589

**Hinterlands**
Added Khadgar's Whisker ID 2043

**Wetlands**
Added Briarthorn ID 1621
Added Bruiseweed ID 1622
Added Grave Moss ID 1628
Added Wild Steelbloom ID 1623

[2020-10-24 17:28] almoghr opened #4798 "[Quest] seeking soil - Felwood"
**Links:**

from WoWHead or our Armory

**What is happening:**
 cant get on the protector and procced with the quest

**What should happen:**
i need to get on the protector and do the quest. cant do that.

[2020-10-24 17:32] Echinaceax commented on #4798
Quest https://www.wowhead.com/quest=28220/seeking-soil

Video https://www.wowhead.com/quest=28220/seeking-soil#videos:id=82386

[2020-10-24 19:01] HrafnValknutt commented on #4795
Fix in Dev confirmed.

[2020-10-24 21:17] mfranca0009 commented on #4795
@HrafnValknutt Have not put together SQL file for it yet, so another test after I do this will need to be completed.

[2020-10-24 23:27] Echinaceax commented on #4468
Update

Arcane Crystals are not prospected, They are the only gem that are only from mining nodes (rich thorium/small thorium)

![arcane crystal dropped](https://user-images.githubusercontent.com/39439201/97096012-91970180-1666-11eb-9da3-532237825fe9.jpg)

[2020-10-24 23:28] #4468 closed, assigned to nobody

[2020-10-24 23:55] Echinaceax opened #4799 "[NPC] Stone Guardian (not mineable)"
**Links:**

https://www.wowhead.com/npc=6560/stone-guardian#mining

**What is happening:**
- cant be mined

**What should happen:**
Should be able to mine them

[2020-10-25 01:12] mfranca0009 opened #4800 "[Quest][Netherstorm] Getting Down to Business"
**Links:**

**QUEST:** https://www.wowhead.com/quest=10271/getting-down-to-business

**What is happening:**
The effect works when targeting a drake, when not in combat, but it doesn't give quest credit. You need to obtain 8 netherwing essences

**What should happen:**
Should get quest credit for netherwing essence once casting this spell on drake or whelp. The spell effect visual is there collecti

[2020-10-25 01:14] mfranca0009 opened #4801 "[NPC] [Netherstorm] Withered Corpse"
**Links:**

**NPC:** https://www.wowhead.com/npc=20561/withered-corpse
**Quest:** https://www.wowhead.com/quest=10345/the-flesh-lies

**What is happening:**
Withered corpse is an objective NPC for quest `The Flesh Lies` where you are suppose to burn the corpses. The Withered Corpses however show up dead AND are still attackable.

**What should happen:**
The corpses should show up dead, but you sho

[2020-10-25 01:41] HrafnValknutt commented on #4795
Fix in Dev double confirmed. :)

[2020-10-25 14:40] HrafnValknutt opened #4802 "[profession] Herbalism full zone report 3"
**Link**
https://www.wow-professions.com/farming-guides
https://wowwiki.fandom.com/wiki/Herbs_by_area

 _**Outland**_

**Hellfire Peninsula**

- [x] Golden Sansam
- [x] Dreamfoil
- [x] Mountain Silversage
- [x] Felweed
- [x] Dreaming Glory

**Zangarmarsh**

- [x] Blindweed
- [x] Ghost Mushroom
- [x] Golden Sansam
- [x] Dreamfoil
- [x] Felweed
- [x] Dreaming Glory
- [x] Ragveil
- [x] Flame Cap

**T

[2020-10-26 04:17] Nerwen83 opened #4803 "Visions of the Past: The Invasion of Vashj'ir"
**Links:**
https://www.youtube.com/watch?v=UIx5NaaTvvI&ab_channel=Watch%2FTeach%2FPlay

https://www.wowhead.com/quest=25760/visions-of-the-past-the-invasion-of-vashjir
**What is happening:**

**What should happen:**
Can´t use the Item and no npc spawn

**Is it crashing the server?:**
No
**Other Information:**

[2020-10-26 06:29] Nerwen83 opened #4804 "[Twilight Extermination]"
**Links:**
https://www.youtube.com/watch?v=55xGT4ferGw&ab_channel=CataQuests
https://www.wowhead.com/quest=26154/twilight-extermination

**What is happening:**
i have no control and no credit "Bound torrent"

**Is it crashing the server?:**
No
**Other Information:**
the 50 NPC´s and the other 3 kills works but not normal

[2020-10-26 13:45] Echinaceax opened #4805 "[Quest/item] Crusader's Torch - Eastern Plaguelands"
**Links:**
Quest item https://www.wowhead.com/item=61369/crusaders-torch
Quest https://www.wowhead.com/quest=27528/scourged-mass

**What is happening:**
- Quest item puts the flames on player and not the corpses

**What should happen:**
_Kill 8 Overstuffed Golems, then use the Crusader's Torch on their corpses._

Reported to GM ingame

[2020-10-26 13:55] Echinaceax commented on #3985
Main issues isnt fixed :)

- The npc is in the wall and you cant interact with it
- /target works to locate him, but cant open his trade window

[2020-10-26 14:01] jgilbert201 opened #4806 "[NPC] Agatian Fallanos <Shard Trader>"
**Links:**
https://www.wowhead.com/npc=50146/agatian-fallanos

**What is happening:**
NPC Location - 76.6, 49.4
NPC should sell the following recipe - Formula: Runed Elementium Rod - https://cata-twinhead.twinstar.cz/?npc=50146
The NPC does not sell it. Also the NPC's position, as well as all the NPC's positions in this build are wrong. Some are halfway up the wall....

**What should happen:**

NP

[2020-10-26 14:05] jgilbert201 opened #4807 "[Spell] Blood Frenzy"
**Links:**

https://wowwiki.fandom.com/wiki/Blood_Frenzy

**What is happening:**
Blood Frenzy is an arms talent for a warrior. Once this procs on a player, it never gets removed.

**What should happen:**

If the Arms warrior dies or the receiving target dies, the spell should be removed from the receiving target. I'd say it probably removes when the victim dies, but i'm yet to die, however when th

[2020-10-26 14:58] Echinaceax commented on #4806
thanks @flubbacrud
have you checked the vendor in Orgimmar ?
http://cata.cavernoftime.com/npc=3346

i just checked Stormwind for ally

![ally does](https://user-images.githubusercontent.com/39439201/97190004-88607e80-17a5-11eb-8bf5-153d49ecaace.jpg)

[2020-10-26 22:41] jgilbert201 commented on #4806
Confirmed Orgrimmar NPC has this item.

[2020-10-27 09:38] Echinaceax commented on #4803
Quest item https://www.wowhead.com/item=55171/blade-of-the-nazjar-battlemaiden

[2020-10-27 12:17] Azkard opened #4808 "[Quest] We're Under Attack!"
**Links:**
https://www.wowhead.com/quest=27857/were-under-attack

**What is happening:**
Marshtide Invaders don't spawn or exist.

**What should happen:**
They should spawn and attack Stonard base.

**Is it crashing the server?:**
No
**Other Information:**

[2020-10-27 13:47] Echinaceax commented on #4796
@mfranca0009

Desolace
Added Liferoot ID 2041

Feralas
Added Goldthorn ID 2046

Dustwallow Marsh
Added Stranglekelp ID 2045

Winterspring
Black Lotus

[2020-10-27 13:50] Echinaceax commented on #4808
Confirmed missing

![confirmed1](https://user-images.githubusercontent.com/39439201/97310621-b5736680-1863-11eb-82b3-1e4ea2d1d216.jpg)

[2020-10-27 15:09] Echinaceax commented on #4778
@mfranca0009

Eversong Woods
Added Copper Vein ID 1731

Ghostlands
Added Copper Vein ID 1731

Ashenvale
Added Copper Vein ID 1731

Bloodmyst Isle
Added Copper vein ID 1731
Added Tin vein ID 1732

[2020-10-27 15:48] Echinaceax commented on #4778
ok ready to go @mfranca0009 👍

[2020-10-27 15:52] Azkard opened #4809 "[Quest] That's Not Us"
**Links:**
https://www.wowhead.com/quest=25680/thats-not-us

**What is happening:**
After a few seconds of battle against [Illycor](https://www.wowhead.com/npc=41163/illycor), I was instantly teleported to Andorhal, Western Plaguelands. I tried to fight it one more time but it happened again.

**What should happen:**
Should be a normal battle against the objective. A forced teleport is not part of

[2020-10-27 18:50] Echinaceax commented on #4255
all fixed here on next update https://github.com/WoWManiaUK/Blackwing-Lair/issues/4788

[2020-10-27 18:51] #4255 closed

[2020-10-27 19:39] HrafnValknutt commented on #4778
Fix in Dev confirmed.

[2020-10-28 09:41] jgilbert201 opened #4810 "[bug/mount] 2 person vehicle mount deaths / Fall damage"
**Links:**

https://youtu.be/9eSBIeU5Ljw

**What is happening:**

In Tol Barad sometimes when you are riding as a 2nd person in the x53 touring rocket and you are dismounted, you die from fall damage. I've physically had this happen to me and it happened to someone I was with last night. The difference between the two is on the video I was in the back. The last I was the main rider and dismounted

[2020-10-28 10:59] Echinaceax commented on #4810
here is the mount @mfranca0009
https://www.wowhead.com/item=54860/x-53-touring-rocket

will try and reporduce on Ptr ...update soon

[2020-10-28 12:07] Echinaceax commented on #4810
Ok we reproduced it

**Test 1**

Tol Barad

1. driver had shaman buff https://classic.wowhead.com/spell=546/water-walking
2. Passanger didnt have waterwalking
3. Followed the path from above video
4. Driver dismount
5. Passenger falls through graphics/map texture

### 6. Note: Also we tested all 2 and 3 person mounts
(all do fall damage when jump on the mount while in water)

https://www.wowhead.c

[2020-10-28 14:32] Echinaceax opened #4811 "[Object] Zanzil's Cauldron of Toxic Torment - Zul'Gurub"
### Reported to GM

**Links:**

https://www.wowhead.com/npc=52529/zanzils-cauldron-of-toxic-torment

**What is happening:**

- Zanzil's Cauldron of Toxic Torment - not clickable at times
- Timer on buff from Cauldron runs out before area clears on that phase
- cant click the Cauldron the 2nd time to gain rebuff of Zanzil's Cauldron of Toxic Torment

**What should happen:**
Zanzil's Cauldron of Tox

[2020-10-28 16:23] Echinaceax commented on #4811
### Confirmed still bugged

https://www.wowhead.com/npc=52053/zanzil/heroic-encounter-journal

**Zanzil**
_Zanzil periodically performs one of his three secret voodoo techniques, but he never chooses to perform the same technique twice in a row._

1. Zanzil's Red Resurrection Elixir – Zanzil brings a swarm of Zanzili Zombies to life.
Zanzili Zombie – A swarm of Zanzili Zombies attacks the players.

[2020-10-28 21:46] HrafnValknutt opened #4812 "[profession] Herbalism full zone report 3"
**Link**
https://www.wow-professions.com/farming-guides
https://wowwiki.fandom.com/wiki/Herbs_by_area

 _**Outland**_

**Hellfire Peninsula**

- [x] Golden Sansam
- [x] Dreamfoil
- [x] Mountain Silversage
- [x] Felweed
- [x] Dreaming Glory

**Zangarmarsh**

- [x] Golden Sansam
- [x] Blindweed
- [x] Ghost Mushroom
- [x] Felweed
- [x] Dreaming Glory
- [x] Ragveil
- [x] Flame Cap

**Terokkar Forest**

[2020-10-28 21:47] HrafnValknutt opened #4813 "[profession] Herbalism full zone report 4"
**Link**
https://www.wow-professions.com/farming-guides
https://wowwiki.fandom.com/wiki/Herbs_by_area

 _**Northrend**_

**Borean Tundra**

- [x] Goldclover
- [x] Firethorn
- [x] Tiger Lily

**Howling Fjord**

- [x] Goldclover
- [x] Tiger Lily

**Dragonblight**

- [x] Goldclover
- [x] Frozen Herb

**Grizzly Hills**

- [x] Goldclover
- [x] Tiger Lily
- [x] Talandra's Rose

**Zul'Drak**

- [x] Talan

[2020-10-29 14:32] Azkard opened #4814 "[Quest] Proof of Allegiance - Shadowmoon Valley"
**Links:**
https://www.wowhead.com/quest=10622/proof-of-allegiance

**What is happening:**
[Zandras](https://www.wowhead.com/npc=21827/zandras) is missing. The objective to kill isn't there.

**What should happen:**
[Zandras](https://www.wowhead.com/npc=21827/zandras) must be there.

**Is it crashing the server?:**
No

**Other Information:**
1-I've Spammed "/tar Zandras" command around the zone, j

[2020-10-29 15:03] Echinaceax commented on #4814
confirmed missing

[2020-10-30 08:04] Nerwen83 commented on #3775
The last quest to get the mount not working. this is not fine :(

[2020-10-30 10:18] Echinaceax commented on #3775
@Nerwen83
Devs have changed over from here now, so this will be fixed when they can

Update
no dailies on the pet are given (as stated in my screenshot above) @mfranca0009
so cant collect the https://www.wowhead.com/item=68644/winterspring-cub-whisker from the reward each day

[2020-10-30 12:00] almoghr opened #4815 "[track the tracker] - quest bugged"
**Links:**

from WoWHead or our Armory

**What is happening:**
im getting the quest just as suposed to be, the npc to end the quest is nowhere

**What should happen:**
i should go to the npc and finish the quest, but the npc is not anywhere
**Is it crashing the server?:**
no
**Other Information:**

[2020-10-30 12:00] almoghr opened #4816 "Grent Direhamme ID 52346 is missing"
**Links:**

from WoWHead or our Armory

**What is happening:**

no npc

**What should happen:**

**Is it crashing the server?:**
no
**Other Information:**

[2020-10-30 12:01] almoghr opened #4817 "[Your First Day as a Pirate]"
**Links:**

from WoWHead or our Armory

**What is happening:**
cant complete quest, im a horde and got this quest and cant complete it, the npc is atking me

**What should happen:**
i should talk to the npc that finish the quest
**Is it crashing the server?:**
no
**Other Information:**

[2020-10-30 12:13] Echinaceax commented on #4815
you reported npc here #4816
thats good enough, so i will close this one

[2020-10-30 12:13] #4815 closed, assigned to nobody

[2020-10-30 12:14] Echinaceax commented on #4816
for quest delivery https://www.wowhead.com/quest=29226/track-the-tracker

npc https://www.wowhead.com/npc=52346/grent-direhammer

After player got their quest completed by the GM  https://www.wowhead.com/quest=29226/track-the-tracker and picked up https://www.wowhead.com/quest=29227/the-hunters-revenge they are not given the body of Grent Direhamme for it to complete

NPC needs fixing first then i

[2020-10-30 12:15] Echinaceax commented on #4817
https://www.wowhead.com/quest=26631/your-first-day-as-a-pirate

[2020-10-30 12:48] Echinaceax commented on #4816
@mfranca0009
Added npc ID 52346 (in PTR)
just need SQL please 😄

[2020-10-30 13:00] Echinaceax opened #4818 "[Quest] The Hunter's Revenge (issue 2) -"
**Links:**

https://www.wowhead.com/quest=29227/the-hunters-revenge

**What is happening:**
- not given the body for it to complete

**What should happen:**
_Bring Grent Direhammer to the body of Mauti_

video https://www.youtube.com/watch?v=TcfvYnYmruM

**more info**
1. NPC fixed in PTR #4816

2. No Autocomplete in questlog

[2020-10-30 13:24] Echinaceax opened #4819 "[Quest] Follow That Cat (missing quest start object) - Northern Stranglethorn"
**Links:**
object https://www.wowhead.com/object=208365/recently-disturbed-dirt-mound
quest https://www.wowhead.com/quest=29229/follow-that-cat

**What is happening:**
- missing quest from Recently Disturbed Dirt Mound

**What should happen:**
quest is given by the Recently Disturbed Dirt Mound
https://www.youtube.com/watch?v=7c0vDvC7Gks

**Other Information:**
this could be the reason the other q

[2020-10-30 13:32] Echinaceax commented on #4819
@mfranca0009
Added **Recently Disturbed Dirt Mound** object
Needs SQL

[2020-10-30 13:34] Echinaceax opened #4820 "[Quest] Follow That Cat (Issue2) - Northern Stranglethorn"
**Links:**

https://www.wowhead.com/quest=29229/follow-that-cat

![2 quests](https://user-images.githubusercontent.com/39439201/97713959-d5539600-1ac0-11eb-9bed-0f8331adfc74.jpg)

**What is happening:**
- Offers 2 horde quests

**What should happen:**
should only offer 1

[2020-10-30 13:38] Echinaceax opened #4821 "Follow That Cat (Issue3) - Northern Stranglethorn"
**Links:**

https://www.wowhead.com/quest=29229/follow-that-cat

**What is happening:**
- player doesnt get given https://www.wowhead.com/npc=52234/bwemba spirit (quest giver/deliverer)
- no Cat (Mauti's Lair)
- no quest marker **dnd-follow-that-cat**

cant give quest back to https://cata-twinhead.twinstar.cz/?npc=52234

**What should happen:**
https://www.wowhead.com/quest=29229/follow-that-cat#v

[2020-10-30 13:55] Echinaceax commented on #4821
@mfranca0009 i was going to add the game marker https://www.wowhead.com/npc=52911/dnd-follow-that-cat
but i need to know the sleeping Cat visual that sits on top of the marker 😄

Mauti's Lair cant find in DB

[2020-10-30 14:32] Echinaceax opened #4822 "[Questline] Northern Stranglethorn storyline (horde)"
**Links:**
https://wow.gamepedia.com/Northern_Stranglethorn_storyline

- [x] Warchief's Command: Northern Stranglethorn!  #4824
- [x] The Defense of Grom'gol: Raptor Risk
- [x] The Defense of Grom'gol: Ogre Oppression
- [x] The Defense of Grom'gol: Murloc Menace
- [x] The Defense of Grom'gol: Trollish Thievery
- [x] A Lashtail Hatchling
- [x] I Think She's Hungry
- [x] Favored Skull
- [ ] A Nose f

[2020-10-30 14:34] Echinaceax opened #4823 "[Questline] Northern Stranglethorn storyline (Ally)"
**Links:**

https://wow.gamepedia.com/Northern_Stranglethorn_storyline

- [x] Hero's Call: Northern Stranglethorn Vale!
- [x] The Fate of Kurzen
- [x] Bad Medicine
- [x] Just hatched
- [x]  Spared from Madness
- [x] Control Sample
- [ ] I Think She's Hungry #4846
- [x] Stopping Kurzen's Legacy
- [x] The Source of the Madness
- [x]  Krazek's Cookery
- [x] Venture Company Mining
- [x] Return to Corp

[2020-10-30 14:44] Echinaceax opened #4824 "[Quest] Warchief's Command: Northern Stranglethorn!"
**Links:**

https://www.wowhead.com/quest=28688/warchiefs-command-northern-stranglethorn

**What is happening:**
- quest missing from the board in Undercity and Silvermoon

**What should happen:**
quest should be at the Warchief's Command board

[2020-10-30 15:22] Echinaceax opened #4825 "[Quest] Who's a Big Troll? - Northern Stranglethorn"
**Links:**

https://www.wowhead.com/quest=26330/whos-a-big-troll
https://www.wowhead.com/item=58179/ganzulahs-body

**What is happening:**
- no body looted after kill

**What should happen:**
Obtain Gan'zulah's Body from Zul'Kunda.

[2020-10-30 15:38] Echinaceax opened #4826 "[Quest] Skullsplitter Mojo - Northern Stranglethorn"
**Links:**

quest https://www.wowhead.com/quest=26332/skullsplitter-mojo
item https://www.wowhead.com/item=58201/skullsplitter-mojo

![hatchling out](https://user-images.githubusercontent.com/39439201/97725283-49e10180-1ace-11eb-8c91-1071b43ce7c3.jpg)

**What is happening:**
- no quest item dropping with or without Hatching active)

**What should happen:**
Obtain 6 Skullsplitter Mojos from Skullsp

[2020-10-30 16:15] Echinaceax opened #4827 "[Quest] Bloodlord Mandokir - Northern Stranglethorn"
**Links:**

quest https://www.wowhead.com/quest=26334/bloodlord-mandokir
npc https://www.wowhead.com/npc=42790/bloodlord-mandokir

**What is happening:**
After finishing https://github.com/WoWManiaUK/Blackwing-Lair/issues/4826 i cant pick up next quest coz hes not here

**What should happen:**
Npc should be here for pick up quest

[2020-10-30 16:23] Echinaceax commented on #4827
Added npc on ptr @mfranca0009
just need SQL

[2020-10-30 16:26] Echinaceax opened #4828 "[Quest] Bloodlord Mandokir (issue2) - Northern Stranglethorn"
**Links:**
https://www.wowhead.com/quest=26334/bloodlord-mandokir
npc https://www.wowhead.com/npc=42790/bloodlord-mandokir

![2 questss](https://user-images.githubusercontent.com/39439201/97731065-f7efaa00-1ad4-11eb-83e3-6a5a1fc23aea.jpg)

**What is happening:**
- Offers both quests

**What should happen:**
should be only one

**Is it crashing the server?:**

**Other Information:**

[2020-10-30 17:00] Echinaceax opened #4829 "[Quest] Be Raptor - Northern Stranglethorn"
**Links:**

https://www.wowhead.com/quest=26362/be-raptor

![no dialog](https://user-images.githubusercontent.com/39439201/97735129-376cc500-1ada-11eb-93b5-baa094bd9a6c.jpg)

**What is happening:**
- NPC missing dialog to port player to Zul'Gurub

**What should happen:**
npc should have a clickable dialog

[2020-10-30 17:58] Echinaceax opened #4830 "[Quest] The Universal Key - Northern Stranglethorn"
**Links:**

https://www.wowhead.com/quest=26400/the-universal-key

**What is happening:**
- doesnt work doing what video says

**What should happen:**
https://www.wowhead.com/quest=26400/the-universal-key#videos:id=97093

[2020-10-30 22:22] mfranca0009 commented on #4816
All set, needs testing in PTR 👍 @Echinaceax

[2020-10-30 22:23] mfranca0009 commented on #4819
All set, needs testing in PTR 👍 @Echinaceax

[2020-10-30 22:23] mfranca0009 commented on #4827
All set, needs testing in PTR 👍  @Echinaceax

[2020-10-31 14:00] Echinaceax opened #4831 "[Quest] The Hunter's Revenge (issue 3) - Northern Stranglethorn"
**Links:**

https://www.wowhead.com/quest=29227/the-hunters-revenge

**What is happening:**
- scripting

**What should happen:**

[2020-10-31 14:01] mfranca0009 commented on #4818
Mauti NPC for this quest (Hostile):
https://www.wowhead.com/npc=52372/mauti

[2020-10-31 14:43] HrafnValknutt commented on #4827
Fix in Dev confirmed.

[2020-10-31 14:44] HrafnValknutt commented on #4819
Fix in Dev confirmed.

[2020-10-31 15:04] HrafnValknutt commented on #4816
Fix in Dev confirmed.

[2020-10-31 15:40] Echinaceax commented on #4818
and No Autocomplete in questlog either

[2020-10-31 16:32] Echinaceax commented on #4573
Fixed in PTR
Added NPC 42106 @mfranca0009

[2020-10-31 16:37] Echinaceax opened #4832 "[Quest] To Be Horde... - Stonetalon Mountains"
**Links:**

https://www.wowhead.com/quest=26115/to-be-horde

**What is happening:**
- nothing happens
missing full script, and https://www.wowhead.com/npc=42039/high-chieftain-cliffwalker
missing for continiued dialog and quest delivery

**What should happen:**
https://www.wowhead.com/quest=26115/to-be-horde#videos:id=2425

[2020-10-31 16:38] mfranca0009 commented on #4821
Mauti is now spawned and gives quest completion when in 30 yards of the area near Mauti.

Still need to script actual event to start to follow Mauti to lair after Hunter's Revenge quest.

[2020-10-31 16:41] Echinaceax opened #4833 "[Object] Krom'gar Hot Air Balloon - Stonetalon Mountains"
**Links:**

https://www.wowhead.com/npc=41009/kromgar-hot-air-balloon

![balloon](https://user-images.githubusercontent.com/39439201/97784669-7feeb600-1ba0-11eb-856e-1b8bd707408d.jpg)

**What is happening:**
- balloon is in wrong position

**What should happen:**
should be higher up

[2020-10-31 16:49] Echinaceax commented on #4833
Fixed in PTR @mfranca0009
re-positioned the balloon

![balloon fixed](https://user-images.githubusercontent.com/39439201/97784802-5a15e100-1ba1-11eb-82d4-7e5383f557a6.jpg)

[2020-10-31 17:09] Echinaceax commented on #4533
update

Phasing issue only @mfranca0009

[2020-10-31 18:29] almoghr opened #4834 "[Quest] Storming the Steamvault - Zangarmarsh"
**Links:**

from WoWHead or our Armory

**What is happening:**
there are no npcs for quests in the beginning of the dungeon

**What should happen:**
npc should be there
**Is it crashing the server?:**
no
**Other Information:**

[2020-10-31 18:30] almoghr opened #4835 "[Dungeon/quests/npc] Slave pens"
**Links:**

from WoWHead or our Armory

**What is happening:**

there are no npcs in the beginning of the dungeon

**What should happen:**
npcs should be there
**Is it crashing the server?:**
no
**Other Information:**

[2020-10-31 18:30] almoghr opened #4836 "[Quest] Rescuing the Expedition - The Underbog"
**Links:**

from WoWHead or our Armory

**What is happening:**
one mob is dead and i can talk to him the 2nd mob is never to be around

**What should happen:**
the 2nd mob should be in the dungeon
**Is it crashing the server?:**
no
**Other Information:**

[2020-10-31 18:48] Echinaceax commented on #4834
quest https://www.wowhead.com/quest=29616/storming-the-steamvault
npc https://www.wowhead.com/npc=54848/watcher-jhang

[2020-10-31 18:50] Echinaceax commented on #4835
more info needed @almoghr

quest name ...
npc missing ...

[2020-10-31 18:52] Echinaceax commented on #4836
more info needed @almoghr

quest name ...
npc missing ...

[2020-10-31 19:14] Echinaceax commented on #4834
@mfranca0009 (need SQL)

 Added on PTR

- [x] Watcher Jhang
entry 54848
GUID  160

- [x] Naturalist Bite
entry 54849
GUID 162

- [x] Windcaller Claw
entry 54851
GUID 168

![npc added](https://user-images.githubusercontent.com/39439201/97787960-a703b280-1bb5-11eb-914c-81f053a0d42e.jpg)
![Naturalist bite](https://user-images.githubusercontent.com/39439201/97788266-095db280-1bb8-11eb-8805-e91737d4409

[2020-11-01 03:15] mfranca0009 commented on #357
This issue still exists, just previously tested while playing on a live with a friend. @Echinaceax

[2020-11-01 11:35] Echinaceax opened #4837 "[Quest/NPC] Cheerful Dalaran Spirit - Day of the Dead"
**Links:**

https://www.wowhead.com/npc=35256/cheerful-dalaran-spirit

**What is happening:**
- npc spawned but not seen by players

**What should happen:**
Should be seen by players

[2020-11-01 11:39] Echinaceax opened #4838 "[Quest/NPC] Cheerful Forsaken Spirit - Day of the Dead"
**Links:**

https://www.wowhead.com/npc=34476/cheerful-forsaken-spirit

**What is happening:**

- npc spawned but not seen by players

**What should happen:**
Should be seen by players

[2020-11-01 11:43] Echinaceax commented on #3780
NPC cant be seen by players

[2020-11-01 11:54] Echinaceax opened #4839 "[Quest/NPCs] Cheerful Spirit quest givers - Day of the Dead"
### NPCs spawned, but not seen by players

update have to use https://www.wowhead.com/item=46718/orange-marigold to see them 😄

[2020-11-01 11:55] Echinaceax commented on #4837
added to main report #4839

[2020-11-01 11:55] #4837 closed, assigned to nobody

[2020-11-01 11:56] Echinaceax commented on #4838
added to main report #4839

[2020-11-01 11:56] #4838 closed, assigned to nobody

[2020-11-01 11:57] #3780 closed

[2020-11-01 12:12] #4839 closed, assigned to nobody

[2020-11-01 13:11] Echinaceax commented on #4839
updae have to use https://www.wowhead.com/item=46718/orange-marigold  to see them 😄

[2020-11-02 00:02] mfranca0009 commented on #4573
All set, needs testing in PTR 👍 @Echinaceax

[2020-11-02 00:02] mfranca0009 commented on #4834
All set, needs testing in PTR 👍 @Echinaceax

[2020-11-02 00:16] Echinaceax commented on #4573
confirmed fixed in ptr

[2020-11-02 00:16] Echinaceax commented on #4834
confirmed fixed in ptr

[2020-11-02 00:38] Echinaceax opened #4840 "[NPC] Grent Direhamme ID 52371 (issue 2)"
**Links:**

https://www.wowhead.com/npc=52371/grent-direhammer

**What is happening:**
- npc missing

**What should happen:**
should be spawned for quest

Ally https://www.wowhead.com/quest=29121/bury-me-with-me-boots
horde https://www.wowhead.com/quest=29232/bury-me-with-me-boots

[2020-11-02 01:48] mfranca0009 commented on #4824
Fixed in PTR, needs testing 👍 @Echinaceax

[2020-11-02 01:48] Echinaceax opened #4841 "[Quest] The Zandalari Menace"
**Links:**
https://wow.gamepedia.com/The_Zandalari_Menace
https://www.wowhead.com/object=206109/warchiefs-command-board

**What is happening:**
- quest missing from boards

**What should happen:**
should be given at the hero/warchiefs board

[2020-11-02 02:55] mfranca0009 commented on #4841
All set, needs testing in PTR 👍 @Echinaceax

[2020-11-02 05:36] almoghr commented on #4835
all of the npcs there are missing.. not one or any quest..
u cant see any npc there. no quest is available to even take.

[2020-11-02 05:39] almoghr commented on #4836
[Rescuing the Expedition] - the missing npc is:
Earthbinder Rage -  https://www.wowhead.com/npc=17885/earthbinder-rayge

[2020-11-02 11:41] Echinaceax commented on #4835
this doesnt help me though @almoghr
need to know Quest names and NPCs names

you havent provided any links to any quest or npc names

### UPDATED INFO

This is how we need your reports to be @almoghr, if your doing loremaster, you will know what quests are needed

quest https://www.wowhead.com/quest=29564/a-brother-betrayed
start npc https://www.wowhead.com/npc=54668/nahuud
end https://www.wowhead

[2020-11-02 12:32] Echinaceax opened #4842 "[NPC] Fen Ray - (issue2) - The Underbog"
**Links:**

https://www.wowhead.com/npc=17731/fen-ray

**What is happening:**
- still sliding on the floor
https://gyazo.com/19dbf2e65331a8ed3dc552ef11d441eb

**What should happen:**
should be up not lay on the floor 😄

**extra info**
was partly fixed here https://github.com/WoWManiaUK/Blackwing-Lair/issues/4367

[2020-11-02 12:39] Echinaceax commented on #4836
Found the issue

1. NPC is spawned Earthbinder Rage - https://www.wowhead.com/npc=17885/earthbinder-rayge

(not missing)

@mfranca0009
Main issue is that the Fen Rays sliding on the floor kill him before player can complete the quest
my video https://gyazo.com/b020f87557c30e8eeb1cfb74aacc4367

made seperate report for the Fen Ray here #4842

**New update**
its https://www.wowhead.com/npc=17894/win

[2020-11-02 12:58] Echinaceax commented on #4836
@mfranca0009
Added NPC

entry 17894
GUID 84

1. Still needs sitting position setting
2. need quest completion setting

![added npc](https://user-images.githubusercontent.com/39439201/97870572-6b7efa80-1d13-11eb-9897-0789e3b9db15.jpg)
![not complete](https://user-images.githubusercontent.com/39439201/97870550-65891980-1d13-11eb-8d62-fabc111c5b03.jpg)

[2020-11-02 13:20] Echinaceax commented on #4835
@mfranca0009 Added npcs (PTR)

Entry 54668
GUID 216

Entry 54667
GUID 218

![added](https://user-images.githubusercontent.com/39439201/97872901-15ac5180-1d17-11eb-834a-0da65b23fd95.jpg)

[2020-11-02 13:42] Echinaceax opened #4843 "[Quest] The Heart of the Matter - Slave Pens"
**Links:**

quest item https://cata-twinhead.twinstar.cz/?item=72118
https://cata-twinhead.twinstar.cz/?item=72119

**What is happening:**
- The Invader's Claw
- The Slave Master's Eye
_quest item not dropping_

**What should happen:**
quest items should drop by bosses to complete the quest

[2020-11-02 13:59] Echinaceax opened #4844 "[Quest] Lost in Action - Slave Pens"
**Links:**

https://www.wowhead.com/quest=29563/lost-in-action

**What is happening:**
- https://www.wowhead.com/npc=17893/naturalist-bite (not completing quest)
- https://www.wowhead.com/npc=17890/weeder-greenthumb (wasnt spawned)

**What should happen:**
naturalist-bite  should have a dialog at 5:09 https://www.youtube.com/watch?v=OFMg6_E16OA

[2020-11-02 14:01] Echinaceax commented on #4844
@mfranca0009 I added NPC

Entry 17890
GUID 220

noticed that the mobs could attack him though, even though his display is "dead" needs checking

- [ ] still need dialog on https://www.wowhead.com/npc=17893/naturalist-bite

[2020-11-02 14:24] Echinaceax commented on #4824
not fixed @mfranca0009 sorry

undercity still missing https://www.wowhead.com/object=207324/warchiefs-command-board
Silvermoon still missing https://www.wowhead.com/quest=28688/warchiefs-command-northern-stranglethorn

[2020-11-02 16:23] jgilbert201 opened #4845 "[Profession] Enchanting player items"
**Links:**

**What is happening:**

When trying to enchant another players soul bound items, the trade window is being cancelled when the enchant completes

**What should happen:**

It should enchant the item then the trade can be completed

**Is it crashing the server?:**

That's a negatron ghost rider, it is not crashing the server

**Other Information:**

Workaround is to enchant a vellum and t

[2020-11-02 16:31] Echinaceax commented on #4845
reported already https://github.com/WoWManiaUK/Blackwing-Lair/issues/4614 https://github.com/WoWManiaUK/Blackwing-Lair/issues/1530
but thx 😄

yes we knew the workaround too just forgot to edit old report

[2020-11-02 16:31] #4845 closed, assigned to nobody

[2020-11-02 16:41] Echinaceax commented on #4614
found her report https://github.com/WoWManiaUK/Blackwing-Lair/issues/1530#issuecomment-485912320

so i'll close this one

[2020-11-02 16:41] #4614 closed, assigned to nobody

[2020-11-02 17:11] Echinaceax opened #4846 "[Quest] I Think She's Hungry - Northern Stranglethorn"
**Links:**

https://www.wowhead.com/quest=26739/i-think-shes-hungry

**What is happening:**
- no quest credit

**What should happen:**
**Kill Crystal Spine Basilisks in Northern Stranglethorn, and let your Lashtail Raptor eat 40 bites of their meat.**

[2020-11-02 18:11] Echinaceax opened #4847 "[Quest] A Physical Specimen - (ally) - Northern Stranglethorn"
**Links:**

https://www.wowhead.com/quest=26747/a-physical-specimen
quest item https://www.wowhead.com/item=58179/ganzulahs-body

**What is happening:**
- body part not given

**What should happen:**
_Obtain Gan'zulah's Body from Zul'Kunda._

[2020-11-02 19:13] Echinaceax opened #4848 "[Quest] An Old Friend - Zul'Gurub"
**Links:**

quest https://www.wowhead.com/quest=29208/an-old-friend
npc Joseph the crazed 44741 (this is wrong)

**What is happening:**
- quest delivery was at Scarlet monastery

**What should happen:**
_should have been https://www.wowhead.com/npc=52877/lashtail-hatchling but in Zul'Gurub_
which resulted in me handing quest back and not getting my rewarded pet https://www.wowhead.com/item=69251/l

[2020-11-02 19:45] Echinaceax opened #4849 "[Quest] Exploring Gnomeregan - Gnomeregan"
**Links:**

quest https://www.wowhead.com/quest=26944/exploring-gnomeregan
npc https://www.wowhead.com/npc=44556/murd-doc

**What is happening:**
- npc missing

**What should happen:**
_Speak to Murd Doc._

[2020-11-02 20:36] Echinaceax commented on #4840
@mfranca0009
spawns now (reminder)

[2020-11-02 21:39] Echinaceax commented on #4834
more info ...

need moonkin and bear skins

![might be diff](https://user-images.githubusercontent.com/39439201/97922093-3a76e800-1d5c-11eb-8382-1246355707c1.jpg)

[2020-11-03 02:00] mfranca0009 commented on #4842
All set, needs testing in PTR 👍 @Echinaceax

[2020-11-03 02:06] mfranca0009 commented on #4844
@Echinaceax Weeder greenthumb was spawned, but I think since he's attackable when dead he was despawning super quick.

There were two of the same NPCs spawned when I teleported to that entry. They die in about 3 seconds and they despawn in about 5 seconds.

[2020-11-03 02:44] mfranca0009 commented on #4844
Got rid of duplicate, fixed issues related to weeder greenthumb dying by mobs within dungeon, and fixed gossip option problem with naturalist bite 👍  needs testing in PTR @Echinaceax

[2020-11-03 03:13] mfranca0009 commented on #4836
Windcaller claw should not be spawned, once you bring "Claw" down to 0 - 20% health he will turn back into Windcaller Claw and you'll be able to get quest progress for discovering him.

Also, the only other issue I can see happening is that when "Claw" turns into "Windcaller Claw", his name does not change from "Claw" to "Windcaller Claw"... I assume this is because it's being ran through SmartAI

[2020-11-03 04:17] mfranca0009 commented on #4835
All set, needs testing in PTR 👍 @Echinaceax

[2020-11-03 04:22] mfranca0009 commented on #4840
No it doesn't, this is the one that needs to be positioned at the south border of Northern Stranglethorn. The one you're referring to is for Hunter's Revenge quest; Check the WoWhead link for map position. @Echinaceax

[2020-11-03 09:08] Echinaceax commented on #4835
confirmed fixed in PTR

![comp2](https://user-images.githubusercontent.com/39439201/97966699-7d68a800-1dbc-11eb-91ef-e5da08a6b21f.jpg)

[2020-11-03 10:07] Echinaceax commented on #4802
Fixed in PTR @mfranca0009

**Hellfire Peninsula**
Added Dreaming Glory ID 181271

**Zangarmarsh**
Added Blindweed ID 142143

**Netherstorm**
Added Mana Thistle ID 181281

**Shadowmoon Valley**
Added Netherdust Bush ID 185881
Added Mana Thistle ID 181281

[2020-11-03 10:19] #4812 closed, assigned to HrafnValknutt

[2020-11-03 10:57] Echinaceax commented on #4813
Fixed in PTR @mfranca0009

**Borean Tundra**
Firethorn ID 191303
Added Tiger Lily ID 190169

**Howling Fjord**
Added Tiger Lily ID 190169

**Dragonblight**
Added Goldclover ID 189973

**Grizzly Hills**
Added x2 Talandra's Rose ID 190170

[2020-11-03 23:58] mfranca0009 commented on #4796
All set, needs testing in PTR 👍 @Echinaceax

[2020-11-03 23:58] mfranca0009 commented on #4802
All set, needs testing in PTR 👍 @Echinaceax

[2020-11-03 23:59] mfranca0009 commented on #4813
All set, needs testing in PTR 👍 @Echinaceax

[2020-11-04 00:01] mfranca0009 commented on #4777
All herbalism reports have been fixed in dev on these issues:
#4795 , #4796 , #4802 , #4813

Should be all set 👍

[2020-11-04 16:46] HrafnValknutt commented on #4802
Fix in Dev confirmed.

[2020-11-04 17:17] HrafnValknutt commented on #4796
Fix in Dev confirmed.

[2020-11-04 17:43] HrafnValknutt commented on #4813
Fix in Dev confirmed.

[2020-11-04 23:08] mfranca0009 commented on #1204
Quest is completable now, it will need further revision for proper text warnings showing up later on.

[2020-11-05 00:48] mfranca0009 commented on #4354
All set, fixed in Dev 👍

[2020-11-05 00:48] Constant20 commented on #4354
Confirmed fixed in PTR

[2020-11-05 04:54] mfranca0009 commented on #4684
Does not need teleport back to Brak Blusterpipe, the quest for Samophlange ends there and after that, you need to collect bolt slugs that are located near Wenikee Boltbucket.

All set, needs testing in PTR 👍

[2020-11-05 06:05] mfranca0009 commented on #538
Spawned Kadrak and Brutusk, created gossip option for Kadrak, quest item is now obtainable from Kadrak, and Brutusk has npc_spellclick enabled now as mount hop-on.

Will need to finish this, since it's far from done.

[2020-11-05 09:30] Echinaceax commented on #4354
confirmed fixed in Ptr

![confirmed3](https://user-images.githubusercontent.com/39439201/98223052-e03f7800-1f51-11eb-8e1b-97bdef2162dd.jpg)

[2020-11-05 13:24] #1204 closed

[2020-11-05 13:24] #4354 closed

[2020-11-05 13:24] #4573 closed, assigned to mfranca0009

[2020-11-05 13:24] #4664 closed, assigned to mfranca0009

[2020-11-05 13:24] #4684 closed, assigned to mfranca0009

[2020-11-05 13:24] #4742 closed, assigned to mfranca0009, Echinaceax

[2020-11-05 13:24] #4747 closed, assigned to mfranca0009

[2020-11-05 13:24] #4777 closed, assigned to mfranca0009, HrafnValknutt

[2020-11-05 13:24] #4778 closed, assigned to HrafnValknutt

[2020-11-05 13:24] #4779 closed, assigned to Echinaceax, HrafnValknutt

[2020-11-05 13:24] #4783 closed, assigned to mfranca0009

[2020-11-05 13:24] #4788 closed, assigned to Echinaceax, HrafnValknutt

[2020-11-05 13:24] #4795 closed, assigned to mfranca0009, Echinaceax, HrafnValknutt

[2020-11-05 13:24] #4796 closed, assigned to mfranca0009, Echinaceax, HrafnValknutt

[2020-11-05 13:24] #4802 closed, assigned to mfranca0009, HrafnValknutt

[2020-11-05 13:24] #4813 closed, assigned to mfranca0009, HrafnValknutt

[2020-11-05 13:24] #4816 closed, assigned to mfranca0009, Echinaceax

[2020-11-05 13:24] #4819 closed, assigned to mfranca0009, Echinaceax

[2020-11-05 13:24] #4827 closed, assigned to mfranca0009, Echinaceax

[2020-11-05 13:24] #4834 closed, assigned to mfranca0009, Echinaceax

[2020-11-05 13:24] #4835 closed, assigned to mfranca0009, Echinaceax

[2020-11-05 13:24] #4836 closed, assigned to mfranca0009, Echinaceax

[2020-11-05 13:24] #4841 closed, assigned to mfranca0009

[2020-11-05 13:24] #4842 closed, assigned to mfranca0009

[2020-11-05 13:24] #4844 closed, assigned to mfranca0009, Echinaceax

[2020-11-05 22:23] Echinaceax opened #4850 "[Dungeon] No Justice points - Zul'Aman"
**What is happening:**
- No justice points given from any bosses

**What should happen:**
Just give Justice point on boss kills

[2020-11-05 22:26] Echinaceax opened #4851 "[Dungeon] No Justice points - Zul'Gurub"
**What is happening:**

- No justice points given from any bosses

**What should happen:**
_Just give Justice point on boss kills_

[2020-11-05 22:32] #4792 closed, assigned to mfranca0009

[2020-11-05 22:42] Echinaceax opened #4852 "[NPC] Ohgan - Zul'Gurub"
**Links:**

https://www.wowhead.com/npc=52157/ohgan

**What is happening:**
- Ohgan gets revived to fast all the time

**What should happen:**
should be slower, with look for timer

1. 1st time 100secs
2. all the other 30 secs

[2020-11-05 23:33] Echinaceax opened #4853 "[Custom] Shattrath Port at the Mall"
**Suggestion approved for Shattrath portal in the Mall**

Horde https://wotlk-twinhead.twinstar.cz/?object=191014
Ally https://wotlk-twinhead.twinstar.cz/?object=191013

**What should happen:**
_Shattrath portal to be placed in the mall_

[2020-11-05 23:37] Echinaceax opened #4854 "[Custom] Double XP weekend buff"
**Suggestion approved**

**What should happen:**
Set a buff when weekend xp is active like in mania server!!!

[2020-11-05 23:40] Echinaceax opened #4855 "[NPC] Jacob Maniac"
**Suggestion approved**

**What should happen:**
take Lockpicking out of the MP profession boost options from Jacob Maniac?

_You don't even need to level Lockpicking in Cataclysm so I'm assuming the NPC was just imported from the mania server_

[2020-11-06 02:42] mfranca0009 commented on #538
Fixed in PTR, needs testing 👍  @Echinaceax

[2020-11-06 11:04] jgilbert201 commented on #4589
Echi, the reason you won't be able to see them is due to phasing. it's part of the quest line. Confirmed this still doesn't work due to low damage after following quest line.

The only way to kill these, is to aggro one whilst flying, then jump on the cannon and spam the first ability, until the second ability is available, then rinse and repeat.

[2020-11-06 11:22] Echinaceax commented on #4589
yes @flubbacrud  i know, i had the same issue on my pala when i did the questline, just forgot to update it here

[2020-11-06 19:25] Eyamola opened #4856 "[Quest/Area] The wormwing problem, Scrambling for eggs (phasing) - Mount Hyjal"
**Links:**

https://www.wowhead.com/quest=25655/the-wormwing-problem
https://www.wowhead.com/quest=25656/scrambling-for-eggs

**What is happening:**

This problem is not exactly about the quests but the area "Shrine of Avianna"
Whenever i try to access the area around the shrine where the quest monsters and objects for the quests are, the phase out of existance, just as the area changes to "Rim of

[2020-11-06 22:20] Echinaceax commented on #4856
reported here (phasing issue) #552

[2020-11-06 22:29] Echinaceax opened #4857 "[Item] Hellscream's Reach Tabard"
**Links:**

https://www.wowhead.com/item=63378/hellscreams-reach-tabard

**What is happening:**
- Tabard teleport spell doesnt work

**What should happen:**
once you equip the tabard and click it to use, its meant to teleport you to the horde base in Tol barad

[2020-11-06 23:11] Echinaceax opened #4858 "[Battleground] Pre battleground world announcements"
**What is happening:**
- Twinpeaks battleground announcement wasnt announced in World chat (live)

**What should happen:**
Announcement should be announced in world chat on live

_**Battleground 85-85 has now started**_ in a **BG queue announcer** message

working ones working on PTR

![eots](https://user-images.githubusercontent.com/39439201/98444776-dfeeda80-2113-11eb-8c68-c2b00aaedbde.jpg)
![av

[2020-11-07 02:10] mfranca0009 commented on #4597
Ran across this issue myself on Live, item is not dropping.

[2020-11-07 02:45] mfranca0009 opened #4859 "[Quest] Thargad's Camp - Desolace"
**Links:**

https://www.wowhead.com/quest=14372/thargads-camp

**What is happening:**
This quest is able to be picked up by Horde, but it's an Alliance quest only.

**What should happen:**
Alliance players should only be able to pick up this quest.

**Is it crashing the server?:**
No

**Other Information:**
N/A

[2020-11-07 03:37] mfranca0009 opened #4860 "[Quest] My Time Has Passed - Desolace"
**Links:**

https://www.wowhead.com/quest=14184/my-time-has-passed

**What is happening:**
You are not able to ride Furien's Mount (Dragonhawk) to Furien's Post, it's not able to be mounted or entered like a vehicle.

**What should happen:**
You should be able to mount or enter vehicle of Furien's Mount and it should fly you to Furien's Post.

**Is it crashing the server?:**
No

**Other Informatio

[2020-11-07 12:23] Echinaceax commented on #4853
@mfranca0009
Added Shattrath portals Horde/Ally to the mall

**note**:  shattrath needs the banners behind tho, a generic banner like Mania
cant find a generic one

**Added:** lamposts for now until we can find a generic banner @mfranca0009

[2020-11-07 13:10] Eyamola opened #4861 "[Quest] Thunderdome Questline - unscripted/autocomplete - Tanaris"
**Links:**

**Questline**

https://www.wowhead.com/quest=26895/the-thunderdrome

**Individual quests**

https://www.wowhead.com/quest=25067/thunderdrome-the-ginormus

https://www.wowhead.com/quest=25094/thunderdrome-zumonga

https://www.wowhead.com/quest=25095/thunderdrome-sarinexx

https://www.wowhead.com/quest=25513/thunderdrome-grudge-match **(A)**

https://www.wowhead.com/quest=25591/thunderdr

[2020-11-07 13:37] Echinaceax commented on #4861
thanks @Eyamola
already reported here https://github.com/WoWManiaUK/Blackwing-Lair/issues/498

[2020-11-07 17:55] Echinaceax opened #4862 "[Item] Master Chef's Groceries - Zul'Gurub"
**Links:**
item https://www.wowhead.com/item=69822/master-chefs-groceries#contains
npc https://www.wowhead.com/npc=52392/gurubashi-master-chef

**What is happening:**
- Master Chef's Groceries is empty

**What should happen:**
should have nine possible loot items inside

[2020-11-07 18:12] Echinaceax opened #4863 "[Spell/Class] pets"
**Links:**

- water elemental (mage)
- voidwalker, felguard and others (warlock)
- hunter pets also

**What is happening:**
- class pet dont move when on the ship in the sky in Deepholm
- cant press "follow" either from pet bar

**What should happen:**
pets should move with their master

**other info**

![deepholm](https://user-images.githubusercontent.com/39439201/98448557-171db580-212d-11eb-8f96

[2020-11-07 22:23] Echinaceax opened #4864 "[Arena] Scoreboard Visual Problems"
**What is happening:**
- Arena wins display wrong team

**What should happen:**
should display winning team

**Other Information:**

echi and Valknut are "The Solaria girls" not the team "winwang" lol

![arana](https://user-images.githubusercontent.com/39439201/98452521-3da11800-2150-11eb-9518-a988da984900.jpg)

[2020-11-07 22:28] Echinaceax opened #4865 "[Arena] Conquest cap"
**What is happening:**
- conquest points cap is capping at 1350 instead of 1650

**What should happen:**
conquest points should cap at 1650

https://wowwiki.fandom.com/wiki/Conquest_point

[2020-11-07 23:12] Echinaceax opened #4866 "[Profession] frozen herb"
**Links:**

https://www.wowhead.com/object=206085/frozen-herb
https://cata-twinhead.twinstar.cz/?object=206085

**What is happening:**
- wrong display info on hover

**What should happen:**
should display requires 125 not 415

**Other Information:**
![415](https://user-images.githubusercontent.com/39439201/98453219-113cca00-2157-11eb-9a93-43f440fdefef.jpg)

[2020-11-08 03:17] mfranca0009 opened #4867 "[NPC] Sandfury Blood Drinker - Tanaris"
**Links:**

https://www.wowhead.com/npc=5649/sandfury-blood-drinker

**What is happening:**
There's a Sandfury Blood Drinker located in a cage at Sandsorrow Watch in Tanaris. When a player is near the cage, the Sandfury NPC runs out of the cage and starts attacking.

**What should happen:**
The Sandfury Blood Drinker that is in the cage at Sandsorrow Watch in Tanaris should not run out of the cage

[2020-11-08 23:10] Echinaceax opened #4868 "[Guild] Have Group, Will Travel"
**Links:**

https://wow.gamepedia.com/Have_Group,_Will_Travel
https://cata-twinhead.twinstar.cz/?spell=83967

**What is happening:**
- ATM if you dont target a player from the raid/group list your summon fails which resullts in the 2hour CD

![group summ](https://user-images.githubusercontent.com/39439201/98532173-a50ab500-2281-11eb-801d-352f7d0fd41d.jpg)

**What should happen:**
Group Summon shou

[2020-11-09 00:51] mfranca0009 commented on #960
Needed spells
-----------------------
Summon Lead Kodo - https://ptr.wowhead.com/spell=65486/summon-kodo-part-1
Summon Pack Kodo - https://ptr.wowhead.com/spell=65494/call-a-pack-kodo
Player Mount Spell - https://www.wowhead.com/spell=65466/ride-caravan-kodo
Summon Razormane Raiders - https://www.wowhead.com/spell=65496/summon-angry-razormane-raider

Needed NPCs
---------------------
https://www.w

[2020-11-09 03:49] mfranca0009 commented on #960
In the middle of fixing this, but having a problem with which vehicle ID needs to be used..

The NPC Balgor Whipshank should be in the position such as a player riding a mount, then the player should be able to mount the kodo but facing the back of the kodo. At the moment, Balgor Whipshank is mounted to the kodo but the player kicks him off once trying to mount the kodo.

[2020-11-09 11:33] Shizzy23 opened #4869 "[Spell/Class] Goblin Racial Ability Not Working Properly"
**Links:**

https://www.wowhead.com/spell=69041/rocket-barrage

**What is happening:**
When i use my Rocket Barrage ability it only deals 1dmg, but in description it says 133*(changes by lvl).

**What should happen:**
It should deal damage according to my level.

**Is it crashing the server?:**No.

**Other Information:**

[2020-11-09 22:10] Echinaceax commented on #2011
Problem regressed again

reported by ingame player to a GM

[2020-11-09 22:39] Echinaceax opened #4870 "[Item/object] Various Hidden chests (missing)"
**Links:**

- [ ] **Silverbound Treasure Chest**
https://wowwiki.fandom.com/wiki/Silverbound_Treasure_Chest
https://cata-twinhead.twinstar.cz/?object=207474

- [ ] **Fel Iron Chest**
https://wowwiki.fandom.com/wiki/Fel_Iron_Chest
https://cata-twinhead.twinstar.cz/?object=181798

- [ ] **Scarlet Footlocker**
https://wowwiki.fandom.com/wiki/Scarlet_Footlocker
https://cata-twinhead.twinstar.cz/?objec

[2020-11-09 23:54] Echinaceax opened #4871 "[Spell/DK] Dark Simulacrum"
**Links:**

https://www.wowhead.com/spell=77616/dark-simulacrum

**What is happening:**
- Not working at all

**What should happen:**

**_Places a dark ward on an enemy, triggering when the enemy next spends mana on a single-target spell, and allowing the Death Knight to unleash an exact duplicate of that spell.  Against nonplayers, only absorbs some harmful spells._**

[2020-11-10 03:43] mfranca0009 commented on #961
All fixed on PTR, needs testing 👍

Spell has been fixed to do as it should, summon echeyakee and make the creature start attacking the player who used the item to summon.

[2020-11-10 04:32] mfranca0009 commented on #1149
Should be all fixed in PTR, needs testing 👍

This quest should be marked for Horde only now and Alliance players should not be able to pick it up.

[2020-11-10 06:21] mfranca0009 commented on #1157
Started working on this, but having difficulty with Chief Engineer Foote still displaying a gossip interaction for player when he's essentially dead from being clubbed.

Will look into it again tomorrow most likely.

[2020-11-10 09:28] HrafnValknutt commented on #961
Fix in Dev confirmed.

[2020-11-10 09:33] HrafnValknutt commented on #1149
Fix in Dev confirmed.

[2020-11-10 12:01] Echinaceax commented on #4853
this one fixed too @mfranca0009 ?

i add label

[2020-11-10 12:06] Echinaceax commented on #4858
Seems fine 😄

[2020-11-10 12:06] #4858 closed, assigned to mfranca0009

[2020-11-10 13:39] jgilbert201 opened #4872 "[NPC] Dragonmaw Marauder - Twighlight Hinterlands"
**Links:**

**What is happening:**

The [NPC ](https://www.wowhead.com/npc=46310/dragonmaw-marauder) @ 46,37 has a very unhealth obsession with placing his [Dragonmaw Banner](https://www.wowhead.com/spell=86409/dragonmaw-banner). It's like he just can't seem to be happy with how he placed it.

**What should happen:**

**Is it crashing the server?:**

**Other Information:**

[2020-11-11 18:07] Eyamola opened #4873 "[Quest] - Stealing from our own (id : 26233)"
**Links:**

https://www.wowhead.com/quest=26233/stealing-from-our-own

**What is happening:**

This is one of the cooking dailys for the horde in Orgimmar.
Instead of appearing every few days, it is available every day along with an extra cooking daily.

**What should happen:**

The NPC should not be offering two quests and it should appear on its own every few days.

**Is it crashing the server?:

[2020-11-12 01:37] mfranca0009 commented on #1157
Quest is scripted and now completable, needs testing in PTR 👍

[2020-11-12 02:27] mfranca0009 commented on #1160
Summon Spell:
https://www.wowhead.com/spell=82457/summon-riverboat

[2020-11-12 02:34] mfranca0009 commented on #1207
Summon Spell:
https://www.wowhead.com/spell=96526/summon-silver-bullet-x-831

[2020-11-12 04:18] Eyamola commented on #4873
This is a troll only version of the quests. I don't know if it's the same for the other races quests.

[2020-11-12 22:23] drizztdo opened #4874 "Archaeology Bug"
**Links:**
There is nothing to link.
from WoWHead or our Armory

**What is happening:**

Sometimes when an archaelogical artifact is found, it spawns under terrain, inside walls etc.

**What should happen:**
It should spawn where it is reachable by the player always.
**Is it crashing the server?:**
No.
**Other Information:**

[2020-11-12 23:04] Constant20 commented on #1157
Confirmed fixed in PTR

[2020-11-12 23:18] mfranca0009 commented on #4853
Should have commented, but yes all set and SQL was created / submitted 👍

[2020-11-13 00:15] Echinaceax commented on #4874
know issue reported here #4237

[2020-11-13 00:15] #4874 closed, assigned to nobody

[2020-11-13 00:59] mfranca0009 opened #4875 "[NPC] Shredtooth Frenzy (issue 2) - Zul'Gurub"
**Links:**

https://www.wowhead.com/npc=52417/shredtooth-frenzy

**What is happening:**
Only drops 8 items and should drop 186 items per WoWhead.

**What should happen:**
Should have a loot table of 186 items instead of 8 items.

**Is it crashing the server?:**
No.

**Other Information:**
At this time, I've corrected the current items' drop chances because currently there was an epic item that had

[2020-11-13 11:12] Eyamola commented on #2960
I believe this is added on the .bq list for the Alliance version but not the Horde
Alliance version : https://www.wowhead.com/quest=27042/fight-fire-and-water-and-air-with
Horde version : https://www.wowhead.com/quest=27043/fight-fire-and-water-and-air-with

Same issue as mentioned above.

[2020-11-13 13:04] mfranca0009 commented on #4853
Fix on live server, all set 👍

[2020-11-13 13:04] #4853 closed, assigned to mfranca0009

[2020-11-13 13:04] mfranca0009 commented on #1157
Fix on live server, all set 👍

[2020-11-13 13:04] #1157 closed

[2020-11-13 13:05] mfranca0009 commented on #1149
Fix on live server, all set 👍

[2020-11-13 13:05] #1149 closed

[2020-11-13 13:05] mfranca0009 commented on #961
Fix on live server, all set 👍

[2020-11-13 13:05] #961 closed

[2020-11-13 15:12] Echinaceax commented on #2960
not on the .bq command @Eyamola

[2020-11-13 15:35] Shizzy23 opened #4876 "[Spell/Class] Warrior Bloodthirst Ability/Blood Craze Talent Not Working Properly"
**Links:**

from WoWHead or our Armory

**What is happening:**Bloodthirst spell and Blood Craze talent is only healing for 1hp.

**What should happen:**Bloodthirst spell should heal according to level*(It says slightly).Blood Craze talent should heal %3 in 5 seconds.

**Is it crashing the server?:**No

**Other Information:**

[2020-11-13 15:40] Echinaceax commented on #4876
Bloodthirst http://cata.cavernoftime.com/spell=30474
Blood Craze http://cata.cavernoftime.com/spell=16488

think these are the right ranks @mfranca0009
depending on players lvl

[2020-11-13 22:10] mfranca0009 commented on #960
Holding off for now, can't find the proper vehicle ID needed.

[2020-11-14 01:07] Echinaceax opened #4877 "[Item] Miniature Voodoo Mask - Zul'Aman"
**Links:**

https://cata-twinhead.twinstar.cz/?item=69762

**What is happening:**
- Only 1 gnome is spawned not 3

**What should happen:**

_Use: Calls forth 3 Voodoo Gnomes to destroy your enemies._

[2020-11-14 05:02] mfranca0009 commented on #291
All set, needs testing in PTR 👍

[2020-11-14 10:48] jgilbert201 opened #4878 "[Instance] Vortex Pinnacle (slipstreams missing)"
**Links:**

from WoWHead or our Armory

**What is happening:**

I used to farm this on retail for volatile airs, basically when you fall off, you aren't supposed to die. You are supposed to be ported back to the beginning of the instance. I used to run the route around VP, kill all the air mobs, throw myself off the edge, teleported, run out, reset, repeat.

**What should happen:**

If you fall of

[2020-11-14 10:55] jgilbert201 commented on #2771
Update on this, even instant spells are resetting it. Just done this quest on my lock, and same thing, using any bane, curse or DoT. This issue is still marked as closed too.

https://youtu.be/g_Bjr6mCj5w

[2020-11-14 13:25] Echinaceax commented on #4878
thing is tho @flubbacrud we need proof that they have that function, from Video or something.
we cant just change it without knowing the object used in retail for this funtion

can you search a video of this from somewhere?

[2020-11-14 13:35] Echinaceax commented on #4878
found this one, he does mention a portal out https://www.youtube.com/watch?v=O2NPmr145Mw

have to remember it has to be a cata patch ...this video is lvl 90 mobs not 85-87

that slipstream could have been added in a later patch

### Edited
AT 7:24 youll see a slipstream near endboss

checked on PTR no slipstream here either that ports player to start of the dungeon to deliver quests back
(so this

[2020-11-15 04:57] mfranca0009 commented on #4648
All set, needs testing in PTR 👍

[2020-11-15 05:04] mfranca0009 commented on #4647
All set, needs testing in PTR 👍

[2020-11-15 05:45] mfranca0009 commented on #4854
We need a client patch for WoW-Reign to bring the updated spell for spell id 62121 to be renamed correctly, then I should be able to figure out how to add this buff when the event is active.

[2020-11-15 05:54] mfranca0009 commented on #4859
All set, needs testing in PTR 👍

[2020-11-15 05:57] mfranca0009 commented on #2771
Is this quest still a problem then? @Echinaceax

[2020-11-15 10:43] Echinaceax commented on #4854
@mfranca0009
Yes i asked Jani about it and he said its something he has to do
forgot to update here

[2020-11-15 10:47] Echinaceax commented on #4859
confirmed fixed in PTR 👍

[2020-11-15 10:49] Echinaceax commented on #4648
Nice, fixed in PTR 👍

Note:
I didnt get the HC only message like i got for ZG though

[2020-11-15 10:53] Echinaceax commented on #4647
this one you can still run in the portal
(zul aman fix you are stopped completely from entering at normal mode)

up side
you do get a message

![ZG MSG](https://user-images.githubusercontent.com/39439201/99183022-2e662f80-2739-11eb-8b17-48b82af3883b.jpg)

[2020-11-15 10:59] Echinaceax commented on #2771
its a dodgy one @mfranca0009
if you stand in right place and use right spells i didnt have a problem

i use spriest and mage, havent tested on a warlock
valk used Warrior and mage

Whats happening to other players is that "some" spells are resetting him (not keeping aggro) it shouldnt do that

here is Vetwang's video he did https://youtu.be/g_Bjr6mCj5w

[2020-11-15 16:36] mfranca0009 commented on #4647
That's going to happen, only because Zul'gurub is part of the Stranglethorn map.
@Echinaceax

[2020-11-15 17:07] Butterjib opened #4879 "Deleted Item in the mail."
Hello,  loving the server so far;  thanks.

I received an item in the mail earlier today 'adamanite rod'   and must have clicked 'delete' by mistake. Now both letter and item are missing,   I would have presumed that there would be a warning to prevent this happening with a full attachment and an option to 'cancel' the delete is made my mistake.

Is it possible to have this restored please?

Many

[2020-11-15 17:15] Echinaceax commented on #4879
@Butterjib
thanks for reporting,
yes it would help if we have a "are you sure you want to delete this item" message pop up, not sure if its blizzlike tho

players have to be more careful not to delete their items

we can look into it

Not sure you can get items resorted tho

[2020-11-15 20:05] jgilbert201 opened #4880 "[Achievement] Stay Classy"
**Links:**
https://www.wowhead.com/achievement=5158/stay-classy#comments
**What is happening:**

The Stay class achievement which requires 1 85 of each class under each race to be honored with their guild then it ticks off on the achievement. This is required to buy the last guild tab for the guild bank. mFranca asked me to log this, as the achievement doesn't trigger instantly. I got 2 characters

[2020-11-15 21:06] mfranca0009 commented on #4879
I can remember a warning message that should pop up if an item is still in the mail as an attachment.

Can't remember when this was added or if it was there from the start of the game.

I think this is a thing in WoW-Mania? I'm not 100% sure though cause I haven't played on Mania for a couple months.

[2020-11-15 21:23] Echinaceax commented on #4879
checked mania and theirs is the same as ours @mfranca0009

[2020-11-15 21:38] Butterjib commented on #4879
Hi Guys, thanks for commenting,  I remember it being a feature of the original game from as far back as I can remember, that's why I was so surprised for this to happen.    Any hoo, it is what it is.  Kind regards @Echinaceax  @mfranca0009

[2020-11-15 21:46] mfranca0009 commented on #4879
No problem @Butterjib

If we can find information somewhere through WoWhead or a youtube video during the Cata expansion of this feature then we will implement it.

On the other hand, if we find no evidence of it being available in Cata then we will most likely close the issue without adding it.

[2020-11-15 23:08] Echinaceax commented on #4140
new info
Visual but in quest log remain an issue

but is completable

[2020-11-15 23:29] Constant20 commented on #4462
Find Fanny #291 fix confirmed in Dev

[2020-11-15 23:39] mfranca0009 commented on #291
Confirmed by Consta

[2020-11-16 03:22] mfranca0009 commented on #276
Made new script for the credit trigger, works now for Horde and Alliance with no issues 👍

[2020-11-16 03:26] mfranca0009 commented on #4879
With further investigation, no evidence points to the warning message appearing; at least for WOTLK and CATA expansions.

If there is any evidence found, feel free to open another issue related to deleting mail with an item still attached and we will deal with it 👍

[2020-11-16 03:26] #4879 closed, assigned to nobody

[2020-11-16 03:28] Echinaceax commented on #276
confirmed fixed in PTR
horde and Alliance

[2020-11-16 13:25] LightBringe1972 opened #4881 "[Quest] Gods like shiny things"
**Links:**

from WoWHead or our Armory

**What is happening:**
Quest: "Gods like shiny things" in Sholazar Basin.
When i go to the sparkling things on the ground as the npc suggests, Lafoo digs up only glittering bugs.

**What should happen:**
Lafoo is supposed to dig up 6 treasures.
**Is it crashing the server?:**
no
**Other Information:**

[2020-11-16 13:28] LightBringe1972 opened #4882 "[Quest] Making Peace"
**Links:**

from WoWHead or our Armory

**What is happening:**
Quest: "Making Peace"
I am hated with the NPC that i have to give a peace offering too.
As soon as I land him and his buddies attack me.

**What should happen:**
I am supposed to give a peace offering to Shaman Vekkjik.
**Is it crashing the server?:**
no
**Other Information:**

[2020-11-16 14:44] mfranca0009 commented on #4794
Found this link:
https://wow.gamepedia.com/Zul%27Aman_timed_event

it states only Nalorakk gives 15 minutes and Akil'zon gives 10 minutes, but it states that the page subject was removed for patch 4.1.0.

We need information on how much time is given after a boss is killed; specifically what bosses give time.

[2020-11-16 15:38] mfranca0009 commented on #4794
This video:
https://www.youtube.com/watch?v=b3yeYGEgTgQ

Akil'zon and Nalorakk only give 5 minutes on kill, Jana'lai and Halazzi DOES NOT give time on kill.

This information seems most relevant because the gamepedia link above states that information was deprecated cause of patch 4.1.0. The video here was posted April 30th, 2011, which was 4 days after patch 4.1.0 release.

[2020-11-16 15:40] mfranca0009 commented on #4850
A list of justice point amounts based on the dungeon difficulty, daily dungeon, boss kills, etc.

https://www.wowhead.com/news=170048/cataclysm-justice-valor-point-drop-quantities

[2020-11-16 15:51] Echinaceax commented on #4881
https://www.wowhead.com/quest=12572/gods-like-shiny-things

[2020-11-16 15:51] Echinaceax commented on #4882
https://www.wowhead.com/quest=12573/making-peace

[2020-11-16 19:25] mfranca0009 commented on #4855
This should be all set in PTR, needs testing 👍

[2020-11-16 21:05] Echinaceax commented on #4855
sorry no not fixed @mfranca0009 😢

![not fixxxx](https://user-images.githubusercontent.com/39439201/99308133-c8bc9500-2857-11eb-9383-3d4909210660.jpg)

[2020-11-16 21:08] mfranca0009 commented on #4855
It probably didn't go through cause the server needs to be rebuilt. It was done through a C++ script. @Echinaceax

[2020-11-16 22:02] Echinaceax commented on #4855
i retest later then :)

[2020-11-16 23:07] Echinaceax opened #4883 "[Boss] Hazza'rah - Zul'Gurub"
**Links:**

https://wow.gamepedia.com/Hazza%27rah

**What is happening:**
- Does no damage

**What should happen:**

Abilities

- [ ] Wrath  — Hazza'rah launches lightning at his current target, inflicting 28500 to 31500 Nature damage.

- [ ] Earth Shock — Hazza'rah inflicts 19687 to 25312 Nature damage to his current target and interrupting any spell being cast by the target for 4 sec.

- [ ] Sle

[2020-11-17 03:33] mfranca0009 commented on #312
Potential spells used for this quest
-------------------------------------------------------------
https://www.wowhead.com/spell=88762/hungry-mine-creeper
https://www.wowhead.com/spell=88894/coastal-delicacies-credit
https://www.wowhead.com/spell=52930/feed
https://www.wowhead.com/spell=83621/spider-slay
https://www.wowhead.com/spell=88151/spider-bite

Will get something working for this soon.

[2020-11-17 03:45] mfranca0009 commented on #4855
![image](https://user-images.githubusercontent.com/26092980/99344151-68305680-285d-11eb-84b2-1f278568c96c.png)

All set after server rebuild 👍

[2020-11-17 07:19] LightBringe1972 opened #4884 "Take it to'Em'!"
**Links:**

from WoWHead or our Armory

**What is happening:**
Surveillance not registering.

**What should happen:**
Flying over the area should complete the quest.
**Is it crashing the server?:**
no
**Other Information:**

[2020-11-17 08:15] Echinaceax commented on #4884
already reported here #2005
thanks tho @LightBringe1972

[2020-11-17 08:16] #4884 closed, assigned to nobody

[2020-11-17 13:42] Masqumx opened #4885 "[Quest] Rune runination - Twilight Highlands"
**Links:**
https://www.wowhead.com/quest=27744/rune-ruination

**What is happening:**
Cant complet the quest becaus the npc is green

**What should happen:**
Think i Will need to kill him

**Is it crashing the server?:**
No

[2020-11-17 16:16] LightBringe1972 opened #4886 "The lonesome watcher"
**Links:**

https://www.wowhead.com/quest=12877/the-lonesome-watcher

**What is happening:**
Creteus sinks into the ground when you get closer. cannot hand quest in or receive new quest

**What should happen:**
Hand in the quest and receive a follow up quest.
**Is it crashing the server?:**
No
**Other Information:**

[2020-11-17 16:30] LightBringe1972 opened #4887 "The brothers bronzebeard"
**Links:**

https://www.wowhead.com/quest=12973/the-brothers-bronzebeard

**What is happening:**
You fly out from the bottom of the engine of the makers on the wing of Barn's flying machine. once he reaches the top he vanishes and drops you in the snow.

**What should happen:**
Bran and you should fly together in his flying machine to frosthold.
**Is it crashing the server?:**
No
**Other Informati

[2020-11-17 16:42] LightBringe1972 opened #4888 "Pieces to the puzzle - storm peaks"
**Links:**

https://www.wowhead.com/quest=12858/pieces-to-the-puzzle

**What is happening:**
Cannot hand in quest. NPC is not there.

**What should happen:**
Hand quest in for follow up quest.
**Is it crashing the server?:**
No
**Other Information:**

[2020-11-17 18:01] Shizzy23 opened #4889 "[Quest] Stalling the Survey - Northern Barrens"
**Links:**

from WoWHead or our Armory

**What is happening:**Henry Zykes (Quest NPC) doesnt spawn.

**What should happen:**Henry Zykes should spawn in the ally territory of Southern Barrens

**Is it crashing the server?:**No

**Other Information:**

[2020-11-17 18:09] #4889 closed, assigned to nobody

[2020-11-17 21:19] mfranca0009 commented on #4877
This spell needs adjusting:
https://www.wowhead.com/spell=98275/death-by-voodoo-gnome

[2020-11-17 21:25] Azkard opened #4890 "[Quest] A Lure (ID=26017) Vashj'ir, Abyssal Depths"
**Links:**
Quest: [A Lure](https://www.wowhead.com/quest=26017/a-lure)
Side: Alliance
Quest Item: [Phosphora Fedora](https://www.wowhead.com/item=56572/phosphora-fedora)
NPC: [Underlight Nibbler](https://www.wowhead.com/item=56569/underlight-nibbler)

**What is happening:**
Since quest item doesn't activate while entering the Underlight Canyon, Underlight Nibblers doesn't find you attractive, so y

[2020-11-17 21:38] Echinaceax commented on #4824
will re test when PTR is up 👍

[2020-11-18 02:03] Masqumx commented on #4885
The dropp of npc is gone to

[2020-11-18 09:00] Echinaceax commented on #4885
https://www.wowhead.com/quest=27744/rune-ruination#videos:id=88714

[2020-11-18 10:01] Echinaceax commented on #2450
@Rushor
The fix you did by adding 1JP hasnt fixed

Guildies and GM have told me that they dont get the JP rewards for completing the Cata dungeons on normal (again)
But when GM gets tickets and manually adds 1JP to player it seems to fix their issue

[2020-11-18 10:17] Echinaceax opened #4891 "[Rep ]Therazane Rep (At war issue)"
**Links:**

questline https://wowwiki.fandom.com/wiki/Deepholm_quests
rep https://www.wowhead.com/faction=1171/therazane
Start quest https://www.wowhead.com/quest=26315/imposing-confrontation  #3730
end quest to unlock https://www.wowhead.com/quest=26709/the-stone-throne#comments

**What is happening:**
- Therazane rep is still bugged
it still stays  "at war"

**What should happen:**
the rep shoul

[2020-11-18 11:41] #276 closed

[2020-11-18 11:41] #291 closed

[2020-11-18 11:41] #4647 closed, assigned to mfranca0009

[2020-11-18 11:41] #4648 closed, assigned to mfranca0009

[2020-11-18 11:41] #4824 closed, assigned to mfranca0009

[2020-11-18 11:41] #4855 closed, assigned to mfranca0009

[2020-11-18 11:41] #4859 closed, assigned to mfranca0009

[2020-11-18 17:49] Echinaceax commented on #3155
Update on this @mfranca0009

This is the first bugged quest in Deepholm quest order

this needs to be fixed before any other

[2020-11-18 20:01] Echinaceax commented on #4515
Update @mfranca0009

Cant deliver quest ...cant pick up

https://www.wowhead.com/quest=26312/crumbling-defenses
https://www.wowhead.com/quest=26314/on-even-ground

npc for these next quest are phased out
can only be seen with GM  on

[2020-11-18 20:06] Echinaceax opened #4892 "[Quest] Imposing Confrontation (quest giver missing) - Deepholm"
**Links:**

npc not visible for player https://www.wowhead.com/npc=42731/earthmender-norsala

**What is happening:**
- cant pick up quest
Npc not visible for player

**What should happen:**
- players should see the npc

[2020-11-18 20:50] Echinaceax opened #4893 "[NPC] Diamant the Patient ID 42467 (npc position) - Deepholm"
**Links:**

https://www.wowhead.com/quest=26871/a-rock-amongst-many

**What is happening:**
- after handing the quest back above to this npc https://www.wowhead.com/npc=42467/diamant-the-patient spawns inside the other npc Therazane ID 43802

**What should happen:**
NPC
https://www.wowhead.com/npc=42467/diamant-the-patient need moving out of the other npc

Extra info
this quest fixed the Theraza r

[2020-11-18 20:56] Echinaceax commented on #4891
update @mfranca0009

once these are fixed
-
1 https://github.com/WoWManiaUK/Blackwing-Lair/issues/3155#issuecomment-729847657
2 https://github.com/WoWManiaUK/Blackwing-Lair/issues/4515#issuecomment-729920700
3 https://github.com/WoWManiaUK/Blackwing-Lair/issues/4892
4 https://github.com/WoWManiaUK/Blackwing-Lair/issues/4893

we can pick up the missing quests needed

After delivery https://www.wowh

[2020-11-18 22:22] Blametheheal commented on #4810
This just happened to me on a one person mount while water walking just barely off the shore to the north and east of Ironclad Garrison.

[2020-11-18 22:26] Blametheheal commented on #4810
![image](https://user-images.githubusercontent.com/73043085/99595678-c0c93600-29ba-11eb-90ab-53c9256acd76.png)

[2020-11-19 07:10] mfranca0009 commented on #4794
Per the evidence listed above, Akil'zon and Nalorakk now give off 5 minutes each after killed.

Fixed in PTR, needs testing 👍

[2020-11-19 08:28] LightBringe1972 opened #4894 "[Quest] Jormuttar is soo fat"
**Links:**

https://www.wowhead.com/quest=13011/jormuttar-is-soo-fat

**What is happening:**
I can get the flank of bear meat, but when placed in the crater, Jormuttar does not spawn

**What should happen:**
Jormuttar needs to spawn to be killed.

[2020-11-19 08:30] LightBringe1972 opened #4895 "[Quest] battling the elements"
**Links:**

https://www.wowhead.com/quest=12967/battling-the-elements

**What is happening:**
Killing the seething revenants are not being recorded towards quest.

**What should happen:**
once 10 revenants have been killed the quest is complete.

[2020-11-19 08:33] LightBringe1972 opened #4896 "[Quest] a Monument to the fallen"
**Links:**

https://www.wowhead.com/quest=12976/a-monument-to-the-fallen

**What is happening:**
got the horn fragments, but npc Njormeld is not spawned for handing in.

**What should happen:**
Hand in horn fragments to Njormeld.
**Is it crashing the server?:**
no
**Other Information:**

[2020-11-19 12:18] JustDNF commented on #795
@Rushor @wow-mania @Keader This needs a look at. Not working 19.11.20

[2020-11-19 12:29] JustDNF commented on #3304
@mfranca0009  This needs a look at. Not only does the NPC not spawn there but the altars are not working. (Hard to kill)

[2020-11-19 12:30] Echinaceax commented on #795
hey @GMWeeble :)

The main DEV for Reign now is @mfranca0009 😄

[2020-11-19 20:19] mfranca0009 commented on #4850
Per the evidence above, each heroic Cataclysm dungeon boss should give out 75 Justice Points on kill.

Each Zul'Aman boss should now give out 75 Justice Points after being killed to each group member 👍

[2020-11-19 21:22] mfranca0009 commented on #4877
All set, three gnomes spawn 👍

The only problem that still persists is that each gnome is following the player inside each other because they don't have a different follow angle and distance to the player.

I found a similar issue that is still open within Trinitycore - https://github.com/TrinityCore/TrinityCore/issues/25063

This is a general problem with all creatures, not specifically related t

[2020-11-19 21:31] mfranca0009 commented on #4755
Referencing this video again: https://www.youtube.com/watch?v=b3yeYGEgTgQ

I believe the soaring eagles ARE NOT suppose to be spawned initially, they should be summoned by Akil'zon by a spell which is also stated in the Dungeon Journal of the game.

They do however need to be fixed to allow actual flying, they are currently bugging out similar to the Darktail Bonepickers in Blasted Lands that I fi

[2020-11-19 21:32] mfranca0009 commented on #4756
Soaring Eagles should most likely have abilities which would damage the player more. This damage is only from their normal melee attack which is naturally probably low damage.

Related to Akil'zon boss - #4717

[2020-11-19 22:16] mfranca0009 commented on #4754
All set, fixed in PTR 👍

Timing of abilities can be adjusted later down the road if they don't seem quite right. At this time, they seem reasonable.

[2020-11-19 22:31] mfranca0009 commented on #4715
I don't think the Gauntlet event or Amani'shi Tempest was removed for Patch 4.1.0 as WoWhead says.

Referencing this video again: https://www.youtube.com/watch?v=b3yeYGEgTgQ

This video was posted 4 days after Patch 4.1.0 release, and the Gauntlet event and the Amani'shi Tempest still exists for Cataclysm heroic run.

[2020-11-20 00:00] Echinaceax opened #4897 "[Professions] The mixology bonus / Perk"
**Links:**

https://www.wowhead.com/quest=29481/elixir-master

**What is happening:**
- Elixir Master is not giving the Mixology 2hour pot bonus

**What should happen:**
when player becomes any Master of Alchemy they get a mixology bonus for their pots

atm its only Elxir that has the issue

![elxir mast1](https://user-images.githubusercontent.com/39439201/99738837-b6e32800-2acb-11eb-9e3d-a6368412

[2020-11-20 00:09] Echinaceax commented on #4877
spawn fixed in dev
just needs seperate pathing yes

![fix needs pathing](https://user-images.githubusercontent.com/39439201/99739449-1130b880-2acd-11eb-8aa3-f71054981b0d.jpg)

[2020-11-20 04:14] mfranca0009 commented on #4665
Should be all set now, needs testing 👍

[2020-11-20 05:36] mfranca0009 opened #4898 "[Quest] Recharging the Batteries - Netherstorm"
**Links:**

https://www.wowhead.com/quest=10190/recharging-the-batteries

**What is happening:**
No quest progress, the item casts an aura on the Phase Hunter creatures, but it doesn't aggro them or give progress to fill the battery level.

**What should happen:**
Seems that it should aggro the creature when using the item, and it should give you battery progression at random.

**Is it crashing th

[2020-11-20 06:13] JustDNF commented on #1898
@Echinaceax Needs .bq

[2020-11-20 06:17] JustDNF commented on #3289
@Echinaceax https://www.wowhead.com/quest=27496/call-in-the-artillery also needs .bq

[2020-11-20 09:28] Echinaceax commented on #3289
HI @GMWeeble
janitor isnt adding anymore anymore codes to the .bq

Coders are working down the list from Prio...

[2020-11-20 10:09] Echinaceax commented on #1898
Has to wait for fix @GMWeeble
janitor isnt adding more .BQ anymore unfortunately

[2020-11-20 11:28] Echinaceax commented on #4850
confirmed fixed in ptr

![jp](https://user-images.githubusercontent.com/39439201/99795339-e75aae80-2b2b-11eb-876e-298fa7a6553b.jpg)

[2020-11-20 11:33] Echinaceax commented on #4754
- [x]  Tamed Amani Crocolisk
![tamed crock](https://user-images.githubusercontent.com/39439201/99795741-97c8b280-2b2c-11eb-9d76-c092e5764f37.jpg)

- [x] Amani Crocolisk
![crock2](https://user-images.githubusercontent.com/39439201/99795989-0279ee00-2b2d-11eb-85e9-f6b0e1dad7c0.jpg)

- [ ] Amani Lynx Cub  (seems low)
![seems low](https://user-images.githubusercontent.com/39439201/99796344-9cda3180-2b

[2020-11-20 11:45] Echinaceax commented on #4754
@mfranca0009
seems gut rip isnt working for **Amani Lynx Cub**
says im affected by Gut Rip but no dmg shown for it

all others are fixed tho

[2020-11-20 12:19] mfranca0009 commented on #4754
Will take a look today

UPDATE
‐-------------------------------‐

Gut Rip only reduces stamina by 5% from amani lynx cub, so if it is being applied then it just modifies the player's health and reduces it by 5%.

I don't think it would send combat info per the log, I would try checking your character window or unit frame health bar to see if max health is reduced by 5%.

[2020-11-20 14:45] Echinaceax commented on #4665
fixed in PTR
fire breath and bird working

[2020-11-20 14:51] Echinaceax commented on #4754
retested the **Amani Lynx Cub**
didnt really see the 5% hp drop

[2020-11-20 18:03] mfranca0009 commented on #4754
Ok then, the spell must be broke and it's not doing anything but applying debuff without actual stat change.

Will need to be fixed.

[2020-11-21 00:58] mfranca0009 commented on #4754
Gut Rip spell fixed 👍

Normal health before gut rip:
![image](https://user-images.githubusercontent.com/26092980/99863080-8acab400-2b6a-11eb-8609-0c5156c5ae47.png)

Modified health during gut rip (5 stacks / 20% stamina reduced):
![image](https://user-images.githubusercontent.com/26092980/99863094-9ddd8400-2b6a-11eb-9945-ec592b0202a8.png)

Images are hard to see but here's my normal and modified h

[2020-11-21 01:45] Echinaceax commented on #3159
same happened again after

1, demoted players to a different rank
2. deleted ranks we didnt need
3. sever crashed and rank reset to default
4. Guild rank possions reset to default
5. Guildmaster has no permissions in guildbank tabs
6. cant demote or premote

[2020-11-21 02:04] Echinaceax commented on #3150
#1873
#3159
#3992

adding these here so i can close the others

[2020-11-21 02:06] Echinaceax commented on #3992
moved to here #3150

[2020-11-21 02:06] #3992 closed

[2020-11-21 02:07] #3159 closed

[2020-11-21 02:07] Echinaceax commented on #3159
moved to here #3150

[2020-11-21 02:08] Echinaceax commented on #1873
moved to here #3150

[2020-11-21 02:08] #1873 closed

[2020-11-21 04:42] Constant20 commented on #4754
confirmed in ptr

[2020-11-21 04:48] mfranca0009 commented on #4715
Amani Eagle summon spell during gauntlet:
https://cata-twinhead.twinstar.cz/?spell=43487

[2020-11-21 05:01] mfranca0009 commented on #4717
Spells
----------------------------------------------------
Amani Kidnapper Summon: https://www.wowhead.com/spell=97316/summon-amani-kidnapper
Call Lightning: https://www.wowhead.com/spell=43661/call-lightning
Electrical Storm: https://www.wowhead.com/spell=43648/electrical-storm
Static Disruption: https://www.wowhead.com/spell=44008/static-disruption
(Kidnapper) Plucked: https://www.wowhead.com/s

[2020-11-21 05:22] mfranca0009 commented on #4755
This issue is all set, fixed the eagles so they are actually in the air and are flying.

The remainder of their issues will be fixed in Akil'zon's boss script.

[2020-11-21 05:24] Constant20 commented on #4755
confirmed in ptr

[2020-11-21 05:31] mfranca0009 commented on #4756
You can close this issue, @Echinaceax.

I've linked their spell on Akil'zon's open issue, this will fix their low damage issue and the issue revolves around Akil'zon's boss script needing to be done. They're not suppose to be using melee combat anyways, they're only suppose to fly around and use Eagle Swoop spell to attack.

I tested the Eagle Swoop spell on Consta, it worked fine, dealing almost

[2020-11-21 05:34] mfranca0009 opened #4899 "[Boss] Daakara - Zul'Aman"
**Links:**

https://www.wowhead.com/npc=23863/daakara

**What is happening:**
He does not cast his abilities or perform any of his events.

**What should happen:**
His boss script needs to be scripted in order for him to cast his abilities and to perform his events (switching into each spirit animal form).

**Is it crashing the server?:**
No

**Other Information:**
N/A

[2020-11-21 10:16] jgilbert201 commented on #4880
Totally unpredictable. Finished my Undead DK off with guild rep this morning in TB, as the weekly rep was reset. Logged out, logged back in. Achieve pinged. Roughly 11:12 ST today I completed guild rep, took a few screenies, logged out and back in and everyone is going wild in guild chat about the achieve.

[2020-11-21 11:34] #4756 closed, assigned to nobody

[2020-11-21 17:04] Echinaceax commented on #4233
this can be closed
Wont be an issue soon

[2020-11-21 17:04] #4233 closed

[2020-11-21 17:04] Echinaceax commented on #4334
Not need for fix
Wont be and issue soon

[2020-11-21 17:04] #4334 closed

[2020-11-22 13:46] #4511 closed, assigned to Keader

[2020-11-22 17:37] Lumber-Jack-2 commented on #4646
fixing this tomorrow :)

[2020-11-23 13:16] Echinaceax opened #4900 "[Quest] Entrenched - ID26436 - (issue2) - Deepholme"
**Links:**

https://www.wowhead.com/npc=42469/kor-the-immovable

**What is happening:**
- Cant click on npc to delivery quest

**What should happen:**
should be clickable

**other info**
blocking the other quest pickup

Intervention
Making Things Crystal Clear
Putting the Pieces Together

[2020-11-23 21:11] Echinaceax commented on #4651
Update from 15mins ago @mfranca0009

![give loot to](https://user-images.githubusercontent.com/39439201/100015781-c7034c00-2dd8-11eb-8e6d-8f38d217f4e6.jpg)

[2020-11-24 06:52] Echinaceax commented on #3320
Not fixed

[2020-11-25 11:28] Echinaceax commented on #4771
New tested info PTR
After all the other bugged Therazane rep quests have been fixed from here #4891

And player has delivered the quest https://www.wowhead.com/quest=26585/corruption-destruction
then dailies are unlocked

![thera dailies unlocked](https://user-images.githubusercontent.com/39439201/100221879-90811a80-2f19-11eb-8913-beaa4c299c86.jpg)

@mfranca0009
NPC atm can only be seen in dev/gm

[2020-11-25 11:40] Echinaceax opened #4901 "[NPC] Gorsik the Tumultuous - Deepholm"
**Links:**
npc https://www.wowhead.com/npc=42472/gorsik-the-tumultuous
quests
https://www.wowhead.com/quest=26584/shaken-and-stirred
https://www.wowhead.com/quest=26583/wrath-of-the-fungalmancer

**What is happening:**
npc not offering quests

**What should happen:**
Should give quests after https://www.wowhead.com/quest=26582/unnatural-causes is delivered

[2020-11-25 11:50] Echinaceax opened #4902 "[NPC] Earthmender Norsala - Deepholm"
**Links:**
npc https://www.wowhead.com/npc=43503/earthmender-norsala
quest https://www.wowhead.com/quest=26583/wrath-of-the-fungalmancer

**What is happening:**
- npc has no dialog

**What should happen:**
should have dialog
https://www.wowhead.com/quest=26583/wrath-of-the-fungalmancer#videos:id=71298

![should have](https://user-images.githubusercontent.com/39439201/100224143-b956df00-2f1c-11eb-9

[2020-11-25 12:20] Echinaceax opened #4903 "[NPC] Therazane <The Stonemother> - Deepholm"
**Links:**

https://www.wowhead.com/npc=44025/therazane

**What is happening:**
player is offered 2 quests
https://www.wowhead.com/quest=26832/therazanes-mercy
https://www.wowhead.com/quest=26829/the-stone-march

- after picking up the quest https://www.wowhead.com/quest=26829/the-stone-march the other is no longer availible even after completing The Stone March

**What should happen:**
quest shou

[2020-11-25 12:23] Echinaceax commented on #4295
mobs only seen in dev/gm setting

phasing/or setting

![twilight defiler](https://user-images.githubusercontent.com/39439201/122926681-6afda780-d368-11eb-9298-738cdb4de38f.jpg)

[2020-11-25 12:28] Echinaceax commented on #4297
Phasing, can only been seen on PTR with Dev / gm setting

[2020-11-25 12:33] Echinaceax opened #4904 "[Quest] The Stone Throne - Deepholm"
**Links:**

https://www.wowhead.com/quest=26709/the-stone-throne

**What is happening:**
- phasing

**What should happen:**
phasing issues connected with #4297 and https://github.com/WoWManiaUK/Blackwing-Lair/issues/4295

[2020-11-25 12:42] Echinaceax opened #4905 "[Quest/order] Full Quest order - Deepholm"
**Links:**

https://wowwiki.fandom.com/wiki/Quest:The_Stone_Throne

Upper World Pillar Fragment
From the Eastern Earthshrine in Stormwind / the Western Earthshrine in Orgrimmar:

- [x] Hero's Call: Deepholm! / H [82] Warchief's Command: Deepholm! (optional)
- [x] The Maelstrom
- [x] Deepholm, Realm of Earth
Complete all of:
- [x] Gunship Down & N [82] Captain's Log  #2915
- [x] Elemental Energy #3

[2020-11-25 12:51] Echinaceax commented on #4179
no issue once phased correctly

[2020-11-25 12:51] #4179 closed

[2020-11-25 12:53] Echinaceax commented on #4178
no issue when phased correctly

[2020-11-25 16:28] Echinaceax opened #4906 "[Spell] Spell Reflection - Zul'Aman"
**Links:**

spell http://wotlk.cavernoftime.com/spell=59725
boss https://www.wowhead.com/npc=24239/hex-lord-malacrass

**What is happening:**
- Spell Reflection for Hex Lord Malacrass not working

**What should happen:**
Spell Reflection should put an aura/buff on the target and reflect any incoming spell. This aura/buff lasts 5 seconds.

[2020-11-25 17:54] parnik217 commented on #3735
Hello, NPCs are not showing up in quest 28869 Pebble

[2020-11-25 18:50] Echinaceax opened #4907 "[NPC] Gloomwing - Twilight Highlands"
**Links:**

https://www.wowhead.com/npc=47372/gloomwing#skinning

**What is happening:**
- Empty skinning table

**What should happen:**
should have skinning loot

[2020-11-26 11:34] Echinaceax commented on #3735
it wont until other fixes are done to questline @parnik217
full quest order report here https://github.com/WoWManiaUK/Blackwing-Lair/issues/4905

[2020-11-26 11:50] #4665 closed, assigned to mfranca0009

[2020-11-26 11:50] #4754 closed, assigned to mfranca0009

[2020-11-26 11:50] #4755 closed, assigned to mfranca0009

[2020-11-26 11:50] #4794 closed, assigned to mfranca0009

[2020-11-26 11:50] #4850 closed, assigned to mfranca0009

[2020-11-26 11:50] #4877 closed, assigned to mfranca0009

[2020-11-26 15:06] jgilbert201 opened #4908 "[Boss Encounter] High Propher Barim - LCoT"
**Links:**

https://www.wowhead.com/npc=43612/high-prophet-barim#abilities;mode:normal

**What is happening:**

So during the encounter Barim cast's [repentance.](https://www.wowhead.com/spell=82139/repentance) which he phases you to another phase. Whilst playing as a Rogue, I decided to hit cloak of shadows, followed by vanish, mainly only needed vanish to proc my talents etc. Unfortunately casti

[2020-11-26 16:45] Echinaceax commented on #4875
update on this loot amount from cata is 62 only can get info from different site tho, @mfranca0009
cavenoftime dont have info https://www.wow-freakz.com/npc_finder.php?npc=52417&name=shredtooth-frenzy

[2020-11-28 04:54] Blametheheal opened #4909 "[BUG] Unable to use barber F/BE/MAGE"
As a blood elf female mage I am unable to use the barbershop in any city where it is available. I can sit in the seat but the normal window for changing attributes never pops up. I have tried clearing my cache, running repair, deleting and reinstalling from the reign site, and finally deleting and reinstalling from a site supplied to me by a tester. So far nothing has worked, and it is only on thi

[2020-11-28 12:02] Echinaceax commented on #4909
i'll test it out today @Blametheheal on PTR

Update soon :)

[2020-11-28 15:47] Echinaceax commented on #4909
### Update from PTR

- [ ] Bloodelf Female mage

![belf female](https://user-images.githubusercontent.com/39439201/100519571-152d9c00-3199-11eb-92d5-0c43d4e62cd7.jpg)

- [ ] Bloodelf Female hunter

![belf female hunter](https://user-images.githubusercontent.com/39439201/100519583-32626a80-3199-11eb-895d-5179773571de.jpg)

- [x] Bloodelf male mage is ok

![male mage](https://user-images.githubuserc